Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fix lint and format
  apps/consultation-portal/components/ReviewCard/ReviewCard.tsx
Due: none

Add institution site tests
  apps/system-e2e/src/tests/islandis/web/smoke/sites-of-institutions.spec.ts
Due: none

Use debug instead of console.log
  apps/system-e2e/src/notifications/notify.ts
  apps/system-e2e/src/support/disablers.ts
  apps/system-e2e/src/support/email-account.ts
  apps/system-e2e/src/support/login.ts
  apps/system-e2e/src/support/session.ts
  apps/system-e2e/src/support/utils.ts
Due: none

Set sane defaults in session
  apps/system-e2e/src/support/session.ts
Due: none

Add space so that CF strings dont stick together
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
Due: none

feat(parental-leave): Add e2e tests for parental leave (#10220)
  .gitignore
  apps/system-e2e/src/tests/islandis/application-system/acceptance/parental-leave.spec.ts
  libs/application/templates/parental-leave/src/forms/ParentalLeaveForm.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.ts
Due: Application System API

bugfix: image in done and input name error
  libs/application/templates/estate/src/assets/Grieving.tsx
  libs/application/templates/estate/src/fields/EstateMembersRepeater/AdditionalEstateMember.tsx
Due: Application System API

throw error
  libs/application/template-api-modules/src/lib/modules/templates/operating-license/operatingLicense.service.ts
  libs/application/templates/operating-license/src/fields/PropertyRepeater/index.tsx
  libs/application/templates/operating-license/src/forms/draft/draft.ts
  libs/application/templates/operating-license/src/lib/dataSchema.ts
Due: Application System API

Update datatype length for regulation title
  apps/services/regulations-admin-backend/src/app/modules/draft_regulation/draft_regulation.model.ts
  apps/services/regulations-admin-backend/src/app/modules/draft_regulation_change/draft_regulation_change.model.ts
Due: none

Short debug explanation
  apps/system-e2e/src/support/utils.ts
Due: none

Formatting
  apps/system-e2e/src/support/utils.ts
Due: none

fix: import
  apps/services/license-api/src/app/app.module.ts
Due: none

feat(consultation-portal): Kam 1008 api banner get data from backend (#10512)
  apps/consultation-portal/components/HeroBanner/HeroBanner.tsx
  apps/consultation-portal/components/ReviewCard/ReviewCard.tsx
  apps/consultation-portal/components/StatisticBox/StatisticBox.tsx
  apps/consultation-portal/pages/index.tsx
  apps/consultation-portal/screens/Home/Home.tsx
  apps/consultation-portal/screens/Home/getStatistics.graphql.ts
  apps/consultation-portal/types/interfaces.ts
  libs/api/domains/consultation-portal/src/lib/api-domains-consultation-portal.module.ts
  libs/api/domains/consultation-portal/src/lib/models/statisticsResult.model.ts
  libs/api/domains/consultation-portal/src/lib/statistics/statistics.resolver.ts
  libs/api/domains/consultation-portal/src/lib/statistics/statistics.service.ts
  libs/clients/consultation-portal/src/clientConfig.json
  libs/clients/consultation-portal/src/lib/apiConfiguration.ts
  libs/clients/consultation-portal/src/lib/consultationPortalClient.module.ts
Due: Portal GraphQL

fixed so sends approval email when parental grant application
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/emailGenerators/applicationApprovedByEmployerToEmployer.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.ts
Due: Application System API

Hiding 'Afvirkja' buttons
  libs/application/templates/estate/src/fields/EstateMembersRepeater/index.tsx
  libs/application/templates/estate/src/fields/RealEstateRepeater/index.tsx
  libs/application/templates/estate/src/fields/VehiclesRepeater/index.tsx
  libs/application/templates/inheritance-report/src/lib/messages.ts
Due: Application System API

chore: cleanup
  apps/consultation-portal/graphql/client.ts
Due: none

chore: trigger feature
  apps/financial-aid/api/src/main.ts
Due: none

Add footer for Tryggingastofnun
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
  apps/web/components/Organization/Wrapper/Themes/HeilbrigdisstofnunSudurlandsTheme/HeilbrigdisstofnunSudurlandsHeader.tsx
  apps/web/components/Organization/Wrapper/Themes/TryggingastofnunTheme/TryggingastofnunFooter.css.ts
  apps/web/components/Organization/Wrapper/Themes/TryggingastofnunTheme/TryggingastofnunFooter.tsx
  apps/web/components/Organization/Wrapper/Themes/TryggingastofnunTheme/index.ts
Due: none

cleanup
  apps/application-system/api/docker-compose.yml
  libs/application/templates/announcement-of-death/src/fields/Done/index.tsx
  libs/application/templates/estate/src/fields/TextFieldsRepeater/index.tsx
Due: Application System API

fix(marriage-conditions): spouse name in spouse form (#10484)
  libs/application/templates/marriage-conditions/src/forms/spouseConfirmation.ts
Due: Application System API

update title datatype
  apps/services/regulations-admin-backend/migrations/20232002000000-draft_regulation.js
  apps/services/regulations-admin-backend/migrations/20232002000000-draft_regulation_change.js
  apps/services/regulations-admin-backend/src/app/modules/draft_regulation/draft_regulation.model.ts
  apps/services/regulations-admin-backend/src/app/modules/draft_regulation_change/draft_regulation_change.model.ts
Due: none

e
  libs/application/template-api-modules/src/lib/modules/templates/operating-license/operatingLicense.service.ts
Due: Application System API

format fix
  libs/application/templates/estate/src/fields/TextFieldsRepeater/index.tsx
Due: Application System API

cleanup vol2
  libs/application/templates/announcement-of-death/src/fields/Done/index.tsx
Due: Application System API

fix(operating-license-application): throw error (#10513)
  libs/application/template-api-modules/src/lib/modules/templates/operating-license/operatingLicense.service.ts
  libs/application/templates/operating-license/src/fields/PropertyRepeater/index.tsx
  libs/application/templates/operating-license/src/forms/draft/draft.ts
  libs/application/templates/operating-license/src/lib/dataSchema.ts
Due: Application System API

Filter out banners that should not be shown
  apps/web/layouts/main.tsx
Due: none

add util-deprecate to regadminbackend
  apps/services/regulations-admin-backend/esbuild.json
Due: none

replace hard coded dummy code. More corrections on text
  apps/consultation-portal/components/Card/Card.tsx
  apps/consultation-portal/components/WriteReviewCard/WriteReviewCard.tsx
  apps/consultation-portal/pages/_app.tsx
  apps/consultation-portal/screens/Case/Case.tsx
  apps/consultation-portal/screens/Case/getCase.graphql.ts
  apps/consultation-portal/screens/Home/Home.tsx
  apps/consultation-portal/utils/helpers/dateFormatter.ts
Due: none

fix(ci): feature-deploy url's missing
  .github/workflows/push.yml
  infra/src/feature-env.ts
Due: none

Add missing variables for files
  apps/services/regulations-admin-backend/infra/backend.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

Add xroad to reg admin backend
  apps/services/regulations-admin-backend/infra/backend.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

fix(system-e2e): CI failure
  apps/system-e2e/entrypoint.sh
  apps/system-e2e/package.json
  apps/system-e2e/yarn.lock
  scripts/ci/Dockerfile
  scripts/ci/_docker.sh
Due: none

Dockerfile cleanup
  scripts/ci/Dockerfile
Due: none

Add natreg client
  apps/services/regulations-admin-backend/infra/backend.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

Less version logging
  apps/system-e2e/entrypoint.sh
Due: none

Add pseudomap
  apps/services/regulations-admin-backend/esbuild.json
Due: none

Add lru-cache
  apps/services/regulations-admin-backend/esbuild.json
Due: none

add usePersonalAllowance parameter to setPersonalUsageToHundredIfUseAsMuchAsPossibleIsYes
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
