Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Update Treatments.tsx
  libs/portals/my-pages/health/src/screens/Treatments/Treatments.tsx
Due: none

Cap numeric inputs
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/QuestionTypes.css.ts
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/TextInput.tsx
Due: none

chore(infra): TEMPORARY dev prod-equivalent scaling for load test (#23563)
  apps/api/infra/api.ts
  apps/services/auth/ids-api/infra/identity-server.ts
  apps/services/auth/ids-api/infra/ids-api.ts
  apps/services/user-notification/infra/user-notification.ts
  apps/services/user-profile/infra/service-portal-api.ts
  apps/web/infra/web.ts
  charts/identity-server-services/identity-server/values.dev.yaml
  charts/identity-server-services/identity-server/values.staging.yaml
  charts/identity-server-services/services-auth-ids-api/values.dev.yaml
  charts/identity-server-services/services-auth-ids-api/values.staging.yaml
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.staging.yaml
  charts/islandis-services/api/values.dev.yaml
  charts/islandis-services/api/values.staging.yaml
  charts/islandis-services/service-portal-api/values.dev.yaml
  charts/islandis-services/service-portal-api/values.staging.yaml
  charts/islandis-services/user-notification/values.dev.yaml
  charts/islandis-services/user-notification/values.staging.yaml
  charts/islandis-services/web/values.dev.yaml
  charts/islandis-services/web/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.staging.yaml
  infra/src/dsl/output-generators/map-to-helm-values.ts
  infra/src/dsl/types/input-types.ts
Due: Portal GraphQL

fix
  libs/clients/rvk-financial-aid/src/rvkFinancialAid.config.ts
Due: none

chore: format update dirty file
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/TextInput.tsx
Due: none

Reuse message instead of duplicating
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/module.tsx
  libs/portals/my-pages/health/src/screens/Treatments/TreatmentOverview.tsx
  libs/portals/my-pages/health/src/screens/Treatments/Treatments.tsx
Due: none

Update useDynamicRoutes.ts
  libs/portals/my-pages/core/src/hooks/useDynamicRoutes/useDynamicRoutes.ts
Due: none

fix(my-pages): Health questionnaires table drafts (#23558)
  libs/api/domains/questionnaires/src/lib/questionnaires.service.ts
  libs/api/domains/questionnaires/src/lib/transform-mappers/el/answer/mapToELAnswer.spec.ts
  libs/api/domains/questionnaires/src/lib/transform-mappers/el/answer/mapToELAnswer.ts
  libs/api/domains/questionnaires/src/lib/transform-mappers/el/display/mapAnswerOptionType.ts
  libs/api/domains/questionnaires/src/lib/transform-mappers/el/draft/mapToDraft.spec.ts
  libs/api/domains/questionnaires/src/lib/transform-mappers/el/draft/mapToDraft.ts
  libs/portals/my-pages/core/src/components/Questionnaires/Answered.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/GenericQuestionnaire.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionRenderer.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/Multiple.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/QuestionTypes.css.ts
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/Radio.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/Table.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/TextInput.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/Thermometer.tsx
  libs/portals/my-pages/core/src/utils/dateUtils.spec.ts
  libs/portals/my-pages/core/src/utils/dateUtils.ts
Due: Portal GraphQL

feat(child-protection-notification): change barnavernd api connection to xroad (#23526)
  apps/application-system/api/infra/application-system-api.ts
  charts/islandis-services/application-system-api/values.dev.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis-services/application-system-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/dsl/xroad.ts
  libs/application/template-api-modules/src/lib/modules/templates/national-agency-for-children-and-families/child-protection-notification/child-protection-notification.service.ts
  libs/clients/national-agency-for-children-and-families/src/clientConfig.json
  libs/clients/national-agency-for-children-and-families/src/lib/apiConfiguration.ts
  libs/clients/national-agency-for-children-and-families/src/lib/nationalAgencyForChildrenAndFamiliesClient.config.ts
  libs/clients/national-agency-for-children-and-families/src/lib/nationalAgencyForChildrenAndFamiliesClient.service.ts
Due: Application System API

Typecheck fix after merge
  libs/application/templates/examples/example-inputs/src/forms/mainForm/tablesAndRepeatersSection/interactiveTableSubsection.ts
  libs/application/templates/pay-debts/src/forms/mainForm/debtsSection.spec.ts
  libs/application/templates/pay-debts/src/forms/mainForm/debtsSection.ts
Due: Application System API

fix(application-system): do not send paymentId when invoice is chosen in aosh seminars (#23532)
  libs/application/template-api-modules/src/lib/modules/templates/aosh/seminars/seminars.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/aosh/seminars/seminars.service.ts
  libs/application/templates/aosh/seminars/src/index.ts
Due: Application System API

feat(dsl): add rollout strategy + graceful shutdown builders (#23571)
  apps/api/infra/api.ts
  charts/islandis-services/api/values.dev.yaml
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/dsl/dsl.ts
  infra/src/dsl/output-generators/map-to-helm-values.ts
  infra/src/dsl/service-to-environment/pre-process-service.ts
  infra/src/dsl/strategy.spec.ts
  infra/src/dsl/types/input-types.ts
  infra/src/dsl/types/output-types.ts
Due: Portal GraphQL

Fix Gjaldflokkur title flowing into next column
  libs/application/ui-fields/src/lib/InteractiveTableField/InteractiveTableFormField.css.ts
Due: none

UTC year
  apps/web/components/connected/CustomsGeneral/customsGeneralUtils.spec.ts
  apps/web/components/connected/CustomsGeneral/customsGeneralUtils.tsx
  libs/api/domains/customs-general/src/lib/utils/validity.spec.ts
Due: Portal GraphQL

chore: client is pretty good now
  libs/api/domains/tax-calculators/README.md
  libs/clients/rsk/calculators/src/index.ts
  libs/clients/rsk/calculators/src/lib/calculatorTypes/childBenefit.ts
  libs/clients/rsk/calculators/src/lib/calculatorTypes/index.ts
  libs/clients/rsk/calculators/src/lib/calculatorTypes/inputProps.ts
  libs/clients/rsk/calculators/src/lib/calculatorTypes/interestBenefit.ts
  libs/clients/rsk/calculators/src/lib/calculatorTypes/toRskValue.ts
  libs/clients/rsk/calculators/src/lib/calculatorTypes/types.ts
  libs/clients/rsk/calculators/src/lib/calculatorTypes/vehicleBenefit.ts
  libs/clients/rsk/calculators/src/lib/calculatorTypes/vehicleDepreciation.ts
  libs/clients/rsk/calculators/src/lib/calculatorTypes/vehicleTax.ts
  libs/clients/rsk/calculators/src/lib/calculatorTypes/withholdingTax.ts
  libs/clients/rsk/calculators/src/lib/calculators.service.ts
  libs/clients/rsk/calculators/src/lib/inputs/index.ts
  libs/clients/rsk/calculators/src/lib/utils/zodToInputProp.ts
Due: Portal GraphQL

chore: format update dirty file
  libs/clients/rsk/calculators/src/lib/calculatorTypes/index.ts
Due: none

update download service url
  apps/api/infra/api.ts
Due: Portal GraphQL

refactor(j-s): Share excluded defendants between indictment info cards
  apps/judicial-system/web/src/components/InfoCard/InfoCardActiveIndictment.spec.tsx
  apps/judicial-system/web/src/components/InfoCard/InfoCardActiveIndictment.tsx
  apps/judicial-system/web/src/components/InfoCard/InfoCardClosedIndictment.spec.tsx
  apps/judicial-system/web/src/components/InfoCard/InfoCardClosedIndictment.tsx
  apps/judicial-system/web/src/components/InfoCard/useInfoCardItems.tsx
Due: none

refactor(j-s): Add InfoCardRequestCase for request case overviews
  apps/judicial-system/web/src/components/InfoCard/InfoCardRequestCase.spec.tsx
  apps/judicial-system/web/src/components/InfoCard/InfoCardRequestCase.tsx
  apps/judicial-system/web/src/components/index.ts
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
  apps/judicial-system/web/src/routes/Defender/RequestCase/CaseOverview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
Due: none

Remove break-word from header
  libs/application/templates/pay-debts/src/lib/messages/debts.ts
  libs/application/ui-fields/src/lib/InteractiveTableField/InteractiveTableFormField.css.ts
Due: Application System API

chore: format update dirty file
  apps/api/infra/api.ts
Due: Portal GraphQL

chore: format update dirty file
  libs/portals/admin/application-system/src/components/TranslationWorkspaceStatesNav/TranslationWorkspaceStatesNav.tsx
  libs/portals/admin/application-system/src/hooks/useTranslationWorkspaceDerivedView.ts
  libs/portals/admin/application-system/src/screens/TranslationWorkspace/TranslationWorkspace.tsx
Due: none

fix(native-app): Make sure to refetch milage also
  apps/native/app/src/app/(auth)/(tabs)/more/vehicles/[id]/index.tsx
Due: none

chore: fix type check
  libs/application/templates/examples/example-folder-structure-and-conventions/src/lib/messages.ts
  libs/portals/admin/application-system/src/components/TranslationWorkspaceLoadStates/TranslationWorkspaceLoadStates.tsx
  libs/portals/admin/application-system/src/utils/translationWorkspaceErrors.ts
Due: Application System API

chore: format update dirty file
  libs/application/templates/examples/example-folder-structure-and-conventions/src/lib/messages.ts
Due: Application System API

feat(web): Example questions on the ask the budget bill page
  apps/web/screens/AskTheBudgetBill/AskTheBudgetBill.tsx
  apps/web/screens/AskTheBudgetBill/components/ChatLauncher.tsx
  apps/web/screens/AskTheBudgetBill/components/DisclaimerText.tsx
  apps/web/screens/AskTheBudgetBill/components/ExampleQuestions.css.ts
  apps/web/screens/AskTheBudgetBill/components/ExampleQuestions.tsx
  apps/web/screens/AskTheBudgetBill/components/questions.spec.ts
  apps/web/screens/AskTheBudgetBill/components/questions.ts
  apps/web/screens/AskTheBudgetBill/translations.strings.ts
Due: none

feat(merge-queue): retry infra-cancelled matrix jobs before success gate
  .github/workflows/merge-queue.yml
  scripts/ci/mq/merge-docker-outputs.mjs
  scripts/ci/mq/retry-plan.mjs
Due: none

test(merge-queue): add workflow_dispatch self-test for retry mechanism
  .github/workflows/retry-selftest.yml
Due: none

chore: format update dirty file
  scripts/ci/mq/retry-plan.mjs
Due: none

test(merge-queue): run retry self-test on push (default infra mode)
  .github/workflows/retry-selftest.yml
Due: none

fix(merge-queue): make retry-plan dependency-free; drop load-deps
  .github/workflows/merge-queue.yml
  .github/workflows/retry-selftest.yml
  scripts/ci/mq/merge-docker-outputs.mjs
  scripts/ci/mq/retry-plan.mjs
Due: none

fix(merge-queue): retry job-log fetch to handle post-completion 404 race
  scripts/ci/mq/retry-plan.mjs
Due: none

chore: format update dirty file
  scripts/ci/mq/merge-docker-outputs.mjs
  scripts/ci/mq/retry-plan.mjs
Due: none

Add expandable row with additional data
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/examples/example-inputs/src/forms/mainForm/tablesAndRepeatersSection/interactiveTableSubsection.ts
  libs/application/templates/pay-debts/src/forms/mainForm/debtsSection.ts
  libs/application/templates/pay-debts/src/lib/messages/debts.ts
  libs/application/templates/pay-debts/src/utils/formatDate.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/babel-jest.config.json
  libs/application/ui-fields/jest.config.ts
  libs/application/ui-fields/jest.setup.ts
  libs/application/ui-fields/src/lib/InteractiveTableField/InteractiveTableFormField.css.ts
  libs/application/ui-fields/src/lib/InteractiveTableField/InteractiveTableFormField.tsx
  libs/application/ui-fields/src/lib/InteractiveTableField/InteractiveTableFormFieldExpandedRow.tsx
  libs/application/ui-fields/src/lib/InteractiveTableField/InteractiveTableFormFieldRow.spec.tsx
  libs/application/ui-fields/src/lib/InteractiveTableField/InteractiveTableFormFieldRow.tsx
Due: Application System API

fix(merge-queue): robust infra detection and job identity mapping
  scripts/ci/mq/retry-plan.mjs
Due: none

feat(merge-queue): run merge_group builds on dedicated on-demand runners
  .github/actionlint.yaml
  .github/workflows/e2e.yml
  .github/workflows/install.yml
  .github/workflows/merge-queue.yml
  .github/workflows/pre-checks.yml
Due: none

fix(j-s): Require court name in advocate assigned notification send gates
  apps/judicial-system/backend/src/app/modules/notification/services/civilClaimantNotification/civilClaimantNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/defendantNotification/defendantNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/civilClaimantNotification/sendSpokespersonAssignedNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/defendantNotification/sendDefenderAssignedNotifications.spec.ts
Due: none
