Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

fix(j-s): Institution Query (#15692)
  apps/judicial-system/backend/src/app/modules/institution/institution.service.ts
Due: none

Regular signature are now ready,.
  libs/application/templates/official-journal-of-iceland/src/components/signatures/AddRegularMember.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/AddRegularSignature.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/Institution.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/Regular.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/RegularMember.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/RemoveRegularMember.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/RemoveRegularSignature.tsx
  libs/application/templates/official-journal-of-iceland/src/hooks/useUpdateApplication.ts
  libs/application/templates/official-journal-of-iceland/src/lib/constants.ts
  libs/application/templates/official-journal-of-iceland/src/lib/utils.ts
Due: Application System API

fix(web): Fix styles for ums cost of living calculator (#15688)
  apps/web/components/connected/UmbodsmadurSkuldara/UmsCostOfLivingCalculator.css.ts
  apps/web/components/connected/UmbodsmadurSkuldara/UmsCostOfLivingCalculator.tsx
Due: none

[TS-849] uneven income
  libs/application/templates/social-insurance-administration/income-plan/src/fields/Review/index.tsx
  libs/application/templates/social-insurance-administration/income-plan/src/forms/IncomePlanForm.ts
  libs/application/templates/social-insurance-administration/income-plan/src/lib/IncomePlanTemplate.spec.ts
  libs/application/templates/social-insurance-administration/income-plan/src/lib/IncomePlanTemplate.ts
  libs/application/templates/social-insurance-administration/income-plan/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/income-plan/src/lib/incomePlanUtils.ts
  libs/application/templates/social-insurance-administration/income-plan/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/income-plan/src/types.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterFormField.tsx
Due: Application System API

chore(j-s): InfoCard refactoring (#15683)
  apps/judicial-system/web/src/components/BlueBoxWithIcon/BlueBoxWithIcon.css.ts
  apps/judicial-system/web/src/components/BlueBoxWithIcon/BlueBoxWithIcon.tsx
  apps/judicial-system/web/src/components/BlueBoxWithIcon/CaseScheduledCard.strings.ts
  apps/judicial-system/web/src/components/BlueBoxWithIcon/CaseScheduledCard.tsx
  apps/judicial-system/web/src/components/BlueBoxWithIcon/IndictmentCaseScheduledCard.strings.ts
  apps/judicial-system/web/src/components/BlueBoxWithIcon/IndictmentCaseScheduledCard.tsx
  apps/judicial-system/web/src/components/InfoCard/DefendantInfo/DefendantInfo.tsx
  apps/judicial-system/web/src/components/InfoCard/InfoCard.spec.tsx
  apps/judicial-system/web/src/components/InfoCard/InfoCard.tsx
  apps/judicial-system/web/src/components/InfoCard/InfoCardActiveIndictment.tsx
  apps/judicial-system/web/src/components/InfoCard/InfoCardClosedIndictment/InfoCardClosedIndictment.spec.ts
  apps/judicial-system/web/src/components/InfoCard/InfoCardClosedIndictment/InfoCardClosedIndictment.tsx
  apps/judicial-system/web/src/components/InfoCard/useInfoCardItems.tsx
  apps/judicial-system/web/src/components/index.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
  apps/judicial-system/web/src/routes/Defender/CaseOverview.tsx
  apps/judicial-system/web/src/routes/Prison/IndictmentOverview/IndictmentOverview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Shared/IndictmentOverview/IndictmentOverview.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
Due: none

fixing message, steps and data schema
  libs/application/templates/aosh/register-new-machine/src/forms/Prerequisites.ts
  libs/application/templates/aosh/register-new-machine/src/lib/dataSchema.ts
  libs/application/templates/aosh/register-new-machine/src/lib/messages/application.ts
Due: Application System API

update read me and add flow chart (#15669)
  libs/application/templates/social-insurance-administration/income-plan/README.md
  libs/application/templates/social-insurance-administration/income-plan/assets/income-plan-flow-chart.drawio
  libs/application/templates/social-insurance-administration/income-plan/assets/income-plan-flow-chart.png
Due: Application System API

fix(j-s): Subpoena PDF (#15697)
  apps/judicial-system/backend/src/app/formatters/subpoenaPdf.ts
  apps/judicial-system/backend/src/app/messages/pdfSubpoena.ts
Due: none

fix: domain build issues
  apps/api/src/app/app.module.ts
  libs/api/domains/health-directorate/src/index.ts
  libs/api/domains/health-directorate/src/lib/health-directorate.module.ts
  libs/api/domains/health-directorate/src/lib/health-directorate.resolver.ts
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/models/organ-donation.model.ts
  libs/api/domains/health-directorate/src/lib/models/vaccinations.model.ts
  libs/api/domains/health-directorate/tsconfig.json
  libs/api/domains/health-directorate/tsconfig.lib.json
  tsconfig.base.json
Due: Portal GraphQL

feat: connect to graphql
  libs/service-portal/health/src/lib/messages.ts
  libs/service-portal/health/src/screens/Vaccinations/Vaccinations.graphql
  libs/service-portal/health/src/screens/Vaccinations/VaccinationsGeneral.tsx
  libs/service-portal/health/src/screens/Vaccinations/VaccinationsOther.tsx
  libs/service-portal/health/src/screens/Vaccinations/tables/SortedVaccinationsTable.tsx
Due: none

Adds new case file categories for additional case files in indictment cases
  libs/judicial-system/types/src/lib/file.ts
Due: none

cleanup
  apps/services/form-system/src/app/modules/applications/applications.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
  apps/services/form-system/src/app/modules/fields/fields.controller.ts
  apps/services/form-system/src/app/modules/fields/fields.service.ts
Due: none

fix(j-s): Indictment (#15693)
  apps/judicial-system/backend/src/app/formatters/indictmentPdf.ts
Due: none

fix(inheritance-report): confirmation for info view
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/mappers.ts
  libs/application/templates/inheritance-report/src/forms/sections/applicationInfo.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
  libs/application/templates/inheritance-report/src/lib/messages.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/application/templates/inheritance-report/src/forms/sections/applicationInfo.ts
  libs/application/templates/inheritance-report/src/lib/messages.ts
Due: Application System API

Dont update if input is invalid
  apps/judicial-system/web/src/routes/CourtOfAppeal/AppealCase/AppealCase.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/components/CaseNumberInput/CaseNumberInput.tsx
  apps/judicial-system/web/src/utils/formHelper.ts
Due: none

fix(j-s): Stepper Fix (#15698)
  apps/judicial-system/web/src/utils/hooks/useSections/index.ts
Due: none

Fix regression in delegation scope filtering.
  libs/auth-api-lib/src/lib/delegations/delegation-scope.service.ts
Due: none

fix(j-s): User title and event log ordering (#15686)
  apps/judicial-system/backend/src/app/formatters/confirmedIndictmentPdf.ts
  apps/judicial-system/backend/src/app/formatters/courtRecordPdf.ts
  apps/judicial-system/backend/src/app/formatters/custodyNoticePdf.ts
  apps/judicial-system/backend/src/app/formatters/pdfHelpers.ts
  apps/judicial-system/backend/src/app/formatters/requestPdf.ts
  apps/judicial-system/backend/src/app/formatters/subpoenaPdf.ts
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.service.ts
  apps/judicial-system/backend/src/app/modules/notification/internalNotification.service.ts
  apps/judicial-system/web/src/routes/Court/InvestigationCase/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/Components/ModifyDatesModal/ModifyDatesModal.spec.ts
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/Components/ModifyDatesModal/ModifyDatesModal.tsx
  libs/judicial-system/formatters/src/lib/formatters.ts
Due: none

Add tests
  apps/judicial-system/web/src/utils/formHelper.ts
  apps/judicial-system/web/src/utils/utils.spec.tsx
Due: none

fix: force light mode for splash screens as well
  apps/native/app/android/app/src/main/res/values/styles.xml
  apps/native/app/ios/IslandApp/Info.plist
Due: none

fix: leftover problems
  libs/api/domains/social-insurance/src/lib/models/income/incomePlan.model.ts
  libs/api/domains/social-insurance/src/lib/models/income/incomePlanEligibility.model.ts
  libs/api/domains/social-insurance/src/lib/resolvers/incomePlan.resolver.ts
  libs/api/domains/social-insurance/src/lib/socialInsurance.service.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.service.ts
  libs/service-portal/core/src/components/ActionCard/ActionCard.tsx
  libs/service-portal/core/src/components/LinkButton/LinkButton.tsx
  libs/service-portal/core/src/lib/messages.ts
  libs/service-portal/social-insurance-maintenance/src/lib/messages.ts
  libs/service-portal/social-insurance-maintenance/src/screens/IncomePlan/IncomePlan.tsx
  libs/service-portal/social-insurance-maintenance/src/screens/IncomePlanDetail/IncomePlanDetail.graphql
  libs/service-portal/social-insurance-maintenance/src/screens/IncomePlanDetail/IncomePlanDetail.tsx
Due: Portal GraphQL

fix(aosh/register-new-machine): fixing message, steps and data schema (#15702)
  libs/application/templates/aosh/register-new-machine/src/forms/Prerequisites.ts
  libs/application/templates/aosh/register-new-machine/src/lib/dataSchema.ts
  libs/application/templates/aosh/register-new-machine/src/lib/messages/application.ts
Due: Application System API

Adding debounced method to use application hoook
  libs/application/templates/official-journal-of-iceland/src/components/input/OJOIDateController.tsx
  libs/application/templates/official-journal-of-iceland/src/components/input/OJOIHtmlController.tsx
  libs/application/templates/official-journal-of-iceland/src/components/input/OJOIInputController.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/AddRegularMember.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/AddRegularSignature.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/Chairman.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/Committee.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/CommitteeMember.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/Institution.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/Regular.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/RegularMember.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/RemoveRegularMember.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/RemoveRegularSignature.tsx
  libs/application/templates/official-journal-of-iceland/src/hooks/useUpdateApplication.ts
  libs/application/templates/official-journal-of-iceland/src/lib/constants.ts
  libs/application/templates/official-journal-of-iceland/src/lib/types.ts
  libs/application/templates/official-journal-of-iceland/src/lib/utils.ts
Due: Application System API

fix: init
  libs/service-portal/finance/src/components/FinanceTransactionPeriods/FinanceTransactionPeriodsTableDetail.tsx
Due: none

fix pr comments
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
  libs/auth-api-lib/src/lib/resources/admin/admin-scope.service.ts
  libs/auth-api-lib/src/lib/resources/utils/personalRepresentativeFilter.ts
Due: none

feat(j-s): New Case File Categories (#15703)
  libs/judicial-system/types/src/lib/file.ts
Due: none

feat: add eligbility
  libs/service-portal/social-insurance-maintenance/src/lib/messages.ts
  libs/service-portal/social-insurance-maintenance/src/screens/IncomePlan/IncomePlan.graphql
  libs/service-portal/social-insurance-maintenance/src/screens/IncomePlan/IncomePlan.tsx
  libs/service-portal/social-insurance-maintenance/src/screens/IncomePlanDetail/IncomePlanDetail.tsx
Due: none

Add route
  apps/judicial-system/web/pages/akaera/gogn/[id].ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.strings.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Shared/AddFiles/AddFiles.tsx
  libs/judicial-system/consts/src/lib/consts.ts
Due: none

fix(ids-api): Fix regression in delegation scope filtering. (#15705)
  libs/auth-api-lib/src/lib/delegations/delegation-scope.service.ts
Due: none

Build the add files page
  apps/judicial-system/web/messages/Core/titles.ts
  apps/judicial-system/web/src/routes/Shared/AddFiles/AddFiles.strings.ts
  apps/judicial-system/web/src/routes/Shared/AddFiles/AddFiles.tsx
Due: none

fix(finance): Fix input size (#15709)
  libs/service-portal/finance/src/components/FinanceTransactionPeriods/FinanceTransactionPeriodsTableDetail.tsx
Due: none

fix: nullable error
  libs/api/domains/health-directorate/src/lib/health-directorate.resolver.ts
Due: Portal GraphQL

feat: add date picker and finish checkbox
  apps/native/app/ios/Podfile.lock
  apps/native/app/package.json
  apps/native/app/src/screens/inbox/inbox-filter.tsx
  apps/native/app/src/screens/inbox/inbox.tsx
  apps/native/app/src/ui/index.ts
  apps/native/app/src/ui/lib/accordion/accordion-item.tsx
  apps/native/app/src/ui/lib/checkbox/checkbox-item.tsx
  apps/native/app/src/ui/lib/date-picker/date-picker.tsx
  yarn.lock
Due: none

feat: connect to graphql
  libs/service-portal/health/src/lib/messages.ts
  libs/service-portal/health/src/screens/OrganDonation/OrganDonation.graphql
  libs/service-portal/health/src/screens/OrganDonation/OrganDonation.tsx
  libs/service-portal/health/src/screens/OrganDonationRegistration/Limitations.tsx
  libs/service-portal/health/src/screens/OrganDonationRegistration/RegistrationForm.tsx
  libs/service-portal/health/src/utils/OrganDonationMock.ts
Due: none

fix: move GestureHandlerRootView to only wrap license scanner
  apps/native/app/src/screens/license-scanner/license-scanner.tsx
  apps/native/app/src/utils/register-component.tsx
Due: none

fix: error component
  libs/service-portal/health/src/screens/Vaccinations/VaccinationsGeneral.tsx
  libs/service-portal/health/src/screens/Vaccinations/VaccinationsOther.tsx
Due: none

fix: messages
  libs/service-portal/core/src/components/LinkButton/LinkButton.tsx
  libs/service-portal/social-insurance-maintenance/src/lib/messages.ts
  libs/service-portal/social-insurance-maintenance/src/screens/IncomePlan/IncomePlan.tsx
  libs/service-portal/social-insurance-maintenance/src/screens/IncomePlanDetail/IncomePlanDetail.tsx
Due: none
