Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fix(rental-agreement): stale data gets persisted after removing tenant preventing re-adding them
  libs/application/templates/hms/rental-agreement/src/lib/schemas/landlordAndTenantSchema.ts
Due: Application System API

feat(estate): add spouse option to dropdown for permitForUndividedState (#21414)
  libs/application/templates/estate/src/forms/Sections/registrant.ts
  libs/application/templates/estate/src/lib/constants.ts
  libs/application/templates/estate/src/lib/messages.ts
Due: Application System API

CR fix
  .github/CODEOWNERS
Due: none

chore: format update dirty file
  libs/application/templates/hms/rental-agreement/src/lib/schemas/landlordAndTenantSchema.ts
Due: Application System API

get faqs from contentful
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/cms.resolver.ts
  libs/cms/src/lib/dto/getServicePortalPage.input.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/servicePortalPage.model.ts
  libs/portals/shared-modules/delegations/src/components/delegations/table/getTableData.tsx
  libs/portals/shared-modules/delegations/src/module.tsx
  libs/portals/shared-modules/delegations/src/screens/AccessControl.loader.ts
  libs/portals/shared-modules/delegations/src/screens/AccessControl.tsx
  libs/portals/shared-modules/delegations/src/screens/GrantAccess/GrantAccess.tsx
  libs/portals/shared-modules/delegations/src/screens/ServiceCategories/ServiceCategories.tsx
  libs/portals/shared-modules/delegations/src/screens/queries/ServicePortalPage.graphql
  libs/shared/webpack/nrwl-config.js
Due: none

comment
  .github/CODEOWNERS
Due: none

add faqs to all screens
  libs/portals/shared-modules/delegations/src/screens/AccessControl.tsx
  libs/portals/shared-modules/delegations/src/screens/AccessOutgoing/AccessOutgoing.tsx
  libs/portals/shared-modules/delegations/src/screens/GrantAccess/GrantAccess.tsx
  libs/portals/shared-modules/delegations/src/screens/GrantAccessNew/GrantAccessNew.tsx
  libs/portals/shared-modules/delegations/src/screens/ServiceCategories/ServiceCategories.tsx
Due: none

chore(as): Update applications to natregv3 (#21427)
  .github/CODEOWNERS
  libs/application/template-api-modules/src/lib/modules/templates/grindavik-housing-buyout/grindavik-housing-buyout.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/grindavik-housing-buyout/grindavik-housing-buyout.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/grindavik-housing-buyout/grindavik-housing-buyout.utils.ts
  libs/application/template-api-modules/src/lib/modules/templates/iceland-health/health-insurance-declaration/health-insurance-declaration.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/iceland-health/health-insurance-declaration/health-insurance-declaration.utils.ts
  libs/application/templates/general-fishing-license/src/lib/GeneralFishingLicenseTemplate.ts
  libs/application/templates/grindavik-housing-buyout/src/dataProviders/index.ts
  libs/application/templates/grindavik-housing-buyout/src/forms/Prerequisites.ts
  libs/application/templates/grindavik-housing-buyout/src/lib/GrindavikHousingBuyoutTemplate.ts
  libs/application/templates/home-support/src/dataProviders/index.ts
  libs/application/templates/home-support/src/forms/Prerequisites.ts
  libs/application/templates/home-support/src/lib/HomeSupportTemplate.ts
  libs/application/templates/home-support/tsconfig.lib.json
  libs/application/templates/iceland-health/accident-notification/src/dataProviders/index.ts
  libs/application/templates/iceland-health/accident-notification/src/forms/PrerequisitesForm/externalDataSection.ts
  libs/application/templates/iceland-health/accident-notification/src/lib/AccidentNotificationTemplate.ts
  libs/application/templates/iceland-health/european-health-insurance-card/src/forms/EuropeanHealthInsuranceCardPre.tsx
  libs/application/templates/iceland-health/european-health-insurance-card/src/lib/template.ts
  libs/application/templates/iceland-health/european-health-insurance-card/tsconfig.lib.json
  libs/application/templates/iceland-health/health-insurance-declaration/src/forms/Prerequisites.ts
  libs/application/templates/iceland-health/health-insurance-declaration/src/lib/HealthInsuranceDeclarationTemplate.ts
  libs/application/templates/iceland-health/health-insurance-declaration/src/utils/data.ts
  libs/application/templates/iceland-health/health-insurance-declaration/tsconfig.lib.json
  libs/application/templates/iceland-health/health-insurance/src/dataProviders/index.ts
  libs/application/templates/iceland-health/health-insurance/src/forms/PrerequisitesForm.ts
  libs/application/templates/iceland-health/health-insurance/src/lib/HealthInsuranceTemplate.ts
  libs/application/templates/iceland-health/health-insurance/src/utils/types.ts
  libs/application/templates/inao/financial-statement-cemetery/src/dataProviders/index.ts
  libs/application/templates/inao/financial-statement-cemetery/src/lib/financialStatementCemeteryTemplate.ts
  libs/application/templates/inao/financial-statement-individual-election/src/dataProviders/index.ts
  libs/application/templates/inao/financial-statement-individual-election/src/lib/financial-statement-individual-election.ts
  libs/application/templates/inao/financial-statement-political-party/src/dataProviders/index.ts
  libs/application/templates/inao/financial-statement-political-party/src/lib/financialStatementPoliticalPartyTemplate.ts
  libs/application/templates/public-debt-payment-plan/src/dataProviders/index.ts
  libs/clients/national-registry/v3-applications/src/index.ts
Due: Application System API

fix(rental-agreement): stale data gets persisted after removing tenant preventing re-adding them (#21429)
  libs/application/templates/hms/rental-agreement/src/lib/schemas/landlordAndTenantSchema.ts
Due: Application System API

feat(form-system): delete aws files when pruning
  apps/services/form-system/src/app/modules/services/prune/prune.service.ts
Due: none

fix(rental-agreement): when type is room disallow more than 1 rooms in application UI (#21416)
  libs/application/templates/hms/rental-agreement/src/forms/draftForm/rentalPropertySection/propertyInfoSubsection.ts
  libs/application/templates/hms/rental-agreement/src/lib/messages/draftFormMessages/rentalPropertyMessages/propertySearchMessages.ts
  libs/application/templates/hms/rental-agreement/src/utils/conditions.ts
Due: Application System API

feat(my-pages-education): update education download graduation docs (#21359)
  apps/download-service/src/app/modules/education-documents/education-document.controller.ts
  libs/api/domains/university-careers/src/lib/constants.ts
  libs/api/domains/university-careers/src/lib/mapper.ts
  libs/api/domains/university-careers/src/lib/models/studentFile.model.ts
  libs/api/domains/university-careers/src/lib/models/studentTrack.model.ts
  libs/api/domains/university-careers/src/lib/resolvers/institution.resolver.ts
  libs/api/domains/university-careers/src/lib/resolvers/studentTrack.resolver.ts
  libs/api/domains/university-careers/src/lib/resolvers/trackHistory.resolver.ts
  libs/api/domains/university-careers/src/lib/universityCareers.types.ts
  libs/clients/university-careers/src/index.ts
  libs/clients/university-careers/src/lib/clients/agricultural-university-of-iceland/clientConfig.yaml
  libs/clients/university-careers/src/lib/clients/agricultural-university-of-iceland/index.ts
  libs/clients/university-careers/src/lib/clients/bifrost-university/clientConfig.yaml
  libs/clients/university-careers/src/lib/clients/bifrost-university/index.ts
  libs/clients/university-careers/src/lib/clients/holar-university/clientConfig.yaml
  libs/clients/university-careers/src/lib/clients/holar-university/index.ts
  libs/clients/university-careers/src/lib/clients/iceland-university-of-the-arts/clientConfig.yaml
  libs/clients/university-careers/src/lib/clients/iceland-university-of-the-arts/index.ts
  libs/clients/university-careers/src/lib/clients/university-of-akureyri/clientConfig.yaml
  libs/clients/university-careers/src/lib/clients/university-of-akureyri/index.ts
  libs/clients/university-careers/src/lib/clients/university-of-iceland/clientConfig.yaml
  libs/clients/university-careers/src/lib/clients/university-of-iceland/index.ts
  libs/clients/university-careers/src/lib/dto/index.ts
  libs/clients/university-careers/src/lib/dto/studentFileDto.ts
  libs/clients/university-careers/src/lib/dto/studentFileType.dto.ts
  libs/clients/university-careers/src/lib/dto/studentTrack.dto.ts
  libs/clients/university-careers/src/lib/dto/studentTrackInstitution.dto.ts
  libs/clients/university-careers/src/lib/dto/studentTrackOverview.dto.ts
  libs/clients/university-careers/src/lib/dto/studentTrackOverviewBody.dto.ts
  libs/clients/university-careers/src/lib/dto/studentTrackOverviewDto.ts
  libs/clients/university-careers/src/lib/dto/university.dto.ts
  libs/clients/university-careers/src/lib/universityCareers.service.ts
  libs/clients/university-careers/src/lib/universityCareers.types.ts
  libs/portals/my-pages/education/src/lib/messages.ts
  libs/portals/my-pages/education/src/module.tsx
  libs/portals/my-pages/education/src/screens/UniversityGraduation/UniversityGraduation.graphql
  libs/portals/my-pages/education/src/screens/UniversityGraduation/UniversityGraduation.tsx
  libs/portals/my-pages/education/src/screens/UniversityGraduationDetail/UniversityGraduationDetail.graphql
  libs/portals/my-pages/education/src/screens/UniversityGraduationDetail/UniversityGraduationDetail.tsx
Due: Portal GraphQL

feat(estate): add spouse option to dropdown for permitForUndividedState (#21414) (#21431)
  libs/application/templates/estate/src/forms/Sections/registrant.ts
  libs/application/templates/estate/src/lib/constants.ts
  libs/application/templates/estate/src/lib/messages.ts
Due: Application System API

fix: correctly check for delivery method
  libs/application/templates/transport-authority/driving-license-duplicate/src/lib/drivingLicenseDuplicateTemplate.ts
Due: Application System API

feat(web): add importance field and limit life event featured links to 3
  apps/web/components/CardWithFeaturedItems/CardWithFeaturedItems.tsx
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/lifeEventPage.model.ts
Due: none

chore(my-pages): add missing error messages when email confirmation fails (#21385)
  libs/portals/my-pages/information/src/components/verify/VerifyTemplate/VerifyTemplate.tsx
  libs/portals/my-pages/information/src/lib/messages.ts
Due: none

Enhance external links and health categories functionality
  apps/native/app/src/components/external-links/external-links.tsx
  apps/native/app/src/components/more-info-container/more-info-container.tsx
  apps/native/app/src/screens/health/health-categories.tsx
  apps/native/app/src/screens/medicine-delegation/components/medicine-delegation-content.tsx
  apps/native/app/src/screens/medicine/prescriptions.tsx
Due: none

First iteration of moving publicVehicleSearch to my pages
  libs/api/domains/vehicles/src/lib/resolvers/vehicles.resolver.ts
  libs/api/domains/vehicles/src/lib/services/vehicles.service.ts
  libs/portals/my-pages/assets/src/components/VehicleSearch/VehicleSearch.tsx
  libs/portals/my-pages/assets/src/lib/messages.ts
  libs/portals/my-pages/assets/src/screens/Lookup/Lookup.tsx
Due: Portal GraphQL

feat(web): add importance field and limit life event featured links to 3 (#21428)
  apps/web/components/CardWithFeaturedItems/CardWithFeaturedItems.tsx
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/lifeEventPage.model.ts
Due: none

Simplifying a lot of logic
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-dayrate-returns/car-rental-dayrate-returns.service.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/UploadCarDayRateUsageUtils.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/types.ts
Due: Application System API

chore(driving-license-duplicate): swap logo to syslumenn logo
  libs/application/assets/institution-logos/DistrictCommissionersServiceProviderLogo.tsx
  libs/application/assets/institution-logos/index.ts
  libs/application/templates/transport-authority/driving-license-duplicate/src/forms/application.ts
  libs/application/templates/transport-authority/driving-license-duplicate/src/forms/declined.ts
  libs/application/templates/transport-authority/driving-license-duplicate/src/forms/done.ts
Due: Application System API

Tests for new ceateSubpoenasForDefendants
  apps/judicial-system/backend/src/app/modules/case/test/caseController/update.spec.ts
  apps/judicial-system/backend/src/app/modules/subpoena/test/createTestingSubpoenaModule.ts
  apps/judicial-system/backend/src/app/modules/subpoena/test/subpoenaController/createSubpoenas.spec.ts
Due: none

chore: format update dirty file
  libs/application/templates/transport-authority/driving-license-duplicate/src/forms/application.ts
  libs/application/templates/transport-authority/driving-license-duplicate/src/forms/declined.ts
  libs/application/templates/transport-authority/driving-license-duplicate/src/forms/done.ts
Due: Application System API

feat(my-pages): Color mapping for referral status tags
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/mappers/basicInformationMapper.ts
  libs/api/domains/health-directorate/src/lib/models/enums.ts
  libs/api/domains/health-directorate/src/lib/models/referrals.model.ts
  libs/portals/my-pages/health/src/screens/Referrals/Referrals.graphql
  libs/portals/my-pages/health/src/screens/Referrals/Referrals.tsx
Due: Portal GraphQL

cleanup
  libs/api/domains/health-directorate/src/lib/mappers/basicInformationMapper.ts
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/Referrals/Referrals.tsx
Due: Portal GraphQL

grant access add more people
  libs/portals/shared-modules/delegations/src/components/delegations/table/CustomDelegationsTable.tsx
  libs/portals/shared-modules/delegations/src/components/delegations/table/DelegationsTable.tsx
  libs/portals/shared-modules/delegations/src/lib/messages.ts
  libs/portals/shared-modules/delegations/src/module.tsx
  libs/portals/shared-modules/delegations/src/screens/GrantAccess/GrantAccessNew.tsx
  libs/portals/shared-modules/delegations/src/screens/GrantAccess/NationalIdentityInput.tsx
Due: none

remove console logs
  apps/services/auth/delegation-api/src/app/delegations/delegations.controller.ts
  libs/auth-api-lib/src/lib/delegations/delegations-index.service.ts
Due: none

Update UploadCarDayRateUsageUtils.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/UploadCarDayRateUsageUtils.ts
Due: Application System API

Update health screens to improve medicine delegation handling
  apps/native/app/src/components/external-links/external-links.tsx
  apps/native/app/src/screens/health/health-categories.tsx
  apps/native/app/src/screens/health/health-overview.tsx
  apps/native/app/src/screens/medicine-delegation/components/medicine-delegation-content.tsx
  apps/native/app/src/screens/medicine/prescriptions.tsx
Due: none

feat(prune): implement file deletion during application pruning
  apps/services/form-system/src/app/modules/file/file.service.ts
  apps/services/form-system/src/app/modules/services/prune/prune.service.ts
  apps/services/form-system/src/worker.ts
Due: none

fetch scopes for categories
  apps/services/auth/delegation-api/src/app/scopes/scopes.controller.ts
  libs/api/domains/auth/src/lib/models/apiScope.model.ts
  libs/api/domains/auth/src/lib/resolvers/apiScope.resolver.ts
  libs/api/domains/auth/src/lib/resolvers/domain.resolver.ts
  libs/api/domains/auth/src/lib/resolvers/scopeCategories.resolver.ts
  libs/auth-api-lib/src/lib/resources/delegation-resources.service.ts
  libs/auth-api-lib/src/lib/resources/dto/scope-category.dto.ts
  libs/auth-api-lib/src/lib/resources/scope.service.ts
  libs/portals/shared-modules/delegations/src/components/ScopesTable/ScopesTable.tsx
  libs/portals/shared-modules/delegations/src/screens/ServiceCategories/ServiceCategories.graphql
  libs/portals/shared-modules/delegations/src/screens/ServiceCategories/ServiceCategories.tsx
Due: Portal GraphQL

wip fix logout redirect
  libs/react-spa/bff/src/lib/BffPoller.tsx
  libs/react-spa/bff/src/lib/BffSessionExpiredModal.tsx
Due: none

refactor(prune): improve file deletion logic and remove error handling in worker
  apps/services/form-system/src/app/modules/services/prune/prune.service.ts
  apps/services/form-system/src/worker.ts
Due: none

Messages and slug changes
  libs/application/templates/car-rental-dayrate-returns/src/lib/messages.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/generateExcelSheet.ts
  libs/application/types/src/lib/ApplicationTypes.ts
Due: Application System API

feat(form-system): delete aws files when pruning (#21430)
  apps/services/form-system/src/app/modules/file/file.service.ts
  apps/services/form-system/src/app/modules/services/prune/prune.service.ts
  apps/services/form-system/src/worker.ts
Due: none

fix(bilaleigu-daggjalds-nyting): Removing checks for periodUsage (#21424)
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-dayrate-returns/car-rental-dayrate-returns.service.ts
  libs/application/templates/car-rental-dayrate-returns/src/forms/mainForm/overviewStatistics.ts
  libs/application/templates/car-rental-dayrate-returns/src/lib/messages.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/UploadCarDayRateUsageUtils.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/generateExcelSheet.ts
  libs/application/types/src/lib/ApplicationTypes.ts
Due: Application System API

feat: update data access
  apps/web/screens/OpenInvoices/Overview/Overview.graphql.tsx
  apps/web/screens/OpenInvoices/Overview/Overview.tsx
  apps/web/screens/OpenInvoices/messages.ts
  apps/web/screens/OpenInvoices/types.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/invoiceGroupMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/invoiceGroupWithInvoices.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/invoiceItemMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/invoiceMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/invoiceTypeMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mocks/INVOICE_GROUPS.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mocks/INVOICE_GROUP_WITH_INVOICES.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoice.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoiceGroup.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoiceGroupWithInvoices.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoiceGroups.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoiceItem.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoiceGroup.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoiceGroups.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/services/invoices/invoices.service.interface.ts
  libs/api/domains/icelandic-government-institutions/src/lib/services/invoices/invoices.service.mock.ts
  libs/api/domains/icelandic-government-institutions/src/lib/services/invoices/invoices.service.ts
  libs/api/domains/icelandic-government-institutions/src/lib/types.ts
  libs/clients/elfur/project.json
  libs/clients/elfur/src/clientConfig.json
  libs/clients/elfur/src/index.ts
  libs/clients/elfur/src/lib/dtos/invoice.dto.ts
  libs/clients/elfur/src/lib/dtos/invoiceGroup.dto.ts
  libs/clients/elfur/src/lib/dtos/invoiceGroupInvoiceItemization.dto.ts
  libs/clients/elfur/src/lib/dtos/invoiceGroupRequest.dto.ts
  libs/clients/elfur/src/lib/dtos/openInvoices.dto.ts
  libs/clients/elfur/src/lib/elfur.service.ts
Due: Portal GraphQL

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
