Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Switch to .local url after grant
  libs/application/api/payment/src/lib/payment.service.ts
Due: Application System API

add organizationNationalId tothe control reducer and add it to formsheader
  apps/services/form-system/src/app/modules/forms/forms.controller.ts
  apps/services/form-system/src/app/modules/forms/forms.service.ts
  libs/api/domains/form-system/src/dto/form.input.ts
  libs/api/domains/form-system/src/lib/forms/forms.resolver.ts
  libs/api/domains/form-system/src/lib/forms/forms.service.ts
  libs/clients/form-system/src/clientConfig.json
  libs/portals/admin/form-system/src/components/Headers/FormsHeader.tsx
  libs/portals/admin/form-system/src/context/FormProvider.tsx
  libs/portals/admin/form-system/src/hooks/controlReducer.ts
  libs/portals/admin/form-system/src/screens/Forms/Forms.loader.ts
  libs/portals/admin/form-system/src/screens/Forms/Forms.tsx
  libs/portals/form-system/graphql/src/lib/mutations/createForm.ts
Due: Portal GraphQL

chore(application-ir): Update pruning for application
  libs/application/templates/inheritance-report/src/lib/InheritanceReportTemplate.ts
Due: Application System API

fix: force
  .github/CODEOWNERS
Due: none

fix: ok
  nx.json
Due: none

fix(secondary school): Separate event for SUBMITTED -> IN_REVIEW and IN_REVIEW -> COMPLETED (#18453)
  libs/application/templates/secondary-school/src/lib/SecondarySchoolTemplate.ts
  libs/application/templates/secondary-school/src/utils/enums/index.ts
Due: Application System API

fix: debug
  .github/workflows/install.yml
Due: none

adding alert message if email and phone are readonly
  libs/application/ui-forms/src/lib/applicantInformationMultiField/applicantInformationMultiField.ts
  libs/application/ui-forms/src/lib/applicantInformationMultiField/messages.ts
  libs/application/ui-forms/src/lib/applicantInformationMultiField/types.ts
Due: none

fix: debug
  .github/workflows/push.yml
Due: none

fix(j-s): clean-up and fix case file list on submit
  apps/judicial-system/api/src/app/modules/user/models/caseRepresentative.model.ts
  apps/judicial-system/backend/migrations/20250318105658-update-case-files.js
  apps/judicial-system/backend/src/app/modules/case/interceptors/case.interceptor.ts
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/components/Table/CaseFileTable/CaseFileTable.strings.ts
  apps/judicial-system/web/src/components/Table/CaseFileTable/CaseFileTable.tsx
  apps/judicial-system/web/src/routes/Shared/AddFiles/AddFiles.tsx
  apps/judicial-system/web/src/routes/Shared/AddFiles/SelectCaseFileRepresentative.tsx
  libs/judicial-system/formatters/src/lib/formatters.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/caseRepresentative.ts
Due: none

Add tests
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/defendantNotification/sendDefendantDelegatedDefenderCoiceNotifications.spec.ts
Due: none

Formatting
  scripts/ci/_docker.sh
Due: none

chore(application-ir): Update pruning for application (#18455)
  libs/application/templates/inheritance-report/src/lib/InheritanceReportTemplate.ts
Due: Application System API

ci: fix login for setup-yarn
  .github/workflows/push.yml
Due: none

feat: ini
  libs/api/domains/work-machines/src/lib/models/getWorkMachines.ts
  libs/api/domains/work-machines/src/lib/models/v2/baseLink.model.ts
  libs/api/domains/work-machines/src/lib/models/v2/collectionLink.model.ts
  libs/api/domains/work-machines/src/lib/models/v2/label.model.ts
  libs/api/domains/work-machines/src/lib/models/v2/link.model.ts
  libs/api/domains/work-machines/src/lib/models/v2/person.model.ts
  libs/api/domains/work-machines/src/lib/models/v2/type.model.ts
  libs/api/domains/work-machines/src/lib/models/v2/workMachine.model.ts
  libs/api/domains/work-machines/src/lib/models/v2/workMachineCollection.model.ts
  libs/api/domains/work-machines/src/lib/workMachines.service.ts
  libs/clients/work-machines/src/lib/dtos/entity.dto.ts
  libs/clients/work-machines/src/lib/dtos/label.dto.ts
  libs/clients/work-machines/src/lib/dtos/link.dto.ts
  libs/clients/work-machines/src/lib/dtos/type.dto.ts
  libs/clients/work-machines/src/lib/dtos/workMachines.dto.ts
  libs/clients/work-machines/src/lib/workMachines.service.ts
Due: Portal GraphQL

fix(j-s): clean-up
  apps/judicial-system/web/src/routes/Shared/AddFiles/SelectCaseFileRepresentative.tsx
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
  libs/judicial-system/types/src/lib/user.ts
Due: none

Update client.fixture.ts
  libs/services/auth/testing/src/fixtures/client.fixture.ts
Due: none

Use `docker` command, always
  scripts/ci/_docker.sh
Due: none

Add `--label` args for docker build (from docker/metadata-action)
  scripts/ci/_docker.sh
Due: none

remove children prop
  libs/island-ui/core/src/lib/Checkbox/Checkbox.tsx
Due: none

feat(application-system): adding alert to applicant multi field (#18456)
  libs/application/ui-forms/src/lib/applicantInformationMultiField/applicantInformationMultiField.ts
  libs/application/ui-forms/src/lib/applicantInformationMultiField/messages.ts
  libs/application/ui-forms/src/lib/applicantInformationMultiField/types.ts
Due: none

fix(j-s): fix export
  libs/judicial-system/types/src/lib/user.ts
Due: none

chore: force rebuild (#18454)
  nx.json
Due: none

Update property search. Fix search results not returning disabled properties at top.
  libs/api/domains/hms/src/lib/api-domains-hms.resolver.ts
  libs/api/domains/hms/src/lib/models/hmsPropertyInfo.model.ts
  libs/application/templates/rental-agreement/README.md
  libs/application/templates/rental-agreement/src/fields/PropertySearch/index.tsx
  libs/application/templates/rental-agreement/src/fields/Summary/PropertyInfoSummary.tsx
  libs/application/templates/rental-agreement/src/fields/Summary/RentalInfoSummary.tsx
  libs/application/templates/rental-agreement/src/forms/draft/rentalHousing/rentalHousingPropertyInfo.ts
  libs/application/templates/rental-agreement/src/graphql/queries.ts
  libs/application/templates/rental-agreement/src/lib/dataSchema.ts
  libs/application/templates/rental-agreement/src/lib/types.ts
  libs/clients/hms/src/lib/hms.config.ts
  libs/clients/hms/src/lib/hms.service.ts
Due: Portal GraphQL, Application System API

feat: application generator
  libs/application/template-api-modules/src/lib/modules/templates/examples/generator-template/template.module.txt
  libs/application/template-api-modules/src/lib/modules/templates/examples/generator-template/template.service.txt
  libs/application/templates/examples/generator-template/.babelrc.txt
  libs/application/templates/examples/generator-template/.eslintrc.json.txt
  libs/application/templates/examples/generator-template/README.md.txt
  libs/application/templates/examples/generator-template/jest.config.ts.txt
  libs/application/templates/examples/generator-template/project.json.txt
  libs/application/templates/examples/generator-template/src/dataProviders/index.ts.txt
  libs/application/templates/examples/generator-template/src/forms/completedForm/index.ts.txt
  libs/application/templates/examples/generator-template/src/forms/mainForm/firstSection.ts.txt
  libs/application/templates/examples/generator-template/src/forms/mainForm/index.ts.txt
  libs/application/templates/examples/generator-template/src/forms/mainForm/overview.ts.txt
  libs/application/templates/examples/generator-template/src/forms/mainForm/secondSection.ts.txt
  libs/application/templates/examples/generator-template/src/forms/prerequisitesForm/index.ts.txt
  libs/application/templates/examples/generator-template/src/index.ts.txt
  libs/application/templates/examples/generator-template/src/lib/dataSchema.ts.txt
  libs/application/templates/examples/generator-template/src/lib/messages.ts.txt
  libs/application/templates/examples/generator-template/src/lib/template.ts.txt
  libs/application/templates/examples/generator-template/src/utils/constants.ts.txt
  libs/application/templates/examples/generator-template/src/utils/getOverviewItems.ts.txt
  libs/application/templates/examples/generator-template/tsconfig.json.txt
  libs/application/templates/examples/generator-template/tsconfig.lib.json.txt
  libs/application/templates/examples/generator-template/tsconfig.spec.json.txt
  libs/application/templates/reference-template/README.md
  package.json
  scripts/application-generators/generateTemplate.js
  scripts/application-generators/generateTemplateApiModule.js
Due: Application System API

Add metadata action and use in EXTRA_DOCKER_BUILD_ARGS
  .github/workflows/merge-queue.yml
Due: none

tee to see build args
  .github/workflows/merge-queue.yml
Due: none

Revert scripts to main
  scripts/ci/_docker.sh
Due: none

Revert "tee to see build args"
  .github/workflows/merge-queue.yml
Due: none

Comment on unused tags
  .github/workflows/merge-queue.yml
Due: none

Code cleanup
  libs/api/domains/hms/src/lib/api-domains-hms.resolver.ts
  libs/application/templates/rental-agreement/src/fields/Summary/RentalInfoSummary.tsx
  libs/application/templates/rental-agreement/src/fields/Summary/SummaryNoEdit.tsx
  libs/application/templates/rental-agreement/src/lib/RentalAgreementTemplate.ts
  libs/application/templates/rental-agreement/src/lib/dataSchema.ts
  libs/application/templates/rental-agreement/src/lib/types.ts
Due: Portal GraphQL, Application System API

fix: docker-build with retry
  .github/workflows/merge-queue.yml
  .github/workflows/push.yml
  scripts/ci/docker-build.mjs
Due: none

chore: Move code to utils
  scripts/application-generators/generateTemplate.js
  scripts/application-generators/generateTemplateApiModule.js
  scripts/application-generators/utils.js
Due: none

fix(j-s): small index.ts fix
  libs/judicial-system/types/src/index.ts
Due: none

Add same to push.yml
  .github/workflows/push.yml
Due: none

chore: remove comment
  libs/application/template-api-modules/src/lib/modules/templates/examples/generator-template/template.module.txt
Due: Application System API

chore: update string to replace
  libs/application/templates/examples/generator-template/README.md.txt
Due: Application System API

.
  libs/application/templates/examples/generator-template/README.md.txt
Due: Application System API

chore: add in string replacement
  libs/application/templates/examples/generator-template/src/lib/template.ts.txt
Due: Application System API
