Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

removing unused line
  libs/api/domains/mortgage-certificate/src/lib/mortgageCertificate.service.ts
Due: Portal GraphQL

t
  libs/application/templates/signature-collection/parliamentary-list-creation/src/forms/Done.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/src/lib/CreateListTemplate.ts
Due: Application System API

feat: connect new api for accident-notification
  apps/application-system/api/src/app/app.module.ts
  libs/api/domains/application/src/lib/application.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/accident-notification/accident-notification.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/accident-notification/accident-notification.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/accident-notification/accodent-notification-v2.utils.ts
  libs/application/templates/accident-notification/src/types/index.ts
  libs/clients/icelandic-health-insurance/rights-portal/src/clientConfig.json
  libs/clients/icelandic-health-insurance/rights-portal/src/index.ts
  libs/clients/icelandic-health-insurance/rights-portal/src/lib/providers.ts
Due: Portal GraphQL, Application System API

chore: nx format:write update dirty files
  libs/clients/syslumenn/src/clientConfig.json
Due: none

chore:import
  libs/api/domains/license-service/src/lib/mappers/adrLicenseMapper.ts
  libs/api/domains/license-service/src/lib/mappers/disabilityLicenseMapper.ts
Due: Portal GraphQL

removing space
  libs/application/templates/mortgage-certificate/src/lib/mortgageCertificateTemplate.ts
  libs/clients/syslumenn/src/lib/syslumennClient.types.ts
Due: Application System API

renaming
  libs/application/templates/mortgage-certificate/src/lib/messages/property.ts
Due: Application System API

chore: nx format:write update dirty files
  apps/judicial-system/backend/src/app/formatters/custodyNoticePdf.ts
Due: none

removing unused import
  libs/application/templates/mortgage-certificate/src/fields/SelectProperty/PropertyTypeSearchField/index.tsx
Due: Application System API

correct export from message
  libs/application/templates/mortgage-certificate/src/lib/messages/index.ts
Due: Application System API

fix: cleanup type declrations
  libs/api/domains/law-and-order/src/dto/postDefenseChoiceInput.model.ts
  libs/api/domains/law-and-order/src/dto/postSubpeonaAcknowledgedInput.model.ts
  libs/api/domains/law-and-order/src/models/courtCase.model.ts
  libs/api/domains/law-and-order/src/models/courtCases.model.ts
  libs/api/domains/law-and-order/src/models/defenseChoice.model.ts
  libs/api/domains/law-and-order/src/models/lawyers.model.ts
  libs/api/domains/law-and-order/src/models/subpoena.model.ts
  libs/api/domains/law-and-order/src/models/subpoenaAcknowledged.model.ts
Due: Portal GraphQL

fixing small things
  libs/application/templates/mortgage-certificate/src/fields/ConfirmationField/index.tsx
  libs/application/templates/mortgage-certificate/src/fields/SelectProperty/CheckedProperties/index.tsx
  libs/application/templates/mortgage-certificate/src/lib/messages/overview.ts
Due: Application System API

Delivers cancellation notice to court
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/dto/deliverCancellationNotice.dto.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.controller.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/court/court.service.ts
  libs/judicial-system/message/src/lib/message.ts
Due: none

fix: expires
  libs/api/domains/license-service/src/lib/mappers/adrLicenseMapper.ts
  libs/api/domains/license-service/src/lib/mappers/disabilityLicenseMapper.ts
  libs/api/domains/license-service/src/lib/mappers/drivingLicenseMapper.ts
  libs/api/domains/license-service/src/lib/mappers/ehicCardMapper.ts
  libs/api/domains/license-service/src/lib/mappers/firearmLicenseMapper.ts
  libs/api/domains/license-service/src/lib/mappers/huntingLicenseMapper.ts
  libs/api/domains/license-service/src/lib/mappers/machineLicenseMapper.ts
  libs/api/domains/license-service/src/lib/mappers/pCardMapper.ts
  libs/api/domains/license-service/src/lib/mappers/passportMapper.ts
  libs/api/domains/license-service/src/lib/messages.ts
  libs/api/domains/license-service/src/lib/utils/expiryTag.ts
Due: Portal GraphQL

new application
  libs/application/template-api-modules/src/lib/modules/templates/aosh/register-new-machine/register-new-machine.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/aosh/register-new-machine/register-new-machine.service.ts
  libs/application/template-loader/src/lib/templateLoaders.ts
  libs/application/templates/aosh/register-new-machine/.babelrc
  libs/application/templates/aosh/register-new-machine/.eslintrc.json
  libs/application/templates/aosh/register-new-machine/README.md
  libs/application/templates/aosh/register-new-machine/project.json
  libs/application/templates/aosh/register-new-machine/src/assets/Logo.tsx
  libs/application/templates/aosh/register-new-machine/src/dataProviders/index.ts
  libs/application/templates/aosh/register-new-machine/src/forms/Conclusion.ts
  libs/application/templates/aosh/register-new-machine/src/forms/Prerequisites.ts
  libs/application/templates/aosh/register-new-machine/src/forms/RegisterMachineForm/InformationSection/ImporterInformation.ts
  libs/application/templates/aosh/register-new-machine/src/forms/RegisterMachineForm/InformationSection/index.ts
  libs/application/templates/aosh/register-new-machine/src/forms/RegisterMachineForm/index.ts
  libs/application/templates/aosh/register-new-machine/src/index.ts
  libs/application/templates/aosh/register-new-machine/src/lib/RegisterNewMachineTemplate.ts
  libs/application/templates/aosh/register-new-machine/src/lib/constants.ts
  libs/application/templates/aosh/register-new-machine/src/lib/dataSchema.ts
  libs/application/templates/aosh/register-new-machine/src/lib/messages/application.ts
  libs/application/templates/aosh/register-new-machine/src/lib/messages/conclusion.ts
  libs/application/templates/aosh/register-new-machine/src/lib/messages/externalData.ts
  libs/application/templates/aosh/register-new-machine/src/lib/messages/index.ts
  libs/application/templates/aosh/register-new-machine/src/lib/messages/information.ts
  libs/application/templates/aosh/register-new-machine/src/shared/types.ts
  libs/application/templates/aosh/register-new-machine/tsconfig.json
  libs/application/templates/aosh/register-new-machine/tsconfig.lib.json
  libs/application/types/src/lib/ApplicationTypes.ts
  libs/application/types/src/lib/InstitutionMapper.ts
  libs/feature-flags/src/lib/features.ts
  tsconfig.base.json
Due: Application System API

changes after comments
  libs/application/types/src/lib/Fields.ts
Due: none

chore: nx format:write update dirty files
  libs/application/types/src/lib/Fields.ts
Due: none

Move child page to prerequisites
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.service.ts
  libs/application/templates/new-primary-school/src/dataProviders/index.ts
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/AllergiesAndIntolerances.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/Child.tsx
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/childrenNParentsSection/childInfoSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/childrenNParentsSection/index.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/allergiesAndIntolerancesSubSection.ts
  libs/application/templates/new-primary-school/src/forms/Prerequisites.ts
  libs/application/templates/new-primary-school/src/forms/Prerequisites/childrenSubSection.ts
  libs/application/templates/new-primary-school/src/forms/Prerequisites/externalDataSubSection.ts
  libs/application/templates/new-primary-school/src/forms/Prerequisites/index.ts
  libs/application/templates/new-primary-school/src/lib/NewPrimarySchoolTemplate.ts
  libs/application/templates/new-primary-school/src/lib/constants.ts
  libs/application/templates/new-primary-school/src/lib/messages.ts
  libs/application/templates/new-primary-school/src/lib/newPrimarySchoolUtils.ts
  libs/application/templates/new-primary-school/src/types.ts
  libs/clients/mms/frigg/src/clientConfig.json
  libs/clients/mms/frigg/src/lib/friggClient.service.ts
Due: Application System API

Refactored devcontainer Dockerfile
  .devcontainer/Dockerfile
Due: none

Update node version to LTS 20.15
  package.json
Due: none

Update clientConfig
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.service.ts
  libs/application/templates/new-primary-school/src/dataProviders/index.ts
  libs/application/templates/new-primary-school/src/forms/Prerequisites/externalDataSubSection.ts
  libs/application/templates/new-primary-school/src/lib/NewPrimarySchoolTemplate.ts
  libs/clients/mms/frigg/src/clientConfig.json
  libs/clients/mms/frigg/src/lib/friggClient.service.ts
Due: Application System API

review tweaks
  libs/application/ui-fields/src/lib/TableRepeaterFormField/utils.ts
Due: none

chore: nx format:write update dirty files
  libs/application/ui-fields/src/lib/TableRepeaterFormField/utils.ts
Due: none

Adds tests
  apps/judicial-system/backend/src/app/modules/case/internalCase.controller.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverIndictmentCancellationNoticeToCourt.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverIndictmentCancellationNoticeToCourtGuards.spec.ts
Due: none

fix: init
  libs/api/domains/occupational-licenses-v2/src/lib/models/license.model.ts
  libs/api/domains/occupational-licenses-v2/src/lib/models/licenseResult.model.ts
  libs/api/domains/occupational-licenses-v2/src/lib/occupationalLicensesV2.service.ts
  libs/api/domains/occupational-licenses/src/index.ts
  libs/service-portal/occupational-licenses/src/lib/messages.ts
  libs/service-portal/occupational-licenses/src/screens/v2/OccupationalLicensesDetail/OccupationalLicensesDetail.graphql
  libs/service-portal/occupational-licenses/src/screens/v2/OccupationalLicensesDetail/OccupationalLicensesDetail.tsx
  libs/service-portal/occupational-licenses/src/screens/v2/OccupationalLicensesOverview/OccupationalLicensesOverview.graphql
Due: Portal GraphQL

Update @aws-sdk version
  package.json
  yarn.lock
Due: none

fix(j-s): Fixes
  apps/judicial-system/backend/src/app/formatters/courtRecordPdf.ts
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/models/subpoena.response.ts
  apps/judicial-system/web/src/components/Table/PastCasesTable/PastCases.spec.ts
  libs/judicial-system/formatters/src/lib/formatters.ts
Due: none

fix: update settings for notifications
  apps/native/app/src/messages/en.ts
  apps/native/app/src/messages/is.ts
  apps/native/app/src/screens/settings/settings.tsx
Due: none

Move ruling decision down
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.tsx
Due: none

feat(j-s): Indictment decision tag on summary page (#15378)
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.strings.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.tsx
Due: none

fix: use correct openBrowser function
  apps/native/app/src/screens/login/login.tsx
Due: none

Update accessibility in docs v2. Add rsk fallback to v2 service
  apps/service-portal/src/components/Notifications/NotificationButton.tsx
  libs/clients/documents-v2/src/lib/documentsClientV2.service.ts
  libs/clients/documents-v2/src/lib/dto/document.dto.ts
  libs/service-portal/core/src/lib/messages.ts
  libs/service-portal/documents/src/components/DocumentLine/DocumentLine.tsx
  libs/service-portal/documents/src/components/NoPDF/NoPDF.tsx
Due: none

chore: Remove unused settings.json file and update PremisesPreview component in FormPreview
  libs/api/domains/form-system/.vscode/settings.json
  libs/portals/admin/form-system/src/components/FormPreview/PremisesPreview.tsx
  libs/portals/admin/form-system/src/lib/messages.ts
  libs/portals/admin/form-system/src/screens/FormPreview/FormPreview.tsx
Due: Portal GraphQL

fix(service-portal): Update accessibility in docs v2. Add rsk fallback. (#15398)
  apps/service-portal/src/components/Notifications/NotificationButton.tsx
  libs/clients/documents-v2/src/lib/documentsClientV2.service.ts
  libs/clients/documents-v2/src/lib/dto/document.dto.ts
  libs/service-portal/core/src/lib/messages.ts
  libs/service-portal/documents/src/components/DocumentLine/DocumentLine.tsx
  libs/service-portal/documents/src/components/NoPDF/NoPDF.tsx
Due: none

Change to and target outptu-devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Add nice features
  .devcontainer/devcontainer.json
Due: none

Update @aws-sdk to 3.600
  package.json
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
