Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Update documentsClientV2.service.ts
  libs/clients/documents-v2/src/lib/documentsClientV2.service.ts
Due: none

add header to additional document upload
  libs/application/templates/parental-leave/src/forms/AdditionalDocumentsRequired.ts
Due: Application System API

feat(j-s): Required Files (#14165)
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/utils/formHelper.ts
  apps/judicial-system/web/src/utils/validate.ts
Due: none

fix(ctao): Add missing conclusion translations (#14172)
  libs/application/templates/complaints-to-althingi-ombudsman/src/forms/ComplaintsToAlthingiOmbudsmanApplication.ts
  libs/application/templates/complaints-to-althingi-ombudsman/src/forms/ComplaintsToAlthingiOmbudsmanSubmitted.ts
  libs/application/templates/complaints-to-althingi-ombudsman/src/lib/messages/confirmation.ts
Due: Application System API

fix: tweak search demo and list view links
  apps/web/components/OfficialJournalOfIceland/OJOISearchListView.tsx
  apps/web/screens/OfficialJournalOfIceland/OJOISearch.tsx
Due: none

chore(document-provider): Update CODEOWNERS (#14174)
  .github/CODEOWNERS
Due: none

Apply suggestions from code review
  libs/api/domains/document-provider/src/lib/models/DocumentTypes.model.ts
  libs/portals/admin/document-provider/src/lib/paths.ts
Due: Portal GraphQL

Add migration script for new auth scopes
  libs/auth-api-lib/seeders/data/scope-delegation-index.ts
Due: none

Better description of auth scopes
  libs/auth-api-lib/seeders/data/scope-delegation-index.ts
Due: none

feat(delegation-api): delegation index lookup (#14144)
  apps/services/auth/delegation-api/src/app/delegations/delegation-index.controller.ts
  apps/services/auth/delegation-api/src/app/delegations/delegations.controller.ts
  apps/services/auth/delegation-api/src/app/delegations/delegations.module.ts
  apps/services/auth/delegation-api/src/app/delegations/test/delegation-index/delegation-index-test-cases.ts
  apps/services/auth/delegation-api/src/app/delegations/test/delegation-index/delegation-index.controller.spec.ts
  apps/services/auth/delegation-api/src/app/delegations/test/delegation-index/delegation-index.spec.ts
  apps/services/auth/delegation-api/src/app/delegations/test/delegation-index/delegations-index-types.ts
  apps/services/auth/delegation-api/src/app/delegations/test/delegations-controller/delegations.controller-test-types.ts
  apps/services/auth/delegation-api/src/app/delegations/test/delegations-controller/delegations.controller.spec.ts
  apps/services/auth/delegation-api/src/app/delegations/test/delegations-controller/delegations.controller.test-cases.ts
  libs/auth-api-lib/seeders/data/scope-delegation-index.ts
  libs/auth-api-lib/src/lib/delegations/delegations-index.service.ts
  libs/auth-api-lib/src/lib/delegations/dto/delegation-index.dto.ts
  libs/auth-api-lib/src/lib/delegations/utils/delegations.ts
  libs/auth-api-lib/src/lib/personal-representative/services/personalRepresentativeRightType.service.ts
  libs/auth-nest-tools/src/lib/jwt.payload.ts
  libs/auth-nest-tools/src/lib/jwt.strategy.ts
  libs/auth/scopes/src/lib/auth.scope.ts
  libs/services/auth/testing/src/fixtures/fixture-factory.ts
  libs/services/auth/testing/src/fixtures/types.ts
Due: none

remove references to unused states
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.ts
  libs/application/templates/parental-leave/src/constants.ts
  libs/application/templates/parental-leave/src/fields/InReviewSteps/index.tsx
Due: Application System API

update state machine image
  libs/application/templates/parental-leave/assets/parental-leave-flow-chart.png
Due: Application System API

feat: use translation namespace
  libs/api/domains/occupational-licenses-v2/src/lib/occupationalLicensesV2.module.ts
  libs/api/domains/occupational-licenses-v2/src/lib/occupationalLicensesV2.service.ts
  libs/service-portal/core/src/lib/messages.ts
Due: Portal GraphQL

Add happy path test for status updates on nudge
  apps/services/user-profile/src/app/v2/test/me-user-profile.controller.spec.ts
  apps/services/user-profile/src/app/v2/user-profile.service.ts
Due: none

feat(j-s): New law in laws broken (#14141)
  apps/judicial-system/backend/migrations/20240314142256-update-case.js
  apps/judicial-system/backend/src/app/formatters/formatters.ts
  apps/judicial-system/web/messages/Core/laws.ts
  apps/judicial-system/web/src/components/SectionHeading/SectionHeading.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/PoliceDemands/PoliceDemands.tsx
  apps/judicial-system/web/src/utils/laws.ts
  libs/judicial-system/formatters/src/lib/formatters.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

chore: nx format:write update dirty files
  libs/application/templates/parental-leave/src/fields/InReviewSteps/index.tsx
Due: Application System API

ci: create new package json and lock file
  apps/system-e2e/project.json
  tools/executors/system-e2e/executor.json
  tools/executors/system-e2e/impl.ts
  tools/executors/system-e2e/package.json
  tools/executors/system-e2e/schema.json
  tools/executors/system-e2e/tsconfig.json
Due: none

fix: remove geoip-lite for ip3country" (#14170)
  apps/services/sessions/docker-compose.yml
  apps/services/sessions/esbuild.json
  apps/services/sessions/infra/sessions.ts
  apps/services/sessions/src/app/sessions/sessions.service.spec.ts
  apps/services/sessions/src/app/sessions/sessions.service.ts
  apps/services/sessions/src/main.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/helm/Chart.yaml
  infra/src/uber-charts/islandis.ts
  libs/infra-nest-server/src/lib/bootstrap.ts
  libs/infra-nest-server/src/lib/types.ts
  package.json
  yarn.lock
Due: none

WIP
  libs/api/domains/statistics/src/lib/dto/statistics-query.input.ts
  libs/clients/statistics/src/lib/statistics.service.ts
  libs/cms/src/lib/chart/services/ultraviolet-radiation/latest-measurement.service.ts
  libs/cms/src/lib/chart/services/ultraviolet-radiation/series.service.ts
  libs/cms/src/lib/chart/types.ts
  libs/cms/src/lib/cms.module.ts
  libs/cms/src/lib/cms.resolver.ts
  libs/cms/src/lib/dto/getChartData.input.ts
  libs/cms/src/lib/loaders/chartDataByExternalJsonProvider.loader.ts
  libs/cms/src/lib/models/chart.model.ts
  libs/cms/src/lib/models/chartComponent.model.ts
  libs/cms/src/lib/models/chartDataSource.model.ts
  libs/cms/src/lib/models/chartNumberBox.model.ts
Due: Portal GraphQL

Add e2e to web
  apps/web/e2e/homepace.spec.ts
  apps/web/playwright.config.ts
  apps/web/project.json
Due: none

Add minimal testing/e2e library
  libs/testing/e2e/src/lib/testing/e2e.ts
Due: none

Add needed playwright config and packages
  package.json
  playwright.config.base.ts
  yarn.lock
Due: none

fix: patches
  tools/executors/system-e2e/impl.ts
Due: none

yarn.lock conflict
  yarn.lock
Due: none

fix: simplify
  tools/executors/system-e2e/impl.ts
Due: none

Add scope to testing/e2e
  libs/testing/e2e/project.json
Due: none

fix: use nx path
  tools/executors/system-e2e/impl.ts
Due: none

Add tests to verify that emailStatus and mobileStatus are not changed to empty in other states.
  apps/services/user-profile/src/app/v2/test/me-user-profile.controller.spec.ts
Due: none

feat(j-s): Withdraw appeal confirmation modal (#14143)
  apps/judicial-system/web/src/components/ContextMenu/ContextMenu.strings.ts
  apps/judicial-system/web/src/components/ContextMenu/ContextMenu.tsx
  apps/judicial-system/web/src/components/ContextMenu/ContextMenuOptions/WithdrawAppealMenuOption.strings.ts
  apps/judicial-system/web/src/components/ContextMenu/ContextMenuOptions/WithdrawAppealMenuOption.tsx
  apps/judicial-system/web/src/components/Table/PastCasesTable/PastCasesTable.tsx
  apps/judicial-system/web/src/components/index.ts
  apps/judicial-system/web/src/routes/Defender/Cases/components/DefenderCasesTable.tsx
Due: none

Use ApiPropertyOptional for optional properties on user profile model. Rename variable in userprofile service v2 for readability. Use SKIP_INTERVAL and NUDGE_INTERVAL in user profile spec file.
  apps/services/user-profile/src/app/user-profile/userProfile.model.ts
  apps/services/user-profile/src/app/v2/test/me-user-profile.controller.spec.ts
  apps/services/user-profile/src/app/v2/user-profile.service.ts
Due: none

Started working on refactoring tables
  apps/judicial-system/web/src/components/Table/Table.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/ActiveCases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/Cases.tsx
Due: none

Undo api property decorator fixes due to too big impact.
  apps/services/user-profile/src/app/user-profile/userProfile.model.ts
Due: none

feat(user-profile): Next-nudge interval (#14136)
  apps/services/user-profile/migrations/20240313114633-next-nudge.js
  apps/services/user-profile/src/app/types/nudge-type.ts
  apps/services/user-profile/src/app/user-profile/userProfile.model.ts
  apps/services/user-profile/src/app/v2/dto/post-nudge.dto.ts
  apps/services/user-profile/src/app/v2/me-user-profile.controller.ts
  apps/services/user-profile/src/app/v2/test/me-user-profile.controller.spec.ts
  apps/services/user-profile/src/app/v2/user-profile.service.ts
  apps/services/user-profile/test/fixture-factory.ts
Due: none

feat(user-profile): Next-nudge interval (#14136) (#14178)
  apps/services/user-profile/migrations/20240313114633-next-nudge.js
  apps/services/user-profile/src/app/types/nudge-type.ts
  apps/services/user-profile/src/app/user-profile/userProfile.model.ts
  apps/services/user-profile/src/app/v2/dto/post-nudge.dto.ts
  apps/services/user-profile/src/app/v2/me-user-profile.controller.ts
  apps/services/user-profile/src/app/v2/test/me-user-profile.controller.spec.ts
  apps/services/user-profile/src/app/v2/user-profile.service.ts
  apps/services/user-profile/test/fixture-factory.ts
Due: none

Prefill debts and change properties to reflect incoming data
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/inheritance-report.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/mappers.ts
  libs/application/templates/inheritance-report/src/forms/sections/business.ts
  libs/application/templates/inheritance-report/src/forms/sections/debts.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
Due: Application System API

Update single doc display
  libs/service-portal/documents/src/screens/Documents.loader.ts
Due: none

id
  libs/service-portal/documents/src/screens/Documents.loader.ts
Due: none

fix(service-portal): Update single doc display (#14179)
  libs/service-portal/documents/src/screens/Documents.loader.ts
Due: none
