Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

prod testing updates
  libs/application/templates/unemployment-benefits/src/assets/drivingLicenses/c1.tsx
  libs/application/templates/unemployment-benefits/src/assets/drivingLicenses/index.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/introductoryMeeting.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/languageSkills.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/licenses.tsx
  libs/application/templates/unemployment-benefits/src/forms/mainForm/payoutSection/otherBenefits.ts
  libs/application/templates/unemployment-benefits/src/lib/messages/payout.ts
  libs/application/templates/unemployment-benefits/src/utils/getOverviewItems.ts
  libs/application/templates/unemployment-benefits/src/utils/overviewAnswers/otherPaymentsAnswers.ts
  libs/clients/vmst-unemployment/src/clientConfig.json
Due: Application System API

pension fund filter
  libs/application/templates/unemployment-benefits/src/forms/mainForm/payoutSection/otherBenefits.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/payoutSection/payoutInformation.ts
Due: Application System API

chore: format update dirty file
  libs/clients/vmst-unemployment/src/clientConfig.json
Due: none

fix(j-s): trigger notification for split case in the backend
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/event-log/eventLog.service.ts
  apps/judicial-system/backend/src/app/modules/notification/notificationDispatch.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/indictmentCaseNotification/indictmentCaseNotification.service.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
  libs/judicial-system/types/src/lib/notification.ts
Due: none

Refactor medicine history card and add dispensations screen
  apps/native/app/src/messages/en.ts
  apps/native/app/src/messages/is.ts
  apps/native/app/src/screens/prescriptions/components/medicin-history-card.tsx
  apps/native/app/src/screens/prescriptions/components/medicine-dispensation-detail.tsx
  apps/native/app/src/screens/prescriptions/components/medicine-dispensations.tsx
  apps/native/app/src/screens/prescriptions/prescriptions.tsx
  apps/native/app/src/utils/component-registry.ts
  apps/native/app/src/utils/lifecycle/setup-components.tsx
  apps/native/app/src/utils/lifecycle/setup-routes.ts
Due: none

Gives split mother case access to defendant split case files
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/file/file.controller.ts
  apps/judicial-system/backend/src/app/modules/file/guards/splitCaseFileExists.guard.ts
  apps/judicial-system/backend/src/app/modules/file/guards/test/splitCaseFileExistsGuard.spec.ts
  apps/judicial-system/backend/src/app/modules/file/internalFile.controller.ts
  apps/judicial-system/backend/src/app/modules/file/test/fileController/getCaseFileSignedUrlGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/file/test/internalFileController/internalFileControllerGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/subpoena/subpoena.controller.ts
Due: none

remove pod/gem-file changes
  apps/native/app/Gemfile.lock
  apps/native/app/ios/Podfile.lock
Due: none

fix: date issues
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/models/appointments.model.ts
  libs/portals/my-pages/core/src/utils/dateUtils.ts
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/Appointments/AppointmentDetail.tsx
  libs/portals/my-pages/health/src/screens/Appointments/Appointments.graphql
  libs/portals/my-pages/health/src/screens/Appointments/AppointmentsOverview.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/HealthOverview.graphql
  libs/portals/my-pages/health/src/screens/HealthOverview/components/Appointments.tsx
  libs/portals/my-pages/health/src/utils/mappers.ts
Due: Portal GraphQL

chore: format update dirty file
  apps/native/app/src/utils/lifecycle/setup-components.tsx
Due: none

fix(as): Stop certain fields anchoring users to their position in applications (#20971)
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentInformationSection/currentSituation.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/employmentSearchConfirmationAgreement.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/payoutSection/vacation.ts
Due: Application System API

fix(as): Fix the example-payments quantities
  libs/application/templates/examples/example-payment/src/forms/draft.ts
Due: Application System API

feat: update groups
  apps/web/screens/OpenInvoices/Overview/Overview.graphql.tsx
  apps/web/screens/OpenInvoices/Overview/Overview.tsx
  apps/web/screens/OpenInvoices/Overview/OverviewContent.tsx
  libs/api/domains/icelandic-government-institutions/src/lib/dtos/getInvoiceGroups.input.ts
  libs/api/domains/icelandic-government-institutions/src/lib/dtos/getInvoices.input.ts
  libs/api/domains/icelandic-government-institutions/src/lib/icelandicGovernmentInstitutions.module.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/customerMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/invoiceGroupMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/invoiceMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/supplierMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mocks/CUSTOMERS.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mocks/INVOICES.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mocks/INVOICE_GROUPS.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mocks/SUPPLIERS.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/customer.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/customers.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/entity.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoice.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoiceGroup.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoiceGroups.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/supplier.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/suppliers.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoiceGroup.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoiceGroups.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoices.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/services/invoices/invoices.service.interface.ts
  libs/api/domains/icelandic-government-institutions/src/lib/services/invoices/invoices.service.mock.ts
  libs/api/domains/icelandic-government-institutions/src/lib/services/invoices/invoices.service.ts
  libs/api/domains/icelandic-government-institutions/src/lib/types.ts
  libs/clients/elfur/src/clientConfig.json
  libs/clients/elfur/src/index.ts
  libs/clients/elfur/src/lib/dtos/customer.dto.ts
  libs/clients/elfur/src/lib/dtos/invoiceGroup.dto.ts
  libs/clients/elfur/src/lib/dtos/invoiceGroupRequest.dto.ts
  libs/clients/elfur/src/lib/dtos/invoiceRequest.dto.ts
  libs/clients/elfur/src/lib/dtos/supplier.dto.ts
  libs/clients/elfur/src/lib/elfur.config.ts
  libs/clients/elfur/src/lib/elfur.service.ts
Due: Portal GraphQL

fix(as): Fix the example-payments quantities (#20974)
  libs/application/templates/examples/example-payment/src/forms/draft.ts
Due: Application System API

Updates unit tests
  apps/judicial-system/backend/src/app/modules/case/test/caseController/splitDefendantFromCase.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/createTestingCaseModule.ts
  apps/judicial-system/backend/src/app/modules/file/guards/caseFileExists.guard.ts
  apps/judicial-system/backend/src/app/modules/file/guards/splitCaseFileExists.guard.ts
  apps/judicial-system/backend/src/app/modules/file/guards/test/caseFileExistsGuard.spec.ts
  apps/judicial-system/backend/src/app/modules/file/guards/test/splitCaseFileExistsGuard.spec.ts
  apps/judicial-system/backend/src/app/modules/subpoena/test/internalSubpoenaController/deliverSubpoenaFileToPoliceGuards.spec.ts
Due: none

Update car-rental-fee-category.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
Due: Application System API

fix actor notification model
  apps/services/user-notification/src/app/modules/notifications/actor-notification.model.ts
Due: none

fix(j-s): Remove double rendered case state tag
  apps/judicial-system/web/src/components/PageTitle/PageTitle.tsx
Due: none

Make indictment confirmation smaller
  apps/judicial-system/backend/src/app/formatters/pdfHelpers.ts
  apps/judicial-system/backend/src/app/modules/aws-s3/awsS3.service.ts
  apps/judicial-system/backend/src/app/modules/file/file.service.ts
Due: none

chore: format update dirty file
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
Due: Application System API

fix(j-s): Remove double rendered case state tag (#20976)
  apps/judicial-system/web/src/components/PageTitle/PageTitle.tsx
Due: none

fix(j-s): lint and tests
  apps/judicial-system/backend/src/app/modules/notification/services/indictmentCaseNotification/indictmentCaseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/eventNotificationDispatch/eventNotificationDispatch.spec.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
Due: none

chore: format update dirty file
  libs/application/templates/new-primary-school/src/fields/RelativesTableRepeater/index.tsx
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/healthProtectionSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/languageSubSection.ts
Due: Application System API

fix(application-system-api): Adding a try catch and extra logging to rental rate (#20975)
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
Due: Application System API

fix(unemployment): small fix on release (#20973)
  libs/application/templates/unemployment-benefits/src/assets/drivingLicenses/c1.tsx
  libs/application/templates/unemployment-benefits/src/assets/drivingLicenses/index.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/introductoryMeeting.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/languageSkills.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/licenses.tsx
  libs/application/templates/unemployment-benefits/src/forms/mainForm/payoutSection/otherBenefits.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/payoutSection/payoutInformation.ts
  libs/application/templates/unemployment-benefits/src/lib/messages/payout.ts
  libs/application/templates/unemployment-benefits/src/utils/getOverviewItems.ts
  libs/application/templates/unemployment-benefits/src/utils/overviewAnswers/otherPaymentsAnswers.ts
  libs/clients/vmst-unemployment/src/clientConfig.json
Due: Application System API

fix(j-s): fake users
  apps/judicial-system/backend/migrations/20251217160751-update-case.js
Due: none

fix(j-s): import
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
Due: none

feat(web): Latest Verdicts connected component (#20966)
  apps/web/components/connected/LatestVerdicts/LatestVerdicts.tsx
  apps/web/components/connected/LatestVerdicts/index.ts
  apps/web/components/connected/LatestVerdicts/translation.strings.ts
  apps/web/utils/richText.tsx
  libs/cms/src/lib/generated/contentfulTypes.d.ts
Due: none

feat(web): Kilometer fee calculator - Show vehicle lookup information (#20970)
  apps/web/components/connected/vehicles/NewKilometerFee/NewKilometerFee.tsx
  apps/web/components/connected/vehicles/NewKilometerFee/translation.strings.ts
Due: none

fix(web): Handle different vimeo url formats #20958 (#20962)
  libs/shared/utils/src/lib/videoEmbed.ts
Due: none

Improves modal text
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
Due: none

Fixes email forma
  apps/judicial-system/backend/src/app/modules/notification/services/indictmentCaseNotification/indictmentCaseNotification.strings.ts
Due: none

Shows ruling modified history in S-cases to limited access users and blocks changes to civil claimant spokespersons while correcting cases
  apps/judicial-system/backend/src/app/modules/case/interceptors/case.interceptor.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.service.ts
  apps/judicial-system/web/src/components/FormProvider/limitedAccessCase.graphql
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/SelectCivilClaimantAdvocate.tsx
Due: none

Fixes interceptor
  apps/judicial-system/backend/src/app/modules/case/interceptors/case.interceptor.ts
Due: none

Removes unused import
  apps/judicial-system/backend/src/app/modules/file/guards/test/caseFileExistsGuard.spec.ts
Due: none

Refactor
  apps/judicial-system/backend/src/app/formatters/pdfHelpers.ts
Due: none

fix(translations): Add promise handling and increase max age (#20956)
  libs/cms-translations/src/lib/cms-translations.service.ts
Due: none

fix lint
  apps/native/app/src/screens/prescriptions/prescriptions.tsx
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
