Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

update id and ordering
  libs/application/templates/complaints-to-althingi-ombudsman/src/fields/ComplaintOverview/ComplaintInformation.tsx
  libs/application/templates/complaints-to-althingi-ombudsman/src/fields/ComplaintOverview/ComplaintOverview.tsx
Due: Application System API

Display error messages
  apps/contentful-apps/components/content-import/FileDataTable.tsx
  apps/contentful-apps/pages/screens/content-import-screen.tsx
Due: none

Change accordion headings
  apps/contentful-apps/pages/screens/content-import-screen.tsx
Due: none

Add audit logs in login restrictions endpoints. Allow users to remove restriction while logged in with different auth method than SIM.
  apps/services/auth/delegation-api/src/app/login-restrictions/me-login-restrictions.controller.ts
  libs/service-portal/restrictions/src/screens/restrictions/Restrictions.tsx
Due: none

fix(login-restrictions): Add audit logs. Fix UI to allow removal for all login methods. (#13233)
  apps/services/auth/delegation-api/src/app/login-restrictions/me-login-restrictions.controller.ts
  libs/service-portal/restrictions/src/screens/restrictions/Restrictions.tsx
Due: none

Handle null or undefined richtext values
  apps/contentful-apps/pages/screens/content-import-screen.tsx
Due: none

Handle missing row data in import
  apps/contentful-apps/pages/screens/content-import-screen.tsx
Due: none

Remove unused import
  apps/contentful-apps/components/content-import/FileDataTable.tsx
  apps/contentful-apps/pages/screens/content-import-screen.tsx
Due: none

Edit contact emails and categories
  apps/web/screens/ServiceWeb/Forms/utils.ts
  libs/api/domains/communications/src/lib/emailTemplates/serviceWebForms.ts
Due: Portal GraphQL

Fix service web search result bug
  apps/web/components/ServiceWeb/SearchInput/SearchInput.tsx
Due: none

all steps basic setup
  libs/application/template-api-modules/src/lib/modules/templates/university/university.service.ts
  libs/application/templates/university/src/components/GenericReview.tsx
  libs/application/templates/university/src/components/SummaryBlock.tsx
  libs/application/templates/university/src/fields/Review/ApplicantReview.tsx
  libs/application/templates/university/src/fields/Review/OtherDocumentsReview.tsx
  libs/application/templates/university/src/fields/Review/ProgramReview.tsx
  libs/application/templates/university/src/fields/Review/SchoolCareerReview.tsx
  libs/application/templates/university/src/fields/Review/index.tsx
  libs/application/templates/university/src/forms/Confirmation/index.ts
  libs/application/templates/university/src/forms/Prerequisites/index.ts
  libs/application/templates/university/src/forms/Review/index.ts
  libs/application/templates/university/src/forms/UniversityForm/ExtraSection/ExtraDataProvider.ts
  libs/application/templates/university/src/forms/UniversityForm/ExtraSection/ExtraPermission.ts
  libs/application/templates/university/src/forms/UniversityForm/ExtraSection/index.ts
  libs/application/templates/university/src/forms/UniversityForm/FormerEducation/EducationDetails.ts
  libs/application/templates/university/src/forms/UniversityForm/FormerEducation/EducationOptions.ts
  libs/application/templates/university/src/forms/UniversityForm/FormerEducation/OtherDocuments.ts
  libs/application/templates/university/src/forms/UniversityForm/FormerEducation/index.ts
  libs/application/templates/university/src/forms/UniversityForm/ProgramSection/ProgramSubSection.ts
  libs/application/templates/university/src/index.ts
  libs/application/templates/university/src/lib/constants.ts
  libs/application/templates/university/src/lib/dataSchema.ts
  libs/application/templates/university/src/lib/messages/confirmation.ts
  libs/application/templates/university/src/lib/messages/formerEducation.ts
  libs/application/templates/university/src/lib/messages/information.ts
  libs/application/templates/university/src/lib/messages/review.ts
  libs/application/templates/university/src/shared/constants.ts
  libs/application/templates/university/src/utils/formatPhoneNumber.ts
  libs/application/templates/university/src/utils/index.ts
  yarn.lock
Due: Application System API

some missed
  libs/application/templates/university/src/fields/Review/ProgramReview.tsx
  libs/application/templates/university/src/forms/UniversityForm/FormerEducation/EducationOptions.ts
Due: Application System API

Add a way to edit existing entries
  apps/contentful-apps/pages/screens/content-import-screen.tsx
Due: none

WIP: saving form field values now complete.
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/template-api-modules/src/lib/modules/templates/official-journal-of-iceland/official-journal-of-iceland.service.ts
  libs/application/templates/official-journal-of-iceland/src/components/CommunicationChannels/AddChannel.tsx
  libs/application/templates/official-journal-of-iceland/src/components/CommunicationChannels/Channel.tsx
  libs/application/templates/official-journal-of-iceland/src/components/CommunicationChannels/ChannelList.tsx
  libs/application/templates/official-journal-of-iceland/src/components/FormIntro/FormIntro.tsx
  libs/application/templates/official-journal-of-iceland/src/components/FromGroup/FormGroup.css.ts
  libs/application/templates/official-journal-of-iceland/src/fields/AdditionsAndDocuments/AdditionsAndDocuments.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/NewCase/NewCase.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/NewCase/TemplateModal.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/OriginalData/OriginalData.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/Prerequisites/Prerequisites.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/Preview/Preview.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/PublishingPreferences/PublishingPreferences.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/PublishingPrefrences/PublishingPrefrences.css.ts
  libs/application/templates/official-journal-of-iceland/src/fields/PublishingPrefrences/PublishingPrefrences.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/Summary/Summary.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/index.tsx
  libs/application/templates/official-journal-of-iceland/src/forms/Complete.ts
  libs/application/templates/official-journal-of-iceland/src/forms/Draft.ts
  libs/application/templates/official-journal-of-iceland/src/forms/Prerequisites.ts
  libs/application/templates/official-journal-of-iceland/src/lib/OJOIApplication.ts
  libs/application/templates/official-journal-of-iceland/src/lib/constants.ts
  libs/application/templates/official-journal-of-iceland/src/lib/dataSchema.ts
  libs/application/templates/official-journal-of-iceland/src/lib/messages/error.ts
  libs/application/templates/official-journal-of-iceland/src/lib/messages/general.ts
  libs/application/templates/official-journal-of-iceland/src/lib/messages/index.ts
  libs/application/templates/official-journal-of-iceland/src/lib/messages/publishingPreferences.ts
  libs/application/templates/official-journal-of-iceland/src/lib/types.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/KeyValueFormField/KeyValueFormField.tsx
Due: Application System API

Got the skipping of payment working, still needs a little more testing
  libs/application/template-api-modules/src/lib/modules/templates/aosh/transfer-of-machine-ownership/transfer-of-machine-ownership.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/aosh/transfer-of-machine-ownership/transfer-of-machine-ownership.utils.ts
  libs/application/template-api-modules/src/lib/modules/templates/aosh/transfer-of-machine-ownership/types.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/forms/TransferOfMachineOwnershipForm/InformationSection/buyerSubSection.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/forms/TransferOfMachineOwnershipForm/InformationSection/index.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/forms/TransferOfMachineOwnershipForm/index.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/lib/TransferOfMachineOwnershipTemplate.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/utils/isPaymentRequired.ts
Due: Application System API

fix(fa): Wording for error message when fetching payments (#13230)
  apps/financial-aid/web-veita/src/components/Profile/ApplicationProfile.tsx
Due: none

feat: add passport type
  libs/api/domains/license-service/src/lib/graphql/genericLicense.model.ts
  libs/api/domains/license-service/src/lib/graphql/main.resolver.ts
  libs/api/domains/license-service/src/lib/licenseService.module.ts
  libs/api/domains/license-service/src/lib/licenseService.service.ts
  libs/api/domains/license-service/src/lib/mappers/passportMapper.ts
  libs/clients/license-client/src/lib/clients/passport-client/passportsClient.service.ts
Due: Portal GraphQL

feat(skilavottord): mileage-to-samgongustofu (#13216)
  apps/skilavottord/ws/src/app/modules/auth/auth.guard.ts
  apps/skilavottord/ws/src/app/modules/recyclingRequest/recyclingRequest.resolver.ts
  apps/skilavottord/ws/src/app/modules/recyclingRequest/recyclingRequest.service.ts
Due: none

fix: cleanup
  libs/api/domains/license-service/src/lib/graphql/genericLicense.model.ts
  libs/api/domains/license-service/src/lib/graphql/main.resolver.ts
  libs/api/domains/license-service/src/lib/licenseService.service.ts
Due: Portal GraphQL

fix(skilavottord): mileage-to-samgongustofu (#13216) (#13238)
  apps/skilavottord/ws/src/app/modules/auth/auth.guard.ts
  apps/skilavottord/ws/src/app/modules/recyclingRequest/recyclingRequest.resolver.ts
  apps/skilavottord/ws/src/app/modules/recyclingRequest/recyclingRequest.service.ts
Due: none

Only allow prosecutors to request a appeal ruling not to be published
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealCaseFiles.tsx
Due: none

Refactor and rename variables
  apps/contentful-apps/components/content-import/FieldMapping.tsx
  apps/contentful-apps/components/content-import/PrimitiveFieldMapping.tsx
  apps/contentful-apps/components/content-import/ReferenceFieldMapping.tsx
  apps/contentful-apps/components/content-import/index.ts
  apps/contentful-apps/components/content-import/utils.ts
  apps/contentful-apps/constants/index.ts
  apps/contentful-apps/pages/screens/content-import-screen.tsx
  apps/contentful-apps/utils/index.ts
Due: none

Rename constants
  apps/contentful-apps/components/content-import/ReferenceFieldMapping.tsx
  apps/contentful-apps/constants/index.ts
  apps/contentful-apps/pages/screens/content-import-screen.tsx
Due: none

feat: add passport to licnese cleint
  libs/api/domains/license-service/src/lib/graphql/genericLicense.model.ts
  libs/api/domains/license-service/src/lib/graphql/main.resolver.ts
  libs/api/domains/license-service/src/lib/licenseService.service.ts
Due: Portal GraphQL

fix(fa): Adding employee kt to wise endpoint (#13225)
  apps/financial-aid/backend/src/app/modules/application/application.service.ts
Due: none

Only allow admins to access UI
  apps/contentful-apps/pages/screens/content-import-screen.tsx
Due: none

Minor css fix
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.tsx
Due: none

Revoke access for defenders
  apps/judicial-system/backend/src/app/modules/case/guards/rolesRules.ts
Due: none

Revoke access for defenders
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.service.ts
Due: none

Minor wording change
  apps/judicial-system/backend/src/app/modules/case/models/case.model.ts
Due: none

Revoke access for defenders
  apps/judicial-system/web/src/components/FormProvider/limitedAccessCase.graphql
Due: none

fix: revert
  libs/api/domains/license-service/src/lib/graphql/main.resolver.ts
Due: Portal GraphQL

Remove useless test
  apps/judicial-system/web/src/components/RequestAppealRulingNotToBePublishedCheckbox/RequestAppealRulingNotToBePublishedCheckbox.spec.tsx
Due: none

Remove wrapper from RequestAppealRulingNotToBePublishedCheckbox component
  apps/judicial-system/web/src/components/RequestAppealRulingNotToBePublishedCheckbox/RequestAppealRulingNotToBePublishedCheckbox.tsx
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealCaseFiles.tsx
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.tsx
  apps/judicial-system/web/src/routes/Shared/Statement/Statement.tsx
Due: none

Revoke access for defenders
  apps/judicial-system/web/src/utils/hooks/useCase/limitedAccessUpdateCase.graphql
Due: none

feat(web): Transport authority service web contact form (#13235)
  apps/web/screens/ServiceWeb/Forms/utils.ts
  libs/api/domains/communications/src/lib/emailTemplates/serviceWebForms.ts
Due: Portal GraphQL

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
