Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

removed kodiak config
  .github/.kodiak.toml
Due: none

Update import after merge from main
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/MedicalAndRehabilitationPaymentsTemplate.ts
Due: Application System API

debug logging
  libs/application/api/payment/src/lib/payment.service.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/payment/payment.service.ts
Due: Application System API

fix dld
  libs/application/templates/driving-license-duplicate/src/lib/constants.ts
  libs/application/templates/driving-license-duplicate/src/lib/drivingLicenseDuplicateTemplate.ts
  libs/application/templates/driving-license-duplicate/src/lib/utils.ts
Due: Application System API

feat: move everything over to arc shared (#18898)
  .coderabbit.yaml
  .github/.kodiak.toml
  .github/workflows/config-values.yaml
  .github/workflows/dedupe.yml
  .github/workflows/external-checks.yml
  .github/workflows/feature-close.yml
  .github/workflows/install.yml
  .github/workflows/merge-queue.yml
  .github/workflows/on-release-create.yaml
  .github/workflows/pre-checks.yml
  .github/workflows/pullrequest-close.yml
  .github/workflows/pullrequest-lint.yml
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
  .github/workflows/revert-pr.yaml
  .github/workflows/scanflag.yml
  .github/workflows/staleness.yml
Due: none

sticky header WIP
  libs/portals/my-pages/documents/src/components/DocumentHeader/DocumentHeader.tsx
  libs/portals/my-pages/documents/src/components/OverviewDisplay/DesktopOverview.tsx
  libs/portals/my-pages/documents/src/components/OverviewDisplay/OverviewDisplay.css.ts
Due: none

Fix lints
  libs/application/templates/driving-license-duplicate/src/fields/PaymentCharge/index.tsx
  libs/application/templates/driving-license-duplicate/src/lib/drivingLicenseDuplicateTemplate.ts
  libs/application/templates/driving-license-duplicate/src/lib/utils.ts
Due: Application System API

add screen, validation and review screen info
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/fields/Review/index.tsx
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/fields/Review/review-groups/HigherPayments.tsx
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/forms/AdditionalSupportForTheElderlyForm.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/AdditionalSupportForTheElderlyTemplate.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/additionalSupportForTheElderlyUtils.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/messages.ts
Due: Application System API

chore: updat elogo
  libs/portals/my-pages/education/src/screens/UniversityGraduationDetail/UniversityGraduationDetail.tsx
Due: none

feat: update link button
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileage.tsx
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileageSubData.tsx
  libs/portals/my-pages/core/src/components/InfoLine/InfoLine.tsx
  libs/portals/my-pages/core/src/components/LinkButton/LinkButton.tsx
  libs/portals/my-pages/core/src/components/UserInfoLine/UserInfoLine.tsx
  libs/portals/my-pages/finance/src/screens/FinanceTransactionsVehicleMileage/FinanceTransactionsVehicleMileage.tsx
  libs/portals/my-pages/health/src/components/FootNote/helper.tsx
  libs/portals/my-pages/health/src/components/Table/HealthTable.tsx
  libs/portals/my-pages/health/src/screens/AidsAndNutrition/Aids.tsx
  libs/portals/my-pages/health/src/screens/AidsAndNutrition/Nutrition.tsx
  libs/portals/my-pages/health/src/screens/Payments/wrapper/PaymentsWrapper.tsx
  libs/portals/my-pages/health/src/screens/Therapies/components/TherapiesTabContent/TherapiesTabContent.tsx
  libs/portals/my-pages/health/src/screens/Vaccinations/tables/SortedVaccinationsTable.tsx
  libs/portals/my-pages/licenses/src/utils/dataMapper.tsx
  libs/portals/my-pages/social-insurance-maintenance/src/screens/PaymentPlan/PaymentPlan.tsx
Due: none

fix(j-s): flashing logo when user is undefined
  apps/judicial-system/web/src/components/Logo/Logo.tsx
Due: none

chore: comment paths
  libs/portals/my-pages/assets/src/lib/paths.ts
  libs/portals/my-pages/finance/src/lib/paths.ts
Due: none

chore: remove logs
  libs/portals/my-pages/core/src/components/LinkButton/LinkButton.tsx
Due: none

feat: update config and cleanup
  libs/api/domains/documents/src/lib/models/v2/actions.ts
  libs/api/domains/documents/src/lib/models/v2/base.model.ts
  libs/api/domains/documents/src/lib/models/v2/category.model.ts
  libs/api/domains/documents/src/lib/models/v2/sender.model.ts
  libs/api/domains/documents/src/lib/models/v2/type.model.ts
  libs/clients/documents-v2/project.json
  libs/clients/documents-v2/src/clientConfig.json
Due: Portal GraphQL

chore: fix undefined name
  libs/api/domains/license-service/src/lib/mappers/identityDocumentMapper.ts
Due: Portal GraphQL

fix: build
  libs/application/templates/examples/example-auth-delegation/src/utils/constants.ts
Due: Application System API

chore(license-service): remove bad logs (#18892)
  libs/clients/license-client/src/lib/clients/adr-license-client/adrLicenseClient.service.ts
  libs/clients/license-client/src/lib/clients/disability-license-client/services/disabilityLicenseClient.service.ts
  libs/clients/license-client/src/lib/clients/driving-license-client/services/drivingLicenseClient.service.ts
  libs/clients/license-client/src/lib/clients/hunting-license-client/huntingLicenseClient.service.ts
  libs/clients/license-client/src/lib/clients/machine-license-client/machineLicenseClient.service.ts
Due: none

chore: revert
  apps/web/components/events/EventList.tsx
Due: none

Move description and change subtitle
  apps/web/screens/Organization/Bloodbank/BloodDonationRestrictionDetails.tsx
  apps/web/screens/Organization/Bloodbank/BloodDonationRestrictionList.tsx
  apps/web/screens/Organization/Bloodbank/messages.strings.ts
Due: none

Fix id
  apps/web/screens/Organization/Bloodbank/messages.strings.ts
Due: none

feat(my-pages-assets): Add link to finance mileage transactions (#18923)
  libs/portals/my-pages/assets/src/lib/messages.ts
  libs/portals/my-pages/assets/src/lib/paths.ts
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileage.tsx
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileageSubData.tsx
  libs/portals/my-pages/core/src/components/InfoLine/InfoLine.tsx
  libs/portals/my-pages/core/src/components/LinkButton/LinkButton.tsx
  libs/portals/my-pages/core/src/components/UserInfoLine/UserInfoLine.tsx
  libs/portals/my-pages/finance/src/lib/paths.ts
  libs/portals/my-pages/finance/src/screens/FinanceTransactionsVehicleMileage/FinanceTransactionsVehicleMileage.tsx
  libs/portals/my-pages/health/src/components/FootNote/helper.tsx
  libs/portals/my-pages/health/src/components/Table/HealthTable.tsx
  libs/portals/my-pages/health/src/screens/AidsAndNutrition/Aids.tsx
  libs/portals/my-pages/health/src/screens/AidsAndNutrition/Nutrition.tsx
  libs/portals/my-pages/health/src/screens/Payments/wrapper/PaymentsWrapper.tsx
  libs/portals/my-pages/health/src/screens/Therapies/components/TherapiesTabContent/TherapiesTabContent.tsx
  libs/portals/my-pages/health/src/screens/Vaccinations/tables/SortedVaccinationsTable.tsx
  libs/portals/my-pages/licenses/src/utils/dataMapper.tsx
  libs/portals/my-pages/social-insurance-maintenance/src/screens/PaymentPlan/PaymentPlan.tsx
Due: none

fix: revert event list change
  apps/web/components/events/EventList.tsx
Due: none

TS-1019 Add async union endpoint
  libs/api/domains/social-insurance/src/lib/models/general/union.model.ts
  libs/api/domains/social-insurance/src/lib/resolvers/general.resolver.ts
  libs/api/domains/social-insurance/src/lib/resolvers/index.ts
  libs/api/domains/social-insurance/src/lib/socialInsurance.module.ts
  libs/api/domains/social-insurance/src/lib/socialInsurance.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/application/templates/social-insurance-administration/core/codegen.yml
  libs/application/templates/social-insurance-administration/core/project.json
  libs/application/templates/social-insurance-administration/core/src/graphql/queries.ts
  libs/application/templates/social-insurance-administration/core/src/index.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/generalInformationSection/unionSickPaySubSection.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/Prerequisites/externalDataSubSection.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/MedicalAndRehabilitationPaymentsTemplate.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.service.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.type.ts
Due: Portal GraphQL, Application System API

fix(grants): ordering (#18891)
  apps/web/screens/Grants/SearchResults/SearchResults.tsx
  libs/cms/src/lib/cms.elasticsearch.service.ts
Due: none

fixing empty line error
  libs/application/templates/aosh/training-license-on-a-work-machine/src/utils/index.ts
Due: Application System API

fix(j-s): show skeleton loader during load for all cases
  apps/judicial-system/web/src/components/UserProvider/UserProvider.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/AllCases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/Cases.tsx
Due: none

fix: import FSIUSERTYPE elsewere
  libs/application/template-api-modules/src/lib/modules/templates/financial-statement-individual-election/financial-statement-individual-election.service.ts
  libs/application/templates/inao/financial-statement-individual-election/src/index.ts
Due: Application System API

fix(training-license-on-a-work-machine): fixes (#18928)
  libs/application/templates/aosh/training-license-on-a-work-machine/src/utils/index.ts
Due: Application System API

feat: auth delegation example application
  libs/application/template-api-modules/src/lib/modules/templates/examples/example-auth-delegation/example-auth-delegation.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/examples/example-auth-delegation/example-auth-delegation.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/index.ts
  libs/application/template-loader/src/lib/templateLoaders.ts
  libs/application/templates/examples/README.md
  libs/application/templates/examples/example-auth-delegation/.babelrc
  libs/application/templates/examples/example-auth-delegation/.eslintrc.json
  libs/application/templates/examples/example-auth-delegation/README.md
  libs/application/templates/examples/example-auth-delegation/jest.config.ts
  libs/application/templates/examples/example-auth-delegation/project.json
  libs/application/templates/examples/example-auth-delegation/src/dataProviders/index.ts
  libs/application/templates/examples/example-auth-delegation/src/forms/completedForm/index.ts
  libs/application/templates/examples/example-auth-delegation/src/forms/mainForms/overview.ts
  libs/application/templates/examples/example-auth-delegation/src/forms/mainForms/powerOfAttorneyForm/aboutSection.ts
  libs/application/templates/examples/example-auth-delegation/src/forms/mainForms/powerOfAttorneyForm/index.ts
  libs/application/templates/examples/example-auth-delegation/src/forms/mainForms/procureForm/aboutSection.ts
  libs/application/templates/examples/example-auth-delegation/src/forms/mainForms/procureForm/index.ts
  libs/application/templates/examples/example-auth-delegation/src/forms/mainForms/regularLoginForm/aboutSection.ts
  libs/application/templates/examples/example-auth-delegation/src/forms/mainForms/regularLoginForm/index.ts
  libs/application/templates/examples/example-auth-delegation/src/forms/mainForms/rolesSection.ts
  libs/application/templates/examples/example-auth-delegation/src/forms/prerequisitesForm/powerOfAttorneyForm/index.ts
  libs/application/templates/examples/example-auth-delegation/src/forms/prerequisitesForm/procureForm/index.ts
  libs/application/templates/examples/example-auth-delegation/src/forms/prerequisitesForm/regularLoginForm/index.ts
  libs/application/templates/examples/example-auth-delegation/src/index.ts
  libs/application/templates/examples/example-auth-delegation/src/lib/dataSchema.ts
  libs/application/templates/examples/example-auth-delegation/src/lib/messages.ts
  libs/application/templates/examples/example-auth-delegation/src/lib/template.ts
  libs/application/templates/examples/example-auth-delegation/src/utils/constants.ts
  libs/application/templates/examples/example-auth-delegation/src/utils/getOverviewItems.ts
  libs/application/templates/examples/example-auth-delegation/tsconfig.json
  libs/application/templates/examples/example-auth-delegation/tsconfig.lib.json
  libs/application/templates/examples/example-auth-delegation/tsconfig.spec.json
  libs/application/types/src/lib/ApplicationTypes.ts
  libs/application/types/src/lib/InstitutionMapper.ts
  tsconfig.base.json
Due: Application System API

feat: load the same conclusion form for all roles
  libs/application/templates/examples/example-auth-delegation/src/lib/template.ts
Due: Application System API

chore: remove comments
  libs/application/template-api-modules/src/lib/modules/templates/examples/example-auth-delegation/example-auth-delegation.service.ts
Due: Application System API

fix: use the right message prefix
  libs/application/templates/examples/example-auth-delegation/src/lib/messages.ts
Due: Application System API

chore: remove console.log
  libs/application/templates/examples/example-auth-delegation/src/lib/template.ts
Due: Application System API

chore: add a feture flag
  libs/application/templates/examples/example-auth-delegation/src/lib/template.ts
Due: Application System API

chore: order alphabetically in templateLoader
  libs/application/template-loader/src/lib/templateLoaders.ts
Due: Application System API

updating config
  libs/application/templates/complaints-to-althingi-ombudsman/src/forms/ComplaintsToAlthingiOmbudsmanApplication.ts
  libs/clients/althingi-ombudsman/src/clientConfig.yml
Due: Application System API

fix(health-insurance-declaration): strange message (#18900)
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/examples/example-inputs/src/forms/mainForm/simpleInputsSection/dateSubsection.ts
  libs/application/templates/examples/example-inputs/src/utils/dateUtils.ts
  libs/application/templates/health-insurance-declaration/src/fields/applicantList.tsx
  libs/application/templates/health-insurance-declaration/src/forms/HealthInsuranceDeclarationForm.ts
  libs/application/templates/health-insurance-declaration/src/forms/Submitted.ts
  libs/application/templates/health-insurance-declaration/src/forms/healthInsuranceDeclarationForm/applicantInfoSection.ts
  libs/application/templates/health-insurance-declaration/src/forms/healthInsuranceDeclarationForm/dateSection.ts
  libs/application/templates/health-insurance-declaration/src/forms/healthInsuranceDeclarationForm/educationalConfirmationSection.ts
  libs/application/templates/health-insurance-declaration/src/forms/healthInsuranceDeclarationForm/index.ts
  libs/application/templates/health-insurance-declaration/src/forms/healthInsuranceDeclarationForm/noHealthInsuranceSection.ts
  libs/application/templates/health-insurance-declaration/src/forms/healthInsuranceDeclarationForm/overviewSection.ts
  libs/application/templates/health-insurance-declaration/src/forms/healthInsuranceDeclarationForm/registerPersonsSection.ts
  libs/application/templates/health-insurance-declaration/src/forms/healthInsuranceDeclarationForm/studentOrTouristSection.ts
  libs/application/templates/health-insurance-declaration/src/forms/healthInsuranceDeclarationForm/studentResidencySection.ts
  libs/application/templates/health-insurance-declaration/src/forms/healthInsuranceDeclarationForm/touristResidencySection.ts
  libs/application/templates/health-insurance-declaration/src/lib/HealthInsuranceDeclarationTemplate.ts
  libs/application/templates/health-insurance-declaration/src/lib/dataSchema.ts
  libs/application/templates/health-insurance-declaration/src/lib/messages/application.ts
  libs/application/templates/health-insurance-declaration/src/lib/messages/conclution.ts
  libs/application/templates/health-insurance-declaration/src/utils/data.ts
  libs/application/templates/health-insurance-declaration/src/utils/dates.ts
  libs/application/templates/health-insurance-declaration/src/utils/index.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/DateFormField/DateFormField.tsx
Due: Application System API

First demo
  apps/judicial-system/api/src/app/app.module.ts
  apps/judicial-system/api/src/app/modules/backend/backend.service.ts
  apps/judicial-system/api/src/app/modules/case-table/caseTable.module.ts
  apps/judicial-system/api/src/app/modules/case-table/caseTable.resolver.ts
  apps/judicial-system/api/src/app/modules/case-table/dto/caseTable.input.ts
  apps/judicial-system/api/src/app/modules/case-table/dto/caseTable.response.ts
  apps/judicial-system/api/src/app/modules/case-table/dto/caseTables.response.ts
  apps/judicial-system/api/src/app/modules/case-table/index.ts
  apps/judicial-system/api/src/app/modules/index.ts
  apps/judicial-system/api/src/app/modules/victim/index.ts
  apps/judicial-system/backend/src/app/app.module.ts
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.controller.ts
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.module.ts
  apps/judicial-system/backend/src/app/modules/case-table/dto/caseTable.response.ts
  apps/judicial-system/backend/src/app/modules/case-table/dto/caseTables.response.ts
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/defendant/models/civilClaimant.model.ts
  apps/judicial-system/backend/src/app/modules/index.ts
  apps/judicial-system/backend/src/app/modules/subpoena/models/subpoena.model.ts
  apps/judicial-system/web/pages/landsrettur/malalisti/[table].ts
  apps/judicial-system/web/pages/landsrettur/malalisti/index.ts
  apps/judicial-system/web/src/components/Table/GenericTable.tsx
  apps/judicial-system/web/src/components/Table/index.ts
  apps/judicial-system/web/src/routes/CourtOfAppeal/Table/Table.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Table/caseTable.graphql
  apps/judicial-system/web/src/routes/CourtOfAppeal/Tables/Tables.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Tables/caseTables.graphql
  libs/judicial-system/audit-trail/src/lib/auditTrail.service.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/caseTable.ts
Due: none
