Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fixing based on PR comment, cleaning up FindVehicleFormField
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/utils/getSelectedVehicle.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/utils/getSelectedVehicle.ts
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/utils/getSelectedVehicle.ts
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/utils/getSelectedVehicle.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/dataSchema.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/utils/getSelectedVehicle.ts
  libs/application/ui-fields/src/lib/FindVehicleFormField/FindVehicleFormField.tsx
Due: Application System API

Started working on updating indictmentDescription
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Defendant/Defendant.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
Due: none

chore(core): Add @island-is/origo-auth as Codeowner for auth lib seeders file (#13766)
  .github/CODEOWNERS
Due: none

Rename translation strings
  apps/web/hooks/useLinkResolver/useLinkResolver.ts
  apps/web/pages/s/tryggingastofnun/reiknivel/nidurstodur/index.ts
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/translationStrings.ts
Due: none

initial commit
  libs/clients/transport-authority/vehicle-owner-change/project.json
  libs/clients/transport-authority/vehicle-owner-change/src/clientConfig.json
Due: none

Fixed the UI for the searching for specific vehicle by plate and functionality, still needs some error handling
  libs/api/domains/transport-authority/src/lib/graphql/models/getCurrentVehicles.model.ts
  libs/api/domains/transport-authority/src/lib/transportAuthority.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/transfer-of-vehicle-ownership/transfer-of-vehicle-ownership.service.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/graphql/queries.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/dataSchema.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/messages/information.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/shared/types.ts
Due: Portal GraphQL, Application System API

feat(j-s): Handle defender withdrawal
  apps/judicial-system/backend/src/app/modules/case/filters/case.filter.ts
  apps/judicial-system/backend/src/app/modules/case/filters/cases.filter.ts
  apps/judicial-system/backend/src/app/modules/case/guards/rolesRules.ts
  apps/judicial-system/web/src/components/Table/PastCasesTable/PastCasesTable.tsx
  apps/judicial-system/web/src/components/TagAppealState/TagAppealState.tsx
  apps/judicial-system/web/src/routes/Defender/Cases/components/DefenderCasesTable.tsx
  apps/judicial-system/web/src/routes/Defender/Cases/defenderCases.graphql
Due: none

Adding not found error
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/messages/information.ts
Due: Application System API

Fix for too many vehicles in some forms, not ready
  libs/api/domains/transport-authority/src/lib/graphql/models/getCurrentVehicles.model.ts
  libs/api/domains/transport-authority/src/lib/transportAuthority.service.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/shared/types.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/utils/getSelectedVehicle.ts
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/lib/messages/information.ts
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/shared/types.ts
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/graphql/queries.ts
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/hooks/useLazyVehicleDetails.ts
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/lib/messages/information.ts
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/shared/types.ts
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/utils/getSelectedVehicle.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/graphql/queries.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/utils/getSelectedVehicle.ts
Due: Portal GraphQL, Application System API

Added fix for rest of the forms, still need to look into order-vehiucle-license-plate and order-vehicle-registration-certificate, as the API for SGS wasn't working
  libs/api/domains/transport-authority/src/lib/transportAuthority.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/change-co-owner-of-vehicle/change-co-owner-of-vehicle.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/change-operator-of-vehicle/change-operator-of-vehicle.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/order-vehicle-license-plate/order-vehicle-license-plate.service.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/graphql/queries.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/lib/messages/information.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/shared/types.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/utils/getSelectedVehicle.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/CoOwner/index.tsx
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/graphql/queries.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/lib/messages/information.ts
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/utils/getSelectedVehicle.ts
Due: Portal GraphQL, Application System API

Fixing rest of SGS applications
  libs/application/template-api-modules/src/lib/modules/shared/api/vehicles/vehicles.service.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/graphql/queries.ts
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/utils/getSelectedVehicle.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/index.tsx
Due: Application System API

Fixing infra setup bug in geoip mapped volume. Creating migration script to clear current ip lookups due to them being unreliable.
  apps/services/sessions/infra/sessions.ts
  apps/services/sessions/migrations/20240214153321-clear-ip-location-column.js
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

cleaning up console logs
  libs/api/domains/transport-authority/src/lib/transportAuthority.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/order-vehicle-license-plate/order-vehicle-license-plate.service.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/utils/getSelectedVehicle.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/index.tsx
Due: Portal GraphQL, Application System API

Resolving PR comments
  libs/api/domains/transport-authority/src/lib/transportAuthority.service.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/lib/messages/information.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/lib/messages/information.ts
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/lib/messages/information.ts
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/lib/messages/information.ts
Due: Portal GraphQL, Application System API

Adding a shared FindVehicle Component
  libs/api/domains/transport-authority/src/lib/transportAuthority.service.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/lib/messages/information.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/lib/messages/information.ts
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/lib/messages/information.ts
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/lib/messages/information.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/VehicleFindField.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/messages/information.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/FindVehicleFormField/FindVehicleFormField.tsx
  libs/application/ui-fields/src/lib/index.ts
Due: Portal GraphQL, Application System API

removing unused
  libs/api/domains/transport-authority/src/lib/graphql/models/getCurrentVehicles.model.ts
Due: Portal GraphQL

removing console.logs
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/index.tsx
Due: Application System API

Using field.Id in the FindVehicleFormField
  libs/application/ui-fields/src/lib/FindVehicleFormField/FindVehicleFormField.tsx
Due: none

feat(web): Use default footer for social insurance administration (TR) (#13784)
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
Due: none

Update Readme
  apps/web/README.md
Due: none

fix(parental-leave): Remove UploadAdditionalFilesInfoScreen (#13753)
  libs/application/templates/parental-leave/src/fields/UploadAdditionalFilesInfoScreen/index.tsx
  libs/application/templates/parental-leave/src/fields/index.ts
  libs/application/templates/parental-leave/src/forms/AdditionalDocumentsRequired.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/clients/transport-authority/vehicle-owner-change/src/clientConfig.json
Due: none

changing vlaue for FindVehicleFormFiled
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/index.tsx
Due: Application System API

removing testing value from FindVehicleFormField
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/index.tsx
Due: Application System API

Add values into config
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.tsx
Due: none

[UUFV-412] Add validation to language question
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.utils.ts
  libs/application/templates/parental-leave/src/constants.ts
  libs/application/templates/parental-leave/src/fields/Review/Review.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/BaseInformation.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/Employment.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/OtherParent.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/Payments.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/Periods.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/PersonalAllowance.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/SpousePersonalAllowance.tsx
  libs/application/templates/parental-leave/src/forms/ParentalLeaveForm.ts
  libs/application/templates/parental-leave/src/lib/dataSchema.ts
  libs/application/templates/parental-leave/src/lib/messages.ts
Due: Application System API

Add more robust way to group calculation items
  apps/web/screens/CustomPage/CustomPageWrapper.tsx
  libs/api/domains/social-insurance/src/lib/socialInsurance.module.ts
  libs/api/domains/social-insurance/src/lib/socialInsurance.service.ts
  libs/api/domains/social-insurance/src/lib/utils.ts
  libs/cms/src/index.ts
  libs/cms/src/lib/cms.elasticsearch.service.ts
  libs/cms/src/lib/cms.resolver.ts
  libs/cms/src/lib/dto/getCustomPage.input.ts
Due: Portal GraphQL

Add translations strings for group names
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculatorResults.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/translationStrings.ts
Due: none

Add comments
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculatorResults.tsx
  libs/api/domains/social-insurance/src/lib/utils.ts
Due: Portal GraphQL

Fix type error
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculatorResults.tsx
Due: none

Fix table name in migration script. Add init script for postgres docker used to start local db to enable uuid-ossp extension used in the migration scripts.
  apps/services/sessions/docker-compose.yml
  apps/services/sessions/local-db/extensions.sql
  apps/services/sessions/migrations/20240214153321-clear-ip-location-column.js
Due: none

fix(parental-leave): Remove useApplicationAnswers and useStatefulAnswers from hooks (#13783)
  libs/application/templates/parental-leave/src/fields/ConclusionSectionImage/ConclusionImageScreen.tsx
  libs/application/templates/parental-leave/src/fields/EmployerApprovalExtraInformation/index.tsx
  libs/application/templates/parental-leave/src/fields/InReviewSteps/index.tsx
  libs/application/templates/parental-leave/src/fields/Review/Review.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/BaseInformation.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/Employment.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/OtherParent.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/Payments.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/PersonalAllowance.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/SpousePersonalAllowance.tsx
  libs/application/templates/parental-leave/src/fields/Rights/SummaryRights.tsx
  libs/application/templates/parental-leave/src/fields/Rights/YourRightsBoxChart.tsx
  libs/application/templates/parental-leave/src/hooks/useApplicationAnswers.ts
  libs/application/templates/parental-leave/src/hooks/useDaysAlreadyUsed.ts
  libs/application/templates/parental-leave/src/hooks/useStatefulAnswers.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API

fix(j-s): merge
  apps/judicial-system/web/src/routes/CourtOfAppeal/components/CaseNumberInput/CaseNumberInput.tsx
Due: none

fix(sessions): Fixing infra setup bug in geoip mapped volume. (#13787)
  apps/services/sessions/docker-compose.yml
  apps/services/sessions/infra/sessions.ts
  apps/services/sessions/local-db/extensions.sql
  apps/services/sessions/migrations/20240214153321-clear-ip-location-column.js
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

Reverting input change
  apps/web/screens/UniversitySearch/LandingPage.tsx
Due: none

chore: nx format:write update dirty files
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.tsx
Due: none

Remove unused import
  apps/judicial-system/web/src/utils/mocks.ts
Due: none

chore(j-s): Add context menu for all appeal case files (#13751)
  apps/judicial-system/web/src/components/AppealCaseFilesOverview/AppealCaseFilesOverview.css.ts
  apps/judicial-system/web/src/components/AppealCaseFilesOverview/AppealCaseFilesOverview.spec.tsx
  apps/judicial-system/web/src/components/AppealCaseFilesOverview/AppealCaseFilesOverview.tsx
  apps/judicial-system/web/src/components/ContextMenu/ContextMenu.strings.ts
  apps/judicial-system/web/src/components/PdfButton/PdfButton.css.ts
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
  apps/judicial-system/web/src/utils/mocks.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
