Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Send timestamp
  apps/web/components/ChatPanel/WatsonChatPanel/WatsonChatPanel.tsx
  libs/api/domains/watson-assistant-chat/src/lib/watson-assistant-chat.service.ts
Due: Portal GraphQL

chore(j-s): Log error when codeVerifier generation fails (#13557)
  apps/judicial-system/api/src/app/modules/auth/auth.controller.ts
Due: none

Improve UX
  apps/web/components/ChatPanel/WatsonChatPanel/WatsonChatPanel.tsx
Due: none

feat: remove soffia from education
  apps/api/src/app/app.module.ts
  libs/api/domains/education/src/lib/education.module.ts
  libs/api/domains/education/src/lib/education.service.ts
  libs/api/domains/education/src/lib/education.type.ts
  libs/api/domains/education/src/lib/graphql/main.resolver.ts
Due: Portal GraphQL

fix(signature-collection): tweaks after backend update (#13598)
  libs/portals/admin/signature-collection/src/module.tsx
  libs/service-portal/signature-collection/src/screens/CandidateView/CancelCollection/index.tsx
  libs/service-portal/signature-collection/src/screens/SigneeView/index.tsx
Due: none

KAM-2095: await ctx
  apps/consultation-portal/pages/mal/[slug].tsx
Due: none

Setting up service and configuring client
  apps/api/src/app/app.module.ts
  libs/clients/dmr/project.json
  libs/clients/dmr/src/clientConfig.json
  libs/clients/dmr/src/index.ts
  libs/clients/dmr/src/lib/clients-dmr.module.ts
  libs/clients/dmr/src/lib/dmrClient.config.ts
  libs/clients/dmr/src/lib/dmrClient.module.ts
  libs/clients/dmr/src/lib/dmrClient.service.ts
Due: Portal GraphQL

fix(consultation-portal): KAM-2095: await ctx (#13631)
  apps/consultation-portal/pages/mal/[slug].tsx
Due: none

fix(j-s): routes
  apps/judicial-system/web/pages/landsrettur/nidurfelling/[id].ts
  libs/judicial-system/consts/src/lib/consts.ts
Due: none

feat(j-s): routing
  apps/judicial-system/web/src/routes/CourtOfAppeal/WithdrawnAppealCase/WithdrawnAppealCase.tsx
  apps/judicial-system/web/src/utils/hooks/useCaseList/index.tsx
Due: none

fix(j-s): decision update
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
Due: none

feat: update tests
  libs/api/domains/education/src/lib/__mock-data__/my-family.ts
  libs/api/domains/education/src/lib/education.service.ts
  libs/api/domains/education/src/lib/education.spec.ts
Due: Portal GraphQL

feat(j-s): handle withdrawal on result page
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.strings.ts
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.tsx
Due: none

fix(consultation-portal): KAM-2095: await ctx (#13631) (#13632)
  apps/consultation-portal/pages/mal/[slug].tsx
Due: none

Update types
  libs/api/domains/social-insurance/src/lib/socialInsurance.service.ts
  libs/clients/social-insurance-administration/src/clientConfig.json
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.service.ts
Due: Portal GraphQL

making connection between veita and backend for api keys
  apps/financial-aid/api/src/app/app.module.ts
  apps/financial-aid/api/src/app/modules/apiKeys/apiKey.module.ts
  apps/financial-aid/api/src/app/modules/apiKeys/apiKey.resolver.ts
  apps/financial-aid/api/src/app/modules/apiKeys/dto/createApiKey.input.ts
  apps/financial-aid/api/src/app/modules/apiKeys/dto/index.ts
  apps/financial-aid/api/src/app/modules/apiKeys/index.ts
  apps/financial-aid/api/src/app/modules/apiKeys/models/apiKeys.model.ts
  apps/financial-aid/api/src/app/modules/apiKeys/models/index.ts
  apps/financial-aid/api/src/app/modules/index.ts
  apps/financial-aid/api/src/services/backend.ts
  apps/financial-aid/backend/src/app/app.module.ts
  apps/financial-aid/backend/src/app/guards/apiKey.guard.ts
  apps/financial-aid/backend/src/app/modules/municipality/municipality.module.ts
  apps/financial-aid/backend/src/app/modules/municipality/municipality.service.ts
  apps/financial-aid/backend/src/app/modules/municipalityApiUsers/user.controller.ts
  apps/financial-aid/backend/src/app/modules/municipalityApiUsers/user.module.ts
  apps/financial-aid/backend/src/app/modules/municipalityApiUsers/user.service.ts
  apps/financial-aid/web-veita/src/components/MunicipalityAdminSettings/MunicipalityAdminSettings.tsx
  apps/financial-aid/web-veita/src/utils/useMunicipalities.ts
  libs/financial-aid/shared/src/lib/interfaces.ts
Due: none

allowing admins to see name and key
  apps/financial-aid/backend/src/app/modules/municipalityApiUsers/user.controller.ts
  apps/financial-aid/web-veita/src/components/MunicipalityAdminSettings/MunicipalityAdminSettings.tsx
  apps/financial-aid/web-veita/src/utils/useMunicipalities.ts
  libs/financial-aid/shared/src/lib/interfaces.ts
Due: none

Stop scrolling to top on every page
  apps/judicial-system/web/src/components/ContextMenu/ContextMenu.css.ts
  apps/judicial-system/web/src/components/PageLayout/PageLayout.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/ActiveCases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/Cases.strings.ts
Due: none

fix(service-portal): signature collection updated ui
  libs/application/templates/signature-collection/signature-list-creation/src/forms/Done.ts
  libs/service-portal/signature-collection/src/components/SignedList/index.tsx
  libs/service-portal/signature-collection/src/hooks/index.ts
  libs/service-portal/signature-collection/src/lib/messages.ts
  libs/service-portal/signature-collection/src/screens/CandidateView/CancelCollection/index.tsx
  libs/service-portal/signature-collection/src/screens/CandidateView/ViewList/index.tsx
  libs/service-portal/signature-collection/src/screens/CandidateView/index.tsx
  libs/service-portal/signature-collection/src/screens/SigneeView/index.tsx
Due: Application System API

Cleanup
  apps/judicial-system/web/messages/Core/tables.ts
  apps/judicial-system/web/src/routes/Shared/Cases/ActiveCases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/Cases.css.ts
Due: none

Use async/await instead of .catch for simpler test setup. Add test case for the IDS unavailable error state. Add test case for 3rd party initiated login.
  libs/auth/react/src/lib/auth/AuthProvider.spec.tsx
  libs/auth/react/src/lib/auth/AuthProvider.tsx
Due: none

Add overrideCacheControl in client-statistics as drive cache-control header sets no-cache directives.
  libs/clients/statistics/src/lib/fetchConfig.ts
Due: none

Enable withCache debugging logs for clients-statistics enhancedFetch client.
  apps/api/infra/api.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: Portal GraphQL

Handle change on AppealToCourtOfAppeals page
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealCaseFiles.tsx
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.tsx
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
Due: none

Use real PDF
  apps/system-e2e/src/tests/judicial-system/utils/helpers.ts
Due: none

Order alphabetically
  apps/web/components/Organization/Slice/Render/SliceDropdown.tsx
  apps/web/screens/queries/fragments.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/sliceDropdown.model.ts
Due: none

Handle remove on AppealToCourtOfAppeals page
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.tsx
Due: none

Use new contentful field to determine ordering
  apps/web/components/Organization/Slice/Render/SliceDropdown.tsx
  apps/web/utils/richText.tsx
Due: none

Add health overveiw scope
  apps/service-portal/src/auth.ts
  libs/auth/scopes/src/lib/api.scope.ts
  libs/service-portal/health/src/lib/navigation.ts
  libs/service-portal/health/src/lib/paths.ts
  libs/service-portal/health/src/module.tsx
Due: none

Removing string that does not need translation
  apps/web/components/Organization/Wrapper/Themes/UniversityStudiesTheme/UniversityStudiesFooter.tsx
Due: none

string fix
  libs/service-portal/health/src/lib/messages.ts
  libs/service-portal/health/src/lib/navigation.ts
  libs/service-portal/health/src/module.tsx
Due: none

Add scope to resolver
  libs/api/domains/rights-portal/src/lib/overview/overview.resolver.ts
Due: Portal GraphQL

adding review
  libs/application/templates/university/src/fields/EducationDetails/DetailsRepeaterItem.tsx
  libs/application/templates/university/src/fields/EducationDetails/index.tsx
  libs/application/templates/university/src/forms/UniversityForm/FormerEducation/index.ts
  libs/application/templates/university/src/forms/UniversityForm/index.ts
  libs/application/templates/university/src/lib/dataSchema.ts
Due: Application System API

fix(web): Remove sidebarcards on organization subpages in mobile (#13620)
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
  apps/web/screens/Organization/Home/Home.tsx
Due: none

feat: add link to footer
  libs/service-portal/health/src/screens/Payments/wrapper/PaymentsWrapper.tsx
Due: none

Handle upload
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.strings.ts
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.tsx
Due: none

Minor changes
  libs/api/domains/syslumenn/src/lib/syslumenn.resolver.ts
  libs/application/templates/estate/src/fields/LookupPerson/index.tsx
  libs/clients/syslumenn/src/lib/syslumennClient.service.ts
Due: Portal GraphQL, Application System API

feat(parental-leave): Remove employer on review no employer (#13618)
  libs/application/templates/parental-leave/src/fields/EditOrAddEmployersAndPeriodsReview/Review.css.ts
  libs/application/templates/parental-leave/src/fields/EditOrAddEmployersAndPeriodsReview/index.tsx
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.spec.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API
