Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fix(payments): sca redirect url from blikk (#23474) (#23485)
  apps/payments/components/BankTransferPayment/BankTransferPayment.utils.spec.ts
  apps/payments/components/BankTransferPayment/BankTransferPayment.utils.ts
  apps/payments/components/BankTransferPendingScreen/BankTransferPendingScreen.tsx
  apps/payments/components/BankTransferQrCode/BankTransferQrCode.tsx
  apps/payments/messages/bankTransfer.ts
  apps/payments/pages/[locale]/[paymentFlowId]/index.tsx
  apps/services/payments/src/app/bankTransferPayment/README.md
  apps/services/payments/src/app/bankTransferPayment/bankTransfer.service.spec.ts
  apps/services/payments/src/app/bankTransferPayment/bankTransfer.service.ts
  apps/services/payments/src/app/bankTransferPayment/bankTransfer.utils.spec.ts
  apps/services/payments/src/app/bankTransferPayment/bankTransfer.utils.ts
  libs/clients/blikk/src/lib/blikkClient.service.spec.ts
  libs/clients/blikk/src/lib/blikkClient.service.ts
Due: none

feat(doe): Abendingar, extra-pay table, chart parity and a separate outlier step
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-equality/directorate-of-equality.service.ts
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierGroupPanel.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/PayComponentsTable.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/PayDispersionTable.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryDistributionChart.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryImprovementPlan.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/StatisticsCard.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/index.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/draftRetryForm/draftRetryReportSummarySection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/mainForm/overviewSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/mainForm/salaryAnalysisSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/postponedForm/index.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/postponedForm/postponedReportSummarySection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/dataSchema.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/constants.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/payComponents.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/payComponents.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/wageGap.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/wageGap.ts
  libs/clients/directorate-of-equality/src/clientConfig.json
Due: Application System API

chore: format update dirty file
  apps/judicial-system/web/src/components/RichTextEditor/RichTextEditor.tsx
Due: none

fix: post-release hotfixes (delegation notify, web 404 redirect, image cache) (#23486)
  apps/web/next.config.js
  apps/web/utils/fetch404RedirectUrl.ts
  libs/auth-api-lib/src/lib/delegations/delegations-outgoing.service.ts
Due: none

fix(driving-license): explain the extended-licence 65+ block and log RLS error codes
  libs/api/domains/driving-license/src/lib/drivingLicense.service.ts
  libs/application/templates/driving-license/src/lib/messages.ts
Due: Portal GraphQL, Application System API

refactor: skip to analysis if excel upload
  libs/application/templates/directorate-of-equality/salary-report/src/fields/ExcelTemplateDownload/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
Due: Application System API

Remove comment
  apps/web/infra/web.ts
Due: none

fix: submit 409 error
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-equality/directorate-of-equality.service.ts
  libs/application/templates/directorate-of-equality/salary-report/src/index.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
Due: Application System API

Update health.service.ts
  apps/download-service/src/app/modules/health/conversations-attachment.controller.ts
  libs/clients/health-directorate/src/lib/clients/health/health.service.ts
Due: none

Update health.service.ts
  libs/clients/health-directorate/src/lib/clients/health/health.service.ts
Due: none

fix: draft overwrite + text
  libs/application/templates/directorate-of-equality/salary-report/src/fields/ExcelTemplateDownload/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/forms/mainForm/reportSection/dataEntrySubSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
Due: Application System API

revert: filename in string
  libs/application/templates/directorate-of-equality/salary-report/src/fields/ExcelTemplateDownload/index.tsx
Due: Application System API

Add total sum tracker to footer
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/pay-debts/src/forms/mainForm/debtsSection.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/StickyFooterField/StickyFooterFormField.tsx
Due: Application System API

feat(native-app): implement renewal flow
  apps/native/app/src/app/(auth)/(modals)/renew-prescription.tsx
  apps/native/app/src/app/(auth)/_layout.tsx
  apps/native/app/src/components/health-tabs/prescriptions-tab.tsx
  apps/native/app/src/graphql/queries/health.graphql
  apps/native/app/src/messages/en.ts
  apps/native/app/src/messages/is.ts
  apps/native/app/src/ui/lib/button/button.tsx
Due: none

fix(j-s): Do not persist whitespace-only input (#23430)
  apps/judicial-system/web/src/components/Inputs/InputName.spec.tsx
  apps/judicial-system/web/src/components/Inputs/InputName.tsx
  apps/judicial-system/web/src/components/TinyMCE/richTextNormalization.spec.ts
  apps/judicial-system/web/src/components/TinyMCE/richTextNormalization.ts
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtSessionAccordionItem.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Defendant/PoliceCaseList/PoliceCase/PoliceCase.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/DefendantInfo/DefendantInfo.spec.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/DefendantInfo/DefendantInfo.tsx
  apps/judicial-system/web/src/utils/formHelper.spec.ts
  apps/judicial-system/web/src/utils/formHelper.ts
  apps/judicial-system/web/src/utils/formatters.spec.ts
  apps/judicial-system/web/src/utils/formatters.ts
  apps/judicial-system/web/src/utils/hooks/useCase/index.ts
  apps/judicial-system/web/src/utils/hooks/useCaseAppealDecision/index.ts
  apps/judicial-system/web/src/utils/hooks/useCivilClaimants/index.ts
  apps/judicial-system/web/src/utils/hooks/useCourtSessions/index.ts
  apps/judicial-system/web/src/utils/hooks/useDebouncedField/index.ts
  apps/judicial-system/web/src/utils/hooks/useDebouncedField/useDebouncedField.spec.ts
  apps/judicial-system/web/src/utils/hooks/useDefendants/index.ts
  apps/judicial-system/web/src/utils/hooks/useIndictmentCounts/index.ts
  apps/judicial-system/web/src/utils/hooks/useOffenses/index.ts
  apps/judicial-system/web/src/utils/hooks/useVictim/index.ts
  apps/judicial-system/web/src/utils/validate.spec.ts
  apps/judicial-system/web/src/utils/validate.ts
Due: none

refactor(j-s): address review comments on rich text editor
  apps/judicial-system/web/src/components/RichTextEditor/HighlightColorPicker.css.ts
  apps/judicial-system/web/src/components/RichTextEditor/HighlightColorPicker.tsx
  apps/judicial-system/web/src/components/RichTextEditor/RichTextEditor.css.ts
  apps/judicial-system/web/src/components/RichTextEditor/RichTextEditor.tsx
Due: none

fix: rabbit comments
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/index.tsx
Due: Application System API

refactor(application): DOE - SR - upload flow (#23489)
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-equality/directorate-of-equality.service.ts
  libs/application/templates/directorate-of-equality/salary-report/src/fields/ExcelTemplateDownload/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/forms/mainForm/reportSection/dataEntrySubSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/index.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/providerError.ts
Due: Application System API

Fix after CR
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/PayComponentsTable.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryDistributionChart.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryImprovementPlan.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/StatisticsCard.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.spec.ts
Due: Application System API

chore: format update dirty file
  apps/native/app/src/app/(auth)/(modals)/renew-prescription.tsx
  apps/native/app/src/components/prescription-card.tsx
Due: none

Create seperate table SelectableTableFormField and return StaticFormField to its original state
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/pay-debts/src/forms/mainForm/debtsSection.ts
  libs/application/templates/pay-debts/src/forms/mainForm/paymentSection.ts
  libs/application/templates/pay-debts/src/utils/getSelectedDebts.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/SelectableTableField/SelectableTableFormField.css.ts
  libs/application/ui-fields/src/lib/SelectableTableField/SelectableTableFormField.tsx
  libs/application/ui-fields/src/lib/SelectableTableField/SelectableTableFormFieldRow.tsx
  libs/application/ui-fields/src/lib/StaticTableFormField/StaticTableFormField.tsx
  libs/application/ui-fields/src/lib/index.ts
Due: Application System API

feat(j-s): Add prison admin e2e coverage to indictment chain
  apps/system-e2e/src/support/urls.ts
  apps/system-e2e/src/tests/judicial-system/regression/indictment-tests.spec.ts
  apps/system-e2e/src/tests/judicial-system/utils/judicialSystemTest.ts
Due: none

fix(driving-license): explain the extended-licence 65+ block and log RLS error codes (#23488)
  libs/api/domains/driving-license/src/lib/drivingLicense.service.ts
  libs/application/templates/driving-license/src/lib/messages.ts
Due: Portal GraphQL, Application System API

chore: fix config
  libs/clients/driving-license/src/v5/clientConfig.json
Due: none

fix jump
  apps/judicial-system/web/src/components/Modals/ChangeProsecutorModal/ChangeProsecutorModal.tsx
  apps/judicial-system/web/src/components/Modals/Modal/Modal.tsx
Due: none

feat(my-pages): Show main operator in vehicle detail
  libs/portals/my-pages/assets/src/lib/messages.ts
  libs/portals/my-pages/assets/src/screens/VehicleDetail/VehicleDetail.graphql
  libs/portals/my-pages/assets/src/utils/createVehicleUnits.ts
Due: none

feat: big refactor for clarity
  apps/web/screens/OpenInvoices/Overview/NestedLines.tsx
  apps/web/screens/OpenInvoices/Overview/Overview.graphql.tsx
  apps/web/screens/OpenInvoices/Overview/Overview.tsx
  apps/web/screens/OpenInvoices/Overview/OverviewTable.tsx
  apps/web/screens/OpenInvoices/messages.ts
  libs/api/domains/icelandic-government-institutions/src/lib/dtos/getInvoicePaymentsGroup.input.ts
  libs/api/domains/icelandic-government-institutions/src/lib/dtos/getInvoicePaymentsGroups.input.ts
  libs/api/domains/icelandic-government-institutions/src/lib/icelandicGovernmentInstitutions.module.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/invoiceMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/invoicePaymentsGroupMapper.spec.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/invoicePaymentsGroupMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/paymentMapper.spec.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/paymentMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoice.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoiceGroups.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoicePaymentsGroup.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoicePaymentsGroups.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/payment.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoiceGroup.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoicePaymentsGroup.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoicePaymentsGroups.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/services/invoices/invoices.service.ts
  libs/api/domains/icelandic-government-institutions/src/lib/types.ts
  libs/clients/government-invoices/src/index.ts
  libs/clients/government-invoices/src/lib/dtos/invoice.dto.spec.ts
  libs/clients/government-invoices/src/lib/dtos/invoice.dto.ts
  libs/clients/government-invoices/src/lib/dtos/invoicePaymentsGroup.dto.ts
  libs/clients/government-invoices/src/lib/dtos/invoicePaymentsGroupCollection.dto.ts
  libs/clients/government-invoices/src/lib/dtos/invoicePaymentsGroupRequest.dto.ts
  libs/clients/government-invoices/src/lib/dtos/payment.dto.spec.ts
  libs/clients/government-invoices/src/lib/dtos/payment.dto.ts
  libs/clients/government-invoices/src/lib/government-invoices.service.ts
Due: Portal GraphQL

update error handling commit
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-dayrate-returns/car-rental-dayrate-returns.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
  libs/application/templates/car-rental-dayrate-returns/src/fields/UploadCarDayRateUsage/index.tsx
  libs/application/templates/car-rental-dayrate-returns/src/forms/mainForm/overviewStatistics.ts
  libs/application/templates/car-rental-dayrate-returns/src/lib/messages.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/UploadCarDayRateUsageUtils.spec.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/UploadCarDayRateUsageUtils.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/dayRateRecordUtils.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/generateExcelSheet.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/types.ts
  libs/application/templates/car-rental-fee-category/src/fields/UploadCarCategoryFile/index.tsx
  libs/application/templates/car-rental-fee-category/src/lib/messages.ts
  libs/application/templates/car-rental-fee-category/src/utils/UploadCarCategoryFileUtils.ts
  libs/application/templates/car-rental-fee-category/src/utils/types.ts
Due: Application System API

chore: format update dirty file
  libs/api/domains/icelandic-government-institutions/src/lib/models/payment.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoicePaymentsGroup.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoicePaymentsGroups.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/types.ts
Due: Portal GraphQL

feat: new styles for the header
  apps/portals/admin/src/components/Header/Header.css.ts
  apps/portals/admin/src/components/Header/Header.tsx
  apps/portals/admin/src/components/Layout/Layout.css.ts
  apps/portals/admin/src/components/Layout/Layout.tsx
  libs/portals/admin/application-system/src/components/TranslationWorkspacePageHeader/TranslationWorkspacePageHeader.tsx
  libs/portals/admin/application-system/src/components/TranslationWorkspaceStatesTabsPanel/TranslationWorkspaceStatesTabsPanel.css.ts
  libs/portals/admin/application-system/src/context/TranslationWorkspaceHeader.css.ts
  libs/portals/admin/application-system/src/context/TranslationWorkspaceHeaderBridge.tsx
  libs/portals/admin/application-system/src/lib/messages.ts
  libs/portals/admin/application-system/src/screens/SharedNamespaceTranslationWorkspace/SharedNamespaceTranslationWorkspace.tsx
  libs/portals/admin/application-system/src/screens/TranslationWorkspace/TranslationWorkspace.css.ts
  libs/portals/admin/application-system/src/screens/TranslationWorkspace/TranslationWorkspace.tsx
Due: none

fix:
  libs/portals/admin/application-system/src/utils/buildPreviewFieldFromScreen.spec.ts
  libs/portals/admin/application-system/src/utils/buildPreviewFieldFromScreen.ts
Due: none

feat(my-pages): Health certificates
  apps/download-service/src/app/app.module.ts
  apps/download-service/src/app/modules/health/certificate-pdf.controller.ts
  libs/api/domains/health-directorate/src/lib/dto/createCertificatePaymentIntent.input.ts
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/mappers/certificateMapper.ts
  libs/api/domains/health-directorate/src/lib/models/certificate.model.ts
  libs/api/domains/health-directorate/src/lib/models/healthConversationEntry.model.ts
  libs/api/domains/health-directorate/src/lib/models/paymentIntent.model.ts
  libs/api/domains/health-directorate/src/lib/resolvers/certificate.resolver.ts
  libs/clients/health-directorate/src/index.ts
  libs/clients/health-directorate/src/lib/clients/health/clientConfig.json
  libs/clients/health-directorate/src/lib/clients/health/health.service.ts
  libs/clients/health-directorate/src/lib/clients/health/index.ts
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversationDetail.graphql
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversationDetail.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/components/CertificateAction.tsx
Due: Portal GraphQL

chore: charts update dirty file
  charts/islandis-services/application-system-next/values.dev.yaml
  charts/islandis/values.dev.yaml
Due: none

Fixes after CR
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierGroupPanel.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/PayComponentsTable.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/PayDispersionTable.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryDistributionChart.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryImprovementPlan.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/StatisticsCard.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/forms/draftRetryForm/draftRetryReportSummarySection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/mainForm/overviewSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/mainForm/salaryAnalysisSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/postponedForm/index.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/postponedForm/postponedReportSummarySection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/outlierGroups.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/outlierGroups.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisLabels.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/wageGap.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/wageGap.ts
Due: Application System API

Update CLAUDE.md
  claude-projects/pay-debts/CLAUDE.md
  libs/application/templates/pay-debts/src/utils/formatDate.ts
Due: Application System API

minor fix
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/index.tsx
Due: Application System API

feat(doe): Abendingar, extra-pay table, chart parity and a separate outlier step (#23487)
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-equality/directorate-of-equality.service.ts
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierGroupPanel.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/PayComponentsTable.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/PayDispersionTable.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryDistributionChart.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryImprovementPlan.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/StatisticsCard.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/index.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/draftRetryForm/draftRetryReportSummarySection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/mainForm/overviewSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/mainForm/salaryAnalysisSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/postponedForm/index.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/dataSchema.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/constants.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/outlierGroups.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/outlierGroups.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/payComponents.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/payComponents.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisLabels.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/wageGap.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/wageGap.ts
  libs/clients/directorate-of-equality/src/clientConfig.json
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
