Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

chore(communications): Add useNodemailerApp to communications domain options (#13014)
  libs/api/domains/communications/src/lib/environments/environment.ts
Due: Portal GraphQL

- Fix sending mileage to wrong endpoint - Fix resolver to forward mileage
  apps/skilavottord/ws/src/app/modules/recyclingRequest/dto/createRecyclingRequest.input.ts
  apps/skilavottord/ws/src/app/modules/vehicle/dto/createVehicle.input.ts
  apps/skilavottord/ws/src/app/modules/vehicle/vehicleAppSys.resolver.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.ts
  libs/clients/car-recycling/src/lib/carRecyclingClient.service.ts
Due: Application System API

Fixed period
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.ts
Due: Application System API

feat(web): Hotfix - Change what email Grindavík service web form gets sent to depending on categories (#13009) (#13016)
  libs/api/domains/communications/src/lib/emailTemplates/serviceWebForms.ts
Due: Portal GraphQL

Remove progress in template
  libs/application/templates/healthcare-license-certificate/src/lib/HealthcareLicenseCertificateTemplate.ts
Due: Application System API

upload - file list
  libs/portals/admin/signature-collection/src/screens/List/components/paperUpload.tsx
Due: none

feat(web): Change what email Grindavík service web form gets sent to depending on categories (#13009)
  libs/api/domains/communications/src/lib/emailTemplates/serviceWebForms.ts
Due: Portal GraphQL

comment fixes
  apps/api/src/app/app.module.ts
  libs/api/domains/energy-funds/src/lib/energyFunds.module.ts
  libs/api/domains/energy-funds/src/lib/energyFunds.service.ts
  libs/api/domains/energy-funds/src/lib/graphql/main.resolver.ts
  libs/api/domains/energy-funds/src/lib/graphql/models/getVehicleGrant.model.ts
  libs/api/domains/energy-funds/src/lib/graphql/models/index.ts
  libs/application/templates/energy-funds/src/graphql/queries.ts
  libs/application/templates/energy-funds/src/hooks/useLazyVehicleQuery.ts
  libs/clients/energy-funds/src/lib/apiConfiguration.ts
  libs/clients/energy-funds/src/lib/energyFundsClient.config.ts
  libs/clients/energy-funds/src/lib/energyFundsClient.service.ts
Due: Portal GraphQL, Application System API

Fixing minor bugs here and there
  libs/application/template-api-modules/src/lib/modules/templates/aosh/transfer-of-machine-ownership/transfer-of-machine-ownership.service.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/assets/conclusion.tsx
  libs/application/templates/aosh/transfer-of-machine-ownership/src/fields/ApplicationStatus/index.tsx
  libs/application/templates/aosh/transfer-of-machine-ownership/src/fields/Conclusion/index.tsx
  libs/application/templates/aosh/transfer-of-machine-ownership/src/fields/Location/index.tsx
  libs/application/templates/aosh/transfer-of-machine-ownership/src/fields/Overview/index.tsx
  libs/application/templates/aosh/transfer-of-machine-ownership/src/fields/Overview/sections/LocationSection.tsx
  libs/application/templates/aosh/transfer-of-machine-ownership/src/fields/ReviewConclusion/index.tsx
  libs/application/templates/aosh/transfer-of-machine-ownership/src/forms/ReviewSeller.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/lib/TransferOfMachineOwnershipTemplate.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/lib/dataSchema.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/utils/hasReviewerApproved.ts
Due: Application System API

fix(j-s): Use request-ip to get client ip address (#12995)
  apps/judicial-system/web/pages/api/geoLocation/getCountryCode.ts
Due: none

Update libs/auth-nest-tools/README.md
  libs/auth-nest-tools/README.md
Due: none

Re-ordered canceling and recycling calls
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.ts
Due: Application System API

list actions footer
  libs/api/domains/signature-collection/src/lib/mocks/index.ts
  libs/portals/admin/signature-collection/src/screens/List/components/listActions.tsx
  libs/portals/admin/signature-collection/src/screens/List/index.tsx
Due: Portal GraphQL

Removed duplicate utils
  libs/application/templates/social-insurance-administration/household-supplement/src/forms/HouseholdSupplementForm.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/householdSupplementUtils.spec.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/householdSupplementUtils.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/OldAgePensionForm.ts
Due: Application System API

Filters from api
  libs/portals/admin/application-system/src/components/Filters/InstitutionFilters.tsx
  libs/portals/admin/application-system/src/screens/Overview/InstitutionOverview.tsx
Due: none

update service portal
  libs/api/domains/signature-collection/src/lib/signatureCollection.resolver.ts
  libs/api/domains/signature-collection/src/lib/signatureCollection.service.ts
  libs/clients/signature-collection/src/lib/signature-collection.service.ts
  libs/clients/signature-collection/src/lib/types/list.dto.ts
  libs/clients/signature-collection/src/lib/types/user.dto.ts
  libs/service-portal/signature-collection/src/screens/SignatureLists/index.tsx
  libs/service-portal/signature-collection/src/screens/SignatureLists/ownerView.tsx
  libs/service-portal/signature-collection/src/screens/SignatureLists/signeeView.tsx
  libs/service-portal/signature-collection/src/screens/ViewList/signees.tsx
  libs/service-portal/signature-collection/src/screens/hooks.ts
  libs/service-portal/signature-collection/src/screens/queries.ts
Due: Portal GraphQL

debug markers
  apps/services/user-notification/src/app/modules/notifications/health.controller.ts
  apps/services/user-notification/src/app/modules/notifications/notifications.service.spec.ts
  apps/services/user-notification/src/app/modules/notifications/notifications.service.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker.service.ts
Due: none

fe
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/householdSupplementUtils.spec.ts
Due: Application System API

chore(authmodule): removed mentions of audience from AuthModule Readme (#12863)
  libs/auth-nest-tools/README.md
Due: none

working on filter and router and taking out months
  apps/financial-aid/api/src/app/modules/application/dto/filterApplications.input.ts
  apps/financial-aid/backend/src/app/modules/application/dto/filterApplications.dto.ts
  apps/financial-aid/web-veita/src/components/FilterPopover/FilterPopover.tsx
  apps/financial-aid/web-veita/src/routes/ApplicationsOverview/applicationsOverviewProcessed.tsx
  apps/financial-aid/web-veita/src/utils/useApplicationFilter.ts
  apps/financial-aid/web-veita/src/utils/useFilter.ts
Due: none

feat(redirecter): New redirect service
  apps/redirecter/.eslintrc.json
  apps/redirecter/app/abc/page.tsx
  apps/redirecter/app/api/hello/route.ts
  apps/redirecter/app/global.css
  apps/redirecter/app/layout.tsx
  apps/redirecter/app/page.module.scss
  apps/redirecter/app/page.tsx
  apps/redirecter/index.d.ts
  apps/redirecter/jest.config.ts
  apps/redirecter/middleware.ts
  apps/redirecter/next-env.d.ts
  apps/redirecter/next.config.js
  apps/redirecter/project.json
  apps/redirecter/public/.gitkeep
  apps/redirecter/public/favicon.ico
  apps/redirecter/tsconfig.json
  apps/redirecter/tsconfig.spec.json
  package.json
  yarn.lock
Due: none

chore: nx format:write update dirty files
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/householdSupplementUtils.spec.ts
Due: Application System API

feat(estate): add description section
  libs/application/templates/estate/src/forms/Forms.ts
  libs/application/templates/estate/src/forms/Sections/description.ts
  libs/application/templates/estate/src/lib/messages.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/application/templates/estate/src/forms/Sections/description.ts
  libs/application/templates/estate/src/lib/messages.ts
Due: Application System API

chore: charts update dirty files
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

Fixed translations
  libs/application/templates/car-recycling/src/fields/Review/review-groups/Vehicles.tsx
  libs/application/templates/car-recycling/src/fields/VehiclesOverview/VehiclesOverview.tsx
  libs/application/templates/car-recycling/src/lib/messages.ts
Due: Application System API

Fade out background color if disclaimer is shown
  libs/island-ui/contentful/src/lib/EmbeddedVideo/EmbeddedVideo.tsx
Due: none

Add cache on vinnueftirilitið courses
  libs/api/domains/administration-of-occupational-safety-and-health/src/lib/administration-of-occupational-safety-and-health.resolver.ts
Due: Portal GraphQL

fix tests for feature flags
  apps/application-system/api/src/app/modules/application/e2e/applicationAccess.spec.ts
  apps/application-system/api/src/app/modules/application/e2e/applicationTemplateValidation.spec.ts
Due: Application System API

add tr env to infra
  apps/application-system/api/infra/application-system-api.ts
Due: Application System API

merge fix
  libs/auth/scopes/src/index.ts
Due: none

comments
  libs/api/domains/energy-funds/src/lib/energyFunds.service.ts
  libs/application/core/src/lib/messages.ts
  libs/application/template-api-modules/src/lib/modules/templates/energy-funds/energy-funds.service.ts
  libs/application/templates/energy-funds/src/lib/EnergyFundsTemplate.tsx
Due: Portal GraphQL, Application System API

Add box-shadow to play button
  libs/island-ui/contentful/src/lib/EmbeddedVideo/EmbeddedVideo.tsx
Due: none

Added secret to application-system
  apps/application-system/api/infra/application-system-api.ts
Due: Application System API

Added Grapgql secret
  apps/skilavottord/ws/infra/ws.ts
Due: none

fix(estate): validate spouse nationalid (#13006)
  libs/application/templates/estate/src/lib/dataSchema.ts
Due: Application System API

Remove secret from skilavottord-ws since it is an application secret not server secret
  apps/skilavottord/ws/infra/ws.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
