Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

chore: nx format:write update dirty files
  apps/services/endorsements/api/migrations/20240904000001-endorsement-count.js
  apps/services/endorsements/api/src/app/modules/endorsement/endorsement.service.ts
  apps/services/endorsements/api/src/app/modules/endorsement/models/endorsement.model.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/dto/endorsementList.dto.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/dto/paginatedEndorsementList.dto.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsementList.controller.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsementList.model.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsementList.service.ts
  libs/api/domains/endorsement-system/src/lib/models/endorsement.model.ts
Due: Portal GraphQL

feat(web): Add default header for fiskistofa organization (#15973)
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
  apps/web/components/Organization/Wrapper/Themes/FiskistofaTheme/FiskistofaDefaultHeader.css.ts
  apps/web/components/Organization/Wrapper/Themes/FiskistofaTheme/FiskistofaDefaultHeader.tsx
  apps/web/components/Organization/Wrapper/Themes/FiskistofaTheme/index.ts
Due: none

message tooltip
  libs/application/templates/inheritance-report/src/forms/prerequisites.ts
  libs/application/templates/inheritance-report/src/lib/messages.ts
Due: Application System API

fix: init
  libs/service-portal/assets/src/screens/IntellectualPropertiesOverview/IntellectualPropertiesOverview.tsx
Due: none

Use upsert instead of create to stop unique constraint errors
  apps/services/user-profile/src/app/user-profile/userProfile.service.ts
Due: none

fix: adjust paths in jest.config
  libs/application/templates/inao/financial-statement-cemetery/jest.config.ts
  libs/application/templates/inao/financial-statement-individual-election/jest.config.js
  libs/application/templates/inao/financial-statement-individual-election/jest.config.ts
  libs/application/templates/inao/financial-statement-individual-election/project.json
Due: Application System API

fix: init (#15975)
  libs/service-portal/assets/src/screens/IntellectualPropertiesOverview/IntellectualPropertiesOverview.tsx
Due: none

Add missing infra in api and auth-admin-api
  apps/api/infra/api.ts
  apps/services/auth/admin-api/infra/auth-admin-api.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: Portal GraphQL

fix: view pager now swipes correct size of elements in home widgets
  apps/native/app/src/screens/home/air-discount-module.tsx
  apps/native/app/src/screens/home/applications-module.tsx
  apps/native/app/src/screens/home/licenses-module.tsx
  apps/native/app/src/screens/home/vehicles-module.tsx
  apps/native/app/src/ui/lib/view-pager/view-pager.tsx
Due: none

fix(infra): Add missing infra in api and auth-admin-api (#15976)
  apps/api/infra/api.ts
  apps/services/auth/admin-api/infra/auth-admin-api.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: Portal GraphQL

change button, colour, icon and add space
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterFormField.tsx
Due: none

chore: nx format:write update dirty files
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterFormField.tsx
Due: none

WIP
  apps/web/components/connected/ParentalLeaveCalculator/ParentalLeaveCalculator.tsx
  apps/web/components/connected/ParentalLeaveCalculator/utils.ts
Due: none

Adds civil demands to traffic violation indictments
  apps/judicial-system/api/src/app/modules/backend/backend.service.ts
  apps/judicial-system/api/src/app/modules/case/dto/updateCase.input.ts
  apps/judicial-system/api/src/app/modules/case/models/case.model.ts
  apps/judicial-system/backend/migrations/20240909194458-rename-explanatory-comment.js
  apps/judicial-system/backend/src/app/modules/case/case.module.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/dto/updateCase.dto.ts
  apps/judicial-system/backend/src/app/modules/case/guards/rolesRules.ts
  apps/judicial-system/backend/src/app/modules/case/interceptors/caseList.interceptor.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/models/case.model.ts
  apps/judicial-system/backend/src/app/modules/case/models/caseString.model.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/update.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/createTestingCaseModule.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/archive.spec.ts
  apps/judicial-system/backend/src/app/modules/event/event.service.ts
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.strings.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
  apps/judicial-system/web/src/utils/validate.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/caseString.ts
Due: none

feat(j-s): Show courtRecord files in indictments to everyone once uploaded (#15817)
  apps/judicial-system/web/src/components/AppealCaseFilesOverview/AppealCaseFilesOverview.spec.tsx
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.spec.tsx
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
Due: none

fix(j-s): Appeal Case Judges (#15845)
  apps/judicial-system/web/src/routes/CourtOfAppeal/AppealCase/AppealCase.tsx
Due: none

fix(j-s): Defender File Display (#15821)
  apps/judicial-system/web/src/components/FormProvider/limitedAccessCase.graphql
Due: none

fix(citizenship): error with given and family names on prod (#15865)
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/citizenship.service.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/PersonalSection/UserInformationSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/CitizenshipTemplate.ts
Due: Application System API

feat(income-plan): add year (#15847)
  libs/application/templates/social-insurance-administration/income-plan/src/forms/IncomePlanForm.ts
  libs/application/templates/social-insurance-administration/income-plan/src/lib/messages.ts
Due: Application System API

fix(j-s): Undefined Slack Events (#15831)
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.controller.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.controller.ts
  apps/judicial-system/backend/src/app/modules/event/event.service.ts
  apps/judicial-system/backend/src/app/modules/notification/internalNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/notification.service.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

fix(aod): tweak firearm stringify (#15856)
  libs/application/template-api-modules/src/lib/modules/templates/announcement-of-death/announcement-of-death.service.ts
Due: Application System API

fix(aod): finishups (#15853)
  libs/application/templates/announcement-of-death/src/fields/FirearmApplicant/index.tsx
  libs/application/templates/announcement-of-death/src/forms/overviewSections.ts
  libs/application/templates/announcement-of-death/src/lib/dataSchema.ts
  libs/application/templates/announcement-of-death/src/lib/messages.ts
Due: Application System API

fix(j-s): Disable ServiceRequirement rather then hiding it when sent to public prosecutor (#15850)
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
Due: none

fix(services-user-notification): Fix no email registered and error when getting company name (#15839)
  apps/services/user-notification/src/app/app.module.ts
  apps/services/user-notification/src/app/modules/notifications/notifications.module.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/mocks.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/notificationsWorker.service.spec.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/notificationsWorker.service.ts
  apps/services/user-notification/test/environment.ts
Due: none

fix(api): This fixes colour logging by Nest.js health check (#15726)
  .github/CODEOWNERS
  libs/infra-nest-server/src/lib/infra/health/health.logger.ts
  libs/infra-nest-server/src/lib/infra/health/health.module.ts
Due: none

fix(cms): getOrganizations endpoint - Lower include depth to 4 (#15848)
  libs/cms/src/lib/cms.contentful.service.ts
Due: none

fix(TR): update TR applications flow chart (#15854)
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/README.md
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/assets/additional-support-for-the-elderly-flow-chart.drawio
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/assets/additional-support-for-the-elderly-flow-chart.png
  libs/application/templates/social-insurance-administration/core/assets/tr-applications-flow-chart.drawio
  libs/application/templates/social-insurance-administration/core/assets/tr-applications-flow-chart.png
  libs/application/templates/social-insurance-administration/household-supplement/README.md
  libs/application/templates/social-insurance-administration/household-supplement/assets/household-supplement-flow-chart.drawio
  libs/application/templates/social-insurance-administration/household-supplement/assets/household-supplement-flow-chart.png
  libs/application/templates/social-insurance-administration/old-age-pension/README.md
  libs/application/templates/social-insurance-administration/old-age-pension/assets/old-age-pension-flow-chart.drawio
  libs/application/templates/social-insurance-administration/old-age-pension/assets/old-age-pension-flow-chart.png
  libs/application/templates/social-insurance-administration/pension-supplement/README.md
  libs/application/templates/social-insurance-administration/pension-supplement/src/assets/pension-supplement-flow-chart.drawio
  libs/application/templates/social-insurance-administration/pension-supplement/src/assets/pension-supplement-flow-chart.png
Due: Application System API

infra(services-user-notification): Adding missing infra for company registry (#15859)
  apps/services/user-notification/infra/user-notification.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

fix(signature-collection): cleanup constituencies (#15864)
  libs/service-portal/signature-collection/src/screens/Parliamentary/OwnerView/index.tsx
  libs/service-portal/signature-collection/src/screens/Parliamentary/OwnerView/modals/LookupPerson/index.tsx
Due: none

fix(search-indexer): Latest Generic List Items - Prevent infinite loop when mapping organization subpage reference (#15868)
  libs/cms/src/lib/models/latestGenericListItems.model.ts
Due: none

fix(inheritance-report): overview confirmations (#15855)
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/mappers.ts
  libs/application/templates/inheritance-report/src/fields/Overview/OverviewAssets/index.tsx
  libs/application/templates/inheritance-report/src/forms/sections/assets.ts
  libs/application/templates/inheritance-report/src/forms/sections/debtsAndFuneralCost.ts
  libs/application/templates/inheritance-report/src/forms/sections/heirs.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
  libs/application/templates/inheritance-report/src/lib/messages.ts
Due: Application System API

fix(application-aod): Fix expander for firearm data to sysl (#15862)
  libs/application/template-api-modules/src/lib/modules/templates/announcement-of-death/announcement-of-death.service.ts
Due: Application System API

feat(j-s): Disable Next Button While Editing (#15861)
  apps/judicial-system/web/messages/Core/errors.ts
  apps/judicial-system/web/src/components/AccordionItems/IndictmentsCaseFilesAccordionItem/IndictmentsCaseFilesAccordionItem.spec.tsx
  apps/judicial-system/web/src/components/AccordionItems/IndictmentsCaseFilesAccordionItem/IndictmentsCaseFilesAccordionItem.strings.ts
  apps/judicial-system/web/src/components/AccordionItems/IndictmentsCaseFilesAccordionItem/IndictmentsCaseFilesAccordionItem.tsx
  apps/judicial-system/web/src/components/EditableCaseFile/EditableCaseFile.strings.ts
  apps/judicial-system/web/src/components/EditableCaseFile/EditableCaseFile.tsx
  apps/judicial-system/web/src/components/UploadFiles/UploadFiles.strings.ts
  apps/judicial-system/web/src/components/UploadFiles/UploadFiles.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/CaseFile/CaseFile.tsx
  apps/judicial-system/web/src/routes/Shared/AddFiles/AddFiles.tsx
Due: none

chore(native-app): bump version to 1.4.1 (#15869)
  apps/native/app/android/app/build.gradle
  apps/native/app/ios/IslandApp/Info.plist
Due: none

chore(j-s): Add institution addresses to db (#15886)
  apps/judicial-system/backend/migrations/20240904100012-update-institution.js
  apps/judicial-system/backend/src/app/formatters/subpoenaPdf.ts
  apps/judicial-system/backend/src/app/modules/institution/institution.model.ts
Due: none

fix: fixed application system api staging path (#15875)
  apps/application-system/api/infra/application-system-api.ts
  charts/islandis/values.staging.yaml
Due: Application System API

fix(native-app): always reset passkey preferences on logout (#15828)
  apps/native/app/src/stores/auth-store.ts
Due: none

fix(native-app): update inbox filter headers (#15890)
  apps/native/app/src/ui/lib/accordion/accordion-item.tsx
  apps/native/app/src/ui/lib/checkbox/checkbox.tsx
Due: none

chore(mocking): Relocate and update mocking readme as well as accident-notification mock data (#15841)
  libs/application/templates/README.md
  libs/application/templates/accident-notification/mockData/accident-notification.json
  libs/application/templates/health-insurance-declaration/mockData/health-insurance-declaration.json
  mocks/README.md
Due: Application System API

fix(driving-license): disabled BE for 65 and older (#15873)
  libs/application/templates/driving-license/src/forms/prerequisites/sectionApplicationFor.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
