Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Make intro field searchable
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacanciesList.tsx
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/utils.ts
Due: Portal GraphQL

fix(general-petition): stepper
  libs/application/templates/general-petition/src/assets/Illustration.tsx
  libs/application/templates/general-petition/src/fields/ListCreated/index.tsx
  libs/application/templates/general-petition/src/forms/form.ts
  libs/application/templates/general-petition/src/forms/prerequisites.ts
  libs/application/templates/general-petition/src/lib/messages.ts
  libs/service-portal/petitions/src/screens/ViewOwnedList/index.tsx
Due: Application System API

ci: upgrade nx-cloud package, rename NX_AUTH env to NX_ACCESS
  .github/workflows/pullrequest-nx-cloud.yml
  .gitignore
  package.json
  yarn.lock
Due: none

Revert "chore(dsl): Disable grantNamespaces for staging (#11516)" (#11557)
  charts/identity-server/values.staging.yaml
  charts/islandis/values.staging.yaml
  charts/judicial-system/values.staging.yaml
  infra/src/dsl/output-generators/map-to-helm-values.ts
  infra/src/dsl/types/output-types.ts
Due: none

tweak
  apps/web/screens/PetitionView/PetitionView.tsx
Due: none

font
  libs/portals/admin/petition/src/components/ExportList/MyPdfDocument/index.tsx
Due: none

Add nationalId when gettin pendingAction for actionCard
  apps/application-system/api/src/app/modules/application/tools/application.serializer.ts
  apps/application-system/api/src/app/modules/application/tools/applicationAdmin.serializer.ts
  libs/application/core/src/lib/ApplicationTemplateHelper.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/lib/ChangeCoOwnerOfVehicleTemplate.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/lib/messages/application.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/lib/ChangeOperatorOfVehicleTemplate.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/lib/messages/application.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/TransferOfVehicleOwnershipTemplate.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/messages/application.ts
  libs/application/types/src/lib/StateMachine.ts
Due: Application System API

fix: change default dentist date
  libs/service-portal/health/src/screens/Dentists/Dentists.tsx
Due: none

Cleanup
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/lib/ChangeCoOwnerOfVehicleTemplate.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/lib/ChangeOperatorOfVehicleTemplate.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/TransferOfVehicleOwnershipTemplate.ts
Due: Application System API

feat: change xroad paths
  infra/src/dsl/xroad.ts
Due: none

chore: codeowners
  .github/CODEOWNERS
Due: none

fix: revert change
  libs/api/domains/disability-license/src/lib/disability-license.resolver.ts
Due: Portal GraphQL

fix(infra): external-ingress needs access to service-portal
  apps/service-portal/infra/service-portal.ts
Due: none

generate charts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
Due: none

Add pending action and history logs
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/CitizenshipTemplate.ts
Due: Application System API

fix(old-age-pension): fix attachments
  libs/application/templates/old-age-pension/src/fields/Review/review-groups/Attachments.tsx
  libs/application/templates/old-age-pension/src/fields/Review/review-groups/Period.tsx
  libs/application/templates/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/old-age-pension/src/lib/answerValidationSections/period.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.spec.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.ts
Due: Application System API

Add missing namespaces
  apps/service-portal/infra/service-portal.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
Due: none

Fix clients-middlewares test
  libs/clients/middlewares/src/lib/e2e/test-cert.pfx
Due: none

Fix application-core test
  libs/application/core/src/lib/conditionUtils.spec.ts
Due: Application System API

Fix portals-core test
  libs/portals/core/src/hooks/useSingleNavigationItem.spec.tsx
Due: none

send in user alwasy to overview site
  apps/judicial-system/web/src/utils/hooks/useCase/index.ts
Due: none

Fix application-ui-shell test
  libs/application/ui-shell/src/hooks/useHistorySync.spec.tsx
Due: none

fix(j-s): Updating tables and fixing filtering (#11495)
  apps/judicial-system/web/src/components/ReactTable/Table.css.ts
  apps/judicial-system/web/src/components/ReactTable/Table.tsx
  apps/judicial-system/web/src/components/Table/AppealCasesTable/AppealCasesTable.tsx
  apps/judicial-system/web/src/components/Table/AppealCasesTable/MobileAppealCase.tsx
  apps/judicial-system/web/src/components/Table/CategoryCard/CategoryCard.css.ts
  apps/judicial-system/web/src/components/Table/CategoryCard/CategoryCard.tsx
  apps/judicial-system/web/src/components/Table/ColumnCaseType/ColumnCaseType.tsx
  apps/judicial-system/web/src/components/Table/CourtCaseNumber/CourtCaseNumber.tsx
  apps/judicial-system/web/src/components/Table/DurationDate/DurationDate.tsx
  apps/judicial-system/web/src/components/Table/PastCasesTable/MobilePastCase.tsx
  apps/judicial-system/web/src/components/Table/PastCasesTable/PastCases.spec.ts
  apps/judicial-system/web/src/components/Table/PastCasesTable/PastCasesTable.tsx
  apps/judicial-system/web/src/components/Table/SortButton/SortButton.tsx
  apps/judicial-system/web/src/components/Table/Table.css.ts
  apps/judicial-system/web/src/components/Table/TableContainer/TableContainer.tsx
  apps/judicial-system/web/src/components/Table/TableHeaderText/TableHeaderText.tsx
  apps/judicial-system/web/src/components/Table/TableSkeleton/TableSkeleton.tsx
  apps/judicial-system/web/src/components/Table/index.ts
  apps/judicial-system/web/src/components/index.ts
  apps/judicial-system/web/src/routes/CourtOfAppeal/Cases/Cases.tsx
  apps/judicial-system/web/src/routes/Defender/Cases/components/DefenderCasesTable.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/ActiveCases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/Cases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/PastCases.tsx
  apps/judicial-system/web/src/utils/hooks/index.ts
  apps/judicial-system/web/src/utils/hooks/useSort/useSortAppealCases.ts
  apps/judicial-system/web/src/utils/hooks/useSort/useSortCases.ts
Due: none

chaning error message in test
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getCourtRecordSignatureConfirmation.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/requestCourtRecordSignature.spec.ts
Due: none

Fix services-user-profile test
  apps/services/user-profile/jest.config.ts
Due: none

owner admins shared logic
  apps/services/endorsements/api/src/app/modules/endorsement/endorsement.service.ts
  apps/services/endorsements/api/src/app/modules/endorsement/interceptors/endorsement.interceptor.ts
  apps/services/endorsements/api/src/app/modules/endorsement/interceptors/endorsement.mask.ts
  apps/services/endorsements/api/src/app/modules/endorsement/interceptors/paginatedEndorsement.interceptor.ts
Due: none

main format
  apps/services/endorsements/api/src/app/modules/endorsement/endorsement.service.ts
  apps/services/endorsements/api/src/app/modules/endorsement/interceptors/endorsement.interceptor.ts
  apps/services/endorsements/api/src/app/modules/endorsement/interceptors/endorsement.mask.ts
  apps/services/endorsements/api/src/app/modules/endorsement/interceptors/paginatedEndorsement.interceptor.ts
Due: none

Display logos
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacanciesList.css.ts
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacanciesList.tsx
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacancyDetails.tsx
  apps/web/screens/Organizations/Organizations.tsx
  apps/web/screens/queries/Organization.tsx
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/cms.resolver.ts
  libs/cms/src/lib/dto/getOrganizationByTitle.input.ts
Due: none

fix(driving-learners-permit): remove FF and minor cleanup (#11538)
  libs/application/templates/driving-learners-permit/src/fields/EligibilitySummary/useEligibility.ts
  libs/application/templates/driving-learners-permit/src/graphql/index.ts
  libs/application/templates/driving-learners-permit/src/lib/DrivingLearnersPermitTemplate.ts
  libs/application/templates/driving-learners-permit/src/lib/constants.ts
  libs/application/templates/driving-learners-permit/src/lib/utils/formUtils.ts
  libs/application/templates/driving-learners-permit/src/lib/utils/index.ts
  libs/application/templates/driving-learners-permit/src/shared/constants.ts
  libs/application/templates/driving-learners-permit/src/shared/index.ts
  libs/application/templates/driving-learners-permit/src/shared/utils.ts
  libs/feature-flags/src/lib/features.ts
Due: Application System API

fix(general-petition): stepper (#11560)
  apps/web/screens/PetitionView/PetitionView.tsx
  libs/application/templates/general-petition/src/assets/Illustration.tsx
  libs/application/templates/general-petition/src/fields/ListCreated/index.tsx
  libs/application/templates/general-petition/src/forms/form.ts
  libs/application/templates/general-petition/src/forms/prerequisites.ts
  libs/application/templates/general-petition/src/lib/messages.ts
  libs/service-portal/petitions/src/screens/ViewOwnedList/index.tsx
Due: Application System API

Change order of parameters
  apps/application-system/api/src/app/modules/application/tools/application.serializer.ts
  apps/application-system/api/src/app/modules/application/tools/applicationAdmin.serializer.ts
  libs/application/core/src/lib/ApplicationTemplateHelper.ts
Due: Application System API

fix cleanup
  apps/services/endorsements/api/src/app/modules/endorsement/endorsement.service.ts
  apps/services/endorsements/api/src/app/modules/endorsement/interceptors/paginatedEndorsement.interceptor.ts
  libs/portals/admin/petition/src/screens/PetitionList/getEndorsements.graphql
  libs/service-portal/petitions/src/screens/queries.ts
Due: none

overview cleanup and frontend changes
  libs/application/template-api-modules/src/lib/modules/shared/api/driving-license/driving-license.service.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/driving-license/types.ts
  libs/application/templates/driving-license-duplicate/src/fields/Cards/index.tsx
  libs/application/templates/driving-license-duplicate/src/fields/CurrentLicense.tsx
  libs/application/templates/driving-license-duplicate/src/fields/NotFilledOut/index.tsx
  libs/application/templates/driving-license-duplicate/src/fields/PaymentCharge/index.tsx
  libs/application/templates/driving-license-duplicate/src/fields/index.ts
  libs/application/templates/driving-license-duplicate/src/forms/applicationSections/sectionFakeData.ts
  libs/application/templates/driving-license-duplicate/src/forms/applicationSections/sectionOverview.ts
  libs/application/templates/driving-license-duplicate/src/forms/declined.ts
  libs/application/templates/driving-license-duplicate/src/lib/constants.ts
  libs/application/templates/driving-license-duplicate/src/lib/messages.ts
  libs/application/templates/driving-license-duplicate/src/lib/utils.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.types.ts
Due: Application System API

fixing tests
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getCourtRecordSignatureConfirmation.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/requestCourtRecordSignature.spec.ts
Due: none

Extend fake data
  libs/application/templates/driving-license-duplicate/src/forms/applicationSections/sectionFakeData.ts
  libs/application/templates/driving-license-duplicate/src/lib/constants.ts
  libs/application/templates/driving-license-duplicate/src/lib/utils.ts
Due: Application System API

fix(dsl): Revert "chore(dsl): Disable grantNamespaces for staging (#11516)" (#11555)
  charts/identity-server/values.staging.yaml
  charts/islandis/values.staging.yaml
  charts/judicial-system/values.staging.yaml
  infra/src/dsl/output-generators/map-to-helm-values.ts
  infra/src/dsl/types/output-types.ts
Due: none

locality masked publicly
  apps/services/endorsements/api/src/app/modules/endorsement/interceptors/endorsement.mask.ts
Due: none

format
  apps/services/endorsements/api/src/app/modules/endorsement/interceptors/endorsement.mask.ts
Due: none

feat(endorsement-system): Data settings for list owners and admins (#11564)
  apps/services/endorsements/api/src/app/modules/endorsement/interceptors/endorsement.interceptor.ts
  apps/services/endorsements/api/src/app/modules/endorsement/interceptors/endorsement.mask.ts
  apps/services/endorsements/api/src/app/modules/endorsement/interceptors/paginatedEndorsement.interceptor.ts
  libs/portals/admin/petition/src/screens/PetitionList/getEndorsements.graphql
  libs/service-portal/petitions/src/screens/queries.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
