Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fix(web): remove focusable box
  apps/web/components/CardWithFeaturedItems/CardWithFeaturedItems.tsx
Due: none

My pages links for directorate of labour
  apps/web/hooks/useLinkResolver/useLinkResolver.ts
  apps/web/pages/en/o/directorate-of-labour/my-pages/index.ts
  apps/web/pages/s/vinnumalastofnun/minar-sidur/index.ts
  apps/web/screens/Organization/DirectorateOfLabour/MyPages.strings.ts
  apps/web/screens/Organization/DirectorateOfLabour/MyPages.tsx
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/shared/types/src/lib/api-cms-domain.ts
Due: none

chore: nx format:write update dirty files
  apps/web/components/CardWithFeaturedItems/CardWithFeaturedItems.tsx
Due: none

chore: Reduce sample rate for RUM sessions
  libs/user-monitoring/src/lib/user-monitoring.ts
Due: none

props fix
  apps/web/components/LifeEventsSection/LifeEventsSection.tsx
Due: none

feat(web): Featured link slice (#17416)
  apps/web/components/FeaturedLinks/FeaturedLinks.tsx
  apps/web/components/Organization/Slice/FeaturedLinksSlice/FeaturedLinksSlice.tsx
  apps/web/components/Organization/Slice/SliceMachine.tsx
  apps/web/components/SearchSection/SearchSection.tsx
  apps/web/components/real.ts
  apps/web/screens/queries/fragments.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/featuredLinks.model.ts
  libs/cms/src/lib/unions/slice.union.ts
Due: none

props fix
  apps/web/screens/LifeEvents/LifeEvents.tsx
Due: none

Little fixes after review
  apps/download-service/src/app/modules/health/payment-overview-documents.controller.ts
Due: none

fix(web): Event card spacing (#17439)
  apps/web/screens/Organization/OrganizationEvents/OrganizationEventArticle.tsx
Due: none

fix(client-driving-license): Leap year edge issues (#17415)
  libs/api/domains/driving-license/src/lib/drivingLicense.spec.ts
  libs/residence-history/src/lib/computeCountryResidence.spec.ts
  libs/residence-history/src/lib/computeCountryResidence.ts
Due: Portal GraphQL

Update libs/application/templates/social-insurance-administration/income-plan/src/forms/IncomePlanForm.ts
  libs/application/templates/social-insurance-administration/income-plan/src/forms/IncomePlanForm.ts
Due: Application System API

fix(application-dl): 65+ Qphoto Req Change (#17424)
  libs/application/templates/driving-license/src/fields/EligibilitySummary/useEligibility.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/application/templates/social-insurance-administration/income-plan/src/forms/IncomePlanForm.ts
Due: Application System API

fix: typo in RUM config
  libs/user-monitoring/src/lib/user-monitoring.ts
Due: none

fix: reduce RUM sampling rate
  libs/user-monitoring/src/lib/user-monitoring.ts
Due: none

feat(new-primary-school): Current school page
  libs/application/templates/new-primary-school/src/fields/Grade/index.tsx
  libs/application/templates/new-primary-school/src/fields/index.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/childrenNParentsSection/childInfoSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/currentSchoolSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/index.ts
  libs/application/templates/new-primary-school/src/lib/messages.ts
Due: Application System API

fix(application-system): AOSH work accident minor fixes (#17437)
  libs/application/templates/aosh/work-accident-notification/src/fields/Occupation/index.tsx
  libs/application/templates/aosh/work-accident-notification/src/forms/WorkAccidentNotificationForm/ConclusionSection/index.ts
  libs/application/templates/aosh/work-accident-notification/src/forms/WorkAccidentNotificationForm/InformationSection/companySection.ts
  libs/application/templates/aosh/work-accident-notification/src/forms/WorkAccidentNotificationForm/prerequisitesSection.ts
  libs/application/templates/aosh/work-accident-notification/src/lib/messages/sections.ts
  libs/application/templates/aosh/work-accident-notification/src/lib/messages/shared.ts
Due: Application System API

fix: mobile menu
  apps/portals/my-pages/src/components/Layout/Layout.css.ts
  apps/portals/my-pages/src/components/Layout/NarrowLayout.tsx
  libs/portals/my-pages/core/src/components/Navigation/Navigation.css.ts
  libs/portals/my-pages/core/src/components/Navigation/Navigation.tsx
  libs/portals/my-pages/core/src/index.ts
Due: none

chore: Reduce sample rate for RUM sessions (#17443)
  libs/user-monitoring/src/lib/user-monitoring.ts
Due: none

fix: color
  apps/web/components/GrantCardsList/GrantCardsList.tsx
Due: none

rename isMobile to isTablet
  apps/portals/my-pages/src/components/Notifications/NotificationButton.tsx
Due: none

PR comment fixes
  libs/application/templates/aosh/seminars/src/fields/Participants/index.tsx
Due: Application System API

fix(j-s): refactor scheduler and seperate tasks in priv functions
  apps/judicial-system/scheduler/src/app/app.service.ts
Due: none

fix: upgrade datadog, mask all user interactions
  libs/user-monitoring/src/lib/user-monitoring.ts
  package.json
  yarn.lock
Due: none

fix(client-driving-license): Hotfix - Leap year edge issues (#17415) (#17445)
  libs/api/domains/driving-license/src/lib/drivingLicense.spec.ts
  libs/residence-history/src/lib/computeCountryResidence.spec.ts
  libs/residence-history/src/lib/computeCountryResidence.ts
Due: Portal GraphQL

fix: add use last signatures
  libs/api/domains/official-journal-of-iceland-application/src/lib/ojoiApplication.resolver.ts
  libs/api/domains/official-journal-of-iceland-application/src/lib/ojoiApplication.service.ts
  libs/api/domains/official-journal-of-iceland-application/src/models/getInvolvedPartySignatures.input.ts
  libs/api/domains/official-journal-of-iceland-application/src/models/getInvolvedPartySignatures.response.ts
  libs/application/templates/official-journal-of-iceland/src/fields/Signatures.tsx
  libs/application/templates/official-journal-of-iceland/src/graphql/queries.ts
  libs/application/templates/official-journal-of-iceland/src/hooks/useLastSignature.ts
  libs/application/templates/official-journal-of-iceland/src/lib/dataSchema.ts
  libs/clients/official-journal-of-iceland/application/src/clientConfig.json
  libs/clients/official-journal-of-iceland/application/src/lib/ojoiApplicationClient.service.ts
Due: Portal GraphQL, Application System API

chore: log
  libs/application/templates/official-journal-of-iceland/src/fields/Signatures.tsx
Due: Application System API

fix(web): Fix query for generic and team member lists (#17115)
  libs/cms/src/lib/cms.elasticsearch.service.ts
  libs/cms/src/lib/search/importers/genericListItem.service.ts
  libs/cms/src/lib/search/importers/teamList.service.ts
Due: none

fix(web): Sort by title for generic list and team list (#17226)
  libs/cms/src/lib/cms.elasticsearch.service.ts
Due: none

fix(my-pages): notifications spacing and color (#16696)
  apps/portals/my-pages/src/components/Notifications/NotificationButton.tsx
  apps/portals/my-pages/src/components/Notifications/NotificationLine.tsx
  apps/portals/my-pages/src/components/Notifications/NotificationMenu.tsx
  apps/portals/my-pages/src/components/Notifications/Notifications.css.ts
  apps/portals/my-pages/src/components/Sidemenu/Sidemenu.css.ts
  apps/portals/my-pages/src/components/Sidemenu/Sidemenu.tsx
Due: none

feat: add mobile table for payments participation
  libs/portals/my-pages/health/src/screens/Medicine/MedicinePurchase.tsx
  libs/portals/my-pages/health/src/screens/Payments/PaymentOverview.tsx
  libs/portals/my-pages/health/src/screens/Payments/PaymentParticipation.tsx
Due: none

initial changes and example form update
  libs/application/templates/reference-template/src/forms/exampleForm/simpleInputsSection/sliderSubsection.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-components/src/components/Slider/Slider.tsx
  libs/application/ui-fields/src/lib/SliderFormField/SliderFormField.tsx
Due: Application System API

feat(web): Hotfix - My pages links for directorate of labour (#17444)
  apps/web/hooks/useLinkResolver/useLinkResolver.ts
  apps/web/pages/en/o/directorate-of-labour/my-pages/index.ts
  apps/web/pages/s/vinnumalastofnun/minar-sidur/index.ts
  apps/web/screens/Organization/DirectorateOfLabour/MyPages.strings.ts
  apps/web/screens/Organization/DirectorateOfLabour/MyPages.tsx
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/shared/types/src/lib/api-cms-domain.ts
Due: none

fix(web): deadline detail (#17427)
  apps/web/components/GrantCardsList/GrantCardsList.tsx
  apps/web/screens/Grants/Grant/Grant.tsx
  apps/web/screens/Grants/Grant/GrantSidebar/DetailPanel.tsx
  apps/web/screens/Grants/Grant/GrantSidebar/ExtraPanel.tsx
  apps/web/screens/Grants/Grant/GrantSidebar/GrantSidebar.tsx
  apps/web/screens/Grants/messages.ts
  apps/web/screens/Grants/utils.ts
Due: none

feat(income-plan): Use different endpoint for income plan year (#17441)
  libs/application/templates/social-insurance-administration/income-plan/src/forms/IncomePlanForm.ts
Due: Application System API

feat(new-primary-school): Starting school page
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/startingSchoolSubSection.ts
  libs/application/templates/new-primary-school/src/lib/dataSchema.ts
  libs/application/templates/new-primary-school/src/lib/messages.ts
  libs/application/templates/new-primary-school/src/lib/newPrimarySchoolUtils.ts
Due: Application System API

default value for trackStyles
  libs/application/templates/reference-template/src/forms/exampleForm/simpleInputsSection/sliderSubsection.ts
  libs/application/ui-components/src/components/Slider/Slider.tsx
Due: Application System API

feat: add ui select
  libs/application/templates/official-journal-of-iceland/src/fields/Advert.tsx
  libs/application/templates/official-journal-of-iceland/src/hooks/useAdvertTemplateTypes.ts
Due: Application System API

chore(ci): add next folder to dockerignore (#17216)
  .dockerignore
Due: none

Add custom top login button item prop
  apps/web/screens/Organization/DirectorateOfLabour/MyPages.tsx
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
