Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

feat(signature-collection): accommodate new municipality scope (#19417)
  charts/islandis-services/services-bff-portals-admin/values.dev.yaml
  charts/islandis-services/services-bff-portals-admin/values.prod.yaml
  charts/islandis-services/services-bff-portals-admin/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/api/domains/signature-collection/src/lib/decorators/admin.decorator.ts
  libs/api/domains/signature-collection/src/lib/decorators/index.ts
  libs/api/domains/signature-collection/src/lib/models/admin.model.ts
  libs/api/domains/signature-collection/src/lib/models/index.ts
  libs/api/domains/signature-collection/src/lib/signatureCollection.module.ts
  libs/api/domains/signature-collection/src/lib/signatureCollectionAdmin.resolver.ts
  libs/api/domains/signature-collection/src/lib/signatureCollectionAdmin.service.ts
  libs/api/domains/signature-collection/src/lib/signatureCollectionManager.service.ts
  libs/auth/scopes/src/lib/clients/admin-portal-scopes.ts
  libs/clients/signature-collection/src/clientConfig.json
  libs/clients/signature-collection/src/index.ts
  libs/clients/signature-collection/src/lib/apis.ts
  libs/clients/signature-collection/src/lib/signature-collection-admin.service.ts
  libs/clients/signature-collection/src/lib/signature-collection-municipality.service.ts
  libs/clients/signature-collection/src/lib/signature-collection.config.ts
  libs/clients/signature-collection/src/lib/signature-collection.module.ts
  libs/clients/signature-collection/src/lib/types/adminClient.ts
  libs/clients/signature-collection/src/lib/types/collection.dto.ts
  libs/portals/admin/signature-collection/src/lib/utils.ts
Due: Portal GraphQL

fix(signature-collection): minor ui tweaks my-pages (#19488)
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/ViewList/ListActions/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Signees/EditPage/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Signees/PaperSignees/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Signees/index.tsx
Due: none

fix(application-system): Generating new paths and simplifying client setup (#19450)
  apps/api/infra/api.ts
  apps/application-system/api/infra/application-system-api.ts
  charts/islandis-services/api/values.dev.yaml
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/api/values.staging.yaml
  charts/islandis-services/application-system-api/values.dev.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis-services/application-system-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/dsl/xroad.ts
  libs/clients/rsk/rental-day-rate/src/lib/RskRentalDayRateClientConfig.ts
  libs/clients/rsk/rental-day-rate/src/lib/apiConfiguration.ts
Due: Portal GraphQL, Application System API

fix(ci): Fix split key causing range error (#19457)
  .github/actions/setup-yarn/action.yml
Due: none

fix(hms-tra): add message (#19484)
  libs/application/templates/hms/terminate-rental-agreement/src/forms/prerequisitesForm/index.ts
  libs/application/templates/hms/terminate-rental-agreement/src/lib/messages/prereqMessages.ts
Due: Application System API

fix(ids): Configure urls for new user profile apis. (#19444)
  apps/services/auth/ids-api/infra/identity-server.ts
  charts/identity-server-services/identity-server/values.dev.yaml
  charts/identity-server-services/identity-server/values.prod.yaml
  charts/identity-server-services/identity-server/values.staging.yaml
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

fix(hms-fca): photo alert and real estate id to select (#19465)
  libs/application/templates/hms/fire-compensation-appraisal/src/forms/mainForm/realEstateSection.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/lib/dataSchema.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/lib/messages/photoMessages.ts
Due: Application System API

chore(j-s): Run current judicial system scheduler at 2AM and 9AM (#19307)
  apps/judicial-system/scheduler/infra/judicial-system-scheduler.ts
  apps/judicial-system/scheduler/jest.config.ts
  apps/judicial-system/scheduler/src/app/app.service.ts
  apps/judicial-system/scheduler/src/app/test/run.spec.ts
  charts/judicial-system-services/judicial-system-scheduler/values.dev.yaml
  charts/judicial-system-services/judicial-system-scheduler/values.prod.yaml
  charts/judicial-system-services/judicial-system-scheduler/values.staging.yaml
  charts/judicial-system/values.dev.yaml
  charts/judicial-system/values.prod.yaml
  charts/judicial-system/values.staging.yaml
Due: none

fix(web): Organization parent subpages now get tagged with organization tag in elasticsearch (#19487)
  libs/cms/src/lib/search/importers/organizationParentSubpage.service.ts
Due: none

chore(j-s): Judge amends ruling e2e (#19295)
  apps/judicial-system/web/messages/RestrictionCases/Court/confirmation.ts
  apps/judicial-system/web/messages/index.ts
  apps/system-e2e/src/tests/judicial-system/regression/custody-tests.spec.ts
  apps/system-e2e/src/tests/judicial-system/regression/shared-steps/amend.ts
Due: none

chore(j-s): Split up defendant and registration screen (#19407)
  apps/judicial-system/web/messages/InvestigationCases/Prosecutor/defendantForm.ts
  apps/judicial-system/web/pages/krafa/rannsoknarheimild/efni-krofu/[id].ts
  apps/judicial-system/web/pages/krafa/rannsoknarheimild/index.ts
  apps/judicial-system/web/src/components/ContextMenu/ContextMenu.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Defendant/Defendant.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Registration/Registration.tsx
  apps/judicial-system/web/src/utils/formHelper.ts
  apps/judicial-system/web/src/utils/hooks/useSections/index.ts
  apps/judicial-system/web/src/utils/validate.ts
  apps/system-e2e/src/tests/judicial-system/regression/search-warrant-tests.spec.ts
  libs/judicial-system/consts/src/lib/consts.ts
Due: none

fix(application-system): Fixing minor issues with PracticalExams (#19507)
  libs/application/templates/aosh/practical-exam/src/fields/Components/ExamInputs.tsx
  libs/application/templates/aosh/practical-exam/src/forms/PracticalExamForm/ExamineeSection/index.ts
  libs/application/templates/aosh/practical-exam/src/lib/dataSchema.ts
Due: Application System API

fix(my-pages): postholf fixes (#19490)
  libs/portals/my-pages/core/src/lib/messages.ts
  libs/portals/my-pages/documents/src/components/OverviewDisplay/DesktopOverview.tsx
  libs/portals/my-pages/documents/src/components/OverviewDisplay/MobileOverview.tsx
  libs/portals/my-pages/documents/src/components/Reply/ReplyContainer.tsx
  libs/portals/my-pages/documents/src/components/Reply/ReplyHeader.tsx
  libs/portals/my-pages/documents/src/components/Reply/ReplySent.tsx
  libs/portals/my-pages/documents/src/lib/types.ts
  libs/portals/my-pages/documents/src/screens/Overview/Overview.css.ts
  libs/portals/my-pages/documents/src/screens/Overview/Overview.tsx
Due: none

feat(native-app): Two way postholf improvements (#19505)
  apps/native/app/src/screens/document-detail/components/document-list-item.tsx
  apps/native/app/src/screens/document-detail/document-communications.tsx
  apps/native/app/src/screens/document-detail/document-detail.tsx
Due: none

fix(application-system): Fix handling of unknown spouse (#19521)
  libs/clients/national-registry/v3-applications/src/lib/nationalRegistryV3Applications.service.ts
Due: none

chore(j-s): New mask component (#19315)
  apps/judicial-system/web/src/components/DateTime/DateTime.tsx
  apps/judicial-system/web/src/components/EditableCaseFile/EditableCaseFile.tsx
  apps/judicial-system/web/src/components/Inputs/InputAdvocate.tsx
  apps/judicial-system/web/src/components/Inputs/InputNationalId.tsx
  apps/judicial-system/web/src/components/MultipleValueList/MultipleValueList.tsx
  apps/judicial-system/web/src/components/TimeInputField/TimeInputField.spec.tsx
  apps/judicial-system/web/src/components/TimeInputField/TimeInputField.tsx
  apps/judicial-system/web/src/components/index.ts
  apps/judicial-system/web/src/routes/Admin/UserForm/UserForm.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Defendant/PoliceCaseInfo/PoliceCaseInfo.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Offenses/Offenses.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Offenses/SpeedingOffenseFields.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseNumbers/PoliceCaseNumbers.tsx
  libs/judicial-system/consts/src/lib/consts.ts
  package.json
  yarn.lock
Due: none

fix(service-portal): Fix layouts issues with the portal provider (#19514)
  libs/portals/core/src/components/PortalProvider.tsx
Due: none

ci: formatcheck (#19503)
  .github/workflows/pullrequest.yml
Due: none

chore(my-pages): licenses - remove pkpass (#19496)
  libs/portals/my-pages/licenses/src/components/QRCodeModal/DriversLicensePkPass.tsx
  libs/portals/my-pages/licenses/src/components/QRCodeModal/PkPass.tsx
  libs/portals/my-pages/licenses/src/components/QRCodeModal/QRCodeModal.css.ts
  libs/portals/my-pages/licenses/src/components/QRCodeModal/QRCodeModal.tsx
  libs/portals/my-pages/licenses/src/lib/messages.ts
  libs/portals/my-pages/licenses/src/screens/v1/LicenseDetail/LicenseDetail.tsx
  libs/portals/my-pages/licenses/src/screens/v2/LicenseDetail/LicenseDetail.tsx
  libs/portals/my-pages/licenses/src/screens/v2/LicensesOverview/LicensesOverview.tsx
Due: none

fix(signature-collection): admin municipality view (#19491)
  libs/portals/admin/signature-collection/src/lib/messages.ts
  libs/portals/admin/signature-collection/src/lib/utils.ts
  libs/portals/admin/signature-collection/src/module.tsx
  libs/portals/admin/signature-collection/src/screens-municipal/AllMunicipalities/StartAreaCollection.tsx
  libs/portals/admin/signature-collection/src/screens-municipal/AllMunicipalities/index.tsx
  libs/portals/admin/signature-collection/src/screens-municipal/AllMunicipalities/startCollection/index.tsx
  libs/portals/admin/signature-collection/src/screens-municipal/List/index.tsx
  libs/portals/admin/signature-collection/src/screens-municipal/Municipality/index.tsx
  libs/portals/admin/signature-collection/src/screens-parliamentary/AllConstituencies/index.tsx
  libs/portals/admin/signature-collection/src/screens-parliamentary/Constituency/index.tsx
  libs/portals/admin/signature-collection/src/screens-parliamentary/List/index.tsx
  libs/portals/admin/signature-collection/src/screens-presidential/AllLists/index.tsx
  libs/portals/admin/signature-collection/src/screens-presidential/List/index.tsx
  libs/portals/admin/signature-collection/src/shared-components/actionDrawer/ListActions.tsx
  libs/portals/admin/signature-collection/src/shared-components/actionDrawer/ListManagers.tsx
  libs/portals/admin/signature-collection/src/shared-components/actionDrawer/index.tsx
  libs/portals/admin/signature-collection/src/shared-components/completeListReview/index.tsx
  libs/portals/admin/signature-collection/src/shared-components/emptyState/index.tsx
  libs/portals/admin/signature-collection/src/shared-components/paperSignees/index.tsx
Due: none

fix(j-s): LAWYERS_ICELAND_API_KEY backend config (#19498)
  apps/judicial-system/backend/infra/judicial-system-backend.ts
  charts/judicial-system-services/judicial-system-backend/values.dev.yaml
  charts/judicial-system-services/judicial-system-backend/values.prod.yaml
  charts/judicial-system-services/judicial-system-backend/values.staging.yaml
  charts/judicial-system/values.dev.yaml
  charts/judicial-system/values.prod.yaml
  charts/judicial-system/values.staging.yaml
Due: none

fix(hms-fca): filter char from fasteignanr (#19492)
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/utils.ts
Due: Application System API

fix(ojoi): query params are wrong (#19509)
  .github/CODEOWNERS
  apps/web/pages/stjornartidindi/nr/index.ts
Due: none

fix(signature-collection): separate municipalities from admins (#19501)
  libs/clients/signature-collection/src/lib/signature-collection-admin.service.ts
  libs/clients/signature-collection/src/lib/signature-collection-municipality.service.ts
  libs/clients/signature-collection/src/lib/signature-collection-shared.service.ts
Due: none

feat(form-system): add minimal scrollbar styles for improved UI experience (#19502)
  libs/portals/admin/form-system/src/components/Navbar/Navbar.css.ts
  libs/portals/admin/form-system/src/components/Navbar/Navbar.tsx
Due: none

fix(my-pages): add cancel collection action (#19510)
  libs/portals/my-pages/signature-collection/src/hooks/graphql/queries.ts
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/ViewList/ListActions/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/ViewList/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Municipal/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Intro/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/cancelCollection/index.tsx
Due: none

fix(user-profile): Rollback actor profile changes on specific delegationType FeatureFlag values (#19482)
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/notificationsWorker.service.ts
  apps/services/user-profile/src/app/v2/me-user-profile.controller.ts
  apps/services/user-profile/src/app/v2/user-profile.service.ts
  libs/api/domains/user-profile/src/lib/V2/userProfile.service.ts
  libs/api/domains/user-profile/src/lib/userProfile.resolver.ts
  libs/api/domains/user-profile/src/lib/userProfile.service.ts
  libs/auth-api-lib/src/lib/delegations/delegations-index.service.ts
  libs/portals/core/src/components/PortalProvider.tsx
  libs/portals/core/src/types/portalCore.ts
  libs/portals/core/src/utils/modules.ts
  libs/portals/my-pages/graphql/src/hooks/profile/useVerifyEmail.ts
  libs/portals/my-pages/graphql/src/hooks/profile/useVerifySms.ts
  libs/portals/my-pages/graphql/src/lib/mutations/createEmailVerification.ts
  libs/portals/my-pages/graphql/src/lib/mutations/createSmsVerification.ts
  libs/portals/my-pages/information/src/components/NotificationSettings/ActorProfileNotificationSettings/ActorProfileNotificationSettings.tsx
  libs/portals/my-pages/information/src/components/PersonalInformation/Forms/ProfileForm/ProfileForm.tsx
  libs/portals/my-pages/information/src/components/PersonalInformation/Forms/ProfileForm/components/Inputs/Email.tsx
  libs/portals/my-pages/information/src/hooks/useDelegationTypeFeatureFlag.ts
  libs/portals/my-pages/information/src/index.ts
  libs/portals/my-pages/information/src/module.tsx
  libs/portals/my-pages/information/src/utils/parseDelegationTypeFeatureFlagValue.ts
  libs/shared/components/src/auth/UserMenu/UserDropdown.tsx
Due: Portal GraphQL

ci: Require touched code to be formatted (#19497)
  .github/workflows/pullrequest.yml
Due: none

chore: formatting (#19500)
  apps/form-system/web/src/components/Screen/Screen.tsx
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/index.ts
  libs/application/templates/car-rental-fee-category/src/dataProviders/index.ts
  libs/application/templates/car-rental-fee-category/src/fields/UploadCarCategoryFile/index.tsx
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/endOfMonthCheck.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/index.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/multiUpload.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/overviewStatistics.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/singleOrMultiSelection.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/tableViewSelection.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/verify.ts
  libs/application/templates/car-rental-fee-category/src/forms/prerequisitesForm/index.ts
  libs/application/templates/car-rental-fee-category/src/lib/template.ts
  libs/application/templates/car-rental-fee-category/src/utils/UploadCarCategoryFileUtils.ts
  libs/application/templates/car-rental-fee-category/src/utils/constants.ts
  libs/application/templates/car-rental-fee-category/src/utils/dayRateUtils.ts
  libs/application/templates/car-rental-fee-category/src/utils/generateExcelSheet.ts
  libs/application/templates/car-rental-fee-category/src/utils/types.ts
  libs/clients/national-registry/v3-applications/src/clientConfig.json
  libs/clients/rsk/rental-day-rate/src/clientConfig.json
  libs/clients/rsk/rental-day-rate/src/lib/apiConfiguration.ts
  libs/portals/admin/form-system/src/components/FormLayout/components/MainColumns.tsx
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableRow.tsx
  libs/portals/admin/form-system/src/components/NavComponent/NavComponent.tsx
  libs/portals/admin/form-system/src/context/FormProvider.tsx
  libs/portals/admin/form-system/src/screens/Form/FormHeader.tsx
  libs/portals/form-system/ui-components/src/lib/types.ts
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/ViewList/ListActions/index.tsx
  tsconfig.base.json
Due: Application System API

fix(signature-collection): filter by municipality area (#19483)
  libs/clients/signature-collection/src/clientConfig.json
  libs/clients/signature-collection/src/lib/signature-collection-admin.service.ts
  libs/clients/signature-collection/src/lib/signature-collection-shared.service.ts
Due: none

feat(form-system): Improvements to the builder (#19495)
  apps/form-system/web/src/components/Screen/Screen.tsx
  libs/portals/admin/form-system/src/components/FormLayout/components/MainColumns.tsx
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableRow.tsx
  libs/portals/admin/form-system/src/components/FormsLayout/components/FormsHeader.tsx
  libs/portals/admin/form-system/src/components/MainContent/MainContent.tsx
  libs/portals/admin/form-system/src/components/NavComponent/NavComponent.tsx
  libs/portals/admin/form-system/src/context/FormProvider.tsx
  libs/portals/admin/form-system/src/screens/Form/FormHeader.tsx
  libs/portals/form-system/ui-components/src/lib/types.ts
Due: none

feat(j-s): Add isLitigator column to lawyer registry table (#19543)
  apps/judicial-system/backend/migrations/20250702133339-update-lawyer-registry.js
  apps/judicial-system/backend/src/app/modules/lawyer-registry/lawyerRegistry.controller.ts
  apps/judicial-system/backend/src/app/modules/lawyer-registry/lawyerRegistry.model.ts
  apps/judicial-system/backend/src/app/modules/lawyer-registry/lawyerRegistry.service.ts
  libs/judicial-system/lawyers/src/index.ts
  libs/judicial-system/lawyers/src/lib/lawyers.service.ts
  libs/judicial-system/lawyers/src/lib/lawyers.types.ts
Due: none

fix(signature-collection): include inactive areas (#19533)
  libs/clients/signature-collection/src/lib/signature-collection-shared.service.ts
  libs/clients/signature-collection/src/lib/signature-collection.service.spec.ts
  libs/clients/signature-collection/src/lib/types/collection.dto.ts
  libs/clients/signature-collection/src/lib/types/list.dto.ts
  libs/clients/signature-collection/src/lib/utils/mappers.ts
Due: none

fix(user-profile): Add a bankInfoError boolean flag in GQL to handle Islykla errors. (#19506)
  libs/api/domains/user-profile/src/lib/V2/userProfile.service.ts
  libs/api/domains/user-profile/src/lib/userProfile.model.ts
  libs/portals/my-pages/graphql/src/lib/queries/getUserProfile.ts
  libs/portals/my-pages/information/src/components/PersonalInformation/Forms/ProfileForm/ProfileForm.tsx
  libs/portals/my-pages/information/src/screens/UserProfile/UserProfile.tsx
Due: Portal GraphQL

chore(j-s): Fix routes in e2e tests (#19517)
  apps/judicial-system/web/src/components/Inputs/InputNationalId.tsx
  apps/system-e2e/src/tests/judicial-system/regression/custody-tests.spec.ts
  apps/system-e2e/src/tests/judicial-system/regression/indictment-tests.spec.ts
  apps/system-e2e/src/tests/judicial-system/regression/search-warrant-tests.spec.ts
  apps/system-e2e/src/tests/judicial-system/regression/travel-ban-tests.spec.ts
  apps/system-e2e/src/tests/judicial-system/smoke/case-list.spec.ts
Due: none

feat(form-system): Integrating React-Hook-Form into form-system (#19529)
  apps/form-system/web/src/components/Footer/Footer.tsx
  apps/form-system/web/src/components/Form/Form.tsx
  apps/form-system/web/src/components/Screen/Screen.tsx
  apps/form-system/web/src/components/Screen/components/ExternalData/ExternalData.tsx
  apps/form-system/web/src/components/Screen/components/Field/Field.tsx
  apps/form-system/web/src/context/ApplicationProvider.tsx
  apps/form-system/web/src/reducers/applicationReducer.ts
  apps/form-system/web/src/reducers/fieldReducer.ts
  apps/form-system/web/src/reducers/reducerUtils.ts
  libs/portals/admin/form-system/src/components/MainContent/components/Preview/Preview.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/Banknumber/Banknumber.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/Checkbox/Checkbox.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/CurrencyField/CurrencyField.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/DatePicker/DatePicker.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/Email/Email.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/NationalId/NationalId.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/PhoneNumber/PhoneNumber.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/PropertyNumber/PropertyNumber.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/TextInput/TextInput.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/TimeInput/TimeInput.tsx
  libs/portals/form-system/ui-components/src/lib/messages.ts
  libs/portals/form-system/ui-components/src/lib/reducerTypes.ts
Due: none

feat(user-profile): Set first email as primary and subsequent emails as non-primary (#19547)
  apps/services/user-profile/src/app/v2/emails.service.ts
  apps/services/user-profile/src/app/v2/test/actor-emails.controller.spec.ts
Due: none

fix(signature-collection): conditionally set electionId (#19525)
  libs/clients/signature-collection/src/lib/signature-collection-shared.service.ts
Due: none
