Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

chore: format update dirty file
  libs/application/templates/social-insurance-administration/disability-pension/src/forms/mainForm/basicInfoSection/employmentParticipationsSubSections/abroadPaymentsSubSection.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/messages/employmentParticipation.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.service.ts
Due: Application System API

Delivers generated indictment case court record pdf to the police
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  libs/judicial-system/message/src/lib/message.ts
Due: none

Update libs/cms/src/lib/models/featuredGenericListItems.model.ts
  libs/cms/src/lib/models/featuredGenericListItems.model.ts
Due: none

fix(j-s): verdict module imports
  apps/judicial-system/backend/src/app/modules/verdict/test/creatingTestingVerdictModule.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.module.ts
Due: none

CSS
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtRecord.css.ts
Due: none

fix(j-s): migration
  apps/judicial-system/backend/migrations/20250918152533-update-verdict.js
Due: none

chore: format update dirty file
  libs/cms/src/lib/models/featuredGenericListItems.model.ts
Due: none

Updates unit tests
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getCourtRecordPdf.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/limitedAccessCaseController/getCourtRecordPdf.spec.ts
Due: none

Delivers generated indictment case court record pdf to the district court
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.controller.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverCourtRecordToCourtGuards.spec.ts
Due: none

chore: remove unicorn test app (#20139)
  .github/CODEOWNERS
  apps/unicorn-app/.eslintrc.json
  apps/unicorn-app/codegen.yml
  apps/unicorn-app/e2e/example.spec.ts
  apps/unicorn-app/index.d.ts
  apps/unicorn-app/infra/infra.ts
  apps/unicorn-app/jest.config.ts
  apps/unicorn-app/next-env.d.ts
  apps/unicorn-app/next.config.js
  apps/unicorn-app/playwright.config.ts
  apps/unicorn-app/project.json
  apps/unicorn-app/public/.gitkeep
  apps/unicorn-app/public/favicon.ico
  apps/unicorn-app/server.ts
  apps/unicorn-app/specs/index.spec.tsx
  apps/unicorn-app/src/app/api/hello/route.ts
  apps/unicorn-app/src/app/global.css
  apps/unicorn-app/src/app/layout.tsx
  apps/unicorn-app/src/app/page.module.css
  apps/unicorn-app/src/app/page.tsx
  apps/unicorn-app/tsconfig.json
  apps/unicorn-app/tsconfig.server.json
  apps/unicorn-app/tsconfig.spec.json
  apps/unicorn-app/webpack.config.js
  charts/islandis-services/unicorn-app/values.dev.yaml
  charts/islandis-services/unicorn-app/values.prod.yaml
  charts/islandis-services/unicorn-app/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/uber-charts/islandis.ts
  scripts/ci/unicorn-utils.mjs
  tsconfig.base.json
Due: none

Refactor
  apps/services/payments/src/app/cardPayment/cardPayment.controller.ts
Due: none

Refactor
  apps/services/payments/src/app/invoicePayment/invoicePayment.controller.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.service.ts
Due: none

fix(signature-collection): submit action name fix
  libs/application/templates/signature-collection/municipal-list-creation/src/lib/constants.ts
Due: Application System API

feat: generate way smaller types
  libs/application/templates/parental-leave/codegen.yml
  libs/application/templates/parental-leave/project.json
  libs/application/templates/parental-leave/src/hooks/useUnion.ts
  libs/application/templates/social-insurance-administration/core/codegen.yml
  libs/application/templates/social-insurance-administration/core/project.json
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/generalInformationSection/questionsSubSection.ts
Due: Application System API

fix: update date handling
  apps/web/components/NewsCard/NewsCard.tsx
  apps/web/components/events/EventList.tsx
  libs/cms/src/lib/models/event.model.ts
Due: none

Allow sending card by email
  apps/services/payment-flow-update-handler/src/app/landspitali.service.ts
  apps/services/payment-flow-update-handler/src/app/types.ts
  apps/web/components/connected/landspitali/MemorialCards/MemorialCards.tsx
  apps/web/components/connected/landspitali/MemorialCards/translation.strings.ts
  libs/api/domains/landspitali/src/lib/dto/createMemorialCardPaymentUrl.input.ts
  libs/api/domains/landspitali/src/lib/landspitali.service.ts
  libs/shared/types/src/lib/api-cms-domain.ts
Due: Portal GraphQL

fix: datepicker issues
  libs/island-ui/core/src/lib/DatePicker/CustomCalendarContainer.tsx
  libs/island-ui/core/src/lib/DatePicker/DatePicker.css.ts
  libs/island-ui/core/src/lib/DatePicker/DatePicker.tsx
  libs/island-ui/core/src/lib/DatePicker/types.ts
  libs/portals/my-pages/health/src/components/PatientDataPermit/FirstStep.graphql
  libs/portals/my-pages/health/src/components/PatientDataPermit/FirstStep.tsx
  libs/portals/my-pages/health/src/components/PatientDataPermit/PatientDataPermit.css.ts
  libs/portals/my-pages/health/src/components/PatientDataPermit/SecondStep.tsx
  libs/portals/my-pages/health/src/components/PatientDataPermit/ThirdStep.tsx
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/PatientDataPermits/NewPermit.tsx
  libs/portals/my-pages/health/src/screens/PatientDataPermits/Permits.tsx
Due: none

fix: testing leftovers
  libs/portals/my-pages/health/src/components/PatientDataPermit/SecondStep.tsx
Due: none

chore: format update dirty file
  apps/web/components/NewsCard/NewsCard.tsx
Due: none

fix(signature-collection): submit action name fix (#20157)
  libs/application/templates/signature-collection/municipal-list-creation/src/lib/constants.ts
Due: Application System API

fix: remove reference to a string that shouldn't be used
  libs/application/templates/rental-agreement/src/forms/draftForm/rentalPropertySection/propertyInfoSubsection.ts
  libs/application/templates/rental-agreement/src/lib/messages/housing/registerProperty.ts
Due: Application System API

Add new type of form field
  apps/web/components/Form/Form.tsx
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/formField.model.ts
Due: none

feat: make today stand out
  libs/island-ui/core/src/lib/DatePicker/DatePicker.css.ts
Due: none

feat :updates
  apps/web/components/NewsCard/NewsCard.tsx
  apps/web/components/events/EventList.tsx
  apps/web/screens/Organization/OrganizationEvents/OrganizationEventList.tsx
  apps/web/utils/event.ts
  libs/cms/src/lib/models/event.model.ts
Due: none

fix(hms-ra): Unlimited deposit for some categories (#20100)
  libs/application/templates/rental-agreement/src/forms/draftForm/costsSection/securityDepositSubsection.ts
  libs/application/templates/rental-agreement/src/forms/draftForm/rentalPropertySection/propertyInfoSubsection.ts
  libs/application/templates/rental-agreement/src/lib/messages/housing/housingFireProtections.ts
  libs/application/templates/rental-agreement/src/lib/messages/housing/registerProperty.ts
  libs/application/templates/rental-agreement/src/lib/messages/rentalInfo/securityDeposit.ts
  libs/application/templates/rental-agreement/src/lib/schemas/securityDepositSchema.ts
Due: Application System API

updating react-datepicker slightly
  package.json
  yarn.lock
Due: none

chore: format update dirty file
  apps/web/components/NewsCard/NewsCard.tsx
  apps/web/components/events/EventList.tsx
  apps/web/screens/Organization/OrganizationEvents/OrganizationEventList.tsx
  apps/web/utils/event.ts
Due: none

fix(signature-collection): api action name
  libs/application/templates/signature-collection/parliamentary-list-creation/src/lib/constants.ts
Due: Application System API

feat(estate): add toggleable prefilled values from syslumadur API where possible (#20024)
  libs/application/template-api-modules/src/lib/modules/templates/estate/types/index.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/utils/fakeData.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/utils/mappers.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/utils/processUploadData.ts
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/index.ts
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/mappers.ts
  libs/application/templates/estate/src/fields/AssetsRepeater/index.tsx
  libs/application/templates/estate/src/fields/BankAccountsRepeater/index.tsx
  libs/application/templates/estate/src/fields/ClaimsRepeater/index.tsx
  libs/application/templates/estate/src/fields/DebtsRepeater/index.tsx
  libs/application/templates/estate/src/fields/DecimalInputController/index.tsx
  libs/application/templates/estate/src/fields/EstateMembersRepeater/index.tsx
  libs/application/templates/estate/src/fields/InventoryFields/index.tsx
  libs/application/templates/estate/src/fields/MoneyAndDepositFields/index.tsx
  libs/application/templates/estate/src/fields/RealEstateRepeater/index.tsx
  libs/application/templates/estate/src/fields/StocksRepeater/index.tsx
  libs/application/templates/estate/src/fields/TextFieldsRepeater/index.tsx
  libs/application/templates/estate/src/fields/VehicleRepeater/index.tsx
  libs/application/templates/estate/src/fields/index.ts
  libs/application/templates/estate/src/forms/OverviewSections/assetsAndDebts.ts
  libs/application/templates/estate/src/forms/Prerequisites.ts
  libs/application/templates/estate/src/forms/Sections/estateAssets.ts
  libs/application/templates/estate/src/forms/Sections/estateDebts.ts
  libs/application/templates/estate/src/lib/dataSchema.ts
  libs/application/templates/estate/src/lib/messages.ts
  libs/clients/syslumenn/src/lib/syslumennClient.service.ts
  libs/clients/syslumenn/src/lib/syslumennClient.types.ts
  libs/clients/syslumenn/src/lib/syslumennClient.utils.ts
Due: Application System API

chore(estate): remove disabled items from final submission (#20136)
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/utils/filters.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/utils/processUploadData.ts
  libs/application/templates/estate/src/forms/OverviewSections/assetsAndDebts.ts
Due: Application System API

feat(admin portal): Fetch names from nationalId using NationalRegistryApi (#20082)
  apps/application-system/api/src/app/modules/application/application.module.ts
  apps/application-system/api/src/app/modules/application/lifecycle/application-lifecycle.utils.ts
  apps/application-system/api/src/app/modules/application/tools/applicationAdmin.serializer.ts
  apps/application-system/api/src/app/modules/application/utils/application.ts
  apps/application-system/api/src/app/modules/application/utils/applicationUtils.spec.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/TransferOfVehicleOwnershipTemplate.ts
  libs/application/types/src/lib/ApplicationTemplate.ts
  libs/portals/admin/application-system/src/components/ApplicationDetails/ApplicationDetails.tsx
  libs/portals/admin/application-system/src/lib/messages.ts
Due: Application System API

feat(user-notifications): Add subject field support and improve argument validation for e… (#20152)
  apps/services/user-notification/src/app/modules/notifications/notifications.controller.ts
  apps/services/user-notification/src/app/modules/notifications/notifications.service.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/notificationsWorker.service.ts
  apps/services/user-notification/src/app/modules/notifications/tests/notifications.service.spec.ts
Due: none

fix type
  libs/portals/admin/signature-collection/src/shared-components/reviewCandidates/index.tsx
Due: none

fix: update link
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/messages/dataHandling.ts
Due: Application System API

Update sectionOverview.ts
  libs/application/templates/operating-license/src/forms/draft/sectionOverview.ts
Due: Application System API

Fix weird bug where exemptionPeriod was undefined and application was stuck
  libs/application/templates/transport-authority/exemption-for-transportation/src/fields/handleBeforeSubmit/handleBeforeSubmitConvoy.tsx
  libs/application/templates/transport-authority/exemption-for-transportation/src/fields/handleBeforeSubmit/handleBeforeSubmitFreight.tsx
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
