Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Fix broken import
  libs/api/domains/license-service/src/lib/licenseService.service.ts
Due: Portal GraphQL

Update backends of client and application for advocate
  libs/application/core/src/lib/messages.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/consts.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
  libs/clients/syslumenn/src/clientConfig.json
  libs/clients/syslumenn/src/lib/syslumennClient.service.ts
  libs/clients/syslumenn/src/lib/syslumennClient.types.ts
  libs/clients/syslumenn/src/lib/syslumennClient.utils.ts
Due: Application System API

fix: insert test data
  libs/api/domains/license-service/src/lib/client/driving-license-client/genericDrivingLicense.service.ts
Due: Portal GraphQL

fix(aod): ready for prod
  libs/application/templates/announcement-of-death/src/lib/announcementOfDeathTemplate.ts
Due: Application System API

format main
  apps/services/endorsements/api/src/app/modules/endorsement/endorsement.service.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/e2e/findOneEndorsementList/findOneEndorsementList.spec.ts
Due: none

Updates unit test
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealReceivedByCourtNotifications.spec.ts
Due: none

ci: set NX_BRANCH env
  .github/workflows/pullrequest-nx-cloud.yml
  .github/workflows/pullrequest.yml
  nx.json
  scripts/ci/run-nx-affected.sh
Due: none

rm readyForProduction prop
  libs/application/templates/general-petition/src/lib/GeneralPetitionTemplate.ts
Due: Application System API

rm readyForProduction prop
  libs/application/templates/driving-instructor-registrations/src/lib/InstructorRegistrationsTemplate.ts
  libs/application/templates/driving-school-confirmation/src/lib/DrivingSchoolConfirmationTemplate.ts
Due: Application System API

feat(old-age-pension): Added self-employed
  libs/application/templates/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/old-age-pension/src/lib/answerValidationSections/fileUpploadPenEarlyFisher.ts
  libs/application/templates/old-age-pension/src/lib/constants.ts
  libs/application/templates/old-age-pension/src/lib/dataSchema.ts
  libs/application/templates/old-age-pension/src/lib/messages.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.ts
Due: Application System API

fix(consultation-portal): fix SEO (#11501)
  apps/consultation-portal/components/Layout/Layout.json
  apps/consultation-portal/components/Layout/Layout.tsx
  apps/consultation-portal/components/Layout/components/SEO/SEO.tsx
  apps/consultation-portal/screens/About/About.json
  apps/consultation-portal/screens/About/About.tsx
  apps/consultation-portal/screens/Advices/Advices.json
  apps/consultation-portal/screens/Advices/Advices.tsx
  apps/consultation-portal/screens/Case/Case.json
  apps/consultation-portal/screens/Case/CaseDesktop.tsx
  apps/consultation-portal/screens/Case/CaseMobile.tsx
  apps/consultation-portal/screens/Case/components/CaseSkeleton/CaseSkeleton.tsx
  apps/consultation-portal/screens/Home/Home.json
  apps/consultation-portal/screens/Home/Home.tsx
  apps/consultation-portal/screens/Subscriptions/Subscriptions.json
  apps/consultation-portal/screens/Subscriptions/components/SubscriptionsSkeleton/SubscriptionsSkeleton.tsx
  apps/consultation-portal/types/interfaces.ts
Due: none

Adds space
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendRulingNotifications.spec.ts
Due: none

fix(j-s): Notification Response (#11598)
  apps/judicial-system/backend/src/app/modules/notification/notification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealReceivedByCourtNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendDefenderAssignedNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendRulingNotifications.spec.ts
Due: none

Schema fix
  libs/service-portal/transports/project.json
Due: none

issue #2: sort in stakeholderbox and relatedcasesbox
  apps/consultation-portal/screens/Case/components/BlowoutList/BlowoutList.tsx
  apps/consultation-portal/utils/helpers/index.ts
  apps/consultation-portal/utils/helpers/sortLocale.ts
Due: none

fix(announcement-of-death): ready for prod (#11600)
  libs/application/templates/announcement-of-death/src/lib/announcementOfDeathTemplate.ts
  libs/application/templates/driving-instructor-registrations/src/lib/InstructorRegistrationsTemplate.ts
  libs/application/templates/driving-school-confirmation/src/lib/DrivingSchoolConfirmationTemplate.ts
  libs/application/templates/general-petition/src/lib/GeneralPetitionTemplate.ts
Due: Application System API

cleanup
  apps/services/endorsements/api/src/app/modules/endorsement/e2e/createEndorsement/createEndorsement.spec.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/e2e/updateEndorsementList/seed.js
  apps/services/endorsements/api/src/app/modules/endorsementList/e2e/updateEndorsementList/updateEndorsementList.spec.ts
Due: none

fix(announcement-of-death): ready for prod (#11600) (#11603)
  libs/application/templates/announcement-of-death/src/lib/announcementOfDeathTemplate.ts
  libs/application/templates/driving-instructor-registrations/src/lib/InstructorRegistrationsTemplate.ts
  libs/application/templates/driving-school-confirmation/src/lib/DrivingSchoolConfirmationTemplate.ts
  libs/application/templates/general-petition/src/lib/GeneralPetitionTemplate.ts
Due: Application System API

fix(announcement-of-death): ready for prod (#11600) (#11602)
  libs/application/templates/announcement-of-death/src/lib/announcementOfDeathTemplate.ts
  libs/application/templates/driving-instructor-registrations/src/lib/InstructorRegistrationsTemplate.ts
  libs/application/templates/driving-school-confirmation/src/lib/DrivingSchoolConfirmationTemplate.ts
  libs/application/templates/general-petition/src/lib/GeneralPetitionTemplate.ts
Due: Application System API

Teests create email
  apps/judicial-system/api/src/app/modules/auth/auth.controller.ts
  libs/judicial-system/court-client/src/lib/courtClient.config.ts
  libs/judicial-system/court-client/src/lib/courtClient.service.ts
Due: none

Add missing import
  apps/service-portal/src/lib/masterNavigation.ts
  apps/service-portal/src/screens/Dashboard/Dashboard.tsx
Due: none

Tests create email
  apps/judicial-system/api/src/app/modules/auth/auth.controller.ts
  libs/judicial-system/court-client/src/lib/courtClient.config.ts
  libs/judicial-system/court-client/src/lib/courtClient.service.ts
Due: none

Display logo on mobile screens
  apps/web/components/ServiceWeb/SearchSection/SearchSection.css.ts
  apps/web/components/ServiceWeb/SearchSection/SearchSection.tsx
  apps/web/components/ServiceWeb/Wrapper/Wrapper.tsx
  apps/web/screens/ServiceWeb/Home/Home.tsx
Due: none

Adjust margin top
  apps/web/components/ServiceWeb/SearchSection/SearchSection.css.ts
Due: none

Remove unused style
  apps/web/components/ServiceWeb/SearchSection/SearchSection.css.ts
Due: none

lets try reverting some of the gen changes also minor cleanup
  apps/services/auth/public-api/project.json
  apps/services/auth/public-api/src/buildOpenApi.ts
  libs/auth-api-lib/src/lib/delegations/delegations-incoming.service.ts
  libs/clients/auth/public-api/project.json
Due: none

Updated input component and added empty card for procurers screen
  libs/portals/admin/service-desk/src/components/Card.tsx
  libs/portals/admin/service-desk/src/lib/messages.ts
  libs/portals/admin/service-desk/src/screens/Companies/Companies.css.ts
  libs/portals/admin/service-desk/src/screens/Companies/Companies.tsx
  libs/portals/admin/service-desk/src/screens/Procurers/Procurers.tsx
Due: none

sortLocale base
  apps/consultation-portal/screens/Home/components/SearchAndFilter/SearchAndFilter.tsx
  apps/consultation-portal/utils/helpers/sortLocale.ts
Due: none

#1: change order
  apps/consultation-portal/screens/Case/components/CaseStatusCard/CaseStatusCard.tsx
Due: none

#4: Logout is útskrá
  apps/consultation-portal/components/Layout/components/Menu/Menu.tsx
Due: none

#5: Fix caseNumber
  apps/consultation-portal/components/Card/Card.tsx
  apps/consultation-portal/screens/Advices/Advices.tsx
  apps/consultation-portal/screens/Case/components/AdviceForm/AdviceForm.tsx
  apps/consultation-portal/screens/Case/components/CaseEmailBox/CaseEmailBox.tsx
  apps/consultation-portal/screens/Case/components/CaseOverview/CaseOverview.tsx
  apps/consultation-portal/screens/Case/components/CaseSkeleton/CaseSkeleton.tsx
  apps/consultation-portal/screens/Home/Home.tsx
Due: none

#7: Remove frá in í vinnslu frá
  apps/consultation-portal/screens/Home/Home.json
  apps/consultation-portal/screens/Home/components/Filter/components/Filterbox.tsx
Due: none

is locale sort
  apps/consultation-portal/utils/helpers/sortLocale.ts
Due: none

removed paddingX in subscriptions
  apps/consultation-portal/screens/Subscriptions/components/SubscriptionsSkeleton/SubscriptionsSkeleton.tsx
Due: none

pages now more like the each other
  apps/consultation-portal/screens/Advices/Advices.tsx
  apps/consultation-portal/screens/Subscriptions/components/SubscriptionsSkeleton/SubscriptionsSkeleton.tsx
Due: none

sorting for casenumber
  apps/consultation-portal/utils/helpers/sortLocale.ts
Due: none

translation files
  apps/consultation-portal/components/Card/Card.tsx
  apps/consultation-portal/lib/shared.json
  apps/consultation-portal/screens/Home/Home.json
  apps/consultation-portal/screens/Home/components/Filter/components/Filterbox.tsx
Due: none

Revert feature-env.ts
  infra/src/feature-env.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
