Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

chore(core): Splitting compiler options of tsconfig.base.json to tsconfig.shared.json (#15407)
  .nxignore
  nx.json
  scripts/ts-node.js
  tsconfig.base.json
  tsconfig.shared.json
Due: none

fix(j-s): xrd-API config (#15422)
  apps/judicial-system/xrd-api/infra/judicial-system-xrd-api.ts
  charts/judicial-system/values.dev.yaml
  charts/judicial-system/values.prod.yaml
  charts/judicial-system/values.staging.yaml
Due: none

fix(application-systems): Adding alertField to personal section (#15424)
  libs/application/templates/healthcare-work-permit/src/forms/HealthcareWorkPermitForm/personalSection.ts
  libs/application/templates/healthcare-work-permit/src/lib/messages/personal.ts
Due: Application System API

feat(occupational-licenses): Add license number to health directorate license (#15396)
  libs/api/domains/occupational-licenses-v2/src/lib/models/license.model.ts
  libs/api/domains/occupational-licenses-v2/src/lib/models/licenseResult.model.ts
  libs/api/domains/occupational-licenses-v2/src/lib/occupationalLicensesV2.service.ts
  libs/api/domains/occupational-licenses/src/index.ts
  libs/service-portal/occupational-licenses/src/lib/messages.ts
  libs/service-portal/occupational-licenses/src/screens/v2/OccupationalLicensesDetail/OccupationalLicensesDetail.graphql
  libs/service-portal/occupational-licenses/src/screens/v2/OccupationalLicensesDetail/OccupationalLicensesDetail.tsx
  libs/service-portal/occupational-licenses/src/screens/v2/OccupationalLicensesOverview/OccupationalLicensesOverview.graphql
Due: Portal GraphQL

fix(j-s): Handle no defender assigned in indictment case InfoCard (#15414)
  apps/judicial-system/web/src/components/InfoCard/DefendantInfo/DefendantInfo.strings.ts
  apps/judicial-system/web/src/components/InfoCard/DefendantInfo/DefendantInfo.tsx
Due: none

fix(j-s): Public Prosecutor Staff (#15411)
  apps/judicial-system/web/src/routes/Admin/Users/Users.tsx
Due: none

fix(ui-fields): TableRepeaterField with NationalIdWithName component (#15365)
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-components/src/components/NationalIdWithName/NationalIdWithName.tsx
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterFormField.tsx
  libs/application/ui-fields/src/lib/TableRepeaterFormField/utils.ts
Due: none

fix(driving-license): Differentiate teachers using first 6 from nationalId (#15385)
  libs/application/templates/driving-license/src/forms/draft/subSectionTempInfo.ts
Due: Application System API

chore(j-s): Endpoint to retrieve lawyers for RLS (#15404)
  apps/judicial-system/xrd-api/src/app/app.controller.ts
  apps/judicial-system/xrd-api/src/app/app.model.ts
  apps/judicial-system/xrd-api/src/app/app.module.ts
  apps/judicial-system/xrd-api/src/app/test/createTestingAppModule.ts
Due: none

fix(system-e2e): Catch mock errors (#15415)
  apps/system-e2e/README.md
  apps/system-e2e/src/tests/islandis/service-portal/acceptance/setup-xroad.mocks.ts
Due: none

fix(j-s): Court Arrangements (#15406)
  apps/judicial-system/web/src/components/CourtArrangements/CourtArrangements.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Subpoena/Subpoena.tsx
  apps/judicial-system/web/src/routes/Court/InvestigationCase/HearingArrangements/HearingArrangements.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/HearingArrangements/HearingArrangements.tsx
  apps/judicial-system/web/src/utils/validate.ts
Due: none

Remov generated dist/ files (#15382)
  apps/api/dist/.nx-results
  apps/application-system/form/dist/.nx-results
  apps/financial-aid/web-osk/dist/.nx-results
  apps/financial-aid/web-veita/dist/.nx-results
  apps/judicial-system/web/dist/.nx-results
Due: Portal GraphQL

fix(j-s): Court Client Error Handling (#15423)
  libs/judicial-system/court-client/src/lib/courtClient.service.ts
Due: none

fix(j-s): Roles Rules (#15416)
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/guards/rolesRules.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getRulingSignatureConfirmation.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getRulingSignatureConfirmationRolesRules.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/requestRulingSignature.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/requestRulingSignatureRolesRules.spec.ts
Due: none

fix: rebuild when node version changes (#15427)
  nx.json
Due: none

chore: Update node.js version to LTS version (#15402)
  package.json
Due: none

chore: add dependabot to scripts (#15440)
  .github/dependabot.yml
Due: none

ci: use corepack enable (#15449)
  .github/actions/unit-test/action.yml
  .github/workflows/config-values.yaml
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
Due: none

fix(j-s): Indictment Filter Option (#15410)
  apps/judicial-system/web/src/routes/Shared/Cases/useFilter.spec.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/useFilter.tsx
Due: none

fix(service-portal): Headings structure fixed (#15268)
  apps/service-portal/src/screens/Dashboard/Dashboard.tsx
  libs/island-ui/core/src/lib/Filter/FilterMultiChoice/FilterMultiChoice.tsx
  libs/service-portal/documents/src/components/DocumentFilter/DocumentsFilter.tsx
  libs/service-portal/documents/src/components/DocumentFilter/DocumentsFilterV2.tsx
  libs/service-portal/finance/src/screens/FinanceTransactions/FinanceTransactions.tsx
Due: none

fix(service-portal): empty table heading for finance (#15273)
  libs/service-portal/core/src/components/ExpandableTable/Header.tsx
  libs/service-portal/core/src/utils/utils.ts
  libs/service-portal/finance/src/components/FinanceLoans/FinanceLoansTable.tsx
Due: none

fix(passport): updated xroad config (#15433)
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/dsl/xroad.ts
Due: none

chore(j-s): Web Environment Cleanup (#15425)
  apps/judicial-system/web/src/environments/environment.ts
Due: none

chore(j-s): Court Autofill (#15421)
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/create.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/create.spec.ts
  apps/judicial-system/web/src/components/UserProvider/currentUser.graphql
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Processing/Processing.tsx
Due: none

fix(j-s): Case file drag fixes (#15429)
  apps/judicial-system/web/src/components/AccordionItems/IndictmentsCaseFilesAccordionItem/IndictmentsCaseFilesAccordionItem.tsx
Due: none

feat(application-dld): Entry requirements in DP (#15430)
  libs/api/domains/driving-license/src/lib/drivingLicense.service.ts
  libs/api/domains/driving-license/src/lib/drivingLicense.type.ts
  libs/application/core/src/lib/messages.ts
  libs/application/template-api-modules/src/lib/modules/templates/driving-license-duplicate/driving-license-duplicate.service.ts
  libs/application/templates/driving-license-duplicate/src/dataProviders/index.ts
  libs/application/templates/driving-license-duplicate/src/forms/applicationSections/sectionDataProviders.ts
  libs/application/templates/driving-license-duplicate/src/lib/drivingLicenseDuplicateTemplate.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.types.ts
  libs/clients/driving-license/src/v4/clientConfig.json
  libs/clients/driving-license/src/v5/clientConfig.json
Due: Portal GraphQL, Application System API

fix(j-s): OpenAPI non-required fields (#15431)
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/dto/subpoena.dto.ts
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/models/subpoena.response.ts
Due: none

fix(system-e2e): Load x road mock in sequence (#15446)
  apps/system-e2e/src/tests/islandis/service-portal/acceptance/setup-xroad.mocks.ts
Due: none

fix(parental-leave): Update conclusion screen (#15452)
  libs/application/templates/parental-leave/src/forms/EditOrAddEmployersAndPeriods.ts
  libs/application/templates/parental-leave/src/forms/ParentalLeaveForm.ts
  libs/application/templates/parental-leave/src/lib/messages.ts
Due: Application System API

fix: generated files (#15450)
  package.json
  yarn.lock
Due: none

fix(application-system-api): Use withNx plugin in application-system-api webpack config (#15448)
  apps/application-system/api/webpack.config.js
Due: Application System API

feat(signature-collection): Application for Parliamentary Create List (#15333)
  libs/application/template-loader/src/lib/templateLoaders.ts
  libs/application/templates/signature-collection/assets/Illustration.tsx
  libs/application/templates/signature-collection/parliamentary-list-creation/.babelrc
  libs/application/templates/signature-collection/parliamentary-list-creation/.eslintrc.json
  libs/application/templates/signature-collection/parliamentary-list-creation/README.md
  libs/application/templates/signature-collection/parliamentary-list-creation/assets/Logo.tsx
  libs/application/templates/signature-collection/parliamentary-list-creation/jest.config.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/project.json
  libs/application/templates/signature-collection/parliamentary-list-creation/src/dataProviders/index.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/src/forms/Done.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/src/forms/Draft.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/src/forms/Prerequisites.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/src/index.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/src/lib/constants.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/src/lib/createCollectionTemplate.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/src/lib/dataSchema.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/src/lib/errors.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/src/lib/messages.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/src/lib/utils.ts
  libs/application/templates/signature-collection/parliamentary-list-creation/tsconfig.json
  libs/application/templates/signature-collection/parliamentary-list-creation/tsconfig.lib.json
  libs/application/templates/signature-collection/parliamentary-list-creation/tsconfig.spec.json
  libs/application/types/src/lib/ApplicationTypes.ts
  libs/application/types/src/lib/InstitutionMapper.ts
  libs/feature-flags/src/lib/features.ts
  tsconfig.base.json
Due: Application System API

fix(j-s): Handle empty string (#15435)
  apps/judicial-system/web/src/components/InfoCard/DefendantInfo/DefendantInfo.tsx
Due: none

fix(hid): Use correct id to fetch attachments on submit (#15454)
  libs/application/template-api-modules/src/lib/modules/templates/health-insurance-declaration/health-insurance-declaration.service.ts
Due: Application System API

fix(social-insurance-maintenance): add labels (#15443)
  libs/service-portal/core/src/lib/messages.ts
  libs/service-portal/social-insurance-maintenance/src/lib/messages.ts
  libs/service-portal/social-insurance-maintenance/src/lib/navigation.ts
  libs/service-portal/social-insurance-maintenance/src/screens/PaymentPlan/PaymentPlan.tsx
Due: none

fix(application-system-api): Fix user-profile shared-api module (#15439)
  libs/application/template-api-modules/src/lib/modules/shared/api/user-profile/user-profile.module.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/user-profile/user-profile.service.ts
Due: Application System API

feat(j-s): Subpoena type decision on court overview screen (#15432)
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Subpoena/Subpoena.tsx
  apps/judicial-system/web/src/routes/Court/components/SubpoenaType/SubpoenaType.strings.ts
  apps/judicial-system/web/src/routes/Court/components/SubpoenaType/SubpoenaType.tsx
  apps/judicial-system/web/src/routes/Court/components/index.ts
Due: none

chore: increase retention days (#15453)
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
Due: none
