Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

CI fixes
  libs/clients/middlewares/src/lib/createEnhancedFetch.spec.ts
  libs/clients/middlewares/src/lib/createEnhancedFetch.ts
  libs/clients/middlewares/src/lib/e2e/enhancedFetch.spec.ts
  libs/nest/feature-flags/src/lib/feature-flag.client.ts
Due: none

chore(web): Change width of University studies header for larger screens (#11422)
  apps/web/components/Organization/Wrapper/Themes/UniversityStudiesTheme/UniversityStudies.css.ts
  apps/web/components/Organization/Wrapper/Themes/UniversityStudiesTheme/UniversityStudiesHeader.tsx
Due: none

feat(web): Fix haskolanam header scaling (#11444)
  apps/web/components/Organization/Wrapper/Themes/UniversityStudiesTheme/UniversityStudies.css.ts
  apps/web/components/Organization/Wrapper/Themes/UniversityStudiesTheme/UniversityStudiesHeader.tsx
Due: none

feat(web): Hotfix - University studies header scaling (#11457)
  apps/web/components/Organization/Wrapper/Themes/UniversityStudiesTheme/UniversityStudies.css.ts
  apps/web/components/Organization/Wrapper/Themes/UniversityStudiesTheme/UniversityStudiesHeader.tsx
Due: none

change id name
  libs/application/templates/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/old-age-pension/src/lib/answerValidators.ts
Due: Application System API

format
  libs/application/template-api-modules/src/lib/modules/shared/api/national-registry/national-registry.service.ts
  libs/application/templates/old-age-pension/src/fields/ResidenceHistory/index.tsx
  libs/application/templates/old-age-pension/src/fields/Review/index.tsx
  libs/application/templates/old-age-pension/src/fields/Review/review-groups/BaseInformation.tsx
  libs/application/templates/old-age-pension/src/fields/index.ts
  libs/application/templates/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/old-age-pension/src/forms/Prerequisites.ts
  libs/application/templates/old-age-pension/src/lib/messages.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.ts
  libs/application/templates/old-age-pension/src/types.ts
  libs/application/types/src/lib/template-api/shared-api/models/national-registry/residence-history.ts
Due: Application System API

fix(service-portal): sp petition pdf change (#11451)
  apps/service-portal/src/assets/images/island.png
  apps/service-portal/src/assets/images/thjodskra.png
  libs/service-portal/petitions/src/screens/PetitionsTable/ExportPetition/DownloadPdf/index.tsx
Due: none

Revert "upgrade react-select to 5.7.3. remove @types/react-select"
  package.json
  yarn.lock
Due: none

Upgrade ioredis and related packages
  apps/air-discount-scheme/backend/src/app/modules/cache/cache.module.ts
  libs/api/domains/license-service/src/lib/client/driving-license-client/pkpass.client.ts
  libs/api/domains/license-service/src/lib/licenseService.service.ts
  libs/cache/src/index.ts
  libs/cache/src/lib/cache.module.ts
  libs/cache/src/lib/cache.ts
  libs/clients/middlewares/README.md
  libs/clients/middlewares/src/lib/withAutoAuth.spec.ts
  libs/clients/middlewares/src/lib/withAutoAuth.ts
  libs/clients/middlewares/src/lib/withCache/withCache.spec.ts
  libs/clients/middlewares/src/lib/withCache/withCache.ts
  libs/clients/national-registry/v2/src/lib/apiConfiguration.ts
  libs/clients/national-registry/v2/src/lib/cache.ts
  libs/clients/rsk/company-registry/src/lib/apiConfiguration.ts
  libs/clients/rsk/procuring/src/lib/RskProcuringClient.ts
  libs/clients/rsk/procuring/src/lib/RskProcuringClientModule.ts
  libs/clients/rsk/procuring/src/lib/apiConfiguration.ts
  libs/clients/user-profile/src/lib/apiConfiguration.ts
  libs/financial-aid/shared/src/lib/useAsyncLazyQuery.ts
  package.json
  yarn.lock
Due: Portal GraphQL

Default yarn to no semver prefix
  .yarnrc.yml
Due: none

Remove unused apollo deps
  apps/air-discount-scheme/web/i18n/withLocale.tsx
  apps/financial-aid/web-osk/src/components/AppProvider/AppProvider.tsx
  libs/localization/src/lib/withLocale.tsx
  package.json
  yarn.lock
Due: none

fix(access-control): Fix formatMessage syntax so extract-strings works. (#11454)
  libs/portals/shared-modules/delegations/src/screens/AccessControl.tsx
Due: none

Upgrade ADS cache usage
  apps/air-discount-scheme/backend/src/app/modules/discount/discount.service.ts
  apps/air-discount-scheme/backend/src/app/modules/flight/flight.controller.ts
  apps/air-discount-scheme/backend/src/app/modules/nationalRegistry/nationalRegistry.service.ts
  apps/air-discount-scheme/backend/src/app/modules/user/user.service.ts
  apps/air-discount-scheme/backend/types/global.d.ts
  libs/clients/rsk/procuring/src/lib/apiConfiguration.ts
Due: none

Update after DB changes + add worker
  apps/services/university-gateway/src/app/app.module.ts
  apps/services/university-gateway/src/app/modules/application/application.controller.ts
  apps/services/university-gateway/src/app/modules/application/application.service.ts
  apps/services/university-gateway/src/app/modules/application/dto/index.ts
  apps/services/university-gateway/src/app/modules/application/dto/updateApplicationDto.ts
  apps/services/university-gateway/src/app/modules/application/dto/updateApplicationExtradataDto.ts
  apps/services/university-gateway/src/app/modules/application/dto/updateApplicationStatusDto.ts
  apps/services/university-gateway/src/app/modules/course/course.controller.ts
  apps/services/university-gateway/src/app/modules/course/course.service.ts
  apps/services/university-gateway/src/app/modules/course/dto/index.ts
  apps/services/university-gateway/src/app/modules/course/dto/updateCourseDto.ts
  apps/services/university-gateway/src/app/modules/course/model/course.ts
  apps/services/university-gateway/src/app/modules/example/example.controller.ts
  apps/services/university-gateway/src/app/modules/example/example.module.ts
  apps/services/university-gateway/src/app/modules/example/example.service.ts
  apps/services/university-gateway/src/app/modules/example/model/exampleApplicationStatus.ts
  apps/services/university-gateway/src/app/modules/example/model/exampleCourse.ts
  apps/services/university-gateway/src/app/modules/example/model/exampleMajor.ts
  apps/services/university-gateway/src/app/modules/example/model/exampleMajorOtherField.ts
  apps/services/university-gateway/src/app/modules/example/model/index.ts
  apps/services/university-gateway/src/app/modules/example/types/index.ts
  apps/services/university-gateway/src/app/modules/major/dto/index.ts
  apps/services/university-gateway/src/app/modules/major/dto/updateMajorDto.ts
  apps/services/university-gateway/src/app/modules/major/major.controller.ts
  apps/services/university-gateway/src/app/modules/major/major.service.ts
  apps/services/university-gateway/src/app/modules/major/model/major.ts
  apps/services/university-gateway/src/app/modules/university/model/university.ts
Due: none

fix: wrong import
  libs/api/domains/disability-license/src/lib/disability-license.resolver.ts
  libs/api/domains/work-machines/src/lib/api-domains-work-machines.resolver.ts
Due: Portal GraphQL

Use auth in controller. Rename secrets.
  apps/services/auth/ids-api/infra/ids-api.ts
  apps/services/auth/ids-api/src/app/notifications/notifications.controller.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

Fix @types/react and @types/react-dom versions
  package.json
  yarn.lock
Due: none

adding email
  apps/judicial-system/backend/src/app/formatters/courtRecordPdf.ts
  apps/judicial-system/backend/src/app/formatters/formatters.ts
  apps/judicial-system/backend/src/app/messages/notifications.ts
  apps/judicial-system/backend/src/app/messages/pdfCourtRecord.ts
Due: none

fix(j-s): Test new functionality that updates openedByDefender
  apps/judicial-system/backend/src/app/modules/case/test/limitedAccessCaseController/getById.spec.ts
Due: none

Import Auth as type.
  apps/services/auth/ids-api/src/app/notifications/notifications.controller.ts
Due: none

fix: view around applications card fix height
  apps/native/app/src/screens/applications/applications.tsx
Due: none

forcing contentful to update
  apps/judicial-system/backend/src/app/messages/notifications.ts
Due: none

feat(ids-api): Add endpoint for sending sms. (#11426)
  apps/services/auth/ids-api/infra/ids-api.ts
  apps/services/auth/ids-api/src/app/app.module.ts
  apps/services/auth/ids-api/src/app/notifications/dto/sms-message.ts
  apps/services/auth/ids-api/src/app/notifications/notifications.controller.spec.ts
  apps/services/auth/ids-api/src/app/notifications/notifications.controller.ts
  apps/services/auth/ids-api/src/app/notifications/notifications.module.ts
  apps/services/auth/ids-api/src/app/notifications/notifications.service.ts
  apps/services/auth/ids-api/src/environments/environment.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

feat(summer-of-perf): Connection pooling for website requests (#11453)
  apps/web/graphql/client.ts
  apps/web/next.config.js
  libs/clients/middlewares/README.md
  libs/clients/middlewares/src/lib/createEnhancedFetch.spec.ts
  libs/clients/middlewares/src/lib/createEnhancedFetch.ts
  libs/clients/middlewares/src/lib/e2e/enhancedFetch.spec.ts
  libs/clients/middlewares/src/lib/withAgent.ts
  libs/cms/src/lib/contentful.repository.ts
  libs/nest/feature-flags/src/lib/feature-flag.client.ts
  libs/shared/constants/src/index.ts
  libs/shared/constants/src/lib/agent.ts
Due: none

updating test
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendRulingNotifications.spec.ts
Due: none

fix: update init
  apps/api/src/app/app.module.ts
  libs/api/domains/intellectual-property/src/index.ts
  libs/api/domains/intellectual-property/src/lib/models/getAllTrademarks.model.ts
  libs/api/domains/intellectual-property/src/lib/models/getDesign.model.ts
  libs/api/domains/intellectual-property/src/lib/models/getPatents.model.ts
  libs/api/domains/intellectual-property/src/lib/models/getTrademark.model.ts
  libs/clients/intellectual-property/src/index.ts
  libs/clients/intellectual-property/src/lib/intellectualPropertyClient.config.ts
Due: Portal GraphQL

const were in the wrong order
  libs/judicial-system/consts/src/lib/consts.ts
Due: none

Attempt at getting delegation
  apps/system-e2e/src/tests/islandis/service-portal/smoke/access-control.spec.ts
Due: none

feat: update dentist display
  libs/api/domains/rights-portal/src/index.ts
  libs/api/domains/rights-portal/src/lib/api-domains-rights-portal.resolver.ts
  libs/api/domains/rights-portal/src/lib/api-domains-rights-portal.service.ts
  libs/api/domains/rights-portal/src/lib/dto/getDentistBills.input.ts
  libs/api/domains/rights-portal/src/lib/dto/getHealthCenterHistory.input.ts
  libs/service-portal/core/src/utils/dateUtils.ts
  libs/service-portal/health/src/screens/Dentists/Dentists.graphql
  libs/service-portal/health/src/screens/Dentists/Dentists.tsx
  libs/service-portal/health/src/screens/HealthCenter/HealthCenter.graphql
Due: Portal GraphQL

fix
  apps/system-e2e/src/tests/islandis/web/smoke/endorsements.spec.ts
Due: none

Gives defencers access to inditcment pdf and case files record pdf
  apps/judicial-system/api/src/app/modules/file/file.controller.ts
  apps/judicial-system/api/src/app/modules/file/limitedAccessFile.controller.ts
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/filters/cases.filter.spec.ts
  apps/judicial-system/backend/src/app/modules/case/filters/cases.filter.ts
  apps/judicial-system/backend/src/app/modules/case/guards/test/caseDefenderGuard.spec.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.controller.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getIndictmentPdf.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getIndictmentPdfGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getIndictmentPdfRolesRules.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/archiveCaseFilesRecordGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverCaseFilesRecordToCourtGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/limitedAccessCaseController/getCaseFilesRecordPdf.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/limitedAccessCaseController/getCaseFilesRecordPdfGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/limitedAccessCaseController/getCaseFilesRecordPdfRolesRules.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/limitedAccessCaseController/getIndictmentPdf.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/limitedAccessCaseController/getIndictmentPdfGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/limitedAccessCaseController/getIndictmentPdfRolesRules.spec.ts
  apps/judicial-system/backend/src/app/modules/file/test/fileController/updateFilesGuards.spec.ts
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/components/PdfButton/PdfButton.tsx
Due: none

add to Review page
  libs/application/templates/old-age-pension/src/fields/Review/index.tsx
  libs/application/templates/old-age-pension/src/fields/Review/review-groups/Fishermen.tsx
  libs/application/templates/old-age-pension/src/fields/Review/review-groups/Period.tsx
  libs/application/templates/old-age-pension/src/lib/messages.ts
Due: Application System API

fix(j-s): use unique defenders for rulings
  apps/judicial-system/backend/src/app/modules/notification/notification.service.ts
Due: none

fix conflict
  SUMMARY.md
  libs/application/templates/old-age-pension/src/fields/Period/index.tsx
  libs/application/templates/old-age-pension/src/fields/Period/period.css.ts
  libs/application/templates/old-age-pension/src/fields/index.ts
  libs/application/templates/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/old-age-pension/src/lib/OldAgePensionTemplate.ts
  libs/application/templates/old-age-pension/src/lib/answerValidators.ts
  libs/application/templates/old-age-pension/src/lib/constants.ts
  libs/application/templates/old-age-pension/src/lib/dataSchema.ts
  libs/application/templates/old-age-pension/src/lib/messages.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.spec.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.ts
Due: Application System API

add validators for periods (#11417)
  libs/application/templates/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/old-age-pension/src/lib/answerValidators.spec.ts
  libs/application/templates/old-age-pension/src/lib/answerValidators.ts
  libs/application/templates/old-age-pension/src/lib/constants.ts
  libs/application/templates/old-age-pension/src/lib/messages.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.ts
Due: Application System API

merge
  libs/application/template-api-modules/src/lib/modules/shared/api/national-registry/national-registry.service.ts
  libs/application/templates/old-age-pension/src/dataProviders/index.ts
  libs/application/templates/old-age-pension/src/fields/AlertMessage/index.tsx
  libs/application/templates/old-age-pension/src/fields/ResidenceHistory/index.tsx
  libs/application/templates/old-age-pension/src/fields/Review/index.tsx
  libs/application/templates/old-age-pension/src/fields/Review/review-groups/BaseInformation.tsx
  libs/application/templates/old-age-pension/src/fields/Review/review-groups/props.ts
  libs/application/templates/old-age-pension/src/fields/index.ts
  libs/application/templates/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/old-age-pension/src/forms/Prerequisites.ts
  libs/application/templates/old-age-pension/src/hooks/useApplicationAnswers.ts
  libs/application/templates/old-age-pension/src/hooks/useStatefulAnswers.ts
  libs/application/templates/old-age-pension/src/index.ts
  libs/application/templates/old-age-pension/src/lib/OldAgePensionTemplate.ts
  libs/application/templates/old-age-pension/src/lib/dataSchema.ts
  libs/application/templates/old-age-pension/src/lib/messages.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.ts
  libs/application/templates/old-age-pension/src/types.ts
  libs/application/types/src/lib/template-api/shared-api/models/index.ts
  libs/application/types/src/lib/template-api/shared-api/models/national-registry/residence-history.ts
Due: Application System API

updating indictment court allowing assistand to see the sections
  apps/judicial-system/web/src/utils/hooks/useSections/index.ts
Due: none

adding consitency
  apps/judicial-system/web/src/utils/hooks/useSections/index.ts
  libs/judicial-system/types/src/lib/user.ts
Due: none

fix(estate): Estate refactor
  libs/application/templates/estate/src/forms/DivisionOfEstate/done.ts
  libs/application/templates/estate/src/forms/EstateDivision/done.ts
  libs/application/templates/estate/src/forms/EstateDivision/form.ts
  libs/application/templates/estate/src/forms/EstateDivision/official_division_form.ts
  libs/application/templates/estate/src/forms/EstateDivision/overviewSection.ts
  libs/application/templates/estate/src/forms/EstateWithoutAssets/done.ts
  libs/application/templates/estate/src/forms/EstateWithoutAssets/externalDataFields/propertiesFields.ts
  libs/application/templates/estate/src/forms/EstateWithoutAssets/form.ts
  libs/application/templates/estate/src/forms/EstateWithoutAssets/overviewSection.ts
  libs/application/templates/estate/src/forms/PermitToPostponeEstateDivision/done.ts
  libs/application/templates/estate/src/forms/Prerequisites.ts
  libs/application/templates/estate/src/forms/PrivateEstateDivision/done.ts
  libs/application/templates/estate/src/forms/PrivateEstateDivision/form.ts
  libs/application/templates/estate/src/forms/PrivateEstateDivision/overviewSection.ts
  libs/application/templates/estate/src/forms/sharedSections/announcerInfo.ts
  libs/application/templates/estate/src/forms/sharedSections/testamentInfo.ts
  libs/application/templates/estate/src/lib/EstateTemplate.ts
  libs/application/templates/estate/src/lib/constants.ts
  libs/application/templates/estate/src/lib/dataSchema.ts
Due: Application System API

fix: fitler otu deleted passes
  libs/clients/smartsolutions/src/lib/graphql/queries/queries.ts
Due: none
