Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

fix(j-s): cleanup
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Overview/Overview.tsx
Due: none

feat(web): SAk header - Disable pointer events on image (#14271)
  apps/web/components/Organization/Wrapper/Themes/SAkTheme/SAkHeader.css.ts
Due: none

chore: update hunting license template id
  apps/native/app/src/screens/license-scanner/license-scan-detail.tsx
Due: none

fix: add search debouncer and tweak advert dicplay
  apps/web/components/OfficialJournalOfIceland/OJOIAdvertDisplay.css.ts
  apps/web/components/OfficialJournalOfIceland/OJOIAdvertDisplay.tsx
  apps/web/screens/OfficialJournalOfIceland/OJOIAdvert.tsx
  apps/web/screens/OfficialJournalOfIceland/OJOISearch.tsx
Due: none

more cleanup
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/Overview/Overview.tsx
Due: none

testing logging
  infra/scripts/container-scripts/create-db.sh
  infra/src/secrets.ts
Due: none

Fixing typo bug for requireMilaege, also removing custom requireMilage field and replacing with TextField and HiddenField
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/MileageField/index.tsx
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/index.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/forms/ChangeCoOwnerOfVehicleForm/InformationSection/vehicleSubSection.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/MileageField/index.tsx
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/index.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/forms/ChangeOperatorOfVehicleForm/InformationSection/vehicleSubSection.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/MileageField/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/index.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/forms/TransferOfVehicleOwnershipForm/InformationSection/vehicleSubSection.ts
  libs/application/ui-fields/src/lib/FindVehicleFormField/FindVehicleFormField.tsx
Due: Application System API

feat(web): 404 Redirects - redirect users to page with correct locale (#14266)
  apps/web/utils/getServerSidePropsWrapper.ts
Due: none

fix(web): Display filter tag even though filter does not exist (#14273)
  apps/web/screens/Organization/PublishedMaterial/utils.ts
Due: none

fix(web): Ignore hash and query params when comparing organization subpage menu item urls (#14275)
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
Due: none

removed env requirement
  infra/src/secrets.ts
Due: none

ci: revert cache changes
  .github/CODEOWNERS
  .github/actions/cache/action.yml
  .github/actions/unit-test/action.yml
  .github/workflows/config-values.yaml
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
Due: none

Use backend types for contentful app
  apps/contentful-apps/pages/fields/chart-data-source-configuration-field.tsx
  libs/cms/src/lib/chart/chart.resolver.ts
  libs/cms/src/lib/environments/environment.ts
  libs/cms/src/lib/models/chartDataSource.model.ts
Due: none

Fix promise/async error
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/inheritance-report.service.ts
Due: Application System API

chore(parental-leave): Move getSelectOptionLabel (#14272)
  libs/application/templates/parental-leave/src/fields/EmployerApprovalExtraInformation/index.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/Payments.tsx
  libs/application/templates/parental-leave/src/lib/parentalLeaveClientUtils.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.ts
  libs/application/templates/parental-leave/src/types.ts
Due: Application System API

ci: ignore codeowners changes
  .github/CODEOWNERS
Due: none

Increment build number
  apps/native/app/ios/IslandApp.xcodeproj/project.pbxproj
Due: none

removed unused comments and vars
  apps/air-discount-scheme/backend/src/main.ts
  apps/services/sessions/src/main.ts
  infra/src/secrets.ts
Due: none

ci: revert cache changes (#14294)
  .github/actions/cache/action.yml
  .github/actions/unit-test/action.yml
  .github/workflows/config-values.yaml
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
Due: none

feat(ojoi): update dmr api and add new endpoints (#14282)
  libs/api/domains/ministry-of-justice/src/lib/ministryOfJustice.resolver.ts
  libs/api/domains/ministry-of-justice/src/lib/ministryOfJustice.service.ts
  libs/api/domains/ministry-of-justice/src/lib/models/advert.input.ts
  libs/api/domains/ministry-of-justice/src/lib/models/advert.model.ts
  libs/api/domains/ministry-of-justice/src/lib/models/advert.response.ts
  libs/clients/dmr/src/clientConfig.json
  libs/clients/dmr/src/lib/dmrClient.service.ts
Due: Portal GraphQL

Housing benefits infinite scrolling
  libs/service-portal/finance/src/components/HousingBenefitPayments/HousingBenefitsTable.tsx
  libs/service-portal/finance/src/screens/HousingBenefits/HousingBenefits.tsx
  tsconfig.base.json
Due: none

feat(j-s): Implement confirmation on uploaded indictment pdfs (#14191)
  apps/judicial-system/backend/src/app/formatters/PDFKitCoatOfArms.ts
  apps/judicial-system/backend/src/app/formatters/coatOfArms.ts
  apps/judicial-system/backend/src/app/formatters/confirmedIndictmentPdf.ts
  apps/judicial-system/backend/src/app/formatters/formatters.ts
  apps/judicial-system/backend/src/app/formatters/pdfHelpers.ts
  apps/judicial-system/backend/src/app/modules/case/interceptors/transition.interceptor.ts
  apps/judicial-system/backend/src/app/modules/case/pdf.service.ts
  apps/judicial-system/backend/src/app/modules/file/file.controller.ts
  apps/judicial-system/backend/src/app/modules/file/file.service.ts
  apps/judicial-system/backend/src/app/modules/file/internalFile.controller.ts
  apps/judicial-system/backend/src/app/modules/file/limitedAccessFile.controller.ts
  apps/judicial-system/backend/src/app/modules/file/test/fileController/getCaseFileSignedUrl.spec.ts
  apps/judicial-system/backend/src/app/modules/file/test/internalFileController/archiveCaseFile.spec.ts
  apps/judicial-system/backend/src/app/modules/file/test/limitedAccessFileController/getCaseFileSignedUrl.spec.ts
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Processing/Processing.tsx
  apps/judicial-system/web/src/utils/hooks/useCaseList/index.tsx
  apps/judicial-system/web/src/utils/hooks/useSections/index.ts
  apps/judicial-system/web/src/utils/stepHelper.ts
  apps/judicial-system/web/src/utils/validate.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

Handle multiple chart components
  libs/cms/src/lib/chart/chart.resolver.ts
  libs/cms/src/lib/chart/services/ultraviolet-radiation/latest-measurement.service.ts
  libs/cms/src/lib/chart/services/ultraviolet-radiation/series.service.ts
Due: none

fix(j-s): didnt need to remove this
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/Ruling/Ruling.tsx
Due: none

feat(native-app): show hunting license in app (#14221)
  apps/native/app/src/screens/license-scanner/license-scan-detail.tsx
  apps/native/app/src/screens/wallet/wallet.tsx
Due: none

feat: add scan result background for Veiðikort
  apps/native/app/src/ui/lib/scan-result-card/scan-result-card.tsx
Due: none

feat(application-ir): Add endpoints for pre-data (#13942)
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/inheritance-report.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/fakeData.ts
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/mappers.ts
  libs/application/templates/inheritance-report/src/dataProviders/EstateProvider.ts
  libs/application/templates/inheritance-report/src/dataProviders/index.ts
  libs/application/templates/inheritance-report/src/fields/AssetsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/fields/BusinessAssetsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/index.tsx
  libs/application/templates/inheritance-report/src/fields/ReportFieldsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/forms/OverviewSections/OverviewAssets.ts
  libs/application/templates/inheritance-report/src/forms/form.ts
  libs/application/templates/inheritance-report/src/forms/sections/assets.ts
  libs/application/templates/inheritance-report/src/forms/sections/business.ts
  libs/application/templates/inheritance-report/src/forms/sections/debts.ts
  libs/application/templates/inheritance-report/src/forms/sections/deceased.ts
  libs/application/templates/inheritance-report/src/forms/sections/heirs.ts
  libs/application/templates/inheritance-report/src/forms/sections/preSelection.ts
  libs/application/templates/inheritance-report/src/lib/InheritanceReportTemplate.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
  libs/application/templates/inheritance-report/src/lib/messages.ts
  libs/application/templates/inheritance-report/src/lib/utils/helpers.ts
  libs/application/templates/inheritance-report/src/lib/utils/isEstateInfo.ts
  libs/application/templates/inheritance-report/src/types.ts
  libs/clients/syslumenn/src/clientConfig.json
  libs/clients/syslumenn/src/lib/syslumennClient.service.ts
  libs/clients/syslumenn/src/lib/syslumennClient.types.ts
  libs/clients/syslumenn/src/lib/syslumennClient.utils.ts
Due: Application System API

Reuse filtering function
  apps/web/components/Charts/v2/utils/format.ts
  libs/clients/statistics/src/index.ts
  libs/cms/src/lib/chart/services/ultraviolet-radiation/series.service.ts
Due: none

Fixes appeal ruling validation
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/utils/validate.ts
Due: none

feat(native-app): add scan result background in scanner for Veiðikort (#14295)
  apps/native/app/src/ui/lib/scan-result-card/scan-result-card.tsx
Due: none

added response object to error log
  infra/src/secrets.ts
Due: none

chore: nx format:write update dirty files
  infra/src/secrets.ts
Due: none

fix(api): Fix pkpass verification (#14259)
  libs/api/domains/license-service/src/lib/licenseService.service.ts
Due: Portal GraphQL

feat(hunting-license): fix keys (#14274)
  apps/api/infra/api.ts
  apps/services/license-api/infra/license-api.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/clients/license-client/src/lib/clients/hunting-license-client/huntingLicenseClient.config.ts
Due: Portal GraphQL

feat(hunting-license): Hotifx - fix keys (#14298)
  apps/api/infra/api.ts
  apps/services/license-api/infra/license-api.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/clients/license-client/src/lib/clients/hunting-license-client/huntingLicenseClient.config.ts
Due: Portal GraphQL

Update version numbers
  apps/native/app/android/app/build.gradle
  apps/native/app/android/fastlane/README.md
  apps/native/app/ios/IslandApp.xcodeproj/project.pbxproj
  apps/native/app/ios/IslandApp/Info.plist
  apps/native/app/ios/fastlane/README.md
Due: none

fix(transport-authority): Fixing typo bug for requireMilaege, also removing custom requireMilag… (#14291)
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/MileageField/index.tsx
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/index.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/forms/ChangeCoOwnerOfVehicleForm/InformationSection/vehicleSubSection.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/MileageField/index.tsx
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/index.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/forms/ChangeOperatorOfVehicleForm/InformationSection/vehicleSubSection.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/MileageField/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/index.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/forms/TransferOfVehicleOwnershipForm/InformationSection/vehicleSubSection.ts
  libs/application/ui-fields/src/lib/FindVehicleFormField/FindVehicleFormField.tsx
Due: Application System API

chore: nx format:write update dirty files
  apps/native/app/android/fastlane/README.md
  apps/native/app/ios/fastlane/README.md
Due: none
