Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fix(judicial-system): apply appeal transition optimistic update to the targeted appeal
  apps/judicial-system/web/src/utils/hooks/useAppealCase/index.ts
Due: none

chore: format update dirty file
  libs/api/domains/ship-registry/src/lib/dto/seagoingTime.input.ts
  libs/api/domains/ship-registry/src/lib/resolvers/shipRegistry.resolver.ts
  libs/portals/my-pages/occupational-licenses/src/screens/Sailors/CompetencyCertificates/CompetencyCertificates.tsx
  libs/portals/my-pages/occupational-licenses/src/screens/Sailors/LegalRegistrations/LegalRegistrations.tsx
  libs/portals/my-pages/occupational-licenses/src/screens/Sailors/RightCertificates/RightCertificates.tsx
Due: Portal GraphQL

feat(judicial-system): show corrected ruling-order appeals on case overview
  apps/judicial-system/web/src/components/Alerts/AppealRulingModifiedAlert/AppealRulingModifiedAlert.spec.tsx
  apps/judicial-system/web/src/components/Alerts/AppealRulingModifiedAlert/AppealRulingModifiedAlert.tsx
Due: none

fix(as): Add housing benefits scope to the application system
  libs/auth-api-lib/seeders/data/add-housing-benefits-scope-to-application-system-client.ts
  libs/clients/hms-housing-benefits/src/lib/hms-housing-benefits.service.ts
Due: none

test(judicial-system): cover corrected ruling-order appeal notification
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendIndictmentAppealNotifications.spec.ts
Due: none

cleanup
  libs/clients/hms-housing-benefits/src/lib/hms-housing-benefits.service.ts
Due: none

chore: format update dirty file
  apps/web/components/connected/CustomsGeneral/CustomsGeneralPermits.tsx
  apps/web/components/connected/CustomsGeneral/CustomsGeneralTariffs.tsx
Due: none

fix: html eerror
  libs/portals/my-pages/occupational-licenses/src/screens/Sailors/CompetencyCertificates/CompetencyCertificates.tsx
Due: none

trigger user-profile
  apps/services/user-profile/src/main.ts
Due: none

feat: update messages for video calls
  apps/native/app/src/app/(auth)/(tabs)/health/appointments/[id].tsx
  apps/native/app/src/messages/en.ts
  apps/native/app/src/messages/is.ts
Due: none

feat(native-app): update loading and error states for appointments
  apps/native/app/src/app/(auth)/(tabs)/health/appointments/index.tsx
  apps/native/app/src/app/(auth)/(tabs)/health/index.tsx
Due: none

trigger application system
  apps/application-system/api/src/main.ts
Due: Application System API

trigger application system
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/housing-benefits.service.ts
Due: Application System API

feat(native-app): add global toast component (#22960)
  apps/native/app/src/app/(auth)/(modals)/settings.tsx
  apps/native/app/src/app/(auth)/(tabs)/inbox/[id]/index.tsx
  apps/native/app/src/app/(auth)/(tabs)/inbox/[id]/reply.tsx
  apps/native/app/src/app/(auth)/(tabs)/inbox/index.tsx
  apps/native/app/src/app/(auth)/onboarding/confirm-pin.tsx
  apps/native/app/src/app/_layout.tsx
  apps/native/app/src/components/toast.tsx
  apps/native/app/src/messages/en.ts
  apps/native/app/src/messages/is.ts
Due: none

feat(driving-license): surface RLS error-code descriptions in eligibility + submission errors (#22965)
  libs/api/domains/driving-license/src/lib/__mock-data__/requestHandlers.ts
  libs/api/domains/driving-license/src/lib/drivingLicense.service.ts
  libs/api/domains/driving-license/src/lib/drivingLicense.spec.ts
  libs/api/domains/driving-license/src/lib/drivingLicense.type.ts
  libs/api/domains/driving-license/src/lib/graphql/models/applicationEligibilityRequirement.model.ts
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.spec.ts
  libs/application/templates/driving-license/src/fields/EligibilitySummary/EligibilitySummary.tsx
  libs/application/templates/driving-license/src/fields/EligibilitySummary/ReviewSection/index.tsx
  libs/application/templates/driving-license/src/fields/EligibilitySummary/ReviewSection/types.ts
  libs/application/templates/driving-license/src/fields/EligibilitySummary/extractReasons.spec.ts
  libs/application/templates/driving-license/src/fields/EligibilitySummary/extractReasons.ts
  libs/application/templates/driving-license/src/fields/EligibilitySummary/useEligibility.ts
  libs/application/templates/driving-license/src/forms/prerequisites/sectionFakeData.ts
  libs/application/templates/driving-license/src/lib/drivingLicenseTemplate.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-components/src/components/PaymentPending/PaymentPending.tsx
  libs/application/ui-components/src/components/PaymentPending/util.spec.ts
  libs/application/ui-components/src/components/PaymentPending/util.ts
  libs/application/ui-fields/src/lib/PaymentPendingFormField/PaymentPentingFormField.tsx
  libs/application/ui-forms/src/lib/payment/payment.ts
  libs/application/utils/src/lib/builders/paymentStateBuilder.ts
  libs/clients/driving-license/src/index.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.spec.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.ts
  libs/clients/driving-license/src/v5/clientConfig.json
Due: Portal GraphQL, Application System API

feat(native-app): make sure to handle if user opens the detail screen for video calls more than 24 days before appointment.
  apps/native/app/src/app/(auth)/(tabs)/health/appointments/[id].tsx
Due: none

Attempt at fixing feature deployment
  apps/application-system-next/project.json
  apps/application-system-next/proxy.config.json
  apps/application-system-next/server.ts
  apps/application-system-next/tsconfig.server.json
  apps/application-system-next/webpack.config.js
Due: none

fix(native-app): update is translation
  apps/native/app/src/messages/is.ts
Due: none

show on prosecutor overview
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
Due: none

Coderabbit suggestions
  apps/web/components/connected/CustomsGeneral/CustomsGeneralCharges.tsx
  apps/web/components/connected/CustomsGeneral/translation.strings.ts
  apps/web/screens/queries/CustomsGeneral.ts
  libs/api/domains/customs-general/src/lib/customsGeneral.service.ts
  libs/api/domains/customs-general/src/lib/models/customsGeneralCharge.model.ts
Due: Portal GraphQL

show in court
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.tsx
Due: none

Further changes
  libs/application/template-api-modules/src/lib/modules/templates/vmst/submit-documents/submit-documents.service.ts
  libs/application/templates/vmst/submit-documents/src/lib/SubmitDocumentsTemplate.ts
  libs/application/templates/vmst/submit-documents/src/lib/messages.ts
  libs/clients/vmst-unemployment/src/clientConfig.json
Due: Application System API

Minor changes
  libs/application/template-api-modules/src/lib/modules/templates/vmst/submit-documents/submit-documents.service.ts
Due: Application System API

chore: fix values filtering
  libs/api/domains/questionnaires/src/lib/questionnaires.service.ts
Due: Portal GraphQL

trigger deploy
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/housing-benefits.service.ts
  libs/application/templates/hms/housing-benefits/src/lib/template.ts
Due: Application System API

Coderabbit
  libs/application/templates/vmst/submit-documents/src/lib/dataSchema.ts
Due: Application System API

fix(j-s): show loading before warning on initial police case files render
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/PoliceCaseFilesRoute.tsx
Due: none

chore: format update dirty file
  libs/clients/vmst-unemployment/src/clientConfig.json
  libs/portals/my-pages/social-benefits/src/lib/messages/activationGrant.ts
Due: none

chore: format update dirty file
  apps/native/app/src/app/(auth)/(tabs)/health/_layout.tsx
  apps/native/app/src/app/(auth)/(tabs)/health/appointments/[id].tsx
Due: none

fix(j-s): improve Modal accessibility
  apps/judicial-system/web/src/components/Modals/Modal/Modal.spec.tsx
  apps/judicial-system/web/src/components/Modals/Modal/Modal.tsx
Due: none

Deleting file
  libs/portals/my-pages/social-benefits/src/lib/messages/activationGrant.ts
Due: none

fix: add typing to prevent silent errors
  libs/api/domains/questionnaires/src/lib/dto/questionnaire-reply.types.ts
  libs/api/domains/questionnaires/src/lib/questionnaires.service.ts
  libs/clients/health-directorate/src/index.ts
  libs/clients/health-directorate/src/lib/clients/index.ts
Due: Portal GraphQL

Import error
  libs/portals/my-pages/social-benefits/src/lib/messages/index.ts
Due: none

cleanup
  apps/application-system/api/src/main.ts
  apps/services/user-profile/src/main.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/housing-benefits.service.ts
  libs/application/templates/hms/housing-benefits/src/lib/template.ts
Due: Application System API

chore: format update dirty file
  apps/judicial-system/web/src/components/Alerts/AppealRulingModifiedAlert/AppealRulingModifiedAlert.spec.tsx
Due: none

Adjust the detail view browser back functionality
  apps/web/components/connected/CustomsGeneral/CustomsGeneralCharges.tsx
  apps/web/components/connected/CustomsGeneral/CustomsGeneralExemptions.tsx
  apps/web/components/connected/CustomsGeneral/CustomsGeneralPermits.tsx
  apps/web/components/connected/CustomsGeneral/CustomsGeneralProhibitions.tsx
  apps/web/components/connected/CustomsGeneral/CustomsGeneralTariffs.tsx
  apps/web/components/connected/CustomsGeneral/useDetailViewBack.ts
Due: none

Coderabbit suggestion
  apps/web/components/connected/CustomsGeneral/CustomsGeneralCharges.tsx
Due: none

fix(j-s): animate Subpoena modal exit via AnimatePresence
  apps/judicial-system/web/src/routes/Court/Indictments/Subpoena/Subpoena.tsx
Due: none

fix(as): Add housing benefits scope to the application system (#23006)
  libs/auth-api-lib/seeders/data/add-housing-benefits-scope-to-application-system-client.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
