Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

fix(j-s): Handling of wrong appeal info
  apps/judicial-system/api/src/app/modules/case-list/interceptors/caseList.interceptor.ts
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.ts
Due: none

Update case.transformer.spec.ts
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.spec.ts
Due: none

Update caseList.interceptor.ts
  apps/judicial-system/api/src/app/modules/case-list/interceptors/caseList.interceptor.ts
Due: none

cleanup
  libs/api/domains/energy-funds/src/lib/energyFunds.service.ts
  libs/api/domains/transport-authority/src/lib/transportAuthority.service.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/utils/getSelectedVehicle.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/utils/getSelectedVehicle.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/utils/getSelectedVehicle.ts
Due: Portal GraphQL, Application System API

cleanup
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/change-co-owner-of-vehicle/change-co-owner-of-vehicle.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/change-operator-of-vehicle/change-operator-of-vehicle.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/transfer-of-vehicle-ownership/transfer-of-vehicle-ownership.service.ts
Due: Application System API

fix(financial-adi): use account number and ledger when sending bank info (#16599)
  libs/application/template-api-modules/src/lib/modules/templates/financial-aid/financial-aid.service.ts
Due: Application System API

chore: nx format:write update dirty files
  apps/services/user-profile/src/app/v2/user-profile.controller.ts
  apps/services/user-profile/src/app/v2/user-profile.service.ts
  libs/api/domains/user-profile/src/lib/V2/userProfile.service.ts
  libs/api/domains/user-profile/src/lib/adminUserProfile.resolver.ts
  libs/api/domains/user-profile/src/lib/dto/updateUserProfileInput.ts
  libs/api/domains/user-profile/src/lib/userProfile.service.ts
  libs/portals/admin/service-desk/src/lib/messages.ts
  libs/portals/admin/service-desk/src/screens/Companies/Companies.tsx
  libs/portals/admin/service-desk/src/screens/Procurers/Procurers.tsx
  libs/portals/admin/service-desk/src/screens/User/User.graphql
  libs/portals/admin/service-desk/src/screens/User/User.tsx
  libs/portals/admin/service-desk/src/screens/Users/Users.tsx
Due: Portal GraphQL

cleanup
  libs/api/domains/transport-authority/src/lib/transportAuthority.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/change-co-owner-of-vehicle/change-co-owner-of-vehicle.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/change-operator-of-vehicle/change-operator-of-vehicle.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/transfer-of-vehicle-ownership/transfer-of-vehicle-ownership.service.ts
Due: Portal GraphQL, Application System API

Cleanup
  apps/judicial-system/backend/src/app/modules/police/internalPolice.controller.ts
  apps/judicial-system/backend/src/app/modules/police/police.module.ts
  apps/judicial-system/backend/src/app/modules/police/police.service.ts
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/case.service.ts
Due: none

Finetune OtherFees flow and add validation. Update rentalAmount.
  libs/application/templates/rental-agreement/src/forms/rentalPeriod/rentalPeriodAmount.ts
  libs/application/templates/rental-agreement/src/forms/rentalPeriod/rentalPeriodOtherFees.ts
  libs/application/templates/rental-agreement/src/lib/constants.ts
  libs/application/templates/rental-agreement/src/lib/dataSchema.ts
  libs/application/templates/rental-agreement/src/lib/messages/dataSchema.ts
  libs/application/templates/rental-agreement/src/lib/messages/rentalInfo/rentalAmount.ts
Due: Application System API

feat(isand-ui): Remove open application button for rejected applications
  apps/application-system/api/src/app/modules/application/dto/application.response.dto.ts
  libs/api/domains/application/src/lib/application.model.ts
  libs/application/core/src/lib/ApplicationTemplateHelper.ts
  libs/application/graphql/src/lib/fragments/application.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/user-profile/user-profile.service.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/AdditionalSupportForTheElderlyTemplate.ts
  libs/application/types/src/lib/Application.ts
  libs/application/types/src/lib/StateMachine.ts
  libs/application/ui-components/src/components/ApplicationCard/utils/history.tsx
  libs/portals/admin/application-system/src/queries/overview.graphql
  libs/service-portal/graphql/src/lib/fragments/application.ts
Due: Portal GraphQL, Application System API

fix(admin): Signatures - display address (#16641)
  libs/portals/admin/signature-collection/src/shared-components/signees/index.tsx
Due: none

Remove user from getSubpoenaStatus
  apps/judicial-system/backend/src/app/modules/police/internalPolice.controller.ts
Due: none

Uncomment scopes
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/case.controller.ts
Due: none

Remove unused console..og
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/case.service.ts
Due: none

Refactor
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/case.service.ts
Due: none

feat(fa): Adding direct payments to pdf (#16635)
  apps/financial-aid/backend/src/app/formatters/applicationPdfHelper.ts
  apps/financial-aid/backend/src/app/formatters/createPdf.ts
  apps/financial-aid/backend/src/app/formatters/pdfhelpers.ts
Due: none

fix(admin): Hotfix signatures display address (#16646)
  libs/portals/admin/signature-collection/src/shared-components/signees/index.tsx
Due: none

undoing accidental change to return type in file upload resolver
  libs/api/domains/file-upload/src/lib/file-upload.resolver.ts
Due: Portal GraphQL

chore(University-Gateway): Change ownership of UG queries (#16634)
  .github/CODEOWNERS
Due: none

fix missing transaction commit
  libs/auth-api-lib/migrations/20241018150418-add-default-scopes-to-client-allowed-scope-table.js
Due: none

feat: add search
  libs/api/domains/vehicles/src/lib/dto/vehiclesListInputV3.ts
  libs/api/domains/vehicles/src/lib/services/vehicles.service.ts
Due: Portal GraphQL

start on advanced driving-license
  libs/application/templates/driving-license-duplicate/src/fields/Alert.tsx
  libs/application/templates/driving-license/src/fields/AdvancedLicense/AdvancedLicense.tsx
  libs/application/templates/driving-license/src/fields/AdvancedLicense/index.tsx
  libs/application/templates/driving-license/src/fields/index.ts
  libs/application/templates/driving-license/src/forms/prerequisites/getForm.ts
  libs/application/templates/driving-license/src/forms/prerequisites/sectionAdvancedLicenseSelection.ts
  libs/application/templates/driving-license/src/forms/prerequisites/sectionApplicationFor.ts
  libs/application/templates/driving-license/src/lib/constants.ts
  libs/application/templates/driving-license/src/lib/dataSchema.ts
  libs/application/templates/driving-license/src/lib/drivingLicenseTemplate.ts
  libs/application/templates/driving-license/src/lib/getApplicationFeatureFlags.ts
  libs/application/templates/driving-license/src/lib/messages.ts
  libs/application/templates/driving-license/src/lib/utils/formUtils.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/api/domains/file-upload/src/lib/file-upload.resolver.ts
Due: Portal GraphQL

Removing unused s3 function after refactoring
  libs/nest/aws/src/lib/s3.service.ts
Due: none

Send service failed and success notification to prosecutors
  apps/judicial-system/backend/src/app/modules/notification/subpoenaNotification.service.ts
  apps/judicial-system/backend/src/app/modules/subpoena/internalSubpoena.controller.ts
Due: none

chore(skilavottord): Expand cpu and ram size (#16630)
  apps/skilavottord/web/infra/skilavottord-web.ts
  apps/skilavottord/ws/infra/skilavottord-ws.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

Pie chart type refactor
  apps/contentful-apps/pages/fields/chart-component-source-data-key-field.tsx
Due: none

fix(bulk-mileage): update bulk mileage (#16539)
  libs/api/domains/vehicles/src/lib/dto/updateResponseError.dto.ts
  libs/api/domains/vehicles/src/lib/dto/vehiclesListInputV3.ts
  libs/api/domains/vehicles/src/lib/models/v3/bulkMileage/bulkMileageReadingResponse.model.ts
  libs/api/domains/vehicles/src/lib/models/v3/postVehicleMileageResponse.model.ts
  libs/api/domains/vehicles/src/lib/models/v3/putVehicleMileageResponse.model.ts
  libs/api/domains/vehicles/src/lib/models/v3/vehicleMileageResponseError.model.ts
  libs/api/domains/vehicles/src/lib/resolvers/mileage.resolver.ts
  libs/api/domains/vehicles/src/lib/services/bulkMileage.service.ts
  libs/api/domains/vehicles/src/lib/services/vehicles.service.ts
  libs/service-portal/assets/src/lib/messages.ts
  libs/service-portal/assets/src/screens/VehicleBulkMileage/VehicleBulkMileage.graphql
  libs/service-portal/assets/src/screens/VehicleBulkMileage/VehicleBulkMileageFileDownloader.tsx
  libs/service-portal/assets/src/screens/VehicleBulkMileage/VehicleBulkMileageRow.tsx
  libs/service-portal/assets/src/screens/VehicleBulkMileageJobDetail/VehicleBulkMileageJobDetail.tsx
  libs/service-portal/assets/src/screens/VehicleBulkMileageUpload/VehicleBulkMileageUpload.graphql
  libs/service-portal/assets/src/screens/VehicleBulkMileageUpload/VehicleBulkMileageUpload.tsx
  libs/service-portal/assets/src/utils/parseCsvToMileage.ts
  libs/service-portal/assets/src/utils/parseFileToMileage.ts
Due: Portal GraphQL

Adding content type to education upload
  libs/api/domains/education/src/lib/education.service.ts
Due: Portal GraphQL

Update condition functions for rentalPeriod -Amount and -OtherFees
  libs/application/templates/rental-agreement/src/forms/rentalPeriod/rentalPeriodAmount.ts
  libs/application/templates/rental-agreement/src/forms/rentalPeriod/rentalPeriodOtherFees.ts
  libs/application/templates/rental-agreement/src/lib/utils.ts
Due: Application System API

chore(skilavottord): Expand cpu and ram size (#16630) (#16648)
  apps/skilavottord/web/infra/skilavottord-web.ts
  apps/skilavottord/ws/infra/skilavottord-ws.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

removing table since it is not a table
  apps/financial-aid/open-api/src/app/backendModels/pdfResponse.model.ts
Due: none

fixing spacing on Select inputs and adding a placeholder
  libs/application/templates/aosh/work-accident-notification/src/fields/Components/CausesAndEffects.tsx
  libs/application/templates/aosh/work-accident-notification/src/fields/Components/MultiSelectDropdown.tsx
  libs/application/templates/aosh/work-accident-notification/src/lib/messages/causeAndConsequences.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/api/domains/education/src/lib/education.service.ts
Due: Portal GraphQL

fix after merge
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/clients/social-insurance-administration/src/lib/dto/application.dto.ts
Due: Application System API

fix(inheritance-report): text adjustments
  libs/application/templates/inheritance-report/src/fields/HeirsRepeater/AdditionalHeir.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/lib/messages.ts
Due: Application System API

fixing review from code rabbit
  apps/financial-aid/open-api/src/app/backendModels/pdfResponse.model.ts
Due: none
