Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

feat(core): Scan and upload feature flags (#12207)
  .github/workflows/pullrequest.yml
Due: none

Fixes step validation
  apps/judicial-system/web/src/routes/Prosecutor/components/CaseFiles/CaseFiles.tsx
Due: none

Consolidates non LÖKE file uploads
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/PoliceCaseFilesRoute.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.tsx
  apps/judicial-system/web/src/routes/Shared/Statement/Statement.tsx
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
Due: none

Fix flicker in ui
  apps/judicial-system/web/src/components/SelectableList/SelectableList.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Defendant/LokeNumberList/LokeNumberList.tsx
Due: none

Removes unnecessary spreading
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
Due: none

Cleanup in mapping from uni api
  apps/services/university-gateway/backend/migrations/20230704095327-create-program.js
  apps/services/university-gateway/backend/migrations/20230704100204-create-program_mode_of_delivery.js
  libs/clients/university-application/reykjavik-university/src/lib/reykjavikUniversityClient.service.ts
  libs/clients/university-application/university-of-iceland/src/lib/universityOfIcelandClient.service.ts
  libs/university-gateway-lib/src/lib/types/modeOfDelivery.ts
  libs/university-gateway-lib/src/lib/utils/enum.ts
Due: none

Add runInBand for services-auth-* apis. Remove transform in jest.preset.js in root.
  apps/services/auth/admin-api/project.json
  apps/services/auth/delegation-api/project.json
  apps/services/auth/ids-api/project.json
  apps/services/auth/personal-representative-public/project.json
  apps/services/auth/personal-representative/project.json
  apps/services/auth/public-api/project.json
  jest.preset.js
  scripts/ci/30_test.sh
Due: none

Fixes file matching when removing a LÖKE file
  apps/judicial-system/web/src/components/FormProvider/caseGql.ts
  apps/judicial-system/web/src/components/FormProvider/limitedAccessCaseGql.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/PoliceCaseFilesRoute.tsx
  apps/judicial-system/web/src/utils/formHelper.ts
  apps/judicial-system/web/src/utils/hooks/useCase/mutations.ts
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
Due: none

Fixes LÖKE file deletion
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/PoliceCaseFilesRoute.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/CaseFiles/CaseFiles.tsx
Due: none

Handles duplicate files from LÖKE
  apps/judicial-system/backend/src/app/modules/police/police.service.ts
  apps/judicial-system/web/src/routes/Prosecutor/components/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseFiles/PoliceCaseFiles.tsx
Due: none

Uses hook upload type instead of base type
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.tsx
  apps/judicial-system/web/src/routes/Shared/Statement/Statement.tsx
Due: none

Test babel-jest for application-system-api
  apps/application-system/api/babel.config.json
  apps/application-system/api/jest.config.ts
  apps/application-system/api/test/globalSetup.ts
  apps/application-system/api/test/globalTeardown.ts
  jest.preset.js
  libs/application/api/files/src/lib/files.module.ts
  libs/testing/nest/src/lib/hooks/useDatabase.ts
  package.json
  yarn.lock
Due: Application System API

Moves ui method out of hook
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/PoliceCaseFilesRoute.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.tsx
  apps/judicial-system/web/src/routes/Shared/Statement/Statement.tsx
  apps/judicial-system/web/src/utils/formHelper.ts
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
Due: none

Renames methods
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/PoliceCaseFilesRoute.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.tsx
  apps/judicial-system/web/src/routes/Shared/Statement/Statement.tsx
  apps/judicial-system/web/src/utils/hooks/useFileList/index.ts
  apps/judicial-system/web/src/utils/hooks/useFileList/limitedAccessGetSigendUrl.graphql
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
Due: none

Rewrites file id assignment
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
Due: none

Rewrites new upload files
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/PoliceCaseFilesRoute.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.tsx
  apps/judicial-system/web/src/routes/Shared/Statement/Statement.tsx
  apps/judicial-system/web/src/utils/formHelper.ts
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
Due: none

Removes redundant method
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
Due: none

Rewrites file update
  apps/judicial-system/web/src/utils/formHelper.ts
Due: none

klaradi cms virkni og utli2
  apps/web/hooks/useLinkResolver/useLinkResolver.ts
  apps/web/pages/en/haskolanam/samanburdur.tsx
  apps/web/screens/UniversitySearch/Comparison.tsx
  apps/web/screens/UniversitySearch/UniversitySearch.css.ts
  apps/web/screens/UniversitySearch/UniversitySearch.tsx
  apps/web/screens/queries/UniversityGateway.ts
  libs/api/domains/university-gateway/src/lib/graphql/models/university.model.ts
  libs/api/domains/university-gateway/src/lib/universityGateway.module.ts
  libs/api/domains/university-gateway/src/lib/universityGateway.service.ts
Due: Portal GraphQL

fix(web): Contact form suggestions not being displayed on service web (#12186)
  apps/web/components/ServiceWeb/Forms/StandardForm/StandardForm.tsx
Due: none

fix(web): Prevent powerbi embed token cache (#12203)
  libs/cms/src/lib/models/powerBiSlice.model.ts
Due: none

Change values name for features
  .github/workflows/push.yml
Due: none

Update contentful key for universities
  apps/services/university-gateway/backend/seeders/20230707094306-add-universities.js
Due: none

feat(web): Display aircraft registration number in table (#12198)
  apps/web/components/connected/vehicles/AircraftSearch.tsx
Due: none

Fixed Review page
  libs/application/templates/child-pension/src/fields/Review/index.tsx
Due: Application System API

feat(child-pension): Choose/register children and select reasons (#12211)
  libs/application/templates/child-pension/src/fields/ChildPensionReason/ChildPensionReason.tsx
  libs/application/templates/child-pension/src/fields/ChildPensionReason/ParentIsDead/Parent.tsx
  libs/application/templates/child-pension/src/fields/ChildPensionReason/ParentIsDead/index.tsx
  libs/application/templates/child-pension/src/fields/ChildPensionReason/ParentsPenitentiary/index.tsx
  libs/application/templates/child-pension/src/fields/ChooseChildren/ChooseChildren.tsx
  libs/application/templates/child-pension/src/fields/RegisterChild/RegisterChild.tsx
  libs/application/templates/child-pension/src/fields/RegisterChild/RegisterChildRepeater.tsx
  libs/application/templates/child-pension/src/fields/RegisterChild/RegisterChildTable.tsx
  libs/application/templates/child-pension/src/fields/Review/index.tsx
  libs/application/templates/child-pension/src/fields/Review/review-groups/Attachments.tsx
  libs/application/templates/child-pension/src/fields/Review/review-groups/Children.tsx
  libs/application/templates/child-pension/src/fields/index.ts
  libs/application/templates/child-pension/src/forms/ChildPensionForm.ts
  libs/application/templates/child-pension/src/forms/Prerequisites.ts
  libs/application/templates/child-pension/src/graphql/queries.ts
  libs/application/templates/child-pension/src/lib/ChildPensionTemplate.ts
  libs/application/templates/child-pension/src/lib/answerValidationSections/fileUploadValidationSection.ts
  libs/application/templates/child-pension/src/lib/answerValidationSections/utils.ts
  libs/application/templates/child-pension/src/lib/answerValidationSections/validateLastestChild.ts
  libs/application/templates/child-pension/src/lib/answerValidationSections/validateSelectedChildrenInCustodyReason.ts
  libs/application/templates/child-pension/src/lib/answerValidators.ts
  libs/application/templates/child-pension/src/lib/childPensionUtils.ts
  libs/application/templates/child-pension/src/lib/constants.ts
  libs/application/templates/child-pension/src/lib/messages.ts
  libs/application/templates/child-pension/src/types.ts
Due: Application System API

cleanup unused dep
  libs/portals/shared-modules/delegations/src/hooks/useDomains/useDomains.ts
Due: none

TS-193
  libs/application/templates/child-pension/src/forms/ChildPensionForm.ts
  libs/application/templates/child-pension/src/lib/childPensionUtils.ts
  libs/application/templates/child-pension/src/lib/dataSchema.ts
  libs/application/templates/child-pension/src/lib/messages.ts
Due: Application System API

feat(web): Hotfix - Skip caching powerbi token (#12210)
  libs/cms/src/lib/models/powerBiSlice.model.ts
Due: none

Rename file to feature name
  .github/workflows/push.yml
Due: none

Query nested fields
  apps/web/screens/queries/LifeEvents.tsx
Due: none

stuff
  apps/web/screens/UniversitySearch/UniversitySearch.tsx
  apps/web/screens/queries/UniversityGateway.ts
  libs/api/domains/university-gateway/src/lib/graphql/models/program.model.ts
  libs/api/domains/university-gateway/src/lib/universityGateway.service.ts
Due: Portal GraphQL

Add chat to service web
  apps/web/components/ServiceWeb/config.ts
Due: none

feat(web): Hotfix - aircraft registry regno column (#12212)
  apps/web/components/connected/vehicles/AircraftSearch.tsx
Due: none

feat(web): Query nested fields for life event pages (#12214)
  apps/web/screens/queries/LifeEvents.tsx
Due: none

Update contentful types
  libs/cms/src/lib/generated/contentfulTypes.d.ts
Due: none

[TS-184] conclusion page
  libs/application/templates/child-pension/src/assets/Images/Baby.tsx
  libs/application/templates/child-pension/src/fields/Conclusion/Conclusion.css.ts
  libs/application/templates/child-pension/src/fields/Conclusion/Conclusion.tsx
  libs/application/templates/child-pension/src/fields/index.ts
  libs/application/templates/child-pension/src/lib/messages.ts
Due: Application System API

[TS-184] conclusion page (#12216)
  libs/application/templates/child-pension/src/assets/Images/Baby.tsx
  libs/application/templates/child-pension/src/fields/Conclusion/Conclusion.css.ts
  libs/application/templates/child-pension/src/fields/Conclusion/Conclusion.tsx
  libs/application/templates/child-pension/src/fields/index.ts
  libs/application/templates/child-pension/src/lib/messages.ts
Due: Application System API

Change margin and import naming
  apps/web/screens/Project/Project.tsx
  apps/web/screens/Project/ProjectTableOfContents.tsx
Due: none
