Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Cleanup
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/template-api-modules/src/lib/modules/templates/healthcare-license-certificate/healthcare-license-certificate.service.ts
  libs/application/templates/healthcare-license-certificate/src/index.ts
  libs/application/templates/healthcare-license-certificate/src/lib/messages/externalData.ts
  libs/application/ui-forms/src/lib/formConclusionSection/formConclusionSection.ts
  libs/clients/health-directorate/src/lib/healthDirectorateClient.config.ts
  libs/clients/health-directorate/src/lib/healthDirectorateClient.service.ts
Due: Application System API

fix: improve create-db.ts, added test
  infra/src/create-db.spec.ts
  infra/src/create-db.ts
  infra/src/lib/db.ts
  infra/src/lib/ssm.ts
Due: none

Target a quote globally
  libs/judicial-system/formatters/src/lib/formatters.ts
Due: none

chore(j-s): Fix spacing in CaseFilesOverview component (#12898)
  apps/judicial-system/web/src/routes/CourtOfAppeal/components/CaseFilesOverview/CaseFilesOverview.tsx
Due: none

linting cleanup
  apps/services/user-notification/src/app/app.module.ts
  apps/services/user-notification/src/app/modules/notifications/dto/notification.dto.ts
  apps/services/user-notification/src/app/modules/notifications/me-notifications.controller.ts
  apps/services/user-notification/src/app/modules/notifications/notification.status.enum.ts
  apps/services/user-notification/src/app/modules/notifications/notifications.controller.ts
  apps/services/user-notification/src/app/modules/notifications/notifications.service.spec.ts
  apps/services/user-notification/src/app/modules/notifications/notifications.service.ts
  apps/services/user-notification/src/buildOpenApi.ts
  libs/nest/pagination/src/lib/dto/pagination.dto.ts
Due: none

Add tests
  libs/judicial-system/formatters/src/lib/formatters.spec.ts
Due: none

Fix typo
  libs/judicial-system/formatters/src/lib/formatters.spec.ts
Due: none

chore(j-s): Strip identifiable strings from error logs (#12861)
  apps/judicial-system/backend/src/app/modules/court/court.service.ts
Due: none

feat(app): release
  apps/native/app/README.md
  apps/native/app/android/fastlane/README.md
  apps/native/app/ios/IslandApp.xcodeproj/project.pbxproj
  apps/native/app/ios/IslandApp/Info.plist
  apps/native/app/ios/fastlane/Fastfile
  apps/native/app/ios/fastlane/README.md
  apps/native/app/package.json
Due: none

chore: nx format:write update dirty files
  apps/services/user-notification/src/app/app.module.ts
  apps/services/user-notification/src/app/modules/notifications/dto/notification.dto.ts
  apps/services/user-notification/src/app/modules/notifications/notifications.controller.ts
Due: none

tweaks
  libs/application/templates/estate/src/fields/RealEstateRepeater/AdditionalRealEstate.tsx
  libs/application/templates/estate/src/lib/messages.ts
Due: Application System API

chore: nx format:write update dirty files
  apps/native/app/android/fastlane/README.md
  apps/native/app/ios/fastlane/README.md
Due: none

wip
  libs/application/templates/estate/src/forms/Forms.ts
  libs/application/templates/estate/src/forms/OverviewSections/assetsAndDebts.ts
  libs/application/templates/estate/src/lib/messages.ts
Due: Application System API

logging added
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/attachments/applicationAttachment.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/attachments/applicationAttachmentProvider.ts
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/attachments/s3.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/citizenship.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/types/attachments.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/dataProviders/index.ts
  libs/application/templates/energy-funds/src/forms/EnergyFundsForm/GrantSection/BankInformation.ts
Due: Application System API

let template api handle the errors
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
Due: Application System API

Fixed typo, removed progress and removed UploadAdditionalDocuments
  libs/application/templates/social-insurance-administration/old-age-pension/src/fields/UploadAdditionalDocuments/index.tsx
  libs/application/templates/social-insurance-administration/old-age-pension/src/fields/index.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/AdditionalDocumentsRequired.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.spec.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/constants.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/oldAgePensionUtils.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/types.ts
Due: Application System API

removed failing tests
  apps/services/auth/delegation-api/src/app/delegations/test/me-delegations.access-outgoing.spec.ts
  apps/services/auth/delegation-api/src/app/domains/test/domains.controller.spec.ts
  apps/services/auth/delegation-api/test/access-outgoing-test-cases.ts
  apps/services/auth/delegation-api/test/types.ts
  libs/services/auth/testing/src/fixtures/fixture-factory.ts
Due: none

update default provider for intro header
  libs/service-portal/core/src/components/IntroHeader/IntroHeader.tsx
  libs/service-portal/education/src/screens/EducationGraduationDetail/EducationGraduationDetail.tsx
Due: none

reduce timeout time for SocialInsuranceAdministrationApi
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.config.ts
Due: none

fix(service-portal): Update default provider for intro header (#12900)
  libs/service-portal/core/src/components/IntroHeader/IntroHeader.tsx
  libs/service-portal/education/src/screens/EducationGraduationDetail/EducationGraduationDetail.tsx
Due: none

Add pagination to fetching sync data
  apps/web/screens/Organization/Syslumenn/OperatingLicenses.tsx
  libs/cms/src/lib/search/cmsSync.service.ts
  libs/cms/src/lib/search/contentful.service.ts
  libs/content-search-indexer/src/lib/indexing.service.ts
  libs/content-search-indexer/types/src/index.ts
Due: none

Downgrade msw
  libs/shared/mocking/src/graphql/createGraphqlHandler.ts
  package.json
  yarn.lock
Due: none

Move comment
  libs/content-search-indexer/src/lib/indexing.service.ts
Due: none

Mileage title loading
  libs/service-portal/assets/src/screens/VehicleMileage/VehicleMileage.tsx
Due: none

fix(service-portal): Mileage title loading (#12903)
  libs/service-portal/assets/src/screens/VehicleMileage/VehicleMileage.tsx
Due: none

Revert
  libs/shared/mocking/src/graphql/createGraphqlHandler.ts
  package.json
  yarn.lock
Due: none

Move ordering
  libs/content-search-indexer/src/lib/indexing.service.ts
Due: none

wip
  libs/application/templates/estate/src/forms/Forms.ts
Due: Application System API

removed comments
  apps/services/auth/admin-api/src/app/v2/scopes/test/me-scopes.spec.ts
Due: none

Added unit tests
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.ts
Due: Application System API

Disabled E2E test for now
  apps/system-e2e/src/tests/islandis/application-system/acceptance/car-recycling.spec.ts
Due: none

refactor
  libs/application/templates/estate/src/forms/OverviewSections/assetsAndDebts.ts
Due: Application System API

feat: generation
  libs/clients/insurance-payments/.eslintrc.json
  libs/clients/insurance-payments/README.md
  libs/clients/insurance-payments/jest.config.ts
  libs/clients/insurance-payments/project.json
  libs/clients/insurance-payments/src/clientConfig.json
  libs/clients/insurance-payments/src/index.ts
  libs/clients/insurance-payments/src/lib/clients-insurance-payments.module.ts
  libs/clients/insurance-payments/tsconfig.json
  libs/clients/insurance-payments/tsconfig.lib.json
  libs/clients/insurance-payments/tsconfig.spec.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: none

feat: add client
  .github/CODEOWNERS
  apps/api/infra/api.ts
  apps/api/src/app/app.module.ts
  infra/src/dsl/xroad.ts
  libs/clients/insurance-payments/src/index.ts
  libs/clients/insurance-payments/src/lib/clients-insurance-payments.module.ts
  libs/clients/insurance-payments/src/lib/insurancePayments.config.ts
  libs/clients/insurance-payments/src/lib/insurancePayments.module.ts
  libs/clients/insurance-payments/src/lib/insurancePayments.provider.ts
Due: Portal GraphQL

Reverts changes
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.spec.ts
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.ts
  apps/judicial-system/api/src/app/modules/caseList/interceptors/caseList.interceptor.ts
Due: none

Fix minor mileage page issues
  libs/service-portal/assets/src/lib/messages.ts
  libs/service-portal/assets/src/screens/VehicleDetail/VehicleDetail.tsx
  libs/service-portal/assets/src/screens/VehicleMileage/VehicleMileage.tsx
Due: none

Reverts changes
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.spec.ts
Due: none

Reverts changes
  apps/judicial-system/api/src/app/modules/caseList/models/caseList.model.ts
  apps/judicial-system/backend/src/app/modules/case/guards/rolesRules.ts
  apps/judicial-system/backend/src/app/modules/case/interceptors/caseList.interceptor.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/models/caseListEntry.response.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

Reverts changes
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
Due: none

fix(service-portal): Minor mileage page issues (#12906)
  libs/service-portal/assets/src/lib/messages.ts
  libs/service-portal/assets/src/screens/VehicleDetail/VehicleDetail.tsx
  libs/service-portal/assets/src/screens/VehicleMileage/VehicleMileage.tsx
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
