Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

fix(application-system): show specific error reason in shared PaymentPending
  libs/application/ui-components/src/components/PaymentPending/PaymentPending.tsx
Due: none

fix(driving-license): add BE-specific done screen intro and replace placeholder text
  libs/application/templates/driving-license/src/forms/done.ts
  libs/application/templates/driving-license/src/lib/messages.ts
Due: Application System API

fix(driving-license): default to Thjodskra photo in BE photo selection
  libs/application/templates/driving-license/src/forms/draft/subSectionQualityPhotoBE.ts
Due: Application System API

fix(application-system): revert shared PaymentPending error reason changes
  libs/application/ui-components/src/components/PaymentPending/PaymentPending.tsx
Due: none

Fixes build
  apps/judicial-system/web/src/utils/hooks/useCase/useCase.logic.ts
Due: none

fix coderabbit suggestions
  apps/services/form-system/src/app/modules/applications/applications.xroad.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.xroad.service.ts
  apps/services/form-system/src/app/modules/file/file.service.ts
Due: none

rabbit
  apps/services/form-system/src/app/modules/applications/applications.xroad.service.ts
  apps/services/form-system/src/app/modules/file/file.service.ts
Due: none

fix
  apps/services/form-system/src/app/modules/file/file.service.ts
Due: none

refactor(form-system): streamline field checks for English translations
  libs/portals/admin/form-system/src/lib/utils/validateNameTranslations.ts
Due: none

refactor(form-system): remove 'organizationName' from fields to check
  libs/portals/admin/form-system/src/lib/utils/validateNameTranslations.ts
Due: none

feat(form-system): Translation validation before form publication
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableRow.tsx
  libs/portals/admin/form-system/src/lib/utils/validateNameTranslations.ts
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: none

Fixes table title
  libs/judicial-system/types/src/lib/tables/caseTables/districtCourt.ts
Due: none

Fixes appeal tag generator
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.cellGenerators.ts
Due: none

fix(my-pages): Appointments UI
  libs/portals/my-pages/health/src/screens/Appointments/AppointmentDetail.tsx
  libs/portals/my-pages/health/src/screens/Appointments/AppointmentsOverview.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/components/Appointments.tsx
  libs/portals/my-pages/health/src/utils/googleMaps.ts
Due: none

Trim
  libs/cms/src/lib/models/article.model.ts
Due: none

fix(form-system): x-road endpoints (#22141)
  apps/services/form-system/src/app/modules/applications/applications.module.ts
  apps/services/form-system/src/app/modules/applications/applications.xroad.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.xroad.service.ts
  apps/services/form-system/src/app/modules/applications/models/dto/application.xroad.dto.ts
  apps/services/form-system/src/app/modules/applications/models/dto/file.response.dto.ts
  apps/services/form-system/src/app/modules/file/file.service.ts
Due: none

types in test
  apps/judicial-system/backend/src/app/modules/repository/test/caseDefendantPoliceCaseNumber.repository.service.spec.ts
Due: none

feat(j-s): add BreadCrumbs component
  apps/judicial-system/web/src/components/BreadCrumbs/BreadCrumbs.tsx
  apps/judicial-system/web/src/components/PageLayout/PageLayout.tsx
Due: none

chore: lintfix update dirty file
  apps/judicial-system/web/src/components/PageLayout/PageLayout.tsx
Due: none

fix(api): Blood donation restriction keyword search (#22135)
  libs/cms/src/lib/cms.elasticsearch.service.ts
  libs/cms/src/lib/search/importers/bloodDonationRestriction.service.ts
Due: none

chore: lintfix update dirty file
  apps/judicial-system/backend/src/app/modules/repository/test/caseRepository.policeCaseNumbersSync.spec.ts
Due: none

feat: Add query parameter to override /starfatorg API feature flag (#22064)
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacanciesList.tsx
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacancyDetails.tsx
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/dto/icelandicGovernmentInstitutionVacancies.input.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/dto/icelandicGovernmentInstitutionVacancyById.input.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/icelandic-government-institution-vacancies.resolver.ts
Due: Portal GraphQL

feat(nova-api): Dynamic credentials based on smsPayer (#21855)
  apps/services/user-notification/infra/user-notification.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/smsWorker.service.ts
  charts/islandis-services/user-notification-birthday-worker/values.dev.yaml
  charts/islandis-services/user-notification-birthday-worker/values.prod.yaml
  charts/islandis-services/user-notification-birthday-worker/values.staging.yaml
  charts/islandis-services/user-notification-worker/values.dev.yaml
  charts/islandis-services/user-notification-worker/values.prod.yaml
  charts/islandis-services/user-notification-worker/values.staging.yaml
  charts/islandis-services/user-notification/values.dev.yaml
  charts/islandis-services/user-notification/values.prod.yaml
  charts/islandis-services/user-notification/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/nova-sms/src/lib/sms.config.ts
  libs/nova-sms/src/lib/sms.service.ts
  libs/nova-sms/src/lib/sms.types.ts
Due: none

fix(cms-importer): Retry contentful api calls on 429 (#22129)
  apps/services/cms-importer/infra/cms-importer-worker.ts
  apps/services/cms-importer/src/app/repositories/web-sitemap/content-types/article.repository.ts
  apps/services/cms-importer/src/app/repositories/web-sitemap/content-types/manual.repository.ts
  apps/services/cms-importer/src/app/repositories/web-sitemap/content-types/organization-parent-subpage.repository.ts
  apps/services/cms-importer/src/app/repositories/web-sitemap/content-types/organization-subpage.repository.ts
  apps/services/cms-importer/src/app/repositories/web-sitemap/content-types/project-page.repository.ts
  apps/services/cms-importer/src/app/web-sitemap/web-sitemap.service.ts
  charts/islandis-services/cms-importer-web-sitemap/values.dev.yaml
  charts/islandis-services/cms-importer-web-sitemap/values.prod.yaml
  charts/islandis-services/cms-importer-web-sitemap/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

feat(web): Remove text highlighting in global search (#22142)
  apps/web/components/Card/Card.tsx
  apps/web/components/SearchInput/SearchInput.tsx
  apps/web/screens/Search/Search.tsx
  libs/cms/src/lib/models/article.model.ts
Due: none

fix(api): Blood donation restriction keyword search (#22135) (#22147)
  libs/cms/src/lib/cms.elasticsearch.service.ts
  libs/cms/src/lib/search/importers/bloodDonationRestriction.service.ts
Due: none

Persist current type for selection
  libs/application/templates/official-journal-of-iceland/src/screens/TypeSelectionScreen.tsx
Due: Application System API

fix(form-system): x-road endpoints (#22141) (#22148)
  apps/services/form-system/src/app/modules/applications/applications.module.ts
  apps/services/form-system/src/app/modules/applications/applications.xroad.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.xroad.service.ts
  apps/services/form-system/src/app/modules/applications/models/dto/application.xroad.dto.ts
  apps/services/form-system/src/app/modules/applications/models/dto/file.response.dto.ts
  apps/services/form-system/src/app/modules/file/file.service.ts
Due: none

assets update
  libs/application/assets/graphics/svg/DriversLicenseIcons/A.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/A1.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/A2.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/AM.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/B.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/BE.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/C.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/C1.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/C1E.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/CE.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/D.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/D1.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/D1E.svg
  libs/application/assets/graphics/svg/DriversLicenseIcons/DE.svg
  libs/application/templates/vmst-actions/edit-unemployment-information/src/lib/EditUnemploymentInformationTemplate.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/utils/constants.ts
  libs/feature-flags/src/lib/features.ts
Due: Application System API

feat(application-system): allow fields in accordion (#22132)
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/examples/example-inputs/src/forms/mainForm/index.ts
  libs/application/templates/examples/example-inputs/src/forms/mainForm/tablesAndRepeatersSection/accordionSubsection.ts
  libs/application/templates/examples/example-inputs/src/forms/mainForm/tablesAndRepeatersSection/index.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/types/src/lib/Form.ts
  libs/application/ui-fields/src/lib/AccordionFormField/AccordionFormField.tsx
  libs/application/ui-fields/src/lib/FieldsRepeaterFormField/FieldsRepeaterFormField.tsx
  libs/application/ui-shell/src/components/FormField.tsx
  libs/application/ui-shell/src/components/Screen.tsx
  libs/application/ui-shell/src/types.ts
  libs/application/ui-shell/src/utils.ts
  libs/application/ui-shell/src/validation/resolver.ts
Due: Application System API

fix(driving-license): BE health cert validation and more (#22144)
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.service.ts
  libs/application/templates/driving-license/src/fields/HealthDeclaration.tsx
  libs/application/templates/driving-license/src/fields/PaymentPending/index.tsx
  libs/application/templates/driving-license/src/forms/done.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionQualityPhotoBE.ts
  libs/application/templates/driving-license/src/lib/messages.ts
Due: Application System API

fix yarn lock
  yarn.lock
Due: none

chore: use shared strings
  libs/portals/my-pages/assets/src/screens/FarmerLands/Detail/LandRegistry/LandRegistry.tsx
  libs/portals/my-pages/assets/src/screens/FarmerLands/Detail/RightsHolders/RightsHolders.tsx
  libs/portals/my-pages/assets/src/screens/FarmerLands/Detail/Subsidies/Subsidies.tsx
Due: none

fix: minor tweaks
  apps/native/app/app.config.js
  apps/native/app/src/app/(auth)/(tabs)/inbox/[id]/index.tsx
  apps/native/app/src/app/login.tsx
  apps/native/app/src/lib/deep-linking.ts
Due: none

Update mentioned regulation selection for base
  libs/api/domains/official-journal-of-iceland-application/src/lib/ojoiApplication.resolver.ts
  libs/api/domains/official-journal-of-iceland-application/src/lib/ojoiApplication.service.ts
  libs/api/domains/official-journal-of-iceland-application/src/models/getRegulationOptionList.input.ts
  libs/application/templates/official-journal-of-iceland/src/graphql/queries.ts
  libs/application/templates/official-journal-of-iceland/src/hooks/useMentionedRegulations.ts
Due: Portal GraphQL, Application System API

chore: trigger bff deploy
  apps/services/bff/infra/my-pages-portal.infra.ts
  libs/application/templates/hms/housing-benefits/src/forms/assigneeApprovalState/assigneeDraftForm/index.ts
  libs/application/templates/hms/housing-benefits/src/forms/assigneeApprovalState/assigneeDraftForm/personalInformationSection.ts
Due: Application System API

chore: trigger deploy
  apps/api/src/app/app.module.ts
Due: Portal GraphQL

feat(delegations): translations and ui updates
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/servicePortalPage.model.ts
  libs/portals/core/src/queries/ServicePortalPage.graphql
  libs/portals/shared-modules/delegations/src/components/IdentityLookup/IdentityLookup.css.ts
  libs/portals/shared-modules/delegations/src/lib/messages.ts
  libs/portals/shared-modules/delegations/src/module.tsx
  libs/portals/shared-modules/delegations/src/screens/AccessControl.loader.ts
  libs/portals/shared-modules/delegations/src/screens/AccessControlNew/AccessControlNew.tsx
  libs/portals/shared-modules/delegations/src/screens/EditAccess.tsx/EditAccess.tsx
  libs/portals/shared-modules/delegations/src/screens/Faq/Faq.tsx
  libs/portals/shared-modules/delegations/src/screens/GrantAccess/GrantAccess.tsx
  libs/portals/shared-modules/delegations/src/screens/GrantAccessNew/GrantAccessNew.tsx
  libs/portals/shared-modules/delegations/src/screens/ServiceCategories/ServiceCategories.tsx
Due: none

feat(j-s): refactor BreadCrumbs to resolve case table entries from membership query
  apps/judicial-system/backend/src/app/modules/case-table/whereOptions/prosecution.ts
  apps/judicial-system/web/src/components/BreadCrumbs/BreadCrumbs.tsx
Due: none
