Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Add semi proper pagination
  libs/api/domains/application/src/lib/applicationV2.service.ts
Due: Portal GraphQL

feat(form-system): delete form-system applications in my-pages (#21666)
  apps/services/form-system/src/app/modules/applications/models/application.mapper.ts
  libs/application/ui-components/src/components/ApplicationCard/components/ApplicationCardDelete.tsx
  libs/application/ui-components/src/hooks/useDeleteApplication.ts
Due: none

chore: format update dirty file
  libs/auth-api-lib/migrations/20260226150000-delete-old-application-system-admin-scope.js
Due: none

Also update latest verdicts cards
  apps/web/components/connected/LatestVerdicts/LatestVerdicts.tsx
Due: none

chore: format update dirty file
  libs/api/domains/ship-registry/src/lib/models/userShipsCollection.model.ts
  libs/api/domains/ship-registry/src/lib/services/userShips.service.ts
Due: Portal GraphQL

rabbit review fixes
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/messages.ts
Due: Application System API

Adjustment
  apps/web/components/connected/LatestVerdicts/LatestVerdicts.tsx
  apps/web/screens/Verdicts/VerdictsList.tsx
  apps/web/screens/Verdicts/components/InfoCardGrid/DetailedInfoCard.tsx
Due: none

Skip null names
  apps/web/components/connected/LatestVerdicts/LatestVerdicts.tsx
  apps/web/screens/Verdicts/VerdictsList.tsx
Due: none

refactoring
  libs/react-spa/bff/src/lib/BffPoller.tsx
  libs/react-spa/bff/src/lib/BffProvider.tsx
  libs/react-spa/bff/src/lib/BffSessionExpiredModal.tsx
Due: none

Use correct endpoint for institution
  libs/api/domains/application/src/lib/applicationV2.service.ts
Due: Portal GraphQL

fix required star
  libs/island-ui/core/src/lib/Checkbox/Checkbox.css.ts
  libs/island-ui/core/src/lib/Checkbox/Checkbox.tsx
Due: none

fix checkbox
  libs/portals/form-system/ui-components/src/components/FieldComponents/Checkbox/Checkbox.tsx
Due: none

fix trigger
  libs/portals/form-system/ui-components/src/components/FieldComponents/Checkbox/Checkbox.tsx
Due: none

rest of the application flow polish
  libs/application/templates/car-export-import/src/forms/mainForm/exportDatesAndMileageSection.ts
  libs/application/templates/car-export-import/src/forms/mainForm/importDatesAndMileageSection.ts
  libs/application/templates/car-export-import/src/forms/mainForm/index.ts
  libs/application/templates/car-export-import/src/forms/mainForm/overview.ts
  libs/application/templates/car-export-import/src/lib/dataSchema.ts
  libs/application/templates/car-export-import/src/lib/messages.ts
Due: Application System API

fix(application-system): Transfer of ownership remove default valu
  libs/application/templates/aosh/transfer-of-machine-ownership/src/forms/TransferOfMachineOwnershipForm/InformationSection/pickMachineSubSection.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/lib/dataSchema.ts
Due: Application System API

fix(form-system): field types required (#21649)
  apps/form-system/web/src/components/Screen/components/Field/Field.tsx
  apps/form-system/web/src/reducers/fieldReducer.ts
  apps/form-system/web/src/reducers/reducerUtils.ts
  apps/services/form-system/src/app/dataTypes/fieldSettings/fieldSettings.factory.ts
  apps/services/form-system/src/app/dataTypes/valueTypes/valueType.model.ts
  libs/api/domains/form-system/src/dto/value.input.ts
  libs/api/domains/form-system/src/models/value.model.ts
  libs/portals/admin/form-system/src/components/MainContent/components/RelevantParties/components/RelevantParty.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/Banknumber/Banknumber.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/Checkbox/Checkbox.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/DatePicker/DatePicker.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/List/List.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/NumberInput/NumberInput.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/TimeInput/TimeInput.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/index.ts
Due: Portal GraphQL

chore: format update dirty file
  infra/src/dsl/output-generators/map-to-helm-values.ts
Due: none

chore: format update dirty file
  libs/application/templates/car-export-import/src/lib/dataSchema.ts
  libs/application/templates/car-export-import/src/lib/template.ts
  libs/application/templates/car-export-import/tsconfig.lib.json
Due: Application System API

Split up move admin function from applicationService into separate applicationAdminService + Add deprecated flag where applies
  libs/api/domains/application/src/lib/application-admin/application-admin.resolver.ts
  libs/api/domains/application/src/lib/application-admin/application-admin.service.ts
  libs/api/domains/application/src/lib/application-admin/application-adminV2.resolver.ts
  libs/api/domains/application/src/lib/application-admin/application-adminV2.service.ts
  libs/api/domains/application/src/lib/application.module.ts
  libs/api/domains/application/src/lib/application.service.ts
  libs/api/domains/application/src/lib/applicationV2.service.ts
  libs/portals/admin/application-system/src/queries/overview.graphql
Due: Portal GraphQL

Cleanup
  apps/services/form-system/src/app/modules/applications/models/application.mapper.ts
  libs/api/domains/application/src/lib/application-admin/application-adminV2.resolver.ts
Due: Portal GraphQL

fix(native): allow equal mileage (#21661)
  apps/native/app/src/screens/vehicles/vehicle-mileage.screen.tsx
Due: none

fix unit test, remove console.log, add alert message and radio button to income plan page
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/application/templates/social-insurance-administration/core/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/fields/Review/review-groups/IncomePlan.tsx
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/oldAgePensionUtils.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.service.ts
Due: Application System API

remove \t from message
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/messages.ts
Due: Application System API

feat(driving-license): expand health certificate upload to all license types
  libs/api/domains/driving-license/src/lib/drivingLicense.type.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.service.ts
  libs/application/templates/driving-license/src/fields/EligibilitySummary/fakeEligibility.ts
  libs/application/templates/driving-license/src/fields/HealthDeclaration.tsx
  libs/application/templates/driving-license/src/forms/draft/subSectionHealthDeclaration.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionSummary.ts
  libs/application/templates/driving-license/src/lib/messages.ts
Due: Portal GraphQL, Application System API

feat(driving-license): add BE license support, Thjodskra photos, and v5 API updates
  libs/api/domains/driving-license/src/lib/drivingLicense.service.ts
  libs/application/templates/driving-license/src/dataProviders/index.ts
  libs/application/templates/driving-license/src/fields/CreatePhoto/index.tsx
  libs/application/templates/driving-license/src/fields/EligibilitySummary/extractReasons.ts
  libs/application/templates/driving-license/src/fields/EligibilitySummary/useEligibility.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionQualityPhoto.ts
  libs/application/templates/driving-license/src/forms/prerequisites/sectionExternalData.ts
  libs/application/templates/driving-license/src/lib/dataSchema.ts
  libs/application/templates/driving-license/src/lib/drivingLicenseTemplate.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.types.ts
  libs/clients/driving-license/src/v5/clientConfig.json
  libs/clients/license-client/src/lib/clients/driving-license-client/services/drivingLicenseUpdateClient.service.ts
  libs/clients/license-client/src/lib/clients/driving-license-client/services/drivingLicenseUpdateClientV2.service.ts
Due: Portal GraphQL, Application System API

chore(driving-license): run prettier on changed files
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.service.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionHealthDeclaration.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionQualityPhoto.ts
  libs/application/templates/driving-license/src/lib/dataSchema.ts
  libs/application/templates/driving-license/src/lib/messages.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.types.ts
Due: Application System API

update unit test to reflect changes in PodDisruptionBudget
  infra/src/dsl/pdb.spec.ts
Due: none

chore: format update dirty file
  libs/application/templates/social-insurance-administration/core/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/fields/Review/review-groups/IncomePlan.tsx
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/oldAgePensionUtils.ts
Due: Application System API

fix(my-pages): Bloodtypes are stored by landspitalinn
  libs/portals/my-pages/core/src/utils/constants.ts
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/Bloodtype/Bloodtype.tsx
Due: none

chore: format update dirty file
  infra/src/dsl/pdb.spec.ts
Due: none

chore(driving-license): add temporary debug logging to submission flow
  libs/api/domains/driving-license/src/lib/drivingLicense.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.service.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.ts
Due: Portal GraphQL, Application System API

rabbit fixes
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.spec.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/fields/Review/review-groups/IncomePlan.tsx
Due: Application System API

chore: charts update dirty file
  charts/islandis-services/web/values.dev.yaml
  charts/islandis-services/web/values.prod.yaml
  charts/islandis-services/web/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

fix: break
  apps/financial-aid/api/src/main.ts
  apps/web/infra/web.ts
  charts/islandis-services/web/values.dev.yaml
  charts/islandis-services/web/values.prod.yaml
  charts/islandis-services/web/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  package.json
Due: none

fix: not a fix
  .github/workflows/push.yml
  apps/financial-aid/api/src/main.ts
Due: none

fix: not a fix
  .github/workflows/push.yml
Due: none

fix: fails
  .github/workflows/push.yml
Due: none

Use payment methods from charges instead of from fjs charges
  apps/services/payments/src/app/cardPayment/cardPayment.controller.spec.ts
  apps/services/payments/src/app/invoicePayment/invoicePayment.controller.spec.ts
  apps/services/payments/src/app/paymentFlow/dtos/createPaymentFlow.input.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.controller.spec.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.service.spec.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.service.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.utils.spec.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.utils.ts
  apps/services/payments/src/types/charges.ts
  apps/services/payments/src/types/index.ts
  libs/clients/charge-fjs-v2/src/clientConfig.json
  libs/shared/constants/src/lib/paymentErrorCodes.ts
Due: none

add back fetch only chargeItemCodes that are needed
  apps/services/payments/src/app/paymentFlow/paymentFlow.service.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
