Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Fixes defender case link
  apps/judicial-system/backend/src/app/modules/notification/services/caseNotification/caseNotification.service.ts
Due: none

chore: format update dirty file
  apps/services/auth/admin-api/src/app/v2/tenants/test/me-tenants.spec.ts
  libs/api/domains/auth-admin/src/lib/tenant/tenants.service.spec.ts
  libs/api/domains/auth-admin/src/lib/tenant/tenants.service.ts
  libs/portals/admin/ids-admin/src/screens/Tenants/CreateTenantModal/CreateTenantModal.tsx
  libs/portals/admin/ids-admin/src/screens/Tenants/EditTenant/EditTenant.loader.ts
  libs/portals/admin/ids-admin/src/screens/Tenants/EditTenant/EditTenant.schema.ts
  libs/portals/admin/ids-admin/src/screens/Tenants/Tenants.tsx
Due: Portal GraphQL

fix: xroad patsh
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/api/values.staging.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/dsl/xroad.ts
Due: none

chore: format update dirty file
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
Due: Portal GraphQL

feat: assignee draft state
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/housing-benefits.service.ts
  libs/application/templates/hms/housing-benefits/src/dataProviders/index.ts
  libs/application/templates/hms/housing-benefits/src/forms/assigneeApprovalState/assigneeDraftForm/index.ts
  libs/application/templates/hms/housing-benefits/src/forms/assigneeApprovalState/assigneeDraftForm/personalInformationSection.ts
  libs/application/templates/hms/housing-benefits/src/forms/assigneeApprovalState/assigneeDraftForm/refetchNationalRegistrySection.ts
  libs/application/templates/hms/housing-benefits/src/forms/assigneeApprovalState/assigneeDraftForm/wrongHomeSection.ts
  libs/application/templates/hms/housing-benefits/src/forms/assigneeApprovalState/assigneePrereqForm/externalDataSection.ts
  libs/application/templates/hms/housing-benefits/src/lib/messages/assigneeApprovalMessages.ts
  libs/application/templates/hms/housing-benefits/src/lib/messages/assigneeDraftMessages.ts
  libs/application/templates/hms/housing-benefits/src/lib/messages/index.ts
  libs/application/templates/hms/housing-benefits/src/lib/template.ts
  libs/application/templates/hms/housing-benefits/src/utils/assigneeUtils.ts
  libs/application/templates/hms/housing-benefits/src/utils/conditions.ts
  libs/application/templates/hms/housing-benefits/src/utils/mapUserToRole.ts
  libs/application/templates/hms/housing-benefits/src/utils/rentalAgreementUtils.ts
  libs/application/ui-shell/src/lib/FormShell.tsx
Due: Application System API

chore: rabbit comment fixes
  libs/api/domains/farmers/src/lib/farmers.resolver.ts
  libs/api/domains/farmers/src/lib/farmers.service.ts
  libs/api/domains/farmers/src/lib/models/enums.ts
  libs/api/domains/farmers/src/lib/models/farmerLand.model.ts
  libs/api/domains/farmers/src/lib/models/farmerLandSubsidiesInput.model.ts
  libs/clients/farmers/README.md
  libs/clients/farmers/src/lib/farmers.service.ts
  libs/clients/farmers/tsconfig.lib.json
  libs/clients/ship-registry-v2/tsconfig.lib.json
  libs/island-ui/core/src/lib/Filter/FilterMultiChoice/FilterMultiChoice.tsx
  libs/portals/my-pages/assets/src/components/FarmerLandsTable/FarmerLandsTable.tsx
  libs/portals/my-pages/assets/src/screens/FarmerLands/Detail/RightsHolders/RightsHolders.tsx
  libs/portals/my-pages/assets/src/screens/FarmerLands/Overview/FarmerLandsOverview.tsx
Due: Portal GraphQL

application done
  libs/application/template-api-modules/src/lib/modules/templates/vmst-actions/edit-unemployment-information/edit-unemployment-information.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/vmst-actions/edit-unemployment-information/edit-unemployment-information.utils.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/forms/completedForm/index.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/forms/mainForm/index.tsx
  libs/application/templates/vmst-actions/edit-unemployment-information/src/forms/prerequisitesForm/index.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/lib/EditUnemploymentInformationTemplate.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/lib/dataSchema.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/lib/messages.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/shared/types.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/utils/defaultValues.ts
  libs/clients/vmst-unemployment/src/clientConfig.json
Due: Application System API

feat(form-system): Translation check before publishing a form
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableRow.tsx
  libs/portals/admin/form-system/src/lib/utils/validateNameTranslations.ts
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: none

chore: format update dirty file
  libs/application/template-api-modules/src/lib/modules/templates/index.ts
  libs/clients/vmst-unemployment/src/clientConfig.json
Due: Application System API

refactor: remove unused imports from display components
  libs/portals/form-system/ui-components/src/components/DisplayComponents/CheckBoxDisplay/CheckBoxDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/DateDisplay/DateDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/PhoneNumberDisplay/PhoneNumberDisplay.tsx
Due: none

feat: add initial FETCH_HEAD and git files
  FETCH_HEAD
  git
Due: none

feat(messages): add missing translation for form publication error message
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: none

Delete FETCH_HEAD
  FETCH_HEAD
Due: none

Delete git
  git
Due: none

fix(ids-admin): Address CodeRabbit review feedback
  apps/services/auth/admin-api/src/app/v2/tenants/me-tenants.controller.ts
  libs/api/domains/auth-admin/src/lib/client/clients.service.ts
  libs/api/domains/auth-admin/src/lib/tenant/dto/create-tenant.input.ts
  libs/auth-api-lib/src/lib/resources/dto/admin-create-tenant.dto.ts
  libs/auth-api-lib/src/lib/resources/dto/tenant.dto.ts
  libs/auth-api-lib/src/lib/resources/tenants.service.ts
  libs/portals/admin/ids-admin/src/lib/messages.ts
  libs/portals/admin/ids-admin/src/screens/Tenants/CreateTenantModal/CreateTenantModal.tsx
  libs/portals/admin/ids-admin/src/screens/Tenants/DeleteTenantModal/DeleteTenantModal.tsx
  libs/portals/admin/ids-admin/src/screens/Tenants/EditTenant/EditTenant.action.ts
  libs/portals/admin/ids-admin/src/screens/Tenants/EditTenant/EditTenant.tsx
Due: Portal GraphQL

feat(payments): add invoice-specific redirect URL support
  apps/payments/graphql/queries.graphql.ts
  apps/payments/hooks/usePaymentOrchestration.ts
  apps/payments/pages/[locale]/[paymentFlowId]/index.tsx
  apps/services/payments/migrations/20260409000000-add-invoice-redirect-fields.js
  apps/services/payments/src/app/paymentFlow/dtos/createPaymentFlow.input.ts
  apps/services/payments/src/app/paymentFlow/dtos/getPaymentFlow.dto.ts
  apps/services/payments/src/app/paymentFlow/models/paymentFlow.model.ts
  libs/api/domains/payments/src/lib/dto/createPaymentFlow.input.ts
  libs/api/domains/payments/src/lib/dto/getPaymentFlow.response.ts
Due: Portal GraphQL

Added new Content Types - Annual Report and Annual Report Chapter
  apps/web/hooks/useLinkResolver/useLinkResolver.ts
  apps/web/pages/s/[...slugs]/index.tsx
  apps/web/screens/Organization/AnnualReports/AnnualReportChapter.tsx
  apps/web/screens/Organization/AnnualReports/AnnualReports.css.ts
  apps/web/screens/Organization/AnnualReports/AnnualReports.tsx
  apps/web/screens/Organization/AnnualReports/index.ts
  apps/web/screens/queries/AnnualReports.ts
  apps/web/screens/queries/index.tsx
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/cms.resolver.ts
  libs/cms/src/lib/dto/getAnnualReport.input.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/annualReport.model.ts
  libs/cms/src/lib/models/annualReportChapter.model.ts
Due: none

Adds court name to defender email
  apps/judicial-system/backend/src/app/modules/notification/services/caseNotification/caseNotification.service.ts
Due: none

Displays who submitted appeal files
  apps/judicial-system/api/src/app/modules/file/models/file.model.ts
  apps/judicial-system/web/src/components/AppealCaseFilesOverview/AppealCaseFilesOverview.tsx
  apps/judicial-system/web/src/components/FormProvider/limitedAccessCase.graphql
  apps/judicial-system/web/src/utils/utils.ts
Due: none

Fixes civil claimant appeal email
  apps/judicial-system/backend/src/app/modules/notification/services/caseNotification/caseNotification.service.ts
Due: none

Consolidates all indictment files in one component
  apps/judicial-system/web/src/components/AllIndictmentCaseFiles/AllIndictmentCaseFiles.tsx
  apps/judicial-system/web/src/components/index.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
  apps/judicial-system/web/src/routes/Defender/IndictmentCase/IndictmentOverview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/IndictmentOverview/IndictmentOverview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/Overview/Overview.tsx
Due: none

fix(user-notification): update SMS content link text and adjust formatting for clarity (#22045)
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/notificationsWorker.service.ts
  libs/nova-sms/src/lib/sms.config.ts
Due: none

Updates tests
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendIndictmentAppealNotifications.spec.ts
Due: none

feat(j-s): Indictment Appeal 3 (#22067)
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/caseNotification/caseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendIndictmentAppealNotifications.spec.ts
Due: none

chore: format update dirty file
  apps/payments/pages/[locale]/[paymentFlowId]/index.tsx
Due: none

dynamic routes and adding endpoints
  libs/portals/my-pages/core/src/hooks/useDynamicRoutes/paths.ts
  libs/portals/my-pages/core/src/hooks/useDynamicRoutes/useDynamicRoutes.ts
  libs/portals/my-pages/social-benefits/src/lib/routes/unemploymentBenefitRoutes.tsx
  libs/portals/my-pages/social-benefits/src/screens/unemployment-benefits/Status/Status.tsx
  libs/portals/my-pages/social-benefits/src/screens/unemployment-benefits/UnemploymentBenefitsRoot.tsx
Due: none

create new table migration
  apps/judicial-system/backend/migrations/20260409120000-create-case-police-case-number-assignment.js
Due: none

setup writes to new table
  apps/judicial-system/backend/src/app/modules/repository/index.ts
  apps/judicial-system/backend/src/app/modules/repository/models/case.model.ts
  apps/judicial-system/backend/src/app/modules/repository/models/casePoliceCaseNumberAssignment.model.ts
  apps/judicial-system/backend/src/app/modules/repository/models/defendant.model.ts
  apps/judicial-system/backend/src/app/modules/repository/repository.module.ts
  apps/judicial-system/backend/src/app/modules/repository/services/casePoliceCaseNumberAssignment.repository.service.ts
  apps/judicial-system/backend/src/app/modules/repository/services/caseRepository.service.ts
  apps/judicial-system/backend/src/app/modules/repository/test/createTestingRepositoryModule.ts
Due: none

fix(as): Correctly handle system nationalIds (kerfiskennitala) 204 status in AS (#22091)
  apps/application-system/form/webpack.config.js
  libs/clients/national-registry/v3-applications/src/clientConfig.json
  libs/clients/national-registry/v3-applications/src/lib/apiConfig.ts
Due: none

feat(my-pages): Social insurance personal tax credit and payment types (#22073)
  libs/api/domains/social-insurance/src/lib/dtos/discontinueTaxCardAllowance.input.ts
  libs/api/domains/social-insurance/src/lib/dtos/registerTaxCardAllowance.input.ts
  libs/api/domains/social-insurance/src/lib/dtos/updateTaxCardAllowance.input.ts
  libs/api/domains/social-insurance/src/lib/mappers/mapPaymentTypesOverview.ts
  libs/api/domains/social-insurance/src/lib/models/paymentTypes/childBenefitInformation.model.ts
  libs/api/domains/social-insurance/src/lib/models/paymentTypes/paymentTypeOverview.model.ts
  libs/api/domains/social-insurance/src/lib/models/personalTaxCredit/taxAllowanceAction.model.ts
  libs/api/domains/social-insurance/src/lib/models/personalTaxCredit/taxCard.model.ts
  libs/api/domains/social-insurance/src/lib/models/personalTaxCredit/taxCardMonthsAndYears.model.ts
  libs/api/domains/social-insurance/src/lib/resolvers/index.ts
  libs/api/domains/social-insurance/src/lib/resolvers/paymentTypesOverview.resolver.ts
  libs/api/domains/social-insurance/src/lib/resolvers/personalTaxCredit.resolver.ts
  libs/api/domains/social-insurance/src/lib/socialInsurance.module.ts
  libs/api/domains/social-insurance/src/lib/socialInsurance.service.ts
  libs/api/domains/social-insurance/src/lib/utils.ts
  libs/clients/social-insurance-administration/project.json
  libs/clients/social-insurance-administration/src/index.ts
  libs/clients/social-insurance-administration/src/lib/apiProvider.ts
  libs/clients/social-insurance-administration/src/lib/config/clientConfig.json
  libs/clients/social-insurance-administration/src/lib/services/paymentTypesOverview.service.ts
  libs/clients/social-insurance-administration/src/lib/services/personalTaxCredit.service.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.module.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.type.ts
  libs/feature-flags/src/lib/features.ts
  libs/portals/my-pages/core/src/lib/messages.ts
  libs/portals/my-pages/social-benefits/src/lib/messages/socialInsurance.ts
  libs/portals/my-pages/social-benefits/src/lib/navigation.ts
  libs/portals/my-pages/social-benefits/src/lib/paths.ts
  libs/portals/my-pages/social-benefits/src/lib/routes/socialInsuranceRoutes.tsx
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/PaymentTypes/PaymentTypes.graphql
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/PaymentTypes/PaymentTypes.tsx
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/PersonalTaxCredit/PersonalTaxCredit.graphql
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/PersonalTaxCredit/PersonalTaxCredit.tsx
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/PersonalTaxCredit/components/MyTaxCreditForm.tsx
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/PersonalTaxCredit/components/PercentageInput.tsx
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/PersonalTaxCredit/components/PersonalTaxCreditTable.tsx
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/PersonalTaxCredit/useTaxCardAllowance.ts
Due: Portal GraphQL

feat(as): Enable refund on submit failure (#21630)
  apps/services/payments/src/app/paymentFlow/models/paymentFlowEvent.model.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.service.ts
  apps/services/payments/src/types/payment.ts
  libs/application/api/payment/src/lib/payment.service.ts
  libs/application/core/src/lib/messages.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/payment/payment.service.ts
  libs/application/template-api-modules/src/lib/modules/shared/shared.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/aosh/transfer-of-machine-ownership/transfer-of-machine-ownership.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/aosh/transfer-of-machine-ownership/transfer-of-machine-ownership.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/id-card/id-card.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/id-card/id-card.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/change-co-owner-of-vehicle/change-co-owner-of-vehicle.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/change-co-owner-of-vehicle/change-co-owner-of-vehicle.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/change-operator-of-vehicle/change-operator-of-vehicle.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/change-operator-of-vehicle/change-operator-of-vehicle.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/transfer-of-vehicle-ownership/transfer-of-vehicle-ownership.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/transfer-of-vehicle-ownership/transfer-of-vehicle-ownership.service.ts
  libs/application/ui-components/src/components/PaymentPending/PaymentPending.tsx
  libs/clients/payments/src/index.ts
  libs/portals/admin/payments/src/screens/Payment/Payment.tsx
Due: Application System API

feat: refetch data
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/housing-benefits.service.ts
  libs/application/templates/hms/housing-benefits/src/forms/assigneeApprovalState/assigneeDraftForm/wrongHomeSection.ts
  libs/application/templates/hms/housing-benefits/src/lib/messages/assigneeDraftMessages.ts
Due: Application System API

chore: Remove old organ donation service
  apps/api/src/app/app.module.ts
  apps/application-system/api/src/app/app.module.ts
  libs/clients/health-directorate/src/index.ts
  libs/clients/health-directorate/src/lib/clients/health/health.service.ts
  libs/clients/health-directorate/src/lib/clients/index.ts
  libs/clients/health-directorate/src/lib/healthDirectorateClient.module.ts
Due: Portal GraphQL, Application System API

fix(as): Correctly handle system nationalIds (kerfiskennitala) 204 st… (#22123)
  apps/application-system/form/webpack.config.js
  libs/clients/national-registry/v3-applications/src/clientConfig.json
  libs/clients/national-registry/v3-applications/src/lib/apiConfig.ts
Due: none

loke -> police system
  apps/judicial-system/web/src/routes/Prosecutor/components/DefendantInfo/DefendantInfo.tsx
Due: none

fix(old-age-pension): fix noOtherIncomeConfirmation validation (#22108)
  libs/application/templates/social-insurance-administration/core/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/OldAgePensionForm/generalInformationSection/incomePlanInstructionsSubSection.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/messages.ts
Due: Application System API

Revert
  libs/judicial-system/formatters/src/lib/formatters.ts
Due: none

Adds appeal tables for disterict court and prosecutor
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.whereOptions.ts
  apps/judicial-system/backend/src/app/modules/case-table/whereOptions/districtCourt.ts
  apps/judicial-system/backend/src/app/modules/case-table/whereOptions/prosecution.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.controller.ts
  libs/judicial-system/types/src/lib/tables/caseTable.ts
  libs/judicial-system/types/src/lib/tables/caseTableTypes.ts
  libs/judicial-system/types/src/lib/tables/caseTables/districtCourt.ts
  libs/judicial-system/types/src/lib/tables/caseTables/prosecution.ts
  libs/judicial-system/types/src/lib/tables/tableGroups/districtCourt.ts
  libs/judicial-system/types/src/lib/tables/tableGroups/prosecutor.ts
Due: none

chore(j-s): Update text for foreign nationals (#22080)
  libs/judicial-system/types/src/lib/case.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
