Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

chore: add matomo lib
  libs/matomo/.babelrc
  libs/matomo/.eslintrc.json
  libs/matomo/README.md
  libs/matomo/babel-jest.config.json
  libs/matomo/jest.config.ts
  libs/matomo/project.json
  libs/matomo/src/index.ts
  libs/matomo/src/lib/MatomoContext.ts
  libs/matomo/src/lib/MatomoProvider.tsx
  libs/matomo/src/lib/example.tsx
  libs/matomo/src/lib/hooks.ts
  libs/matomo/src/lib/push.ts
  libs/matomo/src/lib/types.ts
  libs/matomo/tsconfig.json
  libs/matomo/tsconfig.lib.json
  libs/matomo/tsconfig.spec.json
  tsconfig.base.json
Due: none

add matomo dev env variables
  apps/web/infra/web.ts
  charts/islandis-services/web/values.dev.yaml
  charts/islandis-services/web/values.prod.yaml
  charts/islandis-services/web/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

moved matomo script from inline script to a script file
  apps/web/pages/_document.tsx
  apps/web/public/scripts/matomo-init.js
Due: none

trigger web deploy
  apps/web/infra/web.ts
Due: none

chore: format update dirty file
  apps/web/public/scripts/matomo-init.js
Due: none

format matomo script
  apps/web/public/scripts/matomo-init.js
Due: none

chore: lintfix update dirty file
  apps/web/public/scripts/matomo-init.js
Due: none

chore: format update dirty file
  apps/web/infra/web.ts
Due: none

trigger api deploy
  apps/api/infra/api.ts
Due: Portal GraphQL

trigger my-pages deployment
  apps/portals/my-pages/infra/portals-my-pages.ts
Due: none

chore: lintfix update dirty file
  apps/web/pages/_app.tsx
Due: none

refactor(form-system): remove unused Context import and bull prefix logic
  apps/services/form-system/infra/form-system.ts
Due: none

chore: charts update dirty file
  charts/islandis-services/services-form-system-api-worker/values.dev.yaml
  charts/islandis/values.dev.yaml
Due: none

Trying to fix test
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/indictmentCaseNotification/sendDrivingLicenseSuspensionNotifications.spec.ts
Due: none

Fix
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/dataSchema.ts
Due: Application System API

feat: push organization and category to matomo
  apps/portals/my-pages/src/components/ContentBreadcrumbs/ContentBreadcrumbs.tsx
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
  apps/web/components/ServiceWeb/Wrapper/Wrapper.tsx
  libs/matomo/src/index.ts
  libs/matomo/src/lib/hooks.ts
  libs/matomo/src/lib/types.ts
Due: none

fix(form-system): remove unused Context import and bull prefix logic (#21530)
  apps/services/form-system/infra/form-system.ts
  charts/islandis-services/services-form-system-api-worker/values.dev.yaml
  charts/islandis/values.dev.yaml
Due: none

chore: lintfix update dirty file
  libs/matomo/src/index.ts
Due: none

fix(application-system): Temporary fix while v3/v1 national registry is broken (#21531)
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/dataSchema.ts
Due: Application System API

fix(application-system): Temporary fix for citizenship (#21532)
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/dataSchema.ts
Due: Application System API

Update base path for financial management authority client
  libs/clients/financial-management-authority/src/lib/financialManagementAuthorityClient.config.ts
Due: none

remove some console logs
  apps/form-system/web/src/components/Footer/Footer.tsx
  apps/form-system/web/src/reducers/reducerUtils.ts
  apps/services/form-system/src/app/modules/applications/applications.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
  apps/services/form-system/src/app/modules/applications/models/dto/validation.response.dto.ts
  apps/services/form-system/src/app/modules/services/notify.service.ts
  apps/services/form-system/src/app/modules/services/service.manager.ts
  libs/api/domains/form-system/src/dto/screen.input.ts
  libs/api/domains/form-system/src/lib/applications/applications.resolver.ts
  libs/api/domains/form-system/src/lib/applications/applications.service.ts
  libs/form-system/src/index.ts
Due: Portal GraphQL

refactor(file-module): remove unused BullModule and UploadProcessor
  apps/services/form-system/src/app/modules/file/file.module.ts
Due: none

fix(form-system): remove unused BullModule integration and related code
  apps/services/form-system/src/app/modules/file/file.module.ts
Due: none

refactor(form-system): remove unused BullModule and UploadProcessor (#21534)
  apps/services/form-system/src/app/modules/file/file.module.ts
Due: none

feat(services-notifications): enhance SMS delivery validation and update template structure
  apps/services/user-notification/src/app/modules/notifications/dto/hnippTemplate.response.ts
  apps/services/user-notification/src/app/modules/notifications/notifications.controller.ts
  apps/services/user-notification/src/app/modules/notifications/notifications.module.ts
  apps/services/user-notification/src/app/modules/notifications/notifications.service.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/mocks.ts
  libs/clients/cms/schema.graphql
  libs/clients/cms/src/lib/user-notification.graphql
Due: none

Skip payment info step if no payment
  libs/application/templates/hh/courses/src/forms/mainForm/courseSection.ts
  libs/application/templates/hh/courses/src/forms/mainForm/payerSection.ts
  libs/application/templates/hh/courses/src/lib/dataSchema.ts
  libs/application/templates/hh/courses/src/utils/constants.ts
  libs/application/templates/hh/courses/src/utils/loadOptions.ts
Due: Application System API

Remove return line
  libs/application/templates/hh/courses/src/utils/loadOptions.ts
Due: Application System API

Also change backend
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/courses.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/types.ts
Due: Application System API

feat(hh-courses-application): Set title depending on selected course (#21523)
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/courses.service.ts
  libs/application/templates/hh/courses/src/lib/messages.ts
  libs/application/templates/hh/courses/src/lib/template.ts
Due: Application System API

ui select in repeater and repeater form title fix
  libs/application/templates/secondary-school/src/forms/secondarySchoolForm/userInformationSection/custodianSubSection.ts
  libs/application/templates/secondary-school/src/lib/messages/userInformation.ts
  libs/application/ui-fields/src/lib/FieldsRepeaterFormField/FieldsRepeaterFormField.tsx
Due: Application System API

feat(hh-courses-application): Send course url to zendesk (#21525)
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/courses.service.ts
Due: Application System API

removing console and local development code
  apps/application-system/api/docker-compose.yml
  apps/application-system/api/sequelize.config.js
  apps/application-system/api/src/app/modules/application/lifecycle/application-lifecycle.service.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/notificationsWorker.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/transfer-of-vehicle-ownership/transfer-of-vehicle-ownership.service.ts
  libs/application/template-api-modules/src/lib/notification/notifications.service.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/TransferOfVehicleOwnershipTemplate.ts
Due: Application System API

refactor(form-system): remove unused Redis configuration and related code
  apps/services/form-system/infra/form-system.ts
  apps/services/form-system/src/app/modules/file/file.config.ts
  apps/services/form-system/src/app/modules/file/file.module.ts
Due: none

chore: charts update dirty file
  charts/islandis-services/services-form-system-api/values.dev.yaml
  charts/islandis-services/services-form-system-api/values.prod.yaml
  charts/islandis-services/services-form-system-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

feat: WIP Pregnancy
  libs/portals/my-pages/documents/src/hooks/useDocumentList.ts
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/Communications/components/DocumentsDisplay/DocumentsDisplay.tsx
  libs/portals/my-pages/health/src/screens/Communications/components/DocumentsList/DocumentsList.tsx
  libs/portals/my-pages/health/src/screens/Pregnancy/Communications.tsx
  libs/portals/my-pages/health/src/screens/Pregnancy/Files.tsx
  libs/portals/my-pages/health/src/screens/Pregnancy/Measurements.tsx
  libs/portals/my-pages/health/src/screens/Pregnancy/Pregnancy.tsx
Due: none

migrate personal rep delegations to syslumenn
  libs/auth-api-lib/migrations/20260209135648-migrate-personal-representative-postholf-to-syslumenn.js
  libs/auth-api-lib/src/lib/delegations/delegation-scope.service.ts
  libs/auth-api-lib/src/lib/delegations/delegations-incoming.service.ts
  libs/auth-api-lib/src/lib/delegations/utils/delegations.ts
  libs/clients/syslumenn/project.json
  libs/clients/syslumenn/src/clientConfig.json
  libs/clients/syslumenn/src/lib/syslumennClient.service.ts
  libs/clients/syslumenn/src/lib/syslumennClient.types.ts
  libs/feature-flags/src/lib/features.ts
Due: none

feat: draft graphql layer and mock return values
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/models/pregnancy-measurements.model.ts
  libs/api/domains/health-directorate/src/lib/resolvers/basicInformation.resolver.ts
  libs/portals/my-pages/health/src/screens/Pregnancy/Measurements.graphql
  libs/portals/my-pages/health/src/screens/Pregnancy/Measurements.tsx
Due: Portal GraphQL

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
