Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Fix spacing
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/DefendantServiceRequirement.tsx
Due: none

Move graphql queries into its own folder
  libs/application/templates/hh/courses/src/forms/mainForm/courseSection.ts
  libs/application/templates/hh/courses/src/graphql/index.ts
Due: Application System API

Refactor courses.service
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/courses.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/types.ts
Due: Application System API

Move function into its own file
  libs/application/templates/hh/courses/src/forms/mainForm/courseSection.ts
  libs/application/templates/hh/courses/src/utils/parseQueryParamValue.ts
Due: Application System API

Move loadOptions to its own file
  libs/application/templates/hh/courses/src/forms/mainForm/courseSection.ts
  libs/application/templates/hh/courses/src/utils/loadOptions.ts
Due: Application System API

Rename application type
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/courses.service.ts
  libs/application/template-loader/src/lib/templateLoaders.ts
  libs/application/templates/hh/courses/src/lib/template.ts
  libs/application/types/src/lib/ApplicationTypes.ts
  libs/application/types/src/lib/InstitutionMapper.ts
Due: Application System API

Add logo
  libs/application/assets/institution-logos/HeilsugaeslaHofudborgarsvaedisinsLogo.tsx
  libs/application/assets/institution-logos/index.ts
  libs/application/templates/hh/courses/src/forms/completedForm/index.ts
  libs/application/templates/hh/courses/src/forms/mainForm/index.ts
  libs/application/templates/hh/courses/src/forms/prerequisitesForm/index.ts
Due: Application System API

Add 'approveExternalData' to schema
  libs/application/templates/hh/courses/src/lib/dataSchema.ts
Due: Application System API

use normal text inputs for icelandic phone numbers
  libs/application/templates/hms/rental-agreement/src/forms/draftForm/partiesSection/partiesSubsection.ts
  libs/application/templates/hms/rental-agreement/src/forms/draftForm/partiesSection/personalInformationSubsection.ts
  libs/application/templates/hms/rental-agreement/src/utils/utils.ts
Due: Application System API

custom applicant personal information subsection
  libs/application/templates/hms/rental-agreement/src/forms/draftForm/partiesSection/personalInformationSubsection.ts
Due: Application System API

merge error fixed
  libs/portals/admin/application-system/src/queries/overview.graphql
Due: none

skip showing postal code
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacanciesList.tsx
Due: none

Allow company nationalId for operators
  libs/application/templates/aosh/transfer-of-machine-ownership/src/fields/ReviewOperatorRepeater/index.tsx
Due: Application System API

fix(transfer of machine ownership): Allow company nationalId for operators (#21032)
  libs/application/templates/aosh/transfer-of-machine-ownership/src/fields/ReviewOperatorRepeater/index.tsx
Due: Application System API

make real estate shares editable
  libs/application/templates/inheritance-report/src/fields/EstateAndVehiclesRepeater/FieldComponent.tsx
  libs/application/templates/inheritance-report/src/fields/EstateAndVehiclesRepeater/RealEstateLookup.tsx
  libs/application/templates/inheritance-report/src/fields/EstateAndVehiclesRepeater/index.tsx
  libs/application/templates/inheritance-report/src/fields/EstateAndVehiclesRepeater/types.ts
Due: Application System API

Fix radio button tab ordering
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtSessionAccordionItem.tsx
Due: none

Remove dividers from connected case accordions
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
  apps/judicial-system/web/src/routes/Shared/IndictmentOverview/IndictmentOverview.tsx
Due: none

Remove debug logger
  apps/judicial-system/xrd-api/src/app/app.controller.ts
Due: none

Apply dative case to court name
  apps/judicial-system/backend/src/app/modules/notification/services/indictmentCaseNotification/indictmentCaseNotification.service.ts
Due: none

Fix width issue in search modal
  apps/judicial-system/web/src/components/Modals/SearchModal/SearchModal.css.ts
  apps/judicial-system/web/src/components/Modals/SearchModal/SearchModal.tsx
Due: none

Refactor search modal component
  apps/judicial-system/web/src/components/Modals/SearchModal/SearchModal.tsx
  apps/judicial-system/web/src/components/Modals/SearchModal/searchCases.graphql
Due: none

fix(application-system): allow company nationalId for operators (#21038)
  libs/application/templates/aosh/transfer-of-machine-ownership/src/fields/ReviewOperatorRepeater/index.tsx
Due: Application System API

code review changes
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacanciesList.tsx
Due: none

feat(starfatorg): show address and postcode when available (#21031)
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacanciesList.css.ts
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacanciesList.tsx
  apps/web/screens/queries/IcelandicGovernmentInstitutionVacancies.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/models/icelandicGovernmentInstitutionVacancy.model.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/utils.ts
Due: Portal GraphQL

Fix spacing in various places
  apps/judicial-system/web/src/components/Inputs/InputAdvocate.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/Advocates.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/SelectDefender.tsx
  apps/judicial-system/web/src/routes/Court/components/SubpoenaType/SubpoenaType.tsx
Due: none

fix(j-s): Dative court name (#21037)
  apps/judicial-system/backend/src/app/modules/notification/services/indictmentCaseNotification/indictmentCaseNotification.service.ts
  apps/judicial-system/xrd-api/src/app/app.controller.ts
Due: none

chore: charts update dirty file
  charts/islandis-services/api/values.dev.yaml
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

finalized applicatin
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/mile-car/mile-car.service.ts
  libs/application/templates/transport-authority/mile-car/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/mile-car/src/hooks/useLazyVehicleDetails.ts
  libs/application/templates/transport-authority/mile-car/src/lib/dataSchema.ts
  libs/application/templates/transport-authority/mile-car/src/lib/messages/selectVehice.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/FindVehicleFormField/FindVehicleFormField.tsx
  libs/application/ui-fields/src/lib/FindVehicleFormField/utils.ts
  libs/application/ui-fields/src/lib/VehicleSelectFormField/VehicleSelectFormField.tsx
  libs/clients/vehicles/src/clientConfig.json
Due: Application System API

chore: lintfix update dirty file
  apps/web/screens/OpenInvoices/Overview/NestedLines.tsx
  apps/web/screens/OpenInvoices/Overview/Overview.css.ts
  apps/web/screens/OpenInvoices/components/EmptyTable/EmptyTable.css.ts
  apps/web/screens/OpenInvoices/components/EmptyTable/EmptyTable.tsx
Due: none

fix: list not rendering in html docs
  libs/portals/my-pages/documents/src/components/DocumentRenderer/DocumentRenderer.css.ts
Due: none

fix(admin portal): Make Statistics work in admin portal for institution (#21027)
  apps/application-system/api/src/app/modules/application/admin.controller.ts
  libs/api/domains/application/src/lib/application-admin/application-admin.resolvers.ts
  libs/api/domains/application/src/lib/application.service.ts
  libs/application/api/core/src/lib/application/application.service.ts
  libs/portals/admin/application-system/src/components/StatisticsTable/StatisticsTable.tsx
  libs/portals/admin/application-system/src/module.tsx
  libs/portals/admin/application-system/src/queries/overview.graphql
  libs/portals/admin/application-system/src/screens/Statistics/Statistics.tsx
Due: Portal GraphQL, Application System API

fix: rabbit c
  apps/portals/my-pages/src/components/Header/Header.tsx
Due: none

fix: list not rendering in html docs (#21040)
  libs/portals/my-pages/documents/src/components/DocumentRenderer/DocumentRenderer.css.ts
Due: none

fix: pr review comments
  apps/portals/my-pages/src/components/Layout/SidebarLayout.tsx
  apps/portals/my-pages/src/lib/constants.ts
  libs/portals/my-pages/core/src/components/InfoLine/InfoLine.tsx
  libs/portals/my-pages/education/src/screens/SecondarySchoolGraduationOverview/SecondarySchoolGraduationOverview.tsx
Due: none

coderabbit suggestion updates
  .github/CODEOWNERS
  libs/application/template-api-modules/src/lib/modules/templates/index.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/mile-car/mile-car.module.ts
  libs/application/templates/transport-authority/anonymity-in-vehicle-registry/src/forms/AnonymityInVehicleRegistryForm/index.ts
  libs/application/templates/transport-authority/mile-car/README.md
  libs/application/templates/transport-authority/mile-car/jest.config.ts
  libs/application/templates/transport-authority/mile-car/project.json
  libs/application/templates/transport-authority/mile-car/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/mile-car/src/lib/messages/externalData.ts
  libs/application/templates/transport-authority/mile-car/src/lib/messages/index.ts
  libs/application/templates/transport-authority/mile-car/src/lib/messages/selectVehicle.ts
  libs/clients/vehicles-mileage/project.json
  tsconfig.base.json
Due: Application System API

feat: init
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileage.tsx
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileageRow.tsx
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileageTable.tsx
Due: none

VMSTOtherParent is null
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.utils.ts
  libs/application/templates/parental-leave/src/fields/Review/review-groups/OtherParent.tsx
Due: Application System API

message update and path changes
  libs/application/templates/transport-authority/mile-car/project.json
  libs/application/templates/transport-authority/mile-car/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/mile-car/src/lib/messages/confirmation.ts
Due: Application System API
