Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Try to fix e2e tests
  scripts/e2e-ci.js
Due: none

Another e2e-ci fix
  package.json
  scripts/e2e-ci.js
Due: none

Fix spelling in path
  libs/portals/admin/service-desk/src/lib/paths.ts
Due: none

feat: add image
  libs/api/domains/intellectual-property/src/lib/intellectualProperty.service.ts
  libs/api/domains/intellectual-property/src/lib/models/getTrademark.model.ts
  libs/service-portal/core/src/components/AudioPlayer/AudioPlayer.tsx
  libs/service-portal/core/src/components/VideoPlayer/VideoPlayer.tsx
  libs/service-portal/vehicles/src/screens/IntellectualPropertiesTrademarkDetail/IntellectualPropertiesTrademarkDetail.tsx
Due: Portal GraphQL

fix: type
  libs/api/domains/national-registry/src/lib/nationalRegistry.resolver.ts
Due: Portal GraphQL

fix: imports
  libs/service-portal/core/src/components/AudioPlayer/AudioPlayer.tsx
  libs/service-portal/core/src/components/Image/Image.tsx
  libs/service-portal/core/src/components/ProgressBar/ProgressBar.tsx
  libs/service-portal/core/src/components/VideoPlayer/VideoPlayer.tsx
  libs/service-portal/vehicles/src/components/Timeline/Timeline.css.ts
  libs/service-portal/vehicles/src/components/Timeline/Timeline.tsx
  libs/service-portal/vehicles/src/screens/IntellectualPropertiesTrademarkDetail/IntellectualPropertiesTrademarkDetail.tsx
Due: none

feat: update mapping
  libs/api/domains/national-registry/src/lib/models/nationalRegistryAddress.model.ts
  libs/api/domains/national-registry/src/lib/models/nationalRegistryPerson.model.ts
  libs/api/domains/national-registry/src/lib/models/nationalRegistrySpouse.model.ts
  libs/api/domains/national-registry/src/lib/nationalRegistry.types.ts
  libs/api/domains/national-registry/src/lib/services/v2/nationalRegistryXRoad.service.ts
  libs/api/domains/national-registry/src/lib/services/v3/mapper.ts
  libs/api/domains/national-registry/src/lib/utils.ts
  libs/api/mocks/src/domains/applications/resolvers.ts
  libs/api/mocks/src/domains/applications/store.ts
  libs/application/templates/driving-license-duplicate/src/forms/applicationSections/sectionOverview.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionDelivery.ts
  libs/application/templates/marriage-conditions/src/forms/fakeDataSection.ts
Due: Portal GraphQL, Application System API

breaking down logic in applicationAccess.service.ts and adding config to application.module.ts
  apps/application-system/api/src/app/app.module.ts
  apps/application-system/api/src/app/modules/application/application.controller.ts
  apps/application-system/api/src/app/modules/application/tools/applicationAccess.service.ts
Due: Application System API

feat: this is getting out of hand
  libs/api/domains/national-registry/src/index.ts
  libs/api/domains/national-registry/src/lib/models/nationalRegistryBasePerson.model.ts
  libs/api/domains/national-registry/src/lib/models/nationalRegistryChild.model.ts
  libs/api/domains/national-registry/src/lib/models/nationalRegistryChildGuardianship.model.ts
  libs/api/domains/national-registry/src/lib/models/nationalRegistryCustodian.model.ts
  libs/api/domains/national-registry/src/lib/models/nationalRegistryDomicileInhabitants.model.ts
  libs/api/domains/national-registry/src/lib/models/nationalRegistryLivingArrangements.model.ts
  libs/api/domains/national-registry/src/lib/models/nationalRegistryPerson.model.ts
  libs/api/domains/national-registry/src/lib/models/nationalRegistryResidence.model.ts
  libs/api/domains/national-registry/src/lib/models/nationalRegistrySpouse.model.ts
  libs/api/domains/national-registry/src/lib/nationalRegistry.resolver.ts
  libs/api/domains/national-registry/src/lib/nationalRegistry.types.ts
  libs/api/domains/national-registry/src/lib/services/v2/nationalRegistryXRoad.service.ts
  libs/api/domains/national-registry/src/lib/services/v3/mapper.ts
  libs/api/domains/national-registry/src/lib/services/v3/nationalRegistryV3.service.ts
  libs/clients/national-registry/v3/src/lib/nationalRegistryV3.service.ts
  libs/service-portal/information/codegen.yml
  libs/service-portal/information/project.json
  libs/service-portal/information/src/components/ChildView/ChildView.spec.ts
  libs/service-portal/information/src/components/ChildView/ChildView.tsx
  libs/service-portal/information/src/components/FamilyMemberCard/FamilyMemberCard.tsx
  libs/service-portal/information/src/helpers/formatting.ts
  libs/service-portal/information/src/lib/navigation.ts
  libs/service-portal/information/src/lib/paths.ts
  libs/service-portal/information/src/lib/queries/getNationalRegistryUser.ts
  libs/service-portal/information/src/module.tsx
  libs/service-portal/information/src/screens/FamilyMember/Child.css.ts
  libs/service-portal/information/src/screens/FamilyMember/Child.graphql
  libs/service-portal/information/src/screens/FamilyMember/Child.tsx
  libs/service-portal/information/src/screens/FamilyMember/FamilyMember.tsx
  libs/service-portal/information/src/screens/Spouse/Spouse.graphql
  libs/service-portal/information/src/screens/Spouse/Spouse.tsx
  libs/service-portal/information/src/screens/UserInfo/UserInfo.graphql
  libs/service-portal/information/src/screens/UserInfo/UserInfo.tsx
  libs/service-portal/information/src/screens/UserInfoOverview/UserInfoOverview.graphql
  libs/service-portal/information/src/screens/UserInfoOverview/UserInfoOverview.tsx
Due: Portal GraphQL

Add way to search
  apps/web/components/connected/vehicles/AircraftSearch.tsx
  libs/api/domains/aircraft-registry/src/lib/aircraftRegistry.service.ts
  libs/clients/aircraft-registry/src/clientConfig.json
Due: Portal GraphQL

refactor application.controller.ts by breaking down logic and hopefully making the code a bit more readable and clearer.
  apps/application-system/api/src/app/modules/application/application.controller.ts
Due: Application System API

remove console log and remove dead code
  apps/application-system/api/src/app/modules/application/tools/applicationAccess.service.ts
Due: Application System API

changed scope in apiScope
  libs/auth/scopes/src/lib/api.scope.ts
Due: none

feat: use new endpoint
  apps/services/user-profile/src/app/user-profile/dto/actorLocale.ts
  apps/services/user-profile/src/app/user-profile/userProfile.controller.ts
  libs/api/domains/user-profile/src/lib/userProfile.service.ts
Due: Portal GraphQL

feat: isolate nat reg xroad models
  libs/api/domains/national-registry-x-road/src/models/nationalRegistryAddress.model.ts
  libs/api/domains/national-registry-x-road/src/models/nationalRegistryBirthplace.model.ts
  libs/api/domains/national-registry-x-road/src/models/nationalRegistryCitizenship.model.ts
  libs/api/domains/national-registry-x-road/src/models/nationalRegistryFamilyMember.model.ts
  libs/api/domains/national-registry-x-road/src/models/nationalRegistryPerson.model.ts
  libs/api/domains/national-registry-x-road/src/models/nationalRegistryReligion.model.ts
  libs/api/domains/national-registry-x-road/src/models/nationalRegistryResidence.model.ts
  libs/api/domains/national-registry-x-road/src/models/nationalRegistrySpouse.model.ts
Due: Portal GraphQL

feat: add client
  SUMMARY.md
  apps/api/infra/api.ts
  apps/api/src/app/app.module.ts
  infra/src/dsl/xroad.ts
  libs/clients/national-registry/README.md
  libs/clients/national-registry/v3/.eslintrc.json
  libs/clients/national-registry/v3/README.md
  libs/clients/national-registry/v3/jest.config.js
  libs/clients/national-registry/v3/project.json
  libs/clients/national-registry/v3/src/clientConfig.json
  libs/clients/national-registry/v3/src/index.ts
  libs/clients/national-registry/v3/src/lib/apiConfig.ts
  libs/clients/national-registry/v3/src/lib/nationalRegistryV3.config.ts
  libs/clients/national-registry/v3/src/lib/nationalRegistryV3.module.ts
  libs/clients/national-registry/v3/src/lib/nationalRegistryV3.service.ts
  libs/clients/national-registry/v3/src/lib/providers.ts
  libs/clients/national-registry/v3/src/lib/types/address.dto.ts
  libs/clients/national-registry/v3/src/lib/types/birthplace.dto.ts
  libs/clients/national-registry/v3/src/lib/types/child.dto.ts
  libs/clients/national-registry/v3/src/lib/types/citizenship.dto.ts
  libs/clients/national-registry/v3/src/lib/types/custodian.dto.ts
  libs/clients/national-registry/v3/src/lib/types/family.dto.ts
  libs/clients/national-registry/v3/src/lib/types/individual.dto.ts
  libs/clients/national-registry/v3/src/lib/types/name.dto.ts
  libs/clients/national-registry/v3/src/lib/types/parent.dto.ts
  libs/clients/national-registry/v3/src/lib/types/religion.dto.ts
  libs/clients/national-registry/v3/src/lib/types/spouse.dto.ts
  libs/clients/national-registry/v3/src/lib/utils.ts
  libs/clients/national-registry/v3/tsconfig.json
  libs/clients/national-registry/v3/tsconfig.lib.json
  libs/clients/national-registry/v3/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: Portal GraphQL

Rewrite UI
  apps/web/components/connected/vehicles/AircraftSearch.tsx
  apps/web/screens/queries/AircraftSearch.ts
  libs/api/domains/aircraft-registry/src/lib/aircraftRegistry.resolver.ts
  libs/api/domains/aircraft-registry/src/lib/aircraftRegistry.service.ts
  libs/api/domains/aircraft-registry/src/lib/dto/allAircrafts.input.ts
  libs/island-ui/core/src/lib/Pagination/Pagination.tsx
Due: Portal GraphQL

Improve the way query params are added
  apps/web/components/connected/vehicles/AircraftSearch.tsx
Due: none

Only query used values via GraphQL
  apps/web/components/connected/vehicles/AircraftSearch.tsx
  apps/web/screens/queries/AircraftSearch.ts
Due: none

Add min height option
  apps/web/components/connected/vehicles/AircraftSearch.tsx
Due: none

Hopefully last e2e fix :)
  apps/financial-aid/web-osk-e2e/project.json
  apps/financial-aid/web-osk-e2e/tsconfig.e2e.json
  apps/financial-aid/web-osk-e2e/tsconfig.json
  apps/judicial-system/web-e2e/project.json
  apps/judicial-system/web-e2e/tsconfig.e2e.json
  apps/judicial-system/web-e2e/tsconfig.json
Due: none

Change prod xroad env
  infra/src/dsl/xroad.ts
Due: none

Update codeowners
  .github/CODEOWNERS
Due: none

Revert maxTime change
  libs/cms/src/lib/search/contentful.service.ts
Due: none

chore(search-indexer): Re-enable nested fetching for search indexer entries (#11772)
  apps/services/search-indexer/infra/search-indexer-service.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

feat: make injectable
  apps/api/src/app/app.module.ts
  libs/api/domains/national-registry/src/lib/nationalRegistry.module.ts
  libs/api/domains/national-registry/src/lib/nationalRegistry.service.ts
  libs/clients/national-registry/v1/src/index.ts
  libs/clients/national-registry/v1/src/lib/soffiaClient.config.ts
Due: Portal GraphQL

feat: version
  libs/api/domains/national-registry/src/lib/models/index.ts
  libs/api/domains/national-registry/src/lib/models/v1/address.model.ts
  libs/api/domains/national-registry/src/lib/models/v1/banMarking.model.ts
  libs/api/domains/national-registry/src/lib/models/v1/child.model.ts
  libs/api/domains/national-registry/src/lib/models/v1/citizenship.model.ts
  libs/api/domains/national-registry/src/lib/models/v1/familyCorrection.model.ts
  libs/api/domains/national-registry/src/lib/models/v1/familyMember.model.ts
  libs/api/domains/national-registry/src/lib/models/v1/index.ts
  libs/api/domains/national-registry/src/lib/models/v1/user.model.ts
  libs/api/domains/national-registry/src/lib/nationalRegistry.module.ts
  libs/api/domains/national-registry/src/lib/nationalRegistry.service.ts
  libs/api/domains/national-registry/src/lib/resolvers/index.ts
  libs/api/domains/national-registry/src/lib/resolvers/v1/child.resolver.ts
  libs/api/domains/national-registry/src/lib/resolvers/v1/correction.resolver.ts
  libs/api/domains/national-registry/src/lib/resolvers/v1/familyMember.resolver.ts
  libs/api/domains/national-registry/src/lib/resolvers/v1/index.ts
  libs/api/domains/national-registry/src/lib/resolvers/v1/scalars.ts
  libs/api/domains/national-registry/src/lib/resolvers/v1/user.resolver.ts
  libs/api/domains/national-registry/src/lib/services/v1/soffia.service.ts
  libs/api/domains/national-registry/src/lib/services/v3/broker.service.ts
Due: Portal GraphQL

fix application tests and remove unused variables
  apps/application-system/api/src/app/modules/application/application.controller.ts
  apps/application-system/api/src/app/modules/application/e2e/applicationAccess.spec.ts
  apps/application-system/api/src/app/modules/application/tools/applicationAccess.service.ts
Due: Application System API

chore: Use standard PEM certs
  libs/clients/islykill/src/lib/islykill.module.ts
  libs/clients/middlewares/src/lib/withAgent.ts
Due: none

Remove whitespace
  libs/clients/islykill/src/lib/islykill.module.ts
Due: none

[TS-106] Old age pension e2e test
  apps/system-e2e/src/tests/islandis/application-system/acceptance/old-age-pension.spec.ts
  libs/application/templates/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/old-age-pension/src/forms/Prerequisites.ts
Due: Application System API

Use getProps instead of getInitialProps
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacanciesList.tsx
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacancyDetails.tsx
  apps/web/screens/PetitionView/PetitionView.tsx
Due: none

Change IslykillRegister to fit new certs
  libs/api/domains/user-profile/src/lib/userProfile.module.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/user-profile/user-profile.module.ts
Due: Portal GraphQL, Application System API

Add document file again to make sure lang property is set
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
Due: none

remove clientConfig.yaml
  libs/clients/auth/public-api/src/clientConfig.yaml
Due: none

Fix schema generation
  apps/application-system/api/src/environments/environment.ts
Due: Application System API

chore: upgrade dd-trace
  package.json
  yarn.lock
Due: none

chore: force dd-trace to run locally to get errors sooner
  local-test.js
  package.json
Due: none

fix: postgress stop await
  libs/testing/containers/src/lib/testing-containers.ts
Due: none

chore: update version ddtrace
  package.json
  yarn.lock
Due: none
