Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

remove allowedScopes from tests
  apps/services/auth/admin-api/src/app/v2/clients/test/me-clients.spec.ts
Due: none

Add paper mail feature-flag
  libs/service-portal/settings/personal-information/src/components/Forms/ProfileForm/ProfileForm.tsx
Due: none

add debless pdf
  libs/application/template-api-modules/src/lib/modules/templates/operating-license/operatingLicense.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/operating-license/types/attachments.ts
Due: Application System API

using masked secrets
  .github/workflows/push.yml
  infra/scripts/Dockerfile
  scripts/ci/10_prepare-docker-deps.sh
  scripts/ci/Dockerfile
Due: none

Rewrites filter
  apps/judicial-system/backend/src/app/modules/case/filters/case.filters.spec.ts
  apps/judicial-system/backend/src/app/modules/case/filters/case.filters.ts
Due: none

Moves appeals court cases filter to a separate funtion
  apps/judicial-system/backend/src/app/modules/case/filters/case.filters.spec.ts
  apps/judicial-system/backend/src/app/modules/case/filters/case.filters.ts
Due: none

feat(portals-admin-ids-admin): Adding client secrets (#10927)
  apps/services/auth/admin-api/src/app/v2/clients/clients.module.ts
  apps/services/auth/admin-api/src/app/v2/clients/me-clients.controller.ts
  apps/services/auth/admin-api/src/app/v2/secrets/client-secrets.module.ts
  apps/services/auth/admin-api/src/app/v2/secrets/client-secrets.service.ts
  apps/services/auth/admin-api/src/app/v2/secrets/dto/client-secret.dto.ts
  apps/services/auth/admin-api/src/app/v2/secrets/me-client-secrets.controller.ts
  libs/api/domains/auth-admin/src/lib/auth-admin.module.ts
  libs/api/domains/auth-admin/src/lib/client/client-environment.resolver.ts
  libs/api/domains/auth-admin/src/lib/client/client-secret.loader.ts
  libs/api/domains/auth-admin/src/lib/client/clients.service.ts
  libs/api/domains/auth-admin/src/lib/client/dto/client-secret.input.ts
  libs/api/domains/auth-admin/src/lib/client/models/client-environment.model.ts
  libs/api/domains/auth-admin/src/lib/client/models/client-secret.model.ts
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
  libs/auth-api-lib/src/lib/clients/clients.module.ts
  libs/clients/auth/admin-api/src/index.ts
  libs/portals/admin/ids-admin/src/components/Client/AdvancedSettings.tsx
  libs/portals/admin/ids-admin/src/components/Client/BasicInfo.tsx
  libs/portals/admin/ids-admin/src/components/Client/Client.graphql
  libs/portals/admin/ids-admin/src/components/Client/Client.loader.ts
  libs/portals/admin/ids-admin/src/components/Client/Client.tsx
  libs/portals/admin/ids-admin/src/components/Client/Translations.tsx
  libs/portals/admin/ids-admin/src/components/Clients/Clients.tsx
  libs/portals/admin/ids-admin/src/components/forms/EditApplication/EditApplication.action.ts
  libs/portals/admin/ids-admin/src/lib/messages.ts
  libs/portals/admin/ids-admin/src/shared/components/ContentCard.tsx
  libs/portals/admin/ids-admin/src/shared/context/ClientContext.ts
  libs/services/auth/testing/src/fixtures/fixture-factory.ts
Due: Portal GraphQL

Update libs/service-portal/finance/src/lib/paths.ts
  libs/service-portal/finance/src/lib/paths.ts
Due: none

fix(service-portal): Add missing education navigation detail (#10981)
  libs/service-portal/education/src/lib/navigation.ts
Due: none

Delete query
  apps/web/screens/queries/PowerBi.ts
Due: none

Intro section and application name fix
  libs/application/templates/driving-learners-permit/src/forms/form/index.ts
  libs/application/templates/driving-learners-permit/src/lib/messages.ts
Due: Application System API

Restricts appeals court users to the judge and assistant roles
  apps/judicial-system/backend/src/app/modules/case/filters/case.filters.spec.ts
  apps/judicial-system/backend/src/app/modules/case/filters/case.filters.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/user.ts
Due: none

adding events
  apps/judicial-system/backend/src/app/modules/event/event.service.ts
Due: none

feat(service-portal): Settings options for paper mail requirement (#10489)
  libs/api/domains/documents/src/lib/document.resolver.ts
  libs/api/domains/documents/src/lib/document.service.ts
  libs/api/domains/documents/src/lib/dto/postRequestPaperInput.ts
  libs/api/domains/documents/src/lib/models/paperMail.model.ts
  libs/clients/documents/src/lib/documentClient.ts
  libs/clients/documents/src/lib/models/PaperMailRes.ts
  libs/clients/documents/src/lib/models/RequestPaperDTO.ts
  libs/service-portal/core/src/lib/messages.ts
  libs/service-portal/settings/personal-information/src/components/Forms/ProfileForm/ProfileForm.tsx
  libs/service-portal/settings/personal-information/src/components/Forms/ProfileForm/components/Inputs/PaperMail.tsx
  libs/service-portal/settings/personal-information/src/lib/messages.ts
Due: Portal GraphQL

Rewrites appeals court filter
  apps/judicial-system/backend/src/app/modules/case/filters/case.filters.spec.ts
  apps/judicial-system/backend/src/app/modules/case/filters/case.filters.ts
Due: none

formatting
  .github/workflows/push.yml
Due: none

fix(application-system): ApplicationCard scaling (#10985)
  libs/application/ui-components/src/components/ApplicationCard/ApplicationCard.tsx
Due: none

force invalidate cache
  apps/service-portal/src/app/App.tsx
Due: none

force build all apps by not using the github cache
  .github/workflows/push.yml
Due: none

fixing the padding between pdf
  apps/judicial-system/web/src/routes/Defender/CaseOverview.tsx
Due: none

Fix job output to use new extensions feature
  infra/src/dsl/output-generators/feature-jobs.ts
Due: none

updating string
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseFiles/PoliceCaseFiles.strings.ts
Due: none

spelling updates
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseFiles/PoliceCaseFiles.strings.ts
Due: none

Add dataprovider info to application
  libs/application/templates/driving-learners-permit/src/forms/form/index.ts
  libs/application/templates/driving-learners-permit/src/lib/messages.ts
Due: Application System API

added tests and updated allowed scopes endpoint logic
  apps/services/auth/admin-api/src/app/v2/scopes/test/me-clients-scopes.auth.spec.ts
  apps/services/auth/admin-api/src/app/v2/scopes/test/me-clients-scopes.spec.ts
  libs/auth-api-lib/src/lib/resources/admin/admin-scope.service.ts
Due: none

Update requirement text
  libs/application/templates/driving-learners-permit/src/lib/messages.ts
Due: Application System API

feat: add more stuff
  libs/api/domains/national-registry-v3/src/lib/graphql/models/nationalRegistryAddress.model.ts
  libs/api/domains/national-registry-v3/src/lib/graphql/models/nationalRegistryBirthplace.model.ts
  libs/api/domains/national-registry-v3/src/lib/graphql/models/nationalRegistryCitizenship.model.ts
  libs/api/domains/national-registry-v3/src/lib/graphql/models/nationalRegistryPerson.model.ts
  libs/api/domains/national-registry-v3/src/lib/nationalRegistryV3.resolver.ts
  libs/api/domains/national-registry-v3/src/lib/nationalRegistryV3.service.ts
  libs/api/domains/national-registry/src/lib/nationalRegistry.service.ts
Due: Portal GraphQL

Possible case sensitivity fix
  infra/src/dsl/xroad.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.config.ts
Due: none

remove unused allowed scopes include
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
Due: none

Update charts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

Add missing quotes on extensions in query
  infra/scripts/container-scripts/create-db.sh
Due: none

Update institution
  libs/application/templates/driving-learners-permit/src/lib/messages.ts
Due: Application System API

fix: Better esbuild node_modules copy logic (#10648)
  .yarn/patches/@anatine-esbuildnx-npm-0.2.0-b2ba626748.patch
  package.json
  yarn.lock
Due: none

Fixes filter
  apps/judicial-system/backend/src/app/modules/case/filters/case.filters.spec.ts
  apps/judicial-system/backend/src/app/modules/case/filters/case.filters.ts
Due: none

Add messages to final screen
  libs/application/templates/driving-learners-permit/src/forms/done.ts
  libs/application/templates/driving-learners-permit/src/lib/messages.ts
Due: Application System API

Update slug of application
  libs/application/types/src/lib/ApplicationTypes.ts
Due: none

Remove IF NOT EXISTS
  infra/scripts/container-scripts/create-db.sh
Due: none

Breaks up filters file
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/filters/case.archiveFilter.ts
  apps/judicial-system/backend/src/app/modules/case/filters/case.filter.spec.ts
  apps/judicial-system/backend/src/app/modules/case/filters/case.filter.ts
  apps/judicial-system/backend/src/app/modules/case/filters/cases.filter.spec.ts
  apps/judicial-system/backend/src/app/modules/case/filters/cases.filter.ts
  apps/judicial-system/backend/src/app/modules/case/guards/caseRead.guard.ts
  apps/judicial-system/backend/src/app/modules/case/guards/caseWrite.guard.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/archive.spec.ts
Due: none

add sub works and remove sub works
  apps/consultation-portal/components/Card/ChosenSubscriptionCard.tsx
  apps/consultation-portal/components/ChosenSubscriptions/ChosenSubscriptions.tsx
  apps/consultation-portal/components/SearchAndSort/SearchAndSort.tsx
  apps/consultation-portal/components/SubscriptionChoices/SubscriptionChoices.tsx
  apps/consultation-portal/components/SubscriptionsSkeleton/SubscriptionsSkeleton.tsx
  apps/consultation-portal/components/Tab/TabContent.tsx
  apps/consultation-portal/components/Table/SubscriptionTable.tsx
  apps/consultation-portal/components/Table/SubscriptionTableAllItems.tsx
  apps/consultation-portal/components/Table/SubscriptionTableItem.tsx
  apps/consultation-portal/graphql/queries.graphql.ts
  apps/consultation-portal/pages/askriftir/index.tsx
  apps/consultation-portal/screens/Subscriptions/Subscriptions.tsx
  apps/consultation-portal/screens/Subscriptions/tabsList.tsx
  apps/consultation-portal/screens/UserSubscriptions/UserSubscriptions.tsx
  apps/consultation-portal/todo.TXT
  apps/consultation-portal/types/enums.ts
  apps/consultation-portal/types/interfaces.ts
  apps/consultation-portal/utils/helpers/api/useFetchSubscriptions.ts
  apps/consultation-portal/utils/helpers/api/usePostSubscription.ts
  apps/consultation-portal/utils/helpers/createUUIDString.ts
  apps/consultation-portal/utils/helpers/index.ts
  apps/consultation-portal/utils/helpers/mapIsToEn.ts
  apps/consultation-portal/utils/helpers/subscriptions/getInitValues.ts
  apps/consultation-portal/utils/helpers/subscriptions/index.ts
  apps/consultation-portal/utils/helpers/subscriptions/initSubscriptions.ts
  apps/consultation-portal/utils/helpers/subscriptions/useSubscriptions.ts
  apps/consultation-portal/utils/helpers/useSearchSubscriptions.tsx
  libs/api/domains/consultation-portal/src/lib/dto/postSubscriptionType.input.ts
  libs/api/domains/consultation-portal/src/lib/user/user.resolver.ts
  libs/clients/middlewares/src/lib/withAutoAuth.ts
Due: Portal GraphQL

updated workflow outputs
  .github/workflows/push.yml
Due: none
