Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

mismatch
  libs/application/templates/transport-authority/mile-car/src/fields/VehiclesField/index.tsx
Due: Application System API

fix: no error if no argument
  apps/services/cms-importer/src/main.ts
Due: none

Adjust styles and hide content if no selection
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.css.ts
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.tsx
Due: none

fix(j-s): Spacing issues (#21035)
  apps/judicial-system/web/src/components/AccordionItems/ConnectedCaseFilesAccordionItem/ConnectedCaseFilesAccordionItem.strings.ts
  apps/judicial-system/web/src/components/AccordionItems/ConnectedCaseFilesAccordionItem/ConnectedCaseFilesAccordionItem.tsx
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/DefendantServiceRequirement.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtSessionAccordionItem.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Shared/IndictmentOverview/IndictmentOverview.tsx
Due: none

fix: broken tests after updates
  libs/api/domains/questionnaires/src/lib/transform-mappers/display.mappers.spec.ts
Due: Portal GraphQL

Adjust default values
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/translationStrings.ts
  apps/web/screens/Organization/SocialInsuranceAdministration/utils.ts
Due: none

fix: lints
  libs/api/domains/questionnaires/src/lib/questionnaires.resolver.ts
  libs/clients/health-directorate/src/lib/clients/health/health.service.ts
Due: Portal GraphQL

Remove code that shows comparison between years
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculatorResults.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/translationStrings.ts
Due: none

Adjust text
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculatorResults.tsx
Due: none

fix(cms-importer): no error if no argument (#21085)
  apps/services/cms-importer/src/main.ts
Due: none

Remove unused imports
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculatorResults.tsx
Due: none

fix: take required out of maxS
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/Multiple.tsx
Due: none

laga state á slug
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableHeader.tsx
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableRow.tsx
Due: none

fix
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableRow.tsx
Due: none

date display
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableHeader.tsx
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableRow.tsx
Due: none

fix(form-system): laga state á slug (#21087)
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableHeader.tsx
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableRow.tsx
Due: none

feat(j-s): Display defendant per line for public prosecutors office (#21022)
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.service.ts
Due: none

fix(j-s): Double commas in indictment intro autofill (#21026)
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
Due: none

chore(j-s): Make confirmations smaller (#20991)
  apps/judicial-system/backend/src/app/formatters/confirmedPdf.ts
  apps/judicial-system/backend/src/app/formatters/indictmentCourtRecordPdf.ts
  apps/judicial-system/backend/src/app/formatters/indictmentPdf.ts
  apps/judicial-system/backend/src/app/formatters/pdfHelpers.ts
  apps/judicial-system/backend/src/app/formatters/subpoenaPdf.ts
Due: none

fix(j-s): Subpoena Court Document Order (#21047)
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/repository/services/courtDocumentRepository.service.ts
Due: none

feat(j-s): Split Case - First Court Session (#20979)
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/splitDefendantFromCase.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/createTestingCaseModule.ts
  apps/judicial-system/backend/src/app/modules/court-session/courtSession.service.ts
  apps/judicial-system/backend/src/app/modules/defendant/guards/splitDefendantExists.guard.ts
  apps/judicial-system/backend/src/app/modules/defendant/guards/test/splitDefendantExistsGuard.spec.ts
  apps/judicial-system/backend/src/app/modules/defendant/index.ts
  apps/judicial-system/backend/src/app/modules/file/criminalRecord.service.ts
  apps/judicial-system/backend/src/app/modules/file/file.controller.ts
  apps/judicial-system/backend/src/app/modules/file/guards/splitCaseFileExists.guard.ts
  apps/judicial-system/backend/src/app/modules/file/guards/test/splitCaseFileExistsGuard.spec.ts
  apps/judicial-system/backend/src/app/modules/file/internalFile.controller.ts
  apps/judicial-system/backend/src/app/modules/file/test/fileController/getCaseFileSignedUrlGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/file/test/internalFileController/internalFileControllerGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/internalNotification.controller.ts
  apps/judicial-system/backend/src/app/modules/subpoena/internalSubpoena.controller.ts
  apps/judicial-system/backend/src/app/modules/subpoena/subpoena.controller.ts
  apps/judicial-system/backend/src/app/modules/subpoena/test/internalSubpoenaController/deliverServiceCertificateToCourtGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/subpoena/test/internalSubpoenaController/deliverSubpoenaFileToPoliceGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/subpoena/test/internalSubpoenaController/deliverSubpoenaRevocationToNationalCommissionersOfficeGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/subpoena/test/internalSubpoenaController/deliverSubpoenaToCourtGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/subpoena/test/internalSubpoenaController/deliverSubpoenaToNationalCommissionersOfficeGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/subpoena/test/subpoenaController/getSubpoenaPdfGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/subpoena/test/subpoenaController/subpoenaControllerGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.service.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.tsx
Due: none

fix: rabbit comments
  libs/portals/my-pages/assets/src/components/Timeline/Timeline.tsx
  libs/portals/my-pages/core/src/components/NestedLines/NestedLines.tsx
  libs/portals/my-pages/core/src/components/ProgressBar/ProgressBar.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/Scale.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/Table.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/TextInput.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/Thermometer.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/README.md
  libs/portals/my-pages/core/src/components/Questionnaires/utils/calculations.ts
  libs/portals/my-pages/core/src/components/Questionnaires/utils/visibilityUtils.ts
  libs/portals/my-pages/health/src/screens/Questionnaires/AnsweredQuestionnaire.tsx
Due: none

chore(j-s): Improved Court Date Events (#21062)
  apps/judicial-system/backend/src/app/modules/event/event.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/indictmentCaseNotification/indictmentCaseNotification.service.ts
Due: none

Creating the first few files for secondary school web
  apps/web/pages/en/secondary-school-studies/[id]/index.ts
  apps/web/pages/en/secondary-school-studies/index.ts
  apps/web/pages/framhaldsskolanam/[id]/index.ts
  apps/web/pages/framhaldsskolanam/index.ts
  apps/web/screens/SecondarySchoolStudies/LandingPage.tsx
  apps/web/screens/SecondarySchoolStudies/SecondarySchoolStudies.css.ts
  apps/web/screens/SecondarySchoolStudies/SecondarySchoolStudyDetails.tsx
  libs/shared/types/src/lib/api-cms-domain.ts
Due: none

fix(mile-car): small updates before launch (#21083)
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/mile-car/mile-car.service.ts
  libs/application/templates/transport-authority/mile-car/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/mile-car/src/forms/completedForm/index.ts
  libs/application/templates/transport-authority/mile-car/src/lib/messages/confirmation.ts
Due: Application System API

fix(mile-car): minor updates on prod (#21084)
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/mile-car/mile-car.service.ts
  libs/application/templates/transport-authority/mile-car/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/mile-car/src/forms/completedForm/index.ts
  libs/application/templates/transport-authority/mile-car/src/lib/messages/confirmation.ts
Due: Application System API

feat(web): Pension Calculator - Iteration after user testing (#21086)
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.css.ts
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculatorResults.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/translationStrings.ts
  apps/web/screens/Organization/SocialInsuranceAdministration/utils.ts
Due: none

Refactor spacing and inputs
  apps/judicial-system/web/src/components/Decision/Decision.tsx
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Confirmation/Confirmation.tsx
  apps/judicial-system/web/src/routes/Court/InvestigationCase/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/Court/InvestigationCase/HearingArrangements/HearingArrangements.tsx
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Court/components/AppealSections/AppealSections.tsx
Due: none

Add featureflag for government funding application
  libs/application/templates/funding-government-projects/src/lib/FundingGovernmentProjectsTemplate.ts
  libs/feature-flags/src/lib/features.ts
Due: Application System API

Update car-rental-fee-category.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
Due: Application System API

chore(j-s): Return Flat (#21059)
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/extend.spec.ts
  apps/judicial-system/backend/src/app/modules/court-session/courtSession.service.ts
  apps/judicial-system/backend/src/app/modules/indictment-count/indictmentCount.service.ts
  apps/judicial-system/backend/src/app/modules/user/test/update.spec.ts
  apps/judicial-system/backend/src/app/modules/user/user.service.ts
  apps/judicial-system/web/src/components/FormProvider/FormProvider.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Offenses/Offenses.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Offenses/SpeedingOffenseFields.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Substances/Substances.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Defendant/Defendant.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/Defendant/Defendant.tsx
  apps/judicial-system/web/src/utils/hooks/index.ts
  apps/judicial-system/web/src/utils/hooks/useIndictmentCounts/index.ts
Due: none

chore: format update dirty file
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
Due: Application System API

Refactor spacing and inputs
  apps/judicial-system/web/src/routes/Court/InvestigationCase/CourtRecord/CourtRecord.tsx
Due: none

Refactor spacing and inputs
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Overview/Overview.tsx
Due: none

Refactor spacing and inputs
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Ruling/Ruling.tsx
Due: none

fix(j-s): Shows generated court record to defenders (#21065)
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.service.ts
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
Due: none

fix: rabbit comments
  libs/portals/my-pages/core/src/components/NestedLines/NestedLines.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/Scale.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/Table.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/TextInput.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/Thermometer.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/utils/visibilityUtils.spec.ts
  libs/portals/my-pages/core/src/components/Questionnaires/utils/visibilityUtils.ts
Due: none

fix(bilaleigu-gjaldflokkur): Log request body to RSK in carRentalFeeCategory application (#21090)
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
Due: Application System API

Adds a request context and, where applicable, a case context to backend logs
  apps/judicial-system/backend/src/app/app.module.ts
  apps/judicial-system/backend/src/app/middleware/context.middleware.ts
  apps/judicial-system/backend/src/app/middleware/index.ts
Due: none

feat(inheritance-report): add review state before signature
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/inheritance-report.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/inheritance-report.service.ts
  libs/application/templates/inheritance-report/src/dataProviders/index.ts
  libs/application/templates/inheritance-report/src/fields/AssigneeCard/index.tsx
  libs/application/templates/inheritance-report/src/fields/Overview/index.tsx
  libs/application/templates/inheritance-report/src/fields/index.ts
  libs/application/templates/inheritance-report/src/forms/inReview/applicantInReviewForm.ts
  libs/application/templates/inheritance-report/src/forms/inReview/assigneeInReviewForm.ts
  libs/application/templates/inheritance-report/src/forms/inReview/index.ts
  libs/application/templates/inheritance-report/src/forms/inReview/signatoryStatusSection.ts
  libs/application/templates/inheritance-report/src/forms/signing/index.ts
  libs/application/templates/inheritance-report/src/forms/signing/signatoryStatusSection.ts
  libs/application/templates/inheritance-report/src/index.ts
  libs/application/templates/inheritance-report/src/lib/InheritanceReportTemplate.ts
  libs/application/templates/inheritance-report/src/lib/constants.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
  libs/application/templates/inheritance-report/src/lib/messages.ts
  libs/application/templates/inheritance-report/src/lib/utils/allPartiesHaveApproved.ts
  libs/application/templates/inheritance-report/src/lib/utils/getAssigneesNationalIdList.ts
  libs/application/templates/inheritance-report/src/lib/utils/helpers.ts
  libs/application/templates/inheritance-report/src/types.ts
  libs/clients/syslumenn/src/lib/syslumennClient.service.ts
  libs/clients/syslumenn/src/lib/syslumennClient.types.ts
Due: Application System API
