Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

chore: format update dirty file
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/core/src/lib/formUtils.ts
  libs/application/template-api-modules/src/lib/modules/templates/index.ts
  libs/application/template-api-modules/src/lib/modules/templates/pay-debts/pay-debts.service.ts
  libs/application/template-loader/src/lib/templateLoaders.ts
  libs/application/types/src/lib/ApplicationTypes.ts
  libs/application/types/src/lib/InstitutionMapper.ts
Due: Application System API

fix: invalid build after mege
  libs/api/domains/driving-license/src/lib/services/drivingLicense.service.ts
  libs/clients/driving-license/src/index.ts
  libs/clients/driving-license/src/lib/services/drivingLicenseApi.service.ts
Due: Portal GraphQL

fix(native-app): fix dead navigation state when in reply screen from notification
  apps/native/app/src/app/(auth)/(modals)/notifications/_layout.tsx
  apps/native/app/src/app/(auth)/(modals)/notifications/message/new.tsx
  apps/native/app/src/app/(auth)/(tabs)/health/messages/[id].tsx
Due: none

feat(my-pages): CMS controlled health quick links (#23640)
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/HealthOverview/HealthOverview.tsx
Due: none

fix(island-ui): Report only real modal visibility transitions
  libs/island-ui/core/src/lib/ModalBase/ModalBase.tsx
Due: none

Update CLAUDE.md
  claude-projects/pay-debts/CLAUDE.md
Due: none

Update health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
Due: Portal GraphQL

feat(my-pages): Health treatments pages (#23618)
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/mappers/treatmentMapper.ts
  libs/api/domains/health-directorate/src/lib/models/healthConversationDetail.model.ts
  libs/api/domains/health-directorate/src/lib/models/treatment.model.ts
  libs/api/domains/health-directorate/src/lib/models/treatmentConversationSummary.model.ts
  libs/api/domains/health-directorate/src/lib/models/treatmentDetail.model.ts
  libs/api/domains/health-directorate/src/lib/models/treatmentDocument.model.ts
  libs/api/domains/health-directorate/src/lib/models/treatmentDocumentLink.model.ts
  libs/api/domains/health-directorate/src/lib/resolvers/treatments.resolver.ts
  libs/clients/health-directorate/src/index.ts
  libs/clients/health-directorate/src/lib/clients/health/clientConfig.json
  libs/clients/health-directorate/src/lib/clients/health/health.service.ts
  libs/portals/my-pages/core/src/hooks/useDynamicRoutes/useDynamicRoutes.ts
  libs/portals/my-pages/core/src/lib/messages.ts
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/module.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversationDetail.graphql
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversations.graphql
  libs/portals/my-pages/health/src/screens/HealthConversations/NewHealthConversation.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/components/ConversationTermsModal.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/HealthOverview.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/components/HealthConversationsBox/HealthConversationsBox.tsx
  libs/portals/my-pages/health/src/screens/Treatments/TreatmentEducationalContent.graphql
  libs/portals/my-pages/health/src/screens/Treatments/TreatmentEducationalContent.tsx
  libs/portals/my-pages/health/src/screens/Treatments/TreatmentOverview.graphql
  libs/portals/my-pages/health/src/screens/Treatments/TreatmentOverview.tsx
  libs/portals/my-pages/health/src/screens/Treatments/Treatments.tsx
  libs/portals/my-pages/health/src/screens/Treatments/components/TreatmentLinkCard.tsx
  libs/portals/my-pages/health/src/screens/Treatments/components/TreatmentMessages.tsx
Due: Portal GraphQL

feat(portals-admin): Updating stjórnborð (#23622)
  libs/api/domains/application/src/lib/application-admin/application-adminV2.service.ts
  libs/portals/admin/application-system/src/components/ApplicationsTable/ApplicationsTable.tsx
  libs/portals/admin/application-system/src/components/Filters/Filters.tsx
  libs/portals/admin/application-system/src/components/StatisticsTable/StatisticsTable.tsx
  libs/portals/admin/application-system/src/lib/constants.ts
  libs/portals/admin/application-system/src/lib/messages.ts
  libs/portals/admin/application-system/src/screens/Overview/Overview.tsx
  libs/portals/admin/application-system/src/screens/Overview/useOverviewUrlState.ts
Due: Portal GraphQL

Coderabbit suggestion
  libs/api/domains/communications/README.md
Due: Portal GraphQL

add isactive on verdict and veridctId on defendant event log
  apps/judicial-system/api/src/app/modules/verdict/models/verdict.model.ts
  apps/judicial-system/backend/migrations/20260907120000-add-is-active-to-verdict.js
  apps/judicial-system/backend/migrations/20260907120100-add-verdict-id-to-defendant-event-log.js
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/verdictServiceCertificateDelivery.spec.ts
  apps/judicial-system/backend/src/app/modules/case/verdictServiceCertificateDelivery.ts
  apps/judicial-system/backend/src/app/modules/defendant/defendant.service.ts
  apps/judicial-system/backend/src/app/modules/repository/models/defendantEventLog.model.ts
  apps/judicial-system/backend/src/app/modules/repository/models/verdict.model.ts
  apps/judicial-system/backend/src/app/modules/repository/services/defendantEventLogRepository.service.ts
  apps/judicial-system/backend/src/app/modules/repository/services/verdictRepository.service.ts
  apps/judicial-system/backend/src/app/modules/verdict/getActiveVerdict.ts
  apps/judicial-system/backend/src/app/modules/verdict/guards/verdictExists.guard.ts
  apps/judicial-system/backend/src/app/modules/verdict/test/getActiveVerdict.spec.ts
  apps/judicial-system/backend/src/app/modules/verdict/test/guards/verdictExistsGuard.spec.ts
  apps/judicial-system/backend/src/app/modules/verdict/test/verdictService/addMessagesForCaseVerdictDeliveryToQueue.spec.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.service.ts
Due: none

chore(island-ui): Remove explanatory comment
  libs/island-ui/core/src/lib/ModalBase/ModalBase.tsx
Due: none

fix(j-s): resolve active verdicts consistently across case loads
  apps/judicial-system/backend/src/app/formatters/generatedPdfs/rulingSentToPrisonAdminPdf.ts
  apps/judicial-system/backend/src/app/modules/appeal-case/appealCase.service.ts
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.cellGenerators.ts
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.types.ts
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.utils.ts
  apps/judicial-system/backend/src/app/modules/case/guards/test/indictmentCaseExistsForDefendantGuard.spec.ts
  apps/judicial-system/backend/src/app/modules/case/interceptors/case.interceptor.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/getIndictmentCaseDefendantsWithExpiredAppealDeadline.spec.ts
  apps/judicial-system/backend/src/app/modules/defendant/defendant.service.ts
  apps/judicial-system/backend/src/app/modules/repository/types/caseRepository.types.ts
  apps/judicial-system/backend/src/app/modules/statistics/indictmentCaseEvents.ts
  apps/judicial-system/backend/src/app/modules/statistics/statistics.service.ts
  apps/judicial-system/backend/src/app/modules/verdict/getActiveVerdict.ts
  apps/judicial-system/backend/src/app/modules/verdict/test/getActiveVerdict.spec.ts
Due: none

fixes
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversationDetail.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversations.css.ts
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversations.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/NewHealthConversation.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/components/ReplyBlockedAlert.tsx
  libs/portals/my-pages/health/src/screens/Treatments/TreatmentOverview.tsx
  libs/portals/my-pages/health/src/screens/Treatments/components/TreatmentMessages.tsx
Due: none

add test
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.activeVerdictInclude.spec.ts
Due: none

feat(web): inject form field values into CMS email subject (#23509)
  apps/web/components/Form/Form.tsx
  libs/api/domains/communications/README.md
  libs/api/domains/communications/src/lib/communications.service.ts
  libs/api/domains/communications/src/lib/dto/genericForm.input.ts
  libs/api/domains/communications/src/lib/utils/emailSubject.spec.ts
  libs/api/domains/communications/src/lib/utils/emailSubject.ts
Due: Portal GraphQL

Update HealthConversationsBox.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/components/HealthConversationsBox/HealthConversationsBox.tsx
Due: none

chore: format update dirty file
  apps/judicial-system/backend/src/app/modules/verdict/test/guards/verdictExistsGuard.spec.ts
  apps/judicial-system/backend/src/app/modules/verdict/test/verdictService/addMessagesForCaseVerdictDeliveryToQueue.spec.ts
Due: none

Add hover tooltop to Gjaldgr.
  claude-projects/pay-debts/CLAUDE.md
  libs/application/templates/pay-debts/src/forms/mainForm/debtsSection.spec.ts
  libs/application/templates/pay-debts/src/forms/mainForm/debtsSection.ts
  libs/application/templates/pay-debts/src/lib/messages/debts.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/InteractiveTableField/InteractiveTableFormField.spec.tsx
  libs/application/ui-fields/src/lib/InteractiveTableField/InteractiveTableFormField.tsx
Due: Application System API

fix failing test
  apps/judicial-system/backend/migrations/20260907120100-add-verdict-id-to-defendant-event-log.js
  apps/judicial-system/backend/src/app/modules/case/test/caseController/update.spec.ts
  apps/judicial-system/backend/src/app/modules/verdict/getActiveVerdict.ts
  apps/judicial-system/backend/src/app/modules/verdict/test/getActiveVerdict.spec.ts
Due: none

lint
  apps/judicial-system/backend/src/app/modules/case/interceptors/case.interceptor.ts
  apps/judicial-system/backend/src/app/modules/case/test/getIndictmentCaseDefendantsWithExpiredAppealDeadline.spec.ts
Due: none

feat(my-pages): Updated health appointments UI
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/models/appointmentDetail.model.ts
  libs/portals/my-pages/core/src/components/InfoCard/TimeCard.tsx
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/Appointments/AppointmentDetail.graphql
  libs/portals/my-pages/health/src/screens/Appointments/AppointmentDetail.tsx
  libs/portals/my-pages/health/src/screens/Appointments/AppointmentsOverview.css.ts
  libs/portals/my-pages/health/src/screens/Appointments/AppointmentsOverview.tsx
  libs/portals/my-pages/health/src/screens/Appointments/components/CancelAppointmentNotAllowedModal.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/components/Appointments.tsx
  libs/portals/my-pages/health/src/utils/constants.ts
Due: Portal GraphQL

Update AppointmentsOverview.tsx
  libs/portals/my-pages/health/src/screens/Appointments/AppointmentsOverview.tsx
Due: none

feat: add more links to instructions
  libs/application/templates/directorate-of-equality/equality-report/src/forms/prerequisitesForm/index.ts
  libs/application/templates/directorate-of-equality/equality-report/src/lib/messages.ts
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierGroupPanel.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/forms/prerequisitesForm/index.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
Due: Application System API

chore: format update dirty file
  libs/portals/my-pages/core/src/components/InfoCard/TimeCard.tsx
  libs/portals/my-pages/health/src/lib/messages.ts
Due: none

fix(auth): make delegation batch atomic and audit granted scopes
  apps/services/auth/delegation-api/src/app/delegations/me-delegations.controller.ts
  apps/services/auth/delegation-api/src/app/delegations/test/me-delegations.access-outgoing.spec.ts
  libs/auth-api-lib/src/lib/delegations/delegations-outgoing.service.ts
Due: none

fix(island-ui): Modals never open in local dev under React 19 (#23648)
  libs/island-ui/core/src/lib/ModalBase/ModalBase.tsx
Due: none

Re-generate FJS API from updated spec; show principal, cost and interest columns
  claude-projects/pay-debts/CLAUDE.md
  libs/application/template-api-modules/src/lib/modules/templates/pay-debts/pay-debts.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/pay-debts/pay-debts.service.ts
  libs/application/templates/pay-debts/src/forms/mainForm/debtsSection.spec.ts
  libs/application/templates/pay-debts/src/forms/mainForm/debtsSection.ts
  libs/application/templates/pay-debts/src/utils/types.ts
  libs/clients/finance-v3/src/clientConfig.json
Due: Application System API

feat(my-pages): Health treatment conversations (#23644)
  libs/api/domains/health-directorate/src/lib/dto/createCertificateRequest.input.ts
  libs/api/domains/health-directorate/src/lib/dto/createHealthConversation.input.ts
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/mappers/conversationMapper.ts
  libs/api/domains/health-directorate/src/lib/models/healthConversationRecipient.model.ts
  libs/clients/health-directorate/src/lib/clients/health/clientConfig.json
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversationDetail.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversations.css.ts
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversations.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/NewHealthConversation.graphql
  libs/portals/my-pages/health/src/screens/HealthConversations/NewHealthConversation.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/components/ReplyBlockedAlert.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/components/HealthConversationsBox/HealthConversationsBox.tsx
  libs/portals/my-pages/health/src/screens/Treatments/TreatmentOverview.tsx
  libs/portals/my-pages/health/src/screens/Treatments/components/TreatmentMessages.tsx
Due: Portal GraphQL

Format dates based on updated API spec
  claude-projects/pay-debts/CLAUDE.md
  libs/application/templates/pay-debts/src/forms/mainForm/debtsSection.spec.ts
  libs/application/templates/pay-debts/src/forms/mainForm/debtsSection.ts
  libs/application/templates/pay-debts/src/lib/messages/debts.ts
  libs/application/templates/pay-debts/src/utils/formatDate.spec.ts
  libs/application/templates/pay-debts/src/utils/formatDate.ts
Due: Application System API

chore: format update dirty file
  libs/auth-api-lib/src/lib/delegations/delegations-outgoing.service.ts
Due: none

Uppfæra lokaskjá með réttum text
  libs/application/templates/pay-debts/src/forms/completedForm/index.spec.ts
  libs/application/templates/pay-debts/src/forms/completedForm/index.ts
  libs/application/templates/pay-debts/src/lib/messages/completedForm.ts
Due: Application System API

feat(j-s): Defender appeals an indictment verdict (#23612)
  apps/judicial-system/web/pages/verjandi/akaera/afryjun/[id].ts
  apps/judicial-system/web/src/components/Cards/VerdictTimelineCard/DefenderVerdictTimelineCard.logic.spec.ts
  apps/judicial-system/web/src/components/Cards/VerdictTimelineCard/DefenderVerdictTimelineCard.logic.ts
  apps/judicial-system/web/src/components/Cards/VerdictTimelineCard/DefenderVerdictTimelineCard.tsx
  apps/judicial-system/web/src/components/VerdictAppealFiles/VerdictAppealFiles.logic.spec.ts
  apps/judicial-system/web/src/components/VerdictAppealFiles/VerdictAppealFiles.logic.ts
  apps/judicial-system/web/src/components/VerdictAppealFiles/VerdictAppealFiles.spec.tsx
  apps/judicial-system/web/src/components/VerdictAppealFiles/VerdictAppealFiles.tsx
  apps/judicial-system/web/src/components/index.ts
  apps/judicial-system/web/src/routes/Defender/IndictmentCase/Appeal/VerdictAppeal.spec.tsx
  apps/judicial-system/web/src/routes/Defender/IndictmentCase/Appeal/VerdictAppeal.tsx
  apps/judicial-system/web/src/routes/Defender/IndictmentCase/IndictmentOverview.spec.tsx
  apps/judicial-system/web/src/routes/Defender/IndictmentCase/IndictmentOverview.tsx
  apps/judicial-system/web/src/routes/Defender/IndictmentCase/verdictAppealActions.logic.spec.ts
  apps/judicial-system/web/src/routes/Defender/IndictmentCase/verdictAppealActions.logic.ts
  apps/judicial-system/web/src/utils/hooks/useAppealCase/index.ts
  apps/judicial-system/web/src/utils/hooks/useAppealCase/limitedAccessCreateVerdictAppeal.graphql
  libs/judicial-system/consts/src/lib/consts.ts
Due: none

chore: move 2 screens from prereq to draft
  libs/application/templates/district-commissioners/driving-license/src/dataProviders/index.ts
  libs/application/templates/district-commissioners/driving-license/src/fields/EligibilitySummary/EligibilitySummary.tsx
  libs/application/templates/district-commissioners/driving-license/src/forms/draft/getForm.ts
  libs/application/templates/district-commissioners/driving-license/src/forms/draft/subSectionApplicationFor.ts
  libs/application/templates/district-commissioners/driving-license/src/forms/draft/subSectionRequirements.ts
  libs/application/templates/district-commissioners/driving-license/src/forms/draft/subSectionSummary.ts
  libs/application/templates/district-commissioners/driving-license/src/forms/prerequisites/getForm.ts
Due: Application System API

fix(j-s): Correct verdict service record for S-2595/2026 (#23628)
  apps/judicial-system/backend/migrations/20260904125154-fix-verdict-service-status.js
Due: none

fix(payments): make bank transfer settlement safe under concurrency
  apps/services/payments/src/app/bankTransferPayment/README.md
  apps/services/payments/src/app/bankTransferPayment/bankTransfer.service.spec.ts
  apps/services/payments/src/app/bankTransferPayment/bankTransfer.service.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.service.spec.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.service.ts
Due: none

test(j-s): Fold the case cloning tests into the duplicate controller spec
  apps/judicial-system/backend/src/app/modules/case/test/caseCloning.service.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/duplicate.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/createTestingCaseModule.ts
Due: none
