Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

feat(driving-license): updated api (#16584)
  libs/clients/driving-license/src/v5/clientConfig.json
Due: none

chore(j-s): Show user role in service certificate (#16594)
  apps/judicial-system/backend/src/app/formatters/serviceCertificatePdf.ts
Due: none

fix(j-s): State Machine Corruption (#16595)
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/state/case.state.ts
Due: none

Display court assistant on minar-sidur when the judge is a assistant
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/models/case.response.ts
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/models/utils/translations.strings.ts
Due: none

Add warnings and date fix
  libs/portals/admin/regulations-admin/src/components/EditReviewOverview.tsx
  libs/portals/admin/regulations-admin/src/lib/messages.ts
  libs/portals/admin/regulations-admin/src/utils/index.ts
Due: none

Fix import
  libs/portals/admin/regulations-admin/src/components/EditReviewOverview.tsx
Due: none

Remove old comment
  libs/portals/admin/regulations-admin/src/utils/index.ts
Due: none

feat(driving-license): updated api (#16584) (#16603)
  libs/clients/driving-license/src/v5/clientConfig.json
Due: none

Rename externalId -> externalKey for extraApplicationField Add otherDocuments when creating application (extraApplicationField) Fix when setting chosenProgram Remove unecessary mapping for file types
  apps/services/university-gateway/migrations/20241028110548-change-program-extra-application-field-external-key.js
  apps/services/university-gateway/src/app/modules/application/dto/createApplicationDto.ts
  apps/services/university-gateway/src/app/modules/application/internalApplication.service.ts
  apps/services/university-gateway/src/app/modules/program/internalProgram.service.ts
  apps/services/university-gateway/src/app/modules/program/model/programExtraApplicationField.ts
  apps/web/screens/queries/UniversityGateway.ts
  libs/api/domains/university-gateway/src/lib/graphql/models/program.model.ts
  libs/application/template-api-modules/src/lib/modules/templates/university/university.service.ts
  libs/application/templates/university/src/fields/OtherDocuments/index.tsx
  libs/application/templates/university/src/fields/ProgramSelection/index.tsx
  libs/application/templates/university/src/forms/UniversityForm/FormerEducation/index.ts
  libs/application/templates/university/src/lib/dataSchema.ts
  libs/application/templates/university/src/shared/types.ts
  libs/clients/university-application/reykjavik-university/src/lib/reykjavikUniversityClient.service.ts
  libs/clients/university-application/university-of-iceland/src/lib/universityOfIcelandClient.service.ts
  libs/clients/university-application/university-of-iceland/src/lib/utils/mapUglaApplication.ts
  libs/clients/university-application/university-of-iceland/src/lib/utils/mapUglaPrograms.ts
  libs/university-gateway/src/lib/model/application.ts
  libs/university-gateway/src/lib/model/programExtraApplicationField.ts
Due: Portal GraphQL, Application System API

feat(web): Add logoImageClassName to default header (#16582)
  apps/web/components/DefaultHeader/DefaultHeader.tsx
  apps/web/components/Organization/Wrapper/OrganizationWrapper.css.ts
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
Due: none

Cleanup
  apps/services/university-gateway/migrations/20241024081539-drop-courses.js
Due: none

fix(financial-aid): use bankNumber and ledger (#16600)
  libs/application/template-api-modules/src/lib/modules/templates/financial-aid/financial-aid.service.ts
Due: Application System API

fix(regulations-admin): affected date selection, remove propose from reg user topbar (#16440)
  libs/portals/admin/regulations-admin/src/components/EditMeta.tsx
  libs/portals/admin/regulations-admin/src/components/EditReviewOverview.tsx
  libs/portals/admin/regulations-admin/src/components/SaveDeleteButtons.tsx
  libs/portals/admin/regulations-admin/src/lib/messages.ts
  libs/portals/admin/regulations-admin/src/utils/index.ts
Due: none

feat: more routes
  apps/web/hooks/useLinkResolver/useLinkResolver.ts
  apps/web/pages/styrkjatorg/styrkur/[id].ts
  apps/web/screens/Grants/Grant/Grant.tsx
  apps/web/screens/Grants/SearchResults/SearchResults.tsx
  apps/web/screens/queries/Grants.ts
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/cms.resolver.ts
  libs/cms/src/lib/dto/getSingleGrant.input.ts
Due: none

on delete
  apps/application-system/api/src/app/modules/application/application.controller.ts
  libs/application/core/src/lib/ApplicationTemplateHelper.ts
  libs/application/types/src/lib/StateMachine.ts
  libs/application/ui-components/src/components/ApplicationList/ApplicationList.tsx
  libs/application/ui-components/src/hooks/useDeleteApplication.ts
Due: Application System API

fix: handle 429
  libs/api/domains/vehicles/src/lib/services/bulkMileage.service.ts
  libs/service-portal/assets/src/screens/VehicleBulkMileageUpload/VehicleBulkMileageUpload.tsx
Due: Portal GraphQL

fix if block
  apps/application-system/api/src/app/modules/application/application.controller.ts
Due: Application System API

feature flag added, mobile styling fixed in overview, data schema minor update
  libs/application/templates/aosh/work-accident-notification/src/fields/Components/ReviewGroup.tsx
  libs/application/templates/aosh/work-accident-notification/src/fields/DeleteEmployee/index.tsx
  libs/application/templates/aosh/work-accident-notification/src/fields/Overview/EmployeeAccordionItem.tsx
  libs/application/templates/aosh/work-accident-notification/src/fields/Overview/index.tsx
  libs/application/templates/aosh/work-accident-notification/src/forms/WorkAccidentNotificationForm/EmployeeSection/employee.ts
  libs/application/templates/aosh/work-accident-notification/src/lib/WorkAccidentNotificationTemplate.ts
  libs/application/templates/aosh/work-accident-notification/src/lib/dataSchema.ts
  libs/application/templates/aosh/work-accident-notification/src/lib/messages/overview.ts
  libs/feature-flags/src/lib/features.ts
Due: Application System API

Add OtherFees flow.
  libs/application/templates/rental-agreement/src/forms/rentalPeriod/rentalPeriodOtherFees.ts
  libs/application/templates/rental-agreement/src/lib/constants.ts
  libs/application/templates/rental-agreement/src/lib/messages/rentalInfo/otherFees.ts
  libs/application/templates/rental-agreement/src/lib/messages/rentalPeriod/rentalPeriodDetails.ts
  libs/application/templates/rental-agreement/src/lib/utils.ts
Due: Application System API

grantnamespaces
  apps/api/infra/api.ts
  apps/services/bff/infra/admin-portal.infra.ts
Due: Portal GraphQL

chore: charts update dirty files
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

merge conflict
  libs/application/template-api-modules/src/lib/modules/templates/index.ts
Due: Application System API

grantnamespace identity server
  apps/services/bff/infra/my-pages-portal.infra.ts
Due: none

Only update/delete delegation index of the types that are being indexed.
  apps/services/auth/delegation-api/src/app/delegations/test/delegation-index/delegation-index-test-cases.ts
  apps/services/auth/delegation-api/src/app/delegations/test/delegation-index/delegation-index.service.spec.ts
  libs/auth-api-lib/src/lib/delegations/delegations-index.service.ts
Due: none

fix
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/ChildrenSupportingDocuments/ChildrenOtherDocumentsSubSection.ts
Due: Application System API

fix: logger
  libs/api/domains/documents/src/lib/documentV2.resolver.ts
  libs/api/domains/documents/src/lib/models/v2/document.input.ts
  libs/service-portal/documents/src/components/DocumentLine/DocumentLineV3.tsx
Due: Portal GraphQL

fix
  libs/application/templates/id-card/src/lib/IdCardTemplate.ts
Due: Application System API

fixing config module after recent main changes
  libs/application/template-api-modules/src/lib/modules/templates/aosh/work-accident-notification/work-accident-notification.module.ts
Due: Application System API

chaning comments from dr.g
  apps/financial-aid/backend/src/app/formatters/createPdf.ts
  apps/financial-aid/backend/src/app/modules/openApiApplications/openApiApplication.controller.ts
  apps/financial-aid/backend/src/app/modules/openApiApplications/openApiApplication.service.ts
Due: none

Never fail
  .envrc
Due: none

rename service and small type fix
  libs/clients/identity/src/lib/identityClient.service.ts
Due: none

Exit early if no AWS_PROFILE
  .envrc.kube
Due: none

undoing changes to file.service.ts in judicial backend
  apps/judicial-system/backend/src/app/modules/file/file.service.ts
Due: none

fix(citizenship): condition for children support documents (#16607)
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/ChildrenSupportingDocuments/ChildrenOtherDocumentsSubSection.ts
Due: Application System API

poststod
  libs/service-portal/information/src/helpers/formatting.ts
Due: none
