Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

check for both types on search
  apps/web/components/SearchInput/SearchInput.tsx
  libs/cms/src/index.ts
Due: none

fix content types
  libs/cms/src/lib/generated/contentfulTypes.d.ts
Due: none

fix(service-portal): User settings adds encoding to returnUrl (#12914)
  libs/service-portal/information/src/components/PersonalInformation/Forms/ProfileForm/ProfileForm.tsx
Due: none

fix(service-portal): Update default provider for intro header (#12900)
  libs/service-portal/core/src/components/IntroHeader/IntroHeader.tsx
  libs/service-portal/education/src/screens/EducationGraduationDetail/EducationGraduationDetail.tsx
Due: none

add fail-safes
  libs/cms/src/lib/cms.contentful.service.ts
Due: none

Dont default set hasValidParents=NO
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/Parents/index.tsx
Due: Application System API

Validate legal domicile Iceland
  libs/application/templates/directorate-of-immigration/citizenship/src/dataProviders/index.ts
Due: Application System API

chore: nx format:write update dirty files
  apps/web/components/SearchInput/SearchInput.tsx
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/models/anchorPage.model.ts
  libs/cms/src/lib/models/anchorPageListSlice.model.ts
Due: none

fix: check if isInsured is false for determining insurance status
  libs/service-portal/health/src/screens/HealthOverview/HealthOverview.tsx
Due: none

fix: missing tooltips
  libs/service-portal/health/src/screens/HealthOverview/HealthOverview.tsx
  libs/service-portal/health/src/screens/Medicine/wrapper/MedicineWrapper.tsx
  libs/service-portal/health/src/screens/Payments/wrapper/PaymentsWrapper.tsx
Due: none

fix: remove extra spacing
  libs/service-portal/health/src/screens/HealthOverview/HealthOverview.tsx
Due: none

fix(j-s): Defender login when previously a prosecutor
  apps/judicial-system/api/src/app/modules/auth/auth.controller.ts
Due: none

testing more
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/attachments/applicationAttachment.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/citizenship.service.ts
Due: Application System API

fix(j-s): moved one line
  apps/judicial-system/api/src/app/modules/auth/auth.controller.ts
Due: none

feat: generate client
  libs/clients/intellectual-properties/.eslintrc.json
  libs/clients/intellectual-properties/README.md
  libs/clients/intellectual-properties/jest.config.ts
  libs/clients/intellectual-properties/project.json
  libs/clients/intellectual-properties/src/index.ts
  libs/clients/intellectual-properties/src/lib/clients-intellectual-properties.module.ts
  libs/clients/intellectual-properties/tsconfig.json
  libs/clients/intellectual-properties/tsconfig.lib.json
  libs/clients/intellectual-properties/tsconfig.spec.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: none

chore: codeowners
  .github/CODEOWNERS
Due: none

feat: update project json
  libs/clients/intellectual-properties/project.json
Due: none

Add files
  apps/api/src/app/app.module.ts
  apps/web/components/connected/AdministrationOfOccupationalSafetyAndHealthCourses/AdministrationOfOccupationalSafetyAndHealthCourses.tsx
  apps/web/components/connected/AdministrationOfOccupationalSafetyAndHealthCourses/index.ts
  apps/web/components/connected/AdministrationOfOccupationalSafetyAndHealthCourses/queries.ts
  apps/web/components/connected/AdministrationOfOccupationalSafetyAndHealthCourses/utils.ts
  apps/web/components/connected/index.ts
  apps/web/utils/richText.tsx
  libs/api/domains/administration-of-occupational-safety-and-health/.eslintrc.json
  libs/api/domains/administration-of-occupational-safety-and-health/README.md
  libs/api/domains/administration-of-occupational-safety-and-health/jest.config.ts
  libs/api/domains/administration-of-occupational-safety-and-health/project.json
  libs/api/domains/administration-of-occupational-safety-and-health/src/index.ts
  libs/api/domains/administration-of-occupational-safety-and-health/src/lib/administration-of-occupational-safety-and-health.module.ts
  libs/api/domains/administration-of-occupational-safety-and-health/src/lib/administration-of-occupational-safety-and-health.resolver.ts
  libs/api/domains/administration-of-occupational-safety-and-health/src/lib/models/course.model.ts
  libs/api/domains/administration-of-occupational-safety-and-health/tsconfig.json
  libs/api/domains/administration-of-occupational-safety-and-health/tsconfig.lib.json
  libs/api/domains/administration-of-occupational-safety-and-health/tsconfig.spec.json
  libs/clients/administration-of-occupational-safety-and-health/.eslintrc.json
  libs/clients/administration-of-occupational-safety-and-health/README.md
  libs/clients/administration-of-occupational-safety-and-health/jest.config.ts
  libs/clients/administration-of-occupational-safety-and-health/project.json
  libs/clients/administration-of-occupational-safety-and-health/src/clientConfig.json
  libs/clients/administration-of-occupational-safety-and-health/src/index.ts
  libs/clients/administration-of-occupational-safety-and-health/src/lib/administration-of-occupational-safety-and-health.module.ts
  libs/clients/administration-of-occupational-safety-and-health/src/lib/administration-of-occupational-safety-and-health.service.ts
  libs/clients/administration-of-occupational-safety-and-health/src/lib/api.provider.ts
  libs/clients/administration-of-occupational-safety-and-health/tsconfig.json
  libs/clients/administration-of-occupational-safety-and-health/tsconfig.lib.json
  libs/clients/administration-of-occupational-safety-and-health/tsconfig.spec.json
  tsconfig.base.json
Due: Portal GraphQL

chore: add infra
  apps/api/infra/api.ts
Due: Portal GraphQL

chore: charts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

feat: finish client setup
  apps/api/src/app/app.module.ts
  libs/clients/intellectual-properties/project.json
  libs/clients/intellectual-properties/src/clientConfig.json
  libs/clients/intellectual-properties/src/index.ts
  libs/clients/intellectual-properties/src/lib/api.config.ts
  libs/clients/intellectual-properties/src/lib/clients-intellectual-properties.module.ts
  libs/clients/intellectual-properties/src/lib/intellectualPropertiesClient.config.ts
  libs/clients/intellectual-properties/src/lib/intellectualPropertiesClient.module.ts
  libs/clients/intellectual-properties/src/lib/intellectualPropertiesClient.service.ts
  libs/clients/intellectual-properties/src/lib/providers.ts
Due: Portal GraphQL

chore: organization
  libs/clients/intellectual-properties/src/lib/api.config.ts
  libs/shared/constants/src/lib/organizationSlug.ts
Due: none

fix(j-s): Defender login when previously a prosecutor (#12917)
  apps/judicial-system/api/src/app/modules/auth/auth.controller.ts
Due: none

fix: codeowners indentation
  .github/CODEOWNERS
Due: none

fix: base
  tsconfig.base.json
Due: none

chore: nx format:write update dirty files
  libs/clients/administration-of-occupational-safety-and-health/src/clientConfig.json
Due: none

feat(estate): add extra share field to real estate (#12891)
  libs/application/templates/estate/src/fields/AssetsRepeater/index.tsx
  libs/application/templates/estate/src/fields/RealEstateRepeater/AdditionalRealEstate.tsx
  libs/application/templates/estate/src/fields/RealEstateRepeater/index.tsx
  libs/application/templates/estate/src/forms/OverviewSections/assetsAndDebts.ts
  libs/application/templates/estate/src/lib/dataSchema.ts
  libs/application/templates/estate/src/lib/messages.ts
  libs/application/templates/estate/src/lib/utils.ts
Due: Application System API

fix: codeowners input fail
  .github/CODEOWNERS
Due: none

Fix build error
  apps/system-e2e/src/tests/islandis/application-system/acceptance/car-recycling.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.ts
  libs/clients/recycling-fund/src/lib/recyclingFundFetchProvider.ts
Due: Application System API

Fix date format
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/Review/ApplicantReview.tsx
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/Review/ChildrenPassportReview.tsx
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/Review/MaritalStatusReview.tsx
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/Review/PassportReview.tsx
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/SelectedChildrenExtra/SelectedRepeaterItem.tsx
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/StaysAbroad/StaysAbroadRepeaterItem.tsx
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/InformationSection/MaritalStatusSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/PersonalSection/UserInformationSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/dataSchema.ts
Due: Application System API

Fix error in Review step if removed staysAbroad/countriesOfResidence
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/Review/ResidencyReview.tsx
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/Review/StaysAbroadReview.tsx
Due: Application System API

chore: nx format:write update dirty files
  tsconfig.base.json
Due: none

Fix label birthCertificate attachment
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/messages/supportingDocuments.ts
Due: Application System API

Fix label marital status
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/InformationSection/MaritalStatusSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/messages/information.ts
Due: Application System API

feat: generate api domain
  libs/api/domains/intellectual-properties/.eslintrc.json
  libs/api/domains/intellectual-properties/README.md
  libs/api/domains/intellectual-properties/jest.config.ts
  libs/api/domains/intellectual-properties/project.json
  libs/api/domains/intellectual-properties/src/index.ts
  libs/api/domains/intellectual-properties/tsconfig.json
  libs/api/domains/intellectual-properties/tsconfig.lib.json
  libs/api/domains/intellectual-properties/tsconfig.spec.json
  tsconfig.base.json
Due: Portal GraphQL

[TS-286] get email, phonenumber and bankaccount from TR (#12913)
  libs/application/templates/social-insurance-administration/household-supplement/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/fields/Review/review-groups/BaseInformation.tsx
  libs/application/templates/social-insurance-administration/household-supplement/src/forms/HouseholdSupplementForm.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/HouseholdSupplementTemplate.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/messages.ts
Due: Application System API

testing more
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/attachments/applicationAttachment.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/attachments/applicationAttachmentProvider.ts
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/attachments/s3.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/citizenship.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/citizenship.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/config/index.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/SupportingDocumentsSection/OtherDocumentsSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/SupportingDocumentsSection/PassportSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/dataSchema.ts
Due: Application System API

Cleanup
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/InformationSection/MaritalStatusSubSection.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
