Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

feat: add email box on subscriptions and api domain update for get email (#10691)
  apps/consultation-portal/components/Card/SubscriptionActionCard.css.ts
  apps/consultation-portal/components/Card/SubscriptionActionCard.tsx
  apps/consultation-portal/components/EmailBox/EmailBox.tsx
  apps/consultation-portal/screens/Subscriptions/Subscriptions.tsx
  apps/consultation-portal/screens/Subscriptions/queries.graphql.ts
  libs/api/domains/consultation-portal/src/lib/api-domains-consultation-portal.module.ts
  libs/api/domains/consultation-portal/src/lib/models/userEmailResult.model.ts
  libs/api/domains/consultation-portal/src/lib/user/userEmail.resolver.ts
  libs/api/domains/consultation-portal/src/lib/user/userEmail.services.ts
Due: Portal GraphQL

fix(island-ui): Input disabled state (#10699)
  libs/island-ui/core/src/lib/Input/Input.css.ts
  libs/island-ui/core/src/lib/Input/Input.stories.tsx
  libs/island-ui/core/src/lib/Input/Input.tsx
Due: none

Add null to releaseDate type
  libs/content-search-indexer/types/src/index.ts
Due: none

first commit
  README.md
Due: none

feat(j-s): Add handle message test for appeal
  apps/judicial-system/message-handler/src/app/test/handleMessage.spec.ts
Due: none

feat(license-service): improve error logging (#10681)
  libs/api/domains/license-service/src/lib/client/adr-license-client/genericAdrLicense.service.ts
  libs/api/domains/license-service/src/lib/client/disability-license-client/genericDisabilityLicense.service.ts
  libs/api/domains/license-service/src/lib/client/firearm-license-client/genericFirearmLicense.service.ts
  libs/api/domains/license-service/src/lib/client/machine-license-client/genericMachineLicense.service.ts
  libs/api/domains/license-service/src/lib/licenseService.service.ts
Due: Portal GraphQL

fix: missing in workspace
  workspace.json
Due: none

Change conditional statement
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/models/article.model.ts
  libs/cms/src/lib/models/subArticle.model.ts
Due: none

feat(driving-license-book): Update getMostRecentStudentBook to filter out cancelled books (#10667)
  libs/clients/driving-license-book/src/lib/drivingLicenseBookClient.service.ts
Due: none

Add article to nested content type list
  libs/cms/src/lib/environments/environment.ts
Due: none

add required option to companysearch
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-components/src/components/CompanySearchController/CompanySearchController.tsx
  libs/application/ui-fields/src/lib/CompanySearchFormField/CompanySearchFormField.tsx
  libs/island-ui/core/src/lib/AsyncSearch/AsyncSearch.css.ts
  libs/island-ui/core/src/lib/AsyncSearch/AsyncSearch.tsx
  libs/island-ui/core/src/lib/AsyncSearch/shared/Input/Input.css.ts
  libs/island-ui/core/src/lib/AsyncSearch/shared/Input/Input.tsx
  libs/island-ui/core/src/lib/AsyncSearch/shared/Label/Label.css.ts
  libs/island-ui/core/src/lib/AsyncSearch/shared/Label/Label.tsx
Due: Application System API

fix: accident
  workspace.json
Due: none

Add pr comments
  apps/services/auth/admin-api/src/app/v2/clients/test/me-clients.spec.ts
  libs/api/domains/auth-admin/src/lib/auth-admin.module.ts
  libs/api/domains/auth-admin/src/lib/client/clients.resolver.ts
  libs/api/domains/auth-admin/src/lib/client/clients.service.ts
  libs/api/domains/auth-admin/src/lib/client/dto/clients.input.ts
  libs/api/domains/auth-admin/src/lib/shared/services/multi-environment.service.ts
  libs/api/domains/auth-admin/src/lib/tenant/tenants.service.spec.ts
  libs/api/domains/auth-admin/src/lib/tenant/tenants.service.ts
  libs/auth-api-lib/jest.config.js
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
  libs/auth-api-lib/src/lib/translation/translation.service.spec.ts
  libs/auth-api-lib/src/lib/translation/translation.service.ts
  libs/auth-api-lib/src/lib/types.ts
  libs/portals/admin/ids-admin/src/components/Client/Client.loader.ts
  libs/portals/admin/ids-admin/src/components/Clients/Clients.graphql
  libs/portals/admin/ids-admin/src/components/Clients/Clients.loader.ts
  libs/services/auth/testing/src/fixtures/client.fixture.ts
  libs/services/auth/testing/src/fixtures/fixture-factory.ts
Due: Portal GraphQL

Copy 00_prepare-base-tags usage from other flow
  .github/workflows/nightly.yml
Due: none

Fix typo
  .github/workflows/nightly.yml
Due: none

Fix rhf errors
  libs/application/templates/driving-learners-permit/src/fields/FindStudent/FindStudent.tsx
Due: Application System API

Add env variables
  apps/contentful-apps/components/MideindTranslationSidebar/api/index.tsx
  apps/contentful-apps/infra/contentful-apps.ts
  apps/contentful-apps/next.config.js
  apps/contentful-apps/pages/fields/subarticle-url-field.tsx
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/models/subArticle.model.ts
Due: none

Update gql
  libs/api/domains/university-of-iceland/src/lib/dto/universityOfIcelandStudentInfo.input.ts
  libs/api/domains/university-of-iceland/src/lib/models/universityOfIcelandStudentInfo.model.ts
  libs/service-portal/education/src/screens/EducationGraduation/EducationGraduation.tsx
  libs/service-portal/education/src/screens/EducationGraduationDetail/EducationGraduationDetail.tsx
Due: Portal GraphQL

fix(consultation-portal): KAM-1053 blow out function shows only if more than a line (#10701)
  apps/consultation-portal/components/ReviewCard/ReviewCard.tsx
Due: none

fix(web): Fix browser back functionality for category page (#10698)
  apps/web/screens/Category/Category/Category.tsx
Due: none

feat(web): Add heilsuvera chat to HVE organization pages (#10684)
  apps/web/components/Organization/Wrapper/config.ts
Due: none

fix(atr): Changing the name of the application and slug (#10703)
  libs/application/templates/alcohol-tax-redemption/src/lib/messages/application.ts
  libs/application/templates/alcohol-tax-redemption/src/lib/messages/prerequisites.ts
  libs/application/types/src/lib/ApplicationTypes.ts
Due: Application System API

added sync button to sync between env
  libs/portals/admin/ids-admin/src/components/Client/Client.tsx
  libs/portals/admin/ids-admin/src/components/Client/ClientsUrl.tsx
  libs/portals/admin/ids-admin/src/components/Client/Delegations.tsx
  libs/portals/admin/ids-admin/src/components/Client/Lifetime.tsx
  libs/portals/admin/ids-admin/src/components/Client/Translations.tsx
  libs/portals/admin/ids-admin/src/shared/components/ContentCard.css.ts
  libs/portals/admin/ids-admin/src/shared/components/ContentCard.tsx
Due: none

Fix case files upload
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/PoliceCaseFilesRoute.tsx
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
Due: none

fix(transport authority order vehicle license plate): Allow user to pay for one or two plates (#10588)
  libs/application/api/payment/src/lib/payment.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/order-vehicle-license-plate/order-vehicle-license-plate.service.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/Payment/PaymentChargeOverview.tsx
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/forms/ChangeCoOwnerOfVehicleForm/index.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/utils/getChargeItemCodes.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/Payment/PaymentChargeOverview.tsx
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/forms/ChangeOperatorOfVehicleForm/index.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/utils/getChargeItemCodes.ts
  libs/application/templates/transport-authority/digital-tachograph-drivers-card/src/fields/Payment/PaymentChargeOverview.tsx
  libs/application/templates/transport-authority/digital-tachograph-drivers-card/src/utils/index.ts
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/fields/Payment/PaymentChargeOverview.tsx
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/fields/PickPlateSize.tsx
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/forms/OrderVehicleLicensePlateForm/paymentSection.ts
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/lib/dataSchema.ts
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/lib/messages/payment.ts
  libs/application/templates/transport-authority/order-vehicle-license-plate/src/utils/index.ts
  libs/application/templates/transport-authority/order-vehicle-registration-certificate/src/fields/Payment/PaymentChargeOverview.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/Payment/PaymentChargeOverview.tsx
Due: Application System API

Remove logger
  libs/api/domains/application/src/lib/application-admin/application-admin.resolvers.ts
Due: Portal GraphQL

fix(application-estate): Entry data provider (#10694)
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
  libs/application/templates/estate/src/dataProviders/EstateNoticeProvider.ts
  libs/application/templates/estate/src/dataProviders/index.ts
  libs/application/templates/estate/src/forms/sharedSections/dataCollection.ts
  libs/application/templates/estate/src/lib/EstateTemplate.ts
Due: Application System API

fixed hardcodded strings
  libs/portals/admin/ids-admin/src/lib/messages.ts
  libs/portals/admin/ids-admin/src/shared/components/ContentCard.tsx
Due: none

Ensure we use cluster slot prefix.
  apps/services/sessions/src/app/sessions/sessions.module.ts
Due: none

Larger tooltip option
  libs/island-ui/core/src/lib/Tooltip/Tooltip.css.ts
  libs/island-ui/core/src/lib/Tooltip/Tooltip.tsx
  libs/service-portal/core/src/components/UserInfoLine/UserInfoLine.tsx
Due: none

feat(j-s): Combined transitions for case state and case appeal state
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/state/case.state.spec.ts
  apps/judicial-system/backend/src/app/modules/case/state/case.state.ts
  apps/judicial-system/backend/src/app/modules/case/state/caseAppeal.state.spec.ts
  apps/judicial-system/backend/src/app/modules/case/state/caseAppeal.state.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/transition.spec.ts
Due: none

changing the name of the application
  libs/application/templates/alcohol-tax-redemption/src/lib/messages/application.ts
  libs/application/templates/alcohol-tax-redemption/src/lib/messages/prerequisites.ts
  libs/application/types/src/lib/ApplicationTypes.ts
Due: Application System API

feat(application-system): ApplicationCard (#10621)
  libs/application/ui-components/src/components/ApplicationCard/ApplicationCard.css.ts
  libs/application/ui-components/src/components/ApplicationCard/ApplicationCard.stories.tsx
  libs/application/ui-components/src/components/ApplicationCard/ApplicationCard.tsx
  libs/application/ui-components/src/components/ApplicationCard/components/ApplicationCardDelete.tsx
  libs/application/ui-components/src/components/ApplicationCard/components/ApplicationCardHistory.tsx
  libs/application/ui-components/src/components/ApplicationCard/components/ApplicationCardProgress.tsx
  libs/application/ui-components/src/components/ApplicationCard/components/ApplicationCardTag.tsx
  libs/application/ui-components/src/components/ApplicationCard/types/index.ts
  libs/application/ui-components/src/components/ApplicationCard/utils/defaultData.ts
  libs/application/ui-components/src/components/ApplicationCard/utils/history.tsx
  libs/application/ui-components/src/components/ApplicationList/ApplicationList.tsx
  libs/application/ui-components/src/hooks/useDeleteApplication.ts
  libs/application/ui-components/src/hooks/useOpenApplication.ts
  libs/application/ui-components/src/index.ts
  libs/island-ui/core/src/index.ts
  libs/island-ui/core/src/lib/ActionCard/ActionCard.css.ts
  libs/island-ui/core/src/lib/ActionCard/ActionCard.stories.tsx
  libs/island-ui/core/src/lib/ActionCard/ActionCard.tsx
  libs/island-ui/core/src/lib/FormStepper/HistoryStepper.tsx
  libs/island-ui/core/src/lib/FormStepper/SectionNumber/SectionNumber.tsx
  libs/island-ui/storybook/config/main.js
  libs/service-portal/applications/src/components/ApplicationGroup.tsx
Due: none

fix(atr): slug and name changes (#10709)
  libs/application/templates/alcohol-tax-redemption/src/lib/messages/application.ts
  libs/application/templates/alcohol-tax-redemption/src/lib/messages/prerequisites.ts
  libs/application/types/src/lib/ApplicationTypes.ts
Due: Application System API

Remove background color from shared Input styles. Only use Box background-color.
  libs/island-ui/core/src/lib/Input/Input.mixins.ts
Due: none

fix(island-ui): Background-color specificity. (#10710)
  libs/island-ui/core/src/lib/Input/Input.mixins.ts
Due: none

useDynamicShadow clean-up
  libs/portals/shared-modules/delegations/src/components/access/AccessConfirmModal.tsx
  libs/portals/shared-modules/delegations/src/components/access/AccessDeleteModal/AccessDeleteModal.tsx
  libs/portals/shared-modules/delegations/src/components/access/AccessForm/AccessForm.tsx
  libs/portals/shared-modules/delegations/src/hooks/useDynamicShadow.tsx
Due: none

Debug styles and wider criteria to count as in-view.
  libs/portals/shared-modules/delegations/src/components/access/AccessForm/AccessForm.tsx
  libs/portals/shared-modules/delegations/src/hooks/useDynamicShadow.tsx
Due: none

fix(sessions): Ensure we use cluster slot prefix. (#10707)
  apps/services/sessions/src/app/sessions/sessions.module.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
