Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Add name for collect step in meta workflow
  .github/workflows/pullrequest-meta.yml
Due: none

national id return res
  libs/api/domains/official-journal-of-iceland-application/src/models/getUserInvolvedParties.response.ts
Due: Portal GraphQL

fix(j-s): user dependency
  apps/judicial-system/web/src/routes/Shared/CaseTableGroups/CaseTableGroups.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/Cases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/CreateCaseButton.tsx
Due: none

Return type
  libs/api/domains/official-journal-of-iceland-application/src/models/getUserInvolvedParties.response.ts
Due: Portal GraphQL

ci: Add name for collect step in meta workflow (#19268)
  .github/workflows/pullrequest-meta.yml
Due: none

Checkpoint
  apps/judicial-system/web/messages/RestrictionCases/Court/confirmation.ts
  apps/system-e2e/src/tests/judicial-system/regression/custody-tests.spec.ts
  apps/system-e2e/src/tests/judicial-system/regression/shared-steps/amend.ts
Due: none

fix(ojoi): national id return res (#19269)
  libs/api/domains/official-journal-of-iceland-application/src/models/getUserInvolvedParties.response.ts
Due: Portal GraphQL

Map answers to DTO to submit application - move to freightPairing for short-term as well - translate regions enums
  apps/application-system/api/src/app/app.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/exemption-for-transportation/exemption-for-transportation.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/exemption-for-transportation/exemption-for-transportation.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/exemption-for-transportation/types.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/exemption-for-transportation/utils.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/axleSpacingSection/index.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/convoySection/convoyShortTerm.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/freightSection/freightCommonHiddenInputs.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/freightSection/freightLongTermPairing.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/freightSection/freightShortTermCreate.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/locationSection/index.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/index.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/dataSchema.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/location.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/shared/enums.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/constants/index.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/helperFunctions/getFreightItem.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/helperFunctions/getOverviewItems.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/types/index.ts
  libs/application/ui-fields/src/lib/OverviewFormField/OverviewFormField.tsx
  libs/clients/transport-authority/exemption-for-transportation/src/index.ts
  libs/clients/transport-authority/exemption-for-transportation/src/lib/exemptionForTransportationClient.service.ts
Due: Application System API

Fix after review
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/healthProtectionSubSection.ts
  libs/application/templates/new-primary-school/src/lib/messages.ts
Due: Application System API

fix(island-ui): Stop waiting for client mount until icon appears (#19244)
  libs/island-ui/core/src/lib/IconRC/Icon.tsx
Due: none

fix: update translations and improve document communications screen
  apps/native/app/src/messages/en.ts
  apps/native/app/src/messages/is.ts
  apps/native/app/src/screens/document-detail/components/document-list-item.tsx
  apps/native/app/src/screens/document-detail/components/floating-bottom-footer.tsx
  apps/native/app/src/screens/document-detail/document-communications.tsx
  apps/native/app/src/screens/home/inbox-module.tsx
  apps/native/app/src/screens/inbox/inbox.tsx
  apps/native/app/src/screens/register-email/register-email.tsx
  apps/native/app/src/ui/lib/card/inbox-card.tsx
  apps/native/app/src/ui/lib/top-line/top-line.tsx
Due: none

Fix after review Allow some lists to use value instead of ids
  libs/application/templates/new-primary-school/src/fields/FriggOptionsAsyncSelectField/index.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/HealthProtection.tsx
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/healthProtectionSubSection.ts
  libs/application/templates/new-primary-school/src/hooks/useFriggOptions.ts
Due: Application System API

fix(j-s): set deeplinks to the current env instead of pros as default
  apps/judicial-system/backend/src/app/messages/notifications.ts
  apps/judicial-system/backend/src/app/modules/case/case.config.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/notification/baseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/institutionNotification/institutionNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/institutionNotification/institutionNotification.strings.ts
Due: none

Minor refactor
  apps/web/components/connected/Landspitali/MemorialCard.tsx
Due: none

Updates unit tests
  apps/judicial-system/backend/src/app/modules/user/test/getAllGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/getAllRolesRules.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/getByIdGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/getByIdRolesRules.spec.ts
Due: none

feat: integrate 2-way mailbox feature flag in document detail and inbox screens
  apps/native/app/src/screens/document-detail/document-detail.tsx
  apps/native/app/src/screens/inbox/inbox.tsx
Due: none

fix: adjust scrolling offset in DocumentCommunicationsScreen for improved user experience
  apps/native/app/src/screens/document-detail/document-communications.tsx
Due: none

fix: improve loading state handling in DocumentCommunicationsScreen
  apps/native/app/src/screens/document-detail/document-communications.tsx
Due: none

feat: refactor admin component structure and permissions handling; remove unused components and enhance context management
  libs/portals/admin/form-system/src/components/Admin/Admin.tsx
  libs/portals/admin/form-system/src/components/Admin/AdminHeader.tsx
  libs/portals/admin/form-system/src/components/Admin/Permission.tsx
  libs/portals/admin/form-system/src/components/Admin/PermissionsList.tsx
  libs/portals/admin/form-system/src/components/Admin/components/Permission.tsx
  libs/portals/admin/form-system/src/components/Forms/Forms.tsx
  libs/portals/admin/form-system/src/components/FormsLayout/FormsLayout.tsx
  libs/portals/admin/form-system/src/components/FormsLayout/components/FormsHeader.tsx
  libs/portals/admin/form-system/src/components/TableRow/TableRow.tsx
  libs/portals/admin/form-system/src/components/TableRow/TableRowHeader.tsx
  libs/portals/admin/form-system/src/context/FormsContext.ts
  libs/portals/admin/form-system/src/context/FormsProvider.tsx
  libs/portals/form-system/graphql/src/types/types.ts
Due: none

var
  .github/workflows/merge-queue.yml
  .github/workflows/push.yml
Due: none

chore(ci): `runs-on` caching and envs (#19211)
  .github/actions/load-deps/action.yml
  .github/actions/setup-yarn/action.yml
  .github/workflows/config-values.yaml
  .github/workflows/dedupe.yml
  .github/workflows/docker.yml
  .github/workflows/feature-close.yml
  .github/workflows/install.yml
  .github/workflows/merge-queue.yml
  .github/workflows/pre-checks.yml
  .github/workflows/pullrequest-close.yml
  .github/workflows/pullrequest-meta.yml
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
  scripts/ci/generate-files.mjs
Due: none

fix(ojoi): national id return res - hotfix (#19272)
  libs/api/domains/official-journal-of-iceland-application/src/models/getUserInvolvedParties.response.ts
Due: Portal GraphQL

Hover effects on search button
  apps/judicial-system/web/src/components/Header/Header.css.ts
  apps/judicial-system/web/src/components/Header/Header.tsx
Due: none

chore: update Podfile.lock with dependency version changes
  apps/native/app/ios/Podfile.lock
Due: none

Refactor code
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.whereOptions.ts
Due: none

feat(web): Add landspitali memorial card connected component (#19234)
  apps/web/components/connected/Landspitali/MemorialCard.tsx
  apps/web/components/connected/Landspitali/index.ts
  apps/web/components/connected/Landspitali/translation.strings.ts
  apps/web/utils/richText.tsx
Due: none

Add api for consumer index.
  libs/application/template-api-modules/src/lib/modules/templates/rental-agreement/rental-agreement.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/rental-agreement/utils/utils.ts
  libs/application/templates/rental-agreement/src/forms/prerequisites/externalData.ts
  libs/application/templates/rental-agreement/src/lib/RentalAgreementTemplate.ts
Due: Application System API

fix: enhance scrolling behavior and layout adjustments in DocumentCommunicationsScreen
  apps/native/app/src/screens/document-detail/components/document-list-item.tsx
  apps/native/app/src/screens/document-detail/document-communications.tsx
  apps/native/app/src/screens/document-detail/document-detail.tsx
Due: none

fix(j-s): routes and other PR feedback
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.whereOptions.ts
  apps/judicial-system/web/src/routes/Shared/CaseTableGroups/CaseTableGroups.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/Cases.tsx
  apps/judicial-system/web/src/routes/Shared/CreateCaseButton/CreateCaseButton.tsx
  libs/judicial-system/types/src/lib/tables/caseTable.ts
  libs/judicial-system/types/src/lib/tables/caseTableGroup.ts
  libs/judicial-system/types/src/lib/tables/caseTableTypes.ts
  libs/judicial-system/types/src/lib/tables/tableGroups/prosecutorTableGroups.ts
Due: none

TS-1054 - Added gender and nationality to sendapplication - updated description - moved tooltip
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.utils.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/childrenNGuardiansSection/childInfoSubSection.ts
  libs/application/templates/new-primary-school/src/lib/messages.ts
  libs/application/templates/new-primary-school/src/lib/newPrimarySchoolUtils.ts
Due: Application System API

stuffs / refactor
  libs/api/domains/signature-collection/src/lib/signatureCollection.service.ts
  libs/api/domains/signature-collection/src/lib/signatureCollectionAdmin.service.ts
  libs/clients/signature-collection/src/lib/signature-collection-admin.service.ts
  libs/clients/signature-collection/src/lib/signature-collection-shared.service.ts
  libs/clients/signature-collection/src/lib/signature-collection.service.ts
  libs/portals/my-pages/signature-collection/src/hooks/graphql/mutations.ts
  libs/portals/my-pages/signature-collection/src/hooks/graphql/queries.ts
  libs/portals/my-pages/signature-collection/src/hooks/index.ts
  libs/portals/my-pages/signature-collection/src/lib/paths.ts
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/ViewList/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Municipal/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Parliamentary/OwnerView/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Parliamentary/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Presidential/OwnerView/CancelCollection/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Presidential/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Intro/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Managers/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/SignedList/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/SigneeView/index.tsx
Due: Portal GraphQL

Remove not used import
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/healthProtectionSubSection.ts
Due: Application System API

fix: display vehicles WIP
  libs/portals/my-pages/assets/src/screens/VehicleDetail/VehicleDetail.tsx
  libs/portals/my-pages/assets/src/screens/VehicleMileage/VehicleMileage.tsx
Due: none

fix(j-s): tests
  apps/judicial-system/backend/src/app/modules/notification/services/institutionNotification/institutionNotification.strings.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealCompletedNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealWithdrawnNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendCourtDateNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendIndictmentsWaitingForConfirmationNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendRevokedNotifications.spec.ts
Due: none

Adds todo
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.service.ts
Due: none

Refactor email handling in user profile migration and service.
  apps/services/user-profile/migrations/20250331150630-move-email-data-from-user_profile.js
  apps/services/user-profile/src/app/v2/test/actor-user-profile.controller.spec.ts
  apps/services/user-profile/src/app/v2/user-profile.service.ts
Due: none

feat(signature-collection-admin-api): Add municipal open endpoint
  libs/clients/signature-collection/src/clientConfig.json
  libs/clients/signature-collection/src/lib/signature-collection-admin.service.ts
  libs/clients/signature-collection/src/lib/types/success.dto.ts
Due: none
