Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

feat(web): Revert - Add landspitali memorial card connected component (#19234)" (#19311)
  apps/web/components/connected/Landspitali/MemorialCard.tsx
  apps/web/components/connected/Landspitali/index.ts
  apps/web/components/connected/Landspitali/translation.strings.ts
  apps/web/utils/richText.tsx
Due: none

fix(j-s): Renaming verdict appeal decision dto
  apps/judicial-system/backend/src/app/modules/defendant/dto/updateVerdictAppeal.dto.ts
  apps/judicial-system/backend/src/app/modules/defendant/internalDefendant.controller.ts
Due: none

Move conditions in freightLongTermPairing into utils
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/freightSection/freightLongTermPairing.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/helperFunctions/getConvoyItem.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/helperFunctions/getFreightItem.ts
Due: Application System API

fix(rental-agreement): Invalid summary should have disabled submit button
  libs/application/templates/rental-agreement/src/fields/Summary/SummaryEdit.tsx
Due: Application System API

Flatten 4 leveled-IF
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/dataSchema.ts
Due: Application System API

Fix formatKennitala and formatPhoneNumber
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/helperFunctions/format.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/helperFunctions/getOverviewItems.ts
Due: Application System API

Move mapApplicationToDto into utils
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/exemption-for-transportation/exemption-for-transportation.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/exemption-for-transportation/utils.ts
  libs/clients/transport-authority/exemption-for-transportation/src/index.ts
Due: Application System API

Removed Review after merge conflict
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/index.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/Attachments.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/BaseInformation.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/Comment.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/EmployeeSickPay.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/IncomePlan.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/Payment.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/Questions.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/RehabilitationPlan.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/SelfAssessmentQuestionnaire.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/SelfAssessmentQuestionsOne.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/SelfAssessmentQuestionsThree.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/UnionSickPay.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/props.ts
Due: Application System API

fix: handle special sveito
  libs/clients/signature-collection/src/lib/signature-collection-shared.service.ts
Due: none

fix. height problems
  libs/portals/my-pages/core/src/components/InfoCard/InfoCard.css.ts
  libs/portals/my-pages/core/src/components/InfoCard/InfoCard.tsx
  libs/portals/my-pages/core/src/components/InfoCard/InfoCardGrid.tsx
  libs/portals/my-pages/health/src/lib/messages.ts
Due: none

fix: lint v3
  libs/portals/my-pages/documents/src/components/OverviewDisplay/DesktopOverview.tsx
  libs/portals/my-pages/documents/src/components/OverviewDisplay/MobileOverview.tsx
Due: none

Fixes after merge conflict
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/SelfAssessmentQuestionnaire/index.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/Prerequisites/externalDataSubSection.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/Prerequisites/index.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/constants.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/utils/getOverviewItems.ts
Due: Application System API

fix(ojoi): Add supporting and attachment documents handling (#19325)
  apps/web/components/OfficialJournalOfIceland/OJOIAdvertDisplay.tsx
  apps/web/components/OfficialJournalOfIceland/OJOIAppendix.tsx
  apps/web/screens/OfficialJournalOfIceland/OJOIAdvert.tsx
  apps/web/screens/queries/OfficialJournalOfIceland.ts
  libs/api/domains/official-journal-of-iceland-application/src/lib/mappers.ts
  libs/api/domains/official-journal-of-iceland/src/lib/models/advert.input.ts
  libs/api/domains/official-journal-of-iceland/src/lib/models/advert.model.ts
  libs/application/templates/official-journal-of-iceland/src/components/additions/Additions.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/SupportingDoc.tsx
  libs/application/templates/official-journal-of-iceland/src/forms/Draft.ts
  libs/application/templates/official-journal-of-iceland/src/lib/constants.ts
  libs/application/templates/official-journal-of-iceland/src/lib/messages/attachments.ts
  libs/application/templates/official-journal-of-iceland/src/lib/utils.ts
  libs/application/templates/official-journal-of-iceland/src/screens/SupportingDocScreen.tsx
  libs/application/templates/official-journal-of-iceland/src/screens/index.ts
  libs/clients/official-journal-of-iceland/application/src/clientConfig.json
  libs/clients/official-journal-of-iceland/public/src/clientConfig.json
Due: Portal GraphQL, Application System API

Add addDays function
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/helperFunctions/getMinMaxDate.ts
Due: Application System API

Add email and phone validation
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/dataSchema.ts
Due: Application System API

Fixes after merge conflict
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/medicalAndRehabilitationPaymentsUtils.ts
Due: Application System API

prevent 'undefined, undefined'
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/exemption-for-transportation/utils.ts
Due: Application System API

Fixed typo after coderabbit review
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/RehabilitationPlan/index.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/messages.ts
Due: Application System API

fix(rental-agreement): Validate Summary (#19330)
  libs/application/templates/rental-agreement/src/fields/Summary/SummaryEdit.tsx
Due: Application System API

Make sure you dont do Array(-1)
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/exemption-for-transportation/utils.ts
Due: Application System API

fix(signature-collection): handle special sveito (#19331)
  libs/clients/signature-collection/src/lib/signature-collection-shared.service.ts
Due: none

fix(j-s): add missing field (#19322)
  apps/system-e2e/src/tests/judicial-system/regression/indictment-tests.spec.ts
Due: none

fix(rental-agreement): Validation for property unit selected, no searchresult or no unit selected
  libs/application/templates/rental-agreement/src/fields/PropertySearch/index.tsx
  libs/application/templates/rental-agreement/src/lib/schemas/propertySearchSchema.ts
Due: Application System API

fix: include collectionType in getList
  libs/application/template-api-modules/src/lib/modules/templates/signature-collection/municipal-list-signing/municipal-list-signing.service.ts
Due: Application System API

fix(rental-agreement): Merge and move errors outside selectedAddress condition
  libs/application/templates/rental-agreement/src/fields/PropertySearch/index.tsx
Due: Application System API

fix: include collectionType in getList (#19333)
  libs/application/template-api-modules/src/lib/modules/templates/signature-collection/municipal-list-signing/municipal-list-signing.service.ts
Due: Application System API

refactor: view and type
  libs/portals/my-pages/core/src/components/InfoCard/InfoCard.tsx
  libs/portals/my-pages/core/src/components/InfoCard/InfoCardGrid.tsx
  libs/portals/my-pages/core/src/components/InfoCard/LoaderCard.tsx
  libs/portals/my-pages/core/src/components/InfoCard/TimeCard.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/HealthOverview.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/components/Appointments.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/components/BasicInformation.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/components/PaymentsAndMedicine.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/components/PaymentsAndRights.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/components/Pregnancy.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/components/Treatments.tsx
  libs/portals/my-pages/health/src/screens/Payments/wrapper/PaymentsWrapper.tsx
  libs/portals/my-pages/health/src/utils/types.ts
Due: none

fix for application
  infra/src/dsl/output-generators/map-to-helm-values.ts
Due: none

Test
  apps/contentful-apps/components/sitemap/SitemapNode.css.ts
  apps/contentful-apps/components/sitemap/SitemapNode.tsx
  apps/contentful-apps/components/sitemap/SitemapTreeField.tsx
  apps/contentful-apps/components/sitemap/utils.ts
Due: none

chore: charts update dirty files
  charts/islandis-services/form-system-web/values.dev.yaml
  charts/islandis/values.dev.yaml
Due: none

chore: lintfix update dirty files
  apps/contentful-apps/components/sitemap/SitemapNode.tsx
  apps/contentful-apps/components/sitemap/SitemapTreeField.tsx
Due: none

Remove unused import
  apps/judicial-system/web/src/components/Inputs/InputNationalId.tsx
Due: none

Remove unused actions
  .github/actions/cache/action.yml
  .github/actions/get-cache/action.yml
Due: none

fix: display errors for admin + provide name in input
  libs/api/domains/signature-collection/src/lib/dto/singatureList.input.ts
  libs/api/domains/signature-collection/src/lib/models/slug.model.ts
  libs/clients/signature-collection/src/lib/signature-collection-admin.service.ts
  libs/clients/signature-collection/src/lib/signature-collection.types.ts
  libs/portals/admin/signature-collection/src/lib/messages.ts
  libs/portals/admin/signature-collection/src/shared-components/createCollection/createCollection.graphql
  libs/portals/admin/signature-collection/src/shared-components/createCollection/index.tsx
Due: Portal GraphQL

Move depencency to dev dependencies
  package.json
Due: none

fix(signature-collection): tweak for presidential create
  libs/application/templates/signature-collection/presidential-list-creation/src/forms/sections/information.ts
  libs/application/templates/signature-collection/presidential-list-creation/src/forms/sections/overview.ts
  libs/portals/my-pages/signature-collection/src/screens/Parliamentary/OwnerView/index.tsx
Due: Application System API

dummy change for testing
  apps/form-system/web/src/components/ApplicationsLoading/ApplicationLoading.tsx
Due: none
