Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Fix notting on live cache
  .github/workflows/docker.yml
Due: none

Fix build-cache options
  .github/workflows/docker.yml
Due: none

Do codegen if it's a PR with label
  .github/workflows/docker.yml
Due: none

Revert "Set env and use for checking if it's a labeled PR run"
  .github/workflows/docker.yml
Due: none

Move optional codegen to build job
  .github/workflows/docker.yml
Due: none

Move majorOnly to argument
  scripts/ci/get-node-version.mjs
Due: none

Use NODE_IMAGE_VERSION
  .github/workflows/docker.yml
Due: none

Move assignment to own line to "inherit" early exit
  .github/workflows/docker.yml
Due: none

Set node-image-version statically
  .github/workflows/docker.yml
Due: none

Move node image versioning to using script
  .github/workflows/docker.yml
Due: none

Comment on using buildkit image
  .github/workflows/docker.yml
Due: none

Use script for node version in 10_prepare-docker-deps.sh
  scripts/ci/10_prepare-docker-deps.sh
Due: none

fix(secondary school): Allow user to change application (instead of delete + new) (#17688)
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/secondary-school/src/fields/handleBeforeSubmit/handleBeforeSubmitInEdit.tsx
  libs/application/templates/secondary-school/src/fields/handleBeforeSubmit/handleBeforeSubmitInSubmitted.tsx
  libs/application/templates/secondary-school/src/fields/handleBeforeSubmit/index.ts
  libs/application/templates/secondary-school/src/fields/index.ts
  libs/application/templates/secondary-school/src/fields/overview/ApplicantOverview.tsx
  libs/application/templates/secondary-school/src/fields/overview/CustodianOverview.tsx
  libs/application/templates/secondary-school/src/fields/overview/ExtraInformationOverview.tsx
  libs/application/templates/secondary-school/src/fields/overview/SchoolSelectionOverview.tsx
  libs/application/templates/secondary-school/src/forms/editForm.ts
  libs/application/templates/secondary-school/src/forms/submittedForm.ts
  libs/application/templates/secondary-school/src/lib/SecondarySchoolTemplate.ts
  libs/application/templates/secondary-school/src/lib/messages/application.ts
  libs/application/templates/secondary-school/src/lib/messages/conclusion.ts
  libs/application/templates/secondary-school/src/lib/messages/overview.ts
  libs/application/templates/secondary-school/src/utils/checkIsEditable.ts
  libs/application/templates/secondary-school/src/utils/enums/index.ts
  libs/application/templates/secondary-school/src/utils/index.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/types/src/lib/Form.ts
  libs/application/types/src/lib/StateMachine.ts
  libs/application/ui-shell/src/components/Screen.tsx
  libs/application/ui-shell/src/components/ScreenFooter.tsx
  libs/clients/secondary-school/src/lib/secondarySchoolClient.service.ts
Due: Application System API

format
  libs/application/templates/marriage-conditions/src/lib/MarriageConditionsTemplate.ts
Due: Application System API

Skip validate phone and email
  libs/application/templates/secondary-school/src/dataProviders/index.ts
Due: Application System API

fix: Cancelled job should not prevent reruns
  .github/workflows/pullrequest.yml
Due: none

Re-add get-node-version
  scripts/ci/get-node-version.mjs
Due: none

Re-add script to caches
  scripts/ci/cache/__config.mjs
Due: none

Change static versions to scripted
  .github/workflows/docker.yml
  .github/workflows/push.yml
  scripts/ci/10_prepare-docker-deps.sh
Due: none

Remove alpine image tag fetching
  scripts/ci/get-node-version.mjs
Due: none

Only use major version (via config object)
  scripts/ci/get-node-version.mjs
Due: none

Revert "revert: "chore(CI): Refactor Dockerfile" (#17764)"
  scripts/ci/Dockerfile
Due: none

Validate email and phone if not actor
  libs/application/template-api-modules/src/lib/modules/shared/api/user-profile/user-profile.service.ts
  libs/application/templates/secondary-school/src/dataProviders/index.ts
  libs/application/types/src/lib/template-api/shared-api/shared-api-definitions/user-profile-api.ts
Due: Application System API

fix: Cancelled job should not prevent reruns (#17767)
  .github/workflows/pullrequest.yml
Due: none

more sso
  libs/api/domains/auth-admin/src/lib/client/clients.service.ts
  libs/api/domains/auth-admin/src/lib/client/dto/create-client.input.ts
  libs/api/domains/auth-admin/src/lib/models/client-type.enum.ts
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
  libs/auth-api-lib/src/lib/clients/admin/dto/admin-create-client.dto.ts
  libs/clients/auth/admin-api/src/index.ts
Due: Portal GraphQL

Revert "chore: nx format:write update dirty files"
  apps/contentful-apps/components/LocalhostWarning.tsx
  apps/contentful-apps/pages/fields/article-related-articles-field.tsx
  apps/contentful-apps/pages/fields/embed-link-field.tsx
  apps/contentful-apps/pages/fields/time-duration-field.tsx
  apps/contentful-apps/pages/fields/vacancy-contacts-field.tsx
  apps/skilavottord/web/screens/Overview/components/ActionCard/ActionCard.tsx
  libs/application/templates/financial-aid/src/fields/TaxReturnFilesForm/taxFormContent.tsx
  libs/infra-express-server/src/lib/infra-express-server.ts
  libs/island-ui/core/src/lib/DatePicker/DatePicker.stories.tsx
  libs/portals/admin/ids-admin/src/hooks/useDynamicShadow.tsx
  libs/portals/admin/ids-admin/src/screens/Client/EditClient.tsx
  libs/portals/shared-modules/delegations/src/hooks/useDynamicShadow.tsx
Due: Application System API

Remove eslint disable
  libs/infra-express-server/src/lib/infra-express-server.ts
Due: none

fix(my-pages-finance): Update dynamic finance module - hotfix (#17751)
  libs/portals/my-pages/finance/src/components/DocumentScreen/DocumentScreen.tsx
  libs/portals/my-pages/finance/src/module.tsx
  libs/portals/my-pages/finance/src/screens/FinanceRoot.tsx
  libs/portals/my-pages/finance/src/screens/FinanceRoutes.loader.ts
  libs/portals/my-pages/finance/src/screens/FinanceSchedule/FinanceSchedule.tsx
  libs/portals/my-pages/finance/src/screens/FinanceStatus/FinanceStatus.tsx
  libs/portals/my-pages/finance/src/screens/FinanceTransactions/FinanceTransactions.tsx
  libs/portals/my-pages/finance/src/utils/financeSwapHook.ts
Due: none

feat(j-s): Indictment cancellation information on prosecutor overview (#17714)
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.strings.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
Due: none

chore: nx format:write update dirty files
  infra/src/uber-charts/islandis.ts
Due: none

TS-970 language page - remove custom component
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/languageSubSection.ts
  libs/application/templates/new-primary-school/src/lib/newPrimarySchoolUtils.ts
Due: Application System API

fix(j-s): Request cases for district court assistants
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/filters/case.filter.ts
  apps/judicial-system/backend/src/app/modules/case/filters/cases.filter.ts
  apps/judicial-system/backend/src/app/modules/case/filters/test/districtCourtUserFilter.spec.ts
  apps/judicial-system/web/src/routes/Court/components/ReceptionAndAssignment/SelectCourtOfficials/SelectCourtOfficials.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/useFilter.tsx
Due: none

fix(core): Handle `SIGTERM` for graceful shutdowns (#16882)
  libs/infra-express-server/src/lib/infra-express-server.ts
  libs/infra-nest-server/src/lib/bootstrap.ts
  libs/infra-next-server/src/lib/bootstrap.ts
  libs/node/utils/.eslintrc.json
  libs/node/utils/README.md
  libs/node/utils/jest.config.ts
  libs/node/utils/project.json
  libs/node/utils/src/index.ts
  libs/node/utils/src/lib/setupShutdownHooks.spec.ts
  libs/node/utils/src/lib/setupShutdownHooks.ts
  libs/node/utils/tsconfig.json
  libs/node/utils/tsconfig.lib.json
  libs/node/utils/tsconfig.spec.json
  tsconfig.base.json
Due: none

ci: build with docker in PR
  .github/workflows/push.yml
  scripts/ci/Dockerfile
Due: none

fix(secondary school): Skip validate phone and email if not actor (#17769)
  libs/application/template-api-modules/src/lib/modules/shared/api/user-profile/user-profile.service.ts
  libs/application/templates/secondary-school/src/dataProviders/index.ts
  libs/application/types/src/lib/template-api/shared-api/shared-api-definitions/user-profile-api.ts
Due: Application System API

fix: cancelled
  .github/workflows/pullrequest.yml
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
