Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Cleanup
  apps/services/user-profile/src/main.ts
Due: none

chore: start of overview refactor
  libs/application/templates/rental-agreement/src/fields/Summary/SummaryEdit.tsx
  libs/application/templates/rental-agreement/src/forms/draft/rentalHousingSubsections/rentalHousingFireProtections.ts
  libs/application/templates/rental-agreement/src/forms/draft/summaryDraftSection.ts
  libs/application/templates/rental-agreement/src/lib/dataSchema.ts
  libs/application/templates/rental-agreement/src/lib/messages/housing/housingFireProtections.ts
  libs/application/templates/rental-agreement/src/lib/messages/summary.ts
  libs/application/templates/rental-agreement/src/lib/schemas/fireProtectionsSchema.ts
  libs/application/templates/rental-agreement/src/utils/conditions.ts
  libs/application/templates/rental-agreement/src/utils/overviewUtils.ts
  libs/application/templates/rental-agreement/src/utils/types.ts
  libs/application/types/src/lib/Fields.ts
Due: Application System API

Cleanup
  apps/judicial-system/web/src/components/Header/Header.tsx
Due: none

Cleanup
  apps/judicial-system/web/src/components/Modals/SearchModal/SearchModal.tsx
Due: none

fix(application-system): Terminate rental agreement: translate termination reasons (#19850)
  libs/application/template-api-modules/src/lib/modules/templates/hms/terminate-rental-agreement/utils.ts
  libs/application/templates/hms/terminate-rental-agreement/src/lib/messages/unboundTerminationMessage.ts
  libs/application/templates/hms/terminate-rental-agreement/src/utils/options.ts
Due: Application System API

add union name to union obj and dash to bankInfo
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration-utils.ts
  libs/application/templates/social-insurance-administration/core/src/lib/socialInsuranceAdministrationUtils.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/generalInformationSection/unionSickPaySubSection.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/utils/medicalAndRehabilitationPaymentsUtils.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/utils/overviewItems.ts
Due: Application System API

feat(application-system): Add the rental cancellation warning (#19831)
  libs/application/templates/hms/terminate-rental-agreement/src/forms/mainForm/cancelWarningSection.ts
  libs/application/templates/hms/terminate-rental-agreement/src/forms/mainForm/index.ts
  libs/application/templates/hms/terminate-rental-agreement/src/lib/messages/cancelationMessages.ts
Due: Application System API

fix(j-s): update imports
  apps/judicial-system/backend/src/app/modules/statistics/caseEvents.ts
Due: none

update leftover unionNationalId refs
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/generalInformationSection/unionSickPaySubSection.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.type.ts
Due: Application System API

Semantic html
  apps/judicial-system/web/src/components/Modals/SearchModal/SearchModal.css.ts
  apps/judicial-system/web/src/components/Modals/SearchModal/SearchModal.tsx
Due: none

storing subject and actor in db table for application state changes
  apps/application-system/api/migrations/20250827135543-add-subject-to-state-history.js
  apps/application-system/api/src/app/modules/application/application-action.service.ts
  apps/application-system/api/src/app/modules/application/application.controller.ts
  libs/application/api/history/src/lib/history.model.ts
  libs/application/api/history/src/lib/history.service.ts
Due: Application System API

Remove mocked data
  apps/services/payments/src/app/paymentFlow/paymentFlow.service.ts
  apps/web/components/connected/landspitali/Grants/Grants.tsx
  apps/web/components/connected/landspitali/MemorialCards/MemorialCards.tsx
  libs/clients/charge-fjs-v2/src/lib/chargeFjsV2Client.service.ts
Due: none

Semantic html
  apps/judicial-system/web/src/components/Modals/SearchModal/SearchModal.tsx
Due: none

feat: add new dates
  apps/web/screens/Organization/OrganizationEvents/OrganizationEventArticle.tsx
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/event.model.ts
Due: none

Fix after review
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/healthProtectionSubSection.ts
Due: Application System API

feat(j-s): export raw data for statistical analysis (#19746)
  apps/judicial-system/api/src/app/modules/backend/backend.service.ts
  apps/judicial-system/api/src/app/modules/statistics/statistics.resolver.ts
  apps/judicial-system/backend/src/app/modules/aws-s3/awsS3.service.ts
  apps/judicial-system/backend/src/app/modules/statistics/caseEvents.ts
  apps/judicial-system/backend/src/app/modules/statistics/models/event.model.ts
  apps/judicial-system/backend/src/app/modules/statistics/statistics.controller.ts
  apps/judicial-system/backend/src/app/modules/statistics/statistics.module.ts
  apps/judicial-system/backend/src/app/modules/statistics/statistics.service.ts
  apps/judicial-system/backend/src/app/modules/statistics/statistics/exportData.response.ts
  apps/judicial-system/web/src/routes/Admin/Statistics/new/RequestStatistics.tsx
  apps/judicial-system/web/src/routes/Admin/Statistics/preprocessedDataUrl.graphql
Due: none

update union interface
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.type.ts
Due: none

chore: format update dirty file
  apps/web/screens/Organization/OrganizationEvents/OrganizationEventArticle.tsx
  libs/cms/src/lib/models/event.model.ts
Due: none

chore: address coderabbit comments
  libs/application/templates/rental-agreement/src/fields/PropertySearch/index.tsx
  libs/application/templates/rental-agreement/src/fields/Summary/ApplicantsRepresentativesSummary.tsx
  libs/application/templates/rental-agreement/src/lib/dataSchema.ts
  libs/application/templates/rental-agreement/src/lib/messages/housing/landlordAndTenantDetails.ts
  libs/application/templates/rental-agreement/src/lib/schemas/landlordAndTenantSchema.ts
  libs/application/templates/rental-agreement/src/lib/schemas/rentalAmountSchema.ts
  libs/application/templates/rental-agreement/src/utils/rentalPeriodUtils.ts
Due: Application System API

chore: format update dirty file
  libs/portals/admin/signature-collection/src/shared-components/lockList/lockList.graphql
Due: none

Revert "chore: address coderabbit comments"
  libs/application/templates/rental-agreement/src/fields/PropertySearch/index.tsx
  libs/application/templates/rental-agreement/src/fields/Summary/ApplicantsRepresentativesSummary.tsx
  libs/application/templates/rental-agreement/src/lib/dataSchema.ts
  libs/application/templates/rental-agreement/src/lib/messages/housing/landlordAndTenantDetails.ts
  libs/application/templates/rental-agreement/src/lib/schemas/landlordAndTenantSchema.ts
  libs/application/templates/rental-agreement/src/lib/schemas/rentalAmountSchema.ts
  libs/application/templates/rental-agreement/src/utils/rentalPeriodUtils.ts
Due: Application System API

remove unused imports
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/utils/overviewItems.ts
Due: Application System API

Update apps/judicial-system/web/src/components/Modals/SearchModal/SearchModal.tsx
  apps/judicial-system/web/src/components/Modals/SearchModal/SearchModal.tsx
Due: none

remove types
  apps/application-system/api/src/app/modules/application/e2e/application.spec.ts
  libs/application/template-api-modules/src/lib/modules/shared/shared.config.ts
  libs/application/template-api-modules/src/lib/modules/shared/shared.utils.spec.ts
  tsconfig.base.json
Due: Application System API

feat(j-s): Search iteration (#19907)
  apps/judicial-system/web/src/components/Header/Header.tsx
  apps/judicial-system/web/src/components/Modals/SearchModal/SearchModal.css.ts
  apps/judicial-system/web/src/components/Modals/SearchModal/SearchModal.tsx
Due: none

fix(rental-agreements): misc fixes from hms comments (#19877)
  libs/application/template-api-modules/src/lib/modules/templates/rental-agreement/rental-agreement-email.ts
  libs/application/template-api-modules/src/lib/modules/templates/rental-agreement/utils/mapRentalApplicationData.ts
  libs/application/templates/rental-agreement/src/fields/PropertySearch/components/PropertyTableUnits.tsx
  libs/application/templates/rental-agreement/src/fields/PropertySearch/index.tsx
  libs/application/templates/rental-agreement/src/fields/Summary/ApplicantsRepresentativesSummary.tsx
  libs/application/templates/rental-agreement/src/fields/Summary/ApplicantsSummary.tsx
  libs/application/templates/rental-agreement/src/fields/Summary/PropertyInfoSummary.tsx
  libs/application/templates/rental-agreement/src/fields/Summary/SummaryEdit.tsx
  libs/application/templates/rental-agreement/src/fields/Summary/SummaryNoEdit.tsx
  libs/application/templates/rental-agreement/src/forms/draft/rentalHousingSection.ts
  libs/application/templates/rental-agreement/src/forms/draft/rentalHousingSubsections/rentalHousingFireProtections.ts
  libs/application/templates/rental-agreement/src/forms/draft/rentalHousingSubsections/rentalHousingLandlordInfo.ts
  libs/application/templates/rental-agreement/src/forms/draft/rentalHousingSubsections/rentalHousingPartiesInfo.ts
  libs/application/templates/rental-agreement/src/forms/draft/rentalHousingSubsections/rentalHousingTenantInfo.ts
  libs/application/templates/rental-agreement/src/forms/draft/rentalPeriodSubsections/rentalPeriodDetails.ts
  libs/application/templates/rental-agreement/src/lib/dataSchema.ts
  libs/application/templates/rental-agreement/src/lib/messages/dataSchema.ts
  libs/application/templates/rental-agreement/src/lib/messages/housing/housingFireProtections.ts
  libs/application/templates/rental-agreement/src/lib/messages/housing/landlordAndTenantDetails.ts
  libs/application/templates/rental-agreement/src/lib/messages/index.ts
  libs/application/templates/rental-agreement/src/lib/messages/misc.ts
  libs/application/templates/rental-agreement/src/lib/messages/rentalInfo/otherFees.ts
  libs/application/templates/rental-agreement/src/lib/messages/rentalInfo/rentalPeriod.ts
  libs/application/templates/rental-agreement/src/lib/schemas/landlordAndTenantSchema.ts
  libs/application/templates/rental-agreement/src/lib/schemas/otherFeesSchema.ts
  libs/application/templates/rental-agreement/src/lib/schemas/propertySearchSchema.ts
  libs/application/templates/rental-agreement/src/lib/schemas/rentalAmountSchema.ts
  libs/application/templates/rental-agreement/src/lib/schemas/securityDepositSchema.ts
  libs/application/templates/rental-agreement/src/shared/types.ts
  libs/application/templates/rental-agreement/src/shared/utils.ts
  libs/application/templates/rental-agreement/src/utils/enums.ts
  libs/application/templates/rental-agreement/src/utils/rentalPeriodUtils.ts
  libs/application/templates/rental-agreement/src/utils/utils.ts
Due: Application System API

Fix type errors
  apps/web/components/connected/landspitali/Grants/Grants.tsx
  apps/web/components/connected/landspitali/MemorialCards/MemorialCards.tsx
Due: none

Fix controller method call for createEmailVerification. Fix typo in user profile api domain readme.
  libs/api/domains/user-profile/README.md
  libs/api/domains/user-profile/src/lib/userProfile.service.ts
Due: Portal GraphQL

Stringify req.body
  apps/web/pages/api/payments/event-callback.ts
Due: none

fix formatting of bank info
  libs/portals/my-pages/information/src/utils/bankInfoHelper.ts
Due: none

fix: validation for smoke detectors and fire extingushers
  libs/application/templates/rental-agreement/src/forms/draft/rentalHousingSubsections/rentalHousingFireProtections.ts
  libs/application/templates/rental-agreement/src/lib/schemas/fireProtectionsSchema.ts
  libs/application/templates/rental-agreement/src/utils/conditions.ts
Due: Application System API

chore: remove console.logs
  libs/application/templates/rental-agreement/src/forms/draft/rentalHousingSubsections/rentalHousingFireProtections.ts
  libs/application/templates/rental-agreement/src/utils/conditions.ts
Due: Application System API

remove spaces
  libs/clients/fjs/bank-info/src/lib/bankinfo.utils.ts
Due: none

Fix api client in user profile gql service.
  libs/api/domains/user-profile/src/lib/userProfile.service.ts
Due: Portal GraphQL

Change the date in the unit test
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.spec.ts
Due: Application System API

fix(j-s): temp
  apps/judicial-system/backend/src/app/modules/police/police.service.ts
  apps/judicial-system/backend/src/app/modules/verdict/internalVerdict.controller.ts
  apps/judicial-system/xrd-api/src/app/app.service.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/verdict.ts
Due: none

fix(j-s): temp: @
  apps/judicial-system/backend/src/app/modules/police/police.service.ts
Due: none

feat(applicants): refactor applicant handling and add name/address dispatch actions
  apps/form-system/web/src/components/Footer/Footer.tsx
  apps/form-system/web/src/components/Screen/Screen.tsx
  apps/form-system/web/src/components/Screen/components/Applicants/Applicants.tsx
  apps/form-system/web/src/reducers/fieldReducer.ts
  libs/portals/admin/form-system/src/components/MainContent/components/FieldContent/components/BaseInput.tsx
  libs/portals/form-system/ui-components/src/components/RelevantParties/individualApplicant.tsx
Due: none

Fix build error
  libs/clients/payments/src/index.ts
Due: none
