Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

fix(licenses): license overview rever (#16585)
  libs/service-portal/licenses/src/screens/v2/LicensesOverview/LicensesOverview.tsx
Due: none

[TS-793] Update e2e tests
  .github/CODEOWNERS
  apps/system-e2e/src/support/wire-mocks.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/mocks/parentalLeave.mock.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/parental-leave.spec.ts
  libs/application/ui-components/src/components/Slider/Slider.tsx
Due: none

chore(docker): Ignores and Ownership (#16587)
  .dockerignore
  .github/CODEOWNERS
Due: none

replacing some weird imports
  libs/application/template-api-modules/src/lib/modules/shared/services/attachment-s3.service.ts
Due: Application System API

feat(signature-collection): Allow candidacy to update signature page number (#16581) (#16588)
  libs/api/domains/signature-collection/src/lib/signatureCollection.resolver.ts
  libs/api/domains/signature-collection/src/lib/signatureCollection.service.ts
  libs/clients/signature-collection/src/lib/signature-collection-admin.service.ts
  libs/clients/signature-collection/src/lib/signature-collection.service.ts
  libs/portals/admin/signature-collection/src/lib/messages.ts
  libs/service-portal/signature-collection/src/hooks/graphql/mutations.ts
  libs/service-portal/signature-collection/src/lib/messages.ts
  libs/service-portal/signature-collection/src/screens/Parliamentary/OwnerView/ViewList/Signees/EditPage/index.tsx
  libs/service-portal/signature-collection/src/screens/Parliamentary/OwnerView/ViewList/Signees/index.tsx
Due: Portal GraphQL

update api graphql bff config env var
  infra/src/dsl/bff.ts
Due: none

fix tests
  infra/src/dsl/feature-values.spec.ts
Due: none

fix(native-app): fix normal document loading (#16589)
  apps/native/app/src/screens/document-detail/document-detail.tsx
Due: none

chore: bump app version to 1.4.6
  apps/native/app/android/app/build.gradle
  apps/native/app/ios/IslandApp/Info.plist
Due: none

fix tests
  infra/src/dsl/portal-env.spec.ts
Due: none

chore: charts update dirty files
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

chore: nx format:write update dirty files
  infra/src/dsl/portal-env.spec.ts
Due: none

fix(j-s): Investigation Case Deletion (#16570)
  apps/judicial-system/web/src/routes/Shared/Cases/Cases.tsx
Due: none

Add role to service certificate
  apps/judicial-system/backend/src/app/formatters/serviceCertificatePdf.ts
Due: none

feat: changes to individual election to handle procure
  libs/api/domains/financial-statements-inao/src/lib/financialStatementsInao.resolver.ts
  libs/api/domains/financial-statements-inao/src/lib/financialStatementsInao.service.ts
  libs/application/templates/inao/financial-statement-individual-election/src/fields/ElectionInfoFields/index.tsx
  libs/application/templates/inao/financial-statement-individual-election/src/forms/applicationForm/clientInfoSection/cilentInfoProcure.ts
  libs/application/templates/inao/financial-statement-individual-election/src/forms/applicationForm/index.ts
  libs/application/templates/inao/financial-statement-individual-election/src/lib/financial-statement-individual-election.ts
  libs/application/templates/inao/financial-statement-individual-election/src/lib/utils/isProcure.ts
  libs/application/templates/inao/financial-statement-individual-election/src/lib/utils/messages.ts
  libs/clients/financial-statements-inao/src/lib/financialStatementsInaoClient.service.ts
Due: Portal GraphQL, Application System API

fix(j-s): Remove required criminal record upload in indictments (#16563)
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/utils/validate.ts
Due: none

Remove console.log
  apps/judicial-system/backend/src/app/formatters/serviceCertificatePdf.ts
Due: none

chore(j-s): Update advocate confirmed strings (#16573)
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/Advocates.strings.ts
Due: none

Fixes accitental state machine mutations
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/state/case.state.ts
Due: none

chore(native-app): bump app version to 1.4.6 (#16592)
  apps/native/app/android/app/build.gradle
  apps/native/app/ios/IslandApp/Info.plist
Due: none

Fixing a few missteps
  libs/api/domains/education/src/lib/education.spec.ts
  libs/nest/aws/src/lib/s3.service.spec.ts
  libs/nest/aws/src/lib/s3.service.ts
Due: Portal GraphQL

fix: parse
  libs/service-portal/assets/src/screens/VehicleBulkMileageJobDetail/VehicleBulkMileageJobDetail.tsx
  libs/service-portal/assets/src/utils/parseFileToMileage.ts
Due: none

cleanups
  apps/services/endorsements/api/seeders/20210325171826-development.js
  apps/services/endorsements/api/seeders/20210505212921-e2e-tests.js
  apps/services/endorsements/api/src/app/modules/endorsement/models/endorsement.model.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsement-list.controller.spec.ts
Due: none

fixed padding
  apps/financial-aid/backend/src/app/formatters/applicationPdfHelper.ts
  apps/financial-aid/backend/src/app/formatters/createPdf.ts
  apps/financial-aid/backend/src/app/formatters/pdfhelpers.ts
Due: none

chore(j-s): Give registrars and judge assistants access to service status (#16591)
  apps/judicial-system/backend/src/app/modules/police/police.controller.ts
Due: none

Add hardcoded string to messages
  libs/application/templates/official-journal-of-iceland/src/fields/Preview.tsx
  libs/application/templates/official-journal-of-iceland/src/lib/messages/advert.ts
Due: Application System API

Added more strings to messages
  libs/application/templates/official-journal-of-iceland/src/fields/Summary.tsx
Due: Application System API

0 arg fix
  apps/services/user-notification/src/app/modules/notifications/notifications.service.ts
Due: none

feat(web): Add disclaimer for UTL web chat (#16577)
  apps/web/components/ChatPanel/ChatBubble/ChatBubble.tsx
  apps/web/components/ChatPanel/ChatBubble/EmbedDisclaimer/EmbedDisclaimer.css.ts
  apps/web/components/ChatPanel/ChatBubble/EmbedDisclaimer/EmbedDisclaimer.tsx
  apps/web/components/ChatPanel/WatsonChatPanel/WatsonChatPanel.tsx
Due: none

chore: nx format:write update dirty files
  apps/services/user-notification/src/app/modules/notifications/notifications.service.ts
Due: none

no longer req poststod, for name display
  libs/api/domains/national-registry/src/lib/shared/models/address.model.ts
  libs/api/domains/national-registry/src/lib/v3/mapper.ts
  libs/api/domains/national-registry/src/lib/v3/types/user.type.ts
  libs/service-portal/information/src/helpers/formatting.ts
Due: Portal GraphQL

fixing a test suite
  libs/file-storage/src/lib/file-storage.service.spec.ts
Due: none

line wrapping works
  apps/financial-aid/backend/src/app/formatters/createPdf.ts
  apps/financial-aid/backend/src/app/formatters/pdfhelpers.ts
Due: none

adding colors
  apps/financial-aid/backend/src/app/formatters/createPdf.ts
  apps/financial-aid/backend/src/app/formatters/pdfhelpers.ts
Due: none

fix: use account number and ledger when sending info
  libs/application/template-api-modules/src/lib/modules/templates/financial-aid/financial-aid.service.ts
Due: Application System API

adding type
  apps/financial-aid/backend/src/app/modules/openApiApplications/openApiApplication.service.ts
  apps/financial-aid/open-api/src/app/app.controller.ts
  apps/financial-aid/open-api/src/app/app.service.ts
  apps/financial-aid/open-api/src/app/models/index.ts
  apps/financial-aid/open-api/src/app/models/pdfModel.ts
Due: none

fix: use bankNumber and ledger
  libs/application/template-api-modules/src/lib/modules/templates/financial-aid/financial-aid.service.ts
Due: Application System API

fix(payment): Make payment catalog mockable eliminating reliance on fjs (#16471)
  libs/application/template-api-modules/README.md
  libs/application/template-api-modules/src/lib/modules/shared/api/payment/payment.service.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/dataProviders/index.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/Prerequisites/index.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/CitizenshipTemplate.ts
  libs/application/templates/driving-license/src/dataProviders/index.ts
  libs/application/templates/driving-license/src/forms/prerequisites/sectionExternalData.ts
  libs/application/templates/driving-license/src/lib/drivingLicenseTemplate.ts
  libs/application/templates/example-payment/mock-data/fjs-closed.json
  libs/application/templates/example-payment/src/dataProviders/index.ts
  libs/application/templates/example-payment/src/forms/draft.ts
  libs/application/templates/example-payment/src/lib/examplePaymentTemplate.ts
  libs/application/templates/id-card/src/dataProviders/index.ts
  libs/application/templates/id-card/src/forms/Prerequisites/index.ts
  libs/application/templates/id-card/src/lib/IdCardTemplate.ts
  libs/application/templates/marriage-conditions/src/dataProviders/index.ts
  libs/application/templates/marriage-conditions/src/forms/application.ts
  libs/application/templates/marriage-conditions/src/forms/sharedSections/dataCollection.ts
  libs/application/templates/marriage-conditions/src/lib/MarriageConditionsTemplate.ts
  libs/application/templates/passport/src/forms/Draft.ts
  libs/application/templates/passport/src/lib/PassportTemplate.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/dataProviders/index.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/forms/TransferOfVehicleOwnershipForm/prerequisitesSection.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/TransferOfVehicleOwnershipTemplate.ts
  libs/application/types/src/lib/template-api/shared-api/shared-api-definitions/payment-catalog.ts
  libs/application/ui-shell/src/components/FormExternalDataProvider.tsx
  libs/application/ui-shell/src/components/Screen.tsx
Due: Application System API
