Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fix(api): Mailbox - Hidden categories (#20484)
  libs/api/domains/documents/src/lib/documentV2.service.ts
Due: Portal GraphQL

fix(j-s): fix seed_user (#21127)
  apps/judicial-system/backend/seeders/seed_user.js
Due: none

fix(form-system): try circumventing the que (#21145)
  apps/services/form-system/src/app/modules/file/file.service.ts
Due: none

feat(payments): do not redirect when invoice is created (#21141)
  apps/payments/hooks/useCardPayment.ts
  apps/payments/hooks/useInvoicePayment.ts
  apps/payments/hooks/usePaymentOrchestration.ts
Due: none

fix(j-s): add run and audit request method (#20993)
  apps/judicial-system/backend/src/app/modules/subpoena/internalSubpoena.controller.ts
  apps/judicial-system/backend/src/app/modules/subpoena/subpoena.service.ts
  apps/judicial-system/backend/src/app/modules/subpoena/test/subpoenaService/deliverSubpoenaToNationalCommissionersOffice.spec.ts
  apps/judicial-system/backend/src/app/modules/verdict/internalVerdict.controller.ts
  apps/judicial-system/backend/src/app/modules/verdict/test/verdictService/deliverVerdictToNationalCommissionersOffice.spec.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.service.ts
  libs/judicial-system/audit-trail/src/lib/auditTrail.service.spec.ts
  libs/judicial-system/audit-trail/src/lib/auditTrail.service.ts
Due: none

fix(unemployment benefits): template config fixes (#21132)
  libs/application/templates/unemployment-benefits/src/lib/UnemploymentBenefitsTemplate.ts
Due: Application System API

feat(application-system): HH courses application - participant list default value (#21131)
  libs/application/templates/hh/courses/src/forms/mainForm/participantSection.ts
Due: Application System API

feat(j-s): Split Case Court Updates (#21064)
  apps/judicial-system/backend/src/app/middleware/context.middleware.ts
  apps/judicial-system/backend/src/app/modules/event-log/eventLog.service.ts
  apps/judicial-system/backend/src/app/modules/repository/services/caseRepository.service.ts
Due: none

feat(web): Zendesk chat panel - Add bubble variant prop (#21125)
  apps/contentful-apps/components/WebChat/LiveChatSection.tsx
  apps/contentful-apps/components/WebChat/ZendeskSection.tsx
  apps/contentful-apps/components/WebChat/types.ts
  apps/web/components/ChatPanel/ZendeskChatPanel/ZendeskChatPanel.tsx
  apps/web/components/ChatPanel/types.ts
  apps/web/components/WebChat/WebChat.tsx
Due: none

feat(application-system): HH courses application - Add 2 description fields during payment configuration step (#21129)
  libs/application/templates/hh/courses/src/forms/mainForm/payerSection.ts
  libs/application/templates/hh/courses/src/lib/messages.ts
Due: Application System API

fix(form-system): Update bucket names and sanitize filenames for uploads (#21181)
  apps/services/form-system/infra/form-system.ts
  apps/services/form-system/src/app/modules/file/file.config.ts
  apps/services/form-system/src/app/modules/file/file.service.ts
  charts/islandis-services/services-form-system-api/values.dev.yaml
  charts/islandis-services/services-form-system-api/values.prod.yaml
  charts/islandis-services/services-form-system-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/portals/form-system/ui-components/src/components/FieldComponents/FileUpload/FileUpload.tsx
Due: none

chore(TR-applications): change to v3 for national registry (#21158)
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/AdditionalSupportForTheElderlyTemplate.ts
  libs/application/templates/social-insurance-administration/death-benefits/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/death-benefits/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/death-benefits/src/lib/DeathBenefitsTemplate.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/HouseholdSupplementTemplate.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/MedicalAndRehabilitationPaymentsTemplate.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.ts
Due: Application System API

fix(form-system): Another fileUpload fix (#21184)
  apps/services/form-system/src/app/modules/file/file.service.ts
  libs/portals/form-system/ui-components/src/components/FieldComponents/FileUpload/FileUpload.tsx
Due: none

feat(form-system): add InfoButton component with notifications functionality (#21148)
  libs/portals/admin/form-system/src/components/FormsLayout/FormsLayout.tsx
  libs/portals/form-system/graphql/src/lib/queries/getQNA.ts
  libs/portals/form-system/graphql/src/lib/queries/index.ts
  libs/portals/form-system/ui-components/src/components/InfoButton/InfoButton.css.ts
  libs/portals/form-system/ui-components/src/components/InfoButton/InfoButton.tsx
  libs/portals/form-system/ui-components/src/components/InfoButton/components/CloseButton.css.ts
  libs/portals/form-system/ui-components/src/components/InfoButton/components/CloseButton.tsx
  libs/portals/form-system/ui-components/src/components/InfoButton/components/Notification.tsx
  libs/portals/form-system/ui-components/src/components/index.ts
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: none

fix(as): Fix email generator asset paths (#21174)
  apps/application-system/api/project.json
Due: Application System API

fix(applications): Clean up messages in disability pension (#21186)
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/messages/certificate.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/messages/employmentParticipation.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/messages/paymentInfo.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/messages/personalInfo.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/messages/prerequisites.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/messages/questions.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/messages/selfEvaluation.ts
Due: Application System API

fix(form-system): update completed array (#21138)
  apps/form-system/web/src/components/Footer/Footer.tsx
  apps/form-system/web/src/reducers/applicationReducer.ts
  apps/form-system/web/src/reducers/reducerUtils.ts
  apps/form-system/web/src/routes/Applications.tsx
  apps/services/form-system/src/app/modules/applications/applications.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
  apps/services/form-system/src/app/modules/applications/models/dto/createApplication.dto.ts
  apps/services/form-system/src/app/modules/applications/models/dto/submitScreen.dto.ts
  apps/services/form-system/src/app/modules/sections/models/dto/section.dto.ts
  libs/api/domains/form-system/src/dto/application.input.ts
  libs/api/domains/form-system/src/lib/applications/applications.resolver.ts
  libs/api/domains/form-system/src/lib/applications/applications.service.ts
  libs/portals/form-system/graphql/src/lib/mutations/saveScreen.ts
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: Portal GraphQL

fix(unemployment benefits): Fix error logging + add minDate/maxDate to startDate/endDate + change clearOnChange into setOnChange (#21187)
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.service.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentInformationSection/employmentHistory.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/educationHistory.ts
  libs/application/templates/unemployment-benefits/src/lib/schemas/educationHistorySchema.ts
  libs/application/types/src/lib/Fields.ts
Due: Application System API

feat(new-primary-school): Add radio button and update text on nursery page (#21079)
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/supportSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/currentNurserySubSection.ts
  libs/application/templates/new-primary-school/src/lib/NewPrimarySchoolTemplate.ts
  libs/application/templates/new-primary-school/src/lib/dataSchema.ts
  libs/application/templates/new-primary-school/src/lib/messages/differentNeeds.ts
  libs/application/templates/new-primary-school/src/lib/messages/primarySchool.ts
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.ts
  libs/application/templates/new-primary-school/src/utils/overviewFields.ts
Due: Application System API

fix(bilaleigu-gjaldflokkur): Fix day rate client timeout and contentful translations (#21168)
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
  libs/application/templates/car-rental-fee-category/src/forms/completedForm/index.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/carsChangesCount.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/categorySelection.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/endOfMonthCheck.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/index.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/multiUpload.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/overviewStatistics.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/singleOrMultiSelection.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/tableViewSelection.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/verify.ts
  libs/application/templates/car-rental-fee-category/src/forms/notAllowed/index.ts
  libs/application/templates/car-rental-fee-category/src/forms/prerequisitesForm/index.ts
  libs/application/templates/car-rental-fee-category/src/lib/messages.ts
  libs/application/templates/car-rental-fee-category/src/lib/template.ts
  libs/clients/rsk/rental-day-rate/src/lib/apiConfiguration.ts
Due: Application System API

fix(application-system): Update CODEOWNERS for rsk rental day rate client (#21163)
  .github/CODEOWNERS
Due: none

fix(web): Verdict details - Add missing defineMessages function call (#21175)
  apps/web/screens/Verdicts/translations.strings.ts
Due: none

fix(unemployment benefits): Add jobCodeId and other minor fixes (#21177)
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.utils.ts
  libs/application/templates/unemployment-benefits/src/dataProviders/index.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentInformationSection/currentSituation.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentInformationSection/employmentHistory.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/payoutSection/otherBenefits.ts
  libs/application/templates/unemployment-benefits/src/lib/schemas/currentSituationSchema.ts
  libs/application/templates/unemployment-benefits/src/lib/schemas/educationHistorySchema.ts
  libs/application/templates/unemployment-benefits/src/lib/schemas/employmentHistorySchema.ts
  libs/application/templates/unemployment-benefits/src/shared/constants.ts
  libs/application/templates/unemployment-benefits/src/utils/getJobCodeOptions.ts
  libs/application/templates/unemployment-benefits/src/utils/getOverviewItems.ts
  libs/application/templates/unemployment-benefits/src/utils/overviewAnswers/otherPaymentsAnswers.ts
Due: Application System API

fix(as): Improve logging of invalid state transfers (#21190)
  libs/application/core/src/lib/ApplicationTemplateHelper.spec.ts
  libs/application/core/src/lib/ApplicationTemplateHelper.ts
Due: Application System API

refactor(island-ui): filter count + mobile drawer (#17570)
  libs/island-ui/core/src/lib/Filter/Filter.css.ts
  libs/island-ui/core/src/lib/Filter/Filter.tsx
  libs/island-ui/core/src/lib/Filter/FilterMobileDrawer.tsx
  libs/island-ui/core/src/lib/ModalBase/ModalBase.css.ts
  libs/island-ui/core/src/lib/ModalBase/ModalBase.tsx
  libs/portals/my-pages/core/src/lib/messages.ts
  libs/portals/my-pages/documents/src/components/DocumentFilter/DocumentsFilter.tsx
  libs/portals/my-pages/finance/src/screens/FinanceTransactions/FinanceTransactions.tsx
  package.json
  yarn.lock
Due: none

chore(j-s): Refactor spacing and inputs (#21142)
  apps/judicial-system/web/src/components/Layouts/CasesDashboardLayout/index.tsx
  apps/judicial-system/web/src/components/Logo/Logo.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/components/CaseFilesOverview/CaseFilesOverview.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/components/CaseOverviewHeader/CaseOverviewHeader.tsx
  apps/judicial-system/web/src/routes/Shared/CaseTableGroups/CaseTableGroups.css.ts
  apps/judicial-system/web/src/routes/Shared/CaseTableGroups/CaseTableGroups.tsx
Due: none

fix(j-s): Autofill Vehicle Registration Number (#21153)
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
  libs/judicial-system/types/src/lib/indictmentCount.ts
Due: none

feat(j-s): Police Defendant (#21126)
  apps/judicial-system/backend/migrations/20260109164854-update-case.js
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/create.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverAppealToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverCaseFilesRecordToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverCaseToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverIndictmentCaseToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverIndictmentToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverSignedCourtRecordToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverSignedRulingToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/repository/models/case.model.ts
  apps/judicial-system/web/src/routes/Court/components/ReceptionAndAssignment/ReceptionAndAssignment.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Defendant/DefendantList/DefendantList.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Defendant/Defendant.tsx
Due: none

chore(starfatorg): Un-revert API update (#21107)
  apps/api/infra/api.ts
  apps/api/src/app/app.module.ts
  charts/islandis-services/api/values.dev.yaml
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/dto/icelandicGovernmentInstitutionVacancies.input.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/dto/icelandicGovernmentInstitutionVacancyById.input.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/icelandic-government-institution-vacancies.module.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/icelandic-government-institution-vacancies.resolver.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/models/enums.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/models/icelandicGovernmentInstitutionVacancy.model.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/utils.spec.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/utils.ts
  libs/clients/financial-management-authority/.eslintrc.json
  libs/clients/financial-management-authority/README.md
  libs/clients/financial-management-authority/jest.config.ts
  libs/clients/financial-management-authority/project.json
  libs/clients/financial-management-authority/src/clientConfig.json
  libs/clients/financial-management-authority/src/index.ts
  libs/clients/financial-management-authority/src/lib/apiConfig.ts
  libs/clients/financial-management-authority/src/lib/apiProvider.ts
  libs/clients/financial-management-authority/src/lib/financialManagementAuthorityClient.config.ts
  libs/clients/financial-management-authority/src/lib/financialManagementAuthorityClient.module.ts
  libs/clients/financial-management-authority/tsconfig.json
  libs/clients/financial-management-authority/tsconfig.lib.json
  libs/clients/financial-management-authority/tsconfig.spec.json
  libs/clients/icelandic-government-institution-vacancies/README.md
  libs/clients/icelandic-government-institution-vacancies/project.json
  libs/clients/icelandic-government-institution-vacancies/src/clientConfig.yaml
  libs/clients/icelandic-government-institution-vacancies/src/index.ts
  libs/clients/icelandic-government-institution-vacancies/src/lib/apiConfig.ts
  libs/clients/icelandic-government-institution-vacancies/src/lib/icelandicGovernmentInstitutionVacanciesClient.config.ts
  libs/cms/src/lib/cms.elasticsearch.service.ts
  libs/cms/src/lib/models/vacancy.model.ts
  tsconfig.base.json
Due: Portal GraphQL

feat(new-primary-school): Add defaultValue to relatives page and make optional (#21135)
  libs/application/templates/new-primary-school/src/fields/RelativesTableRepeater/index.tsx
  libs/application/templates/new-primary-school/src/lib/dataSchema.ts
  libs/application/templates/new-primary-school/src/lib/messages/childrenNGuardians.ts
  libs/application/templates/new-primary-school/src/lib/messages/error.ts
  libs/application/templates/new-primary-school/src/utils/overviewFields.ts
Due: Application System API

fix(form-system): zendesk send (#21170)
  apps/services/form-system/src/app/modules/applications/applications.service.ts
  apps/services/form-system/src/app/modules/services/zendesk.service.ts
  libs/portals/form-system/ui-components/src/components/RelevantParties/individualApplicant.tsx
Due: none

chore(j-s): add parent case id in statistics for request cases (#21167)
  apps/judicial-system/backend/src/app/modules/statistics/requestCaseEvents.ts
  apps/judicial-system/backend/src/app/modules/statistics/statistics.service.ts
Due: none

feat(application-system): Support for users with large amounts of properties (#21165)
  libs/application/template-api-modules/src/lib/modules/templates/hms/registration-of-new-property-numbers/utils.ts
  libs/application/templates/hms/registration-of-new-property-numbers/src/fields/index.ts
  libs/application/templates/hms/registration-of-new-property-numbers/src/fields/realEstateSearch/index.tsx
  libs/application/templates/hms/registration-of-new-property-numbers/src/forms/mainForm/realEstateSection.ts
  libs/application/templates/hms/registration-of-new-property-numbers/src/graphql/queries.ts
  libs/application/templates/hms/registration-of-new-property-numbers/src/index.ts
  libs/application/templates/hms/registration-of-new-property-numbers/src/lib/messages/realEstateMessages.ts
  libs/application/templates/hms/registration-of-new-property-numbers/src/utils/hasTwentyOrMoreProperties.ts
Due: Application System API

fix(form-system): adjusted fileExists function (#21164)
  apps/services/form-system/src/app/modules/file/file.service.ts
Due: none

feat(my-pages): Health - update appointments (#21204)
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/mappers/basicInformationMapper.ts
  libs/api/domains/health-directorate/src/lib/models/enums.ts
  libs/clients/health-directorate/src/index.ts
  libs/clients/health-directorate/src/lib/clients/health/clientConfig.json
  libs/clients/health-directorate/src/lib/clients/health/health.service.ts
  libs/portals/my-pages/health/src/screens/Appointments/AppointmentDetail.tsx
  libs/portals/my-pages/health/src/screens/Appointments/AppointmentsOverview.tsx
  libs/portals/my-pages/health/src/utils/constants.ts
Due: Portal GraphQL

fix(my-pages): questionnaires (#21147)
  libs/api/domains/questionnaires/src/lib/questionnaires.service.ts
  libs/api/domains/questionnaires/src/lib/transform-mappers/el/README.md
  libs/api/domains/questionnaires/src/lib/transform-mappers/el/display/mapQuestionnaire.ts
  libs/api/domains/questionnaires/src/models/questionnaire.model.ts
  libs/clients/health-directorate/src/lib/clients/health/clientConfig.json
  libs/feature-flags/src/lib/features.ts
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/Thermometer.tsx
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/lib/paths.ts
  libs/portals/my-pages/health/src/screens/Questionnaires/AnsweredQuestionnaire.tsx
  libs/portals/my-pages/health/src/screens/Questionnaires/QuestionnaireDetail.tsx
  libs/portals/my-pages/health/src/screens/Questionnaires/Questionnaires.tsx
  libs/portals/my-pages/health/src/screens/Questionnaires/questionnaires.graphql
Due: Portal GraphQL

fix(j-s): add prosecutor column to draft case table (#21212)
  libs/judicial-system/types/src/lib/tables/caseTables/prosecution.ts
Due: none

fix(form-system): summary ui (#21196)
  apps/form-system/web/src/components/Screen/components/Display/Display.tsx
  apps/form-system/web/src/components/Screen/components/Summary/Summary.tsx
Due: none

feat(native-app): Medicine license, history and drug certificate. (#20849)
  apps/native/app/src/contexts/feature-flag-provider.tsx
  apps/native/app/src/graphql/fragments/health.graphql
  apps/native/app/src/graphql/queries/health.graphql
  apps/native/app/src/messages/en.ts
  apps/native/app/src/messages/is.ts
  apps/native/app/src/screens/health/health-overview.tsx
  apps/native/app/src/screens/medicine/components/certificate-card.tsx
  apps/native/app/src/screens/medicine/components/medicine-history-card.tsx
  apps/native/app/src/screens/medicine/components/medicine-history-detail.tsx
  apps/native/app/src/screens/medicine/components/medicine-history.tsx
  apps/native/app/src/screens/medicine/components/prescription-card.tsx
  apps/native/app/src/screens/medicine/prescriptions.tsx
  apps/native/app/src/ui/lib/button/button.tsx
  apps/native/app/src/ui/lib/card/expandable-card.tsx
  apps/native/app/src/ui/lib/problem/problem-template.tsx
  apps/native/app/src/utils/capitalize.ts
  apps/native/app/src/utils/component-registry.ts
  apps/native/app/src/utils/lifecycle/setup-components.tsx
  apps/native/app/src/utils/lifecycle/setup-routes.ts
Due: none

fix(bilaleigu-gjaldflokkur): Refetch rental rates per visit and translations (#21192)
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
  libs/application/templates/car-rental-fee-category/src/fields/UploadCarCategoryFile/index.tsx
  libs/application/templates/car-rental-fee-category/src/lib/messages.ts
  libs/application/templates/car-rental-fee-category/src/lib/template.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
