Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

fix(j-s): Add slack log for verdict service status (#20659)
  apps/judicial-system/backend/src/app/modules/event/event.service.ts
  apps/judicial-system/backend/src/app/modules/verdict/internalVerdict.controller.ts
  apps/judicial-system/backend/src/app/modules/verdict/test/internalVerdictController/updateVerdict.spec.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.controller.ts
  libs/judicial-system/formatters/src/lib/formatters.ts
Due: none

fix(j-s): verdict service certificate (#20672)
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/components/FormProvider/limitedAccessCase.graphql
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
Due: none

fix(estate): resolve infinite loop in useEffect hooks (#20635)
  libs/application/templates/estate/src/fields/AssetsRepeater/index.tsx
  libs/application/templates/estate/src/fields/BankAccountsRepeater/index.tsx
  libs/application/templates/estate/src/fields/ClaimsRepeater/index.tsx
  libs/application/templates/estate/src/fields/EstateMembersRepeater/index.tsx
  libs/application/templates/estate/src/fields/InventoryFields/index.tsx
  libs/application/templates/estate/src/fields/MoneyAndDepositFields/index.tsx
  libs/application/templates/estate/src/fields/OtherAssetsRepeater/index.tsx
  libs/application/templates/estate/src/fields/RealEstateRepeater/index.tsx
  libs/application/templates/estate/src/fields/StocksRepeater/index.tsx
  libs/application/templates/estate/src/fields/VehicleRepeater/index.tsx
Due: Application System API

feat(application-system): fixing typo in migration (#20678)
  libs/auth-api-lib/seeders/data/add-leyfur-scope-to-client.ts
Due: none

feat(application-system): Improving the payment overview charge field (#20656)
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/core/src/lib/messages.ts
  libs/application/templates/examples/example-payment/src/dataProviders/index.ts
  libs/application/templates/examples/example-payment/src/forms/draft.ts
  libs/application/templates/examples/example-payment/src/lib/messages.ts
  libs/application/templates/examples/example-payment/src/lib/utils/chargeItemCodeRadioOptions.ts
  libs/application/templates/hms/registration-of-new-property-numbers/src/lib/messages/paymentOverviewMessages.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/types/src/lib/template-api/shared-api/shared-api-definitions/payment-catalog.ts
  libs/application/ui-fields/src/lib/PaymentChargeOverviewFormField/PaymentChargeOverviewFormField.stories.js
  libs/application/ui-fields/src/lib/PaymentChargeOverviewFormField/PaymentChargeOverviewFormField.tsx
Due: Application System API

feat(legal-gazette): Updating legal gazette application (#20647)
  .github/CODEOWNERS
  apps/api/src/app/app.module.ts
  libs/api/domains/legal-gazette/README.md
  libs/api/domains/legal-gazette/project.json
  libs/api/domains/legal-gazette/src/index.ts
  libs/api/domains/legal-gazette/src/lib/legal-gazette.module.ts
  libs/api/domains/legal-gazette/src/lib/legal-gazette.resolver.ts
  libs/api/domains/legal-gazette/src/lib/legal-gazette.service.ts
  libs/api/domains/legal-gazette/src/lib/models/categories.ts
  libs/api/domains/legal-gazette/tsconfig.json
  libs/api/domains/legal-gazette/tsconfig.lib.json
  libs/application/template-api-modules/src/lib/modules/templates/legal-gazette/legal-gazette.service.ts
  libs/application/templates/legal-gazette/src/components/advert-display/AdvertDisplay.tsx
  libs/application/templates/legal-gazette/src/dataProviders/index.ts
  libs/application/templates/legal-gazette/src/fields/AdvertPreview.tsx
  libs/application/templates/legal-gazette/src/forms/RequirementsForm.ts
  libs/application/templates/legal-gazette/src/forms/sections/draftSection.ts
  libs/application/templates/legal-gazette/src/graphql/index.ts
  libs/application/templates/legal-gazette/src/lib/LegalGazetteTemplate.ts
  libs/application/templates/legal-gazette/src/lib/dataSchema.ts
  libs/application/templates/legal-gazette/src/lib/messages.ts
  libs/application/templates/legal-gazette/src/utils/constants.ts
  libs/application/templates/legal-gazette/src/utils/utils.ts
  libs/clients/legal-gazette/src/clientConfig.json
  libs/clients/legal-gazette/src/lib/legalGazetteClient.service.ts
  tsconfig.base.json
Due: Portal GraphQL, Application System API

feat(j-s): Service Title Changes (#20668)
  apps/judicial-system/web/src/components/ServiceAnnouncement/ServiceAnnouncements.strings.ts
  apps/judicial-system/web/src/components/VerdictStatusAlert/VerdictStatusAlert.tsx
Due: none

chore(j-s): Flaky test fix (#20646)
  apps/system-e2e/src/tests/judicial-system/regression/custody-tests.spec.ts
Due: none

feat: redis for ads (#20673)
  apps/air-discount-scheme/backend/infra/air-discount-scheme-backend.ts
  charts/islandis-services/air-discount-scheme-backend/values.dev.yaml
  charts/islandis-services/air-discount-scheme-backend/values.prod.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
Due: none

feat(form-system): FileUpload component for form-system (#20639)
  apps/form-system/web/project.json
  apps/form-system/web/src/reducers/fieldReducer.ts
  apps/services/form-system/infra/form-system.ts
  apps/services/form-system/src/app/app.module.ts
  apps/services/form-system/src/app/dataTypes/valueTypes/valueType.model.ts
  apps/services/form-system/src/app/modules/aws-s3/awsS3.config.ts
  apps/services/form-system/src/app/modules/aws-s3/awsS3.service.ts
  apps/services/form-system/src/app/modules/fields/fields.module.ts
  apps/services/form-system/src/app/modules/file/file.config.ts
  apps/services/form-system/src/app/modules/file/file.controller.ts
  apps/services/form-system/src/app/modules/file/file.module.ts
  apps/services/form-system/src/app/modules/file/file.service.ts
  apps/services/form-system/src/app/modules/file/fileStorageWrapper.ts
  apps/services/form-system/src/app/modules/file/models/deleteFile.dto.ts
  apps/services/form-system/src/app/modules/file/models/storeFile.dto.ts
  apps/services/form-system/src/app/modules/file/upload.processor.ts
  charts/islandis-services/services-form-system-api/values.dev.yaml
  charts/islandis-services/services-form-system-api/values.prod.yaml
  charts/islandis-services/services-form-system-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/dsl/bff.ts
  libs/api/domains/form-system/src/dto/files.input.ts
  libs/api/domains/form-system/src/dto/value.input.ts
  libs/api/domains/form-system/src/lib/files/files.resolver.ts
  libs/api/domains/form-system/src/lib/files/files.service.ts
  libs/api/domains/form-system/src/lib/form-system.module.ts
  libs/api/domains/form-system/src/models/value.model.ts
  libs/clients/form-system/src/lib/FormSystemApiProvider.ts
  libs/portals/admin/form-system/src/lib/utils/fieldTypes.ts
  libs/portals/form-system/graphql/src/lib/mutations/deleteFile.ts
  libs/portals/form-system/graphql/src/lib/mutations/index.ts
  libs/portals/form-system/graphql/src/lib/mutations/storeFile.ts
  libs/portals/form-system/ui-components/src/components/FieldComponents/FileUpload/FileUpload.tsx
  libs/portals/form-system/ui-components/src/lib/index.ts
  libs/portals/form-system/ui-components/src/lib/messages.ts
  libs/portals/form-system/ui-components/src/lib/s3Upload.ts
Due: Portal GraphQL

feat(j-s): English text for defendant info (#20653)
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/models/verdict.response.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.css.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/ConfirmationInformation.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/InformationForDefendant.tsx
  libs/judicial-system/formatters/src/lib/formatters.ts
  libs/judicial-system/types/src/lib/verdict.ts
Due: none

fix(j-s): slack log for verdicts (#20664)
  apps/judicial-system/backend/src/app/modules/verdict/guards/ExternalPoliceVerdictExists.guard.ts
  apps/judicial-system/backend/src/app/modules/verdict/internalVerdict.controller.ts
  apps/judicial-system/backend/src/app/modules/verdict/test/internalVerdictController/internalVerdictControllerGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/verdict/test/internalVerdictController/updateVerdict.spec.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Subpoena/Subpoena.tsx
Due: none

fix(primary-school): Fixed dataSchema validation for support (#20691)
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/supportSubSection.ts
  libs/application/templates/new-primary-school/src/lib/dataSchema.ts
Due: Application System API

fix(j-s): Ruling sent to prison admin (#20658)
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/routes/Prison/IndictmentOverview/IndictmentOverview.tsx
Due: none

feat(application-system): Use ExemptionValidation endpoint (#20697)
  libs/api/domains/transport-authority/src/lib/graphql/models/vehicleValidation.model.ts
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/examples/example-inputs/src/forms/mainForm/compositeFieldsSection/vehiclePermnoSubsection/index.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/convoySection/convoyLongTerm.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/convoySection/convoyShortTerm.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/FieldsRepeaterFormField/FieldsRepeaterItem.tsx
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterItem.tsx
  libs/application/ui-fields/src/lib/VehiclePermnoWithInfoFormField/VehiclePermnoWithInfoFormField.tsx
  libs/application/ui-fields/src/lib/VehiclePermnoWithInfoFormField/graphql/queries.ts
  libs/clients/transport-authority/exemption-for-transportation/src/lib/exemptionForTransportationClient.service.ts
  libs/clients/transport-authority/exemption-for-transportation/src/lib/exemptionForTransportationClient.types.ts
Due: Portal GraphQL, Application System API

fix(j-s): add current date when criminal record is fetched (#20650)
  apps/judicial-system/backend/src/app/modules/file/criminalRecord.service.ts
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
Due: none

fix(j-s): overview (#20661)
  apps/judicial-system/web/src/components/AccordionItems/ConnectedCaseFilesAccordionItem/ConnectedCaseFilesAccordionItem.tsx
Due: none

fix(j-s): indictment tests (#20655)
  apps/system-e2e/src/tests/judicial-system/regression/indictment-tests.spec.ts
Due: none

fix(j-s): fix subpoena modal text (#20644)
  apps/judicial-system/web/src/routes/Court/Indictments/Subpoena/Subpoena.tsx
Due: none

chore(application-system): change scope for leyfur service (#20675)
  libs/auth-api-lib/seeders/data/add-leyfur-scope-to-client.ts
  libs/clients/transport-authority/exemption-for-transportation/src/lib/exemptionForTransportationClient.config.ts
Due: none

feat(application-system): Add error handling for application overview (#20660)
  apps/application-system/api/src/app/modules/application/tools/applicationAdmin.serializer.ts
Due: Application System API

fix(new-primary-school): Fix language validation (#20729)
  libs/application/templates/new-primary-school/src/lib/dataSchema.ts
Due: Application System API

feat(web): Verdict list - Add caseContact (#20722)
  apps/web/screens/Verdicts/VerdictsList.tsx
  apps/web/screens/Verdicts/translations.strings.ts
  apps/web/screens/queries/Verdicts.ts
  libs/api/domains/verdicts/src/lib/dto/verdicts.input.ts
  libs/api/domains/verdicts/src/lib/verdicts.service.ts
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: Portal GraphQL

fix(exemption-for-transportation): Fix validation bug when going back and forth in short-term application (#20719)
  libs/application/templates/transport-authority/exemption-for-transportation/src/fields/handleBeforeSubmit/handleBeforeSubmitConvoy.tsx
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/helperFunctions/handleBeforeSubmit.ts
Due: Application System API

fix(new-primary-school): change registration age (#20721)
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.service.ts
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.ts
Due: Application System API

feat(form-system): add staging and production bucket names for FORM_SYSTEM_BUCKET (#20741)
  apps/services/form-system/infra/form-system.ts
  charts/islandis-services/services-form-system-api/values.prod.yaml
  charts/islandis-services/services-form-system-api/values.staging.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

fix(j-s): No Prosecutor (#20663)
  apps/judicial-system/backend/src/app/modules/case/interceptors/case.interceptor.ts
  apps/judicial-system/web/src/components/ProsecutorSelection/ProsecutorSelection.tsx
  apps/judicial-system/web/src/utils/validate.ts
Due: none

fix: ids missing metrics (#20725)
  apps/services/auth/ids-api/infra/identity-server.ts
  charts/identity-server-services/identity-server/values.dev.yaml
  charts/identity-server-services/identity-server/values.prod.yaml
  charts/identity-server-services/identity-server/values.staging.yaml
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

fix(j-s): lawyer registry filter (#20667)
  apps/judicial-system/web/src/components/Inputs/InputAdvocate.tsx
Due: none

chore(j-s): Create and Update Return Values (#19278)
  apps/judicial-system/api/src/app/modules/case/case.resolver.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/extend.spec.ts
  apps/judicial-system/backend/src/app/modules/court-session/courtSession.service.ts
  apps/judicial-system/backend/src/app/modules/indictment-count/indictmentCount.service.ts
  apps/judicial-system/backend/src/app/modules/user/test/update.spec.ts
  apps/judicial-system/backend/src/app/modules/user/user.service.ts
  apps/judicial-system/web/src/components/FormProvider/FormProvider.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Defendant/Defendant.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/Defendant/Defendant.tsx
Due: none

chore(j-s): enhacne stats props and add new event (#20687)
  apps/judicial-system/backend/src/app/modules/statistics/indictmentCaseEvents.ts
  apps/judicial-system/backend/src/app/modules/statistics/models/event.model.ts
Due: none

fix(web): Verdict list, update openapi schema and how we authenticate requests (#20713)
  apps/web/screens/Verdicts/VerdictsList.tsx
  libs/clients/verdicts/src/goproClientConfig.json
  libs/clients/verdicts/src/lib/verdicts-client.provider.ts
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: none

feat(estate): move comments field to the top (#20700)
  libs/application/templates/estate/src/forms/Sections/attachments.ts
Due: Application System API

feat(web): Verdict list, only show relevant case categories and types in sidebar (#20734)
  apps/web/screens/Verdicts/VerdictsList.tsx
  apps/web/screens/queries/Verdicts.ts
  libs/api/domains/verdicts/src/lib/dto/caseCategories.response.ts
  libs/api/domains/verdicts/src/lib/dto/caseFilterOptions.response.ts
  libs/api/domains/verdicts/src/lib/verdicts.resolver.ts
  libs/api/domains/verdicts/src/lib/verdicts.service.ts
  libs/clients/verdicts/src/index.ts
  libs/clients/verdicts/src/lib/types.ts
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: Portal GraphQL

feat(application-system): Fixing issues with NationalIdWithName (#20695)
  libs/application/ui-components/src/components/NationalIdWithName/NationalIdWithName.tsx
Due: none

fix(citizenship): citizenship code if name null (#20738)
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/PersonalSection/UserInformationSubSection.ts
Due: Application System API

feat(starfatorg): new frontend (#20724)
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacanciesList.css.ts
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/IcelandicGovernmentInstitutionVacanciesList.tsx
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/VacancyCardsGrid.tsx
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/utils.spec.ts
  apps/web/screens/IcelandicGovernmentInstitutionVacancies/utils.ts
Due: none

fix(my-pages-vehicles): remove check (#20717)
  libs/api/domains/vehicles/src/lib/dto/vehiclesListInputV3.ts
  libs/api/domains/vehicles/src/lib/services/vehicles.service.ts
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileage.graphql
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileage.tsx
Due: Portal GraphQL

chore(j-s): Send bearer token with lawyer registry api call (#20708)
  apps/judicial-system/api/src/app/modules/defender/defender.controller.ts
  apps/judicial-system/web/src/components/VerdictStatusAlert/VerdictStatusAlert.tsx
  apps/judicial-system/web/src/utils/hooks/useLawyers/useLawyers.ts
Due: none
