Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Remove user is involved party
  libs/application/templates/official-journal-of-iceland/src/screens/InvolvedPartyScreen.tsx
Due: Application System API

Move hook
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
  apps/judicial-system/web/src/utils/hooks/index.ts
  apps/judicial-system/web/src/utils/hooks/useDebouncedInput/index.ts
Due: none

Use value from hook
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
Due: none

changes to getReviewStatePendingAction
  libs/application/core/src/lib/pendingActionUtils.ts
  libs/application/templates/aosh/training-license-on-a-work-machine/src/lib/TrainingLicenseOnAWorkMachineTemplate.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/lib/TransferOfMachineOwnershipTemplate.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/lib/ChangeCoOwnerOfVehicleTemplate.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/lib/ChangeOperatorOfVehicleTemplate.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/TransferOfVehicleOwnershipTemplate.ts
Due: Application System API

fix: rename organizationevent -> event
  apps/web/components/Organization/Slice/LatestEventsSlice/LatestEventsSlice.tsx
  apps/web/components/events/EventList.tsx
  apps/web/hooks/useLinkResolver/useLinkResolver.ts
  apps/web/pages/api/rss/index.ts
Due: none

chore: format update dirty file
  apps/web/components/Organization/Slice/LatestEventsSlice/LatestEventsSlice.tsx
  apps/web/components/events/EventList.tsx
  apps/web/pages/api/rss/index.ts
Due: none

chore: format update dirty file
  libs/application/core/src/lib/pendingActionUtils.ts
Due: Application System API

test: permit
  apps/api/project.json
  libs/clients/middlewares/src/lib/buildFetch.ts
Due: Portal GraphQL

test commit message :
  libs/portals/my-pages/health/src/screens/PatientDataPermits/Permits.tsx
Due: none

fix: mobile full width
  libs/portals/my-pages/core/src/components/IntroWrapper/IntroWrapper.tsx
Due: none

fix: settings wrapper
  libs/portals/my-pages/information/src/screens/UserProfile/UserProfile.tsx
Due: none

Refactor almost all other code
  apps/judicial-system/web/src/components/CommentsInput/CommentsInput.tsx
  apps/judicial-system/web/src/components/ConclusionDraft/ConclusionDraft.tsx
  apps/judicial-system/web/src/components/Inputs/InputPenalties.tsx
  apps/judicial-system/web/src/components/Inputs/RulingInput.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
  apps/judicial-system/web/src/routes/Court/InvestigationCase/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Court/components/AppealSections/AppealSections.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Processing/Processing.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/PoliceDemands/PoliceDemands.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/PoliceReport/PoliceReport.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/PoliceDemands/PoliceDemands.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/PoliceReport/PoliceReport.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Shared/IndictmentOverview/IndictmentOverview.tsx
  apps/judicial-system/web/src/utils/hooks/useDebouncedInput/index.ts
Due: none

fix(web): rename organizationevent -> event (#20893)
  apps/web/components/Organization/Slice/LatestEventsSlice/LatestEventsSlice.tsx
  apps/web/components/events/EventList.tsx
  apps/web/hooks/useLinkResolver/useLinkResolver.ts
  apps/web/pages/api/rss/index.ts
Due: none

updated docs
  libs/application/core/src/lib/pendingActionUtils.ts
Due: Application System API

refactor: replace action cards
  libs/portals/my-pages/air-discount/src/screens/AirDiscountOverview/AirDiscountOverview.tsx
  libs/portals/my-pages/assets/src/components/VehicleCard.tsx
  libs/portals/my-pages/assets/src/screens/IntellectualPropertiesOverview/IntellectualPropertiesOverview.tsx
  libs/portals/my-pages/assets/src/screens/WorkMachinesOverview/WorkMachinesOverview.tsx
  libs/portals/my-pages/education-career/src/screens/EducationCareer/components/CareerCards/CareerCards.tsx
  libs/portals/my-pages/education/src/screens/EducationGraduation/EducationGraduation.tsx
  libs/portals/my-pages/education/src/screens/SecondarySchoolGraduationOverview/SecondarySchoolGraduationOverview.tsx
  libs/portals/my-pages/health/src/screens/Medicine/MedicineLicense.tsx
  libs/portals/my-pages/health/src/screens/OrganDonation/OrganDonation.tsx
  libs/portals/my-pages/information/src/components/FamilyMemberCard/FamilyMemberCard.tsx
  libs/portals/my-pages/information/src/screens/Notifications/Notifications.tsx
  libs/portals/my-pages/law-and-order/src/screens/CourtCases/CourtCases.tsx
  libs/portals/my-pages/law-and-order/src/screens/PoliceCases/PoliceCases.tsx
  libs/portals/my-pages/licenses/src/screens/LicensesOverview/LicensesOverview.tsx
  libs/portals/my-pages/occupational-licenses/src/screens/OccupationalLicensesOverview/OccupationalLicensesOverview.tsx
  libs/portals/my-pages/social-insurance-maintenance/src/screens/IncomePlan/IncomePlanCard.tsx
Due: none

changed variable name
  libs/application/core/src/lib/pendingActionUtils.ts
Due: Application System API

lintfix
  libs/application/templates/aosh/training-license-on-a-work-machine/src/lib/TrainingLicenseOnAWorkMachineTemplate.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/lib/TransferOfMachineOwnershipTemplate.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/lib/ChangeCoOwnerOfVehicleTemplate.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/lib/ChangeOperatorOfVehicleTemplate.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/TransferOfVehicleOwnershipTemplate.ts
Due: Application System API

test removing experimental fetch
  apps/api/infra/api.ts
  apps/github-actions-cache/infra/github-actions-cache.ts
  apps/services/endorsements/api/infra/endorsement-system-api.ts
  apps/services/user-notification/infra/user-notification.ts
  apps/services/xroad-collector/infra/xroad-collector.ts
  charts/islandis-services/api/values.dev.yaml
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/api/values.staging.yaml
  charts/islandis-services/endorsement-system-api/values.dev.yaml
  charts/islandis-services/endorsement-system-api/values.prod.yaml
  charts/islandis-services/endorsement-system-api/values.staging.yaml
  charts/islandis-services/github-actions-cache/values.dev.yaml
  charts/islandis-services/user-notification-birthday-worker/values.dev.yaml
  charts/islandis-services/user-notification-birthday-worker/values.prod.yaml
  charts/islandis-services/user-notification-birthday-worker/values.staging.yaml
  charts/islandis-services/user-notification-cleanup-worker/values.dev.yaml
  charts/islandis-services/user-notification-cleanup-worker/values.prod.yaml
  charts/islandis-services/user-notification-cleanup-worker/values.staging.yaml
  charts/islandis-services/user-notification-worker/values.dev.yaml
  charts/islandis-services/user-notification-worker/values.prod.yaml
  charts/islandis-services/user-notification-worker/values.staging.yaml
  charts/islandis-services/user-notification/values.dev.yaml
  charts/islandis-services/user-notification/values.prod.yaml
  charts/islandis-services/user-notification/values.staging.yaml
  charts/islandis-services/xroad-collector/values.dev.yaml
  charts/islandis-services/xroad-collector/values.prod.yaml
  charts/islandis-services/xroad-collector/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  scripts/ci/Dockerfile
Due: Portal GraphQL

Remove unused code
  libs/application/templates/official-journal-of-iceland/src/screens/InvolvedPartyScreen.tsx
Due: Application System API

revert test
  apps/api/project.json
  libs/clients/middlewares/src/lib/buildFetch.ts
Due: Portal GraphQL

trigger mypages build
  libs/portals/my-pages/core/src/lib/my-pages-core.ts
Due: none

combing filter and adding tabs
  libs/portals/admin/application-system/src/components/ApplicationDetails/ApplicationDetails.tsx
  libs/portals/admin/application-system/src/components/Filters/Filters.tsx
  libs/portals/admin/application-system/src/components/Layout/Layout.tsx
  libs/portals/admin/application-system/src/lib/messages.ts
  libs/portals/admin/application-system/src/module.tsx
  libs/portals/admin/application-system/src/screens/Overview/CombinedOverview.tsx
  libs/portals/admin/application-system/src/screens/Root/Root.tsx
  libs/portals/admin/application-system/src/screens/Statistics/Statistics.tsx
Due: none

Add course intro field
  apps/web/screens/Organization/Courses/CourseDetails.tsx
  apps/web/screens/Organization/Courses/CourseList.tsx
  apps/web/screens/queries/Courses.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/course.model.ts
Due: none

fix(fa): Warnings in console; modal label missing
  apps/financial-aid/web-veita/src/components/AppliedMonthModal/AppliedMonthModal.tsx
Due: none

fix(fa): Disable changing period when application in finite state
  apps/financial-aid/web-veita/next-env.d.ts
  apps/financial-aid/web-veita/src/components/Profile/ApplicationProfile.tsx
Due: none

fix(ojoi): Remove user is involved party (#20892)
  libs/application/templates/official-journal-of-iceland/src/screens/InvolvedPartyScreen.tsx
Due: Application System API

Remove old useDeb hook
  apps/judicial-system/web/src/routes/Court/InvestigationCase/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/Court/components/AppealSections/AppealSections.tsx
  apps/judicial-system/web/src/utils/hooks/index.ts
  apps/judicial-system/web/src/utils/hooks/useDeb/index.tsx
Due: none

fix(as-ra): Disable country selection for phone fields and add better errors
  libs/application/templates/hms/rental-agreement/src/forms/draftForm/partiesSection/partiesSubsection.ts
  libs/application/templates/hms/rental-agreement/src/utils/utils.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterItem.tsx
Due: Application System API

Fix lint
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Shared/IndictmentOverview/IndictmentOverview.tsx
Due: none

remove duplicated function
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.utils.ts
  libs/application/templates/new-primary-school/src/utils/conditionUtils.ts
Due: Application System API

fix(as-fca): Better detection of duplicates client-side and only sending uniques to HMS (#20885)
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/lib/dataSchema.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/lib/messages/photoMessages.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/lib/messages/realEstateMessages.ts
Due: Application System API

feat(application-system): Refactor pendingAction logic (#20894)
  libs/application/core/src/lib/pendingActionUtils.ts
  libs/application/templates/aosh/training-license-on-a-work-machine/src/lib/TrainingLicenseOnAWorkMachineTemplate.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/lib/TransferOfMachineOwnershipTemplate.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/lib/ChangeCoOwnerOfVehicleTemplate.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/lib/ChangeOperatorOfVehicleTemplate.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/TransferOfVehicleOwnershipTemplate.ts
Due: Application System API

fix: medicine prescriptions dispensations
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/models/dispensations.model.ts
  libs/portals/my-pages/health/src/screens/MedicinePrescriptions/Prescriptions.graphql
  libs/portals/my-pages/health/src/screens/MedicinePrescriptions/components/PrescriptionsTable.tsx
Due: Portal GraphQL

Add onBlur handler
  apps/judicial-system/web/src/routes/Court/InvestigationCase/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/PoliceDemands/PoliceDemands.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/PoliceReport/PoliceReport.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/PoliceDemands/PoliceDemands.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/PoliceReport/PoliceReport.tsx
  apps/judicial-system/web/src/utils/hooks/useDebouncedInput/index.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
