Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

adding unittest
  apps/skilavottord/ws/src/app/modules/vehicle/test/vehicle.service.spec.ts
  apps/skilavottord/ws/src/app/modules/vehicle/vehicle.service.ts
Due: none

removing logs
  apps/skilavottord/ws/src/app/modules/vehicle/vehicle.service.ts
Due: none

test update
  apps/skilavottord/ws/src/app/modules/vehicle/test/integration/vehicle.service.spec.ts
  apps/skilavottord/ws/src/app/modules/vehicle/test/unit/vehicle.service.spec.ts
Due: none

feat(contentful-apps): Organization subpage slug contentful app (#13072)
  apps/contentful-apps/pages/fields/organization-subpage-slug-field.tsx
Due: none

Fields now update when you select a new template, and the case is saved in answers on before submit.
  libs/application/templates/official-journal-of-iceland/src/fields/BasicInformation/BasicInformation.tsx
  libs/application/templates/official-journal-of-iceland/src/hooks/formatMessage.ts
Due: Application System API

No throw, only log
  apps/services/user-profile/src/app/user-profile/pipes/userProfileByNationalId.pipe.ts
  apps/services/user-profile/src/app/user-profile/userToken.controller.ts
Due: none

Requires creating user to be defined and registered in RVG
  apps/judicial-system/backend/src/app/modules/case/dto/internalCreateCase.dto.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/create.spec.ts
  apps/judicial-system/xrd-api/src/app/app.dto.ts
  apps/judicial-system/xrd-api/src/app/test/create.spec.ts
Due: none

feat(web): Adding connected component for Signature Lists
  libs/island-ui/contentful/src/lib/RichTextRC/defaultRenderComponents.tsx
  libs/shared/connected/src/index.ts
  libs/shared/connected/src/lib/SignatureLists/SignatureLists.tsx
  libs/shared/connected/src/lib/SignatureLists/useGetSignatureLists.ts
Due: none

feat(infra-cli): Add running local env
  infra/src/cli/cli.ts
Due: none

Fixes defendant validation for investigations
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Defendant/Defendant.tsx
  apps/judicial-system/web/src/utils/validate.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

Fixes court of appeals valid to changes
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.tsx
Due: none

Update Ruling.spec.tsx with case state and decision
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.spec.tsx
Due: none

Add migrations and user profile processing
  apps/services/user-profile/migrations/20231105100001-format-phone-numbers.js
  apps/services/user-profile/migrations/20231105100002-create-migration-table.js
  apps/services/user-profile/project.json
  apps/services/user-profile/src/app/worker/constants.ts
  apps/services/user-profile/src/app/worker/test/worker.spec.ts
  apps/services/user-profile/src/app/worker/test/worker.utils.spec.ts
  apps/services/user-profile/src/app/worker/types.ts
  apps/services/user-profile/src/app/worker/userProfileAdvania.model.ts
  apps/services/user-profile/src/app/worker/worker.module.ts
  apps/services/user-profile/src/app/worker/worker.service.ts
  apps/services/user-profile/src/app/worker/worker.utils.ts
  apps/services/user-profile/src/environments/environment.ts
  apps/services/user-profile/src/main.ts
  apps/services/user-profile/src/worker.ts
Due: none

codegen
  package.json
  yarn.lock
Due: none

Update
  infra/src/cli/cli.ts
  infra/src/cli/render-local-mocks.ts
Due: none

fix(j-s): Defendant Step Validation (#13081)
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Defendant/Defendant.tsx
  apps/judicial-system/web/src/utils/validate.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

criminal record working
  libs/application/api/core/src/lib/context/context.service.ts
  libs/application/api/form/src/lib/form.module.ts
  libs/application/api/form/src/lib/form.service.ts
  libs/application/api/form/src/lib/formFactory/fields/expandableDescriptionFieldFactory.ts
  libs/application/api/form/src/lib/formFactory/fields/linkFieldFactory.ts
  libs/application/api/form/src/lib/formFactory/fields/messageWithLinkButtonFieldFactory.ts
  libs/application/api/form/src/lib/formFactory/fields/paymentPendingFieldFactory.ts
  libs/application/api/form/src/lib/formFactory/fields/pdfViewerFieldFactory.ts
  libs/application/api/form/src/lib/formFactory/fields/textFieldFactory.ts
  libs/application/api/form/src/lib/formFactory/formItems/MultifieldFactory.ts
  libs/application/api/form/src/lib/formFactory/formItems/sectionFactory.ts
  libs/application/api/form/src/lib/formFactory/formItems/subSectionFactory.ts
  libs/application/core/src/lib/messages.ts
  libs/application/server-templates/src/lib/caramel/index.ts
  libs/application/server-templates/src/lib/criminal-record/index.ts
  libs/application/server-templates/src/lib/templates/certificates/forms/completed.ts
  libs/application/server-templates/src/lib/templates/certificates/template.ts
  libs/application/templates/criminal-record/src/lib/CriminalRecordTemplate.ts
  libs/application/ui-shell/src/lib/FormyTypeConverter.ts
  libs/application/utils/src/lib/builders/form/conclusionForm.ts
  libs/application/utils/src/lib/builders/form/formBuilder.ts
  libs/application/utils/src/lib/builders/form/paymentFormBuilder.ts
  libs/application/utils/src/lib/builders/state/payment.ts
Due: Application System API

Use correct custom scope for energy funds
  apps/application-system/form/src/auth.ts
  libs/api/domains/energy-funds/src/lib/graphql/main.resolver.ts
  libs/application/templates/energy-funds/src/lib/EnergyFundsTemplate.tsx
  libs/auth/scopes/src/lib/api.scope.ts
Due: Portal GraphQL, Application System API

feat(application-estate): Settlement Entry Requirements (#13053)
  libs/application/core/src/lib/messages.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/utils/fakeData.ts
  libs/application/templates/estate/src/lib/utils.ts
  libs/clients/syslumenn/project.json
  libs/clients/syslumenn/src/clientConfig.json
  libs/clients/syslumenn/src/lib/syslumennClient.config.ts
  libs/clients/syslumenn/src/lib/syslumennClient.service.ts
  libs/clients/syslumenn/src/lib/syslumennClient.types.ts
  libs/clients/syslumenn/src/lib/syslumennClient.utils.ts
Due: Application System API

Update codeowners
  .github/CODEOWNERS
Due: none

Update apps/services/user-notification/src/app/modules/notifications/notifications.controller.ts
  apps/services/user-notification/src/app/modules/notifications/notifications.controller.ts
Due: none

Update
  infra/src/cli/cli.ts
  infra/src/cli/render-local-mocks.ts
  infra/src/dsl/exports/localrun.ts
Due: none

Review fix
  apps/services/user-profile/src/app/user-profile/userToken.controller.ts
Due: none

chore: nx format:write update dirty files
  apps/services/user-notification/src/app/modules/notifications/notifications.controller.ts
Due: none

fix(j-s): Court of Appeals Valid to Dates (#13082)
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.spec.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.tsx
Due: none

price fix and userProfile update
  libs/application/core/src/lib/messages.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/user-profile/user-profile.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/energy-funds/energy-funds.service.ts
  libs/application/types/src/lib/template-api/shared-api/shared-api-definitions/user-profile-api.ts
Due: Application System API

Document & lint getLocalrunValueFile
  infra/src/dsl/value-files-generators/local-setup.ts
Due: none

Add optional options
  infra/src/cli/render-local-mocks.ts
  infra/src/dsl/exports/localrun.ts
Due: none

fix(application-estate): Correct to which application the <18 hinderance applies
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
Due: Application System API

Add loading indicator to mobile cards
  apps/judicial-system/web/src/components/Table/CategoryCard/CategoryCard.css.ts
  apps/judicial-system/web/src/components/Table/CategoryCard/CategoryCard.tsx
  apps/judicial-system/web/src/components/Table/PastCasesTable/MobilePastCase.tsx
  apps/judicial-system/web/src/components/Table/PastCasesTable/PastCasesTable.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/ActiveCases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/MobileCase.tsx
Due: none

message duplicate, dataprovider and add strings
  libs/application/templates/energy-funds/project.json
  libs/application/templates/energy-funds/src/dataProviders/index.ts
  libs/application/templates/energy-funds/src/lib/messages/information.ts
Due: Application System API

Remove duplicate code
  apps/judicial-system/web/src/components/Table/CategoryCard/CategoryCard.css.ts
  apps/judicial-system/web/src/components/Table/CategoryCard/CategoryCard.tsx
  apps/judicial-system/web/src/components/Table/PastCasesTable/MobilePastCase.tsx
  apps/judicial-system/web/src/components/Table/index.ts
Due: none

fix(energy funds): update codeowners (#13086)
  .github/CODEOWNERS
Due: none

Allow birthplace to be empty if birthcountry is not Iceland
  libs/application/template-api-modules/src/lib/modules/shared/api/national-registry/national-registry.service.ts
  libs/application/templates/transport-authority/digital-tachograph-drivers-card/src/dataProviders/index.ts
  libs/application/types/src/lib/template-api/shared-api/shared-api-definitions/national-registry-user.ts
Due: Application System API

Add organizationPage sidebarCards in mobile
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
Due: none

chore(j-s): Allow PROSECUTOR_REPRESENTATIVES to create cases (#13004)
  apps/judicial-system/backend/src/app/modules/case/dto/internalCreateCase.dto.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/create.spec.ts
  apps/judicial-system/xrd-api/src/app/app.dto.ts
  apps/judicial-system/xrd-api/src/app/test/create.spec.ts
Due: none

Fixed Sync VMST period when start is less then date 20
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.ts
Due: Application System API

[TS-270]: Set up payment page, payment review and validation
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/fields/Review/index.tsx
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/fields/Review/review-groups/Payment.tsx
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/forms/AdditionalSupportForTheElderlyForm.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/additionalSupportForTheElderlyUtils.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/messages.ts
Due: Application System API

Updated CLI to allow dryRun
  infra/src/cli/render-local-mocks.ts
  infra/src/dsl/adapters/get-ssm-params.ts
  infra/src/dsl/exports/hacks.ts
  infra/src/dsl/exports/localrun.ts
  infra/src/dsl/output-generators/map-to-localrun.ts
  infra/src/dsl/processing/rendering-pipeline.ts
  infra/src/dsl/service-to-environment/pre-process-service.ts
  infra/src/dsl/upstream-dependencies.ts
  infra/src/dsl/value-files-generators/local-setup.ts
Due: none
