Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

feat(auth): Add config for contentful access token. (#10591)
  apps/services/auth/ids-api/infra/identity-server.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

fix(system-e2e): Broken tests
  apps/system-e2e/package.json
  apps/system-e2e/src/support/login.ts
  apps/system-e2e/src/support/urls.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/driving-instructor-registrations.spec.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/driving-licence.spec.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/marriage-conditions.spec.ts
Due: none

Formatting
  apps/system-e2e/src/support/urls.ts
Due: none

Fix lint
  apps/auth-admin-web/components/common/LoadingScreen.tsx
Due: none

fix(financial-statement-inao): validation error caretaker screen (#10594)
  libs/application/templates/financial-statements-inao/src/fields/CemetryCaretaker/index.tsx
  libs/application/templates/financial-statements-inao/src/forms/application/cemetry/sectionCemetryCaretaker.ts
  libs/application/templates/financial-statements-inao/src/lib/constants.ts
Due: Application System API

fix(auth-admin): Add a loading state to edit pages (#10608)
  apps/auth-admin-web/components/Client/form/ClientCreateForm.tsx
  apps/auth-admin-web/components/Resource/forms/ApiScopeCreateForm.tsx
  apps/auth-admin-web/components/Resource/forms/ApiScopeGroupCreateForm.tsx
  apps/auth-admin-web/components/Resource/forms/ApiScopePersonalRepresentativePermissionsForm.tsx
  apps/auth-admin-web/components/common/LoadingScreen.tsx
  apps/auth-admin-web/pages/admin/api-scope-group/[groupId].tsx
  apps/auth-admin-web/pages/admin/api-scope-user/[apiScopeUser].tsx
  apps/auth-admin-web/pages/admin/domain/[domainName].tsx
  apps/auth-admin-web/pages/admin/grant-type/[grantType].tsx
  apps/auth-admin-web/pages/admin/idp-provider/[idp].tsx
  apps/auth-admin-web/pages/admin/language/[isoKey].tsx
  apps/auth-admin-web/pages/admin/translation/[key].tsx
  apps/auth-admin-web/pages/client/[client].tsx
  apps/auth-admin-web/pages/resource/api-resource/[edit].tsx
  apps/auth-admin-web/pages/resource/api-scope/[edit].tsx
  apps/auth-admin-web/pages/resource/identity-resource/[edit].tsx
Due: none

Update syslumenn openapi config
  libs/clients/syslumenn/src/clientConfig.json
Due: none

AlcoholLicences Office and Location fields
  apps/web/components/connected/syslumenn/CardLists/AlcoholLicencesList/AlcoholLicencesList.tsx
  apps/web/components/connected/syslumenn/CardLists/AlcoholLicencesList/queries.ts
  libs/api/domains/syslumenn/src/lib/models/alcoholLicence.ts
  libs/clients/syslumenn/src/lib/__mock-data__/responses.ts
  libs/clients/syslumenn/src/lib/syslumennClient.types.ts
  libs/clients/syslumenn/src/lib/syslumennClient.utils.ts
Due: Portal GraphQL

AlcoholLicences fix responsible field name after api update
  libs/clients/syslumenn/src/lib/__mock-data__/responses.ts
  libs/clients/syslumenn/src/lib/syslumenn.spec.ts
  libs/clients/syslumenn/src/lib/syslumennClient.utils.ts
Due: none

TemporaryEventLicences number of guests
  apps/web/components/connected/syslumenn/CardLists/TemporaryEventLicencesList/TemporaryEventLicencesList.tsx
  apps/web/components/connected/syslumenn/CardLists/TemporaryEventLicencesList/queries.ts
  libs/api/domains/syslumenn/src/lib/models/temporaryEventLicence.ts
  libs/clients/syslumenn/src/lib/__mock-data__/responses.ts
  libs/clients/syslumenn/src/lib/syslumennClient.types.ts
  libs/clients/syslumenn/src/lib/syslumennClient.utils.ts
Due: Portal GraphQL

TemporaryEventLicences valid hours
  apps/web/components/connected/syslumenn/CardLists/TemporaryEventLicencesList/TemporaryEventLicencesList.tsx
  apps/web/components/connected/syslumenn/utils/valueParsers.ts
Due: none

fix(delegations): Fix regression when switching domains in grant access screen.
  libs/portals/shared-modules/delegations/src/screens/GrantAccess/GrantAccess.tsx
Due: none

Add slack-notify
  package.json
  yarn.lock
Due: none

fix: React hook form regressions (HOTFIX) (#10613)
  apps/auth-admin-web/components/Client/form/ClientCreateForm.tsx
  apps/auth-admin-web/components/Resource/forms/ApiScopeCreateForm.tsx
  apps/auth-admin-web/components/Resource/forms/ApiScopeGroupCreateForm.tsx
  apps/auth-admin-web/components/Resource/forms/ApiScopePersonalRepresentativePermissionsForm.tsx
  apps/auth-admin-web/components/common/LoadingScreen.tsx
  apps/auth-admin-web/pages/admin/api-scope-group/[groupId].tsx
  apps/auth-admin-web/pages/admin/api-scope-user/[apiScopeUser].tsx
  apps/auth-admin-web/pages/admin/domain/[domainName].tsx
  apps/auth-admin-web/pages/admin/grant-type/[grantType].tsx
  apps/auth-admin-web/pages/admin/idp-provider/[idp].tsx
  apps/auth-admin-web/pages/admin/language/[isoKey].tsx
  apps/auth-admin-web/pages/admin/translation/[key].tsx
  apps/auth-admin-web/pages/client/[client].tsx
  apps/auth-admin-web/pages/resource/api-resource/[edit].tsx
  apps/auth-admin-web/pages/resource/api-scope/[edit].tsx
  apps/auth-admin-web/pages/resource/identity-resource/[edit].tsx
  libs/portals/shared-modules/delegations/src/screens/GrantAccess/GrantAccess.tsx
Due: none

fix(delegations): Fix regression when switching domains (#10612)
  libs/portals/shared-modules/delegations/src/screens/GrantAccess/GrantAccess.tsx
Due: none

fix(financial-statement-inao): validation error caretaker screen (#10611)
  libs/application/templates/financial-statements-inao/src/fields/CemetryCaretaker/index.tsx
  libs/application/templates/financial-statements-inao/src/forms/application/cemetry/sectionCemetryCaretaker.ts
  libs/application/templates/financial-statements-inao/src/lib/constants.ts
Due: Application System API

Revert to system-e2e packages
  apps/system-e2e/package.json
  package.json
  yarn.lock
Due: none

fix(system-e2e): Broken tests (#10610)
  apps/system-e2e/src/support/login.ts
  apps/system-e2e/src/support/urls.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/driving-instructor-registrations.spec.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/driving-licence.spec.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/marriage-conditions.spec.ts
Due: none

feat(core): Support overriding json body limit
  libs/infra-nest-server/src/lib/bootstrap.ts
Due: none

chore(infra): Tune pod resources and lower expenses
  apps/api/infra/api.ts
  apps/application-system/form/infra/application-system-form.ts
  apps/judicial-system/web/infra/judicial-system-web.ts
  apps/service-portal/infra/service-portal.ts
  apps/services/license-api/infra/license-api.ts
  apps/services/sessions/infra/sessions.ts
  apps/services/user-notification/infra/user-notification.ts
  apps/skilavottord/web/infra/web.ts
  apps/web/infra/web.ts
  libs/island-ui/storybook/infra/storybook.ts
Due: Portal GraphQL

rm import
  libs/application/ui-forms/src/index.ts
Due: none

fix(inheritance-report): application is down on dev (#10593)
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
Due: Application System API

has pending for any
  apps/web/components/Regulations/RegulationStatus.tsx
Due: none

fix(island-ui): Add missing React import to DialogPrompt (#10583)
  libs/island-ui/core/src/lib/DialogPrompt/DialogPrompt.tsx
Due: none

fix: is this more nice?
  libs/service-portal/licenses/src/components/QRCodeModal/PkPass.tsx
Due: none

fix: extract date utils
  libs/service-portal/licenses/src/components/QRCodeModal/DriversLicensePkPass.tsx
  libs/service-portal/licenses/src/utils/dateUtils.ts
Due: none

Update query params on powerbi report page change
  apps/web/components/Organization/Slice/PowerBiSlice/PowerBiSlice.tsx
  apps/web/components/connected/fiskistofa/SidebarShipSearchInput/SidebarShipSearchInput.tsx
Due: none

Generate CaseFileCategory type
  apps/judicial-system/api/src/app/modules/file/dto/createFile.input.ts
  apps/judicial-system/backend/migrations/20230322092130-update-case.js
  libs/judicial-system/types/src/lib/file.ts
Due: none

fix(inheritance-report): Fix inheritance report application bugs (#10615)
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
Due: Application System API

feat(auth): Add config for contentful access token. (#10591) (#10609)
  apps/services/auth/ids-api/infra/identity-server.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

add api url and charts
  apps/api/infra/api.ts
  apps/consultation-portal/infra/samradsgatt.ts
  apps/consultation-portal/project.json
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: Portal GraphQL

addressing feedback
  infra/src/dsl/value-files-generators/local-setup.ts
Due: none

test(system-e2e): Institution page tests (#10514)
  apps/system-e2e/src/notifications/notify.ts
  apps/system-e2e/src/support/disablers.ts
  apps/system-e2e/src/support/email-account.ts
  apps/system-e2e/src/support/login.ts
  apps/system-e2e/src/support/session.ts
  apps/system-e2e/src/support/utils.ts
  apps/system-e2e/src/tests/islandis/web/smoke/sites-of-institutions.spec.ts
Due: none

Render related content even though no related articles are present
  apps/web/screens/Article/Article.tsx
Due: none

feat(web): Allow CMS users to unpublish different locales for articles (#10554)
  apps/contentful-apps/pages/fields/active-translations-field.tsx
  apps/web/components/LanguageToggler/LanguageToggler.tsx
  apps/web/screens/queries/Article.ts
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/environments/environment.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/article.model.ts
  libs/cms/src/lib/models/contentSlug.model.ts
  libs/cms/src/lib/search/contentful.service.ts
  libs/cms/src/lib/search/importers/article.service.ts
Due: none

fix(consultation-portal): auth check to applayout and cookie auth token to authLink (#10602)
  apps/consultation-portal/components/AppLayout/AppLayout.tsx
  apps/consultation-portal/context/UserContext.tsx
  apps/consultation-portal/graphql/client.ts
  apps/consultation-portal/pages/_app.tsx
  apps/consultation-portal/pages/api/auth/check.ts
  apps/consultation-portal/pages/umsagnir/index.tsx
  apps/consultation-portal/utils/helpers/getUserFromDecodedJson.ts
  apps/consultation-portal/utils/helpers/index.ts
Due: none

Add appealCasefiles upload box
  apps/judicial-system/web/messages/Core/index.ts
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.strings.ts
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.spec.tsx
  apps/judicial-system/web/src/utils/validate.ts
  libs/judicial-system/types/src/lib/user.ts
Due: none

feat: added advice box (#10599)
  apps/consultation-portal/components/WriteReviewCard/WriteReviewCard.tsx
  apps/consultation-portal/screens/Case/Case.tsx
Due: none
