Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

commit
  tsconfig.base.json
Due: none

fix(as): Add optional header name for autoauth (#22256)
  libs/clients/hms-rental-agreement/src/apis.ts
  libs/clients/middlewares/src/lib/withAutoAuth.ts
Due: none

remove unnecessary typecast
  apps/judicial-system/backend/src/app/modules/repository/models/defendant.model.ts
Due: none

adding pruneMessage to states requiring 3rd party approval
  libs/application/core/src/lib/constants.ts
  libs/application/templates/aosh/transfer-of-machine-ownership/src/lib/TransferOfMachineOwnershipTemplate.ts
  libs/application/templates/family-matters/children-residence-change-v2/src/lib/ChildrenResidenceChangeTemplate.ts
  libs/application/templates/financial-aid/src/lib/FinancialAidTemplate.ts
  libs/application/templates/hms/rental-agreement/src/lib/RentalAgreementTemplate.ts
  libs/application/templates/iceland-health/accident-notification/src/lib/AccidentNotificationTemplate.ts
  libs/application/templates/id-card/src/lib/IdCardTemplate.ts
  libs/application/templates/marriage-conditions/src/lib/MarriageConditionsTemplate.ts
  libs/application/templates/new-primary-school/src/lib/NewPrimarySchoolTemplate.ts
  libs/application/templates/passport/src/lib/PassportTemplate.ts
  libs/application/types/src/lib/NotificationTypes.ts
Due: Application System API

feat(web): Verdict and agendas court multiselect (#22255)
  apps/web/pages/api/dagskra-domstola/rss/index.ts
  apps/web/pages/api/domar/rss/index.ts
  apps/web/screens/CourtAgendas/CourtAgendas.tsx
  apps/web/screens/Verdicts/VerdictsList.tsx
  apps/web/screens/queries/Verdicts.ts
  apps/web/units/parseCourtQueryParam.ts
  libs/api/domains/verdicts/src/lib/dto/courtAgendas.input.ts
  libs/api/domains/verdicts/src/lib/dto/verdicts.input.ts
  libs/api/domains/verdicts/src/lib/verdicts.service.ts
  libs/clients/verdicts/src/lib/constants.ts
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: Portal GraphQL

Remove personal data from logger
  libs/clients/recycling-fund/src/lib/recyclingFundClient.service.ts
Due: none

chore: format update dirty file
  libs/application/templates/iceland-health/accident-notification/src/lib/AccidentNotificationTemplate.ts
  libs/application/templates/marriage-conditions/src/lib/MarriageConditionsTemplate.ts
  libs/application/templates/new-primary-school/src/lib/NewPrimarySchoolTemplate.ts
Due: Application System API

WIP
  apps/judicial-system/web/src/components/CaseInfo/CaseInfo.tsx
Due: none

fix getvalueviapath
  libs/application/templates/aosh/transfer-of-machine-ownership/src/lib/TransferOfMachineOwnershipTemplate.ts
Due: Application System API

Contentful sorting and ordering for dashboard
  apps/portals/my-pages/src/screens/Dashboard/DashboardV2/DashboardFeatured.tsx
  apps/portals/my-pages/src/screens/Dashboard/DashboardV2/useDashboardNav.ts
  libs/portals/core/src/types/portalCore.ts
  libs/portals/my-pages/health/src/lib/navigation.ts
Due: none

fix(j-s): restore indictmentCancelledOrDismissedState to case.graphql
  apps/judicial-system/web/src/components/FormProvider/case.graphql
Due: none

chore: lintfix update dirty file
  apps/judicial-system/web/src/components/CaseInfo/CaseInfo.tsx
Due: none

feat(application-system-form): Add fallbackThirdLanguage to Secondary school form (#22254)
  libs/application/template-api-modules/src/lib/modules/templates/secondary-school/utils.ts
  libs/application/templates/secondary-school/src/fields/overview/SchoolSelectionOverview.tsx
  libs/application/templates/secondary-school/src/forms/secondarySchoolForm/schoolSection/index.ts
  libs/application/templates/secondary-school/src/forms/secondarySchoolForm/schoolSection/utils.ts
  libs/application/templates/secondary-school/src/lib/dataSchema.ts
  libs/application/templates/secondary-school/src/lib/messages/overview.ts
  libs/application/templates/secondary-school/src/lib/messages/school.ts
  libs/application/templates/secondary-school/src/utils/types/index.ts
  libs/clients/secondary-school/src/clientConfig.json
  libs/clients/secondary-school/src/lib/secondarySchoolClient.service.ts
  libs/clients/secondary-school/src/lib/secondarySchoolClient.types.ts
Due: Application System API

fix(parental-leave): resync vmst periods when re-entering edit flow (#22264)
  libs/application/templates/parental-leave/src/forms/EditOrAddEmployersAndPeriods.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.spec.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API

fix(j-s): restore indictmentCancelledOrDismissedState to case.graphql (#22346)
  apps/judicial-system/web/src/components/FormProvider/case.graphql
Due: none

Update useDashboardNav.ts
  apps/portals/my-pages/src/screens/Dashboard/DashboardV2/useDashboardNav.ts
Due: none

Fix jest file
  libs/clients/recycling-fund/jest.config.ts
Due: none

feat(application-system): Add fallbackThirdLanguage to Secondary School application (#22345)
  libs/application/template-api-modules/src/lib/modules/templates/secondary-school/utils.ts
  libs/application/templates/secondary-school/src/fields/overview/SchoolSelectionOverview.tsx
  libs/application/templates/secondary-school/src/forms/secondarySchoolForm/schoolSection/index.ts
  libs/application/templates/secondary-school/src/forms/secondarySchoolForm/schoolSection/utils.ts
  libs/application/templates/secondary-school/src/lib/dataSchema.ts
  libs/application/templates/secondary-school/src/lib/messages/overview.ts
  libs/application/templates/secondary-school/src/lib/messages/school.ts
  libs/application/templates/secondary-school/src/utils/types/index.ts
  libs/clients/secondary-school/src/clientConfig.json
  libs/clients/secondary-school/src/lib/secondarySchoolClient.service.ts
  libs/clients/secondary-school/src/lib/secondarySchoolClient.types.ts
Due: Application System API

fix authenticationUrl
  apps/services/payments/src/app/cardPayment/cardPayment.utils.ts
Due: none

remove test nav
  apps/portals/my-pages/src/components/DocumentsEmpty/DocumentsEmpty.css.ts
  libs/portals/my-pages/health/src/lib/navigation.ts
Due: none

feat(j-s): extract ChangeProsecutorModal with case-type-aware copy and UX guards (#22316)
  apps/judicial-system/web/src/components/Modals/ChangeProsecutorModal/ChangeProsecutorModal.tsx
  apps/judicial-system/web/src/components/index.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
Due: none

fix(parental-leave): resync vmst periods when re-entering edit flow (#22264) (#22347)
  libs/application/templates/parental-leave/src/forms/EditOrAddEmployersAndPeriods.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.spec.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API

chore(my-pages): add scopes to service portal and resolver (#22331)
  charts/islandis-services/services-bff-portals-my-pages/values.dev.yaml
  charts/islandis-services/services-bff-portals-my-pages/values.prod.yaml
  charts/islandis-services/services-bff-portals-my-pages/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/api/domains/ship-registry/src/lib/resolvers/userShips.resolver.ts
  libs/auth/scopes/src/lib/clients/service-portal-scopes.ts
Due: Portal GraphQL

fix(parental-leave): persist VMST application id for edits
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.ts
  libs/application/templates/parental-leave/src/constants.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API

CSS files and access cleanup
  apps/portals/my-pages/src/screens/Dashboard/Dashboard.css.ts
  apps/portals/my-pages/src/screens/Dashboard/DashboardV2/DashboardFeatured.tsx
  apps/portals/my-pages/src/screens/Dashboard/DashboardV2/DashboardNotifications.css.ts
  apps/portals/my-pages/src/screens/Dashboard/DashboardV2/DashboardNotifications.tsx
  apps/portals/my-pages/src/screens/Dashboard/DashboardV2/DashboardV2.tsx
  libs/island-ui/core/src/lib/CategoryCard/CategoryCard.tsx
  libs/portals/my-pages/core/src/lib/messages.ts
Due: none

fix(web): Verdict html - UL and OL css adjustment (#22321)
  apps/web/screens/Verdicts/VerdictDetails.css.ts
Due: none

feat(web): Featured articles in rich text (#22333)
  apps/web/utils/richText.tsx
Due: none

refactor(form-system): remove PaymentApprovedInput and related callback method
  libs/api/domains/form-system/src/dto/payment.input.ts
  libs/api/domains/form-system/src/lib/payments/payments.resolver.ts
  libs/api/domains/form-system/src/lib/payments/payments.service.ts
Due: Portal GraphQL

fix(parental-leave): persist navId for edit submissions
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.spec.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.ts
Due: Application System API

style(web): update mobile layout and style on home page (#22323)
  apps/web/components/CategoryItems/CategoryItems.tsx
  apps/web/components/DigitalIcelandNewsCard/DigitalIcelandLatestNewsCard.tsx
  apps/web/components/LifeEventsSection/LifeEventsSection.tsx
  apps/web/components/Organization/Slice/LatestNewsSlice/DigitalIcelandLatestNewsSlice/DigitalIcelandLatestNewsSlice.css.ts
  apps/web/components/Organization/Slice/LatestNewsSlice/DigitalIcelandLatestNewsSlice/DigitalIcelandLatestNewsSlice.tsx
Due: none

Update DashboardNotifications.tsx
  apps/portals/my-pages/src/screens/Dashboard/DashboardV2/DashboardNotifications.tsx
Due: none

fix(parental-leave): preserve application fund id
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API

Fixes statement date in district court banner
  apps/judicial-system/web/src/utils/hooks/useAppealCaseUI/index.tsx
Due: none

fix: no longer possible to submit without at least one workplace
  libs/application/templates/social-insurance-administration/old-age-pension/src/fields/EmployersOverview/index.tsx
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/messages.ts
Due: Application System API

chore: format update dirty file
  apps/portals/my-pages/src/screens/Dashboard/DashboardV2/DashboardNotifications.tsx
  libs/portals/my-pages/core/src/utils/orderRoutes.ts
Due: none

feat(form-system): add logging for successful payment callbacks
  apps/services/form-system/src/app/modules/payment/payment-callback.controller.ts
Due: none

final comments
  libs/application/templates/vmst/edit-unemployment-information/src/fields/AccordionFields/index.tsx
  libs/application/templates/vmst/edit-unemployment-information/src/forms/completedForm/index.ts
  libs/application/templates/vmst/edit-unemployment-information/src/forms/mainForm/index.tsx
  libs/application/ui-fields/src/lib/BankAccountFormField/BankAccountFormField.tsx
  libs/clients/vmst-unemployment/src/clientConfig.json
Due: Application System API

fix: build error
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.spec.ts
Due: Application System API

Add modal
  apps/judicial-system/web/src/components/CaseInfo/CaseInfo.tsx
Due: none

chore: remove national id formats
  libs/portals/my-pages/education/src/screens/University/UniversityGraduationDetail/UniversityGraduationDetail.tsx
Due: none
