Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

accidental comment
  libs/application/template-api-modules/src/lib/modules/templates/complaints-to-althingi-ombudsman/complaints-to-althingi-ombudsman.service.ts
Due: Application System API

fix(service-portal): avoid double tabbing on button links
  libs/service-portal/assets/src/screens/AssetsOverview/AssetsOverview.tsx
  libs/service-portal/assets/src/screens/Overview/Overview.tsx
  libs/service-portal/core/src/components/GoBack/GoBack.tsx
  libs/service-portal/core/src/components/LinkButton/LinkButton.tsx
  libs/service-portal/core/src/screens/NoDataScreen/NoDataScreen.tsx
  libs/service-portal/documents/src/components/DocumentActionBar/DocumentActionBar.tsx
  libs/service-portal/education/src/screens/DrivingLessonsBook/DrivingLessonsBook.tsx
  libs/service-portal/finance/src/screens/FinanceSchedule/FinanceSchedule.tsx
  libs/service-portal/finance/src/screens/FinanceStatus/FinanceStatus.tsx
  libs/service-portal/health/src/screens/HealthOverview/HealthOverview.tsx
  libs/service-portal/health/src/screens/Medicine/MedicinePurchase.tsx
  libs/service-portal/health/src/screens/Payments/wrapper/PaymentsWrapper.tsx
  libs/service-portal/licenses/src/screens/LicenseDetail/LicenseDetail.tsx
  libs/service-portal/licenses/src/screens/PassportDetail/PassportDetail.tsx
Due: none

added feature flag
  libs/feature-flags/src/lib/features.ts
  libs/service-portal/signature-collection/src/module.tsx
Due: none

fix: make residence optional
  libs/service-portal/information/src/screens/UserInfo/UserInfo.tsx
Due: none

Update libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.ts
Due: Application System API

feat(old-age-pension): Make sure additionalDocumentsRequired don't get sent twice to TR when requesting more documents (#12757)
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/oldAgePensionUtils.ts
Due: Application System API

fix(search-indexer): Prune inline embedded entry fields (#12768)
  libs/cms/src/lib/search/importers/utils.ts
Due: none

[TS-201]: Clean up
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.ts
Due: Application System API

for of loop
  libs/application/template-api-modules/src/lib/modules/shared/services/attachment-s3.service.ts
Due: Application System API

Add jwtToken guard
  apps/application-system/form/src/auth.ts
  apps/skilavottord/ws/src/app/modules/appSysRecyclingReq/appSysRecyclingReq.resolver.ts
  apps/skilavottord/ws/src/app/modules/auth/jwtToken.guard.ts
  libs/clients/recycling-fund/src/lib/RecyclingFundClient.module.ts
  libs/clients/recycling-fund/src/lib/RecyclingFundClient.service.ts
Due: none

Update apps/judicial-system/backend/src/app/modules/case/test/caseController/getCourtRecordSignatureConfirmation.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getCourtRecordSignatureConfirmation.spec.ts
Due: none

Update rsk link edge case handler
  libs/service-portal/documents/src/components/DocumentLine/DocumentLine.tsx
  libs/service-portal/documents/src/components/DocumentRenderer/DocumentRenderer.tsx
  libs/service-portal/documents/src/lib/types.ts
  libs/service-portal/documents/src/utils/customUrlHandler.ts
Due: none

review fix
  libs/service-portal/signature-collection/src/lib/messages.ts
  libs/service-portal/signature-collection/src/screens/SignatureLists/cancelCollection.tsx
  libs/service-portal/signature-collection/src/screens/ViewList/signees.tsx
Due: none

Update link styling for btn link
  libs/service-portal/documents/src/components/DocumentActionBar/DocumentActionBar.css.ts
Due: none

codeowners
  .github/CODEOWNERS
Due: none

revert for linting fix
  libs/service-portal/signature-collection/src/screens/ViewList/index.tsx
Due: none

fix: move finance i18n to module
  libs/service-portal/core/src/lib/messages.ts
  libs/service-portal/finance/src/components/FinanceScheduleTable/FinanceScheduleTable.tsx
  libs/service-portal/finance/src/components/FinanceScheduleTable/FinanceScheduleTableRow.tsx
  libs/service-portal/finance/src/components/FinanceScheduleTable/FinanceScheduleTableRowCompressed.tsx
  libs/service-portal/finance/src/components/FinanceStatusDetailTable/FinanceStatusDetailTable.tsx
  libs/service-portal/finance/src/components/FinanceTransactionPeriods/FinanceTransactionPeriodsFilter.tsx
  libs/service-portal/finance/src/components/FinanceTransactionPeriods/FinanceTransactionPeriodsTable.tsx
  libs/service-portal/finance/src/components/FinanceTransactionPeriods/FinanceTransactionPeriodsTableDetail.tsx
  libs/service-portal/finance/src/components/FinanceTransactionPeriods/FinanceTransactionSelectedPeriod.tsx
  libs/service-portal/finance/src/components/FinanceTransactionsTable/FinanceTransactionsTable.tsx
  libs/service-portal/finance/src/lib/messages.ts
  libs/service-portal/finance/src/screens/FinanceSchedule/FinanceSchedule.tsx
  libs/service-portal/finance/src/screens/FinanceStatus/FinanceStatus.tsx
Due: none

feat(web): Store profession dropdown filter value in query param for master licences (#12771)
  apps/web/components/connected/syslumenn/TableLists/MasterList/MasterList.tsx
Due: none

adding useNamespaces
  libs/service-portal/signature-collection/src/screens/SignatureLists/cancelCollection.tsx
  libs/service-portal/signature-collection/src/screens/SignatureLists/index.tsx
  libs/service-portal/signature-collection/src/screens/SignatureLists/ownerView.tsx
  libs/service-portal/signature-collection/src/screens/SignatureLists/signeeView.tsx
  libs/service-portal/signature-collection/src/screens/ViewList/index.tsx
  libs/service-portal/signature-collection/src/screens/ViewList/paperUpload.tsx
  libs/service-portal/signature-collection/src/screens/ViewList/signees.tsx
Due: none

typo
  .github/CODEOWNERS
Due: none

Update run-proxies.sh according to feedback
  package.json
  scripts/run-proxies.sh
Due: none

fix(service-portal): avoid double tabbing on button links (#12779)
  libs/service-portal/assets/src/screens/AssetsOverview/AssetsOverview.tsx
  libs/service-portal/assets/src/screens/Overview/Overview.tsx
  libs/service-portal/core/src/components/GoBack/GoBack.tsx
  libs/service-portal/core/src/components/LinkButton/LinkButton.tsx
  libs/service-portal/core/src/screens/NoDataScreen/NoDataScreen.tsx
  libs/service-portal/documents/src/components/DocumentActionBar/DocumentActionBar.tsx
  libs/service-portal/education/src/screens/DrivingLessonsBook/DrivingLessonsBook.tsx
  libs/service-portal/finance/src/screens/FinanceSchedule/FinanceSchedule.tsx
  libs/service-portal/finance/src/screens/FinanceStatus/FinanceStatus.tsx
  libs/service-portal/health/src/screens/HealthOverview/HealthOverview.tsx
  libs/service-portal/health/src/screens/Medicine/MedicinePurchase.tsx
  libs/service-portal/health/src/screens/Payments/wrapper/PaymentsWrapper.tsx
  libs/service-portal/licenses/src/screens/LicenseDetail/LicenseDetail.tsx
  libs/service-portal/licenses/src/screens/PassportDetail/PassportDetail.tsx
Due: none

Default to docker, not podman
  scripts/_run-aws-eks-commands.js
Due: none

Add and comment out debugging
  scripts/run-proxies.sh
Due: none

Logs in detail logins by authenticated persons
  apps/judicial-system/api/src/app/modules/auth/auth.controller.ts
  apps/judicial-system/api/src/app/modules/auth/auth.service.ts
  libs/judicial-system/types/src/lib/eventLog.ts
Due: none

Add chat widget to project page
  apps/web/components/ChatPanel/WatsonChatPanel/WatsonChatPanel.tsx
  apps/web/components/ChatPanel/WatsonChatPanel/index.ts
  apps/web/components/ChatPanel/WatsonChatPanel/utils.ts
  apps/web/components/ChatPanel/types.ts
  apps/web/screens/Project/components/ProjectChatPanel/ProjectChatPanel.tsx
  apps/web/screens/Project/components/ProjectChatPanel/config.ts
  apps/web/screens/queries/WatsonAssistantChat.ts
Due: none

feat(web): Change default header props (#12744)
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
  apps/web/components/Organization/Wrapper/Themes/DefaultTheme/DefaultHeader.css.ts
  apps/web/components/Organization/Wrapper/Themes/DefaultTheme/DefaultHeader.tsx
  apps/web/screens/queries/Organization.tsx
  libs/cms/src/lib/models/organizationTheme.model.ts
Due: none

fix: update inputs and returns
  libs/api/domains/finance/src/lib/api-domains-finance.resolver.ts
  libs/clients/finance-v2/src/lib/financeV2.module.ts
  libs/clients/finance-v2/src/lib/financeV2.service.ts
Due: Portal GraphQL

fix(island-ui): Update PDF Annotation layer to support links in pdf viewer (#12770)
  libs/island-ui/core/src/lib/PdfViewer/PdfViewer.css.ts
  libs/island-ui/core/src/lib/PdfViewer/PdfViewer.tsx
Due: none

Remove space
  apps/web/components/ChatPanel/WatsonChatPanel/WatsonChatPanel.tsx
Due: none

feat(car-recycling): Validate selectedVehicles before continue (#12736)
  libs/application/templates/car-recycling/src/fields/Review/review-groups/Vehicles.tsx
  libs/application/templates/car-recycling/src/fields/VehiclesOverview/VehiclesOverview.tsx
  libs/application/templates/car-recycling/src/forms/CarRecyclingForm.ts
  libs/application/templates/car-recycling/src/lib/CarRecyclingTemplate.ts
  libs/application/templates/car-recycling/src/lib/answerValidationSections/vehicleList.ts
  libs/application/templates/car-recycling/src/lib/answerValidationSections/vehicles.ts
  libs/application/templates/car-recycling/src/lib/answerValidators.ts
  libs/application/templates/car-recycling/src/lib/carRecyclingUtils.ts
  libs/application/templates/car-recycling/src/lib/messages.ts
  libs/application/templates/car-recycling/src/shared/constants.ts
Due: Application System API

fix: tweak heilsa urls
  libs/service-portal/health/src/lib/paths.ts
Due: none

Removing unnecessary changes
  libs/application/templates/administration-of-occupational-safety-and-health/transfer-of-machine-ownership/src/forms/TransferOfVehicleOwnershipForm/paymentSection.ts
  libs/application/templates/administration-of-occupational-safety-and-health/transfer-of-machine-ownership/src/lib/TransferOfVehicleOwnershipTemplate.tsx
  migrations/20230915152755-createuniversit.js
  migrations/20230915152842-createuniversity.js
  nx.json
  package.json
  scripts/_run-aws-eks-commands.js
  yarn.lock
Due: Application System API

Small fix
  libs/application/templates/social-insurance-administration/old-age-pension/src/fields/Review/index.tsx
Due: Application System API

Adding new types for new discount
  libs/air-discount-scheme/types/src/index.ts
  libs/air-discount-scheme/types/src/lib/newDiscount.ts
Due: none

creating new discount model
  apps/air-discount-scheme/backend/src/app/modules/newDiscount/newDiscount.model.ts
Due: none

fix(service-portal): tweak heilsa urls (#12785)
  libs/service-portal/health/src/lib/paths.ts
Due: none

adding new controller, service and module
  apps/air-discount-scheme/backend/src/app/app.module.ts
  apps/air-discount-scheme/backend/src/app/modules/newDiscount/dto/index.ts
  apps/air-discount-scheme/backend/src/app/modules/newDiscount/dto/params.dto.ts
  apps/air-discount-scheme/backend/src/app/modules/newDiscount/dto/viewModel.dto.ts
  apps/air-discount-scheme/backend/src/app/modules/newDiscount/index.ts
  apps/air-discount-scheme/backend/src/app/modules/newDiscount/newDiscount.controller.ts
  apps/air-discount-scheme/backend/src/app/modules/newDiscount/newDiscount.module.ts
  apps/air-discount-scheme/backend/src/app/modules/newDiscount/newDiscount.service.ts
Due: none
