Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

feat(queue): More logging and with objects
  apps/services/user-notification/src/app/modules/notifications/notifications.controller.ts
  libs/message-queue/src/lib/nest/worker.service.ts
Due: none

Unset file upload if answers changed
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/HouseholdSupplementTemplate.ts
Due: Application System API

Include tooltip and fix styles for number boxes
  apps/web/components/Charts/v2/renderers/ChartNumberBox/ChartNumberBox.css.ts
  apps/web/components/Charts/v2/renderers/ChartNumberBox/ChartNumberBox.tsx
Due: none

Account for expanded cards
  apps/web/components/Charts/v2/constants.ts
  apps/web/components/Charts/v2/renderers/ChartRenderer.tsx
  apps/web/components/Charts/v2/utils/chart.tsx
Due: none

Cleanup
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/citizenship.service.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/CitizenshipTemplate.ts
  libs/clients/directorate-of-immigration/src/lib/directorateOfImmigrationClient.service.ts
Due: Application System API

Add new charge code
  libs/application/types/src/lib/InstitutionNationalIds.ts
  libs/shared/constants/src/lib/chargeItemCode.ts
Due: none

Ensures user validity
  apps/judicial-system/api/src/app/data-sources/backend.ts
  apps/judicial-system/api/src/app/modules/user/dto/updateUser.input.ts
  apps/judicial-system/backend/src/app/modules/institution/index.ts
  apps/judicial-system/backend/src/app/modules/institution/institution.module.ts
  apps/judicial-system/backend/src/app/modules/institution/institution.service.ts
  apps/judicial-system/backend/src/app/modules/user/dto/updateUser.dto.ts
  apps/judicial-system/backend/src/app/modules/user/interceptors/user.validator.ts
  apps/judicial-system/backend/src/app/modules/user/user.controller.ts
  apps/judicial-system/backend/src/app/modules/user/user.module.ts
Due: none

fix(citizenship): Testing files (#12896)
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-immigration/citizenship/citizenship.service.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/CriminalRecords/index.tsx
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/Review/ApplicantReview.tsx
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/PersonalSection/UserInformationSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/SupportingDocumentsSection/OtherDocumentsSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/SupportingDocumentsSection/PassportSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/dataSchema.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/messages/error.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/messages/information.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/messages/selectChildren.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/messages/supportingDocuments.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/utils/formatPhoneNumber.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/utils/index.ts
  libs/clients/directorate-of-immigration/src/lib/directorateOfImmigrationClient.service.ts
  libs/clients/directorate-of-immigration/src/lib/directorateOfImmigrationClient.types.ts
Due: Application System API

Include border radius on chart skeleton loader
  apps/web/components/Charts/v2/renderers/ChartRenderer.tsx
Due: none

Refactor
  apps/web/components/Charts/v2/renderers/ChartNumberBox/ChartNumberBox.css.ts
Due: none

change props in ComplaintFormInReview.ts
  libs/application/templates/data-protection-complaint/src/forms/ComplaintFormInReview.ts
Due: Application System API

remove conclusion test in ExampleForm.ts
  libs/application/templates/reference-template/src/forms/ExampleForm.ts
Due: Application System API

fix(core): Fix schema-files cache busting (#12932)
  .nxignore
  libs/email-service/src/tools/adapter.service.ts
  libs/localization/scripts/extract.ts
  nx.json
  package.json
  scripts/check-tags.ts
  scripts/hash-files.js
  yarn.lock
Due: none

feature flag + code clean
  libs/application/templates/social-insurance-administration/household-supplement/src/fields/Review/review-groups/BaseInformation.tsx
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/householdSupplementUtils.ts
  libs/feature-flags/src/lib/features.ts
Due: Application System API

add missing file for feature flag
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/HouseholdSupplementTemplate.ts
Due: Application System API

adding test-1
  apps/skilavottord/ws/src/app/modules/vehicle/test/util.test.ts
  apps/skilavottord/ws/src/app/modules/vehicle/test/vehicle.test.spec.ts
Due: none

Fix mobile layout issue
  apps/web/components/Charts/v2/renderers/AccessibilityTableRenderer.tsx
Due: none

Fix format date
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/Review/ApplicantReview.tsx
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/PersonalSection/UserInformationSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/dataSchema.ts
Due: Application System API

Refactor
  apps/web/components/Charts/v2/renderers/ChartNumberBox/ChartNumberBox.tsx
Due: none

Refactor number box title semantics
  apps/web/components/Charts/v2/renderers/ChartNumberBox/ChartNumberBox.css.ts
  apps/web/components/Charts/v2/renderers/ChartNumberBox/ChartNumberBox.tsx
Due: none

feat(utlendingastofnun ríkisborgararéttur): fix format residence in iceland last change date (#12948)
  libs/application/templates/directorate-of-immigration/citizenship/src/fields/Review/ApplicantReview.tsx
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/PersonalSection/UserInformationSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/lib/dataSchema.ts
Due: Application System API

add foreign bank account option
  libs/application/templates/social-insurance-administration/core/src/constants.ts
  libs/application/templates/social-insurance-administration/core/src/socialInsuranceAdministrationUtils.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/fields/Review/review-groups/Payment.tsx
  libs/application/templates/social-insurance-administration/household-supplement/src/forms/HouseholdSupplementForm.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/HouseholdSupplementTemplate.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/householdSupplementUtils.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/messages.ts
Due: Application System API

chaning project name
  libs/api/domains/aosh/project.json
Due: Portal GraphQL

make all unclick undefined
  libs/service-portal/core/src/components/LinkButton/LinkButton.tsx
  libs/service-portal/core/src/components/LinkResolver/LinkResolver.tsx
Due: none

whoops
  libs/service-portal/core/src/components/LinkResolver/LinkResolver.tsx
Due: none

feat(car-recycling): Add English translations to messages file (#12949)
  libs/application/templates/car-recycling/src/lib/messages.ts
Due: Application System API

feat: add to modules
  apps/api/src/app/app.module.ts
  libs/api/domains/intellectual-properties/src/index.ts
  libs/api/domains/intellectual-properties/src/lib/dto/designImages.input.ts
  libs/api/domains/intellectual-properties/src/lib/dto/ip.input.ts
  libs/api/domains/intellectual-properties/src/lib/intellectalProperties.module.ts
  libs/api/domains/intellectual-properties/src/lib/intellectualProperties.resolver.ts
  libs/api/domains/intellectual-properties/src/lib/models/patent.model.ts
  libs/api/domains/intellectual-properties/src/lib/models/person.model.ts
  libs/clients/intellectual-properties/src/lib/intellectualPropertiesClient.service.ts
  tsconfig.base.json
Due: Portal GraphQL

[TS-293]: add organization_reviewer to roles
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/HouseholdSupplementTemplate.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/constants.ts
Due: Application System API

change text id from oap to rf.cr
  libs/application/templates/car-recycling/src/lib/messages.ts
Due: Application System API

feat(web): Chart improvements (#12945)
  apps/web/components/Charts/v2/constants.ts
  apps/web/components/Charts/v2/renderers/AccessibilityTableRenderer.tsx
  apps/web/components/Charts/v2/renderers/ChartNumberBox/ChartNumberBox.css.ts
  apps/web/components/Charts/v2/renderers/ChartNumberBox/ChartNumberBox.tsx
  apps/web/components/Charts/v2/renderers/ChartRenderer.tsx
  apps/web/components/Charts/v2/utils/chart.tsx
Due: none

Remove Icon compnent
  apps/judicial-system/web/src/components/Icon/Icon.tsx
  apps/judicial-system/web/src/components/Icon/Trash.tsx
Due: none

Remove unused
  libs/service-portal/core/src/components/LinkButton/LinkButton.tsx
Due: none

add total field for stocks
  libs/application/templates/estate/src/fields/TextFieldsRepeater/index.tsx
  libs/application/templates/estate/src/forms/Sections/estateAssets.ts
  libs/application/templates/estate/src/lib/dataSchema.ts
Due: Application System API

add markdown to accordion message
  libs/application/templates/car-recycling/src/lib/messages.ts
Due: Application System API

Add trash icon
  apps/judicial-system/web/src/components/CourtDocuments/CourtDocuments.tsx
  apps/judicial-system/web/src/components/Icons/Trash.tsx
Due: none

fix(service-portal): LinkResolver Onclick to undefined (#12950)
  libs/service-portal/core/src/components/LinkButton/LinkButton.tsx
  libs/service-portal/core/src/components/LinkResolver/LinkResolver.tsx
Due: none

Change scanflags to run on main branch
  .github/workflows/push.yml
Due: none

Prevents case fetch until limited access has been determined
  apps/judicial-system/web/src/components/FormProvider/FormProvider.tsx
Due: none

test testing
  apps/skilavottord/ws/src/app/modules/vehicle/test/vehicle.test.spec.ts
  apps/skilavottord/ws/src/app/modules/vehicle/vehicle.service.ts
Due: none
