Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

chore: format update dirty file
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.logic.spec.ts
Due: none

feat(native-app): Send title with treatment messages (#23926)
  apps/native/app/src/app/(auth)/(tabs)/health/appointments/[id].tsx
  apps/native/app/src/app/(auth)/(tabs)/health/messages/[id].tsx
  apps/native/app/src/app/(auth)/(tabs)/health/messages/index.tsx
  apps/native/app/src/app/(auth)/(tabs)/health/messages/new.tsx
  apps/native/app/src/components/health-message-intro.tsx
  apps/native/app/src/graphql/queries/health.graphql
  apps/native/app/src/messages/en.ts
  apps/native/app/src/messages/is.ts
  apps/native/app/src/ui/lib/list/list-item.tsx
  apps/native/app/src/ui/lib/select/select.tsx
Due: none

fix(doe): Update job-based criterion descriptions in salary report
  libs/application/templates/directorate-of-equality/salary-report/src/utils/constants.ts
Due: Application System API

add cycle guard on liveDescendant
  apps/judicial-system/backend/src/app/modules/repository/services/caseRepository.service.ts
  apps/judicial-system/backend/src/app/modules/repository/test/caseRepository.findLiveDescendantCase.spec.ts
Due: none

fix(doe): Update job-based criterion descriptions in salary report (#23930)
  libs/application/templates/directorate-of-equality/salary-report/src/utils/constants.ts
Due: Application System API

chore: fix mobile UI issue and remove inner scrollbar
  libs/application/ui-fields/src/lib/InteractiveTableField/InteractiveTableFormField.css.ts
  libs/application/ui-fields/src/lib/InteractiveTableField/InteractiveTableFormFieldExpandedRow.tsx
Due: none

Attempt to fix skattframtal issue
  libs/application/templates/hms/housing-benefits/src/dataProviders/index.ts
  libs/application/templates/hms/housing-benefits/src/forms/assigneeApprovalState/assigneeDraftForm/refetchNationalRegistrySection.ts
  libs/application/templates/hms/housing-benefits/src/forms/assigneeApprovalState/assigneePrereqForm/externalDataSection.ts
  libs/application/templates/hms/housing-benefits/src/utils/addHouseholdMemberUtils.ts
  libs/application/templates/hms/housing-benefits/src/utils/assigneeUtils.ts
  libs/application/templates/hms/housing-benefits/src/utils/mapUserToRole.ts
  libs/application/templates/hms/housing-benefits/src/utils/rentalAgreementUtils.ts
  libs/application/templates/hms/housing-benefits/src/utils/utils.ts
Due: Application System API

chore: format update dirty file
  libs/application/templates/pay-debts/src/forms/mainForm/debtsSection.spec.ts
Due: Application System API

refactor: add new client for statistics
  .github/CODEOWNERS
  apps/api/infra/api.ts
  apps/api/src/app/app.module.ts
  charts/islandis-services/api/values.dev.yaml
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/dsl/xroad.ts
  libs/clients/directorate-of-equality-statistics/README.md
  libs/clients/directorate-of-equality-statistics/eslint.config.mjs
  libs/clients/directorate-of-equality-statistics/jest.config.ts
  libs/clients/directorate-of-equality-statistics/project.json
  libs/clients/directorate-of-equality-statistics/src/clientConfig.json
  libs/clients/directorate-of-equality-statistics/src/index.ts
  libs/clients/directorate-of-equality-statistics/src/lib/directorate-of-equality-statistics.config.ts
  libs/clients/directorate-of-equality-statistics/src/lib/directorate-of-equality-statistics.module.ts
  libs/clients/directorate-of-equality-statistics/src/lib/directorate-of-equality-statistics.service.spec.ts
  libs/clients/directorate-of-equality-statistics/src/lib/directorate-of-equality-statistics.service.ts
  libs/clients/directorate-of-equality-statistics/src/lib/openapi-ts.config.ts
  libs/clients/directorate-of-equality-statistics/tsconfig.json
  libs/clients/directorate-of-equality-statistics/tsconfig.lib.json
  libs/clients/directorate-of-equality-statistics/tsconfig.spec.json
  libs/clients/directorate-of-equality/src/clientConfig.json
  libs/clients/directorate-of-equality/src/index.ts
  libs/clients/directorate-of-equality/src/lib/directorate-of-equality-public-client.ts
  libs/clients/directorate-of-equality/src/lib/directorate-of-equality.module.ts
  libs/clients/directorate-of-equality/src/lib/directorate-of-equality.service.ts
  libs/clients/statistics/src/lib/directorateOfEquality.spec.ts
  libs/clients/statistics/src/lib/directorateOfEquality.ts
  libs/clients/statistics/src/lib/statistics.module.ts
  libs/clients/statistics/src/lib/statistics.service.ts
  tsconfig.base.json
Due: Portal GraphQL

Updates after review
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/shared/parentsSection.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/lib/messages/parents.ts
Due: Application System API

rename
  apps/judicial-system/backend/src/app/modules/case/internalCase.controller.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/models/caseFileClassification.response.ts
  apps/judicial-system/backend/src/app/modules/case/models/casePoliceState.response.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/getCasePoliceState.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/getCasePoliceStateGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/repository/services/caseRepository.service.ts
  apps/judicial-system/xrd-api/src/app/app.controller.ts
  apps/judicial-system/xrd-api/src/app/app.service.ts
  apps/judicial-system/xrd-api/src/app/models/caseFileClassification.response.ts
  apps/judicial-system/xrd-api/src/app/models/casePoliceState.response.ts
  apps/judicial-system/xrd-api/src/app/test/getCasePoliceState.spec.ts
  libs/judicial-system/audit-trail/src/lib/auditTrail.service.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/case.spec.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

fix: rabbit comments
  apps/web/components/Charts/v2/utils/WrappedAxisTick.tsx
  apps/web/components/Charts/v2/utils/wrapAxisLabel.spec.ts
  apps/web/components/Charts/v2/utils/wrapAxisLabel.ts
  libs/cms/src/lib/environments/environment.ts
Due: none

Changing from function call to callback
  libs/application/templates/vmst/confirm-job-or-income/src/forms/mainForm/registerIncomeSection/capitalIncomeSection.ts
  libs/application/templates/vmst/confirm-job-or-income/src/forms/mainForm/registerIncomeSection/casualWorkSection.ts
  libs/application/templates/vmst/confirm-job-or-income/src/forms/mainForm/registerIncomeSection/contractWorkSection.ts
  libs/application/templates/vmst/confirm-job-or-income/src/forms/mainForm/registerIncomeSection/pensionSection.ts
  libs/application/templates/vmst/confirm-job-or-income/src/forms/mainForm/registerIncomeSection/socialInsuranceSection.ts
Due: Application System API

fix(car-recycling): log only the error fields we mean to log
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.ts
Due: Application System API

fix(car-recycling): log each failure once, naming the step that failed
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.ts
Due: Application System API

chore: format update dirty file
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/xrd-api/src/app/app.service.ts
Due: none

feat(j-s): create indictment defendants together with the case (#23883)
  apps/judicial-system/api/src/app/modules/case/dto/createCase.input.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/dto/createCase.dto.ts
  apps/judicial-system/backend/src/app/modules/case/dto/createCaseDefendant.dto.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/create.spec.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Defendant/Defendant.tsx
  apps/judicial-system/web/src/utils/hooks/useCase/index.ts
  apps/judicial-system/web/src/utils/hooks/useCase/useCase.logic.spec.ts
  apps/judicial-system/web/src/utils/hooks/useCase/useCase.logic.ts
Due: none

apply change suggestions from reviewer
  apps/services/auth/admin-api/src/app/v2/scopes/public-scopes.controller.ts
  libs/api/domains/auth-admin/src/lib/public/public-auth.service.ts
  libs/auth-api-lib/src/lib/resources/admin/admin-scope.service.ts
  libs/auth-api-lib/src/lib/resources/tenants.service.ts
Due: Portal GraphQL

test(j-s): Compare a list built fresh against one built after the rest
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.includeIsolation.spec.ts
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.utils.ts
Due: none

chore(j-s): Format the include isolation spec
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.includeIsolation.spec.ts
Due: none

refactor(j-s): Share the case table SQL probe setup
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.accessIncludes.spec.ts
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.appealTypeIsolation.spec.ts
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.publicProsecutionAppealed.spec.ts
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.publicProsecutionInReview.spec.ts
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.sqlProbe.spec.ts
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.sqlProbe.ts
Due: none

fix(j-s): await the criminal record event log (#23925)
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/CriminalRecordUpdate.spec.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/CriminalRecordUpdate.tsx
Due: none

test(j-s): Say why four users cover the include shapes
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.includeIsolation.spec.ts
Due: none

chore: format update dirty file
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.sqlProbe.spec.ts
Due: none

test(j-s): Record the sequential sweep on a saturated registry
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.includeIsolation.spec.ts
Due: none

fix(j-s): Give separate case table includes their sort order back
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.utils.spec.ts
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.utils.ts
Due: none

move filtering to REST endpoint
  apps/services/auth/admin-api/src/app/v2/tenants/public-tenants.controller.ts
  libs/api/domains/auth-admin/src/lib/public/public-auth.service.ts
  libs/auth-api-lib/src/lib/resources/tenants.service.ts
Due: Portal GraphQL

fix(native-app): Shrink the window for double tap
  apps/native/app/src/utils/push-once.ts
Due: none

add tests
  apps/services/auth/admin-api/src/app/v2/scopes/test/public-scopes.spec.ts
  apps/services/auth/admin-api/src/app/v2/tenants/test/public-tenants.spec.ts
Due: none

sort the scopes by name
  apps/web/screens/Umbod/Umbod.tsx
Due: none

fix(native-app): Android navigation fixes (#23931)
  apps/native/app/src/app/(auth)/(tabs)/_layout.tsx
  apps/native/app/src/app/(auth)/(tabs)/health/appointments/[id].tsx
  apps/native/app/src/app/(auth)/(tabs)/health/appointments/index.tsx
  apps/native/app/src/app/(auth)/(tabs)/health/questionnaires/index.tsx
  apps/native/app/src/utils/push-once.ts
Due: none

test(j-s): Prove the after commit hook fires on a request-owned transaction
  apps/judicial-system/backend/src/app/middleware/test/messageQueueAfterCommit.spec.ts
Due: none

feat(j-s): Queue messages after the transaction commits
  libs/judicial-system/message/src/index.ts
  libs/judicial-system/message/src/lib/message.middleware.ts
  libs/judicial-system/message/src/lib/test/addMessagesToQueueAfterCommit.spec.ts
Due: none

fix(j-s): Show the appeal the page is about in the info card
  apps/judicial-system/web/src/components/InfoCard/InfoCardActiveIndictment.spec.tsx
  apps/judicial-system/web/src/components/InfoCard/InfoCardClosedIndictment.spec.tsx
  apps/judicial-system/web/src/components/InfoCard/InfoCardClosedIndictment.tsx
  apps/judicial-system/web/src/components/InfoCard/useInfoCardItems.tsx
Due: none

feat(web): List of institutions that have implemented mandate functionality (#23891)
  apps/services/auth/admin-api/src/app/v2/scopes/dto/public-scope.dto.ts
  apps/services/auth/admin-api/src/app/v2/scopes/public-scopes.controller.ts
  apps/services/auth/admin-api/src/app/v2/scopes/scopes.module.ts
  apps/services/auth/admin-api/src/app/v2/scopes/test/public-scopes.spec.ts
  apps/services/auth/admin-api/src/app/v2/tenants/dto/public-tenant.dto.ts
  apps/services/auth/admin-api/src/app/v2/tenants/public-tenants.controller.ts
  apps/services/auth/admin-api/src/app/v2/tenants/tenants.module.ts
  apps/services/auth/admin-api/src/app/v2/tenants/test/public-tenants.spec.ts
  apps/web/layouts/main.tsx
  apps/web/pages/en/mandates/index.tsx
  apps/web/pages/en/o/digital-iceland/authorisation-system/electronic-mandates/index.tsx
  apps/web/pages/s/stafraent-island/umbodskerfi/rafraen-umbod/index.tsx
  apps/web/pages/umbod/index.tsx
  apps/web/screens/Organization/ParentSubpage.tsx
  apps/web/screens/Umbod/Umbod.tsx
  apps/web/screens/Umbod/translations.strings.ts
  apps/web/screens/Umbod/types.ts
  apps/web/screens/queries/Umbod.ts
  libs/api/domains/auth-admin/src/lib/auth-admin.module.ts
  libs/api/domains/auth-admin/src/lib/public/public-auth.models.ts
  libs/api/domains/auth-admin/src/lib/public/public-auth.resolver.ts
  libs/api/domains/auth-admin/src/lib/public/public-auth.service.ts
  libs/auth-api-lib/src/lib/resources/admin/admin-scope.service.ts
  libs/auth-api-lib/src/lib/resources/tenants.service.ts
  libs/clients/auth/admin-api/src/index.ts
  libs/clients/auth/admin-api/src/lib/apis.ts
  libs/shared/types/src/lib/api-cms-domain.ts
Due: Portal GraphQL

docs(j-s): Say when an after commit message registration is lost
  apps/judicial-system/backend/src/app/middleware/test/messageQueueAfterCommit.spec.ts
  libs/judicial-system/message/src/lib/message.middleware.ts
Due: none

code rabbit fix
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.ts
  libs/clients/recycling-fund/src/lib/recyclingFundClient.service.spec.ts
  libs/clients/recycling-fund/src/lib/recyclingFundClient.service.ts
Due: Application System API

docs(j-s): Say when a savepoint runs its after commit functions
  libs/judicial-system/message/src/lib/message.middleware.ts
Due: none

fix(recycling-fund): keep shortPermno away from the injectable client
  libs/clients/recycling-fund/src/lib/recyclingFundClient.service.ts
  libs/clients/recycling-fund/src/lib/shortPermno.spec.ts
  libs/clients/recycling-fund/src/lib/shortPermno.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
