Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Add heightmap
  apps/web/components/Organization/Slice/EmbedSlice/EmbedSlice.css.ts
  apps/web/components/Organization/Slice/EmbedSlice/EmbedSlice.tsx
  apps/web/screens/queries/fragments.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/embed.model.ts
Due: none

Add config
  apps/web/components/ChatPanel/types.ts
  apps/web/components/Organization/Wrapper/config.ts
  apps/web/screens/Article/components/ArticleChatPanel/config.ts
Due: none

Display on service web
  apps/web/components/ServiceWeb/config.ts
Due: none

Fix non nullable graphql errors
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/cms.elasticsearch.service.ts
Due: none

Remove redundant bang
  libs/cms/src/lib/cms.contentful.service.ts
Due: none

chore: commit save point
  apps/services/user-notification/esbuild.json
Due: none

chore: commit save point
  libs/feature-flags/src/lib/configcat.ts
  libs/feature-flags/src/lib/feature-flags.spec.ts
Due: none

feat: replace anatine executor with esbuild
  apps/air-discount-scheme/api/project.json
  apps/air-discount-scheme/backend/project.json
  apps/api/project.json
  apps/application-system/api/project.json
  apps/download-service/project.json
  apps/external-contracts-tests/project.json
  apps/financial-aid/api/project.json
  apps/financial-aid/backend/project.json
  apps/github-actions-cache/project.json
  apps/icelandic-names-registry/backend/project.json
  apps/judicial-system/api/project.json
  apps/judicial-system/backend/project.json
  apps/judicial-system/message-handler/project.json
  apps/judicial-system/scheduler/project.json
  apps/judicial-system/xrd-api/project.json
  apps/reference-backend/project.json
  apps/services/auth/admin-api/project.json
  apps/services/auth/delegation-api/project.json
  apps/services/auth/ids-api/project.json
  apps/services/auth/personal-representative-public/project.json
  apps/services/auth/personal-representative/project.json
  apps/services/auth/public-api/project.json
  apps/services/contentful-entry-tagger/project.json
  apps/services/documents/project.json
  apps/services/endorsements/api/project.json
  apps/services/license-api/project.json
  apps/services/search-indexer/esbuild.js
  apps/services/search-indexer/project.json
  apps/services/sessions/project.json
  apps/services/user-notification/project.json
  apps/services/user-profile/project.json
  apps/services/xroad-collector/project.json
  apps/skilavottord/ws/project.json
  libs/api/domains/occupational-licenses/project.json
Due: Portal GraphQL, Application System API

chore: set esbuild format cjs, refactor email-service helper
  apps/services/user-notification/project.json
  apps/services/user-profile/project.json
  libs/email-service/src/tools/helpers/index.ts
Due: none

chore: more cjs pinning
  apps/air-discount-scheme/api/project.json
  apps/air-discount-scheme/backend/project.json
  apps/api/project.json
  apps/application-system/api/project.json
  apps/download-service/project.json
  apps/external-contracts-tests/project.json
  apps/financial-aid/api/project.json
  apps/financial-aid/backend/project.json
  apps/github-actions-cache/project.json
  apps/icelandic-names-registry/backend/project.json
  apps/judicial-system/api/project.json
  apps/judicial-system/backend/project.json
  apps/judicial-system/message-handler/project.json
  apps/judicial-system/scheduler/project.json
  apps/judicial-system/xrd-api/project.json
  apps/reference-backend/project.json
  apps/services/auth/admin-api/project.json
  apps/services/auth/delegation-api/project.json
  apps/services/auth/ids-api/project.json
  apps/services/auth/personal-representative-public/project.json
  apps/services/auth/personal-representative/project.json
  apps/services/auth/public-api/project.json
  apps/services/contentful-entry-tagger/project.json
  apps/services/documents/project.json
  apps/services/endorsements/api/project.json
  apps/services/license-api/project.json
  apps/services/search-indexer/project.json
  apps/services/sessions/project.json
  apps/services/xroad-collector/project.json
  apps/skilavottord/ws/project.json
Due: Portal GraphQL, Application System API

chore: fix esbuildConfig paths, remove anatine leftovers
  apps/air-discount-scheme/api/project.json
  apps/judicial-system/backend/project.json
  apps/services/regulations-admin-backend/project.json
  apps/services/user-notification/project.json
  apps/services/xroad-collector/project.json
Due: none

feat(web): Render table slice (#12101)
  apps/web/utils/richText.tsx
Due: none

fix: import configcat-node typo
  libs/nest/feature-flags/src/lib/feature-flag.client.ts
Due: none

fix(chore): Fix db-proxy scripts after yargs update
  scripts/_run-aws-eks-commands.js
Due: none

build: set GEOIP_LICENSE_KEY as NX envInput in services-sessions
  apps/services/sessions/project.json
Due: none

fix(chore): Fix db-proxy scripts after yargs update (#12128)
  scripts/_run-aws-eks-commands.js
Due: none

fix: import configcat-node typo (#12127)
  libs/nest/feature-flags/src/lib/feature-flag.client.ts
Due: none

Add embed slice
  apps/web/components/Organization/Slice/EmbedSlice/EmbedSlice.css.ts
  apps/web/components/Organization/Slice/EmbedSlice/EmbedSlice.tsx
  apps/web/screens/queries/fragments.ts
  apps/web/utils/richText.tsx
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/embed.model.ts
  libs/cms/src/lib/unions/slice.union.ts
Due: none

Add connection to HR api
  apps/services/university-gateway/backend/migrations/20230704095327-create-program.js
  apps/services/university-gateway/backend/src/app/modules/course/internalCourse.service.ts
  apps/services/university-gateway/backend/src/app/modules/program/internalProgram.service.ts
  libs/api/domains/university-gateway/src/lib/universityGateway.service.ts
  libs/clients/university-application/reykjavik-university/src/clientConfig.json
  libs/clients/university-application/reykjavik-university/src/lib/apis.ts
  libs/clients/university-application/reykjavik-university/src/lib/reykjavikUniversityClient.config.ts
  libs/clients/university-application/reykjavik-university/src/lib/reykjavikUniversityClient.service.ts
  libs/clients/university-application/university-of-iceland/src/lib/universityOfIcelandClient.service.ts
  libs/university-gateway-lib/src/lib/types/degreeType.ts
  libs/university-gateway-lib/src/lib/utils.ts
Due: Portal GraphQL

all states
  apps/application-system/api/src/app/modules/application/jsonStuff/prerequisites.json
  libs/application/ui-shell/src/components/FormExternalDataProvider.tsx
  libs/application/ui-shell/src/components/Screen.tsx
  libs/application/ui-shell/src/utils.ts
Due: Application System API

Minor bugfixes + ff update
  libs/api/domains/rights-portal/src/lib/rightsPortal.resolver.ts
  libs/feature-flags/src/lib/features.ts
  libs/service-portal/health/src/lib/messages.ts
  libs/service-portal/health/src/lib/navigation.ts
  libs/service-portal/health/src/module.tsx
  libs/service-portal/health/src/screens/DentistRegistration/DentistRegistration.tsx
  libs/service-portal/health/src/screens/Dentists/Dentists.tsx
  libs/service-portal/health/src/screens/HealthCenter/HealthCenter.tsx
  libs/service-portal/health/src/screens/HealthCenterRegistration/HealthCenterRegistration.tsx
Due: Portal GraphQL

Update transfer params + no cache for health data display
  libs/service-portal/health/src/screens/DentistRegistration/DentistRegistration.tsx
  libs/service-portal/health/src/screens/Dentists/Dentists.tsx
  libs/service-portal/health/src/screens/HealthCenter/HealthCenter.tsx
  libs/service-portal/health/src/screens/HealthCenterRegistration/HealthCenterRegistration.tsx
Due: none

chore: nx format:write update dirty files
  libs/service-portal/health/src/screens/DentistRegistration/DentistRegistration.tsx
  libs/service-portal/health/src/screens/HealthCenterRegistration/HealthCenterRegistration.tsx
Due: none

updated typing
  infra/src/dsl/dsl.ts
Due: none

fix(parental-leave): id contentful (#12121)
  libs/application/templates/parental-leave/src/lib/messages.ts
Due: Application System API

Remove fate from child ui
  libs/service-portal/information/src/screens/Child/Child.tsx
Due: none

Fixes in graphql Add filters endpoint Add universities endpoint
  apps/services/university-gateway/backend/src/app/modules/program/model/program.ts
  apps/services/university-gateway/backend/src/app/modules/program/program.controller.ts
  apps/services/university-gateway/backend/src/app/modules/program/program.service.ts
  libs/api/domains/university-gateway/src/lib/graphql/dto/getPrograms.input.ts
  libs/api/domains/university-gateway/src/lib/graphql/dto/index.ts
  libs/api/domains/university-gateway/src/lib/graphql/main.resolver.ts
  libs/api/domains/university-gateway/src/lib/graphql/models/index.ts
  libs/api/domains/university-gateway/src/lib/graphql/models/program.model.ts
  libs/api/domains/university-gateway/src/lib/graphql/models/programFilter.model.ts
  libs/api/domains/university-gateway/src/lib/graphql/models/university.model.ts
  libs/api/domains/university-gateway/src/lib/universityGateway.service.ts
  libs/api/domains/university-gateway/tsconfig.lib.json
  libs/university-gateway-lib/src/index.ts
  libs/university-gateway-lib/src/lib/consts/index.ts
  libs/university-gateway-lib/src/lib/consts/universityNationalIds.ts
  libs/university-gateway-lib/src/lib/types/index.ts
  libs/university-gateway-lib/src/lib/utils/enum.ts
  libs/university-gateway-lib/src/lib/utils/index.ts
Due: Portal GraphQL

chore: nx format:write update dirty files
  libs/service-portal/information/src/screens/Child/Child.tsx
Due: none

Increase memory limit for search-indexer
  apps/services/search-indexer/infra/search-indexer-service.ts
Due: none

chore: charts update dirty files
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

fixed scope and client, update and create
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
  libs/auth-api-lib/src/lib/resources/admin/admin-scope.service.ts
Due: none

fix(service-portal): Remove fate from child ui (#12129)
  libs/service-portal/information/src/screens/Child/Child.tsx
Due: none

build: run geoip-lite as initContainer instead of build-time
  infra/src/dsl/initContainer.spec.ts
  infra/src/dsl/output-generators/map-to-helm-values.ts
  infra/src/dsl/types/input-types.ts
  infra/src/dsl/types/output-types.ts
Due: none

build: remove GEOIP_LICENSE_KEY references, no more stateful builds
  .github/workflows/push.yml
  scripts/ci/Dockerfile
Due: none

fix(auth-admin): Fix replica issue when creating client (#12131)
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
  libs/auth-api-lib/src/lib/resources/admin/admin-scope.service.ts
Due: none

Add failsafe to licenses resolver with env variable set to true to disable instantly at release.
  apps/api/infra/api.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/api/domains/license-service/src/lib/graphql/main.resolver.ts
Due: Portal GraphQL

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
