Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Fix translation string
  apps/web/screens/Organization/SocialInsuranceAdministration/translationStrings.ts
Due: none

Refactor - reuse license type in license client and service lib
  libs/api/domains/license-service/README.md
  libs/api/domains/license-service/src/lib/dto/GeneratePkPass.input.ts
  libs/api/domains/license-service/src/lib/dto/GenericLicense.dto.ts
  libs/api/domains/license-service/src/lib/dto/GetGenericLicense.input.ts
  libs/api/domains/license-service/src/lib/dto/GetGenericLicenses.input.ts
  libs/api/domains/license-service/src/lib/licenceService.type.ts
  libs/api/domains/license-service/src/lib/licenseService.constants.ts
  libs/api/domains/license-service/src/lib/licenseService.service.ts
  libs/api/domains/license-service/src/lib/providers/licenseMapper.provider.ts
  libs/clients/license-client/src/lib/clients/driving-license-client/services/drivingLicenseClient.service.ts
  libs/clients/license-client/src/lib/licenseClient.module.ts
  libs/clients/license-client/src/lib/licenseClient.type.ts
  libs/clients/license-client/src/lib/licenseUpdateClient.module.ts
  libs/shared/constants/src/index.ts
  libs/shared/constants/src/lib/licenseType.ts
Due: Portal GraphQL

chore: nx format:write update dirty files
  apps/api/project.json
  libs/api/domains/license-service/src/lib/licenseService.config.ts
Due: Portal GraphQL

fix(signature-collections): sort candidates
  .github/CODEOWNERS
  libs/shared/connected/src/lib/SignatureLists/SignatureLists.tsx
  libs/shared/connected/src/lib/SignatureLists/useGetSignatureLists.ts
Due: none

space tweak
  libs/service-portal/signature-collection/src/components/SignedList/index.tsx
  libs/service-portal/signature-collection/src/screens/SigneeView/index.tsx
Due: none

Update Form, Group, Input, and Step DTOs
  libs/api/domains/form-system/src/dto/forms.input.ts
  libs/api/domains/form-system/src/dto/groups.input.ts
  libs/api/domains/form-system/src/dto/inputs.input.ts
  libs/api/domains/form-system/src/dto/steps.input.ts
  libs/api/domains/form-system/src/lib/groups/groups.service.ts
  libs/api/domains/form-system/src/lib/inputs/inputs.service.ts
  libs/clients/form-system/src/lib/clients/form-system.module.ts
Due: Portal GraphQL

undo unwanted changes
  libs/application/templates/parental-leave/src/forms/Prerequisites.ts
Due: Application System API

fixed delegation user and added comments for accessible selector
  apps/system-e2e/src/support/login.ts
  apps/system-e2e/src/tests/islandis/admin-portal/smoke/access-control.spec.ts
  apps/system-e2e/src/tests/islandis/service-portal/smoke/auth.spec.ts
Due: none

Add more translation defaults
  apps/web/screens/Organization/SocialInsuranceAdministration/translationStrings.ts
Due: none

Fix repeaters
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/fakeData.ts
  libs/application/templates/inheritance-report/src/fields/AssetsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/fields/ReportFieldsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/forms/sections/assets.ts
Due: Application System API

added judicial system to the feature deploy DSL
  infra/src/feature-env.ts
Due: none

Fetching programs in useQuery instead of on the server
  apps/web/screens/UniversitySearch/AboutPage.tsx
  apps/web/screens/UniversitySearch/UniversitySearch.tsx
Due: none

Fix phone number for advocates being allowed empty
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
Due: Application System API

fix: update imports
  apps/download-service/src/app/app.module.ts
Due: none

seller statement screen and tweaks
  libs/application/template-api-modules/src/lib/modules/templates/grindavik-housing-buyout/grindavik-housing-buyout.service.ts
  libs/application/templates/grindavik-housing-buyout/src/forms/GrindavikHousingBuyoutForm.ts
  libs/application/templates/grindavik-housing-buyout/src/lib/dataSchema.ts
  libs/application/templates/grindavik-housing-buyout/src/lib/messages/application.ts
Due: Application System API

spacing
  libs/shared/connected/src/lib/SignatureLists/SignatureLists.tsx
Due: none

Use generics when getting license client
  libs/api/domains/license-service/src/lib/licenseService.service.ts
  libs/clients/license-client/src/lib/licenseClient.service.ts
  libs/shared/constants/src/index.ts
Due: Portal GraphQL

Add type with Locale import
  libs/api/domains/license-service/src/lib/licenseService.resolver.ts
Due: Portal GraphQL

Fix valuation extraction
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/fakeData.ts
  libs/clients/syslumenn/src/lib/syslumennClient.types.ts
  libs/clients/syslumenn/src/lib/syslumennClient.utils.ts
Due: Application System API

spelling error
  libs/application/templates/parental-leave/src/lib/messages.ts
Due: Application System API

removed unused comments
  apps/api/src/main.ts
  apps/judicial-system/robot-api/src/main.ts
Due: Portal GraphQL

revert feature env changes
  infra/src/feature-env.ts
Due: none

remove deploy comment
  apps/judicial-system/digital-mailbox-api/src/main.ts
Due: none

Update grindavik-housing-buyout.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/grindavik-housing-buyout/grindavik-housing-buyout.service.ts
Due: Application System API

Cleanup
  apps/judicial-system/backend/src/app/formatters/indictmentPdf.ts
  apps/judicial-system/backend/src/app/modules/notification/notification.service.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

Cleanup
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverIndictmentCaseToPolice.spec.ts
Due: none

Make barcode field optional
  libs/api/domains/license-service/src/lib/licenseService.resolver.ts
  libs/api/mocks/src/domains/license-service/factories.ts
Due: Portal GraphQL

Never return undefined from delegation scope check
  libs/auth-api-lib/src/lib/delegations/delegations-index.service.ts
Due: none

fix(web): Prune json fields from EmailSignup when mapping searchable content into Elasticsearch (#13964)
  libs/cms/src/lib/search/importers/utils.ts
Due: none

Add tests for foreign and domestic address.
  apps/services/auth/ids-api/src/app/user-profile/user-profile.controller.v3.spec.ts
Due: none

updates vol 2
  apps/web/components/CardWithFeaturedItems/CardWithFeaturedItems.css.ts
  apps/web/components/CardWithFeaturedItems/CardWithFeaturedItems.tsx
  apps/web/components/LifeEventsSection/LifeEventsSection.tsx
Due: none

feat(web): Chatbot custom message for "Purchase of residential property in Grindavík" article (#13981)
  apps/web/screens/Article/components/ArticleChatPanel/config.ts
Due: none

TRS-12 added check if registered owner is the current user
  apps/skilavottord/ws/src/app/modules/recyclingRequest/recyclingRequest.module.ts
  apps/skilavottord/ws/src/app/modules/recyclingRequest/recyclingRequest.service.ts
  apps/skilavottord/ws/src/app/modules/vehicle/vehicle.service.ts
  apps/skilavottord/ws/src/app/modules/vehicleOwner/vehicleOwner.module.ts
  apps/skilavottord/ws/src/app/services/icelandicTransportAuthority.module.ts
  apps/skilavottord/ws/src/app/services/icelandicTransportAuthority.services.ts
Due: none

chore(web): District commissioner chat bot should appear for all districts (#13982)
  apps/web/screens/Article/components/ArticleChatPanel/config.ts
Due: none

Fix linting error.
  apps/services/auth/ids-api/src/app/user-profile/user-profile.controller.v3.spec.ts
Due: none

feat(web): UI updates for Grindavík property purchase calculator (#13971)
  apps/web/components/connected/GrindavikResidentialPropertyPurchaseCalculator/GrindavikResidentialPropertyPurchaseCalculator.css.ts
  apps/web/components/connected/GrindavikResidentialPropertyPurchaseCalculator/GrindavikResidentialPropertyPurchaseCalculator.tsx
Due: none

added (updated) migration script for application admin scope
  libs/auth-api-lib/migrations/20240227133212-migrate-application-admin-scope.js
Due: none

feat(web): Pension Calculator - Fix translation strings and change UI according to new design (#13994)
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculatorResults.css.ts
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculatorResults.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/translationStrings.ts
  apps/web/screens/queries/PensionCalculator.ts
  libs/api/domains/social-insurance/src/lib/models/pensionCalculation.model.ts
  libs/api/domains/social-insurance/src/lib/socialInsurance.service.ts
  libs/api/domains/social-insurance/src/lib/utils.ts
Due: Portal GraphQL

fix(signature-collections): sort candidates (#13995)
  .github/CODEOWNERS
  libs/service-portal/signature-collection/src/components/SignedList/index.tsx
  libs/service-portal/signature-collection/src/screens/SigneeView/index.tsx
  libs/shared/connected/src/lib/SignatureLists/SignatureLists.tsx
  libs/shared/connected/src/lib/SignatureLists/useGetSignatureLists.ts
Due: none

Move 404 redirect logic to getServerSidePropsWrapper function
  apps/web/pages/_error.tsx
  apps/web/utils/getServerSidePropsWrapper.ts
  apps/web/utils/safelyExtractPathnameFromUrl.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
