Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

test
  libs/application/templates/estate/src/lib/utils.ts
Due: Application System API

schema fix
  libs/application/templates/estate/src/lib/dataSchema.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/application/templates/estate/src/lib/utils.ts
Due: Application System API

fix(j-s): District Court Conclusion Judge (#12828)
  apps/judicial-system/web/src/routes/CourtOfAppeal/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
Due: none

messages
  libs/application/templates/estate/src/forms/Sections/estateMembers.ts
  libs/application/templates/estate/src/lib/dataSchema.ts
  libs/application/templates/estate/src/lib/messages.ts
  libs/application/templates/estate/src/lib/utils.ts
Due: Application System API

fix: ýmis tweak á gjaldtímabilum
  libs/service-portal/core/src/components/TabNavigation/SubTabItem.tsx
  libs/service-portal/core/src/components/TabNavigation/TabNavigation.tsx
  libs/service-portal/core/src/lib/messages.ts
  libs/service-portal/finance/src/components/FinanceIntro/index.tsx
  libs/service-portal/finance/src/components/FinanceTransactionPeriods/FinanceTransactionPeriodsFilter.tsx
  libs/service-portal/finance/src/components/FinanceTransactionPeriods/FinanceTransactionSelectedPeriod.tsx
  libs/service-portal/finance/src/lib/messages.ts
  libs/service-portal/finance/src/lib/navigation.ts
  libs/service-portal/finance/src/screens/FinanceTransactionPeriods/FinanceTransactionPeriods.tsx
  libs/service-portal/finance/src/screens/FinanceTransactions/FinanceTransactions.tsx
Due: none

initial client
  libs/clients/signature-collection/.eslintrc.json
  libs/clients/signature-collection/README.md
  libs/clients/signature-collection/jest.config.ts
  libs/clients/signature-collection/project.json
  libs/clients/signature-collection/src/clientConfig.json
  libs/clients/signature-collection/src/index.ts
  libs/clients/signature-collection/src/lib/clients-signature-collection.module.ts
  libs/clients/signature-collection/tsconfig.json
  libs/clients/signature-collection/tsconfig.lib.json
  libs/clients/signature-collection/tsconfig.spec.json
  tsconfig.base.json
Due: none

Fix formatting of phone number in user profile settings
  libs/service-portal/information/src/components/PersonalInformation/Forms/ProfileForm/ProfileForm.tsx
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/lib/formatPhoneNumber.ts
Due: none

fix(j-s): Stop displaying appeal alert banner while loading case (#12831)
  apps/judicial-system/web/src/routes/CourtOfAppeal/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
  apps/judicial-system/web/src/routes/Defender/CaseOverview.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
  apps/judicial-system/web/src/utils/hooks/useAppealAlertBanner/index.tsx
Due: none

Hide registration from non registerable cars
  libs/service-portal/assets/src/lib/messages.ts
  libs/service-portal/assets/src/screens/VehicleDetail/VehicleDetail.tsx
  libs/service-portal/assets/src/screens/VehicleMilage/VehicleMilage.tsx
Due: none

Fix unnecesarry conditional
  libs/service-portal/information/src/components/PersonalInformation/Forms/ProfileForm/ProfileForm.tsx
Due: none

fix(j-s): Add margin to appeal case files title (#12835)
  apps/judicial-system/web/src/components/AppealCaseFilesOverview/AppealCaseFilesOverview.tsx
Due: none

feat: add api key
  libs/clients/intellectual-properties/src/lib/intellectualPropertiesClient.config.ts
Due: none

client tagf
  libs/clients/signature-collection/project.json
Due: none

fix(estate): schema fix and messages (#12868)
  libs/application/templates/estate/src/forms/Sections/estateMembers.ts
  libs/application/templates/estate/src/lib/dataSchema.ts
  libs/application/templates/estate/src/lib/messages.ts
  libs/application/templates/estate/src/lib/utils.ts
Due: Application System API

[TS-281] update bank account
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/application/templates/social-insurance-administration/core/.babelrc
  libs/application/templates/social-insurance-administration/core/.eslintrc.json
  libs/application/templates/social-insurance-administration/core/README.md
  libs/application/templates/social-insurance-administration/core/babel-jest.config.json
  libs/application/templates/social-insurance-administration/core/jest.config.js
  libs/application/templates/social-insurance-administration/core/project.json
  libs/application/templates/social-insurance-administration/core/src/socialInsuranceAdministrationUtils.spec.ts
  libs/application/templates/social-insurance-administration/core/src/socialInsuranceAdministrationUtils.ts
  libs/application/templates/social-insurance-administration/core/src/types.ts
  libs/application/templates/social-insurance-administration/core/tsconfig.json
  libs/application/templates/social-insurance-administration/core/tsconfig.lib.json
  libs/application/templates/social-insurance-administration/core/tsconfig.spec.json
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/oldAgePensionUtils.spec.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/oldAgePensionUtils.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/types.ts
  libs/application/templates/social-insurance-administration/pension-supplement/project.json
  libs/application/templates/social-insurance-administration/pension-supplement/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/fields/BankAccount/index.tsx
  libs/application/templates/social-insurance-administration/pension-supplement/src/fields/Review/review-groups/ApplicationReason.tsx
  libs/application/templates/social-insurance-administration/pension-supplement/src/fields/Review/review-groups/BaseInformation.tsx
  libs/application/templates/social-insurance-administration/pension-supplement/src/fields/Review/review-groups/Payment.tsx
  libs/application/templates/social-insurance-administration/pension-supplement/src/fields/index.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/forms/PensionSupplementForm.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/lib/PensionSupplementTemplate.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/lib/constants.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/lib/pensionSupplementUtils.ts
  tsconfig.base.json
Due: Application System API

Fix old-age pension template onExit action
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.ts
Due: Application System API

address comments from óli
  libs/application/core/src/lib/conditionUtils.ts
  libs/application/types/src/lib/Condition.ts
Due: Application System API

Fix merge conflicts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/lib/dataSchema.ts
Due: Application System API

feat(application-system): Allow conditionals to access externalData and user (#12864)
  libs/application/core/src/lib/conditionUtils.spec.ts
  libs/application/core/src/lib/conditionUtils.ts
  libs/application/core/src/lib/formUtils.ts
  libs/application/types/src/lib/Condition.ts
  libs/application/ui-shell/src/components/ConditionHandler.tsx
  libs/application/ui-shell/src/components/ScreenFooter.tsx
  libs/application/ui-shell/src/hooks/useApplicationTitle.ts
  libs/application/ui-shell/src/lib/FormShell.tsx
  libs/application/ui-shell/src/reducer/ApplicationFormReducer.ts
  libs/application/ui-shell/src/reducer/ReducerTypes.ts
  libs/application/ui-shell/src/reducer/reducerUtils.ts
Due: Application System API

change base font of xxs
  libs/island-ui/core/src/lib/Button/Button.css.ts
  libs/island-ui/core/src/lib/Input/Input.mixins.ts
  libs/island-ui/core/src/lib/Text/Text.css.ts
Due: none

fix(estate) - estate without assets - relation to deceased
  libs/application/templates/estate/src/fields/EstateMembersRepeater/index.tsx
  libs/application/templates/estate/src/forms/Sections/announcerInfo.ts
  libs/application/templates/estate/src/lib/dataSchema.ts
  libs/application/templates/estate/src/lib/messages.ts
Due: Application System API

use currency format on faceValue and stocksValue
  libs/application/templates/estate/src/fields/TextFieldsRepeater/index.tsx
  libs/application/templates/estate/src/forms/Sections/estateAssets.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/application/templates/estate/src/fields/TextFieldsRepeater/index.tsx
Due: Application System API

wip
  libs/application/templates/estate/src/fields/TextFieldsRepeater/index.tsx
  libs/application/templates/estate/src/forms/Forms.ts
  libs/application/templates/estate/src/forms/OverviewSections/assetsAndDebts.ts
  libs/application/templates/estate/src/lib/utils.ts
  libs/application/templates/estate/src/types.ts
Due: Application System API

wip
  libs/application/templates/estate/src/forms/Forms.ts
Due: Application System API

refactor
  libs/application/templates/estate/src/fields/TextFieldsRepeater/index.tsx
Due: Application System API

chore: nx format:write update dirty files
  libs/application/templates/estate/src/forms/OverviewSections/assetsAndDebts.ts
Due: Application System API

Add component feature-flag. Add shared resolver for mileage
  libs/api/domains/vehicles/src/lib/api-domains-vehicles-shared.resolver.ts
  libs/api/domains/vehicles/src/lib/api-domains-vehicles.module.ts
  libs/api/domains/vehicles/src/lib/api-domains-vehicles.resolver.ts
  libs/api/domains/vehicles/src/lib/api-domains-vehicles.service.ts
  libs/api/domains/vehicles/src/models/getVehicleDetail.model.ts
  libs/service-portal/assets/src/components/VehicleCard.tsx
  libs/service-portal/assets/src/screens/VehicleDetail/VehicleDetail.graphql
  libs/service-portal/assets/src/screens/VehicleDetail/VehicleDetail.tsx
Due: Portal GraphQL

fix: add correct statuses to medicine certificates
  libs/api/domains/rights-portal/src/lib/drug/models/drugCertificate.model.ts
  libs/clients/icelandic-health-insurance/rights-portal/src/clientConfig.json
  libs/service-portal/health/src/lib/messages.ts
  libs/service-portal/health/src/screens/Medicine/Medicine.graphql
  libs/service-portal/health/src/screens/Medicine/MedicineLicense.tsx
  libs/service-portal/health/src/screens/MedicineCertificate/MedicineCertificate.graphql
  libs/service-portal/health/src/screens/MedicineCertificate/MedicineCertificate.tsx
Due: Portal GraphQL

remove spouse allowance
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration-utils.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/fields/Review/review-groups/PaymentInformation.tsx
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/oldAgePensionUtils.ts
  libs/clients/social-insurance-administration/src/clientConfig.yaml
Due: Application System API

fix(service-portal): add correct statuses to medicine certificates (#12873)
  libs/api/domains/rights-portal/src/lib/drug/models/drugCertificate.model.ts
  libs/clients/icelandic-health-insurance/rights-portal/src/clientConfig.json
  libs/service-portal/health/src/lib/messages.ts
  libs/service-portal/health/src/screens/Medicine/Medicine.graphql
  libs/service-portal/health/src/screens/Medicine/MedicineLicense.tsx
  libs/service-portal/health/src/screens/MedicineCertificate/MedicineCertificate.graphql
  libs/service-portal/health/src/screens/MedicineCertificate/MedicineCertificate.tsx
Due: Portal GraphQL

isEmpty check
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/oldAgePensionUtils.ts
Due: Application System API

remove life event list slice
  apps/web/components/Organization/Slice/LifeEventPageListSlice/LifeEventPageListSlice.css.ts
  apps/web/components/Organization/Slice/LifeEventPageListSlice/LifeEventPageListSlice.tsx
  apps/web/components/Organization/Slice/SliceMachine.tsx
  apps/web/components/Organization/index.ts
  apps/web/screens/Organization/SubPage.tsx
  apps/web/screens/queries/fragments.ts
Due: none

update CODEOWNERS
  .github/CODEOWNERS
Due: none

[TS-203]: Sort out additional documents required
  libs/application/templates/household-supplement/src/fields/UploadAdditionalFilesInfoScreen/index.tsx
  libs/application/templates/household-supplement/src/fields/index.ts
  libs/application/templates/household-supplement/src/forms/AdditionalDocumentsRequired.ts
  libs/application/templates/household-supplement/src/forms/HouseholdSupplementForm.ts
  libs/application/templates/household-supplement/src/lib/HouseholdSupplementTemplate.ts
  libs/application/templates/household-supplement/src/lib/householdSupplementUtils.ts
Due: Application System API

fix(service-portal): add correct statuses to medicine certificates (#12873) (#12874)
  libs/api/domains/rights-portal/src/lib/drug/models/drugCertificate.model.ts
  libs/clients/icelandic-health-insurance/rights-portal/src/clientConfig.json
  libs/service-portal/health/src/lib/messages.ts
  libs/service-portal/health/src/screens/Medicine/Medicine.graphql
  libs/service-portal/health/src/screens/Medicine/MedicineLicense.tsx
  libs/service-portal/health/src/screens/MedicineCertificate/MedicineCertificate.graphql
  libs/service-portal/health/src/screens/MedicineCertificate/MedicineCertificate.tsx
Due: Portal GraphQL

refactor
  libs/application/templates/household-supplement/src/lib/householdSupplementUtils.ts
  libs/application/templates/household-supplement/src/types.ts
Due: Application System API

remove life events page from search
  apps/web/screens/Search/Search.tsx
  apps/web/screens/queries/Search.tsx
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
