Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Fix unintentional moved folder. Delete unused data files.
  libs/application/templates/healthcare-license-certificate/.babelrc
  libs/application/templates/healthcare-license-certificate/.eslintrc.json
  libs/application/templates/healthcare-license-certificate/README.md
  libs/application/templates/healthcare-license-certificate/jest.config.ts
  libs/application/templates/healthcare-license-certificate/project.json
  libs/application/templates/healthcare-license-certificate/src/assets/Logo.tsx
  libs/application/templates/healthcare-license-certificate/src/dataProviders/index.ts
  libs/application/templates/healthcare-license-certificate/src/fields/CustomFormConclusionSectionField/index.tsx
  libs/application/templates/healthcare-license-certificate/src/fields/CustomFormConclusionSectionField/styles.css.ts
  libs/application/templates/healthcare-license-certificate/src/fields/SelectLicenseField/index.tsx
  libs/application/templates/healthcare-license-certificate/src/fields/index.ts
  libs/application/templates/healthcare-license-certificate/src/forms/Confirmation/index.ts
  libs/application/templates/healthcare-license-certificate/src/forms/HealthcareLicenseCertificateForm/index.ts
  libs/application/templates/healthcare-license-certificate/src/forms/HealthcareLicenseCertificateForm/personalSection.ts
  libs/application/templates/healthcare-license-certificate/src/forms/HealthcareLicenseCertificateForm/selectLicenseSection.ts
  libs/application/templates/healthcare-license-certificate/src/forms/Prerequisites/index.ts
  libs/application/templates/healthcare-license-certificate/src/index.ts
  libs/application/templates/healthcare-license-certificate/src/lib/HealthcareLicenseCertificateTemplate.ts
  libs/application/templates/healthcare-license-certificate/src/lib/constants.ts
  libs/application/templates/healthcare-license-certificate/src/lib/dataSchema.ts
  libs/application/templates/healthcare-license-certificate/src/lib/messages/application.ts
  libs/application/templates/healthcare-license-certificate/src/lib/messages/confirmation.ts
  libs/application/templates/healthcare-license-certificate/src/lib/messages/error.ts
  libs/application/templates/healthcare-license-certificate/src/lib/messages/externalData.ts
  libs/application/templates/healthcare-license-certificate/src/lib/messages/index.ts
  libs/application/templates/healthcare-license-certificate/src/lib/messages/information.ts
  libs/application/templates/healthcare-license-certificate/src/lib/messages/payment.ts
  libs/application/templates/healthcare-license-certificate/src/lib/messages/personal.ts
  libs/application/templates/healthcare-license-certificate/src/shared/constants.ts
  libs/application/templates/healthcare-license-certificate/src/shared/index.ts
  libs/application/templates/healthcare-license-certificate/src/utils/formatDate.ts
  libs/application/templates/healthcare-license-certificate/src/utils/getChargeItems.ts
  libs/application/templates/healthcare-license-certificate/src/utils/getProfessionName.ts
  libs/application/templates/healthcare-license-certificate/src/utils/index.ts
  libs/application/templates/healthcare-license-certificate/tsconfig.json
  libs/application/templates/healthcare-license-certificate/tsconfig.lib.json
  libs/application/templates/healthcare-license-certificate/tsconfig.spec.json
  libs/application/templates/rental-agreement/src/fields/PropertySearch/propertData.ts
  libs/application/templates/rental-agreement/src/fields/PropertySearch/properties.ts
Due: Application System API

Probably can skip grant namespace for the worker
  apps/services/user-notification/infra/user-notification.ts
Due: none

fix(j-s): add env vars in backend infra
  apps/judicial-system/backend/infra/judicial-system-backend.ts
Due: none

Remove old payment system callback endpoint
  libs/application/api/payment/src/lib/payment-callback.controller.ts
Due: Application System API

chore: charts update dirty files
  charts/judicial-system-services/judicial-system-backend/values.dev.yaml
  charts/judicial-system-services/judicial-system-backend/values.prod.yaml
  charts/judicial-system-services/judicial-system-backend/values.staging.yaml
  charts/judicial-system/values.dev.yaml
  charts/judicial-system/values.prod.yaml
  charts/judicial-system/values.staging.yaml
Due: none

fix(j-s): revert
  apps/judicial-system/web/src/utils/hooks/useCase/createCase.graphql
Due: none

change link custom field id
  libs/auth-api-lib/src/lib/identity-confirmation/identity-confirmation.service.ts
Due: none

chore(j-s): Rename Guard (#18125)
  apps/judicial-system/api/src/app/modules/case-list/caseList.resolver.ts
  apps/judicial-system/api/src/app/modules/case/case.resolver.ts
  apps/judicial-system/api/src/app/modules/case/limitedAccessCase.resolver.ts
  apps/judicial-system/api/src/app/modules/defendant/civilClaimant.resolver.ts
  apps/judicial-system/api/src/app/modules/defendant/defendant.resolver.ts
  apps/judicial-system/api/src/app/modules/defendant/limitedAccessDefendant.resolver.ts
  apps/judicial-system/api/src/app/modules/event-log/eventLog.resolver.ts
  apps/judicial-system/api/src/app/modules/file/file.resolver.ts
  apps/judicial-system/api/src/app/modules/file/limitedAccessFile.resolver.ts
  apps/judicial-system/api/src/app/modules/indictment-count/indictmentCount.resolver.ts
  apps/judicial-system/api/src/app/modules/indictment-count/offense.resolver.ts
  apps/judicial-system/api/src/app/modules/institution/institution.resolver.ts
  apps/judicial-system/api/src/app/modules/police/police.resolver.ts
  apps/judicial-system/api/src/app/modules/subpoena/subpoena.resolver.ts
  apps/judicial-system/api/src/app/modules/user/user.resolver.ts
  libs/judicial-system/auth/src/lib/guards/auth.graphql.user.guard.ts
  libs/judicial-system/auth/src/lib/guards/index.ts
Due: none

fix(j-s): add env vars in backend infra (#18140)
  apps/judicial-system/backend/infra/judicial-system-backend.ts
  charts/judicial-system-services/judicial-system-backend/values.dev.yaml
  charts/judicial-system-services/judicial-system-backend/values.prod.yaml
  charts/judicial-system-services/judicial-system-backend/values.staging.yaml
  charts/judicial-system/values.dev.yaml
  charts/judicial-system/values.prod.yaml
  charts/judicial-system/values.staging.yaml
Due: none

fix(secondary school): Fix contentType with attachments (#18124)
  libs/application/template-api-modules/src/lib/modules/templates/secondary-school/secondary-school.service.ts
Due: Application System API

revert: back to using star_clients
  libs/clients/financial-statements-inao/src/lib/financialStatementsInaoClient.service.ts
Due: none

fix:ini v2
  apps/application-system/api/infra/application-system-api.ts
  charts/islandis-services/application-system-api/values.dev.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis-services/application-system-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: Application System API

Revert "fix(appplication-system): Add missing config (#18137)"
  libs/application/template-api-modules/src/lib/modules/templates/healthcare-license-certificate/healthcare-license-certificate.module.ts
Due: Application System API

fix: merge
  .github/workflows/install.yml
  .github/workflows/merge-queue.yml
  package.json
  scripts/ci/docker/package.json
  yarn.lock
Due: none

verify only minimally affected
  .github/workflows/pullrequest.yml
  .github/workflows/test-docker-build.yml
Due: none

Remove test-docker-build.yml
  .github/workflows/test-docker-build.yml
Due: none

feat(admin-api): Change Zendesk custom field id (#18141)
  libs/auth-api-lib/src/lib/identity-confirmation/identity-confirmation.service.ts
Due: none

add dismissed state and changes for 65+
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/README.md
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/AdditionalSupportForTheElderlyTemplate.spec.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/AdditionalSupportForTheElderlyTemplate.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/death-benefits/README.md
  libs/application/templates/social-insurance-administration/death-benefits/src/lib/DeathBenefitsTemplate.spec.ts
  libs/application/templates/social-insurance-administration/death-benefits/src/lib/DeathBenefitsTemplate.ts
  libs/application/templates/social-insurance-administration/death-benefits/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/household-supplement/README.md
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.spec.ts
  libs/application/templates/social-insurance-administration/pension-supplement/README.md
  libs/application/templates/social-insurance-administration/pension-supplement/src/lib/PensionSupplementTemplate.spec.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/lib/PensionSupplementTemplate.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/lib/messages.ts
Due: Application System API

Add image upload option
  libs/api/domains/official-journal-of-iceland-application/src/lib/mappers.ts
  libs/api/domains/official-journal-of-iceland-application/src/lib/ojoiApplication.service.ts
  libs/api/domains/official-journal-of-iceland-application/src/models/getPresignedUrl.response.ts
  libs/api/domains/official-journal-of-iceland-application/src/models/id.input.ts
  libs/application/templates/official-journal-of-iceland/src/components/additions/Additions.tsx
  libs/application/templates/official-journal-of-iceland/src/components/htmlEditor/HTMLEditor.tsx
  libs/application/templates/official-journal-of-iceland/src/components/input/OJOIHtmlController.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/Preview.tsx
  libs/application/templates/official-journal-of-iceland/src/graphql/queries.ts
  libs/application/templates/official-journal-of-iceland/src/hooks/useAssetUpload.ts
  libs/application/templates/official-journal-of-iceland/src/hooks/usePdf.ts
  libs/application/templates/official-journal-of-iceland/src/lib/messages/preview.ts
  libs/clients/official-journal-of-iceland/application/src/clientConfig.json
Due: Portal GraphQL, Application System API

Update libs/application/template-api-modules/src/lib/modules/templates/examples/example-common-actions/example-common-actions.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/examples/example-common-actions/example-common-actions.service.ts
Due: Application System API

addding ssh key
  .github/workflows/deploy-argocd.yml
Due: none

Update libs/application/template-api-modules/src/lib/modules/templates/examples/example-fields/example-fields.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/examples/example-fields/example-fields.service.ts
Due: Application System API

Update libs/application/template-api-modules/src/lib/modules/templates/examples/example-state-transfers/example-state-transfers.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/examples/example-state-transfers/example-state-transfers.service.ts
Due: Application System API

fix(inao): application submit (#18132)
  libs/clients/financial-statements-inao/src/lib/financialStatementsInaoClient.service.ts
Due: none

add feature flag
  libs/feature-flags/src/lib/features.ts
Due: none

Prefix nx with yarn
  .github/workflows/pullrequest.yml
Due: none

feat: get ready for release (#18136)
  .github/workflows/install.yml
  .github/workflows/merge-queue.yml
  .gitignore
  package.json
  scripts/ci/docker/.gitignore
  scripts/ci/docker/const.mjs
  scripts/ci/docker/generate-tag.mjs
  scripts/ci/docker/get-data.mjs
  scripts/ci/docker/package.json
  yarn.lock
Due: none

Use NX_BASE, not origin/main
  .github/workflows/pullrequest.yml
Due: none

fix(application-system-api): xroad infra and revert (#18142)
  apps/application-system/api/infra/application-system-api.ts
  charts/islandis-services/application-system-api/values.dev.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis-services/application-system-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/application/template-api-modules/src/lib/modules/templates/healthcare-license-certificate/healthcare-license-certificate.module.ts
Due: Application System API

Don't use AFFECTED_PROJECTS
  .github/workflows/pullrequest.yml
Due: none

Make sure to return selectedValues as array of string instead of stringified array, and use first index in selectedValues array where needed
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/currentNurserySubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/newSchoolSubSection.ts
  libs/application/templates/reference-template/src/forms/exampleForm/simpleInputsSection/asyncSelectSubsection.ts
  libs/application/templates/reference-template/src/forms/exampleForm/tablesAndRepeatersSection/fieldsRepeaterSubsection.ts
  libs/application/templates/reference-template/src/forms/exampleForm/tablesAndRepeatersSection/tableRepeaterSubsection.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/AsyncSelectFormField/AsyncSelectFormField.tsx
Due: Application System API

Update libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.spec.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.spec.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
