Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Fix lint
  apps/services/form-system/src/app/modules/fieldSettings/models/fieldSettings.mapper.ts
  apps/services/form-system/src/app/modules/forms/forms.service.ts
Due: none

Update tags
  apps/services/form-system/project.json
Due: none

feat:init
  libs/clients/mms/grade/.eslintrc.json
  libs/clients/mms/grade/README.md
  libs/clients/mms/grade/jest.config.ts
  libs/clients/mms/grade/project.json
  libs/clients/mms/grade/src/clientConfig.json
  libs/clients/mms/grade/src/index.ts
  libs/clients/mms/grade/src/lib/gradeClient.config.ts
  libs/clients/mms/grade/src/lib/gradeClient.module.ts
  libs/clients/mms/grade/src/lib/gradeClient.provider.ts
  libs/clients/mms/grade/src/lib/gradeClient.service.ts
  libs/clients/mms/grade/src/lib/gradeClient.type.ts
  libs/clients/mms/grade/tsconfig.json
  libs/clients/mms/grade/tsconfig.lib.json
  libs/clients/mms/grade/tsconfig.spec.json
  tsconfig.base.json
Due: none

chore: CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: app to configModule
  apps/api/src/app/app.module.ts
  libs/clients/mms/grade/project.json
  libs/clients/mms/grade/src/index.ts
  libs/clients/mms/grade/src/lib/gradeClient.module.ts
Due: Portal GraphQL

Remove empty test files
  apps/services/form-system/src/app/modules/fieldSettings/fieldSettings.service.spec.ts
  apps/services/form-system/src/app/modules/fields/fields.controller.spec.ts
  apps/services/form-system/src/app/modules/fields/fields.service.spec.ts
  apps/services/form-system/src/app/modules/screens/screens.controller.spec.ts
  apps/services/form-system/src/app/modules/screens/screens.service.spec.ts
  apps/services/form-system/src/app/modules/sections/sections.controller.spec.ts
  apps/services/form-system/src/app/modules/sections/sections.service.spec.ts
Due: none

Skip tests until implemented
  apps/services/form-system/src/app/modules/organizations/organizations.controller.spec.ts
  apps/services/form-system/src/app/modules/organizations/organizations.service.spec.ts
Due: none

Add advania as codeowner for new service
  .github/CODEOWNERS
Due: none

chore: remove console.log
  libs/application/template-api-modules/src/lib/modules/templates/financial-statement-individual-election/mappers/helpers.ts
Due: Application System API

chore: remove unused imports
  libs/application/templates/financial-statement-individual-election/src/fields/IndividualElectionOperatingIncome/Expenses.tsx
Due: Application System API

chore: swap interface for type
  libs/application/templates/financial-statement-individual-election/src/fields/IndividualElectionOperatingIncome/Expenses.tsx
Due: Application System API

chore: remove unused imports
  libs/application/templates/financial-statement-individual-election/src/fields/IndividualElectionOperatingIncome/Income.tsx
Due: Application System API

chore: remove unused imports
  libs/application/templates/financial-statement-individual-election/src/fields/Overview/AboutOverview.tsx
Due: Application System API

chore: add type Props for more readability
  libs/application/templates/financial-statement-individual-election/src/fields/Overview/AssetDebtEquityOverview.tsx
  libs/application/templates/financial-statement-individual-election/src/fields/Overview/CapitalNumbersOverview.tsx
Due: Application System API

chore: remove commented import
  libs/application/templates/financial-statement-individual-election/src/forms/done/index.ts
Due: Application System API

chore: undo changes to a file
  libs/clients/financial-statements-inao/src/lib/financialStatementsInao.config.ts
Due: none

chore: fix comments and add featureflag
  libs/application/templates/financial-statement-cemetery/src/forms/prerequisites/prerequsitesSection.ts
  libs/application/templates/financial-statement-cemetery/src/lib/dataSchema.ts
  libs/application/templates/financial-statement-cemetery/src/lib/financialStatementCemeteryTemplate.ts
  libs/feature-flags/src/lib/features.ts
Due: Application System API

chore: fix lint
  libs/application/template-loader/src/index.ts
  libs/application/templates/financial-statement-cemetery/project.json
Due: Application System API

chore: fix linting
  libs/application/templates/financial-statement-individual-election/jest.config.js
  libs/application/templates/financial-statement-individual-election/jest.config.ts
  libs/application/templates/financial-statement-individual-election/project.json
  libs/application/templates/financial-statement-individual-election/tsconfig.spec.json
Due: Application System API

fix: lint
  libs/application/template-loader/src/index.ts
Due: Application System API

fix(j-s): Dates
  apps/judicial-system/backend/src/app/formatters/confirmedIndictmentPdf.ts
  apps/judicial-system/backend/src/app/formatters/formatters.ts
  apps/judicial-system/backend/src/app/formatters/pdfHelpers.ts
  apps/judicial-system/web/src/components/InfoCard/DefendantInfo/DefendantInfo.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Tables/CasesAwaitingReview.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Tables/CasesForReview.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/components/ReviewDecision/ReviewDecision.tsx
  libs/judicial-system/formatters/src/lib/formatters.ts
Due: none

chore(j-s): cleanup
  apps/judicial-system/backend/src/app/formatters/caseFilesRecordPdf.ts
  apps/judicial-system/web/src/components/AccordionItems/IndictmentsCaseFilesAccordionItem/IndictmentsCaseFilesAccordionItem.tsx
  apps/judicial-system/web/src/components/SignedDocument/SignedDocument.tsx
Due: none

feat: refactor out notFilledOut custom component
  libs/application/templates/estate/src/fields/Cards/index.tsx
  libs/application/templates/estate/src/fields/DoneImage/index.tsx
  libs/application/templates/estate/src/fields/NotFilledOut/index.tsx
  libs/application/templates/estate/src/fields/index.ts
  libs/application/templates/estate/src/forms/OverviewSections/assetsAndDebts.ts
  libs/application/templates/estate/src/forms/OverviewSections/attachments.ts
  libs/application/templates/estate/src/forms/OverviewSections/representative.ts
  libs/application/templates/estate/src/lib/messages.ts
Due: Application System API

feat: refactor out doneImage coustomComponent
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/estate/src/components/assets/Grieving.tsx
  libs/application/templates/estate/src/fields/DoneImage/index.tsx
  libs/application/templates/estate/src/fields/index.ts
  libs/application/templates/estate/src/forms/Done.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/ImageFormField/ImageFormField.tsx
Due: Application System API

fix(j-s): Tests
  apps/judicial-system/web/src/components/InfoCard/DefendantInfo/DefendantInfo.spec.ts
  apps/judicial-system/web/src/components/Table/PastCasesTable/PastCases.spec.ts
Due: none

Update utils.ts
  apps/judicial-system/web/src/components/Tags/utils.ts
Due: none

chore(j-s): Reuse new tag on summary page
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.strings.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.tsx
Due: none

feat(j-s): Display connected indictment case files (#15526)
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/web/src/components/AccordionItems/ConnectedCaseFilesAccordionItem/ConnectedCaseFilesAccordionItem.strings.ts
  apps/judicial-system/web/src/components/AccordionItems/ConnectedCaseFilesAccordionItem/ConnectedCaseFilesAccordionItem.tsx
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/components/index.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.tsx
Due: none

Update Completed.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
Due: none

chore(j-s): Show connected files on summary and completed pages
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.tsx
Due: none

TRS-20 Replace get all vehicles in externaldata to use GraphQL paged enpoint
  libs/api/domains/vehicles/src/lib/api-domains-vehicles.resolver.ts
  libs/application/templates/car-recycling/codegen.yml
  libs/application/templates/car-recycling/project.json
  libs/application/templates/car-recycling/src/fields/VehiclesOverview/VehiclesOverview.tsx
  libs/application/templates/car-recycling/src/forms/Prerequisites.ts
  libs/application/templates/car-recycling/src/graphql/queries.ts
  libs/application/templates/car-recycling/src/hooks/index.ts
  libs/application/templates/car-recycling/src/lib/CarRecyclingTemplate.ts
  libs/application/templates/car-recycling/src/lib/carRecyclingUtils.ts
  libs/application/templates/car-recycling/src/lib/dataSchema.ts
  libs/application/templates/car-recycling/src/lib/messages.ts
  libs/application/templates/car-recycling/src/shared/types.ts
Due: Portal GraphQL, Application System API

TRS-20 Fix flanky tasks
  libs/application/templates/car-recycling/project.json
Due: Application System API

feat(estate): refactor custom components (#15536)
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/estate/src/components/assets/Grieving.tsx
  libs/application/templates/estate/src/fields/Cards/index.tsx
  libs/application/templates/estate/src/fields/DoneImage/index.tsx
  libs/application/templates/estate/src/fields/NotFilledOut/index.tsx
  libs/application/templates/estate/src/fields/index.ts
  libs/application/templates/estate/src/forms/Done.ts
  libs/application/templates/estate/src/forms/OverviewSections/assetsAndDebts.ts
  libs/application/templates/estate/src/forms/OverviewSections/attachments.ts
  libs/application/templates/estate/src/forms/OverviewSections/representative.ts
  libs/application/templates/estate/src/lib/messages.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/ImageFormField/ImageFormField.tsx
Due: Application System API

feat: remove prereq custom component
  libs/application/templates/document-provider-onboarding/src/assets/WomanWithLaptopIllustration.tsx
  libs/application/templates/document-provider-onboarding/src/fields/DocumentProvicerApplication/TermsOfAgreement/index.tsx
  libs/application/templates/document-provider-onboarding/src/fields/DocumentProvicerApplication/ThankYouScreen/index.tsx
  libs/application/templates/document-provider-onboarding/src/fields/index.ts
  libs/application/templates/document-provider-onboarding/src/forms/DocumentProviderApplication.ts
  libs/application/templates/document-provider-onboarding/src/forms/Finished.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/LinkFormField/LinkFormField.tsx
Due: Application System API

feat: remove custom field with image
  libs/application/templates/document-provider-onboarding/src/assets/ManOnBenchIllustration.tsx
  libs/application/templates/document-provider-onboarding/src/fields/Illustrations/WomanWithLaptopIllustration.tsx
  libs/application/templates/document-provider-onboarding/src/fields/Illustrations/WomanWithLaptopIllustrationPeriods.tsx
  libs/application/templates/document-provider-onboarding/src/fields/index.ts
  libs/application/templates/document-provider-onboarding/src/forms/Finished.ts
  libs/application/templates/document-provider-onboarding/src/forms/Rejected.ts
Due: Application System API

address PR comments pt 2
  apps/services/auth/delegation-api/src/app/delegations/test/delegation-index/delegation-index.service.spec.ts
  libs/api-catalogue/elastic/src/lib/elastic.service.ts
  libs/api-catalogue/elastic/src/lib/queries/search.model.ts
  libs/api/domains/file-upload/src/lib/file-upload.resolver.ts
  libs/application/api/files/src/lib/file.service.ts
  libs/application/template-api-modules/src/lib/modules/shared/services/attachment-s3.service.ts
  libs/application/template-api-modules/src/lib/modules/shared/shared.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/accident-notification/accident-notification.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/accident-notification/attachments/applicationAttachment.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/children-residence-change/children-residence-change.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/health-insurance/health-insurance.utils.ts
  libs/application/template-api-modules/src/lib/modules/templates/operating-license/operatingLicense.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/p-sign-submission/p-sign-submission.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/file-storage/src/lib/file-storage.service.ts
  libs/nest/aws/src/lib/aws.service.ts
Due: Portal GraphQL, Application System API

feat: make mobile options for ImageFormField
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/document-provider-onboarding/src/fields/Illustrations/ManOnBenchIllustration.tsx
  libs/application/templates/document-provider-onboarding/src/fields/Illustrations/ManOnBenchIllustrationPeriods.tsx
  libs/application/templates/document-provider-onboarding/src/fields/index.ts
  libs/application/templates/document-provider-onboarding/src/forms/Finished.ts
  libs/application/templates/document-provider-onboarding/src/forms/Rejected.ts
  libs/application/templates/estate/src/forms/Done.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/ImageFormField/ImageFormField.css.ts
  libs/application/ui-fields/src/lib/ImageFormField/ImageFormField.tsx
Due: Application System API

feat: remove two custom components and some code splitting
  libs/application/templates/document-provider-onboarding/src/fields/DocumentProvicerApplication/RejectionScreen/index.tsx
  libs/application/templates/document-provider-onboarding/src/fields/DocumentProvicerApplication/Review/index.tsx
  libs/application/templates/document-provider-onboarding/src/fields/DocumentProvicerApplication/ThankYouScreen/index.tsx
  libs/application/templates/document-provider-onboarding/src/fields/TestPhase/AutomatedTests/index.tsx
  libs/application/templates/document-provider-onboarding/src/fields/TestPhase/InfoScreen.tsx
  libs/application/templates/document-provider-onboarding/src/fields/TestPhase/ProdEndpoint/index.tsx
  libs/application/templates/document-provider-onboarding/src/fields/TestPhase/ProdEnvironment/index.tsx
  libs/application/templates/document-provider-onboarding/src/fields/TestPhase/TechnicalImplementation/index.tsx
  libs/application/templates/document-provider-onboarding/src/fields/TestPhase/TestEndPoint/index.tsx
  libs/application/templates/document-provider-onboarding/src/fields/TestPhase/TestEnvironment/index.tsx
  libs/application/templates/document-provider-onboarding/src/fields/index.ts
  libs/application/templates/document-provider-onboarding/src/forms/DocumentProviderApplication.ts
  libs/application/templates/document-provider-onboarding/src/forms/Finished.ts
  libs/application/templates/document-provider-onboarding/src/forms/PendingReview.ts
  libs/application/templates/document-provider-onboarding/src/forms/Rejected.ts
  libs/application/templates/document-provider-onboarding/src/forms/ReviewApplication.ts
  libs/application/templates/document-provider-onboarding/src/forms/TestPhase.ts
  libs/application/templates/document-provider-onboarding/src/lib/DocumentProviderOnboardingTemplate.ts
  libs/application/templates/document-provider-onboarding/src/lib/dataSchema.ts
  libs/application/templates/document-provider-onboarding/src/lib/messages.ts
Due: Application System API

TRS-20 - Fix clear field - Fix remove vehicles that has been selected
  libs/application/templates/car-recycling/src/fields/VehiclesOverview/VehiclesOverview.tsx
  libs/application/templates/car-recycling/src/hooks/index.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
