Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fix: mq pre-release
  scripts/ci/docker/generate-tag.mjs
Due: none

fix: be nice
  scripts/ci/docker/generate-tag.mjs
Due: none

Fix after review
  libs/api/domains/social-insurance/src/lib/models/general/union.model.ts
Due: Portal GraphQL

Create endpoint for public jwks in payments web app
  apps/payments/graphql/queries.graphql.ts
  apps/payments/infra/payments.ts
  apps/payments/next.config.js
  apps/payments/pages/.well-known/jwks.json.tsx
  apps/payments/pages/.well-known/openid-configuration.tsx
  apps/payments/pages/api/card/callback.ts
  apps/services/payments/src/app/jwks/dtos/serveJwks.response.ts
  apps/services/payments/src/app/jwks/jwks.controller.ts
  apps/services/payments/src/app/jwks/key-registry.service.ts
  libs/api/domains/payments/src/lib/dto/getJwks.response.ts
  libs/api/domains/payments/src/lib/payments.resolver.ts
  libs/api/domains/payments/src/lib/payments.service.ts
Due: Portal GraphQL

Disallow assigning lawyers who are not on LMFI's list
  apps/judicial-system/web/src/components/DefenderInfo/DefenderInfo.tsx
  apps/judicial-system/web/src/components/DefenderInfo/DefenderNotFound.strings.ts
  apps/judicial-system/web/src/components/DefenderInfo/DefenderNotFound.tsx
  apps/judicial-system/web/src/components/Inputs/InputAdvocate.tsx
  apps/judicial-system/web/src/components/SectionHeading/SectionHeading.tsx
  apps/judicial-system/web/src/components/VictimInfo/LegalRightsProtectorInputFields.tsx
  apps/judicial-system/web/src/components/index.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/SelectDefender.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/Defendant/Defendant.tsx
Due: none

fix: mq pre-release (#19046)
  scripts/ci/docker/generate-tag.mjs
Due: none

adding text for defenders
  apps/judicial-system/web/src/routes/Defender/Cases/Cases.strings.ts
  apps/judicial-system/web/src/routes/Defender/Cases/Cases.tsx
Due: none

chore: charts update dirty files
  charts/islandis-services/payments/values.dev.yaml
  charts/islandis-services/payments/values.prod.yaml
  charts/islandis-services/payments/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

Fixed typo after review
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/SelfAssessmentQuestionnaire/index.tsx
Due: Application System API

Trying to get s3 file uploads working
  libs/application/template-api-modules/src/lib/modules/templates/aosh/practical-exam/practical-exam.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/aosh/practical-exam/practical-exam.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/aosh/practical-exam/practical-exam.utils.ts
  libs/application/template-api-modules/src/lib/modules/templates/aosh/practical-exam/types.ts
  libs/application/templates/aosh/practical-exam/src/fields/Components/ExamInputs.tsx
  libs/application/templates/aosh/practical-exam/src/fields/Components/FileUpload.tsx
  libs/application/templates/aosh/practical-exam/src/lib/dataSchema.ts
Due: Application System API

feat(medical-and-rehabilitation-payments): Self assessment questionnaire screen (#19028)
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/index.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/SelfAssessmentQuestionnaire.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/SelfAssessmentQuestionnaire/index.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/index.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/selfAssessmentSection.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/selfAssessmentSection/index.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/selfAssessmentSection/selfAssessmentQuestionnaireSubSection.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/Prerequisites/externalDataSubSection.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/MedicalAndRehabilitationPaymentsTemplate.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/constants.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/medicalAndRehabilitationPaymentsUtils.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/types.ts
Due: Application System API

Remove spouse address
  libs/application/template-api-modules/src/lib/modules/shared/api/national-registry/national-registry.service.ts
Due: Application System API

Refactor
  apps/services/payments/src/app/jwks/key-registry.service.spec.ts
  apps/services/payments/src/app/jwks/key-registry.service.ts
Due: none

Set up empty convoy step
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/convoySection/convoyLongTerm.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/convoySection/convoyShortTerm.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/convoySection/index.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/dataSchema.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/convoy.ts
Due: Application System API

Updated codeowners
  .github/CODEOWNERS
Due: none

And moving string to messages
  libs/application/core/src/validation/validators.ts
  libs/application/templates/legal-gazette/src/forms/DraftForm.ts
  libs/application/templates/legal-gazette/src/lib/messages.ts
Due: Application System API

ci: setup pullthrough on yarn registry server
  .github/actions/setup-yarn/action.yml
Due: none

ci: setup codeartifact pullthrough functionality
  .github/actions/setup-yarn/action.yml
  .github/workflows/config-values.yaml
  .github/workflows/dedupe.yml
  .github/workflows/docker.yml
  .github/workflows/feature-close.yml
  .github/workflows/install.yml
  .github/workflows/merge-queue.yml
  .github/workflows/pullrequest-close.yml
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
Due: none

Fixing codeowner file
  .github/CODEOWNERS
Due: none

feat: .
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.module.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/forms/mainForm/realEstateSection.ts
Due: Application System API

Update mapping of data for rental service to conform to given types.
  apps/api/src/app/app.module.ts
  apps/application-system/api/src/app/app.module.ts
  charts/islandis-services/api/values.prod.yaml
  charts/islandis/values.prod.yaml
  infra/src/dsl/xroad.ts
  libs/application/template-api-modules/src/lib/modules/templates/rental-agreement/rental-agreement.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/rental-agreement/rental-agreement.service.ts
  libs/application/templates/rental-agreement/src/fields/Summary/OtherFeesSummary.tsx
  libs/application/templates/rental-agreement/src/forms/draft/rentalPeriodSubsections/rentalPeriodOtherFees.ts
  libs/application/templates/rental-agreement/src/lib/RentalAgreementTemplate.ts
  libs/application/templates/rental-agreement/src/utils/enums.ts
  libs/application/templates/rental-agreement/src/utils/utils.ts
  libs/clients/hms-rental-agreement/src/hmsRentalAgreement.config.ts
  tsconfig.base.json
Due: Portal GraphQL, Application System API

fixing linebreak spacing
  apps/judicial-system/backend/src/app/formatters/caseFilesRecordPdf.ts
Due: none

Add another locale
  apps/contentful-apps/components/editors/OverviewLinksEditor/OverviewLinksEditor.tsx
  libs/cms/src/lib/models/overviewLinks.model.ts
Due: none

feat(my-pages): Health - References & Waitlists (#17347)
  apps/portals/my-pages/src/components/Greeting/Greeting.tsx
  apps/portals/my-pages/src/components/Layout/Layout.tsx
  apps/portals/my-pages/src/components/Notifications/NotificationLine.tsx
  apps/portals/my-pages/src/components/Sticky/Sticky.tsx
  libs/api/domains/health-directorate/src/lib/dto/referral.input.ts
  libs/api/domains/health-directorate/src/lib/dto/waitlist.input.ts
  libs/api/domains/health-directorate/src/lib/health-directorate.resolver.ts
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/models/enums.ts
  libs/api/domains/health-directorate/src/lib/models/referral.model.ts
  libs/api/domains/health-directorate/src/lib/models/referrals.model.ts
  libs/api/domains/health-directorate/src/lib/models/waitlist.model.ts
  libs/api/domains/health-directorate/src/lib/utils/mappers.ts
  libs/auth/scopes/src/lib/api.scope.ts
  libs/clients/health-directorate/src/lib/clients/health/clientConfig.json
  libs/clients/health-directorate/src/lib/clients/health/health.service.ts
  libs/portals/my-pages/core/src/components/SortableTable/SortableTable.tsx
  libs/portals/my-pages/core/src/components/SortableTable/TableRow.tsx
  libs/portals/my-pages/core/src/lib/messages.ts
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/lib/navigation.ts
  libs/portals/my-pages/health/src/lib/paths.ts
  libs/portals/my-pages/health/src/module.tsx
  libs/portals/my-pages/health/src/screens/MedicinePrescriptions/components/NestedInfoLines/NestedInfoLines.tsx
  libs/portals/my-pages/health/src/screens/Referrals/Referrals.graphql
  libs/portals/my-pages/health/src/screens/Referrals/Referrals.tsx
  libs/portals/my-pages/health/src/screens/Referrals/ReferralsDetail.tsx
  libs/portals/my-pages/health/src/screens/Waitlists/Waitlists.graphql
  libs/portals/my-pages/health/src/screens/Waitlists/Waitlists.tsx
  libs/portals/my-pages/health/src/screens/Waitlists/WaitlistsDetail.tsx
  libs/portals/my-pages/health/src/utils/mockData.ts
Due: Portal GraphQL

messages cleanup
  libs/application/templates/driving-license-duplicate/src/lib/messages.ts
Due: Application System API

minor tweaks
  libs/application/templates/driving-license-duplicate/src/assets/test.tsx
  libs/application/templates/driving-license-duplicate/src/fields/PaymentCharge/index.tsx
  libs/application/templates/driving-license-duplicate/src/forms/sections/sectionDataProviders.ts
  libs/application/templates/driving-license-duplicate/src/forms/sections/sectionFakeData.ts
  libs/application/templates/driving-license-duplicate/src/forms/sections/sectionOverview.ts
  libs/application/templates/driving-license-duplicate/src/forms/sections/sectionSignatureAndPhoto.ts
  libs/application/templates/driving-license-duplicate/src/lib/drivingLicenseDuplicateTemplate.ts
Due: Application System API

allow inputfileupload to use on open functionality
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/PoliceCaseFilesRoute.tsx
  libs/island-ui/core/src/lib/InputFileUpload/InputFileUpload.tsx
Due: none

Revert "allow inputfileupload to use on open functionality"
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/PoliceCaseFilesRoute.tsx
  libs/island-ui/core/src/lib/InputFileUpload/InputFileUpload.tsx
Due: none

Update libs/cms/src/lib/models/overviewLinks.model.ts
  libs/cms/src/lib/models/overviewLinks.model.ts
Due: none

Add fallbacks
  apps/contentful-apps/components/editors/OverviewLinksEditor/OverviewLinksEditor.tsx
Due: none

Update key
  apps/contentful-apps/components/editors/OverviewLinksEditor/OverviewLinksEditor.tsx
Due: none

getHasQualityScannedPhoto service tweak and clientconfig update
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.ts
  libs/clients/driving-license/src/v5/clientConfig.json
Due: none

ci: fix prerelease push workflow (#18617)
  .github/workflows/push.yml
Due: none

Initialize state
  apps/contentful-apps/components/editors/OverviewLinksEditor/OverviewLinksEditor.tsx
Due: none

adding preview in all files uploads
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/WithdrawnAppealCase/WithdrawnAppealCase.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Processing/Processing.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/SendToPrisonAdmin/SendToPrisonAdmin.tsx
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealCaseFiles.tsx
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.tsx
  apps/judicial-system/web/src/routes/Shared/Statement/Statement.tsx
Due: none

add pgpass
  infra/scripts/container-scripts/destroy-dbs.sh
  infra/src/dsl/output-generators/feature-jobs.ts
Due: none

feat: handle token refresh in a guard
  apps/judicial-system/api/src/app/modules/auth/auth.controller.ts
  apps/judicial-system/api/src/app/modules/auth/auth.service.ts
  apps/judicial-system/api/src/app/modules/file/file.resolver.ts
  libs/judicial-system/auth/src/lib/guards/auth.graphql.user.guard.ts
  libs/judicial-system/auth/src/lib/guards/auth.refresh.token.guard.ts
  libs/judicial-system/auth/src/lib/guards/index.ts
Due: none

splling
  infra/scripts/container-scripts/destroy-dbs.sh
Due: none

adding provider for thjodskra images
  libs/application/template-api-modules/src/lib/modules/shared/api/driving-license/driving-license.service.ts
  libs/application/templates/driving-license-duplicate/src/assets/test.tsx
  libs/application/templates/driving-license-duplicate/src/fields/CreatePhoto/index.tsx
  libs/application/templates/driving-license-duplicate/src/forms/sections/sectionDataProviders.ts
  libs/application/templates/driving-license-duplicate/src/forms/sections/sectionSignatureAndPhoto.ts
  libs/application/templates/driving-license-duplicate/src/lib/drivingLicenseDuplicateTemplate.ts
  libs/application/types/src/lib/template-api/shared-api/shared-api-definitions/driving-license.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.ts
Due: Application System API

linting test
  libs/application/templates/driving-license-duplicate/src/forms/sections/sectionDataProviders.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
