Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

temp replace download url
  libs/api/domains/university-of-iceland/src/lib/universityOfIceland.resolver.ts
Due: Portal GraphQL

fix: better imports
  libs/clients/firearm-license/src/lib/firearmLicenseClient.module.ts
  libs/clients/firearm-license/src/lib/openFirearmLicenseClient.module.ts
  libs/clients/license-client/src/lib/clients/firearm-license-client/firearmLicenseClient.module.ts
Due: none

cleanup
  libs/service-portal/petitions/src/screens/PetitionsTable/ExportPetition/index.tsx
Due: none

removed console log
  libs/service-portal/petitions/src/screens/PetitionsTable/index.tsx
Due: none

fix: codeowners
  .github/CODEOWNERS
Due: none

feat(island-ui): Change icon prop for Input component
  apps/judicial-system/web/src/components/DateTime/DateTime.tsx
  apps/judicial-system/web/src/routes/Court/components/CourtCaseNumber/CourtCaseNumber.tsx
  libs/island-ui/core/src/lib/DatePicker/DatePicker.tsx
  libs/island-ui/core/src/lib/DatePicker/types.ts
  libs/island-ui/core/src/lib/Filter/FilterInput/FilterInput.tsx
  libs/island-ui/core/src/lib/Input/Input.tsx
  libs/island-ui/core/src/lib/Input/types.ts
  libs/island-ui/core/src/lib/Menu/Menu.tsx
Due: none

feat: initial commit
  SUMMARY.md
  libs/clients/license-clients/.babelrc
  libs/clients/license-clients/.eslintrc.json
  libs/clients/license-clients/README.md
  libs/clients/license-clients/jest.config.js
  libs/clients/license-clients/project.json
  libs/clients/license-clients/src/index.ts
  libs/clients/license-clients/src/lib/clients-license-clients.spec.ts
  libs/clients/license-clients/src/lib/clients-license-clients.ts
  libs/clients/license-clients/tsconfig.json
  libs/clients/license-clients/tsconfig.lib.json
  libs/clients/license-clients/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: none

fix: rename!
  libs/clients/license-clients/.babelrc
  libs/clients/license-clients/.eslintrc.json
  libs/clients/license-clients/README.md
  libs/clients/license-clients/jest.config.js
  libs/clients/license-clients/project.json
  libs/clients/license-clients/src/index.ts
  libs/clients/license-clients/src/lib/clients-license-clients.spec.ts
  libs/clients/license-clients/src/lib/clients-license-clients.ts
  libs/clients/license-clients/tsconfig.json
  libs/clients/license-clients/tsconfig.lib.json
  libs/clients/license-clients/tsconfig.spec.json
Due: none

fix: cleanup
  SUMMARY.md
  tsconfig.base.json
  workspace.json
Due: none

fix: date format
  libs/api/domains/university-of-iceland/src/lib/universityOfIceland.resolver.ts
Due: Portal GraphQL

Update gildistokugrein regex
  libs/portals/admin/regulations-admin/src/utils/formatAmendingRegulation.ts
Due: none

fix(transport-authority): fixing bugs in transfer of vehicle ownership (#10221)
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/transfer-of-vehicle-ownership/transfer-of-vehicle-ownership.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/transfer-of-vehicle-ownership/transfer-of-vehicle-ownership.utils.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/CoOwner/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/CoOwner/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/CoOwnerAndOperatorRepeater/BuyerItem.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/CoOwnerAndOperatorRepeater/CoOwnerAndOperatorRepeaterItem.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/CoOwnerAndOperatorRepeater/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/Overview/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/Overview/sections/OperatorSection.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/Overview/sections/VehicleSection.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/Review/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/ReviewCoOwnerAndOperatorRepeater/ReviewCoOwnerAndOperatorRepeaterItem.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/ReviewCoOwnerAndOperatorRepeater/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/ValidationErrorMessages/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/VehicleSelectField.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/VehiclesField/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/forms/TransferOfVehicleOwnershipForm/InformationSection/buyerSubSection.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/forms/TransferOfVehicleOwnershipForm/InformationSection/mainOperatorSubSection.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/TransferOfVehicleOwnershipTemplate.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/dataSchema.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/messages/information.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/shared/types.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/utils/getApproveAnswers.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/utils/getRejecter.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/utils/getReviewSteps.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/utils/getReviewerInfo.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/utils/isLastReviewer.ts
Due: Application System API

upload files functionality added + component is now responsive
  apps/samradsgatt/components/WriteReviewCard/WriteReviewCard.tsx
Due: none

fix git mistakes
  .envrc copy
  .github/CODEOWNERS
  libs/application/template-loader/src/lib/templateLoaders.ts
  libs/application/templates/institution-collaboration/src/lib/messages.ts
  libs/application/types/src/lib/ApplicationTypes.ts
  tsconfig.base.json
Due: Application System API

near-operation-file in codegen and call generated query
  apps/consultation-portal/codegen.yml
  apps/consultation-portal/pages/test.tsx
Due: none

Review conclusion: Use MessageWithLinkButtonForm
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/ReviewConclusion/index.tsx
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/fields/index.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/ReviewConclusion/index.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/ReviewConclusion/index.tsx
Due: Application System API

test spec
  libs/clients/judicial-administration/tsconfig.spec.json
Due: none

card is clickable
  apps/samradsgatt/components/Card/Card.tsx
Due: none

fix: delete old license-api
  apps/license-api/.eslintrc.json
  apps/license-api/README.md
  apps/license-api/esbuild.json
  apps/license-api/infra/license-api.ts
  apps/license-api/jest.config.js
  apps/license-api/project.json
  apps/license-api/src/app/.gitkeep
  apps/license-api/src/app/app.module.ts
  apps/license-api/src/app/decorators/nationalId.ts
  apps/license-api/src/app/modules/license/dto/index.ts
  apps/license-api/src/app/modules/license/dto/revokeLicense.dto.ts
  apps/license-api/src/app/modules/license/dto/updateLicense.dto.ts
  apps/license-api/src/app/modules/license/dto/verifyLicense.dto.ts
  apps/license-api/src/app/modules/license/license.controller.ts
  apps/license-api/src/app/modules/license/license.module.ts
  apps/license-api/src/app/modules/license/license.service.ts
  apps/license-api/src/app/modules/license/license.types.ts
  apps/license-api/src/assets/.gitkeep
  apps/license-api/src/buildOpenApi.ts
  apps/license-api/src/environments/environment.ts
  apps/license-api/src/environments/index.ts
  apps/license-api/src/main.ts
  apps/license-api/src/openApi.ts
  apps/license-api/test/globalSetup.ts
  apps/license-api/test/globalTeardown.ts
  apps/license-api/test/setup.ts
  apps/license-api/tsconfig.app.json
  apps/license-api/tsconfig.json
  apps/license-api/tsconfig.spec.json
Due: none

Fixing breadcrumbs
  apps/samradsgatt/components/WriteReviewCard/WriteReviewCard.tsx
  apps/samradsgatt/pages/mal/[slug].tsx
  apps/samradsgatt/pages/um/index.tsx
  apps/samradsgatt/pages/umsagnir/index.tsx
Due: none

unit test
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/children/children-utils.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.utils.spec.ts
  libs/application/templates/parental-leave/src/config.ts
  libs/application/templates/parental-leave/src/forms/Prerequisites.ts
  libs/application/templates/parental-leave/src/lib/dataSchema.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.spec.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.ts
Due: Application System API

few tweaks
  libs/service-portal/petitions/src/screens/ViewPetitionList/index.tsx
Due: none

tweaks
  libs/service-portal/petitions/src/screens/ViewPetitionList/index.tsx
Due: none

feature flag
  apps/application-system/api/src/app/modules/application/tools/application.serializer.ts
  libs/application/core/src/lib/ApplicationTemplateHelper.spec.ts
  libs/feature-flags/src/lib/features.ts
Due: Application System API

rm console log
  apps/application-system/api/src/app/modules/application/tools/application.serializer.ts
Due: Application System API

fix(island-ui): fix icon usage after prop change
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
  libs/application/templates/driving-instructor-registrations/src/fields/StudentsOverview/index.tsx
  libs/portals/admin/document-provider/src/components/Forms/StatisticForm.tsx
  libs/portals/admin/document-provider/src/screens/DocumentProviders/DocumentProvidersSearch.tsx
  libs/portals/shared-modules/delegations/src/components/delegations/outgoing/DelegationsOutgoingHeader.tsx
  libs/service-portal/vehicles/src/screens/Lookup/Lookup.tsx
  libs/service-portal/vehicles/src/screens/Overview/Overview.tsx
  libs/service-portal/vehicles/src/screens/VehicleHistory/VehicleHistory.tsx
  libs/shared/form-fields/src/lib/InputController/InputController.tsx
Due: Application System API

fix(j-s): Remove test input
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
  libs/service-portal/applications/src/screens/Overview.tsx
Due: none

condition works
  libs/application/templates/european-health-insurance-card/src/forms/EuropeanHealthInsuranceCardForm.tsx
  libs/application/templates/european-health-insurance-card/src/lib/helpers/applicantHelper.ts
Due: Application System API

fix(island-ui): Checkbox removed defaultValue prop and logic
  libs/island-ui/core/src/lib/Checkbox/Checkbox.tsx
  libs/portals/admin/air-discount-scheme/src/screens/Overview/components/Filters/Filters.tsx
Due: none

fix comment
  libs/island-ui/core/src/lib/Checkbox/Checkbox.tsx
Due: none

dev conf
  libs/clients/judicial-administration/project.json
  libs/clients/judicial-administration/src/lib/judicialAdministration.config.ts
Due: none

usermenu in header, responsive
  apps/samradsgatt/components/Menu/Menu.tsx
  apps/samradsgatt/components/Menu/MenuItems.ts
  apps/samradsgatt/components/Modal/MenuModal.tsx
Due: none

feat(judicial-administration): Client (#9560)
  apps/api/infra/api.ts
  apps/api/src/app/app.module.ts
  apps/application-system/api/infra/application-system-api.ts
  apps/application-system/api/src/app/app.module.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/dsl/xroad.ts
  libs/application/core/src/lib/messages.ts
  libs/application/template-api-modules/src/lib/modules/templates/operating-license/constants.ts
  libs/application/template-api-modules/src/lib/modules/templates/operating-license/operatingLicense.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/operating-license/operatingLicense.service.ts
  libs/application/templates/operating-license/src/dataProviders/index.ts
  libs/application/templates/operating-license/src/forms/draft/draft.ts
  libs/application/templates/operating-license/src/forms/draft/sectionOverview.ts
  libs/application/templates/operating-license/src/index.ts
  libs/application/templates/operating-license/src/lib/OperatingLicenseTemplate.ts
  libs/application/templates/operating-license/src/lib/error.ts
  libs/application/templates/operating-license/src/lib/messages.ts
  libs/clients/judicial-administration/.eslintrc.json
  libs/clients/judicial-administration/README.md
  libs/clients/judicial-administration/jest.config.js
  libs/clients/judicial-administration/project.json
  libs/clients/judicial-administration/src/clientConfig.json
  libs/clients/judicial-administration/src/index.ts
  libs/clients/judicial-administration/src/lib/api.config.ts
  libs/clients/judicial-administration/src/lib/judicialAdministration.config.ts
  libs/clients/judicial-administration/src/lib/judicialAdministration.module.ts
  libs/clients/judicial-administration/src/lib/judicialAdministration.service.ts
  libs/clients/judicial-administration/src/lib/providers.ts
  libs/clients/judicial-administration/tsconfig.json
  libs/clients/judicial-administration/tsconfig.lib.json
  libs/clients/judicial-administration/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: Portal GraphQL, Application System API

feat: environment configs for redis
  apps/application-system/api/infra/application-system-api.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/dsl/dsl.ts
  infra/src/dsl/output-generators/map-to-helm-values.ts
  infra/src/dsl/types/charts.ts
  infra/src/dsl/types/input-types.ts
  infra/src/environments.ts
Due: Application System API

condition works (#10230)
  libs/application/templates/european-health-insurance-card/src/forms/EuropeanHealthInsuranceCardForm.tsx
  libs/application/templates/european-health-insurance-card/src/lib/helpers/applicantHelper.ts
Due: Application System API

confirmation screen
  libs/application/templates/european-health-insurance-card/src/fields/CompletedScreen/CompletedScreen.tsx
  libs/application/templates/european-health-insurance-card/src/forms/EuropeanHealthInsuranceCardCompleted.tsx
  libs/application/templates/european-health-insurance-card/src/lib/messages.ts
Due: Application System API

remove pdf text if no apply for pdf
  libs/application/templates/european-health-insurance-card/src/fields/CompletedScreen/CompletedScreen.tsx
Due: Application System API

confirmation screen (#10234)
  libs/application/templates/european-health-insurance-card/src/fields/CompletedScreen/CompletedScreen.tsx
  libs/application/templates/european-health-insurance-card/src/forms/EuropeanHealthInsuranceCardCompleted.tsx
  libs/application/templates/european-health-insurance-card/src/lib/messages.ts
Due: Application System API
