Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

feat(app-sys): markdown labels for checkboxes and radio (#17506)
  libs/application/ui-fields/src/lib/CheckboxFormField/CheckboxFormField.tsx
  libs/application/ui-fields/src/lib/RadioFormField/RadioFormField.tsx
Due: none

fix(j-s): update info section components
  apps/judicial-system/web/src/routes/Court/components/ReceptionAndAssignment/ReceptionAndAssignment.tsx
Due: none

Fixed after coderabbit review
  libs/application/templates/new-primary-school/src/lib/messages.ts
Due: Application System API

remove unused test
  apps/system-e2e/src/tests/islandis/admin-portal/smoke/admin-delegations.spec.ts
Due: none

Move NODE_ENV after codegen
  scripts/ci/Dockerfile
Due: none

Allow clearing connected case
  apps/judicial-system/web/src/components/CourtDocuments/CourtDocuments.tsx
  apps/judicial-system/web/src/components/SelectComponents/SelectComponents.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/SelectConnectedCase.tsx
  libs/island-ui/core/src/lib/Select/Components/index.tsx
  libs/island-ui/core/src/lib/Select/Select.tsx
Due: none

Add build for sys-deps for caching
  .github/workflows/docker.yml
Due: none

Add clearable option to Select component
  libs/application/templates/aosh/work-accident-notification/src/fields/Components/MultiSelectDropdown.tsx
  libs/island-ui/core/src/lib/Select/Components/index.tsx
  libs/island-ui/core/src/lib/Select/Select.tsx
Due: Application System API

feat(j-s): show case number on infocard
  apps/judicial-system/web/src/components/InfoCard/useInfoCardItems.tsx
Due: none

fix(j-s): format
  apps/judicial-system/web/src/components/InfoCard/useInfoCardItems.tsx
Due: none

Skip tab for link
  apps/web/components/Organization/Slice/OverviewLinks/OverviewLinks.tsx
Due: none

fix/review-updates
  apps/native/app/src/screens/wallet/components/wallet-item.tsx
  apps/native/app/src/screens/wallet/wallet.tsx
  apps/native/app/src/ui/lib/card/license-card.tsx
  apps/native/app/src/ui/lib/card/license-list-card.tsx
Due: none

Add validation in dataSchema for other fees.
  libs/application/templates/rental-agreement/src/fields/Summary/OtherFeesSummary.tsx
  libs/application/templates/rental-agreement/src/fields/Summary/index.tsx
  libs/application/templates/rental-agreement/src/forms/rentalPeriod/rentalPeriodDetails.ts
  libs/application/templates/rental-agreement/src/forms/rentalPeriod/rentalPeriodOtherFees.ts
  libs/application/templates/rental-agreement/src/lib/RentalAgreementTemplate.ts
  libs/application/templates/rental-agreement/src/lib/constants.ts
  libs/application/templates/rental-agreement/src/lib/dataSchema.ts
  libs/application/templates/rental-agreement/src/lib/messages/rentalInfo/otherFees.ts
  libs/application/templates/rental-agreement/src/lib/utils.ts
Due: Application System API

chore: cleanup
  apps/web/screens/Grants/SearchResults/SearchResults.tsx
  apps/web/screens/Grants/SearchResults/SearchResultsFilter.tsx
  apps/web/screens/Grants/types.ts
  apps/web/screens/Grants/utils.ts
  libs/cms/src/lib/cms.resolver.ts
  libs/cms/src/lib/dto/getGrants.input.ts
  libs/cms/src/lib/models/grant.model.ts
  libs/portals/my-pages/information/src/components/PersonalInformation/Forms/ProfileForm/components/Inputs/BankInfoForm.tsx
Due: none

PR comment fixes
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/aosh/seminars/src/fields/Participants/index.tsx
  libs/application/templates/aosh/seminars/src/forms/SeminarRegistrationForm/ParticipantsSection/index.ts
  libs/application/templates/aosh/seminars/src/lib/messages/participants.ts
  libs/application/templates/aosh/seminars/src/shared/types.ts
  libs/application/templates/aosh/seminars/src/utils/index.ts
  libs/application/templates/aosh/seminars/src/utils/validateCsvInput.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterFormField.tsx
Due: Application System API

Update shas for labeling
  .github/workflows/docker.yml
Due: none

Add comment
  scripts/ci/Dockerfile
Due: none

TS-936 Municipality - Rollback debug
  apps/skilavottord/web/auth/utils.ts
  apps/skilavottord/ws/src/app/modules/auth/auth.guard.ts
Due: none

Build and copy to /dist instead of relative APP_DIST_HOME
  scripts/ci/Dockerfile
Due: none

fix(skilavottord): Rollback debug (#17520)
  apps/skilavottord/web/auth/utils.ts
  apps/skilavottord/ws/src/app/modules/auth/auth.guard.ts
Due: none

Set pipefail for jq pipe
  scripts/ci/Dockerfile
Due: none

Correct targets and APP
  .github/workflows/docker.yml
Due: none

fix(marriage-conditions): fix for hasElectronicID response check
  libs/clients/syslumenn/src/lib/syslumennClient.service.ts
Due: none

Set SHELL
  scripts/ci/Dockerfile
Due: none

Add merge-commit computation
  .github/workflows/docker.yml
Due: none

Casing and dash/underscore
  .github/workflows/docker.yml
Due: none

Remove parallelism constraint
  .github/workflows/docker.yml
Due: none

Remove upstream from merge-base
  .github/workflows/docker.yml
Due: none

harder checkouts, reset, and allow fail
  .github/workflows/docker.yml
Due: none

getting started
  libs/api/domains/form-system/src/dto/form.input.ts
  libs/api/domains/form-system/src/lib/forms/forms.service.ts
  libs/api/domains/form-system/src/lib/values/values.resolver.ts
  libs/api/domains/form-system/src/lib/values/values.service.ts
  libs/api/domains/form-system/src/models/form.model.ts
  libs/clients/form-system/src/clientConfig.json
  libs/clients/form-system/src/lib/FormSystemApiProvider.ts
  libs/clients/form-system/src/lib/form-system.module.ts
  libs/portals/admin/form-system/src/components/TableRow/TableRow.tsx
  libs/portals/admin/form-system/src/screens/Forms/Forms.tsx
  libs/portals/form-system/graphql/src/lib/fragments/form.ts
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: Portal GraphQL

cleanup
  apps/services/form-system/migrations/20240605120322-create-form.js
  apps/services/form-system/src/app/app.module.ts
  apps/services/form-system/src/app/modules/applications/applications.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
  apps/services/form-system/src/app/modules/applications/models/application.mapper.ts
  apps/services/form-system/src/app/modules/applications/models/dto/application.dto.ts
  apps/services/form-system/src/app/modules/applications/models/dto/applicationMinimal.dto.ts
  apps/services/form-system/src/app/modules/fields/models/dto/field.dto.ts
  apps/services/form-system/src/app/modules/forms/forms.controller.ts
  apps/services/form-system/src/app/modules/forms/forms.service.ts
  apps/services/form-system/src/app/modules/forms/models/dto/form.dto.ts
  apps/services/form-system/src/app/modules/forms/models/dto/updateForm.dto.ts
  apps/services/form-system/src/app/modules/forms/models/form.model.ts
  apps/services/form-system/src/app/modules/screens/screens.controller.ts
  apps/services/form-system/src/app/modules/screens/screens.service.ts
  apps/services/form-system/src/app/modules/services/validation.service.ts
  apps/services/form-system/src/app/modules/services/validation/textbox.validation.ts
Due: none

add barcode session to redis and check for session before creating barcode
  libs/api/domains/license-service/src/lib/licenseService.service.ts
  libs/auth-nest-tools/src/lib/auth.ts
  libs/auth-nest-tools/src/lib/jwt.payload.ts
  libs/auth-nest-tools/src/lib/jwt.strategy.ts
  libs/services/license/src/lib/barcode.service.ts
Due: Portal GraphQL

fix(marriage-conditions): fix for hasElectronicID response check (#17521)
  libs/clients/syslumenn/src/lib/syslumennClient.service.ts
Due: none

Include second/third selection - different if limited school count
  libs/application/templates/secondary-school/src/fields/schoolSelection/SelectionItem.tsx
  libs/application/templates/secondary-school/src/fields/schoolSelection/index.tsx
Due: Application System API

Cleanup
  libs/application/templates/secondary-school/src/forms/secondarySchoolForm/extraInformationSection/index.ts
  libs/application/templates/secondary-school/src/forms/secondarySchoolForm/userInformationSection/personalSubSection.ts
  libs/application/templates/secondary-school/src/lib/dataSchema.ts
  libs/application/templates/secondary-school/src/lib/messages/extraInformation.ts
Due: Application System API

throwing error in submitApplication so user can't hand in erroneous application, Fixing time and date issue if accident date is today and time is into the future
  libs/application/template-api-modules/src/lib/modules/templates/aosh/work-accident-notification/work-accident-notification.service.ts
  libs/application/templates/aosh/work-accident-notification/src/forms/WorkAccidentNotificationForm/AccidentSection/about.ts
  libs/application/templates/aosh/work-accident-notification/src/lib/dataSchema.ts
Due: Application System API

Set defaults for PLAYWRIGHT_VERSION
  scripts/ci/Dockerfile
Due: none

Add playwright-image-tag build-arg
  .github/workflows/docker.yml
Due: none

Use yarn for getting playwright version
  .github/workflows/docker.yml
Due: none

changing to checkbox form field
  libs/application/templates/aosh/seminars/src/forms/SeminarRegistrationForm/PaymentArrangement/index.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
