Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fix(clients-rsk-relationships): Removing admin scope from fallback value. (#12029)
  libs/clients/rsk/relationships/src/lib/RskRelationshipsClientConfig.ts
Due: none

fix test
  libs/application/templates/parental-leave/src/lib/answerValidators.spec.ts
Due: Application System API

First judge in COA should be a foreperson
  apps/judicial-system/web/src/routes/CourtOfAppeal/AppealCase/AppealCase.strings.ts
  apps/judicial-system/web/src/routes/CourtOfAppeal/AppealCase/AppealCase.tsx
Due: none

fix(j-s): Add to other pages where the list is displayed
  apps/judicial-system/web/src/routes/Defender/CaseOverview.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
Due: none

chore(service-portal): outbound link clicks (#11985)
  apps/service-portal/src/index.src.html
  libs/plausible/src/lib/servicePortalEvents.ts
  libs/service-portal/core/src/components/LinkResolver/LinkResolver.tsx
  libs/service-portal/core/src/components/UserInfoLine/UserInfoLine.tsx
  libs/service-portal/documents/src/components/DocumentLine/DocumentLine.tsx
  libs/service-portal/health/src/components/LinkButton/LinkButton.tsx
Due: none

- Rollback changes - Added translation strings
  libs/application/template-api-modules/src/lib/modules/templates/old-age-pension/old-age-pension.module.ts
  libs/application/templates/old-age-pension/src/forms/Prerequisites.ts
  libs/application/templates/old-age-pension/src/lib/messages.ts
Due: Application System API

fix(j-s): Remove appeal judge name from appeal conclusion
  apps/judicial-system/web/src/components/Conclusion/AppealConclusion.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
  apps/judicial-system/web/src/routes/Defender/CaseOverview.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
Due: none

fix(j-s): wrong branch
  apps/judicial-system/web/src/components/Conclusion/AppealConclusion.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
  apps/judicial-system/web/src/routes/Defender/CaseOverview.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
Due: none

fix(j-s): Remove judge from appeal conclusion
  apps/judicial-system/web/src/components/Conclusion/AppealConclusion.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
  apps/judicial-system/web/src/routes/Defender/CaseOverview.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
Due: none

fix: init
  libs/service-portal/information/src/screens/Child/Child.tsx
Due: none

feat(origo cleanup): Remove unused feature flags (#12026)
  libs/application/templates/transport-authority/license-plate-renewal/src/lib/LicensePlateRenewalTemplate.ts
  libs/feature-flags/src/lib/features.ts
Due: Application System API

fix test2
  libs/application/templates/parental-leave/src/lib/answerValidators.spec.ts
Due: Application System API

added sleep time to auth ids api
  apps/services/auth/ids-api/infra/ids-api.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

added specific sleep timing to chart generation
  infra/src/dsl/dsl.ts
  infra/src/dsl/output-generators/map-to-helm-values.ts
  infra/src/dsl/service-to-environment/pre-process-service.ts
  infra/src/dsl/types/input-types.ts
  infra/src/dsl/types/output-types.ts
Due: none

uploadAccept on correct field
  libs/application/templates/complaints-to-althingi-ombudsman/src/forms/ComplaintsToAlthingiOmbudsmanApplication.ts
Due: Application System API

Added text-align styles to Text component
  apps/judicial-system/web/src/components/Conclusion/Conclusion.tsx
  libs/island-ui/core/src/lib/Text/Text.css.ts
  libs/island-ui/core/src/lib/Text/Text.tsx
Due: none

filtered out empty translations
  libs/auth-api-lib/src/lib/resources/admin/services/admin-translation.service.ts
Due: none

fix: null checks
  libs/api/domains/national-registry/src/lib/v1/soffia.service.ts
Due: Portal GraphQL

updated test
  infra/src/dsl/basic.spec.ts
Due: none

chore(j-s): Test Performance (#11915)
  apps/judicial-system/backend/src/app/formatters/formatters.spec.ts
  apps/judicial-system/backend/src/app/modules/institution/test/createTestingInstitutionModule.ts
  apps/judicial-system/backend/src/app/modules/institution/test/getAll.spec.ts
  apps/judicial-system/backend/src/app/modules/institution/test/institutionControllerGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/user/dto/createUser.dto.ts
  apps/judicial-system/backend/src/app/modules/user/dto/updateUser.dto.ts
  apps/judicial-system/backend/src/app/modules/user/test/create.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/createGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/createRolesRules.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/createTestingUserModule.ts
  apps/judicial-system/backend/src/app/modules/user/test/getAll.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/getAllGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/getById.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/getByIdGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/getByNationalId.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/getByNationalIdGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/update.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/updateGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/user/test/updateRolesRules.spec.ts
  apps/judicial-system/backend/test/e2e.spec.ts
  apps/judicial-system/backend/test/globalSetup.ts
  apps/judicial-system/backend/test/globalTeardown.ts
Due: none

Transfering now redirects correctly, on error focuses alert box
  libs/api/domains/rights-portal/src/lib/rightsPortal.resolver.ts
  libs/api/domains/rights-portal/src/lib/rightsPortal.service.ts
  libs/clients/icelandic-health-insurance/rights-portal/src/clientConfig.json
  libs/service-portal/health/src/lib/messages.ts
  libs/service-portal/health/src/screens/HealthCenter/HealthCenter.tsx
  libs/service-portal/health/src/screens/HealthCenterRegistration/HealthCenterRegistration.tsx
  libs/service-portal/health/src/screens/HealthCenterRegistration/HealthRegistration.css.ts
  libs/service-portal/health/src/utils/format.ts
Due: Portal GraphQL

Remove AppealConclusion
  apps/judicial-system/web/src/components/Conclusion/AppealConclusion.tsx
  apps/judicial-system/web/src/components/Conclusion/Conclusion.tsx
  apps/judicial-system/web/src/components/index.ts
  apps/judicial-system/web/src/routes/CourtOfAppeal/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
  apps/judicial-system/web/src/routes/Defender/CaseOverview.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
Due: none

added a comment for clarity and updated auto variable generation for the charts
  apps/services/auth/ids-api/infra/ids-api.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
  infra/src/dsl/basic.spec.ts
  infra/src/dsl/dsl.ts
Due: none

fixed test
  infra/src/dsl/basic.spec.ts
Due: none

fix(application-system): Hotfix - Accept excel in file upload (#12042)
  libs/application/templates/complaints-to-althingi-ombudsman/src/forms/ComplaintsToAlthingiOmbudsmanApplication.ts
Due: Application System API

fixed tests again
  infra/src/dsl/basic.spec.ts
Due: none

Fix JEST
  libs/application/template-api-modules/src/lib/modules/templates/old-age-pension/old-age-pension.service.spec.ts
Due: Application System API

Fix for unit test
  libs/application/template-api-modules/src/lib/modules/templates/old-age-pension/old-age-pension.service.ts
Due: Application System API

User test API
  libs/application/templates/old-age-pension/src/forms/Prerequisites.ts
Due: Application System API

chore(j-s): Validate police API with ZOD (#11928)
  apps/judicial-system/backend/src/app/modules/police/police.service.ts
  apps/judicial-system/backend/src/app/modules/police/test/getAll.spec.ts
  apps/judicial-system/backend/src/app/modules/police/test/getPoliceCaseInfo.spec.ts
Due: none

Removes unused import
  libs/judicial-system/types/src/lib/case.spec.ts
Due: none

fix: model issue
  libs/api/domains/national-registry/src/lib/nationalRegistry.service.ts
  libs/api/domains/national-registry/src/lib/resolvers/person.resolver.ts
  libs/api/domains/national-registry/src/lib/v1/soffia.service.ts
  libs/service-portal/information/src/screens/Spouse/Spouse.graphql
  libs/service-portal/information/src/screens/UserInfoOverview/UserInfoOverview.graphql
Due: Portal GraphQL

fix: add id
  libs/service-portal/graphql/src/lib/client.ts
Due: none

sorted permissions after name
  libs/api/domains/auth-admin/src/lib/scope/scope.service.ts
Due: Portal GraphQL

Change css
  apps/web/components/Organization/Wrapper/Themes/UtlendingastofnunTheme/UtlendingastofnunFooter.css.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
