Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

fix(web): GraphQL errors for OrganizationParentSubpage.title and SupportSubCategory.title (#23484)
  libs/cms/src/lib/cms.module.ts
  libs/cms/src/lib/cms.resolver.ts
  libs/cms/src/lib/models/organizationParentSubpage.model.ts
Due: none

fix: text + username
  libs/application/templates/directorate-of-equality/equality-report/src/lib/messages.ts
  libs/application/templates/directorate-of-equality/equality-report/src/lib/template.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/template.ts
Due: Application System API

chore: update zebra
  apps/web/screens/OpenInvoices/Overview/NestedLines.tsx
Due: none

fix(ids-admin): address CodeRabbit review on cross-domain scope clients
  apps/services/auth/admin-api/src/app/v2/scopes/test/me-scope-clients.spec.ts
  libs/portals/admin/ids-admin/src/screens/Permission/components/PermissionApplications.tsx
Due: none

chore(form-system): small fixes and changes (#23499)
  apps/form-system/web/src/components/Form/Form.tsx
  apps/form-system/web/src/components/Layout/Layout.tsx
  apps/form-system/web/src/context/HeaderInfoProvider.tsx
  apps/form-system/web/src/routes/Applications.tsx
  apps/services/form-system/src/app/modules/forms/forms.service.spec.ts
  apps/services/form-system/src/app/modules/forms/forms.service.ts
  apps/services/form-system/src/app/modules/organizations/organizations.service.ts
  apps/services/form-system/src/app/modules/services/zendesk.service.ts
  apps/services/form-system/src/utils/zendeskPartiesCustomFieldIds.ts
  libs/portals/admin/form-system/src/components/MainContent/MainContent.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/Delegation/Delegation.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/FieldContent/components/FieldSettings/components/ListSettings.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/FieldContent/components/ListBuilder/components/ListItem.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/RelevantParties/components/RelevantParty.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/Urls/SubmissionUrls.tsx
  libs/portals/admin/form-system/src/components/Navbar/Navbar.tsx
  libs/portals/admin/form-system/src/hooks/controlReducer.ts
  libs/portals/admin/form-system/src/lib/utils/customSections.tsx
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: none

reduce dev compile time
  apps/application-system-next/components/ApplicationsPage.tsx
  apps/application-system-next/hooks/useApplicationNamespaces.ts
  apps/application-system-next/lib/__tests__/csp.spec.ts
  apps/application-system-next/lib/csp.ts
  tsconfig.base.json
Due: none

update script
  infra/scripts/container-scripts/restore-db.sh
Due: none

feat: update
  libs/api/domains/hms/src/lib/dto/getRentalAgreements.input.ts
  libs/api/domains/hms/src/lib/resolvers/rentalAgreements.resolver.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/terminate-rental-agreement/mockedRentalAgreements.ts
  libs/clients/hms-rental-agreement/src/clientConfig.json
  libs/clients/hms-rental-agreement/src/hmsRentalAgreement.service.ts
  libs/portals/my-pages/information/src/screens/UserContracts/UserContractsOverview/UserContractsOverview.graphql
  libs/portals/my-pages/information/src/screens/UserContracts/UserContractsOverview/UserContractsOverview.tsx
Due: Portal GraphQL, Application System API

Fix web build
  apps/web/components/connected/CustomsGeneral/CustomsGeneralExchangeRates.tsx
Due: none

not found fix
  apps/application-system-next/next-env.d.ts
  apps/application-system-next/project.json
Due: none

Fixes no defender email notifications
  apps/judicial-system/backend/src/app/modules/notification/services/appealCaseNotification/appealCaseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealCompletedNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealStatementNotifications.spec.ts
Due: none

fix: alert message instead of red text
  libs/application/templates/directorate-of-equality/salary-report/src/fields/CriteriaEditor/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SubCriteriaEditor/CriterionPanel.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
Due: Application System API

chore(j-s): Harden e2e assertions and deduplicate regression steps (#23473)
  apps/system-e2e/src/support/api-tools.ts
  apps/system-e2e/src/tests/judicial-system/regression/custody-tests.spec.ts
  apps/system-e2e/src/tests/judicial-system/regression/indictment-tests.spec.ts
  apps/system-e2e/src/tests/judicial-system/regression/shared-steps/court-decision.ts
  apps/system-e2e/src/tests/judicial-system/regression/shared-steps/indictment-to-court-record.ts
  apps/system-e2e/src/tests/judicial-system/regression/shared-steps/receive-appeal.ts
  apps/system-e2e/src/tests/judicial-system/regression/travel-ban-tests.spec.ts
  apps/system-e2e/src/tests/judicial-system/smoke/case-list.spec.ts
  apps/system-e2e/src/tests/judicial-system/utils/helpers.ts
Due: none

fix: build issue
  libs/application/templates/district-commissioners/driving-license-additional/README.md
  libs/application/templates/district-commissioners/driving-license-additional/src/lib/types.ts
  libs/application/templates/district-commissioners/driving-license-additional/src/utils/formUtils.ts
  libs/application/templates/district-commissioners/driving-license-additional/src/utils/getOverviewItems.ts
Due: Application System API

Remove unused overview page
  libs/application/templates/pay-debts/src/forms/completedForm/index.ts
  libs/application/templates/pay-debts/src/forms/mainForm/index.ts
  libs/application/templates/pay-debts/src/forms/mainForm/overview.ts
  libs/application/templates/pay-debts/src/forms/mainForm/paymentSection.ts
  libs/application/templates/pay-debts/src/lib/messages/index.ts
  libs/application/templates/pay-debts/src/lib/messages/overview.ts
  libs/application/templates/pay-debts/src/lib/messages/payment.ts
  libs/application/templates/pay-debts/src/utils/getOverviewItems.ts
Due: Application System API

chore(auth-admin): drop change-narration comment in getScopesByTenants
  libs/api/domains/auth-admin/src/lib/scope/scope.service.ts
Due: Portal GraphQL

fix(driving-license): treat a 2xx v6 temporary submit as success, not the DTO result
  libs/api/domains/driving-license/src/lib/drivingLicense.service.ts
  libs/api/domains/driving-license/src/lib/drivingLicense.spec.ts
Due: Portal GraphQL

chore: format update dirty file
  libs/application/templates/district-commissioners/driving-license-additional/src/utils/formUtils.ts
Due: Application System API

feat: load ice and en in one request
  apps/application-system/api/src/app/modules/translation/public-translation.controller.ts
  libs/api/domains/application/src/lib/application-translation/application-translation.model.ts
  libs/application/api/core/src/lib/translation/application-translation.provider.ts
  libs/application/api/core/src/lib/translation/application-translation.service.spec.ts
  libs/application/api/core/src/lib/translation/application-translation.service.ts
  libs/application/api/core/src/lib/translation/template-introspection.service.ts
  libs/application/types/src/lib/TemplateIntrospection.ts
  libs/cms-translations/src/lib/cms-translations.service.ts
  libs/islandis-translations/src/lib/application-translation-http.module.ts
  libs/islandis-translations/src/lib/application-translation-http.provider.ts
  libs/islandis-translations/src/lib/application-translation.provider.ts
  libs/portals/admin/application-system/src/components/TranslationWorkspaceStatesNav/TranslationWorkspaceStatesNav.tsx
  libs/portals/admin/application-system/src/queries/translations.graphql
  libs/portals/admin/application-system/src/screens/TranslationWorkspace/TranslationWorkspace.tsx
  libs/portals/admin/application-system/src/screens/Translations/Translations.tsx
  libs/portals/admin/application-system/src/types/translationWorkspace.ts
Due: Portal GraphQL, Application System API

chore: format update dirty file
  libs/portals/admin/application-system/src/components/TranslationWorkspaceStatesNav/TranslationWorkspaceStatesNav.tsx
Due: none

fix: flow for postponed state
  libs/application/templates/directorate-of-equality/salary-report/README.md
  libs/application/templates/directorate-of-equality/salary-report/src/fields/PostponeReceiptMarker/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryImprovementPlan.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/index.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/mainForm/overviewSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/mainForm/salaryAnalysisSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/outlierPlanOverview.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/outlierPlanOverview.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/postponedForm/index.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/postponedForm/postponeReceiptSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/postponedForm/postponedIntroSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/postponedForm/postponedReportSummarySection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/postponedForm/postponedSalaryAnalysisSection.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/dataSchema.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/eligibility.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.ts
Due: Application System API

fix(doe): Postponed outlier cleanup, group assignment UI, and stale draft snapshots
  libs/application/templates/directorate-of-equality/salary-report/src/fields/CriteriaEditor/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierEditor.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierGroupCard.css.ts
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierGroupCard.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryImprovementPlan.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SubCriteriaEditor/index.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/outlierGroups.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/outlierGroups.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/useDraftQuery.ts
Due: Application System API

fix(car-rental-day-rate): Updating api specs and implementing new endpoint usage (#23394)
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-dayrate-returns/car-rental-dayrate-returns.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
  libs/application/templates/car-rental-dayrate-returns/src/fields/UploadCarDayRateUsage/index.tsx
  libs/application/templates/car-rental-dayrate-returns/src/forms/mainForm/carsChangesCount.ts
  libs/application/templates/car-rental-dayrate-returns/src/forms/mainForm/overviewStatistics.ts
  libs/application/templates/car-rental-dayrate-returns/src/forms/mainForm/singleOrMultiSelection.ts
  libs/application/templates/car-rental-dayrate-returns/src/forms/mainForm/tableViewSelection.ts
  libs/application/templates/car-rental-dayrate-returns/src/lib/dataSchema.ts
  libs/application/templates/car-rental-dayrate-returns/src/lib/messages.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/UploadCarDayRateUsageUtils.spec.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/UploadCarDayRateUsageUtils.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/dayRateRecordUtils.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/dayRateTableUtils.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/generateExcelSheet.ts
  libs/application/templates/car-rental-dayrate-returns/src/utils/types.ts
  libs/application/templates/car-rental-fee-category/src/fields/UploadCarCategoryFile/index.tsx
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/tableViewSelection.ts
  libs/application/templates/car-rental-fee-category/src/lib/messages.ts
  libs/application/templates/car-rental-fee-category/src/utils/UploadCarCategoryFileUtils.spec.ts
  libs/application/templates/car-rental-fee-category/src/utils/UploadCarCategoryFileUtils.ts
  libs/application/templates/car-rental-fee-category/src/utils/carCategoryUtils.ts
  libs/application/templates/car-rental-fee-category/src/utils/dayRateUtils.ts
  libs/application/templates/car-rental-fee-category/src/utils/types.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/PaginatedSearchableTableFormField/PaginatedSearchableTableFormField.tsx
  libs/clients/rsk/rental-day-rate/README.md
  libs/clients/rsk/rental-day-rate/project.json
  libs/clients/rsk/rental-day-rate/src/clientConfig.json
Due: Application System API

chore: rework
  libs/api/domains/hms/src/lib/resolvers/rentalAgreements.resolver.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/rental-agreement/rental-agreement.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/rental-agreement/utils/mapDraftToContractDraftRequest.ts
Due: Portal GraphQL, Application System API

chore: format update dirty file
  libs/application/templates/directorate-of-equality/salary-report/src/forms/outlierPlanOverview.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/outlierPlanOverview.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.spec.ts
Due: Application System API

Fix persisted outlier groups
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierEditor.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierGroupCard.css.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/emptyOutlierGroupAnswer.spec.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/utils/outlierGroups.ts
Due: Application System API

Remove separate certificate download, not needed anymore
  apps/download-service/src/app/app.module.ts
  apps/download-service/src/app/modules/health/certificate-pdf.controller.ts
  apps/download-service/src/app/modules/health/conversations-attachment.controller.ts
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/mappers/certificateMapper.ts
  libs/api/domains/health-directorate/src/lib/models/certificate.model.ts
  libs/clients/health-directorate/src/index.ts
  libs/clients/health-directorate/src/lib/clients/health/health.service.ts
  libs/clients/health-directorate/src/lib/clients/health/index.ts
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversationDetail.graphql
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversationDetail.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/components/CertificateAction.tsx
Due: Portal GraphQL

feat(driving-license): capture and log the RLS application guid on v6 create
  libs/api/domains/driving-license/src/lib/drivingLicense.service.ts
  libs/api/domains/driving-license/src/lib/drivingLicense.spec.ts
  libs/clients/driving-license/src/lib/__mock-data__/requestHandlers.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.spec.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.ts
Due: Portal GraphQL

fix(j-s): Do not email the defender when no defender is registered (#23504)
  apps/judicial-system/backend/src/app/modules/notification/services/appealCaseNotification/appealCaseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealCompletedNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealStatementNotifications.spec.ts
Due: none

chore: format update dirty file
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversationDetail.graphql
Due: none

UI iteration
  apps/web/screens/AskTheBudgetBill/AskTheBudgetBill.tsx
  apps/web/screens/AskTheBudgetBill/components/ChatLauncher.tsx
  apps/web/screens/AskTheBudgetBill/components/QuestionInput.css.ts
  apps/web/screens/AskTheBudgetBill/components/QuestionInput.tsx
  apps/web/screens/AskTheBudgetBill/translations.strings.ts
Due: none

Fixes withdraw notifications in indictment appeals
  apps/judicial-system/backend/src/app/modules/notification/services/appealCaseNotification/appealCaseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/appealCaseNotification/appealCaseNotification.strings.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendIndictmentAppealNotifications.spec.ts
Due: none

chore: format update dirty file
  libs/api/domains/driving-license/src/lib/drivingLicense.service.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.ts
Due: Portal GraphQL

fix: review
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryImprovementPlan.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/index.tsx
Due: Application System API

fix
  libs/api/domains/health-directorate/src/lib/dto/createCertificatePaymentIntent.input.ts
  libs/portals/my-pages/health/src/screens/HealthConversations/components/CertificateAction.tsx
Due: Portal GraphQL

feat(child-protection-notification): Updated Child safety urgency AlertMessage (#23377)
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/shared/childSafetySection.ts
Due: Application System API

feat(child-protection-notification): Updates after demo (#23385)
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/adultProcuration/draftForm/overviewSection.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/shared/protectiveFactorsSection.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/lib/dataSchema.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/lib/messages/memm.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/lib/messages/overview.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/lib/messages/protectiveFactors.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/utils/adultProcurationOverviewFields.ts
Due: Application System API

feat(child-protection-notification): Add notifier roles and sub-types api values (#23406)
  libs/application/template-api-modules/src/lib/modules/templates/national-agency-for-children-and-families/child-protection-notification/child-protection-notification.service.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/dataProviders/index.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/prerequisitesForm/externalDataSubSection.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/prerequisitesForm/index.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/prerequisitesForm/serviceProviderSubSection.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/shared/conclusionSection.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/lib/ChildProtectionNotificationTemplate.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/lib/messages/childSafety.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/lib/messages/prerequisites.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/utils/constants.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/utils/getApplicationExternalData.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/utils/getOverviewItems.ts
  libs/clients/national-agency-for-children-and-families/src/clientConfig.json
  libs/clients/national-agency-for-children-and-families/src/lib/nationalAgencyForChildrenAndFamiliesClient.service.ts
Due: Application System API

chore: move formatBankInfo to shared/utils
  libs/application/templates/estate/src/forms/OverviewSections/assetsAndDebts.ts
  libs/application/templates/hms/housing-benefits/src/utils/getOverviewItems.ts
  libs/application/templates/inheritance-report/src/fields/Overview/OverviewAssets/rows.ts
  libs/application/templates/parental-leave/src/fields/Review/review-groups/Payments.tsx
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/fields/Review/review-groups/Payment.tsx
  libs/application/templates/social-insurance-administration/death-benefits/src/fields/Review/review-groups/PaymentInformation.tsx
  libs/application/templates/social-insurance-administration/household-supplement/src/fields/Review/review-groups/Payment.tsx
  libs/application/templates/social-insurance-administration/pension-supplement/src/fields/Review/review-groups/Payment.tsx
  libs/application/ui-components/src/utilities/formatters.ts
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/lib/bankInfo.spec.ts
  libs/shared/utils/src/lib/bankInfo.ts
Due: Application System API
