Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Fixes type incompatibility issue
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtSessionAccordionItem.tsx
Due: none

deploy all
  package.json
Due: none

chore: format update dirty file
  package.json
Due: none

fix(j-s): refactor to make Completed more organised
  apps/judicial-system/api/infra/judicial-system-api.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/CriminalRecordUpdate.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/DefendantServiceRequirement.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/InformationForDefendant.tsx
  libs/judicial-system/types/src/lib/feature.ts
Due: none

Date format changes
  apps/contentful-apps/pages/fields/time-duration-field.tsx
  apps/web/components/NewsCard/NewsCard.tsx
  apps/web/components/events/EventList.tsx
  apps/web/components/events/EventTime.tsx
  apps/web/components/events/LatestEventSliceCard/LatestEventSliceCard.tsx
  apps/web/screens/queries/Events.ts
  apps/web/screens/queries/fragments.ts
  apps/web/utils/formatEventDate.ts
Due: none

fix(signature-collection): my pages spacing & refetch tweaks (#20166)
  libs/portals/my-pages/signature-collection/src/hooks/index.ts
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/ViewList/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Parliamentary/OwnerView/ViewList/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Parliamentary/OwnerView/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Presidential/OwnerView/ViewList/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Presidential/OwnerView/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Signees/PaperSignees/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Signees/index.tsx
Due: none

Change text
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.strings.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.tsx
Due: none

feat(j-s): Indictment Case Court Record PDF (#20097)
  apps/judicial-system/api/src/app/modules/court-session/dto/courtSession.response.ts
  apps/judicial-system/api/src/app/modules/file/file.controller.ts
  apps/judicial-system/api/src/app/modules/file/limitedAccessFile.controller.ts
  apps/judicial-system/backend/src/app/formatters/confirmedPdf.ts
  apps/judicial-system/backend/src/app/formatters/courtRecordPdf.ts
  apps/judicial-system/backend/src/app/formatters/custodyNoticePdf.ts
  apps/judicial-system/backend/src/app/formatters/fineSentToPrisonAdminPdf.ts
  apps/judicial-system/backend/src/app/formatters/index.ts
  apps/judicial-system/backend/src/app/formatters/indictmentCourtRecordPdf.ts
  apps/judicial-system/backend/src/app/formatters/indictmentPdf.ts
  apps/judicial-system/backend/src/app/formatters/pdf.ts
  apps/judicial-system/backend/src/app/formatters/pdfHelpers.ts
  apps/judicial-system/backend/src/app/formatters/requestPdf.ts
  apps/judicial-system/backend/src/app/formatters/rulingPdf.ts
  apps/judicial-system/backend/src/app/formatters/rulingSentToPrisonAdminPdf.ts
  apps/judicial-system/backend/src/app/formatters/subpoenaPdf.ts
  apps/judicial-system/backend/src/app/formatters/subpoenaServiceCertificatePdf.ts
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.controller.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/pdf.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getCourtRecordPdf.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getCourtRecordPdfGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getCourtRecordPdfRolesRules.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/limitedAccessCaseController/getCourtRecordPdf.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/limitedAccessCaseController/getCourtRecordPdfGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/event/event.service.ts
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/components/FormProvider/limitedAccessCase.graphql
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtSessionAccordionItem.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.tsx
  apps/judicial-system/web/src/routes/Prison/IndictmentOverview/IndictmentOverview.tsx
  apps/judicial-system/web/src/utils/validate.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/courtSession.ts
  libs/judicial-system/types/src/lib/user.ts
Due: none

Change namespace values
  apps/web/components/Organization/Slice/LatestEventsSlice/LatestEventsSlice.tsx
  apps/web/components/events/EventList.tsx
  apps/web/components/events/LatestEventSliceCard/LatestEventSliceCard.tsx
  apps/web/screens/Organization/OrganizationEvents/OrganizationEventArticle.tsx
Due: none

feat: update after review
  libs/application/templates/social-insurance-administration/disability-pension/src/fields/DisabilityPensionCertificate/index.tsx
  libs/application/templates/social-insurance-administration/disability-pension/src/forms/mainForm/selfEvaluation/backgroundSubSection/employmentCapability.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/forms/mainForm/selfEvaluation/capabilityImpairmentSubSection/index.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/messages/selfEvaluation.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/types/constants.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/utils/overviewItems.ts
Due: Application System API

chore: format update dirty file
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/messages/selfEvaluation.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/utils/overviewItems.ts
Due: Application System API

Fix pdf
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.tsx
Due: none

fix: query
  libs/application/templates/social-insurance-administration/disability-pension/codegen.yml
  libs/application/templates/social-insurance-administration/disability-pension/project.json
  libs/application/templates/social-insurance-administration/disability-pension/src/fields/DisabilityPensionCertificate/index.tsx
  libs/application/templates/social-insurance-administration/disability-pension/src/forms/mainForm/basicInfoSection/incomePlanSubSection.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/forms/mainForm/basicInfoSection/paymentInfoSubSection.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/forms/mainForm/selfEvaluation/backgroundSubSection/language.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/forms/mainForm/selfEvaluation/backgroundSubSection/previousEmployment.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/utils/generateIncomePlanFields.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/utils/overviewItems.ts
Due: Application System API

fix: import
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/dataSchema.ts
Due: Application System API

fix(j-s): Fix pdf (#20175)
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.tsx
Due: none

chore: format update dirty file
  libs/application/templates/social-insurance-administration/disability-pension/src/forms/mainForm/basicInfoSection/incomePlanSubSection.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/forms/mainForm/basicInfoSection/paymentInfoSubSection.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/forms/mainForm/selfEvaluation/backgroundSubSection/language.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/forms/mainForm/selfEvaluation/backgroundSubSection/previousEmployment.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/utils/generateIncomePlanFields.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/utils/overviewItems.ts
Due: Application System API

Text changes
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/locationSection/index.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/overviewSection/index.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/supportingDocumentsSection/index.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/conclusion.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/location.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/overview.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/supportingDocuments.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/vehicleSpacing.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/helperFunctions/getOverviewItems.ts
Due: Application System API

fix: remove dummy
  apps/web/server.ts
Due: none

feat: simplify data structure
  libs/api/domains/questionnaires/src/mockdata/el_list_1_transformed.ts
  libs/api/domains/questionnaires/src/mockdata/lsh_list_1_transformed.ts
  libs/api/domains/questionnaires/src/mockdata/lsh_list_2_transformed.ts
  libs/api/domains/questionnaires/src/mockdata/transform-scripts/el_transform.ts
  libs/api/domains/questionnaires/src/mockdata/transform-scripts/transform.ts
  libs/api/domains/questionnaires/src/models/question.model.ts
  libs/clients/health-directorate/src/lib/clients/lsh-dev/clientConfig.json
  libs/portals/my-pages/core/src/components/Questionnaires/GenericQuestionnaire.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionRenderer.tsx
  libs/portals/my-pages/core/src/components/Questionnaires/QuestionsTypes/TextInput.tsx
  libs/portals/my-pages/health/src/screens/Questionnaires/QuestionnaireDetail.tsx
  libs/portals/my-pages/health/src/screens/Questionnaires/questionnaires.graphql
Due: Portal GraphQL

fix: add date span
  apps/web/screens/Organization/OrganizationEvents/OrganizationEventArticle.tsx
Due: none

chore: format update dirty file
  apps/web/screens/Organization/OrganizationEvents/OrganizationEventArticle.tsx
Due: none

Encode uri before redirecting
  apps/web/utils/fetch404RedirectUrl.ts
Due: none

fix(application-system): Increasing timeout time (#20171)
  libs/clients/vmst-unemployment/src/lib/vmstUnemploymentClient.config.ts
Due: none

fix(application-system): Adding so that employee workday can start 36hrs after accident (#20170)
  libs/application/templates/aosh/work-accident-notification/src/utils/dateManipulation.ts
Due: Application System API

fix: export issues
  apps/web/components/Organization/OrganizationSearchInput/OrganizationSearchInput.tsx
  apps/web/components/Organization/index.ts
Due: none

Read endDate field from CMS
  libs/cms/src/lib/models/event.model.ts
Due: none

chore: format update dirty file
  apps/web/components/Organization/OrganizationSearchInput/OrganizationSearchInput.tsx
Due: none

Fixing datschema by preprocessing empty strings, empty strings appears when 'onChangeClear' is triggered
  libs/application/templates/activation-allowance/src/lib/dataSchema.ts
Due: Application System API

chore: update handling with xwards compat
  apps/web/components/NewsCard/NewsCard.tsx
  apps/web/components/events/EventList.tsx
  apps/web/screens/Organization/OrganizationEvents/OrganizationEventArticle.tsx
  apps/web/screens/Organization/OrganizationEvents/OrganizationEventList.tsx
Due: none

feat: use search (#19950)
  apps/web/components/Organization/OrganizationSearchInput/OrganizationSearchInput.tsx
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
  apps/web/components/Organization/index.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
Due: none

Comment changed
  libs/application/templates/activation-allowance/src/lib/dataSchema.ts
Due: Application System API

Hotfix
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.tsx
Due: none

chore: udpate cms mapping
  apps/web/components/events/EventList.tsx
  libs/cms/src/lib/cms.elasticsearch.service.ts
Due: none

chore: format update dirty file
  apps/web/components/NewsCard/NewsCard.tsx
  apps/web/components/events/EventList.tsx
  apps/web/screens/Organization/OrganizationEvents/OrganizationEventArticle.tsx
Due: none

fix(application-system): Fix CompanySearchFormField
  libs/application/ui-components/src/components/CompanySearchController/CompanySearchController.tsx
  libs/application/ui-fields/src/lib/CompanySearchFormField/CompanySearchFormField.tsx
Due: none

Update policeEscort alertMessage + change policeEscort check to look at totalLength and not length
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/freight.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/helperFunctions/freightUtils.ts
  libs/clients/transport-authority/exemption-for-transportation/src/lib/exemptionForTransportationClient.service.ts
  libs/clients/transport-authority/exemption-for-transportation/src/lib/exemptionForTransportationClient.types.ts
Due: Application System API

fix(signature-collection): ui spacings
  libs/application/templates/signature-collection/municipal-list-creation/src/lib/dataSchema.ts
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/ViewList/ListActions/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/ViewList/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Parliamentary/OwnerView/AddConstituency/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Parliamentary/OwnerView/ViewList/ListActions/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Parliamentary/OwnerView/ViewList/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Presidential/OwnerView/ActionDrawer/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Presidential/OwnerView/CancelCandidacy/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Presidential/OwnerView/ViewList/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Presidential/OwnerView/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Presidential/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Intro/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Managers/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/SignedLists/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Signees/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/cancelCollection/index.tsx
Due: Application System API

RemovedefaultValue from searchcontroller type
  libs/application/ui-components/src/components/CompanySearchController/CompanySearchController.tsx
Due: none

Add Olanzapin to substances
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Substances/Substance.strings.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/lib/getIncidentDescriptionReason.strings.ts
  libs/judicial-system/types/src/lib/substances.ts
Due: none
