Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Update apps/services/user-notification/src/app/modules/birthday18/worker.service.ts
  apps/services/user-notification/src/app/modules/birthday18/worker.service.ts
Due: none

feat(application-system): Add tooltip to KeyValueFormField (#18735)
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/examples/example-no-inputs/src/forms/mainForm/keyValueSection.ts
  libs/application/templates/reference-template/src/forms/exampleForm/noInputFieldsSection/keyValueSubsection.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/DescriptionFormField/DescriptionFormField.tsx
  libs/application/ui-fields/src/lib/KeyValueFormField/KeyValueFormField.tsx
Due: Application System API

chore: remove more as keywords
  libs/application/templates/operating-license/src/forms/draft/subSectionPropertyRepeater.ts
  libs/application/templates/p-sign/src/forms/applicationSections/sectionOverview.ts
Due: Application System API

fixing dates
  apps/web/screens/OfficialJournalOfIceland/OJOIAdvert.tsx
Due: none

console
  apps/web/screens/OfficialJournalOfIceland/OJOIAdvert.tsx
Due: none

original
  apps/web/screens/OfficialJournalOfIceland/OJOIAdvert.tsx
Due: none

Update rich-text-types
  package.json
  yarn.lock
Due: none

chore: add typing
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/ChildrenSupportingDocuments/ChildrenOtherDocumentsSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/types/types.ts
Due: Application System API

fix(ojoi): changing text of signatureDate (#18734)
  apps/web/screens/OfficialJournalOfIceland/OJOIAdvert.tsx
  apps/web/screens/OfficialJournalOfIceland/messages.ts
Due: none

chore: move constant to new file
  libs/application/template-api-modules/src/lib/modules/templates/financial-statement-individual-election/constants.ts
  libs/application/template-api-modules/src/lib/modules/templates/financial-statement-individual-election/financial-statement-individual-election.service.ts
Due: Application System API

fix: lint
  libs/application/templates/id-card/src/forms/IdCardForm/IdInformation/ChosenApplicantsSubSection.ts
Due: Application System API

revert changes on clientConfig
  libs/clients/national-registry/v3-applications/src/clientConfig.json
Due: none

feat(auth-admin): Hotfix: Revert Zendesk delegation (#18447) (#18731)
  apps/services/auth/admin-api/infra/auth-admin-api.ts
  apps/services/auth/admin-api/src/app/v2/delegations/delegation-admin.controller.ts
  apps/services/auth/admin-api/src/app/v2/delegations/test/delegation-admin.spec.ts
  apps/services/auth/admin-api/src/environments/environment.ts
  charts/identity-server-services/services-auth-admin-api/values.dev.yaml
  charts/identity-server-services/services-auth-admin-api/values.prod.yaml
  charts/identity-server-services/services-auth-admin-api/values.staging.yaml
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
  libs/auth-api-lib/src/lib/delegations/admin/delegation-admin-custom.service.ts
  libs/auth-api-lib/src/lib/delegations/constants/zendesk.ts
  libs/auth-api-lib/src/lib/delegations/delegations-index.service.ts
Due: none

fix: test
  scripts/ci/dagger/src/cache-bust.ts
  scripts/ci/dagger/src/const.ts
  scripts/ci/dagger/src/container.ts
  scripts/ci/dagger/src/git.ts
  scripts/ci/dagger/src/index.ts
Due: none

fix: test github
  scripts/ci/dagger/src/const.ts
Due: none

fix: wip
  libs/api/domains/work-machines/src/lib/modelsV2/baseLink.model.ts
  libs/api/domains/work-machines/src/lib/modelsV2/collectionLink.model.ts
  libs/api/domains/work-machines/src/lib/modelsV2/label.model.ts
  libs/api/domains/work-machines/src/lib/modelsV2/link.model.ts
  libs/api/domains/work-machines/src/lib/modelsV2/person.model.ts
  libs/api/domains/work-machines/src/lib/modelsV2/type.model.ts
  libs/api/domains/work-machines/src/lib/modelsV2/workMachine.model.ts
  libs/api/domains/work-machines/src/lib/modelsV2/workMachinePaginatedCollection.model.ts
  libs/api/domains/work-machines/src/lib/workMachines.resolver.ts
  libs/clients/work-machines/src/clientConfig.json
  libs/clients/work-machines/src/lib/dtos/entity.dto.ts
  libs/clients/work-machines/src/lib/dtos/label.dto.ts
  libs/clients/work-machines/src/lib/dtos/link.dto.ts
  libs/clients/work-machines/src/lib/dtos/pagination.dto.ts
  libs/clients/work-machines/src/lib/dtos/type.dto.ts
  libs/clients/work-machines/src/lib/dtos/workMachineItem.dto.ts
  libs/clients/work-machines/src/lib/dtos/workMachinesResponse.dto.ts
  libs/clients/work-machines/src/lib/workMachines.service.ts
Due: Portal GraphQL

fix: cocdeonwers
  .github/CODEOWNERS
Due: none

fix: test
  scripts/ci/dagger/src/const.ts
Due: none

add nudge to actor profile
  apps/services/user-profile/migrations/20250331103330-add-emails-table.js
  apps/services/user-profile/migrations/20250409145905-add-nudge-to-actor-profile.js
Due: none

fix: oops
  .github/workflows/dagger.yml
  scripts/ci/dagger/src/config-props.ts
  scripts/ci/dagger/src/git.ts
Due: none

Add error message if validation fails for changed unit rooms/size
  libs/application/templates/rental-agreement/src/fields/PropertySearch/index.tsx
  libs/application/templates/rental-agreement/src/lib/dataSchema.ts
  libs/application/templates/rental-agreement/src/lib/messages/housing/registerProperty.ts
Due: Application System API

Make enums consistent and non-iterative
  libs/clients/signature-collection/src/lib/types/collection.dto.ts
Due: none

fix: lint
  libs/api/mocks/src/domains/assets/factories.ts
  libs/api/mocks/src/domains/assets/store.ts
Due: none

[TS-1022] Rehabilitation Plan Screen
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/index.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/Review/review-groups/RehabilitationPlan.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/index.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/rehabilitationPlanSection/comprehensiveAssessment.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/rehabilitationPlanSection/index.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/rehabilitationPlanSection/information.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/rehabilitationPlanSection/rehabilitationObjective.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/rehabilitationPlanSection/serviceProvider.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/medicalAndRehabilitationPaymentsUtils.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/messages.ts
Due: Application System API

Allow for year select
  apps/web/screens/Verdicts/components/DebouncedDatePicker.tsx
Due: none

Add locale
  apps/web/screens/Verdicts/components/DebouncedDatePicker.tsx
Due: none

fix: typo in vehicle mileage
  libs/api/mocks/src/domains/vehicles/resolvers.ts
  libs/api/mocks/src/domains/vehicles/store.ts
Due: none

fix: typo
  .github/actions/load-deps/action.yml
Due: none

fix: typo
  libs/application/templates/inheritance-report/src/fields/Overview/OverviewAssets/rows.ts
Due: Application System API

fix: clean
  .github/actions/load-deps/action.yml
Due: none

fix: make next apps affected when devops files change
  nx.json
Due: none

feat: update client
  libs/clients/university-careers/src/lib/clients/agricultural-university-of-iceland/clientConfig.yaml
  libs/clients/university-careers/src/lib/clients/agricultural-university-of-iceland/index.ts
  libs/clients/university-careers/src/lib/clients/bifrost-university/clientConfig.yaml
  libs/clients/university-careers/src/lib/clients/bifrost-university/index.ts
  libs/clients/university-careers/src/lib/clients/holar-university/clientConfig.yaml
  libs/clients/university-careers/src/lib/clients/holar-university/index.ts
  libs/clients/university-careers/src/lib/clients/iceland-university-of-the-arts/clientConfig.yaml
  libs/clients/university-careers/src/lib/clients/iceland-university-of-the-arts/index.ts
  libs/clients/university-careers/src/lib/clients/university-of-akureyri/clientConfig.yaml
  libs/clients/university-careers/src/lib/clients/university-of-akureyri/index.ts
  libs/clients/university-careers/src/lib/clients/university-of-iceland/clientConfig.yaml
  libs/clients/university-careers/src/lib/clients/university-of-iceland/index.ts
  libs/clients/university-careers/src/lib/dto/studentFileDto.ts
  libs/clients/university-careers/src/lib/dto/studentFileType.dto.ts
  libs/clients/university-careers/src/lib/dto/studentTrackDto.ts
  libs/clients/university-careers/src/lib/dto/studentTrackOverviewDto.ts
  libs/clients/university-careers/src/lib/dto/universityDto.ts
  libs/clients/university-careers/src/lib/universityCareers.service.ts
Due: none

text tweaks
  libs/portals/my-pages/core/src/lib/messages.ts
  libs/portals/my-pages/information/src/lib/navigation.ts
  libs/portals/my-pages/signature-collection/src/lib/messages.ts
  libs/portals/my-pages/signature-collection/src/module.tsx
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/ViewList/ListActions/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Municipal/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Parliamentary/OwnerView/AddConstituency/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Parliamentary/OwnerView/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Presidential/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Managers/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Signees/EditPage/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Signees/PaperSignees/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Signees/index.tsx
Due: none

feat(application-system): New payments (#18695)
  apps/application-system/api/infra/application-system-api.ts
  apps/application-system/api/src/app/app.module.ts
  apps/application-system/api/src/app/modules/application/lifecycle/application-lifecycle.module.ts
  apps/services/payments/infra/payments.ts
  apps/services/payments/src/environments/environment.ts
  charts/islandis-services/application-system-api-worker/values.dev.yaml
  charts/islandis-services/application-system-api-worker/values.prod.yaml
  charts/islandis-services/application-system-api-worker/values.staging.yaml
  charts/islandis-services/application-system-api/values.dev.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis-services/application-system-api/values.staging.yaml
  charts/islandis-services/services-payments/values.dev.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/uber-charts/islandis.ts
  libs/api/domains/payment/src/lib/api-domains-payment.types.ts
  libs/application/api/payment/src/lib/payment-callback.controller.ts
  libs/application/api/payment/src/lib/payment.config.ts
  libs/application/api/payment/src/lib/payment.module.ts
  libs/application/api/payment/src/lib/payment.service.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/payment/payment.service.ts
  libs/application/template-api-modules/src/lib/modules/shared/shared.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/example-payment-actions/examplePaymentActions.service.ts
  libs/application/ui-components/src/components/PaymentPending/PaymentPending.tsx
  libs/feature-flags/src/lib/features.ts
  scripts/codegen.js
Due: Portal GraphQL, Application System API

fix: sha
  scripts/ci/dagger/src/container.ts
  scripts/ci/dagger/src/git.ts
  scripts/ci/dagger/src/index.ts
Due: none

messages
  libs/portals/my-pages/signature-collection/src/lib/messages.ts
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/ViewList/ListActions/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Municipal/OwnerView/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Municipal/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Parliamentary/OwnerView/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Managers/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/ShareLink/index.tsx
Due: none

fix: lint in mock resolvers
  libs/api/mocks/src/domains/applications/resolvers.ts
  libs/api/mocks/src/domains/assets/resolvers.ts
  libs/api/mocks/src/domains/cms/resolvers.ts
  libs/api/mocks/src/domains/documents/resolvers.ts
  libs/api/mocks/src/domains/finance/resolvers.ts
  libs/api/mocks/src/domains/health-directorate/resolvers.ts
  libs/api/mocks/src/domains/identity/resolvers.ts
  libs/api/mocks/src/domains/national-registry/resolvers.ts
  libs/api/mocks/src/domains/rights-portal/resolvers.ts
  libs/api/mocks/src/domains/search/resolvers.ts
  libs/api/mocks/src/domains/vehicles/resolvers.ts
Due: none

tweaka providerslug
  libs/portals/my-pages/signature-collection/src/lib/constants.ts
  libs/portals/my-pages/signature-collection/src/screens/Municipal/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/Parliamentary/index.tsx
  libs/portals/my-pages/signature-collection/src/screens/shared/Signees/index.tsx
Due: none

Display program icelandic title if english is empty
  libs/clients/secondary-school/src/lib/secondarySchoolClient.service.ts
Due: none
