Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Fixing timeout bug where it was trying to prefetch all vehicles and not just electric
  libs/application/template-api-modules/src/lib/modules/templates/energy-funds/energy-funds.service.ts
Due: Application System API

fix: duplicates
  apps/api/src/app/app.module.ts
Due: Portal GraphQL

chore: imports
  libs/service-portal/finance/src/components/DocumentScreen/DocumentScreen.tsx
Due: none

fix: show 404 instead of 500 erorr when regulation is not found (#14023)
  apps/web/screens/Regulations/RegulationPage.tsx
  libs/clients/regulations/src/lib/regulations.service.ts
  libs/clients/regulations/src/lib/regulations.spec.ts
Due: none

fix: imports
  apps/api/src/app/app.module.ts
Due: Portal GraphQL

feat: init
  libs/clients/university-of-akureyri/.eslintrc.json
  libs/clients/university-of-akureyri/README.md
  libs/clients/university-of-akureyri/jest.config.ts
  libs/clients/university-of-akureyri/project.json
  libs/clients/university-of-akureyri/src/index.ts
  libs/clients/university-of-akureyri/src/lib/clients-university-of-akureyri.module.ts
  libs/clients/university-of-akureyri/tsconfig.json
  libs/clients/university-of-akureyri/tsconfig.lib.json
  libs/clients/university-of-akureyri/tsconfig.spec.json
  tsconfig.base.json
Due: none

build.sh with only dependencies (no postinstall.js)
  apps/system-e2e/build.sh
Due: none

Building Dockerfile
  scripts/ci/Dockerfile
Due: none

preferred date, other loan providers, and tweaks
  libs/application/template-api-modules/src/lib/modules/templates/grindavik-housing-buyout/grindavik-housing-buyout.service.ts
  libs/application/templates/grindavik-housing-buyout/src/forms/GrindavikHousingBuyoutForm.ts
  libs/application/templates/grindavik-housing-buyout/src/lib/constants/index.ts
  libs/application/templates/grindavik-housing-buyout/src/lib/dataSchema.ts
  libs/application/templates/grindavik-housing-buyout/src/lib/messages/application.ts
  libs/application/templates/grindavik-housing-buyout/src/lib/messages/errors.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterFormField.tsx
Due: Application System API

feat: lhbi
  libs/clients/agricultural-university-of-iceland/.eslintrc.json
  libs/clients/agricultural-university-of-iceland/README.md
  libs/clients/agricultural-university-of-iceland/jest.config.ts
  libs/clients/agricultural-university-of-iceland/project.json
  libs/clients/agricultural-university-of-iceland/src/index.ts
  libs/clients/agricultural-university-of-iceland/src/lib/clients-agricultural-university-of-iceland.module.ts
  libs/clients/agricultural-university-of-iceland/tsconfig.json
  libs/clients/agricultural-university-of-iceland/tsconfig.lib.json
  libs/clients/agricultural-university-of-iceland/tsconfig.spec.json
  tsconfig.base.json
Due: none

fix: remove lbhi
  libs/clients/agricultural-university-of-iceland/.eslintrc.json
  libs/clients/agricultural-university-of-iceland/README.md
  libs/clients/agricultural-university-of-iceland/jest.config.ts
  libs/clients/agricultural-university-of-iceland/project.json
  libs/clients/agricultural-university-of-iceland/src/index.ts
  libs/clients/agricultural-university-of-iceland/src/lib/clients-agricultural-university-of-iceland.module.ts
  libs/clients/agricultural-university-of-iceland/tsconfig.json
  libs/clients/agricultural-university-of-iceland/tsconfig.lib.json
  libs/clients/agricultural-university-of-iceland/tsconfig.spec.json
  tsconfig.base.json
Due: none

feat: init
  libs/clients/agricultural-university-of-iceland/.eslintrc.json
  libs/clients/agricultural-university-of-iceland/README.md
  libs/clients/agricultural-university-of-iceland/jest.config.ts
  libs/clients/agricultural-university-of-iceland/project.json
  libs/clients/agricultural-university-of-iceland/src/index.ts
  libs/clients/agricultural-university-of-iceland/src/lib/clients-agricultural-university-of-iceland.module.ts
  libs/clients/agricultural-university-of-iceland/tsconfig.json
  libs/clients/agricultural-university-of-iceland/tsconfig.lib.json
  libs/clients/agricultural-university-of-iceland/tsconfig.spec.json
  tsconfig.base.json
Due: none

feat: init
  libs/clients/bifrost-university/.eslintrc.json
  libs/clients/bifrost-university/README.md
  libs/clients/bifrost-university/jest.config.ts
  libs/clients/bifrost-university/project.json
  libs/clients/bifrost-university/src/index.ts
  libs/clients/bifrost-university/src/lib/clients-bifrost-university.module.ts
  libs/clients/bifrost-university/tsconfig.json
  libs/clients/bifrost-university/tsconfig.lib.json
  libs/clients/bifrost-university/tsconfig.spec.json
  tsconfig.base.json
Due: none

feat: init
  libs/clients/holar-university/.eslintrc.json
  libs/clients/holar-university/README.md
  libs/clients/holar-university/jest.config.ts
  libs/clients/holar-university/project.json
  libs/clients/holar-university/src/index.ts
  libs/clients/holar-university/src/lib/clients-holar-university.module.ts
  libs/clients/holar-university/tsconfig.json
  libs/clients/holar-university/tsconfig.lib.json
  libs/clients/holar-university/tsconfig.spec.json
  tsconfig.base.json
Due: none

TRS-10 Add indexes to tables
  apps/skilavottord/ws/migrations/20240307210715-add-index-recycling_partner.js
  apps/skilavottord/ws/migrations/20240307210715-add-index-recycling_request.js
  apps/skilavottord/ws/migrations/20240307210715-add-index-vehicle.js
Due: none

removing console.log, adding feature flag
  libs/application/template-api-modules/src/lib/modules/templates/aosh/request-inspection/request-inspection.service.ts
  libs/application/templates/aosh/request-for-inspection/src/lib/RequestForInspectionTemplate.ts
  libs/feature-flags/src/lib/features.ts
Due: Application System API

Updating regulation package to latest, fixing category not showing up correctly in preview.
  libs/application/templates/official-journal-of-iceland/src/fields/Preview.tsx
  libs/application/templates/official-journal-of-iceland/src/lib/utils.ts
  package.json
  yarn.lock
Due: Application System API

allow option for no title in cards
  libs/application/templates/inheritance-report/src/fields/Cards/index.tsx
  libs/application/templates/inheritance-report/src/forms/OverviewSections/OverviewAssets.ts
Due: Application System API

TRS-10 Add index to vehicle_owner
  apps/skilavottord/ws/migrations/20240307210715-add-index-vehicle_owner.js
Due: none

make sure hasNoLoans payload is correct
  libs/application/template-api-modules/src/lib/modules/templates/grindavik-housing-buyout/grindavik-housing-buyout.service.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/application/templates/inheritance-report/src/fields/Cards/index.tsx
Due: Application System API

add preferred delivery date to overview
  libs/application/templates/grindavik-housing-buyout/src/forms/GrindavikHousingBuyoutForm.ts
Due: Application System API

feat: generate
  libs/clients/university-of-akureyri/project.json
  libs/clients/university-of-akureyri/src/clientConfig.yaml
Due: none

TRS-10 Fix vehicle_owner index
  apps/skilavottord/ws/migrations/20240307210715-add-index-vehicle_owner.js
Due: none

feat: generate
  libs/clients/agricultural-university-of-iceland/project.json
  libs/clients/agricultural-university-of-iceland/src/clientConfig.yaml
Due: none

Adding is locale to all datepickers in the application. Extending the datepicker to accept calendar start day prop.
  libs/application/templates/official-journal-of-iceland/src/components/signatures/Committee.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/Regular.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/Publishing.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/Signatures.tsx
  libs/application/templates/official-journal-of-iceland/src/lib/constants.ts
  libs/application/templates/official-journal-of-iceland/src/lib/utils.ts
  libs/island-ui/core/src/lib/DatePicker/DatePicker.tsx
  libs/island-ui/core/src/lib/DatePicker/types.ts
  libs/shared/form-fields/src/lib/DatePickerController/DatePickerController.tsx
Due: Application System API

add missing markdown tags
  libs/application/templates/grindavik-housing-buyout/src/lib/messages/approved.ts
  libs/application/templates/grindavik-housing-buyout/src/lib/messages/rejected.ts
Due: Application System API

TRS-10 Removed extra semicomma
  apps/skilavottord/ws/migrations/20240307210715-add-index-vehicle_owner.js
Due: none

feat: generate
  libs/clients/bifrost-university/project.json
  libs/clients/bifrost-university/src/clientConfig.yaml
Due: none

chore: prettier
  libs/clients/bifrost-university/src/clientConfig.yaml
Due: none

Fixing checkbox controller to ensure value gets passed as an array
  libs/application/templates/official-journal-of-iceland/src/fields/Publishing.tsx
  libs/application/templates/official-journal-of-iceland/src/lib/constants.ts
  libs/application/templates/official-journal-of-iceland/src/lib/utils.ts
  libs/shared/form-fields/src/lib/CheckboxController/CheckboxController.tsx
Due: Application System API

feat: generate
  libs/clients/holar-university/project.json
  libs/clients/holar-university/src/clientConfig.yaml
Due: none

add missing loan providers
  libs/application/templates/grindavik-housing-buyout/src/forms/GrindavikHousingBuyoutForm.ts
  libs/application/templates/grindavik-housing-buyout/src/lib/constants/index.ts
Due: Application System API
