Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Fixing submit for energyfunds
  libs/application/template-api-modules/src/lib/modules/templates/energy-funds/energy-funds.service.ts
Due: Application System API

adding 2 new fields in findVehicleFormField, adjusting submit of energy-funds
  libs/api/domains/energy-funds/src/lib/energyFunds.service.ts
  libs/api/domains/energy-funds/src/lib/graphql/models/getVehicleWithGrant.model.ts
  libs/application/template-api-modules/src/lib/modules/templates/energy-funds/energy-funds.service.ts
  libs/application/templates/energy-funds/src/graphql/queries.ts
  libs/application/ui-fields/src/lib/FindVehicleFormField/FindVehicleFormField.tsx
Due: Portal GraphQL, Application System API

fix(energy-funds): Fixing wrong object cast and text (#14074)
  libs/application/templates/energy-funds/src/utils/getSelectedVehicle.ts
  libs/application/ui-fields/src/lib/FindVehicleFormField/FindVehicleFormField.util.ts
Due: Application System API

Allows district court registrars to complete R cases
  apps/judicial-system/backend/src/app/modules/case/guards/rolesRules.ts
Due: none

Preserves the ruling siganture date when a case is reopened
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
Due: none

Fixes test comments
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getRulingSignatureConfirmation.spec.ts
Due: none

Resolves a linting issue
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.ts
Due: none

Fixes linting issue
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.ts
Due: none

Modifies reopen message
  apps/judicial-system/web/src/components/ReopenModal/ReopenModal.strings.ts
Due: none

feat: initial Stjornartidindi org
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
  apps/web/components/Stjornartidindi/StjornartidindiHomeIntro.css.ts
  apps/web/components/Stjornartidindi/StjornartidindiHomeIntro.tsx
  apps/web/components/Stjornartidindi/StjornartidindiWrapper.tsx
  apps/web/components/Stjornartidindi/index.ts
  apps/web/pages/s/stjornartidindi/index.ts
  apps/web/pages/s/stjornartidindi/leit/index.ts
  apps/web/screens/Organization/Stjornartidindi/StjornartidindiHome.tsx
  apps/web/screens/Organization/Stjornartidindi/StjornartidindiSearch.tsx
  libs/island-ui/core/src/lib/ActionCard/ActionCard.tsx
Due: none

Fix syntax error
  libs/auth-api-lib/migrations/20240227133212-migrate-application-admin-scope.js
Due: none

fix(user-notification): In memory cache fix (#14083)
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker.service.ts
Due: none

fix(auth-api-lib): Fix syntax error (#14087)
  libs/auth-api-lib/migrations/20240227133212-migrate-application-admin-scope.js
Due: none

Remove duplicate transition after merge
  apps/judicial-system/backend/src/app/modules/case/state/case.state.ts
Due: none

fix(j-s): regions
  apps/judicial-system/backend/src/app/modules/notification/notification.service.ts
Due: none

fixes
  apps/judicial-system/web/messages/Core/index.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/DenyIndictmentCaseModal/DenyIndictmentCaseModal.strings.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/DenyIndictmentCaseModal/DenyIndictmentCaseModal.tsx
Due: none

feat(web): Pension Calculator - client side input validation (#14079)
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.tsx
Due: none

Only empty indictment denied explanation if theres something in it to begin with
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
Due: none

feat(university-gateway): Changing search behaviour for a more fair result (#14071)
  apps/web/screens/UniversitySearch/UniversitySearch.tsx
  apps/web/utils/useUniversitySearch.tsx
Due: none

chore/update-codeowners
  .github/CODEOWNERS
Due: none

Fixing build error
  apps/web/screens/UniversitySearch/UniversitySearch.tsx
Due: none

feat(university-gateway): change search results, make more fair (#14088)
  apps/web/screens/UniversitySearch/UniversitySearch.tsx
  apps/web/utils/useUniversitySearch.tsx
Due: none

Update search screen
  apps/web/screens/Search/Search.css.ts
  apps/web/screens/Search/Search.tsx
Due: none

chore:update imports
  apps/api/src/app/app.module.ts
Due: Portal GraphQL

Add temporary comment to force deployment of api
  apps/api/infra/api.ts
Due: Portal GraphQL

Revert "Revert libs/ messages to main"
  libs/application/templates/data-protection-complaint/src/lib/messages/externalData.ts
  libs/application/templates/data-protection-complaint/src/lib/messages/overview.ts
  libs/application/templates/parental-leave/src/lib/messages.ts
Due: Application System API

chore:fix imports
  apps/api/src/app/app.module.ts
Due: Portal GraphQL

fix:add scope
  libs/clients/hunting-license/src/lib/huntingLicenseClient.config.ts
Due: none

chore(identity-server): added migration script for application admin scope (#13998)
  libs/auth-api-lib/migrations/20240227133212-migrate-application-admin-scope.js
Due: none

fix(energy-funds): submit object wrong and adding 2 field in findVehicleFormField (#14085)
  libs/api/domains/energy-funds/src/lib/energyFunds.service.ts
  libs/api/domains/energy-funds/src/lib/graphql/models/getVehicleWithGrant.model.ts
  libs/application/template-api-modules/src/lib/modules/templates/energy-funds/energy-funds.service.ts
  libs/application/templates/energy-funds/src/graphql/queries.ts
  libs/application/ui-fields/src/lib/FindVehicleFormField/FindVehicleFormField.tsx
Due: Portal GraphQL, Application System API

fix(parental-leave): No dynamic record, only const
  libs/application/templates/parental-leave/src/lib/messages.ts
Due: Application System API

Adding anchor for cards to allow for copying address, Allowing listviewcards to share the height of the tallest card in the row, Changing heading from h4 to h3.
  apps/web/components/ActionCategoryCard/ActionCategoryCard.tsx
  apps/web/components/ListViewCard/ListViewCard.tsx
  apps/web/screens/UniversitySearch/UniversitySearch.tsx
Due: none

fix(energy-funds): submit object wrong and adding 2 field in findVehicleFormField (#14086)
  libs/api/domains/energy-funds/src/lib/energyFunds.service.ts
  libs/api/domains/energy-funds/src/lib/graphql/models/getVehicleWithGrant.model.ts
  libs/application/template-api-modules/src/lib/modules/templates/energy-funds/energy-funds.service.ts
  libs/application/templates/energy-funds/src/graphql/queries.ts
  libs/application/ui-fields/src/lib/FindVehicleFormField/FindVehicleFormField.tsx
Due: Portal GraphQL, Application System API

Revert parental leave message record
  libs/application/templates/parental-leave/src/lib/messages.ts
Due: Application System API

fix(j-s): Duplicate contentful strings
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.strings.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
Due: none

fix(j-s): Duplicate contentful strings (#14090)
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.strings.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
Due: none

update README and flow chart
  libs/application/templates/parental-leave/README.md
  libs/application/templates/parental-leave/assets/parental-leave-flow-chart.drawio
  libs/application/templates/parental-leave/assets/parental-leave-flow-chart.png
Due: Application System API

format and remove console log
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/application/templates/parental-leave/README.md
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
