Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

stuff
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/carsChangesCount.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/index.ts
  libs/application/templates/car-rental-fee-category/src/forms/prerequisitesForm/index.ts
  libs/application/templates/car-rental-fee-category/src/lib/messages.ts
Due: Application System API

Small fixes
  libs/application/templates/transport-authority/mile-car/src/forms/mainForm/InformationSection/VehicleSelection.ts
  libs/application/templates/transport-authority/mile-car/src/forms/mainForm/InformationSection/index.ts
  libs/application/templates/transport-authority/mile-car/src/forms/mainForm/index.ts
  libs/application/templates/transport-authority/mile-car/src/forms/prerequisitesForm/index.ts
  libs/application/templates/transport-authority/mile-car/src/lib/messages/selectVehicle.ts
  libs/application/templates/transport-authority/mile-car/src/utils/getVehicleSelectionDescription.ts
Due: Application System API

fix(form-system): NationalId component fix (#21271) (#21276)
  libs/portals/form-system/ui-components/src/components/FieldComponents/NationalId/NationalId.tsx
Due: none

chore(parental-leave): change to V3 for national registry (#21256)
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.ts
  libs/application/templates/parental-leave/src/dataProviders/Children/types.ts
  libs/application/templates/parental-leave/src/dataProviders/PersonInformation/PersonInformation.ts
  libs/application/templates/parental-leave/src/dataProviders/PersonInformation/index.ts
Due: Application System API

Update libs/application/templates/car-rental-fee-category/src/lib/messages.ts
  libs/application/templates/car-rental-fee-category/src/lib/messages.ts
Due: Application System API

Move suspension field to defendant
  apps/judicial-system/api/src/app/modules/defendant/dto/updateDefendant.input.ts
  apps/judicial-system/api/src/app/modules/defendant/models/defendant.model.ts
  apps/judicial-system/api/src/app/modules/verdict/dto/createVerdicts.input.ts
  apps/judicial-system/api/src/app/modules/verdict/dto/updateVerdict.input.ts
  apps/judicial-system/api/src/app/modules/verdict/models/verdict.model.ts
  apps/judicial-system/backend/migrations/20260123164856-update-defendant.js
  apps/judicial-system/backend/src/app/modules/defendant/dto/updateDefendant.dto.ts
  apps/judicial-system/backend/src/app/modules/notification/notificationDispatch.service.ts
  apps/judicial-system/backend/src/app/modules/repository/models/defendant.model.ts
  apps/judicial-system/backend/src/app/modules/repository/models/verdict.model.ts
  apps/judicial-system/backend/src/app/modules/verdict/dto/createVerdict.dto.ts
  apps/judicial-system/backend/src/app/modules/verdict/dto/updateVerdict.dto.ts
  apps/judicial-system/backend/src/app/modules/verdict/internalVerdict.controller.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.service.ts
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/DefendantServiceRequirement.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
  apps/judicial-system/web/src/utils/hooks/useVerdict/verdict.graphql
Due: none

fix(application-system): Minor fixes for mile car application (#21275)
  libs/application/templates/transport-authority/mile-car/src/forms/mainForm/InformationSection/VehicleSelection.ts
  libs/application/templates/transport-authority/mile-car/src/forms/mainForm/InformationSection/index.ts
  libs/application/templates/transport-authority/mile-car/src/forms/mainForm/index.ts
  libs/application/templates/transport-authority/mile-car/src/forms/prerequisitesForm/index.ts
  libs/application/templates/transport-authority/mile-car/src/lib/messages/selectVehicle.ts
  libs/application/templates/transport-authority/mile-car/src/utils/getVehicleSelectionDescription.ts
Due: Application System API

Update index.ts
  libs/application/templates/car-rental-fee-category/src/forms/prerequisitesForm/index.ts
Due: Application System API

fix(application-system): Minor fixes (#21277)
  libs/application/templates/transport-authority/mile-car/src/forms/mainForm/InformationSection/VehicleSelection.ts
  libs/application/templates/transport-authority/mile-car/src/forms/mainForm/InformationSection/index.ts
  libs/application/templates/transport-authority/mile-car/src/forms/mainForm/index.ts
  libs/application/templates/transport-authority/mile-car/src/forms/prerequisitesForm/index.ts
  libs/application/templates/transport-authority/mile-car/src/lib/messages/selectVehicle.ts
  libs/application/templates/transport-authority/mile-car/src/utils/getVehicleSelectionDescription.ts
Due: Application System API

fix:
  libs/portals/my-pages/core/src/components/Charts/SimpleBarChart/SimpleBarChart.stories.tsx
Due: none

chore: format update dirty file
  libs/application/templates/car-rental-fee-category/src/lib/messages.ts
Due: Application System API

fix(my-rental-agreements): update feature flag (#21268)
  libs/api/domains/hms/src/lib/resolvers/rentalAgreements.resolver.ts
  libs/feature-flags/src/lib/features.ts
Due: Portal GraphQL

select fields for tags and categories
  libs/island-ui/core/src/lib/Select/Components/index.tsx
  libs/portals/admin/ids-admin/src/lib/messages.ts
  libs/portals/admin/ids-admin/src/screens/Permission/components/PermissionContent.tsx
Due: none

fix: remove action card
  libs/portals/my-pages/core/src/components/ActionCard/ActionCard.stories.tsx
Due: none

fix(bilaleigu-gjaldflokkur): Adding some text to improve UX in new application (#21278)
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/carsChangesCount.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/index.ts
  libs/application/templates/car-rental-fee-category/src/forms/prerequisitesForm/index.ts
  libs/application/templates/car-rental-fee-category/src/lib/messages.ts
Due: Application System API

fix(j-s): fix verdict
  apps/judicial-system/backend/migrations/20260123111529-fix-verdict-id.js
Due: none

Fix update
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
Due: none

Rename migration
  apps/judicial-system/backend/migrations/20260120164854-create-institution-contact.js
Due: none

fix(estate): fix negative numbers being added as abs value to sum
  libs/application/templates/estate/src/fields/BankAccountsRepeater/index.tsx
  libs/application/templates/estate/src/fields/ClaimsRepeater/index.tsx
  libs/application/templates/estate/src/lib/utils.spec.ts
  libs/application/templates/estate/src/lib/utils.ts
Due: Application System API

Update 1st grade registration period
  libs/application/templates/new-primary-school/src/forms/Prerequisites/childrenSubSection.ts
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.spec.ts
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.ts
Due: Application System API

Fix types
  apps/judicial-system/backend/src/app/modules/repository/models/institutionContact.model.ts
Due: none

add identifier to sections and screens
  apps/services/form-system/migrations/20260123091624-add-identifier.js
  apps/services/form-system/src/app/modules/fields/models/dto/field.dto.ts
  apps/services/form-system/src/app/modules/forms/forms.service.ts
  apps/services/form-system/src/app/modules/screens/models/dto/screen.dto.ts
  apps/services/form-system/src/app/modules/screens/models/screen.model.ts
  apps/services/form-system/src/app/modules/sections/models/dto/section.dto.ts
  apps/services/form-system/src/app/modules/sections/models/section.model.ts
  libs/api/domains/form-system/src/models/field.model.ts
  libs/api/domains/form-system/src/models/screen.model.ts
  libs/api/domains/form-system/src/models/section.model.ts
  libs/portals/form-system/graphql/src/lib/fragments/field.ts
  libs/portals/form-system/graphql/src/lib/fragments/screen.ts
  libs/portals/form-system/graphql/src/lib/fragments/section.ts
Due: Portal GraphQL

chore: format update dirty file
  libs/application/templates/estate/src/lib/utils.spec.ts
  libs/application/templates/estate/src/lib/utils.ts
Due: Application System API

fix(j-s): fix verdict (#21279)
  apps/judicial-system/backend/migrations/20260123111529-fix-verdict-id.js
Due: none

Fetch case types a different way
  libs/clients/verdicts/src/goproClientConfig.json
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: none

feat(new-primary-school): Update 1st grade registration period (#21281)
  libs/application/templates/new-primary-school/src/forms/Prerequisites/childrenSubSection.ts
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.spec.ts
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.ts
Due: Application System API

add identifier to listItem
  apps/services/form-system/migrations/20260123091624-add-identifier.js
  apps/services/form-system/migrations/20260123091628-add-identifier.js
  apps/services/form-system/src/app/modules/forms/forms.service.ts
  apps/services/form-system/src/app/modules/listItems/models/dto/listItem.dto.ts
  apps/services/form-system/src/app/modules/listItems/models/listItem.model.ts
  libs/api/domains/form-system/src/models/listItem.model.ts
  libs/portals/form-system/graphql/src/lib/fragments/listItem.ts
Due: Portal GraphQL

feat: update logic
  apps/services/cms-importer/src/app/energy-fund-import/energy-fund-import.service.ts
  apps/services/cms-importer/src/app/fsre-buildings-import/fsre-buildings.service.ts
  apps/services/cms-importer/src/app/repositories/cms/cms.repository.ts
  apps/services/cms-importer/src/app/repositories/cms/managementClient/managementClient.service.ts
  apps/services/cms-importer/src/app/repositories/fsre-buildings/mapper.ts
Due: none

fix: reenable rannis grant cronjob
  apps/services/cms-importer/infra/cms-importer-worker.ts
Due: none

chore: charts update dirty file
  charts/islandis-services/cms-importer-worker/values.dev.yaml
  charts/islandis-services/cms-importer-worker/values.prod.yaml
  charts/islandis-services/cms-importer-worker/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

fix: Add SA for form-system (#21225)
  apps/services/form-system/infra/form-system.ts
  charts/islandis-services/services-form-system-api/values.dev.yaml
  charts/islandis-services/services-form-system-api/values.prod.yaml
  charts/islandis-services/services-form-system-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

Add back freshman radio + get date to display from code instead of updating contentful 3x a year
  libs/application/template-api-modules/src/lib/modules/templates/secondary-school/secondary-school.service.ts
  libs/application/templates/secondary-school/src/dataProviders/index.ts
  libs/application/templates/secondary-school/src/forms/prerequisitesForm.ts
  libs/application/templates/secondary-school/src/forms/secondarySchoolForm/conclusionSection/index.ts
  libs/application/templates/secondary-school/src/forms/secondarySchoolForm/userInformationSection/personalSubSection.ts
  libs/application/templates/secondary-school/src/forms/submittedForm.ts
  libs/application/templates/secondary-school/src/lib/SecondarySchoolTemplate.ts
  libs/application/templates/secondary-school/src/lib/messages/conclusion.ts
  libs/application/templates/secondary-school/src/utils/helperFunctions/getDate.ts
  libs/application/templates/secondary-school/src/utils/types/index.ts
  libs/clients/secondary-school/src/lib/secondarySchoolClient.service.ts
  libs/clients/secondary-school/src/lib/secondarySchoolClient.types.ts
Due: Application System API

enhance feature flag handling and loading state
  apps/native/app/src/screens/health/health-overview.tsx
  apps/native/app/src/screens/inbox/inbox-filter.tsx
  apps/native/app/src/screens/medicine/components/prescription-card.tsx
  apps/native/app/src/screens/medicine/prescriptions.tsx
Due: none

feat(web): Verdicts - Fetch case types a different way (#21282)
  libs/clients/verdicts/src/goproClientConfig.json
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: none

Fixes transaction handling
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/interceptors/completedAppealAccessed.interceptor.ts
  apps/judicial-system/backend/src/app/modules/case/pdf.service.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.service.ts
Due: none

update dependencies
  apps/services/form-system/src/app/modules/forms/forms.service.ts
Due: none

chore: format update dirty file
  apps/native/app/src/screens/health/health-overview.tsx
  apps/native/app/src/screens/inbox/inbox-filter.tsx
  apps/native/app/src/screens/medicine/components/prescription-card.tsx
  apps/native/app/src/screens/medicine/prescriptions.tsx
Due: none

Add schedule type filter
  apps/web/screens/CourtAgendas/CourtAgendas.tsx
  apps/web/screens/CourtAgendas/translations.strings.ts
  apps/web/screens/queries/CourtAgendas.ts
  libs/api/domains/verdicts/src/lib/dto/courtAgendas.input.ts
  libs/api/domains/verdicts/src/lib/dto/scheduleTypes.response.ts
  libs/api/domains/verdicts/src/lib/verdicts.resolver.ts
  libs/api/domains/verdicts/src/lib/verdicts.service.ts
  libs/clients/verdicts/src/lib/constants.ts
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: Portal GraphQL
