Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

lintfix
  libs/application/api/payment/src/lib/payment.service.ts
Due: Application System API

fix(my-pages-law-and-order): Fix ui errors in police case details (#21209)
  libs/portals/my-pages/law-and-order/src/screens/PoliceCaseDetail/PoliceCaseDetail.tsx
Due: none

Add isDrivingLicenseSuspended to Verdict table
  apps/judicial-system/api/src/app/modules/verdict/dto/createVerdicts.input.ts
  apps/judicial-system/api/src/app/modules/verdict/dto/updateVerdict.input.ts
  apps/judicial-system/api/src/app/modules/verdict/models/verdict.model.ts
  apps/judicial-system/backend/migrations/20260119164852-update_verdict.js
  apps/judicial-system/backend/src/app/modules/repository/models/verdict.model.ts
  apps/judicial-system/backend/src/app/modules/verdict/dto/createVerdict.dto.ts
  apps/judicial-system/backend/src/app/modules/verdict/dto/updateVerdict.dto.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.service.ts
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/InformationForDefendant.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
  apps/judicial-system/web/src/utils/hooks/useVerdict/verdict.graphql
Due: none

fix: calendar behavour
  libs/island-ui/core/src/lib/DatePicker/DatePicker.tsx
  libs/portals/my-pages/finance/src/screens/FinanceTransactions/FinanceTransactions.tsx
  libs/portals/my-pages/health/src/components/PatientDataPermit/Dates.tsx
  libs/portals/my-pages/health/src/screens/MedicineDelegation/components/ChooseDate.tsx
Due: none

Fixes BÓ
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentInformationSection/employmentHistory.ts
  libs/application/templates/unemployment-benefits/src/utils/overviewAnswers/vacationAnswers.ts
Due: Application System API

Automatically check DRIVING_RIGHTS_REVOKED_TRANSLATION when verdict is suspend license
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/DefendantServiceRequirement.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/InformationForDefendant.tsx
Due: none

feat(estate): move payment information section to new page (#21208)
  libs/application/templates/estate/src/forms/Forms.ts
  libs/application/templates/estate/src/forms/Overviews.ts
  libs/application/templates/estate/src/forms/Sections/payment.ts
  libs/application/templates/estate/src/lib/messages.ts
Due: Application System API

fix(j-s): add prosecutor column to draft case table
  libs/judicial-system/types/src/lib/tables/caseTables/prosecution.ts
Due: none

fix(j-s): Wording changed in court record intro
  apps/judicial-system/backend/src/app/formatters/courtRecordPdf.ts
  apps/judicial-system/backend/src/app/messages/pdfCourtRecord.ts
Due: none

date parsing error fixed in vacation and select readonly becomes text field
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.service.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentInformationSection/employmentHistory.ts
Due: Application System API

WIP
  apps/api/src/app/app.module.ts
  apps/web/app/sitemap.xml/route.ts
  apps/web/graphql/client.ts
  libs/clients/cms/src/index.ts
  libs/clients/cms/src/lib/cms.module.ts
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/cms.module.ts
  libs/cms/src/lib/cms.resolver.ts
  libs/cms/src/lib/dto/getWebSitemap.input.ts
  libs/cms/src/lib/models/web-sitemap.model.ts
Due: Portal GraphQL

lint fix
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentInformationSection/employmentHistory.ts
Due: Application System API

Update car-rental-fee-category.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
Due: Application System API

Initial commit
  apps/services/cms-importer/infra/cms-importer-worker.ts
  apps/services/cms-importer/project.json
  apps/services/cms-importer/src/app/utils.ts
  apps/services/cms-importer/src/app/web-sitemap/web-sitemap-worker.ts
  apps/services/cms-importer/src/app/web-sitemap/web-sitemap.module.ts
  apps/services/cms-importer/src/app/web-sitemap/web-sitemap.service.ts
  apps/services/cms-importer/src/main.ts
Due: none

chore: format update dirty file
  apps/services/cms-importer/infra/cms-importer-worker.ts
  apps/services/cms-importer/src/app/web-sitemap/web-sitemap-worker.ts
  apps/services/cms-importer/src/app/web-sitemap/web-sitemap.module.ts
  apps/services/cms-importer/src/app/web-sitemap/web-sitemap.service.ts
Due: none

chore: format update dirty file
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
Due: Application System API

fix(unemployments-benefits): date validation error prod (#21215)
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.service.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentInformationSection/employmentHistory.ts
  libs/application/templates/unemployment-benefits/src/utils/overviewAnswers/vacationAnswers.ts
Due: Application System API

update complete and steps
  apps/form-system/web/src/components/Screen/components/Summary/Summary.tsx
  apps/form-system/web/src/reducers/applicationReducer.ts
  apps/form-system/web/src/reducers/reducerUtils.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
Due: none

fix stepcounter
  apps/form-system/web/src/reducers/reducerUtils.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
Due: none

fix(form-system): Update completed and steps counter (#21218)
  apps/form-system/web/src/components/Footer/Footer.tsx
  apps/form-system/web/src/components/Screen/components/Summary/Summary.tsx
  apps/form-system/web/src/reducers/applicationReducer.ts
  apps/form-system/web/src/reducers/reducerUtils.ts
  apps/services/form-system/src/app/modules/applications/applications.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
  libs/api/domains/form-system/src/dto/application.input.ts
  libs/api/domains/form-system/src/lib/applications/applications.resolver.ts
  libs/api/domains/form-system/src/lib/applications/applications.service.ts
  libs/portals/form-system/graphql/src/lib/mutations/index.ts
  libs/portals/form-system/graphql/src/lib/mutations/updateApplicationDependencies.ts
  libs/portals/form-system/graphql/src/lib/mutations/updateApplicationSettings.ts
Due: Portal GraphQL

feat(web): Revert "feat(web): Revert web pension calculator changes before release 41.1.0 (#21197)" (#21200)
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.css.ts
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculatorResults.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculatorTitle.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/translationStrings.ts
  apps/web/screens/Organization/SocialInsuranceAdministration/utils.ts
Due: none

minor updates
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.utils.ts
  libs/application/templates/unemployment-benefits/src/dataProviders/index.ts
  libs/application/templates/unemployment-benefits/src/forms/prerequisitesForm/index.ts
  libs/application/templates/unemployment-benefits/src/lib/UnemploymentBenefitsTemplate.ts
  libs/application/templates/unemployment-benefits/src/lib/messages/errors.ts
  libs/application/templates/unemployment-benefits/src/lib/schemas/jobWishesSchema.ts
  libs/application/templates/unemployment-benefits/src/utils/getOverviewItems.ts
Due: Application System API

language item
  libs/application/templates/unemployment-benefits/src/utils/getOverviewItems.ts
Due: Application System API

fix
  libs/application/api/payment/src/lib/payment.service.ts
Due: Application System API

fix(j-s): Wording changed in court record intro (#21213)
  apps/judicial-system/backend/src/app/formatters/courtRecordPdf.ts
  apps/judicial-system/backend/src/app/messages/pdfCourtRecord.ts
Due: none

linitng
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.service.ts
Due: Application System API

fix(j-s): add prosecutor column to draft case table (#21212)
  libs/judicial-system/types/src/lib/tables/caseTables/prosecution.ts
Due: none

linting
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.service.ts
Due: Application System API

Periodically run sitemap job
  apps/services/cms-importer/infra/cms-importer-worker.ts
  infra/src/uber-charts/islandis.ts
Due: none

chore: charts update dirty file
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

fix(unemployment-benefits): minor updates after launch (#21219)
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.utils.ts
  libs/application/templates/unemployment-benefits/src/dataProviders/index.ts
  libs/application/templates/unemployment-benefits/src/forms/prerequisitesForm/index.ts
  libs/application/templates/unemployment-benefits/src/lib/UnemploymentBenefitsTemplate.ts
  libs/application/templates/unemployment-benefits/src/lib/messages/errors.ts
  libs/application/templates/unemployment-benefits/src/lib/schemas/jobWishesSchema.ts
  libs/application/templates/unemployment-benefits/src/utils/getOverviewItems.ts
Due: Application System API

Fixes subpoena on prod
  apps/judicial-system/backend/migrations/20260120091030-fix-subpoena-id.js
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
