Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

feat(health insurance application): Throw template api error if sjukra services cant be reached (#11193)
  libs/application/core/src/lib/messages.ts
  libs/application/template-api-modules/src/lib/modules/templates/health-insurance/health-insurance.service.ts
  libs/application/templates/accident-notification/src/utils/isHealthInsured.ts
Due: Application System API

wip
  libs/portals/admin/ids-admin/src/components/Client/Client.tsx
  libs/portals/admin/ids-admin/src/components/Permission/PermissionHeader.tsx
  libs/portals/admin/ids-admin/src/components/forms/EditApplication/EditApplication.action.ts
  libs/portals/admin/ids-admin/src/components/forms/EditPermission/PermissionContent.tsx
  libs/portals/admin/ids-admin/src/components/forms/EnvironmentHeader/EnvironmentHeader.tsx
  libs/portals/admin/ids-admin/src/shared/components/DropdownSync/DropdownSync.tsx
  libs/portals/admin/ids-admin/src/shared/utils/environments.ts
Due: none

feat(order vehicle license plate): Change slug (#11215)
  libs/application/types/src/lib/ApplicationTypes.ts
  libs/service-portal/vehicles/src/lib/messages.ts
Due: none

Add sticky layout header to permission
  libs/portals/admin/ids-admin/src/screens/PermissionScreen/PermissionScreen.tsx
Due: none

feat: update icon
  apps/service-portal/src/screens/Dashboard/Dashboard.tsx
Due: none

feat: add col value
  libs/api/domains/rights-portal/src/lib/models/getAidsAndNutrition.model.ts
  libs/clients/icelandic-health-insurance/rights-portal/src/clientConfig.json
  libs/service-portal/health/src/screens/AidsAndNutrition/AidsAndNutrition.graphql
  libs/service-portal/health/src/screens/AidsAndNutrition/AidsTable.tsx
Due: Portal GraphQL

feat: update disclaimer
  libs/service-portal/health/src/components/FootNote.tsx/helper.tsx
  libs/service-portal/health/src/lib/messages.ts
  libs/service-portal/health/src/screens/Therapies/Therapies.tsx
Due: none

feat(web): Sjúkratryggingar service web form changes (#11189)
  apps/web/components/ServiceWeb/Forms/StandardForm/StandardForm.tsx
  apps/web/components/ServiceWeb/Forms/StandardForm/types.ts
  apps/web/screens/ServiceWeb/Forms/Forms.tsx
  apps/web/screens/ServiceWeb/Forms/utils.ts
  libs/api/domains/communications/src/lib/emailTemplates/serviceWebForms.ts
Due: Portal GraphQL

Add link for reg cert. Update studentbook for no inactive books
  libs/service-portal/vehicles/src/lib/messages.ts
  libs/service-portal/vehicles/src/screens/DrivingLessonsBook/DrivingLessonsBook.tsx
  libs/service-portal/vehicles/src/screens/VehicleDetail/VehicleDetail.tsx
Due: none

Update query
  libs/service-portal/vehicles/src/screens/DrivingLessonsBook/DrivingLessonsBook.tsx
Due: none

feat(web): Prevent flex wrap if there are only 2 organization external links (#11209)
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
Due: none

Update connection to API
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/dsl/xroad.ts
  libs/clients/transport-authority/vehicle-plate-renewal/project.json
  libs/clients/transport-authority/vehicle-plate-renewal/src/clientConfig.json
  libs/clients/transport-authority/vehicle-plate-renewal/src/lib/apiConfiguration.ts
  libs/clients/transport-authority/vehicle-plate-renewal/src/lib/vehiclePlateRenewalClient.config.ts
  libs/clients/transport-authority/vehicle-plate-renewal/src/lib/vehiclePlateRenewalClient.service.ts
  libs/clients/transport-authority/vehicle-plate-renewal/src/lib/vehiclePlateRenewalClient.types.ts
Due: none

finishup
  apps/web/screens/PetitionView/PetitionView.tsx
  apps/web/screens/PetitionView/Skeleton.tsx
  libs/island-ui/contentful/src/lib/RichTextRC/defaultRenderComponents.tsx
  libs/shared/connected/src/lib/generalPetition/GeneralPetitionLists/GeneralPetitionLists.tsx
  libs/shared/connected/src/lib/generalPetition/GeneralPetitionLists/useGetPetitionLists.ts
Due: none

feat: add scope seed
  libs/auth-api-lib/seeders/data/scope-health.ts
Due: none

wrong string fix
  libs/shared/connected/src/lib/generalPetition/GeneralPetitionLists/GeneralPetitionLists.tsx
Due: none

button size
  apps/web/screens/PetitionView/PetitionView.tsx
Due: none

Merge fixes
  libs/portals/admin/ids-admin/src/components/Client/Client.tsx
  libs/portals/admin/ids-admin/src/components/Permission/PermissionHeader.tsx
  libs/portals/admin/ids-admin/src/components/forms/EditApplication/EditApplication.action.ts
  libs/portals/admin/ids-admin/src/components/forms/EditPermission/PermissionContent.tsx
  libs/portals/admin/ids-admin/src/components/forms/EnvironmentHeader/EnvironmentHeader.tsx
  libs/portals/admin/ids-admin/src/shared/components/DropdownSync/DropdownSync.tsx
  libs/portals/admin/ids-admin/src/shared/utils/environments.ts
Due: none

Only show tenant environments in EnvironmentHeader
  libs/portals/admin/ids-admin/src/components/forms/EnvironmentHeader/EnvironmentHeader.tsx
  libs/portals/admin/ids-admin/src/module.tsx
  libs/portals/admin/ids-admin/src/screens/ClientsScreen.tsx
Due: none

added tests
  apps/application-system/api/src/app/modules/application/tools/templateApiActionRunner.service.spec.ts
  apps/application-system/api/src/app/modules/application/tools/templateApiActionRunner.service.ts
Due: Application System API

feat(web): Add footer and header for SHH organization (#11182)
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
  apps/web/components/Organization/Wrapper/Themes/SHHTheme/ShhFooter.css.ts
  apps/web/components/Organization/Wrapper/Themes/SHHTheme/ShhFooter.tsx
  apps/web/components/Organization/Wrapper/Themes/SHHTheme/ShhHeader.css.ts
  apps/web/components/Organization/Wrapper/Themes/SHHTheme/ShhHeader.tsx
  apps/web/components/Organization/Wrapper/Themes/SHHTheme/index.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
Due: none

Change top padding of content inside tab slice
  apps/web/screens/Project/Project.tsx
Due: none

fix introScreen text namespace
  libs/application/templates/european-health-insurance-card/src/lib/messages.ts
Due: Application System API

feat(license plate renewal): Update connection to API (#11218)
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/dsl/xroad.ts
  libs/clients/transport-authority/vehicle-plate-renewal/project.json
  libs/clients/transport-authority/vehicle-plate-renewal/src/clientConfig.json
  libs/clients/transport-authority/vehicle-plate-renewal/src/lib/apiConfiguration.ts
  libs/clients/transport-authority/vehicle-plate-renewal/src/lib/vehiclePlateRenewalClient.config.ts
  libs/clients/transport-authority/vehicle-plate-renewal/src/lib/vehiclePlateRenewalClient.service.ts
  libs/clients/transport-authority/vehicle-plate-renewal/src/lib/vehiclePlateRenewalClient.types.ts
Due: none

yay
  apps/consultation-portal/components/index.ts
  apps/consultation-portal/screens/Case/Case.json
  apps/consultation-portal/screens/Case/Case.tsx
  apps/consultation-portal/screens/Case/components/AdviceCTA/AdviceCTA.tsx
  apps/consultation-portal/screens/Case/components/AdviceForm/AdviceForm.tsx
  apps/consultation-portal/screens/Case/components/CaseEmailBox/CaseEmailActionBox.tsx
  apps/consultation-portal/screens/Case/components/CaseEmailBox/CaseEmailBox.tsx
  apps/consultation-portal/screens/Home/Home.json
  apps/consultation-portal/screens/Home/Home.tsx
  apps/consultation-portal/screens/Home/components/HeroBanner/HeroBanner.css.ts
  apps/consultation-portal/screens/Home/components/HeroBanner/HeroBanner.tsx
  apps/consultation-portal/screens/Home/components/HeroBanner/components/HeroTiles/HeroTiles.css.ts
  apps/consultation-portal/screens/Home/components/HeroBanner/components/HeroTiles/HeroTiles.tsx
  apps/consultation-portal/screens/Home/components/HeroBanner/components/StatisticBox/StatisticBox.css.ts
  apps/consultation-portal/screens/Home/components/HeroBanner/components/StatisticBox/StatisticBox.tsx
  apps/consultation-portal/screens/Home/components/HeroBanner/components/index.ts
  apps/consultation-portal/screens/Home/components/index.ts
  apps/consultation-portal/screens/Subscriptions/components/ChosenSubscriptions/ChosenSubscriptions.tsx
  apps/consultation-portal/types/enums.ts
Due: none

work in progress getting appeal
  apps/judicial-system/api/src/app/modules/caseList/models/caseList.model.ts
  apps/judicial-system/backend/src/app/modules/case/models/caseListEntry.response.ts
  apps/judicial-system/web/src/routes/CourtOfAppeal/Cases/Cases.tsx
  apps/judicial-system/web/src/utils/mutations.ts
Due: none

Uncomfirmed files data, show fallback string when no data available
  libs/api/domains/university-of-iceland/src/lib/models/studentInfo.model.ts
  libs/clients/university-of-iceland/src/clientConfig.yaml
  libs/service-portal/education/src/screens/EducationGraduationDetail/EducationGraduationDetail.tsx
Due: Portal GraphQL

feat(j-s): Case File Access (#11198)
  apps/judicial-system/web/src/components/AccordionItems/CaseFilesAccordionItem/CaseFilesAccordionItem.tsx
  apps/judicial-system/web/src/components/CaseFileList/CaseFileList.spec.tsx
  apps/judicial-system/web/src/components/CaseFileList/CaseFileList.tsx
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/Overview/Overview.tsx
  apps/judicial-system/web/src/utils/hooks/useCourtUpload/index.ts
Due: none

moving title for a case to formhelper
  apps/judicial-system/web/src/routes/CourtOfAppeal/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/components/CaseOverviewHeader/CaseOverviewHeader.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
  apps/judicial-system/web/src/utils/formHelper.ts
Due: none

Remove unused import
  libs/api/domains/university-of-iceland/src/lib/models/studentInfo.model.ts
Due: Portal GraphQL

addings appealstring to core
  apps/judicial-system/web/messages/Core/index.ts
  apps/judicial-system/web/src/routes/CourtOfAppeal/AppealCase/AppealCase.strings.ts
  apps/judicial-system/web/src/routes/CourtOfAppeal/AppealCase/AppealCase.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
  apps/judicial-system/web/src/routes/Defender/CaseOverview.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
Due: none

fix: link in cms
  libs/service-portal/health/src/components/FootNote.tsx/helper.tsx
  libs/service-portal/health/src/lib/messages.ts
Due: none

fix(j-s): Fix modal text (#11200)
  apps/judicial-system/web/src/routes/Shared/Statement/Statement.strings.ts
  apps/judicial-system/web/src/routes/Shared/Statement/Statement.tsx
Due: none

slug
  libs/application/templates/european-health-insurance-card/README.md
  libs/application/types/src/lib/ApplicationTypes.ts
Due: Application System API

fix: link to cms
  libs/service-portal/health/src/components/FootNote.tsx/helper.tsx
  libs/service-portal/health/src/components/LinkButton/LinkButton.tsx
  libs/service-portal/health/src/lib/messages.ts
  libs/service-portal/health/src/screens/AidsAndNutrition/AidsAndNutrition.tsx
Due: none

fix: comment
  libs/service-portal/health/src/screens/HealthOverview/HealthOverview.tsx
Due: none

fixing imports
  apps/judicial-system/web/src/routes/Defender/CaseOverview.tsx
Due: none

changed breadcrumbs and eyebrow names and About translations
  apps/consultation-portal/components/Breadcrumbs/Breadcrumbs.tsx
  apps/consultation-portal/components/BreadcrumbsWithMobileDivider/index.ts
  apps/consultation-portal/components/Card/Card.tsx
  apps/consultation-portal/components/Eyebrows/Eyebrows.tsx
  apps/consultation-portal/components/index.ts
  apps/consultation-portal/screens/About/About.json
  apps/consultation-portal/screens/About/About.tsx
  apps/consultation-portal/screens/About/components/AboutContent/AboutContent.tsx
  apps/consultation-portal/screens/About/components/TableOfContents/TableOfContents.tsx
  apps/consultation-portal/screens/Advices/Advices.tsx
  apps/consultation-portal/screens/Case/components/CaseOverview/CaseOverview.tsx
  apps/consultation-portal/screens/Subscriptions/components/SubscriptionsSkeleton/SubscriptionsSkeleton.tsx
  apps/consultation-portal/utils/consts/consts.ts
Due: none

Fix external tenant id on filtering allowed scope. Fix filtering available scopes in add permissions. Fix description.
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
  libs/portals/admin/ids-admin/src/components/Client/Permissions.tsx
  libs/portals/admin/ids-admin/src/components/forms/AddPermissions/AddPermissions.tsx
  libs/portals/admin/ids-admin/src/lib/messages.ts
  libs/portals/admin/ids-admin/src/shared/components/ContentCard/ContentCard.tsx
Due: none

fix intro screen description
  libs/application/templates/european-health-insurance-card/src/fields/IntroScreen/IntroScreen.tsx
  libs/application/templates/european-health-insurance-card/src/fields/index.ts
  libs/application/templates/european-health-insurance-card/src/forms/EuropeanHealthInsuranceCardPre.tsx
  libs/application/templates/european-health-insurance-card/src/lib/messages.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
