Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

feat(singature-collection): max reached check (#13276)
  libs/api/domains/signature-collection/src/lib/models/area.model.ts
  libs/api/domains/signature-collection/src/lib/models/signatureList.model.ts
  libs/clients/signature-collection/src/lib/types/area.dto.ts
  libs/clients/signature-collection/src/lib/types/bulkUpload.dto.ts
  libs/clients/signature-collection/src/lib/types/collection.dto.ts
  libs/clients/signature-collection/src/lib/types/list.dto.ts
  libs/clients/signature-collection/src/lib/types/signature.dto.ts
Due: Portal GraphQL

fix: heading
  libs/service-portal/core/src/components/TabNavigation/TabNavigation.css.ts
  libs/service-portal/core/src/components/TabNavigation/TabNavigation.tsx
  libs/service-portal/health/src/screens/Medicine/MedicineLicense.tsx
Due: none

Generate template
  libs/application/template-loader/src/lib/templateLoaders.ts
  libs/application/templates/home-support/.babelrc
  libs/application/templates/home-support/.eslintrc.json
  libs/application/templates/home-support/README.md
  libs/application/templates/home-support/jest.config.ts
  libs/application/templates/home-support/project.json
  libs/application/templates/home-support/src/dataProviders/index.ts
  libs/application/templates/home-support/src/forms/Prerequisites.ts
  libs/application/templates/home-support/src/index.ts
  libs/application/templates/home-support/src/lib/HomeSupportTemplate.ts
  libs/application/templates/home-support/src/lib/constants/index.ts
  libs/application/templates/home-support/src/lib/dataSchema.ts
  libs/application/templates/home-support/src/lib/messages/application.ts
  libs/application/templates/home-support/src/lib/messages/index.ts
  libs/application/templates/home-support/src/lib/messages/prerequisites.ts
  libs/application/templates/home-support/tsconfig.json
  libs/application/templates/home-support/tsconfig.lib.json
  libs/application/templates/home-support/tsconfig.spec.json
  libs/application/types/src/lib/ApplicationTypes.ts
  libs/application/types/src/lib/institutionMapper.ts
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: Application System API

feat(social-insurance-administration): Add file upload shared props to constants in sia core (#13278)
  libs/application/templates/social-insurance-administration/core/src/lib/constants.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/forms/AdditionalDocumentsRequired.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/forms/HouseholdSupplementForm.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/AdditionalDocumentsRequired.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/OldAgePensionForm.ts
Due: Application System API

fix: loading and spacing
  libs/service-portal/health/src/components/TherapiesTabContent/TherapiesTabContent.tsx
  libs/service-portal/health/src/screens/Therapies/TherapiesOccupational.tsx
  libs/service-portal/health/src/screens/Therapies/TherapiesPhysical.tsx
  libs/service-portal/health/src/screens/Therapies/TherapiesSpeech.tsx
  libs/service-portal/health/src/screens/Therapies/wrapper/TherapiesWrapper.tsx
Due: none

fix: make plus
  libs/service-portal/health/src/screens/Payments/PaymentParticipation.tsx
Due: none

candidate
  libs/api/domains/signature-collection/src/lib/models/signatureList.model.ts
  libs/api/domains/signature-collection/src/lib/models/signee.model.ts
  libs/api/domains/signature-collection/src/lib/signatureCollection.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/signature-collection/signature-list-creation/signature-list-creation.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/signature-collection/signature-list-signing/signature-list-signing.service.ts
  libs/application/templates/signature-collection/signature-list-creation/src/fields/ListCreated/index.tsx
  libs/clients/signature-collection/src/lib/signature-collection.service.ts
  libs/clients/signature-collection/src/lib/signature-collection.types.ts
  libs/clients/signature-collection/src/lib/types/candidate.dto.ts
  libs/clients/signature-collection/src/lib/types/list.dto.ts
  libs/clients/signature-collection/src/lib/types/signature.dto.ts
  libs/clients/signature-collection/src/lib/types/user.dto.ts
  libs/portals/admin/signature-collection/src/screens/AllLists/getAllSignatureLists.graphql
  libs/portals/admin/signature-collection/src/screens/AllLists/index.tsx
  libs/portals/admin/signature-collection/src/screens/List/components/extendDeadline/extendDeadline.graphql
  libs/portals/admin/signature-collection/src/screens/List/getSignatureList.graphql
  libs/portals/admin/signature-collection/src/screens/List/index.tsx
  libs/service-portal/signature-collection/src/screens/SignatureLists/index.tsx
  libs/service-portal/signature-collection/src/screens/SignatureLists/ownerView.tsx
  libs/service-portal/signature-collection/src/screens/SignatureLists/signeeView.tsx
  libs/service-portal/signature-collection/src/screens/ViewList/index.tsx
  libs/service-portal/signature-collection/src/screens/queries.ts
Due: Portal GraphQL, Application System API

setup basic form and first screen
  libs/application/templates/home-support/src/forms/HomeSupportForm.ts
  libs/application/templates/home-support/src/lib/HomeSupportTemplate.ts
  libs/application/templates/home-support/src/lib/constants/index.ts
  libs/application/templates/home-support/src/lib/messages/application.ts
Due: Application System API

Fixes unauthenticated handling
  apps/judicial-system/web/src/components/FormProvider/FormProvider.tsx
Due: none

feat: mileage updates
  apps/native/app/src/graphql/queries/vehicle-mileage.graphql
  apps/native/app/src/messages/en.ts
  apps/native/app/src/messages/is.ts
  apps/native/app/src/screens/login/testing-login.tsx
  apps/native/app/src/screens/vehicles/components/vehicle-item.tsx
  apps/native/app/src/screens/vehicles/vehicle-mileage.screen.tsx
  apps/native/app/src/ui/lib/tableview/tableview-cell.tsx
  apps/native/app/src/ui/lib/text-field/text-field.tsx
  apps/native/app/src/utils/get-default-options.ts
Due: none

fix(car-recycling): fix cancel and move create owner (#13281)
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/car-recycling/car-recycling.service.ts
  libs/application/templates/car-recycling/src/dataProviders/index.ts
  libs/application/templates/car-recycling/src/fields/Review/index.tsx
  libs/application/templates/car-recycling/src/fields/Review/review-groups/Vehicles.tsx
  libs/application/templates/car-recycling/src/fields/VehiclesOverview/VehiclesOverview.tsx
  libs/application/templates/car-recycling/src/forms/CarRecyclingForm.ts
  libs/application/templates/car-recycling/src/forms/Prerequisites.ts
  libs/application/templates/car-recycling/src/lib/CarRecyclingTemplate.ts
  libs/application/templates/car-recycling/src/lib/dataSchema.ts
  libs/application/templates/car-recycling/src/lib/messages.ts
  libs/application/templates/car-recycling/src/shared/constants.ts
  libs/application/templates/car-recycling/src/shared/types.ts
Due: Application System API

format
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
Due: Application System API

fix(j-s): Cleanup
  apps/judicial-system/backend/seeders/seed_user.js
  apps/system-e2e/src/tests/judicial-system/smoke/TestAppeal.pdf
  apps/system-e2e/src/tests/judicial-system/smoke/custody-tests.spec.ts
  apps/system-e2e/src/tests/judicial-system/utils/helpers.ts
  apps/system-e2e/src/tests/judicial-system/utils/judicialSystemTest.ts
Due: none

chore(j-s): Add test users to seed so tests work locally for new developers
  apps/judicial-system/backend/seeders/seed_user.js
Due: none

fix(j-s): Minor change
  apps/system-e2e/src/tests/judicial-system/smoke/custody-tests.spec.ts
Due: none

fix(j-s): Unauthenticated Redirect (#13282)
  apps/judicial-system/web/src/components/FormProvider/FormProvider.tsx
Due: none

Added new section to overview
  libs/application/templates/complaints-to-althingi-ombudsman/src/fields/ComplaintOverview/ComplaintOverview.tsx
  libs/application/templates/complaints-to-althingi-ombudsman/src/lib/messages/overview.ts
Due: Application System API

WIP
  apps/web/hooks/useLinkResolver/useLinkResolver.ts
  apps/web/pages/starfatorg-v2/[id].ts
  apps/web/pages/starfatorg-v2/index.ts
  apps/web/screens/IcelandicGovernmentInstitutionVacanciesV2/IcelandicGovernmentInstitutionVacanciesListV2.css.ts
  apps/web/screens/IcelandicGovernmentInstitutionVacanciesV2/IcelandicGovernmentInstitutionVacanciesListV2.tsx
  apps/web/screens/IcelandicGovernmentInstitutionVacanciesV2/IcelandicGovernmentInstitutionVacancyDetailsV2.tsx
  apps/web/screens/IcelandicGovernmentInstitutionVacanciesV2/index.ts
  apps/web/screens/IcelandicGovernmentInstitutionVacanciesV2/utils.ts
  libs/api/domains/icelandic-government-institution-vacancies-v2/src/lib/dto/icelandicGovernmentInstitutionVacanciesV2Response.ts
  libs/api/domains/icelandic-government-institution-vacancies-v2/src/lib/icelandic-government-institution-vacancies-v2.resolver.ts
  libs/api/domains/icelandic-government-institution-vacancies-v2/src/lib/icelandic-government-institution-vacancies-v2.service.ts
  libs/api/domains/icelandic-government-institution-vacancies-v2/src/lib/utils.ts
  libs/clients/icelandic-government-institution-vacancies-v2/README.md
  libs/clients/icelandic-government-institution-vacancies-v2/src/clientConfig.json
  libs/clients/icelandic-government-institution-vacancies-v2/src/lib/icelandic-government-institution-vacancies-v2.service.ts
  libs/clients/icelandic-government-institution-vacancies-v2/src/lib/utils.ts
Due: Portal GraphQL

Remove grindavik chat
  apps/web/screens/Project/components/ProjectChatPanel/config.ts
Due: none

Replace word old with deprecated
  apps/judicial-system/api/src/app/modules/auth/auth.controller.ts
  apps/judicial-system/web/messages/Core/login.ts
  apps/judicial-system/web/src/routes/Shared/Login/Login.tsx
  apps/judicial-system/web/src/types/index.ts
Due: none

Remove chat from service web
  apps/web/components/ServiceWeb/config.ts
Due: none

fix: remove new client
  apps/api/src/app/app.module.ts
  apps/application-system/api/src/app/app.module.ts
  libs/api/domains/social-insurance/src/lib/socialInsurance.module.ts
  libs/clients/insurance-payments/.eslintrc.json
  libs/clients/insurance-payments/README.md
  libs/clients/insurance-payments/jest.config.ts
  libs/clients/insurance-payments/project.json
  libs/clients/insurance-payments/src/clientConfig.json
  libs/clients/insurance-payments/src/index.ts
  libs/clients/insurance-payments/src/lib/insurancePayments.config.ts
  libs/clients/insurance-payments/src/lib/insurancePayments.module.ts
  libs/clients/insurance-payments/src/lib/insurancePayments.provider.ts
  libs/clients/insurance-payments/src/lib/insurancePayments.service.ts
  libs/clients/insurance-payments/tsconfig.json
  libs/clients/insurance-payments/tsconfig.lib.json
  libs/clients/insurance-payments/tsconfig.spec.json
  libs/clients/social-insurance-administration/project.json
  libs/clients/social-insurance-administration/src/index.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.module.ts
  tsconfig.base.json
Due: Portal GraphQL, Application System API

Update validation rule for mileage input
  libs/service-portal/assets/src/screens/VehicleMileage/VehicleMileage.tsx
  libs/service-portal/assets/src/utils/readDate.ts
Due: none

fix: codeowners
  .github/CODEOWNERS
Due: none

fix: api cleanup
  apps/api/infra/api.ts
Due: Portal GraphQL

chore: cleanup xroad
  infra/src/dsl/xroad.ts
Due: none

chore: charts update dirty files
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

fix(service-portal): Update validation rule for mileage input (#13287)
  libs/service-portal/assets/src/screens/VehicleMileage/VehicleMileage.tsx
  libs/service-portal/assets/src/utils/readDate.ts
Due: none

service updates
  libs/application/template-api-modules/src/lib/modules/templates/university/university.service.ts
  libs/application/templates/university/src/dataProviders/index.ts
  libs/application/templates/university/src/forms/Prerequisites/index.ts
  libs/application/templates/university/src/forms/UniversityForm/InformationSection/ProgramSubSection.ts
  libs/application/templates/university/src/lib/UniversityTemplate.ts
Due: Application System API

Update e2e tests to use sia core messages
  apps/system-e2e/src/tests/islandis/application-system/acceptance/old-age-pension.spec.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/Prerequisites.ts
Due: Application System API

Update readDate func
  libs/service-portal/assets/src/utils/readDate.ts
Due: none

feat: update client api
  libs/clients/social-insurance-administration/project.json
  libs/clients/social-insurance-administration/src/clientConfig.json
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.service.ts
Due: none

chore(web): Remove grindavik chat (#13285)
  apps/web/components/ServiceWeb/config.ts
  apps/web/screens/Project/components/ProjectChatPanel/config.ts
Due: none

Add file upload shared props
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/forms/AdditionalDocumentsRequired.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/forms/AdditionalSupportForTheElderlyForm.ts
Due: Application System API

fix(contentful-apps): Prevent subarticle entry from being saved during initial render (#13271)
  apps/contentful-apps/pages/fields/subarticle-url-field.tsx
Due: none

Decreases error reporting for failed email creation in the court system
  apps/judicial-system/backend/src/app/modules/court/court.service.ts
  apps/judicial-system/backend/src/app/modules/notification/notification.service.ts
Due: none

fix(service-portal): read date today (#13288)
  libs/service-portal/assets/src/utils/readDate.ts
Due: none

test(j-s): Appeal a custody case (#13283)
  apps/judicial-system/backend/seeders/seed_user.js
  apps/system-e2e/src/support/login.ts
  apps/system-e2e/src/support/urls.ts
  apps/system-e2e/src/tests/judicial-system/smoke/TestAppeal.pdf
  apps/system-e2e/src/tests/judicial-system/smoke/custody-court.ts
  apps/system-e2e/src/tests/judicial-system/smoke/custody-prosecutor.ts
  apps/system-e2e/src/tests/judicial-system/smoke/custody-tests.spec.ts
  apps/system-e2e/src/tests/judicial-system/utils/helpers.ts
  apps/system-e2e/src/tests/judicial-system/utils/judicialSystemTest.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
