Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Fix linting
  .eslintrc.json
  apps/services/sessions/test/fixture.factory.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/setup-xroad.mocks.ts
  libs/application/templates/driving-learners-permit/project.json
  libs/clients/national-registry/v2/src/index.ts
  libs/service-portal/applications/src/screens/Overview.tsx
Due: Application System API

fix in translation files
  apps/consultation-portal/screens/Case/Case.json
Due: none

feat(auth-admin): Delete client (#11332)
  apps/services/auth/admin-api/src/app/v2/clients/me-clients.controller.ts
  libs/api/domains/auth-admin/src/lib/client/clients.resolver.ts
  libs/api/domains/auth-admin/src/lib/client/clients.service.ts
  libs/api/domains/auth-admin/src/lib/client/dto/delete-client.input.ts
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
  libs/portals/admin/ids-admin/src/lib/messages.ts
  libs/portals/admin/ids-admin/src/screens/Client/components/DangerZone.tsx
  libs/portals/admin/ids-admin/src/screens/Client/components/DeleteClient/DeleteClient.graphql
  libs/portals/admin/ids-admin/src/screens/Client/components/DeleteClient/DeleteClient.tsx
Due: Portal GraphQL

Add inna screens rest
  libs/service-portal/core/src/components/SortableTable/SortableTable.tsx
  libs/service-portal/core/src/lib/messages.ts
  libs/service-portal/education/src/lib/navigation.ts
  libs/service-portal/education/src/lib/paths.ts
  libs/service-portal/education/src/module.tsx
  libs/service-portal/education/src/screens/SecondarySchoolGraduationDetail/SecondarySchoolGraduationDetail.tsx
  libs/service-portal/education/src/screens/SecondarySchoolGraduationOverview/SecondarySchoolGraduationOverview.tsx
  libs/service-portal/education/src/screens/SecondarySchoolGraduationSingle/SecondarySchoolGraduationSingle.tsx
Due: none

feat(j-s): When assigning new user using national registry for finding name (#11407)
  apps/judicial-system/web/src/routes/Admin/UserForm/UserForm.tsx
Due: none

fix: gitbook
  SUMMARY.md
  libs/api/domains/work-machines/README.md
  libs/clients/work-machines/README.md
  libs/service-portal/work-machines/README.md
Due: Portal GraphQL

chore: gitbook
  SUMMARY.md
  libs/api/domains/national-registry-v3/README.md
Due: Portal GraphQL

fix(consultation-portal): Move BACKEND_DL_URL to infra (#11409)
  apps/consultation-portal/infra/samradsgatt.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/uber-charts/islandis.ts
Due: none

add validators
  libs/application/templates/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/old-age-pension/src/lib/answerValidators.spec.ts
  libs/application/templates/old-age-pension/src/lib/answerValidators.ts
  libs/application/templates/old-age-pension/src/lib/constants.ts
  libs/application/templates/old-age-pension/src/lib/messages.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.ts
Due: Application System API

browser lint
  apps/system-e2e/src/tests/islandis/application-system/acceptance/endorsement-list.spec.ts
  apps/system-e2e/src/tests/islandis/web/smoke/endorsement.spec.ts
Due: none

validator text message
  libs/application/templates/old-age-pension/src/lib/answerValidators.spec.ts
Due: Application System API

add validators for periods (#11417)
  libs/application/templates/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/old-age-pension/src/lib/answerValidators.spec.ts
  libs/application/templates/old-age-pension/src/lib/answerValidators.ts
  libs/application/templates/old-age-pension/src/lib/constants.ts
  libs/application/templates/old-age-pension/src/lib/messages.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.ts
Due: Application System API

Working local-e2e
  scripts/local-e2e.sh
Due: none

Typo
  apps/system-e2e/src/playwright.config.ts
Due: none

can not access application if under 18
  libs/application/template-api-modules/src/lib/modules/shared/api/national-registry/national-registry.service.ts
  libs/application/templates/alcohol-tax-redemption/src/lib/AlcoholTaxRedemptionTemplate.ts
  libs/application/templates/alcohol-tax-redemption/src/lib/messages/prerequisites.ts
  libs/application/templates/passport/src/dataProviders/index.ts
  libs/application/templates/passport/src/forms/Draft.ts
  libs/application/templates/passport/src/lib/PassportTemplate.ts
  libs/application/templates/passport/src/lib/error.ts
  libs/application/types/src/lib/template-api/shared-api/shared-api-definitions/national-registry-user.ts
Due: Application System API

Only zip if uploading
  apps/system-e2e/entrypoint.sh
Due: none

Fix missing DOCKER_TAG
  scripts/local-e2e.sh
Due: none

Formatting
  apps/system-e2e/src/playwright.config.ts
Due: none

fix(estate): Final touches on "Seta í óskiptu búi" (#11411)
  libs/application/templates/estate/src/fields/Cards/index.tsx
  libs/application/templates/estate/src/fields/NotFilledOut/index.tsx
  libs/application/templates/estate/src/fields/index.ts
  libs/application/templates/estate/src/forms/DivisionOfEstateByHeirs/overviewSection.ts
  libs/application/templates/estate/src/forms/PermitToPostponeEstateDivision/overviewSection.ts
Due: Application System API

Swap env-test_type
  apps/system-e2e/src/playwright.config.ts
Due: none

Typo in utils.sh
  scripts/utils.sh
Due: none

See if loading is happening
  libs/service-portal/petitions/src/screens/PetitionsTable/ExportPetition/index.tsx
Due: none

feat(smart-solutions): improve smart logging (#11412)
  libs/clients/smartsolutions/src/lib/smartSolutions.api.ts
Due: none

Activates defendant court updates on prod
  apps/judicial-system/backend/infra/judicial-system-backend.ts
  charts/judicial-system/values.prod.yaml
Due: none

fix: invalid pass template id
  libs/api/domains/license-service/src/lib/licenseService.service.ts
Due: Portal GraphQL

Add todo note
  scripts/local-e2e.sh
Due: none

fix: remove child test
  libs/service-portal/information/src/components/ChildView/ChildView.spec.ts
Due: none

link on case detail in subscriptions
  apps/consultation-portal/screens/Subscriptions/Subscriptions.json
  apps/consultation-portal/screens/Subscriptions/components/SubscriptionTable/components/SubscriptionTableItem/SubscriptionTableItem.tsx
Due: none

changed color
  apps/consultation-portal/screens/Subscriptions/components/SubscriptionTable/components/SubscriptionTableItem/SubscriptionTableItem.tsx
Due: none

test fixes first try
  apps/services/endorsements/api/src/app/modules/endorsementList/e2e/createEndorsementList/createEndorsementList.spec.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsementList.service.ts
Due: none

fix(j-s): display loading table when fetching data for defender case list
  apps/judicial-system/web/src/routes/Defender/Cases/Cases.tsx
  apps/judicial-system/web/src/routes/Defender/Cases/DefenderCasesTable.tsx
Due: none

fix: away with this
  libs/service-portal/work-machines/.babelrc
  libs/service-portal/work-machines/.eslintrc.json
  libs/service-portal/work-machines/README.md
  libs/service-portal/work-machines/jest.config.js
  libs/service-portal/work-machines/project.json
  libs/service-portal/work-machines/src/index.ts
  libs/service-portal/work-machines/src/lib/service-portal-work-machines.spec.tsx
  libs/service-portal/work-machines/src/lib/service-portal-work-machines.tsx
  libs/service-portal/work-machines/tsconfig.json
  libs/service-portal/work-machines/tsconfig.lib.json
  libs/service-portal/work-machines/tsconfig.spec.json
Due: none

chore: add tags
  libs/api/domains/work-machines/project.json
Due: Portal GraphQL

fix: check
  libs/api/domains/license-service/src/lib/client/old-driving-license-client/oldGenericDrivingLicense.service.ts
Due: Portal GraphQL

Apply suggestions from code review
  libs/service-portal/petitions/src/screens/PetitionsTable/ExportPetition/index.tsx
Due: none

further
  apps/consultation-portal/screens/Subscriptions/components/SubscriptionTable/components/SubscriptionTableItem/SubscriptionTableItem.tsx
Due: none

Updates tests
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendDefenderAssignedNotifications.spec.ts
Due: none

citizenship check added to national registry service and sort passports so the one with longer expiration date shows up
  libs/application/core/src/lib/messages.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/national-registry/national-registry.service.ts
  libs/application/templates/passport/src/dataProviders/index.ts
  libs/application/types/src/lib/template-api/shared-api/shared-api-definitions/national-registry-user.ts
  libs/clients/passports/src/lib/passportsApi.service.ts
Due: Application System API

Send email to court when defendant does not have a national id
  apps/judicial-system/backend/src/app/modules/defendant/defendant.service.ts
  apps/judicial-system/backend/src/app/modules/defendant/test/internalDefendantController/deliverDefendantToCourt.spec.ts
Due: none

check if elder]
  libs/application/templates/passport/src/fields/PaymentCharge/index.tsx
  libs/application/templates/passport/src/forms/Draft.ts
  libs/application/templates/passport/src/lib/utils.ts
Due: Application System API
