Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

TS-947 - Fix overview page after review
  libs/application/templates/new-primary-school/src/fields/Review/index.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/CurrentSchool.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/School.tsx
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/schoolSubSection.ts
  libs/application/templates/new-primary-school/src/lib/messages.ts
Due: Application System API

fix(j-s): Contentful Keys (#17639)
  apps/judicial-system/web/src/components/Inputs/InputAdvocate.strings.ts
Due: none

initial
  apps/services/auth/identity-confirmation-api/.eslintrc.json
  apps/services/auth/identity-confirmation-api/jest.config.ts
  apps/services/auth/identity-confirmation-api/project.json
  apps/services/auth/identity-confirmation-api/src/app/app.module.ts
  apps/services/auth/identity-confirmation-api/src/app/identity-confirmation.controller.ts
  apps/services/auth/identity-confirmation-api/src/assets/.gitkeep
  apps/services/auth/identity-confirmation-api/src/main.ts
  apps/services/auth/identity-confirmation-api/tsconfig.app.json
  apps/services/auth/identity-confirmation-api/tsconfig.json
  apps/services/auth/identity-confirmation-api/tsconfig.spec.json
  apps/services/auth/identity-confirmation-api/webpack.config.js
  libs/auth-api-lib/migrations/20250123150352-Add identity-confirmation table.js
Due: none

initial
  apps/services/auth/identity-confirmation-api/infra/identity-confirmation-api.ts
  apps/services/auth/identity-confirmation-api/src/buildOpenApi.ts
  apps/services/auth/identity-confirmation-api/src/environments/environment.ts
  apps/services/auth/identity-confirmation-api/src/environments/index.ts
  apps/services/auth/identity-confirmation-api/src/openApi.ts
  libs/auth-api-lib/src/index.ts
  libs/auth-api-lib/src/lib/identity-confirmation/dto/IdentityConfirmationInput.dto.ts
  libs/auth-api-lib/src/lib/identity-confirmation/identity-confirmation.module.ts
  libs/auth-api-lib/src/lib/identity-confirmation/identity-confirmation.service.ts
  libs/auth-api-lib/src/lib/identity-confirmation/models/Identity-Confirmation.model.ts
  libs/auth-api-lib/src/lib/identity-confirmation/types/identity-confirmation-type.ts
Due: none

dont force lowercase attribute names
  libs/clients/documents-v2/src/lib/dto/document.dto.ts
  libs/clients/documents-v2/src/utils/htmlConfig.ts
Due: none

fix: chunks from gh vars
  .github/workflows/pullrequest.yml
Due: none

fix: chunks from gh vars (#17644)
  .github/workflows/pullrequest.yml
Due: none

feat(form-system): implement layout component and integrate routing with application creation functionality
  apps/form-system/web/src/app/App.tsx
  apps/form-system/web/src/components/Layout/Layout.tsx
  apps/form-system/web/src/lib/routes.tsx
  apps/form-system/web/src/routes/Applications.tsx
  libs/api/domains/form-system/src/dto/application.input.ts
  libs/api/domains/form-system/src/lib/applications/applications.resolver.ts
  libs/api/domains/form-system/src/lib/applications/applications.service.ts
  libs/api/domains/form-system/src/models/applications.model.ts
  libs/clients/form-system/src/backup.json
  libs/portals/form-system/graphql/src/lib/fragments/application.ts
  yarn.lock
Due: Portal GraphQL

run push on arc
  .github/workflows/push.yml
Due: none

chore(web): Generic List - Remove result count and page number text (#17602)
  apps/web/components/GenericList/GenericList.tsx
Due: none

TS-947 - Move grade in overview page
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/CurrentSchool.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/School.tsx
Due: Application System API

removed image def
  .github/workflows/push.yml
Due: none

chore: nx format:write update dirty files
  apps/native/app/src/stores/auth-store.ts
Due: none

Add fallback in case we see an undefined value
  apps/contentful-apps/components/translation-namespace/index.tsx
Due: none

Make custodians into editable fields until NationalRegistryV3 is ready
  libs/application/template-api-modules/src/lib/modules/templates/secondary-school/emailGenerators/applicationRejectedEmail.ts
  libs/application/template-api-modules/src/lib/modules/templates/secondary-school/emailGenerators/applicationSubmittedEmail.ts
  libs/application/template-api-modules/src/lib/modules/templates/secondary-school/utils.ts
  libs/application/templates/secondary-school/src/dataProviders/index.ts
  libs/application/templates/secondary-school/src/fields/overview/CustodianOverview.tsx
  libs/application/templates/secondary-school/src/forms/secondarySchoolForm/userInformationSection/custodianSubSection.ts
  libs/application/templates/secondary-school/src/lib/dataSchema.ts
  libs/application/templates/secondary-school/src/lib/messages/userInformation.ts
  libs/application/templates/secondary-school/src/utils/checkHasAnyCustodians.ts
  libs/application/templates/secondary-school/src/utils/getCustodian.ts
  libs/application/templates/secondary-school/src/utils/index.ts
  libs/application/ui-fields/src/lib/FieldsRepeaterFormField/FieldsRepeaterItem.tsx
Due: Application System API

Removing string additions from contentful strings that made extracting fail. Formatting still sightly off
  libs/application/templates/secondary-school/src/lib/messages/conclusion.ts
Due: Application System API

fix refresh logic
  apps/native/app/src/graphql/client.ts
Due: none

Show program icelandic name as fallback
  libs/application/templates/secondary-school/src/utils/format.ts
Due: Application System API

Hide language dropdown if empty
  libs/application/templates/secondary-school/src/fields/schoolSelection/SelectionItem.tsx
Due: Application System API

Remove commented out code for now
  libs/application/template-api-modules/src/lib/modules/templates/secondary-school/utils.ts
  libs/application/templates/secondary-school/src/fields/overview/CustodianOverview.tsx
  libs/application/templates/secondary-school/src/utils/checkHasAnyCustodians.ts
Due: Application System API

fix(application-system): Fixing duplicate error, removing unused string (#17615)
  libs/application/core/src/lib/messages.ts
  libs/portals/my-pages/applications/src/lib/messages.ts
Due: Application System API

feat(new-primary-school): Refactor parents to guardians
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.utils.ts
  libs/application/templates/new-primary-school/src/fields/ContactsTableRepeater/index.tsx
  libs/application/templates/new-primary-school/src/fields/Review/index.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/Child.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/Contacts.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/Guardians.tsx
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/childrenNGuardiansSection/childInfoSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/childrenNGuardiansSection/contactsSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/childrenNGuardiansSection/guardiansSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/childrenNGuardiansSection/index.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/childrenNParentsSection/index.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/index.tsx
  libs/application/templates/new-primary-school/src/lib/dataSchema.ts
  libs/application/templates/new-primary-school/src/lib/messages.ts
  libs/application/templates/new-primary-school/src/lib/newPrimarySchoolUtils.ts
  libs/application/templates/new-primary-school/src/types.ts
Due: Application System API

fix(documents): Don't force lowercase attribute names (#17645)
  libs/clients/documents-v2/src/lib/dto/document.dto.ts
  libs/clients/documents-v2/src/utils/htmlConfig.ts
Due: none

fix(contentful-apps): Translation namespace fallback in case we have an undefined defaultMessage (#17646)
  apps/contentful-apps/components/translation-namespace/index.tsx
Due: none

fix(app): spacing on licence screens app (#17580)
  apps/native/app/src/screens/wallet-pass/wallet-pass.tsx
  apps/native/app/src/screens/wallet-passport/wallet-passport.tsx
  apps/native/app/src/screens/wallet/wallet.tsx
  apps/native/app/src/ui/lib/card/license-card.tsx
Due: none

fix(app): disable milage registration if user isn't allowed (#17565)
  apps/native/app/src/screens/vehicles/vehicle-mileage.screen.tsx
Due: none

fix(dl-duplicate): cleaup and touchups for old application (#17604)
  libs/application/templates/driving-license-duplicate/src/assets/CoatOfArms.tsx
  libs/application/templates/driving-license-duplicate/src/assets/School.tsx
  libs/application/templates/driving-license-duplicate/src/fields/Alert.tsx
  libs/application/templates/driving-license-duplicate/src/fields/Cards/index.tsx
  libs/application/templates/driving-license-duplicate/src/fields/CurrentLicense.tsx
  libs/application/templates/driving-license-duplicate/src/fields/NotFilledOut/index.tsx
  libs/application/templates/driving-license-duplicate/src/fields/QualityPhoto/QualityPhoto.tsx
  libs/application/templates/driving-license-duplicate/src/fields/QualitySignature/QualitySignature.tsx
  libs/application/templates/driving-license-duplicate/src/fields/SubmitAndDecline/SubmitAndDecline.tsx
  libs/application/templates/driving-license-duplicate/src/fields/index.ts
  libs/application/templates/driving-license-duplicate/src/forms/application.ts
  libs/application/templates/driving-license-duplicate/src/forms/applicationSections/sectionDelivery.ts
  libs/application/templates/driving-license-duplicate/src/forms/applicationSections/sectionInformation.ts
  libs/application/templates/driving-license-duplicate/src/forms/applicationSections/sectionOverview.ts
  libs/application/templates/driving-license-duplicate/src/forms/applicationSections/sectionReasonForApplication.ts
  libs/application/templates/driving-license-duplicate/src/forms/applicationSections/sectionSignatureAndPhoto.ts
  libs/application/templates/driving-license-duplicate/src/forms/declined.ts
  libs/application/templates/driving-license-duplicate/src/lib/messages.ts
Due: Application System API

fix(documents): Don't force lowercase attribute names (hotfix) (#17649)
  libs/clients/documents-v2/src/lib/dto/document.dto.ts
  libs/clients/documents-v2/src/utils/htmlConfig.ts
Due: none

fix(delegations-api): Update `USER_NOTIFICATION_API_URL` for prod (#17637)
  apps/services/auth/delegation-api/infra/delegation-api.ts
  charts/identity-server-services/services-auth-delegation-api/values.prod.yaml
  charts/identity-server/values.prod.yaml
Due: none

feat: connect to xroad dev
  apps/api/infra/api.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  charts/services/api/values.dev.yaml
  charts/services/api/values.prod.yaml
  charts/services/api/values.staging.yaml
  infra/src/dsl/xroad.ts
  libs/clients/health-directorate/project.json
  libs/clients/health-directorate/src/lib/clients/health/health.config.ts
Due: Portal GraphQL

Use matrixixng instead of preparing steps
  .github/workflows/pullrequest.yml
Due: none

fix(delegations-api): Update `USER_NOTIFICATION_API_URL` for prod (#17637)
  apps/services/auth/delegation-api/infra/delegation-api.ts
  charts/identity-server/values.prod.yaml
  charts/services/services-auth-delegation-api/values.prod.yaml
Due: none

feat(j-s): Add new notification for cases completed without ruling (#17631)
  apps/judicial-system/backend/src/app/messages/notifications.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/notification/baseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/caseNotification/caseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/civilClaimantNotification/civilClaimantNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/defendantNotification/defendantNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/indictmentCaseNotification/indictmentCaseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/institutionNotification/institutionNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/subpoenaNotification/subpoenaNotification.service.ts
Due: none

fix(web): Change default 404 log message (#17629)
  apps/web/utils/getServerSidePropsWrapper.ts
Due: none

Update message ID
  libs/application/templates/secondary-school/src/lib/messages/conclusion.ts
Due: Application System API

fix(secondary school): Update message IDs (#17628)
  libs/application/templates/secondary-school/src/lib/messages/application.ts
  libs/application/templates/secondary-school/src/lib/messages/conclusion.ts
  libs/application/templates/secondary-school/src/lib/messages/error.ts
Due: Application System API

fix(j-s): small feedback fixes
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.spec.ts
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.ts
  apps/judicial-system/web/src/components/BlueBoxWithIcon/BlueBoxWithDate.tsx
  libs/judicial-system/types/src/lib/dates.spec.ts
  libs/judicial-system/types/src/lib/dates.ts
Due: none

Conditionally parallelize
  .github/workflows/pullrequest.yml
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
