Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

chore: charts update dirty file
  charts/islandis-services/air-discount-scheme-api/values.dev.yaml
  charts/islandis-services/air-discount-scheme-api/values.prod.yaml
  charts/islandis-services/air-discount-scheme-api/values.staging.yaml
  charts/islandis-services/air-discount-scheme-backend/values.dev.yaml
  charts/islandis-services/air-discount-scheme-backend/values.prod.yaml
  charts/islandis-services/air-discount-scheme-backend/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

fix(as): Increase AS memory request to avoid OOM kills (#21848)
  apps/application-system/api/infra/application-system-api.ts
  charts/islandis-services/application-system-api/values.dev.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis-services/application-system-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: Application System API

chore(netpol): Adding grants to replace the allow nginx that calico had (#21849)
  apps/consultation-portal/infra/samradsgatt.ts
  apps/contentful-apps/infra/contentful-apps.ts
  apps/services/auth/personal-representative-public/infra/personal-representative-public.ts
  apps/services/auth/personal-representative/infra/personal-representative.ts
  apps/services/contentful-entry-tagger/infra/contentful-entry-tagger-service.ts
  apps/services/search-indexer/infra/search-indexer-service.ts
  charts/identity-server-services/services-auth-personal-representative-public/values.dev.yaml
  charts/identity-server-services/services-auth-personal-representative-public/values.prod.yaml
  charts/identity-server-services/services-auth-personal-representative-public/values.staging.yaml
  charts/identity-server-services/services-auth-personal-representative/values.dev.yaml
  charts/identity-server-services/services-auth-personal-representative/values.prod.yaml
  charts/identity-server-services/services-auth-personal-representative/values.staging.yaml
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
  charts/islandis-services/consultation-portal/values.dev.yaml
  charts/islandis-services/consultation-portal/values.prod.yaml
  charts/islandis-services/consultation-portal/values.staging.yaml
  charts/islandis-services/contentful-apps/values.dev.yaml
  charts/islandis-services/contentful-apps/values.prod.yaml
  charts/islandis-services/contentful-entry-tagger-service/values.dev.yaml
  charts/islandis-services/contentful-entry-tagger-service/values.prod.yaml
  charts/islandis-services/search-indexer-service/values.dev.yaml
  charts/islandis-services/search-indexer-service/values.prod.yaml
  charts/islandis-services/search-indexer-service/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

fix(aosh): add hidden input for machine.id on Tæki step (#21843)
  libs/application/templates/aosh/transfer-of-machine-ownership/src/forms/TransferOfMachineOwnershipForm/InformationSection/machineSubSection.ts
Due: Application System API

update copy of case tables for court of appeals
  libs/judicial-system/types/src/lib/tables/tableGroups/courtOfAppeals.ts
Due: none

feat: use v3 in vehicle mileage
  libs/clients/finance-v3/src/clientConfig.json
  libs/portals/my-pages/finance/src/screens/FinanceTransactionsVehicleMileage/FinanceTransactionsVehicleMileage.graphql
  libs/portals/my-pages/finance/src/screens/FinanceTransactionsVehicleMileage/FinanceTransactionsVehicleMileage.tsx
Due: none

fix(my-pages): Law and order redirect for app (#21815) (#21845)
  libs/portals/my-pages/law-and-order/src/lib/paths.ts
  libs/portals/my-pages/law-and-order/src/module.tsx
Due: none

coderabbit review fixes
  libs/island-ui/core/src/lib/Checkbox/Checkbox.tsx
  libs/island-ui/core/src/lib/DatePicker/DatePicker.stories.tsx
  libs/island-ui/core/src/lib/DatePicker/DatePicker.tsx
  libs/island-ui/core/src/lib/DatePicker/types.ts
  libs/portals/admin/ids-admin/src/screens/Permission/components/PermissionContent.tsx
  libs/portals/shared-modules/delegations/src/components/IdentityLookup/IdentityLookup.tsx
  libs/portals/shared-modules/delegations/src/components/ScopesTable/ScopesTable.tsx
  libs/portals/shared-modules/delegations/src/components/access/AccessConfirmModal.tsx
  libs/portals/shared-modules/delegations/src/components/tables/CustomDelegationsPermissionsTable.tsx
  libs/portals/shared-modules/delegations/src/components/tables/CustomDelegationsTable.tsx
  libs/portals/shared-modules/delegations/src/components/tables/ExpandableRow/ExpandableRow.tsx
  libs/portals/shared-modules/delegations/src/components/tables/getTableData.tsx
  libs/portals/shared-modules/delegations/src/lib/messages.ts
  libs/portals/shared-modules/delegations/src/module.tsx
  libs/portals/shared-modules/delegations/src/screens/AccessControl.tsx
  libs/portals/shared-modules/delegations/src/screens/EditAccess.tsx/EditAccess.tsx
  libs/portals/shared-modules/delegations/src/screens/GrantAccess/NationalIdentityInput.tsx
Due: none

feat: fix signing
  libs/application/templates/estate/src/fields/SignatoryStatus/index.tsx
  libs/application/templates/estate/src/forms/Signing/index.ts
  libs/application/templates/estate/src/lib/EstateTemplate.ts
  libs/application/templates/inheritance-report/src/fields/SignatoryStatus/index.tsx
  libs/application/templates/inheritance-report/src/forms/signing/signatoryStatusSection.ts
  libs/application/templates/inheritance-report/src/lib/InheritanceReportTemplate.ts
Due: Application System API

feature flag verify endpoint
  libs/clients/syslumenn/src/lib/syslumennClient.module.ts
  libs/clients/syslumenn/src/lib/syslumennClient.service.ts
Due: none

Revert "revert(web): revert hero/header size changes (#21593, #21729) (#21786)"
  apps/web/components/Header/Header.tsx
  apps/web/components/SearchSection/SearchSection.css.ts
  apps/web/components/SearchSection/SearchSection.tsx
  apps/web/components/ServiceWeb/constants/index.ts
Due: none

chore: format update dirty file
  libs/portals/my-pages/finance/src/screens/FinanceTransactionsVehicleMileage/FinanceTransactionsVehicleMileage.tsx
Due: none

chore: trigger deploy
  libs/cms/src/lib/cms.resolver.ts
Due: none

chore: trigger redeploy
  libs/cms/src/lib/cms.resolver.ts
Due: none

feat(web): Make course urls human readable (#21834)
  apps/web/screens/Organization/Courses/CourseDetails.tsx
  apps/web/screens/Organization/Courses/CourseList.tsx
  apps/web/screens/queries/Courses.ts
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/course.model.ts
Due: none

fix(contentful-apps): Graphql api request forwarding (#21836)
  apps/contentful-apps/pages/api/graphql.ts
Due: none

fix(contentful-apps): GraphQL API request forwarding (#21837)
  apps/contentful-apps/pages/api/graphql.ts
Due: none

feat(web): Allow overriding organization news list card visuals in cms (#21847)
  apps/web/components/NewsList/NewsList.tsx
  apps/web/screens/Organization/OrganizationNews/OrganizationNewsList.tsx
Due: none

chore: update client funcitons
  libs/clients/mms/primary-school/src/clientConfig.json
  libs/clients/mms/primary-school/src/lib/primarySchoolClient.service.ts
Due: none

Fix newSchool validation error
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/schoolSubSection.ts
Due: Application System API

new application
  libs/application/templates/vmst-actions/edit-unemployment-information/.babelrc
  libs/application/templates/vmst-actions/edit-unemployment-information/.eslintrc.json
  libs/application/templates/vmst-actions/edit-unemployment-information/README.md
  libs/application/templates/vmst-actions/edit-unemployment-information/jest.config.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/project.json
  libs/application/templates/vmst-actions/edit-unemployment-information/src/dataProviders/index.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/forms/completedForm/index.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/forms/mainForm/firstSection.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/forms/mainForm/index.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/forms/mainForm/overview.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/forms/mainForm/secondSection.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/forms/prerequisitesForm/index.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/index.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/lib/dataSchema.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/lib/messages.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/lib/template.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/utils/constants.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/utils/getOverviewItems.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/tsconfig.json
  libs/application/templates/vmst-actions/edit-unemployment-information/tsconfig.lib.json
  libs/application/templates/vmst-actions/edit-unemployment-information/tsconfig.spec.json
  tsconfig.base.json
Due: Application System API

pass in user
  libs/auth-api-lib/src/lib/delegations/utils/delegations.ts
  libs/clients/syslumenn/src/lib/syslumennClient.service.ts
Due: none

fix(request-for-inspection-machine): updates to application to allow for request of other than own vehicles (#21767)
  libs/api/domains/work-machines/src/lib/dto/getWorkMachine.input.ts
  libs/api/domains/work-machines/src/lib/models/workMachine.model.ts
  libs/api/domains/work-machines/src/lib/resolvers/workMachine.resolver.ts
  libs/api/domains/work-machines/src/lib/workMachines.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/aosh/request-inspection/request-inspection.service.ts
  libs/application/templates/aosh/request-for-inspection/src/dataProviders/index.ts
  libs/application/templates/aosh/request-for-inspection/src/fields/MachinesField/FindAllMachines.tsx
  libs/application/templates/aosh/request-for-inspection/src/fields/MachinesField/MachineSelectField.tsx
  libs/application/templates/aosh/request-for-inspection/src/fields/MachinesField/MyMachines.tsx
  libs/application/templates/aosh/request-for-inspection/src/fields/MachinesField/index.tsx
  libs/application/templates/aosh/request-for-inspection/src/fields/Tabs/index.tsx
  libs/application/templates/aosh/request-for-inspection/src/fields/index.ts
  libs/application/templates/aosh/request-for-inspection/src/forms/RequestMachineForInspectionForm/InformationSection/applicantInformationSubSection.ts
  libs/application/templates/aosh/request-for-inspection/src/forms/RequestMachineForInspectionForm/InformationSection/contactInformationSubSection.ts
  libs/application/templates/aosh/request-for-inspection/src/forms/RequestMachineForInspectionForm/InformationSection/index.ts
  libs/application/templates/aosh/request-for-inspection/src/forms/RequestMachineForInspectionForm/InformationSection/machineSubSection.ts
  libs/application/templates/aosh/request-for-inspection/src/forms/RequestMachineForInspectionForm/InformationSection/pickMachineSubSection.ts
  libs/application/templates/aosh/request-for-inspection/src/forms/RequestMachineForInspectionForm/prerequisitesSection.ts
  libs/application/templates/aosh/request-for-inspection/src/graphql/queries.ts
  libs/application/templates/aosh/request-for-inspection/src/hooks/useLazyMachineDetails.ts
  libs/application/templates/aosh/request-for-inspection/src/index.ts
  libs/application/templates/aosh/request-for-inspection/src/lib/RequestForInspectionTemplate.ts
  libs/application/templates/aosh/request-for-inspection/src/lib/dataSchema.ts
  libs/application/templates/aosh/request-for-inspection/src/lib/messages/applicant.ts
  libs/application/templates/aosh/request-for-inspection/src/lib/messages/contactInformation.ts
  libs/application/templates/aosh/request-for-inspection/src/lib/messages/error.ts
  libs/application/templates/aosh/request-for-inspection/src/lib/messages/index.ts
  libs/application/templates/aosh/request-for-inspection/src/lib/messages/information.ts
  libs/application/templates/aosh/request-for-inspection/src/shared/types.ts
  libs/application/templates/aosh/request-for-inspection/src/utils/formatMachineInformation.ts
  libs/application/templates/aosh/request-for-inspection/src/utils/getSelectedMachine.ts
  libs/application/templates/aosh/request-for-inspection/src/utils/index.ts
  libs/application/templates/aosh/request-for-inspection/src/utils/isContactDifferentFromApplicant.ts
  libs/clients/work-machines/src/clientConfig.json
  libs/clients/work-machines/src/lib/workMachines.service.ts
  libs/clients/work-machines/src/lib/workMachines.types.ts
Due: Portal GraphQL, Application System API

Updates test
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.service.spec.ts
Due: none

add featureflagconfig to spec file
  libs/clients/syslumenn/src/lib/syslumenn.spec.ts
Due: none

feat: Scopes fixes and frontend work
  libs/api/domains/social-insurance/src/lib/models/personalTaxCredit/taxAllowanceAction.model.ts
  libs/api/domains/social-insurance/src/lib/resolvers/personalTaxCredit.resolver.ts
  libs/clients/social-insurance-administration/src/lib/apiProvider.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.type.ts
  libs/portals/my-pages/social-insurance-maintenance/src/screens/PersonalTaxCredit/PersonalTaxCredit.graphql
Due: Portal GraphQL

feat(user-notification): Enhance SMS service with payer credentials and dynamic configuration
  apps/services/user-notification/infra/user-notification.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/notificationsWorker.service.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/smsWorker.service.ts
  libs/nova-sms/src/lib/sms.config.ts
  libs/nova-sms/src/lib/sms.service.ts
  libs/nova-sms/src/lib/sms.types.ts
Due: none

chore: charts update dirty file
  charts/islandis-services/user-notification-worker/values.dev.yaml
  charts/islandis-services/user-notification-worker/values.prod.yaml
  charts/islandis-services/user-notification-worker/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

feat(payment): implement payment quantity handling and display in form system
  apps/form-system/web/src/components/Form/Form.tsx
  apps/form-system/web/src/components/Screen/components/Display/Display.tsx
  apps/form-system/web/src/components/Screen/components/Field/Field.tsx
  apps/form-system/web/src/components/Screen/components/Payment/Payment.tsx
  apps/form-system/web/src/components/Screen/components/Summary/Summary.tsx
  apps/form-system/web/src/context/ApplicationProvider.tsx
  apps/form-system/web/src/reducers/applicationReducer.ts
  apps/form-system/web/src/reducers/fieldReducer.ts
  apps/form-system/web/src/reducers/fieldReducerUtils.ts
  libs/portals/form-system/ui-components/src/components/DisplayComponents/DefaultDisplay/DefaultDisplay.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/PaymentQuantity/PaymentQuantity.tsx
  libs/portals/form-system/ui-components/src/components/FormStepper/formStepper.tsx
  libs/portals/form-system/ui-components/src/lib/enums.ts
  libs/portals/form-system/ui-components/src/lib/fieldTypes.ts
  libs/portals/form-system/ui-components/src/lib/messages.ts
  libs/portals/form-system/ui-components/src/lib/reducerTypes.ts
Due: none

Remove unused util
  apps/judicial-system/web/src/utils/utils.spec.ts
  apps/judicial-system/web/src/utils/utils.ts
Due: none

chore: format update dirty file
  libs/nova-sms/src/lib/sms.service.ts
Due: none

fix(j-s): get, create and delete police digital case files
  apps/judicial-system/api/src/app/modules/backend/backend.service.ts
  apps/judicial-system/api/src/app/modules/file/dto/casePoliceDigitalCaseFiles.input.ts
  apps/judicial-system/api/src/app/modules/file/dto/deletePoliceDigitalCaseFile.input.ts
  apps/judicial-system/api/src/app/modules/file/dto/policeDigitalCaseFiles.input.ts
  apps/judicial-system/api/src/app/modules/file/index.ts
  apps/judicial-system/api/src/app/modules/file/models/policeDigitalCaseFile.model.ts
  apps/judicial-system/api/src/app/modules/file/policeDigitalCaseFile.resolver.ts
  apps/judicial-system/api/src/app/modules/police/index.ts
  apps/judicial-system/api/src/app/modules/police/models/policeDigitalCaseFile.model.ts
  apps/judicial-system/api/src/app/modules/police/police.resolver.ts
  apps/judicial-system/backend/src/app/modules/file/file.controller.ts
  apps/judicial-system/backend/src/app/modules/file/file.module.ts
  apps/judicial-system/backend/src/app/modules/file/models/policeDigitalCaseFileSyncResult.model.ts
  apps/judicial-system/backend/src/app/modules/file/policeDigitalCaseFile.service.ts
  apps/judicial-system/backend/src/app/modules/repository/services/policeDigitalCaseFileRepository.service.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/PoliceCaseFilesRoute.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/policeDigitalCaseFiles.graphql
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseFiles/PoliceDigitalCaseFiles.tsx
  apps/judicial-system/web/src/utils/hooks/usePoliceDigitalCaseFile/casePoliceDigitalCaseFiles.graphql
  apps/judicial-system/web/src/utils/hooks/usePoliceDigitalCaseFile/deletePoliceDigitalCaseFile.graphql
  apps/judicial-system/web/src/utils/hooks/usePoliceDigitalCaseFile/index.ts
  apps/judicial-system/web/src/utils/hooks/usePoliceDigitalCaseFile/policeDigitalCaseFiles.graphql
  libs/judicial-system/audit-trail/src/lib/auditTrail.service.ts
Due: none

fix test
  libs/clients/syslumenn/src/lib/syslumenn.spec.ts
Due: none

Sort category items in organization nav links
  apps/contentful-apps/components/sitemap/EditMenu.tsx
  apps/contentful-apps/components/sitemap/SitemapNode.tsx
  apps/contentful-apps/components/sitemap/SitemapTreeField.tsx
  apps/contentful-apps/components/sitemap/SitemapTreeFieldDialog.tsx
  apps/contentful-apps/components/sitemap/utils.ts
  libs/cms/src/lib/cms.contentful.service.ts
  libs/cms/src/lib/organizationPage.resolver.ts
  libs/shared/types/src/lib/api-cms-domain.ts
Due: none

fix(j-s): delete all digital files when a police case number is removed from a case
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/file/policeDigitalCaseFile.service.ts
  apps/judicial-system/backend/src/app/modules/repository/services/policeDigitalCaseFileRepository.service.ts
Due: none

feat: gate review behind feature flags
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/inheritance-report.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/inheritance-report.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/inheritance-report.service.ts
  libs/application/templates/estate/src/dataProviders/EstateNoticeProvider.ts
  libs/application/templates/estate/src/dataProviders/index.ts
  libs/application/templates/estate/src/lib/EstateTemplate.spec.ts
  libs/application/templates/estate/src/lib/EstateTemplate.ts
  libs/application/templates/estate/src/lib/constants.ts
  libs/application/templates/estate/src/lib/getApplicationFeatureFlags.ts
  libs/application/templates/estate/src/types.ts
  libs/application/templates/inheritance-report/src/dataProviders/index.ts
  libs/application/templates/inheritance-report/src/lib/InheritanceReportTemplate.ts
  libs/application/templates/inheritance-report/src/lib/constants.ts
  libs/application/templates/inheritance-report/src/lib/getApplicationFeatureFlags.ts
  libs/application/templates/inheritance-report/src/types.ts
Due: Application System API

chore: format update dirty file
  apps/contentful-apps/components/sitemap/utils.ts
  libs/cms/src/lib/organizationPage.resolver.ts
Due: none
