Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fix(bilaleigur-gjaldflokkur): Removing unnecessary columns and adding locale to excel (#21319)
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
  libs/application/templates/car-rental-fee-category/src/fields/UploadCarCategoryFile/index.tsx
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/multiUpload.ts
  libs/application/templates/car-rental-fee-category/src/lib/messages.ts
  libs/application/templates/car-rental-fee-category/src/utils/UploadCarCategoryFileUtils.ts
  libs/application/templates/car-rental-fee-category/src/utils/generateExcelSheet.ts
  libs/application/templates/car-rental-fee-category/src/utils/types.ts
Due: Application System API

fix(form-system): log environment variable for debugging purposes (#21328)
  libs/portals/admin/form-system/src/components/Forms/Forms.tsx
Due: none

chore(social-insurance-administration): add error message for LATEST_MEDICAL_DOCUMENT_ALREADY_USED (#21324)
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/utils/constants.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/utils/medicalAndRehabilitationPaymentsUtils.ts
Due: Application System API

fix(form-system): correct spelling (#21337)
  libs/portals/admin/form-system/src/lib/utils/fieldTypes.ts
Due: none

fix(form-system): populate inputs with phone and email (#21317)
  apps/form-system/web/src/components/Screen/components/Applicants/Applicants.tsx
  libs/portals/form-system/ui-components/src/components/RelevantParties/individualApplicant.tsx
Due: none

chore(my-pages): Handle new renewal blocked reason (#21325)
  libs/api/domains/health-directorate/src/lib/mappers/medicineMapper.ts
  libs/api/domains/health-directorate/src/lib/models/enums.ts
  libs/clients/health-directorate/src/lib/clients/health/clientConfig.json
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/utils/mappers.ts
Due: Portal GraphQL

chore: disable feature cleanup (#21332)
  infra/scripts/generate-feature-values.sh
Due: none

feat(web): add apple merchant domain association file (#21331)
  apps/web/public/.well-known/apple-developer-merchantid-domain-association.txt
Due: none

fix(web): mobile web search crash (#21322)
  apps/web/screens/Search/FilterMenu.tsx
  apps/web/screens/Search/Search.tsx
  libs/island-ui/core/src/lib/Filter/Filter.tsx
  libs/island-ui/core/src/lib/Filter/FilterMobileDrawer.tsx
Due: none

feat(web): Supreme court determinations (#21318)
  apps/web/pages/s/haestirettur/akvardanir/[id]/index.ts
  apps/web/pages/s/haestirettur/akvardanir/index.ts
  apps/web/screens/SupremeCourt/Determinations/DeterminationDetails.css.ts
  apps/web/screens/SupremeCourt/Determinations/DeterminationDetails.tsx
  apps/web/screens/SupremeCourt/Determinations/DeterminationList.tsx
  apps/web/screens/SupremeCourt/Determinations/translations.strings.ts
  apps/web/screens/queries/SupremeCourtDeterminations.ts
  libs/api/domains/verdicts/src/lib/dto/supremeCourtDeterminationById.input.ts
  libs/api/domains/verdicts/src/lib/dto/supremeCourtDeterminationById.response.ts
  libs/api/domains/verdicts/src/lib/dto/supremeCourtDeterminations.input.ts
  libs/api/domains/verdicts/src/lib/dto/supremeCourtDeterminations.response.ts
  libs/api/domains/verdicts/src/lib/verdicts.resolver.ts
  libs/api/domains/verdicts/src/lib/verdicts.service.ts
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
  libs/shared/types/src/lib/api-cms-domain.ts
Due: Portal GraphQL

fix(as): Fix pdpp mocking (#21358)
  libs/application/template-api-modules/src/lib/modules/templates/public-debt-payment-plan/paymentPlanPrerequisites.service.ts
Due: Application System API

fix(cms): Avoid cache stampede by randomizing ttl slightly (#21343)
  libs/cms-translations/src/lib/cms-translations.service.ts
Due: none

feat(form-system): let zendesk ticket be either internal or public (#21355)
  apps/services/form-system/migrations/20260129103454-add-zendesk-internal.js
  apps/services/form-system/src/app/dataTypes/fieldSettings/fieldSettings.factory.ts
  apps/services/form-system/src/app/dataTypes/fieldSettings/fieldSettings.model.ts
  apps/services/form-system/src/app/modules/applications/models/application.mapper.ts
  apps/services/form-system/src/app/modules/applications/models/dto/application.dto.ts
  apps/services/form-system/src/app/modules/forms/forms.service.ts
  apps/services/form-system/src/app/modules/forms/models/dto/form.dto.ts
  apps/services/form-system/src/app/modules/forms/models/dto/updateForm.dto.ts
  apps/services/form-system/src/app/modules/forms/models/form.model.ts
  apps/services/form-system/src/app/modules/services/zendesk.service.ts
  libs/api/domains/form-system/src/dto/fieldSettings.input.ts
  libs/api/domains/form-system/src/dto/form.input.ts
  libs/api/domains/form-system/src/models/fieldSettings.model.ts
  libs/api/domains/form-system/src/models/form.model.ts
  libs/portals/admin/form-system/src/components/Forms/Forms.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/FieldContent/components/ZendeskSettings/ZendeskSettings.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/Urls/SubmissionUrls.tsx
  libs/portals/admin/form-system/src/hooks/controlReducer.ts
  libs/portals/admin/form-system/src/lib/utils/updateFormFn.ts
  libs/portals/form-system/graphql/src/lib/fragments/fieldSettings.ts
  libs/portals/form-system/graphql/src/lib/fragments/form.ts
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: Portal GraphQL

fix(form-system): improve email and phone number handling in queries (#21350)
  apps/form-system/web/src/components/Screen/components/Applicants/Applicants.tsx
  libs/portals/form-system/ui-components/src/components/RelevantParties/individualApplicant.tsx
Due: none

fix(bilaleigu-gjaldflokkur): Fix large data wont upload bug and properly required user input (#21361)
  libs/application/template-api-modules/src/lib/modules/templates/car-rental-fee-category/car-rental-fee-category.service.ts
  libs/application/templates/car-rental-fee-category/src/fields/UploadCarCategoryFile/index.tsx
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/carsChangesCount.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/multiUpload.ts
  libs/application/templates/car-rental-fee-category/src/index.ts
  libs/application/templates/car-rental-fee-category/src/lib/dataSchema.ts
  libs/application/templates/car-rental-fee-category/src/lib/messages.ts
  libs/application/templates/car-rental-fee-category/src/utils/UploadCarCategoryFileUtils.ts
  libs/application/templates/car-rental-fee-category/src/utils/carCategoryUtils.ts
  libs/application/templates/car-rental-fee-category/src/utils/types.ts
  libs/application/ui-components/src/index.ts
Due: Application System API

fix(form-system): populate email and phoneNumber (#21325) (#21344)
  apps/form-system/web/src/components/Screen/components/Applicants/Applicants.tsx
Due: none

fix(estate): fix negative numbers being added as abs value to sum (#21280)
  libs/application/templates/estate/src/fields/BankAccountsRepeater/index.tsx
  libs/application/templates/estate/src/fields/ClaimsRepeater/index.tsx
  libs/application/templates/estate/src/lib/utils.spec.ts
  libs/application/templates/estate/src/lib/utils.ts
Due: Application System API

feat(admin-portal): Delete email even when verified in service desk (#21189)
  apps/services/user-profile/src/app/user-profile/emails.service.ts
  apps/services/user-profile/src/app/user-profile/test/admin-emails.controller.spec.ts
  apps/services/user-profile/src/app/user-profile/user-profile.controller.ts
  apps/services/user-profile/src/app/user-profile/user-profile.service.ts
  libs/api/domains/user-profile/src/lib/adminUserProfile.model.ts
  libs/api/domains/user-profile/src/lib/adminUserProfile.resolver.ts
  libs/api/domains/user-profile/src/lib/userProfile.service.ts
  libs/portals/admin/service-desk/src/components/ConfirmModal/ConfirmModal.css.ts
  libs/portals/admin/service-desk/src/components/ConfirmModal/ConfirmModal.tsx
  libs/portals/admin/service-desk/src/lib/messages.ts
  libs/portals/admin/service-desk/src/screens/User/User.graphql
  libs/portals/admin/service-desk/src/screens/User/User.tsx
Due: Portal GraphQL

fix(j-s): hide temp (#21360)
  apps/judicial-system/backend/migrations/20260129155338-hide-cases.js
Due: none

refactor(form-system): remove unused FileService and related imports (#21371)
  apps/services/form-system/src/app/modules/services/file.service.ts
  apps/services/form-system/src/app/modules/services/prune/prune.module.ts
  apps/services/form-system/src/app/modules/services/services.module.ts
Due: none

feat(form-system): update form system URL handling for different environments (#21346)
  apps/portals/admin/infra/portals-admin.ts
  charts/islandis-services/portals-admin/values.dev.yaml
  charts/islandis-services/portals-admin/values.prod.yaml
  charts/islandis-services/portals-admin/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableRow.tsx
Due: none

fix(user-notificatoin-service): Adds retry logic to fetch orgs from contentful (#21341)
  apps/services/user-notification/src/app/modules/notifications/notifications.service.ts
Due: none

feat(application-system): Adding individual charge item codes for mortgage certificate (#21301)
  libs/application/templates/mortgage-certificate/src/util/index.ts
  libs/shared/constants/src/lib/chargeItemCode.ts
Due: Application System API

feat(transfer of vehicle ownership): Add prune hnipp (#21353)
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/mocks.ts
  apps/services/user-profile/src/app/user-profile/test/actor-user-profile.controller.spec.ts
  apps/services/user-profile/src/app/user-profile/test/me-user-profile.controller.spec.ts
  libs/application/template-api-modules/src/lib/notification/notificationsTemplates.ts
  libs/application/templates/aosh/training-license-on-a-work-machine/src/lib/TrainingLicenseOnAWorkMachineTemplate.ts
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/lib/TransferOfVehicleOwnershipTemplate.ts
  libs/application/types/src/lib/NotificationTypes.ts
  libs/auth/scopes/src/lib/clients/notification-scopes.ts
Due: Application System API

fix(j-s): clean up (#21362)
  apps/judicial-system/backend/migrations/20260129161845-clean-up.js
Due: none

fix(user-profile): Explicitly return true (#21366)
  libs/api/domains/user-profile/src/lib/userProfile.service.ts
  libs/portals/admin/service-desk/src/screens/User/User.tsx
Due: Portal GraphQL

feat(ojoi): Add ui for sorting search fp. Hide signature in detail ad (#21378)
  apps/web/components/OfficialJournalOfIceland/OJOIAdvertDisplay.css.ts
  apps/web/components/OfficialJournalOfIceland/OJOIAdvertDisplay.tsx
  apps/web/screens/OfficialJournalOfIceland/OJOIAdvert.tsx
  apps/web/screens/OfficialJournalOfIceland/OJOIPage.css.ts
  apps/web/screens/OfficialJournalOfIceland/OJOISearch.tsx
  apps/web/screens/OfficialJournalOfIceland/hooks/useAdverts.ts
  apps/web/screens/OfficialJournalOfIceland/lib/advert-params.mapper.ts
  apps/web/screens/OfficialJournalOfIceland/messages.ts
  apps/web/screens/queries/OfficialJournalOfIceland.ts
  libs/api/domains/official-journal-of-iceland/src/lib/models/advert.input.ts
  libs/api/domains/official-journal-of-iceland/src/lib/models/advert.model.ts
  libs/clients/official-journal-of-iceland/public/src/clientConfig.json
Due: Portal GraphQL

feat(prune hnipp): Add prune hnipp to change co-owner and operator of vehicle (#21374)
  libs/application/template-api-modules/src/lib/notification/notificationsTemplates.ts
  libs/application/templates/transport-authority/change-co-owner-of-vehicle/src/lib/ChangeCoOwnerOfVehicleTemplate.ts
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/lib/ChangeOperatorOfVehicleTemplate.ts
  libs/application/types/src/lib/NotificationTypes.ts
Due: Application System API

fix(my-pages): Empty state handling for appointments (#21338)
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/Appointments/AppointmentsOverview.tsx
  libs/portals/my-pages/health/src/screens/Referrals/Referrals.tsx
  libs/portals/my-pages/health/src/screens/Waitlists/Waitlists.tsx
Due: none

fix(unemployment-benefits): date validation error (#21214)
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.service.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentInformationSection/employmentHistory.ts
  libs/application/templates/unemployment-benefits/src/utils/overviewAnswers/vacationAnswers.ts
Due: Application System API

fix(hh-courses-application): Change zendesk submit email (#21356)
  apps/application-system/api/infra/application-system-api.ts
  charts/islandis-services/application-system-api/values.dev.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis-services/application-system-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: Application System API

chore(j-s): Update modal string (#21357)
  apps/judicial-system/web/src/components/Modals/ReopenModal/ReopenModal.tsx
Due: none

feat(hh-courses-application): Payments (#21348)
  apps/web/screens/Organization/Courses/CourseDetails.tsx
  apps/web/screens/queries/Courses.ts
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/courses.service.ts
  libs/application/templates/hh/courses/src/dataProviders/index.ts
  libs/application/templates/hh/courses/src/dataProviders/selectedChargeItem.ts
  libs/application/templates/hh/courses/src/forms/mainForm/overview.ts
  libs/application/templates/hh/courses/src/graphql/index.ts
  libs/application/templates/hh/courses/src/lib/template.ts
  libs/application/templates/hh/courses/src/utils/getChargeItems.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/course.model.ts
Due: Application System API

fix(web): Supreme court determinations - language toggle (#21342)
  apps/web/screens/SupremeCourt/Determinations/DeterminationDetails.tsx
  apps/web/screens/SupremeCourt/Determinations/DeterminationList.tsx
Due: none

feat(native-app): Add error handling for mileage submission (#21334)
  apps/native/app/src/screens/vehicles/vehicle-mileage.screen.tsx
Due: none

fix(user notification): Update generated graphql file for CMS to include recently added scope field (#21370)
  libs/clients/cms/project.json
Due: none

feat: add code BASE_CERT_OLDER_THAN_6MONTHS to TM payment application (#21381)
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/utils/constants.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/utils/medicalAndRehabilitationPaymentsUtils.ts
Due: Application System API

feat(form-system): add submit application error message (#21380)
  apps/form-system/web/src/components/Footer/Footer.tsx
  apps/form-system/web/src/components/Screen/Screen.tsx
  apps/form-system/web/src/reducers/applicationReducer.ts
  apps/form-system/web/src/reducers/reducerUtils.ts
  apps/services/form-system/src/app/modules/applications/applications.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
  apps/services/form-system/src/app/modules/applications/models/dto/screenErrorMessage.dto.ts
  apps/services/form-system/src/app/modules/applications/models/dto/submitApplication.response.dto.ts
  apps/services/form-system/src/app/modules/services/zendesk.service.ts
  libs/api/domains/form-system/src/lib/applications/applications.resolver.ts
  libs/api/domains/form-system/src/lib/applications/applications.service.ts
  libs/api/domains/form-system/src/models/applications.model.ts
  libs/portals/form-system/graphql/src/lib/mutations/submitApplication.ts
  libs/portals/form-system/ui-components/src/lib/reducerTypes.ts
Due: Portal GraphQL

fix(hh-courses-application): Send an email instead of using Zendesk Service (#21373)
  apps/application-system/api/infra/application-system-api.ts
  apps/application-system/api/src/app/app.module.ts
  charts/islandis-services/application-system-api/values.dev.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis-services/application-system-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/courses.config.ts
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/courses.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/courses.service.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
