Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

feat(j-s): Auto Indictment Count (#19880)
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/indictment-count/indictmentCount.service.ts
Due: none

Adds find one to the case repository service
  apps/judicial-system/backend/src/app/modules/case/case.module.ts
  apps/judicial-system/backend/src/app/modules/court/court.module.ts
  apps/judicial-system/backend/src/app/modules/file/file.module.ts
  apps/judicial-system/backend/src/app/modules/lawyer-registry/lawyerRegistry.module.ts
  apps/judicial-system/backend/src/app/modules/notification/notification.module.ts
  apps/judicial-system/backend/src/app/modules/police/police.module.ts
  apps/judicial-system/backend/src/app/modules/repository/services/caseRepository.service.ts
  apps/judicial-system/backend/src/app/modules/statistics/statistics.module.ts
  apps/judicial-system/backend/src/app/modules/statistics/statistics.service.ts
Due: none

Replaces some find one calls
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/statistics/statistics.service.ts
Due: none

Replaces a find one call
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.service.ts
Due: none

update yarn.lock
  yarn.lock
Due: none

throwing err if create attachment fails
  libs/application/template-api-modules/src/lib/modules/templates/activation-allowance/activation-allowance.service.ts
Due: Application System API

fix: tests
  libs/clients/signature-collection/src/lib/signature-collection.service.spec.ts
Due: none

Fix after coderabbit review
  libs/application/templates/new-primary-school/src/lib/NewPrimarySchoolTemplate.ts
  libs/application/templates/new-primary-school/src/utils/constants.ts
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.ts
Due: Application System API

Address coderabbit comments
  apps/web/screens/Verdicts/components/InfoCardGrid/InfoCard.tsx
  apps/web/screens/Verdicts/components/InfoCardGrid/InfoCardGrid.tsx
Due: none

Swap slugs
  libs/island-ui/contentful/src/lib/RichTextRC/defaultRenderNode.tsx
Due: none

Fix after coderabbit review
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.ts
Due: Application System API

fix(web): Change styles for form "accept terms" checkboxes (#19909)
  apps/web/components/Form/Form.tsx
Due: none

fix(j-s): Investigation case completed without ruling (#19859)
  apps/judicial-system/web/src/routes/Court/InvestigationCase/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/utils/validate.ts
Due: none

fix(signature-collection): add candidate owner name (#19891)
  libs/api/domains/signature-collection/src/lib/dto/lockList.input.ts
  libs/api/domains/signature-collection/src/lib/guards/userAccess.guard.spec.ts
  libs/api/domains/signature-collection/src/lib/models/candidate.model.ts
  libs/api/domains/signature-collection/src/lib/signatureCollectionAdmin.resolver.ts
  libs/api/domains/signature-collection/src/lib/signatureCollectionAdmin.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/signature-collection/parliamentary-list-signing/parliamentary-list-signing.service.ts
  libs/application/templates/signature-collection/municipal-list-signing/src/forms/Draft.ts
  libs/clients/signature-collection/src/clientConfig.json
  libs/clients/signature-collection/src/lib/signature-collection-admin.service.ts
  libs/clients/signature-collection/src/lib/signature-collection-shared.service.ts
  libs/clients/signature-collection/src/lib/signature-collection.service.spec.ts
  libs/clients/signature-collection/src/lib/types/adminClient.ts
  libs/clients/signature-collection/src/lib/types/candidate.dto.ts
  libs/portals/admin/signature-collection/src/loaders/allListsGraphql/getAllSignatureLists.graphql
  libs/portals/admin/signature-collection/src/loaders/allListsGraphql/getCollectionStatus.graphql
  libs/portals/admin/signature-collection/src/loaders/listGraphql/getSignatureList.graphql
  libs/portals/admin/signature-collection/src/shared-components/actionDrawer/ListManagers.tsx
  libs/portals/my-pages/signature-collection/src/lib/messages.ts
  libs/portals/my-pages/signature-collection/src/screens/shared/SignedList/index.tsx
  libs/shared/connected/src/lib/SignatureLists/SignatureLists.tsx
  libs/shared/connected/src/lib/SignatureLists/useGetSignatureLists.ts
Due: Portal GraphQL, Application System API

feat(web): Blood donation restriction entry hyperlink (#19904)
  libs/island-ui/contentful/src/lib/RichTextRC/defaultRenderNode.tsx
Due: none

feat(web): Verdict list card reveal button (#19903)
  apps/web/screens/Verdicts/VerdictsList.tsx
  apps/web/screens/Verdicts/components/InfoCardGrid/DetailedInfoCard.tsx
  apps/web/screens/Verdicts/components/InfoCardGrid/InfoCard.css.ts
  apps/web/screens/Verdicts/components/InfoCardGrid/InfoCard.tsx
  apps/web/screens/Verdicts/components/InfoCardGrid/InfoCardGrid.tsx
  apps/web/screens/Verdicts/components/InfoCardGrid/SimpleInfoCard.tsx
  apps/web/screens/Verdicts/components/InfoCardGrid/index.ts
  apps/web/screens/Verdicts/translations.strings.ts
Due: none

fix(application-system): Fixes for 1.sept release of "Virknistyrks" application (#19899)
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis/values.prod.yaml
  infra/src/dsl/xroad.ts
  libs/application/template-api-modules/src/lib/modules/templates/activation-allowance/activation-allowance.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/activation-allowance/activation-allowance.utils.ts
  libs/application/template-api-modules/src/lib/modules/templates/activation-allowance/constants.ts
  libs/application/templates/activation-allowance/README.md
  libs/application/templates/activation-allowance/src/forms/completedForm/index.ts
  libs/application/templates/activation-allowance/src/forms/mainForm/academicBackgroundSection.ts
  libs/application/templates/activation-allowance/src/forms/mainForm/incomeSection.ts
  libs/application/templates/activation-allowance/src/forms/mainForm/jobHistory.ts
  libs/application/templates/activation-allowance/src/forms/mainForm/languageSkillsSection.ts
  libs/application/templates/activation-allowance/src/forms/mainForm/overviewSection.ts
  libs/application/templates/activation-allowance/src/forms/mainForm/paymentInformationSection.ts
  libs/application/templates/activation-allowance/src/index.ts
  libs/application/templates/activation-allowance/src/lib/ActivationAllowanceTemplate.ts
  libs/application/templates/activation-allowance/src/lib/dataSchema.ts
  libs/application/templates/activation-allowance/src/lib/messages/application.ts
  libs/application/templates/activation-allowance/src/lib/messages/completed.ts
  libs/application/templates/activation-allowance/src/lib/messages/errors.ts
  libs/application/templates/activation-allowance/src/lib/messages/income.ts
  libs/application/templates/activation-allowance/src/lib/messages/overview.ts
  libs/application/templates/activation-allowance/src/utils/getOverviewItems.ts
  libs/clients/vmst-unemployment/src/clientConfig.json
  libs/clients/vmst-unemployment/src/lib/vmstUnemploymentClient.service.ts
Due: Application System API

feat(j-s): Public prosecutors office - Verdict status (#19814)
  apps/judicial-system/api/infra/judicial-system-api.ts
  apps/judicial-system/api/src/app/modules/verdict/models/verdict.model.ts
  apps/judicial-system/backend/migrations/20250818125915-update-verdict.js
  apps/judicial-system/backend/migrations/20250819113335-update-verdict.js
  apps/judicial-system/backend/src/app/modules/repository/models/verdict.model.ts
  apps/judicial-system/web/src/components/BlueBoxWithIcon/BlueBoxWithDate.tsx
  apps/judicial-system/web/src/components/BlueBoxWithIcon/BlueBoxWithIcon.css.ts
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/components/LawyerRegistryProvider/LawyerRegistryProvider.tsx
  apps/judicial-system/web/src/components/VerdictStatusAlert/VerdictStatusAlert.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/Overview/Overview.css.ts
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/Overview/Overview.tsx
  charts/judicial-system-services/judicial-system-api/values.prod.yaml
  charts/judicial-system-services/judicial-system-api/values.staging.yaml
  charts/judicial-system/values.prod.yaml
  charts/judicial-system/values.staging.yaml
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/defendant.ts
  libs/judicial-system/types/src/lib/feature.ts
Due: none

refactor(notifications-store): remove unused messaging import; update intl-polyfill for explicit any type handling
  apps/native/app/src/stores/notifications-store.ts
  apps/native/app/src/utils/intl-polyfill.ts
Due: none

remove more islykill envs
  apps/api/infra/api.ts
Due: Portal GraphQL

remove more islykill envs
  apps/services/user-profile/infra/service-portal-api.ts
Due: none

Copy TerminationReason rather than import to avoid headache
  libs/application/templates/hms/terminate-rental-agreement/src/utils/options.ts
Due: Application System API

formatting
  apps/services/auth/ids-api/src/app/user-profile/user-profile.controller.v3.spec.ts
  tools/eslint-rules/tsconfig.json
Due: none

chore: charts update dirty file
  charts/islandis-services/api/values.dev.yaml
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/api/values.staging.yaml
  charts/islandis-services/service-portal-api/values.dev.yaml
  charts/islandis-services/service-portal-api/values.prod.yaml
  charts/islandis-services/service-portal-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

Hide search from defence and admin users
  apps/judicial-system/web/src/components/Header/Header.tsx
Due: none

Replaces some find one usages
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.service.ts
Due: none

Fix id in selectController
  libs/application/templates/aosh/transfer-of-machine-ownership/src/fields/MachinesField/MachineSelectField.tsx
Due: Application System API

Cleanup
  apps/judicial-system/web/src/components/Modals/SearchModal/SearchModal.tsx
Due: none

chore(j-s): add new endpoint to fetch more advanced supplements
  apps/judicial-system/backend/src/app/modules/verdict/internalVerdict.controller.ts
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/models/verdict.response.ts
  apps/judicial-system/xrd-api/src/app/app.controller.ts
  apps/judicial-system/xrd-api/src/app/app.service.ts
  apps/judicial-system/xrd-api/src/app/models/componentDefinitions/groups.model.ts
  apps/judicial-system/xrd-api/src/app/models/componentDefinitions/items.model.ts
  apps/judicial-system/xrd-api/src/app/models/policeDocumentSupplements.response.ts
  libs/judicial-system/audit-trail/src/lib/auditTrail.service.ts
  libs/judicial-system/formatters/src/lib/formatters.ts
Due: none

infra name + cv response fix
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis/values.prod.yaml
  infra/src/dsl/xroad.ts
  libs/application/template-api-modules/src/lib/modules/templates/activation-allowance/activation-allowance.service.ts
Due: Application System API

SignatureCollectionLockListInput input type
  libs/portals/admin/signature-collection/src/lib/utils.ts
  libs/portals/admin/signature-collection/src/shared-components/lockList/lockList.graphql
Due: none

fix(j-s): lint
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/models/verdict.response.ts
Due: none

merge fix
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis/values.prod.yaml
  infra/src/dsl/xroad.ts
Due: none

remove islyklar.p12 file from infra
  apps/api/infra/api.ts
  apps/application-system/api/infra/application-system-api.ts
  apps/services/user-profile/infra/service-portal-api.ts
Due: Portal GraphQL, Application System API

chore: charts update dirty file
  charts/islandis-services/api/values.dev.yaml
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/api/values.staging.yaml
  charts/islandis-services/application-system-api/values.dev.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis-services/application-system-api/values.staging.yaml
  charts/islandis-services/service-portal-api/values.dev.yaml
  charts/islandis-services/service-portal-api/values.prod.yaml
  charts/islandis-services/service-portal-api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

fix(application-system): Xroad vmst service name change (#19913)
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis/values.prod.yaml
  infra/src/dsl/xroad.ts
Due: none

fix(application-system): Xroad service name (#19912)
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/application-system-api/values.prod.yaml
  charts/islandis/values.prod.yaml
  infra/src/dsl/xroad.ts
  libs/application/template-api-modules/src/lib/modules/templates/activation-allowance/activation-allowance.service.ts
Due: Application System API

fix(application-system): SelectController setValue when rendering error fix (#19758)
  libs/shared/form-fields/src/lib/SelectController/SelectController.tsx
Due: none

Cleanup
  apps/services/user-profile/src/app/v2/user-profile.service.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
