Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Merge branch 'main' of https://github.com/island-is/island.is into HEAD
  infra/src/uber-charts/islandis.ts
  libs/api/domains/form-system/src/dto/section.input.ts
  libs/api/domains/form-system/src/lib/applicants/applicants.resolver.ts
  libs/api/domains/form-system/src/lib/applications/applications.resolver.ts
  libs/api/domains/form-system/src/lib/applications/applications.service.ts
  libs/api/domains/form-system/src/lib/certification/certification.resolver.ts
  libs/api/domains/form-system/src/lib/fields/fields.resolver.ts
  libs/api/domains/form-system/src/lib/listItems/listItems.resolver.ts
  libs/api/domains/form-system/src/lib/organizations/organizations.resolver.ts
  libs/api/domains/form-system/src/lib/screens/screens.resolver.ts
  libs/api/domains/form-system/src/lib/sections/sections.resolver.ts
  libs/api/domains/form-system/src/models/section.model.ts
  libs/clients/form-system/src/clientConfig.json
  libs/portals/admin/form-system/src/components/MainContent/MainContent.tsx
  libs/portals/admin/form-system/src/components/NavComponent/NavComponent.tsx
  libs/portals/admin/form-system/src/components/Navbar/Navbar.tsx
  libs/portals/admin/form-system/src/components/Navbar/components/NavbarTab/NavbarTab.tsx
  libs/portals/admin/form-system/src/components/NavbarSelect/NavbarSelect.tsx
  libs/portals/admin/form-system/src/context/FormProvider.tsx
  libs/portals/admin/form-system/src/hooks/controlReducer.ts
  libs/portals/admin/form-system/src/lib/utils/defaultStep.tsx
  libs/portals/form-system/ui-components/src/lib/enums.ts
  yarn.lock
Due: Portal GraphQL

chore: charts update dirty files
  charts/islandis/values.dev.yaml
  charts/services/api/values.dev.yaml
  charts/services/portals-admin/values.dev.yaml
  charts/services/portals-admin/values.prod.yaml
  charts/services/portals-admin/values.staging.yaml
Due: none

Stop date from taking up space if it is not present
  apps/web/components/GenericList/GenericList.tsx
Due: none

feat: add support links
  apps/web/screens/Grants/Grant/GrantSidebar.tsx
  apps/web/screens/queries/Grants.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/grant.model.ts
Due: none

Discard S3Service in test
  libs/application/template-api-modules/src/lib/modules/templates/driving-license-submission/driving-license-submission.spec.ts
Due: Application System API

fix(driving-license): delivery section
  libs/application/templates/driving-license/src/forms/draft/subSectionDelivery.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionTempInfo.ts
  libs/application/templates/driving-license/src/lib/dataSchema.ts
Due: Application System API

chore: conciser
  apps/web/screens/Grants/Grant/GrantSidebar.tsx
Due: none

feat: Add codeOwner to logging context (#17172)
  libs/infra-tracing/src/lib/code-owner.spec.ts
  libs/infra-tracing/src/lib/code-owner.ts
  libs/logging/src/lib/context.spec.ts
  libs/logging/src/lib/context.ts
  libs/nest/core/src/lib/code-owner/code-owner.interceptor.spec.ts
  libs/nest/core/src/lib/code-owner/code-owner.interceptor.ts
Due: none

feat(web): WHODAS calculator - Allow users to go to previous step using browser back (#17183)
  apps/web/components/connected/WHODAS/Calculator.tsx
  package.json
  yarn.lock
Due: none

fix(social-insurance-maintenance): Disable payment plan with FF (#17181)
  libs/feature-flags/src/lib/features.ts
  libs/portals/my-pages/social-insurance-maintenance/src/lib/messages.ts
  libs/portals/my-pages/social-insurance-maintenance/src/screens/IncomePlan/IncomePlan.tsx
  libs/portals/my-pages/social-insurance-maintenance/src/screens/IncomePlanDetail/IncomePlanDetail.tsx
Due: none

WIP 3DS
  apps/payments/components/ThreeDSecure/ThreeDSecure.tsx
  apps/payments/components/ThreeDSecure/ThreeDSecure.utils.ts
  apps/payments/next.config.js
  apps/payments/pages/[locale]/[paymentFlowId].tsx
  apps/payments/pages/[locale]/[paymentFlowId]/greitt.tsx
  apps/payments/pages/[locale]/[paymentFlowId]/index.tsx
  apps/payments/pages/api/card/callback.ts
  apps/payments/pages/api/card/charge.ts
  apps/payments/pages/api/card/verify.ts
  apps/payments/services/payment.ts
Due: none

fix(core): S3 copy object with foreign characters (#17151)
  libs/nest/aws/src/lib/s3.service.ts
Due: none

Mark spousedone as having submission completed
  libs/application/templates/marriage-conditions/src/forms/spouseDone.ts
Due: Application System API

chore: houskeeping, split up files and make code more radable
  libs/application/templates/inao/financial-statement-cemetery/src/fields/CemeteryOverview/AboutOverview.tsx
  libs/application/templates/inao/financial-statement-cemetery/src/fields/CemeteryOverview/CapitalNumbersOverview.tsx
  libs/application/templates/inao/financial-statement-cemetery/src/fields/CemeteryOverview/index.tsx
  libs/application/templates/inao/financial-statement-cemetery/src/forms/applicationForm/cemeteryCaretakerSection/caretakerMultiField.ts
  libs/application/templates/inao/financial-statement-cemetery/src/forms/applicationForm/cemeteryCaretakerSection/index.ts
  libs/application/templates/inao/financial-statement-cemetery/src/forms/applicationForm/cemeteryFinancialStatementSection/index.ts
  libs/application/templates/inao/financial-statement-cemetery/src/forms/applicationForm/cemeteryKeyNumbersSection/capitalNumberSubSection.ts
  libs/application/templates/inao/financial-statement-cemetery/src/forms/applicationForm/cemeteryKeyNumbersSection/equityAndLiabilitySubSection.ts
  libs/application/templates/inao/financial-statement-cemetery/src/forms/applicationForm/cemeteryKeyNumbersSection/opperatingCostSubSection.ts
  libs/application/templates/inao/financial-statement-cemetery/src/hooks/useTotals.ts
  libs/application/templates/inao/financial-statement-cemetery/src/lib/dataSchema.ts
  libs/application/templates/inao/financial-statement-cemetery/src/types/types.ts
  libs/application/templates/inao/financial-statement-cemetery/src/utils/currency.ts
  libs/application/templates/inao/financial-statement-cemetery/src/utils/helpers.ts
  libs/application/templates/inao/financial-statement-cemetery/src/utils/overviewUtils.ts
  libs/application/templates/inao/financial-statement-cemetery/src/utils/sums.ts
Due: Application System API

Nevermind, this was not the issue
  libs/application/templates/marriage-conditions/src/forms/spouseDone.ts
Due: Application System API

fix: add label
  apps/web/screens/Grants/Grant/GrantSidebar.tsx
  apps/web/screens/Grants/messages.ts
  apps/web/screens/queries/Grants.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/grant.model.ts
Due: none

chore: revert sdiebar
  apps/web/screens/Grants/Grant/GrantSidebar.tsx
Due: none

feat(j-s): Notifications to prosecutors office in completed indictments (#17174)
  apps/judicial-system/backend/infra/judicial-system-backend.ts
  apps/judicial-system/backend/src/app/messages/notifications.ts
  apps/judicial-system/backend/src/app/modules/event-log/eventLog.module.ts
  apps/judicial-system/backend/src/app/modules/event-log/eventLog.service.ts
  apps/judicial-system/backend/src/app/modules/notification/dto/indictmentCaseNotification.dto.ts
  apps/judicial-system/backend/src/app/modules/notification/dto/notificationDispatch.dto.ts
  apps/judicial-system/backend/src/app/modules/notification/internalNotification.controller.ts
  apps/judicial-system/backend/src/app/modules/notification/notification.config.ts
  apps/judicial-system/backend/src/app/modules/notification/notification.module.ts
  apps/judicial-system/backend/src/app/modules/notification/notificationDispatch.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/indictmentCaseNotification/indictmentCaseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/indictmentCaseNotification/indictmentCaseNotification.strings.ts
  apps/judicial-system/backend/src/app/modules/notification/test/createTestingNotificationModule.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/eventNotificationDispatch/eventNotificationDispatch.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/indictmentCaseNotification/sendIndictmentVerdictInfoNotification.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendIndictmentsWaitingForConfirmationNotifications.spec.ts
  charts/judicial-system/values.dev.yaml
  charts/judicial-system/values.prod.yaml
  charts/judicial-system/values.staging.yaml
  charts/services/judicial-system-backend/values.dev.yaml
  charts/services/judicial-system-backend/values.prod.yaml
  charts/services/judicial-system-backend/values.staging.yaml
  libs/judicial-system/message/src/lib/message.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/notification.ts
Due: none

updating service
  libs/application/template-api-modules/src/lib/modules/templates/aosh/seminars/seminars.service.ts
  libs/clients/seminars-ver/src/clientConfig.json
  libs/clients/seminars-ver/src/lib/seminars.service.ts
Due: Application System API

Fix tests
  apps/judicial-system/backend/src/app/modules/event/event.service.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.spec.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
Due: none

Fix lint
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
Due: none

feat(web): Generic List - Stop date from taking up space if it is not present (#17188)
  apps/web/components/GenericList/GenericList.tsx
Due: none

Add hasOnlyOneItemInSubArrays to utils
  apps/judicial-system/web/src/components/CaseFile/CaseFile.tsx
  apps/judicial-system/web/src/components/CourtArrangements/CourtArrangements.tsx
  apps/judicial-system/web/src/components/RestrictionTags/RestrictionTags.tsx
  apps/judicial-system/web/src/routes/Court/InvestigationCase/HearingArrangements/HearingArrangements.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/HearingArrangements/HearingArrangements.tsx
  apps/judicial-system/web/src/routes/Court/components/ReceptionAndAssignment/ReceptionAndAssignment.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/AppealCase/AppealCase.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Summary/Summary.spec.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Summary/Summary.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Defendant/Defendant.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/DefendantInfo/DefendantInfo.tsx
  apps/judicial-system/web/src/utils/hooks/useAppealAlertBanner/index.tsx
  apps/judicial-system/web/src/utils/hooks/useNationalRegistry/index.ts
  apps/judicial-system/web/src/utils/hooks/useSections/index.ts
  apps/judicial-system/web/src/utils/utils.spec.tsx
  apps/judicial-system/web/src/utils/utils.ts
  apps/judicial-system/web/src/utils/validate.ts
Due: none

Update code for explicit and manual use
  apps/air-discount-scheme/backend/src/app/modules/discount/discount.service.ts
  apps/air-discount-scheme/backend/src/app/modules/user/user.service.ts
Due: none

Add hasOnlyOneItemInSubArrays to utils
  apps/judicial-system/web/src/utils/validate.ts
Due: none

chore: remove patch for old version of rn
  .yarn/patches/react-native-npm-0.71.1-f5d237f240.patch
  package.json
Due: none

start on screen validation
  apps/services/form-system/migrations/20240605120342-create-section.js
  apps/services/form-system/src/app/dataTypes/validationResponse.model.ts
  apps/services/form-system/src/app/modules/applications/applications.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.module.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
  apps/services/form-system/src/app/modules/applications/models/application.model.ts
  apps/services/form-system/src/app/modules/fields/models/field.model.ts
  apps/services/form-system/src/app/modules/forms/forms.service.ts
  apps/services/form-system/src/app/modules/forms/models/form.model.ts
  apps/services/form-system/src/app/modules/screens/screens.controller.ts
  apps/services/form-system/src/app/modules/screens/screens.service.ts
  apps/services/form-system/src/app/modules/sections/models/dto/section.dto.ts
  apps/services/form-system/src/app/modules/sections/models/section.model.ts
  apps/services/form-system/src/app/modules/services/validation.service.ts
  apps/services/form-system/src/app/modules/values/models/value.model.ts
Due: none

Strip offence when removing traffic violation
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
Due: none

TS-936 Municipality
  apps/skilavottord/web/auth/utils.ts
  apps/skilavottord/web/components/NavigationLinks/NavigationLinks.tsx
  apps/skilavottord/web/components/Sidenav/Sidenav.tsx
  apps/skilavottord/web/i18n/locales/en.json
  apps/skilavottord/web/i18n/locales/is.json
  apps/skilavottord/web/i18n/locales/translation.d.ts
  apps/skilavottord/web/pages/recycling-companies/municipalities.tsx
  apps/skilavottord/web/screens/AccessControl/AccessControl.tsx
  apps/skilavottord/web/screens/AccessControl/components/AccessControlModal/AccessControlModal.tsx
  apps/skilavottord/web/screens/RecyclingCompanies/RecyclingCompanies.tsx
  apps/skilavottord/web/screens/RecyclingCompanies/RecyclingCompanyCreate/RecyclingCompanyCreate.tsx
  apps/skilavottord/web/screens/RecyclingCompanies/RecyclingCompanyUpdate/RecyclingCompanyUpdate.tsx
  apps/skilavottord/web/screens/RecyclingCompanies/components/RecyclingCompanyForm/RecyclingCompanyForm.tsx
  apps/skilavottord/web/screens/RecyclingFund/Overview/Overview.tsx
  apps/skilavottord/ws/src/app/modules/accessControl/accessControl.resolver.ts
  apps/skilavottord/ws/src/app/modules/accessControl/accessControl.service.ts
  apps/skilavottord/ws/src/app/modules/recyclingPartner/recyclingPartner.resolver.ts
  apps/skilavottord/ws/src/app/modules/recyclingPartner/recyclingPartner.service.ts
  apps/skilavottord/ws/src/app/modules/vehicle/vehicle.resolver.ts
  apps/skilavottord/ws/src/app/modules/vehicle/vehicle.service.ts
Due: none

Add headings
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.strings.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Substances/Substances.strings.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Substances/Substances.tsx
Due: none

fix email button text
  apps/services/user-notification/src/assets/images/en-button-open.png
  apps/services/user-notification/src/assets/images/is-button-open.png
Due: none

laga swagger skilgr
  apps/services/form-system/src/app/modules/applications/applications.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
  apps/services/form-system/src/app/modules/applications/models/dto/application.dto.ts
  apps/services/form-system/src/app/modules/applications/models/dto/applicationEvent.dto.ts
  apps/services/form-system/src/app/modules/applications/models/dto/applicationMinimal.dto.ts
  apps/services/form-system/src/app/modules/fields/models/dto/updateField.dto.ts
  apps/services/form-system/src/app/modules/forms/models/dto/form.dto.ts
Due: none

TS-936 Municipality
  apps/skilavottord/web/auth/utils.ts
  apps/skilavottord/web/components/NavigationLinks/NavigationLinks.tsx
  apps/skilavottord/web/screens/AccessControl/AccessControl.tsx
  apps/skilavottord/web/screens/AccessControlCompany/AccessControlCompany.tsx
  apps/skilavottord/web/screens/RecyclingCompanies/RecyclingCompanies.tsx
  apps/skilavottord/web/screens/RecyclingCompanies/RecyclingCompanyCreate/RecyclingCompanyCreate.tsx
  apps/skilavottord/web/screens/RecyclingCompanies/RecyclingCompanyUpdate/RecyclingCompanyUpdate.tsx
  apps/skilavottord/web/screens/RecyclingCompanies/components/RecyclingCompanyForm/RecyclingCompanyForm.tsx
  apps/skilavottord/ws/src/app/modules/accessControl/accessControl.service.ts
Due: none

fix: import for gradle-plugin
  apps/native/app/android/settings.gradle
Due: none

fix: update import for react-native-clipboard as well
  apps/native/app/android/settings.gradle
Due: none

Fix tests to handle logging warn and info
  apps/air-discount-scheme/backend/src/app/modules/discount/test/unit/discount.service.spec.ts
Due: none

fix(auth-react): Remove auth-react library in favour of bff (#17102)
  libs/auth/react/.babelrc
  libs/auth/react/.eslintrc.json
  libs/auth/react/README.md
  libs/auth/react/babel-jest.config.json
  libs/auth/react/jest.config.ts
  libs/auth/react/project.json
  libs/auth/react/src/index.ts
  libs/auth/react/src/lib/AuthSettings.spec.ts
  libs/auth/react/src/lib/AuthSettings.ts
  libs/auth/react/src/lib/auth/Auth.css.ts
  libs/auth/react/src/lib/auth/Auth.state.ts
  libs/auth/react/src/lib/auth/AuthContext.tsx
  libs/auth/react/src/lib/auth/AuthErrorScreen.tsx
  libs/auth/react/src/lib/auth/AuthProvider.mocked.spec.tsx
  libs/auth/react/src/lib/auth/AuthProvider.spec.tsx
  libs/auth/react/src/lib/auth/AuthProvider.tsx
  libs/auth/react/src/lib/auth/CheckIdpSession.tsx
  libs/auth/react/src/lib/auth/MockedAuthProvider.spec.tsx
  libs/auth/react/src/lib/auth/MockedAuthProvider.tsx
  libs/auth/react/src/lib/authLink.ts
  libs/auth/react/src/lib/createMockUser.ts
  libs/auth/react/src/lib/getAccessToken.spec.ts
  libs/auth/react/src/lib/getAccessToken.ts
  libs/auth/react/src/lib/userManager.ts
  libs/auth/react/src/lib/utils/tinyMemoize.spec.ts
  libs/auth/react/src/lib/utils/tinyMemoize.ts
  libs/auth/react/src/lib/utils/toStringScope.spec.ts
  libs/auth/react/src/lib/utils/toStringScope.ts
  libs/auth/react/test/setup.ts
  libs/auth/react/tsconfig.json
  libs/auth/react/tsconfig.lib.json
  libs/auth/react/tsconfig.spec.json
  libs/island-ui/storybook/config/main.ts
  tsconfig.base.json
Due: none

fix: update build.gradle imports
  apps/native/app/android/build.gradle
Due: none

chore: refactor out custom components
  .github/CODEOWNERS
  libs/application/templates/inao/financial-statement-cemetery/src/dataProviders/index.ts
  libs/application/templates/inao/financial-statement-cemetery/src/fields/CemeteryIncomeLimit/index.tsx
  libs/application/templates/inao/financial-statement-cemetery/src/fields/FetchDataBasedOnSelectedYear/index.tsx
  libs/application/templates/inao/financial-statement-cemetery/src/fields/PowerOfAttorney/index.tsx
  libs/application/templates/inao/financial-statement-cemetery/src/fields/index.ts
  libs/application/templates/inao/financial-statement-cemetery/src/forms/applicationForm/cemeteryKeyNumbersSection/opperatingCostSubSection.ts
  libs/application/templates/inao/financial-statement-cemetery/src/forms/applicationForm/clientInfoSection/index.ts
  libs/application/templates/inao/financial-statement-cemetery/src/types/types.ts
  libs/application/templates/inao/financial-statement-cemetery/src/utils/constants.ts
  libs/application/templates/inao/financial-statement-cemetery/src/utils/helpers.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
