Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Fix incomeTypeId for sickness payment
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.utils.ts
  libs/application/templates/unemployment-benefits/src/shared/constants.ts
Due: Application System API

docs(auth): Update delegation API and system architecture docs (#21123)
  apps/services/auth/README.md
  apps/services/auth/delegation-api/README.md
Due: none

Refactor
  libs/application/templates/hh/courses/src/forms/mainForm/participantSection.ts
  libs/application/templates/hh/courses/src/forms/mainForm/userInformation.ts
Due: Application System API

fix(unemployment benefits): Fix incomeTypeId for sickness payment (#21151)
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.utils.ts
  libs/application/templates/unemployment-benefits/src/shared/constants.ts
Due: Application System API

fix(unemployment benefits): Fix incomeTypeId for sickness payment (release) (#21152)
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.utils.ts
  libs/application/templates/unemployment-benefits/src/shared/constants.ts
Due: Application System API

Fix value keys
  libs/application/templates/hh/courses/src/forms/mainForm/participantSection.ts
Due: Application System API

Remove console.log's
  libs/application/templates/hh/courses/src/forms/mainForm/participantSection.ts
Due: Application System API

Coderabbit suggestions
  libs/application/templates/hh/courses/src/forms/prerequisitesForm/index.ts
  libs/application/templates/hh/courses/src/lib/messages.ts
Due: Application System API

Fix auto fill
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
Due: none

Add estimatedIncome with sicknessBenefits
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.utils.ts
Due: Application System API

Committing to merge main
  libs/application/template-api-modules/src/lib/modules/templates/hms/registration-of-new-property-numbers/utils.ts
  libs/application/templates/hms/registration-of-new-property-numbers/src/fields/index.ts
  libs/application/templates/hms/registration-of-new-property-numbers/src/fields/realEstateSearch/index.tsx
  libs/application/templates/hms/registration-of-new-property-numbers/src/forms/mainForm/realEstateSection.ts
  libs/application/templates/hms/registration-of-new-property-numbers/src/graphql/queries.ts
  libs/application/templates/hms/registration-of-new-property-numbers/src/index.ts
  libs/application/templates/hms/registration-of-new-property-numbers/src/lib/messages/realEstateMessages.ts
Due: Application System API

feat(hh-courses-application): Iteration after feedback (#21150)
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/courses.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/hh/courses/types.ts
  libs/application/templates/hh/courses/src/dataProviders/index.ts
  libs/application/templates/hh/courses/src/forms/mainForm/index.ts
  libs/application/templates/hh/courses/src/forms/mainForm/participantSection.ts
  libs/application/templates/hh/courses/src/forms/mainForm/userInformation.ts
  libs/application/templates/hh/courses/src/forms/prerequisitesForm/index.ts
  libs/application/templates/hh/courses/src/graphql/index.ts
  libs/application/templates/hh/courses/src/lib/dataSchema.ts
  libs/application/templates/hh/courses/src/lib/messages.ts
  libs/application/templates/hh/courses/src/lib/template.ts
  libs/application/templates/hh/courses/src/utils/loadOptions.ts
Due: Application System API

chore(j-s): Spacing and input refactoring (#21092)
  apps/judicial-system/web/src/components/AppealCaseFilesOverview/AppealCaseFilesOverview.tsx
  apps/judicial-system/web/src/components/CaseTitleInfoAndTags/CaseTitleInfoAndTags.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Summary/Summary.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/components/CaseFilesOverview/CaseFilesOverview.tsx
  apps/judicial-system/web/src/routes/Defender/CaseOverview.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/Components/CaseDocuments/CaseDocuments.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/Components/ShareCase/ShareCase.tsx
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.tsx
Due: none

feat: add and replace footer logos
  apps/web/components/Organization/Wrapper/Themes/HeilbrigdisstofnunAusturlandsTheme/HeilbrigdisstofnunAusturlandsFooter.tsx
Due: none

Replace text buttons with icon buttons
  apps/judicial-system/web/src/components/IconButton/IconButton.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Processing/CivilClaimantFields.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Processing/Processing.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Processing/processing.strings.ts
Due: none

feat(new-primary-school): Add radio button and update text on nursery page (#21079)
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/supportSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/currentNurserySubSection.ts
  libs/application/templates/new-primary-school/src/lib/NewPrimarySchoolTemplate.ts
  libs/application/templates/new-primary-school/src/lib/dataSchema.ts
  libs/application/templates/new-primary-school/src/lib/messages/differentNeeds.ts
  libs/application/templates/new-primary-school/src/lib/messages/primarySchool.ts
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.ts
  libs/application/templates/new-primary-school/src/utils/overviewFields.ts
Due: Application System API

chore(starfatorg): Revert "chore(starfatorg): Revert "feat(starfatorg): Replace Orri API client with new Elfur client (#20730) (#20876)"
  apps/api/infra/api.ts
  apps/api/src/app/app.module.ts
  charts/islandis-services/api/values.dev.yaml
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/dto/icelandicGovernmentInstitutionVacancies.input.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/dto/icelandicGovernmentInstitutionVacancyById.input.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/icelandic-government-institution-vacancies.module.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/icelandic-government-institution-vacancies.resolver.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/models/enums.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/models/icelandicGovernmentInstitutionVacancy.model.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/utils.spec.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/utils.ts
  libs/clients/financial-management-authority/.eslintrc.json
  libs/clients/financial-management-authority/README.md
  libs/clients/financial-management-authority/jest.config.ts
  libs/clients/financial-management-authority/project.json
  libs/clients/financial-management-authority/src/clientConfig.json
  libs/clients/financial-management-authority/src/index.ts
  libs/clients/financial-management-authority/src/lib/apiConfig.ts
  libs/clients/financial-management-authority/src/lib/apiProvider.ts
  libs/clients/financial-management-authority/src/lib/financialManagementAuthorityClient.config.ts
  libs/clients/financial-management-authority/src/lib/financialManagementAuthorityClient.module.ts
  libs/clients/financial-management-authority/tsconfig.json
  libs/clients/financial-management-authority/tsconfig.lib.json
  libs/clients/financial-management-authority/tsconfig.spec.json
  libs/clients/icelandic-government-institution-vacancies/README.md
  libs/clients/icelandic-government-institution-vacancies/project.json
  libs/clients/icelandic-government-institution-vacancies/src/clientConfig.yaml
  libs/clients/icelandic-government-institution-vacancies/src/index.ts
  libs/clients/icelandic-government-institution-vacancies/src/lib/apiConfig.ts
  libs/clients/icelandic-government-institution-vacancies/src/lib/icelandicGovernmentInstitutionVacanciesClient.config.ts
  libs/cms/src/lib/cms.elasticsearch.service.ts
  libs/cms/src/lib/models/vacancy.model.ts
  tsconfig.base.json
Due: Portal GraphQL

change to v3 for national registry
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/AdditionalSupportForTheElderlyTemplate.ts
  libs/application/templates/social-insurance-administration/death-benefits/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/death-benefits/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/death-benefits/src/lib/DeathBenefitsTemplate.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/HouseholdSupplementTemplate.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/MedicalAndRehabilitationPaymentsTemplate.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/OldAgePensionTemplate.ts
Due: Application System API

translations and client timeout
  libs/application/templates/car-rental-fee-category/src/forms/completedForm/index.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/carsChangesCount.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/categorySelection.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/endOfMonthCheck.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/index.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/multiUpload.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/overviewStatistics.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/singleOrMultiSelection.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/tableViewSelection.ts
  libs/application/templates/car-rental-fee-category/src/forms/mainForm/verify.ts
  libs/application/templates/car-rental-fee-category/src/forms/notAllowed/index.ts
  libs/application/templates/car-rental-fee-category/src/forms/prerequisitesForm/index.ts
  libs/application/templates/car-rental-fee-category/src/lib/messages.ts
  libs/clients/rsk/rental-day-rate/src/lib/apiConfiguration.ts
Due: Application System API

Integrate feature flags and enhance questionnaire actions
  apps/native/app/src/contexts/feature-flag-provider.tsx
  apps/native/app/src/screens/health/health-overview.tsx
  apps/native/app/src/screens/health/questionnaires/questionnaire-detail.tsx
  apps/native/app/src/screens/health/questionnaires/questionnaires.tsx
Due: none

feat(form-system): add InfoButton component with notifications functionality (#21148)
  libs/portals/admin/form-system/src/components/FormsLayout/FormsLayout.tsx
  libs/portals/form-system/graphql/src/lib/queries/getQNA.ts
  libs/portals/form-system/graphql/src/lib/queries/index.ts
  libs/portals/form-system/ui-components/src/components/InfoButton/InfoButton.css.ts
  libs/portals/form-system/ui-components/src/components/InfoButton/InfoButton.tsx
  libs/portals/form-system/ui-components/src/components/InfoButton/components/CloseButton.css.ts
  libs/portals/form-system/ui-components/src/components/InfoButton/components/CloseButton.tsx
  libs/portals/form-system/ui-components/src/components/InfoButton/components/Notification.tsx
  libs/portals/form-system/ui-components/src/components/index.ts
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: none

Add health services to health-directorate service
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
Due: Portal GraphQL

feat(new-primary-school): Add defaultValue to relatives page and make optional (#21135)
  libs/application/templates/new-primary-school/src/fields/RelativesTableRepeater/index.tsx
  libs/application/templates/new-primary-school/src/lib/dataSchema.ts
  libs/application/templates/new-primary-school/src/lib/messages/childrenNGuardians.ts
  libs/application/templates/new-primary-school/src/lib/messages/error.ts
  libs/application/templates/new-primary-school/src/utils/overviewFields.ts
Due: Application System API

Fix lint
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
Due: none

fix state when decrementing
  apps/form-system/web/src/reducers/applicationReducer.ts
  apps/form-system/web/src/reducers/reducerUtils.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
Due: none

chore(starfatorg): normalize padding
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/utils.ts
Due: Portal GraphQL

fix
  apps/form-system/web/src/reducers/reducerUtils.ts
Due: none

fix(form-system): update completed array (#21138)
  apps/form-system/web/src/components/Footer/Footer.tsx
  apps/form-system/web/src/reducers/applicationReducer.ts
  apps/form-system/web/src/reducers/reducerUtils.ts
  apps/form-system/web/src/routes/Applications.tsx
  apps/services/form-system/src/app/modules/applications/applications.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
  apps/services/form-system/src/app/modules/applications/models/dto/createApplication.dto.ts
  apps/services/form-system/src/app/modules/applications/models/dto/submitScreen.dto.ts
  apps/services/form-system/src/app/modules/sections/models/dto/section.dto.ts
  libs/api/domains/form-system/src/dto/application.input.ts
  libs/api/domains/form-system/src/lib/applications/applications.resolver.ts
  libs/api/domains/form-system/src/lib/applications/applications.service.ts
  libs/portals/form-system/graphql/src/lib/mutations/saveScreen.ts
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: Portal GraphQL

Improves vehicle registration number autofill, error message clearing and logic around traffic violation fields
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
  libs/judicial-system/types/src/lib/indictmentCount.ts
Due: none

Fixes for sicknessBenefitPayments
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.utils.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/payoutSection/otherBenefits.ts
  libs/application/templates/unemployment-benefits/src/shared/constants.ts
  libs/application/templates/unemployment-benefits/src/utils/overviewAnswers/otherPaymentsAnswers.ts
Due: Application System API

Refactors code
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
Due: none

Refactors code
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
Due: none

Refactor
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/Advocates.css.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/Advocates.strings.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/SelectCivilClaimantAdvocate.tsx
Due: none

Remove unused CF string
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/Advocates.strings.ts
Due: none

remove filestorage config from module
  apps/services/form-system/src/app/modules/services/prune/prune.module.ts
Due: none

fix: logos
  apps/web/components/Organization/Wrapper/Themes/HeilbrigdisstofnunAusturlandsTheme/HeilbrigdisstofnunAusturlandsFooter.css.ts
  apps/web/components/Organization/Wrapper/Themes/HeilbrigdisstofnunAusturlandsTheme/HeilbrigdisstofnunAusturlandsFooter.tsx
Due: none

[TS-1160] If no preferred school is found show dropdown list of schools
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.utils.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/counsellingRegardingApplicationSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/newSchoolSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/reasonForApplicationSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/schoolSubSection.ts
  libs/application/templates/new-primary-school/src/lib/messages/differentNeeds.ts
  libs/application/templates/new-primary-school/src/utils/conditionUtils.ts
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.spec.ts
  libs/application/templates/new-primary-school/src/utils/overviewFields.ts
  libs/clients/mms/frigg/src/lib/friggClient.service.ts
Due: Application System API

feat(j-s): Police Defendant (#21126)
  apps/judicial-system/backend/migrations/20260109164854-update-case.js
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/create.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverAppealToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverCaseFilesRecordToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverCaseToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverIndictmentCaseToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverIndictmentToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverSignedCourtRecordToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverSignedRulingToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/repository/models/case.model.ts
  apps/judicial-system/web/src/routes/Court/components/ReceptionAndAssignment/ReceptionAndAssignment.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Defendant/DefendantList/DefendantList.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Defendant/Defendant.tsx
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
