Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Non-abbreviated parameter in SSM parameter store
  infra/migrations/2024-02-22-ssm-rename.sh
Due: none

Add dd trace debug flag.
  apps/services/auth/ids-api/infra/identity-server.ts
Due: none

fix(auth): Speed up delegation queries (#13821)
  libs/auth-api-lib/src/lib/delegations/delegations-outgoing.service.ts
  libs/auth-api-lib/src/lib/resources/delegation-resources.service.ts
Due: none

Trigger.
  apps/services/auth/ids-api/infra/identity-server.ts
Due: none

chore: charts update dirty files
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

chore(ids): Revert adding dd runtime metrics env. (#13864)
  apps/services/auth/ids-api/infra/identity-server.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

fix(auth): Speed up delegation queries HOTFIX (#13866)
  libs/auth-api-lib/src/lib/delegations/delegations-outgoing.service.ts
  libs/auth-api-lib/src/lib/resources/delegation-resources.service.ts
Due: none

Update libs/application/ui-fields/src/lib/FindVehicleFormField/FindVehicleFormField.tsx
  libs/application/ui-fields/src/lib/FindVehicleFormField/FindVehicleFormField.tsx
Due: none

feat(contentful-role-permissions): Code refactor (#13865)
  apps/tools/contentful-role-permissions/.eslintrc.json
  apps/tools/contentful-role-permissions/components/RoleCard/RoleCard.css.ts
  apps/tools/contentful-role-permissions/components/RoleCard/RoleCard.tsx
  apps/tools/contentful-role-permissions/components/RoleCard/index.ts
  apps/tools/contentful-role-permissions/hooks/useCanReadAllAssetsState.ts
  apps/tools/contentful-role-permissions/hooks/useCheckboxState.ts
  apps/tools/contentful-role-permissions/pages/_app.tsx
  apps/tools/contentful-role-permissions/pages/api/update-role-permissions.ts
  apps/tools/contentful-role-permissions/pages/index.tsx
  apps/tools/contentful-role-permissions/screens/Home.css.ts
  apps/tools/contentful-role-permissions/screens/Home.tsx
  apps/tools/contentful-role-permissions/styles/index.css.ts
  apps/tools/contentful-role-permissions/utils/index.ts
Due: none

fix(auth-api-lib): add primary key to national_id column in delegation_index_meta table
  libs/auth-api-lib/migrations/20240222090328-add-primary-key-to-delgation-index-meta-table.js
Due: none

fix(ip): resolve type (#13860)
  libs/api/domains/intellectual-properties/src/lib/models/intellectualProperty.model.ts
Due: Portal GraphQL

feat(applications): TableRepeater Improvements (#13646)
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterFormField.stories.mdx
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterFormField.tsx
Due: Application System API

Removing organization query from pages since the object is not being used. Adding filter tags. Extracting duplicate code to a function
  apps/web/screens/UniversitySearch/LandingPage.tsx
  apps/web/screens/UniversitySearch/UniversitySearch.tsx
  apps/web/screens/UniversitySearch/UniversitySearchDetails.tsx
Due: none

add comment page and comment to review page
  libs/application/templates/parental-leave/src/fields/Review/Review.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/Comment.tsx
  libs/application/templates/parental-leave/src/forms/ParentalLeaveForm.ts
  libs/application/templates/parental-leave/src/lib/messages.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.ts
Due: Application System API

tablerepeater defaultvalue
  libs/application/templates/grindavik-housing-buyout/src/forms/GrindavikHousingBuyoutForm.ts
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterFormField.tsx
Due: Application System API

Update default permissions
  apps/tools/contentful-role-permissions/constants/index.ts
Due: none

hidden input and watched hidden input
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/reference-template/src/forms/ExampleForm.ts
  libs/application/templates/reference-template/src/lib/dataSchema.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/HiddenInputFormField/HiddenInputFormField.tsx
Due: Application System API

fix(signature-collection): adding candidate id to admin
  libs/portals/admin/signature-collection/src/screens/AllLists/index.tsx
  libs/portals/admin/signature-collection/src/screens/List/components/extendDeadline/index.tsx
  libs/portals/admin/signature-collection/src/screens/List/components/listInfoAlert/index.tsx
  libs/portals/admin/signature-collection/src/screens/List/components/signees.tsx
  libs/portals/admin/signature-collection/src/screens/List/index.tsx
Due: none

fix(petitions): pdf downloads empty signers (#13838)
  libs/service-portal/petitions/src/screens/PetitionsTable/ExportPetition/index.tsx
  libs/service-portal/petitions/src/screens/ViewOwnedList/index.tsx
  libs/service-portal/petitions/src/screens/hooks.ts
Due: none

Added logger to get more details of what is happening
  apps/skilavottord/ws/src/app/modules/recyclingRequest/recyclingRequestAppSys.resolver.ts
  apps/skilavottord/ws/src/app/modules/samgongustofa/samgongustofa.service.ts
  apps/skilavottord/ws/src/app/modules/vehicle/vehicleAppSys.resolver.ts
  apps/skilavottord/ws/src/app/modules/vehicleOwner/vehicleOwnerAppSys.resolver.ts
Due: none

fix(signature-collection): adding candidate id to admin (#13869)
  libs/portals/admin/signature-collection/src/screens/AllLists/index.tsx
  libs/portals/admin/signature-collection/src/screens/List/components/extendDeadline/index.tsx
  libs/portals/admin/signature-collection/src/screens/List/components/listInfoAlert/index.tsx
  libs/portals/admin/signature-collection/src/screens/List/components/signees.tsx
  libs/portals/admin/signature-collection/src/screens/List/index.tsx
Due: none

Removed commented code
  apps/skilavottord/ws/src/app/modules/samgongustofa/samgongustofa.service.ts
Due: none

fix(j-s): Stop sending email to judge when case is discontinued
  apps/judicial-system/backend/src/app/modules/notification/notification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealCompletedNotifications.spec.ts
Due: none

table repeater static data
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/grindavik-housing-buyout/src/forms/GrindavikHousingBuyoutForm.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterFormField.tsx
Due: Application System API

fix(signature-collections): collections and petitions (#13872)
  libs/portals/admin/signature-collection/src/screens/AllLists/index.tsx
  libs/portals/admin/signature-collection/src/screens/List/components/extendDeadline/index.tsx
  libs/portals/admin/signature-collection/src/screens/List/components/listInfoAlert/index.tsx
  libs/portals/admin/signature-collection/src/screens/List/components/signees.tsx
  libs/portals/admin/signature-collection/src/screens/List/index.tsx
  libs/service-portal/petitions/src/screens/PetitionsTable/ExportPetition/index.tsx
  libs/service-portal/petitions/src/screens/ViewOwnedList/index.tsx
  libs/service-portal/petitions/src/screens/hooks.ts
Due: none

fix: attempt to enforce usage on read replicas
  apps/application-system/api/src/app/sequelizeConfig.service.ts
  libs/auth-api-lib/src/lib/core/sequelizeConfig.service.ts
  libs/nest/sequelize/src/index.ts
  libs/nest/sequelize/src/lib/config.schema.ts
  libs/nest/sequelize/src/lib/sequelize.ts
  libs/nest/sequelize/src/lib/utils.ts
Due: Application System API

fix(application-ctao): Validation and filename bug fix (#13813)
  libs/application/template-api-modules/src/lib/modules/templates/complaints-to-althingi-ombudsman/complaints-to-althingi-ombudsman.service.ts
  libs/application/templates/complaints-to-althingi-ombudsman/src/fields/ComplaintOverview/ComplaintOverview.tsx
  libs/application/templates/complaints-to-althingi-ombudsman/src/lib/dataSchema.ts
Due: Application System API

Add some input validation
  apps/web/screens/Organization/SocialInsuranceAdministration/PensionCalculator.tsx
  apps/web/screens/Organization/SocialInsuranceAdministration/translationStrings.ts
Due: none

fix(application-ctao): Validation and filename bug fix (#13813) (#13874)
  libs/application/template-api-modules/src/lib/modules/templates/complaints-to-althingi-ombudsman/complaints-to-althingi-ombudsman.service.ts
  libs/application/templates/complaints-to-althingi-ombudsman/src/fields/ComplaintOverview/ComplaintOverview.tsx
  libs/application/templates/complaints-to-althingi-ombudsman/src/lib/dataSchema.ts
Due: Application System API

Static table field
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/templates/grindavik-housing-buyout/src/forms/GrindavikHousingBuyoutForm.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/StaticTableFormField/StaticTableFormField.tsx
  libs/application/ui-fields/src/lib/index.ts
Due: Application System API

Remove duplicate code and fixing formatting of mode of delivery
  apps/web/screens/UniversitySearch/LandingPage.tsx
  apps/web/screens/UniversitySearch/UniversitySearch.tsx
Due: none

Updating search ordering code
  apps/web/screens/UniversitySearch/UniversitySearch.tsx
Due: none

Adding english filtering
  apps/web/components/ListViewCard/ListViewCard.tsx
  apps/web/screens/UniversitySearch/UniversitySearch.tsx
  apps/web/utils/useUniversitySearch.tsx
Due: none

feat: works!
  apps/api/src/app/app.module.ts
  libs/api/domains/occupational-licenses-v2/src/lib/models/educationLicense.model.ts
  libs/api/domains/occupational-licenses-v2/src/lib/models/license.model.ts
  libs/api/domains/occupational-licenses-v2/src/lib/models/licenseCollectionResponse.model.ts
  libs/api/domains/occupational-licenses-v2/src/lib/occupationalLicensesV2.resolver.ts
  libs/api/domains/occupational-licenses-v2/src/lib/occupationalLicensesV2.service.ts
  libs/api/domains/occupational-licenses-v2/src/lib/utils.ts
  libs/clients/district-commissioners-licenses/src/index.ts
  libs/clients/district-commissioners-licenses/src/lib/districtCommissionersLicenses.module.ts
  libs/clients/district-commissioners-licenses/src/lib/districtCommissionersLicenses.service.ts
  libs/clients/district-commissioners-licenses/src/lib/districtCommissionersLicenses.types.ts
  libs/clients/district-commissioners-licenses/src/lib/dto/districtCommissionersLicenseDto.ts
  libs/clients/district-commissioners-licenses/src/lib/util.ts
  libs/service-portal/occupational-licenses/src/lib/messages.ts
  libs/service-portal/occupational-licenses/src/lib/navigation.ts
  libs/service-portal/occupational-licenses/src/lib/paths.ts
  libs/service-portal/occupational-licenses/src/screens/OccupationalLicensesDetail/OccupationalLicensesDetail.graphql
  libs/service-portal/occupational-licenses/src/screens/OccupationalLicensesDetail/OccupationalLicensesDetail.tsx
  libs/service-portal/occupational-licenses/src/screens/OccupationalLicensesOverview/OccupationalLicensesOverview.graphql
  libs/service-portal/occupational-licenses/src/screens/OccupationalLicensesOverview/OccupationalLicensesOverview.tsx
Due: Portal GraphQL

fix: imports
  libs/service-portal/education-student-assessment/src/screens/EducationStudentAssessment/components/StudentAssessmentTable/StudentAssessmentTable.tsx
Due: none
