Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

feat(native-app): fix sharing for android (#16446)
  apps/native/app/ios/Podfile.lock
  apps/native/app/package.json
  apps/native/app/src/screens/document-detail/utils/share-file.tsx
  yarn.lock
Due: none

fix(signature-collection): hide view list while active
  libs/portals/admin/signature-collection/src/screens-parliamentary/Constituency/index.tsx
Due: none

overview company
  libs/application/templates/aosh/work-accident-notification/src/fields/Overview/index.tsx
  libs/application/templates/aosh/work-accident-notification/src/forms/WorkAccidentNotificationForm/InformationSection/companySection.ts
  libs/application/templates/aosh/work-accident-notification/src/forms/WorkAccidentNotificationForm/index.ts
  libs/application/templates/aosh/work-accident-notification/src/lib/dataSchema.ts
  libs/application/templates/aosh/work-accident-notification/src/utils/getCompanyInformationForOverview.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/portals/admin/signature-collection/src/screens-parliamentary/Constituency/index.tsx
Due: none

Search now working properly.
  apps/web/components/OfficialJournalOfIceland/OJOIUtils.ts
  apps/web/screens/OfficialJournalOfIceland/OJOIHome.tsx
  apps/web/screens/OfficialJournalOfIceland/OJOISearch.tsx
  apps/web/screens/OfficialJournalOfIceland/hooks/index.ts
  apps/web/screens/OfficialJournalOfIceland/hooks/useAdverts.ts
  apps/web/screens/OfficialJournalOfIceland/lib/advert-params.mapper.ts
Due: none

Account for null value and making sure incomeType doesn't change when start editing
  libs/application/templates/social-insurance-administration/income-plan/src/forms/IncomePlanForm.ts
  libs/shared/form-fields/src/lib/SelectController/SelectController.tsx
Due: Application System API

Fixed PR comments.
  apps/web/screens/OfficialJournalOfIceland/OJOISearch.tsx
  apps/web/screens/OfficialJournalOfIceland/hooks/useAdverts.ts
  libs/application/templates/official-journal-of-iceland/src/components/htmlEditor/HTMLEditor.css.ts
  libs/application/templates/official-journal-of-iceland/src/hooks/useComments.ts
Due: Application System API

console
  libs/api/domains/documents/src/lib/documentV2.service.ts
Due: Portal GraphQL

controller service basic test
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsement-list.controller.spec.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsement-list.service.spec.ts
Due: none

Add ref to infra for api
  apps/services/bff/infra/admin-portal.infra.ts
  apps/services/bff/infra/utils/createPortalEnv.ts
Due: none

Adds migration for inserting default scopes to existing clients
  libs/auth-api-lib/migrations/20241018150418-add-default-scopes-to-client-allowed-scope-table.js
Due: none

chore: nx format:write update dirty files
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsement-list.controller.spec.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsement-list.service.spec.ts
Due: none

chore: make fileValueLine shared
  libs/application/templates/inao/financial-statement-cemetery/src/fields/CemeteryOverview/FileValueLine.tsx
  libs/application/templates/inao/financial-statement-cemetery/src/fields/CemeteryOverview/index.tsx
  libs/application/templates/inao/financial-statement-individual-election/src/fields/Overview/FileValueLine.tsx
  libs/application/templates/inao/financial-statement-individual-election/src/fields/Overview/index.tsx
  libs/application/templates/inao/financial-statement-political-party/src/fields/Overview/Overview.tsx
  libs/application/templates/inao/financial-statement-political-party/src/fields/PartyOverview/PartyOverview.tsx
  libs/application/templates/inao/shared/components/FileValueLine.tsx
Due: Application System API

Adds phone, address and email as default scopes when creating clients
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
Due: none

Hide laws broken
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Shared/IndictmentOverview/IndictmentOverview.tsx
Due: none

chore: make totals shared
  libs/application/templates/inao/financial-statement-cemetery/src/fields/CemeteryEquities/index.tsx
  libs/application/templates/inao/financial-statement-cemetery/src/fields/CemeteryOperation/index.tsx
  libs/application/templates/inao/financial-statement-cemetery/src/fields/KeyNumbersCapital/index.tsx
  libs/application/templates/inao/financial-statement-individual-election/src/fields/ElectionEquities/index.tsx
  libs/application/templates/inao/financial-statement-individual-election/src/fields/IndividualElectionOperatingIncome/Total.tsx
  libs/application/templates/inao/financial-statement-individual-election/src/fields/IndividualElectionOperatingIncome/index.tsx
  libs/application/templates/inao/financial-statement-individual-election/src/fields/KeyNumbersCapital/index.tsx
  libs/application/templates/inao/financial-statement-political-party/src/components/Total.tsx
  libs/application/templates/inao/financial-statement-political-party/src/fields/ElectionEquities/ElectionEquities.tsx
  libs/application/templates/inao/financial-statement-political-party/src/fields/KeyNumbersCapital/KeyNumbersCapital.tsx
  libs/application/templates/inao/financial-statement-political-party/src/fields/PartyOperatingIncome/PartyOperatingIncome.tsx
  libs/application/templates/inao/shared/components/Total.tsx
Due: Application System API

Add step type and fix errors
  apps/web/components/Stepper/Stepper/Stepper.tsx
  apps/web/components/Stepper/StepperHelper/StepperHelper.tsx
  apps/web/components/Stepper/utils.ts
Due: none

feat(j-s): Allow judge to confirm defender and civil claimant choices
  apps/judicial-system/api/src/app/modules/defendant/dto/updateCivilClaimant.input.ts
  apps/judicial-system/api/src/app/modules/defendant/dto/updateDefendant.input.ts
  apps/judicial-system/api/src/app/modules/defendant/models/civilClaimant.model.ts
  apps/judicial-system/api/src/app/modules/defendant/models/defendant.model.ts
  apps/judicial-system/backend/migrations/20241015110312-update-defendant.js
  apps/judicial-system/backend/migrations/20241018105400-update-civil-claimant.js
  apps/judicial-system/backend/src/app/modules/defendant/defendant.service.ts
  apps/judicial-system/backend/src/app/modules/defendant/dto/createDefendant.dto.ts
  apps/judicial-system/backend/src/app/modules/defendant/dto/updateCivilClaimant.dto.ts
  apps/judicial-system/backend/src/app/modules/defendant/dto/updateDefendant.dto.ts
  apps/judicial-system/backend/src/app/modules/defendant/models/civilClaimant.model.ts
  apps/judicial-system/backend/src/app/modules/defendant/models/defendant.model.ts
  apps/judicial-system/backend/src/app/modules/subpoena/dto/updateSubpoena.dto.ts
  apps/judicial-system/backend/src/app/modules/subpoena/subpoena.service.ts
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/case.service.ts
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/Advocates.strings.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/SelectCivilClaimantAdvocate.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/SelectDefender.tsx
  apps/judicial-system/web/src/utils/validate.ts
  apps/judicial-system/xrd-api/src/app/app.service.ts
Due: none

chore: make CapitalNumbersOverview shared
  libs/application/templates/inao/financial-statement-cemetery/src/fields/CemeteryOverview/CapitalNumbersOverview.tsx
  libs/application/templates/inao/financial-statement-cemetery/src/fields/CemeteryOverview/index.tsx
  libs/application/templates/inao/financial-statement-cemetery/src/utils/helpers.ts
  libs/application/templates/inao/financial-statement-individual-election/src/fields/Overview/AssetDebtEquityOverview.tsx
  libs/application/templates/inao/financial-statement-individual-election/src/fields/Overview/CapitalNumbersOverview.tsx
  libs/application/templates/inao/financial-statement-individual-election/src/fields/Overview/index.tsx
  libs/application/templates/inao/financial-statement-individual-election/src/lib/utils/helpers.ts
  libs/application/templates/inao/financial-statement-political-party/src/components/AssetDebtEquityOverview.tsx
  libs/application/templates/inao/financial-statement-political-party/src/fields/PartyOverview/PartyOverview.tsx
  libs/application/templates/inao/financial-statement-political-party/src/utils/helpers.ts
  libs/application/templates/inao/shared/components/CapitalNumbersOverview.tsx
  libs/application/templates/inao/shared/utils/formatCurrency.ts
Due: Application System API

Move system test ownership to relevant teams
  .github/CODEOWNERS
Due: none

fix(j-s): Indictment Case Deletion (#16438)
  apps/judicial-system/web/messages/InvestigationCases/Prosecutor/caseFiles.ts
  apps/judicial-system/web/messages/RestrictionCases/Prosecutor/caseFiles.ts
  apps/judicial-system/web/messages/index.ts
  apps/judicial-system/web/src/routes/Prosecutor/components/CasesAwaitingConfirmationTable/CasesAwaitingConfirmationTable.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/ActiveCases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/Cases.tsx
Due: none

Use sed instead of grep -P
  scripts/run-proxies.sh
Due: none

No -P
  .envrc.kube
Due: none

chore: nx format:write update dirty files
  libs/auth-api-lib/migrations/20241018150418-add-default-scopes-to-client-allowed-scope-table.js
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
Due: none

Timed .envrc
  .envrc
Due: none

fix(my-pages): add locale param to oragn donation query (#16465)
  libs/service-portal/health/src/screens/OrganDonation/OrganDonation.tsx
  libs/service-portal/health/src/screens/OrganDonationRegistration/RegistrationForm.tsx
Due: none

Update SelectDefender.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/SelectDefender.tsx
Due: none

cleanup
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/Advocates.strings.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/SelectCivilClaimantAdvocate.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/SelectDefender.tsx
Due: none

fix(j-s): Cleanup
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/Advocates.strings.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/SelectDefender.tsx
Due: none

Sends notifications when case files are added to an indictment case
  apps/judicial-system/backend/src/app/messages/notifications.ts
  apps/judicial-system/backend/src/app/modules/notification/internalNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/notification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealStatementNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealToCourtOfAppealsNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendCaseFilesUpdatedNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/notificationController/sendCaseFilesUpdatedNotifications.spec.ts
Due: none

chore: nx format:write update dirty files
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/Advocates.strings.ts
Due: none

fix(citizenship): indexing error on child support documents (#16469)
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/ChildrenSupportingDocuments/ChildrenOtherDocumentsSubSection.ts
  libs/application/templates/directorate-of-immigration/citizenship/src/forms/CitizenshipForm/ChildrenSupportingDocuments/ChildrenPassportSubSection.ts
Due: Application System API

Reverts debugging
  apps/judicial-system/web/src/routes/Shared/AddFiles/AddFiles.tsx
Due: none

feat(social-insurance-administration): Add e2e tests (#16397)
  apps/system-e2e/src/tests/islandis/application-system/acceptance/mocks/nationalRegistry.mock.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/mocks/parentalLeave.mock.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/mocks/socialInsuranceAdministration.mock.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/setup-xroad.mocks.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/social-insurance-administration/additional-support-for-the-elderly.spec.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/social-insurance-administration/household-supplement.spec.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/social-insurance-administration/old-age-pension.spec.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/social-insurance-administration/pension-supplement.spec.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/social-insurance-administration/shared.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/forms/AdditionalSupportForTheElderlyForm.ts
  libs/application/templates/social-insurance-administration/additional-support-for-the-elderly/src/lib/additionalSupportForTheElderlyUtils.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/forms/HouseholdSupplementForm.ts
  libs/application/templates/social-insurance-administration/household-supplement/src/lib/householdSupplementUtils.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/lib/oldAgePensionUtils.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/forms/PensionSupplementForm.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/index.ts
  libs/application/templates/social-insurance-administration/pension-supplement/src/lib/pensionSupplementUtils.ts
Due: Application System API

fix: checkbox width bug (#16467)
  libs/application/ui-fields/src/lib/CheckboxFormField/CheckboxFormField.tsx
Due: none

Fixes naming
  apps/judicial-system/backend/src/app/modules/notification/internalNotification.service.ts
Due: none

chore(j-s): Send notifications when subpoena changes (#16329)
  apps/judicial-system/backend/migrations/20241015105921-update-notification.js
  apps/judicial-system/backend/src/app/modules/notification/baseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/dto/subpoenaNotification.dto.ts
  apps/judicial-system/backend/src/app/modules/notification/institutionNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/internalNotification.controller.ts
  apps/judicial-system/backend/src/app/modules/notification/internalNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/notification.module.ts
  apps/judicial-system/backend/src/app/modules/notification/subpoenaNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/subpoenaNotification.strings.ts
  apps/judicial-system/backend/src/app/modules/subpoena/limitedAccessSubpoena.controller.ts
  apps/judicial-system/backend/src/app/modules/subpoena/subpoena.module.ts
  apps/judicial-system/backend/src/app/modules/subpoena/subpoena.service.ts
  apps/judicial-system/backend/src/app/modules/subpoena/test/createTestingSubpoenaModule.ts
  libs/judicial-system/message/src/lib/message.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/defendant.ts
  libs/judicial-system/types/src/lib/notification.ts
Due: none

fix(web): OJOI web search (#16475)
  apps/web/components/OfficialJournalOfIceland/OJOIUtils.ts
  apps/web/screens/OfficialJournalOfIceland/OJOIHome.tsx
  apps/web/screens/OfficialJournalOfIceland/OJOISearch.tsx
  apps/web/screens/OfficialJournalOfIceland/hooks/index.ts
  apps/web/screens/OfficialJournalOfIceland/hooks/useAdverts.ts
  apps/web/screens/OfficialJournalOfIceland/lib/advert-params.mapper.ts
  libs/api/domains/official-journal-of-iceland-application/src/lib/mappers.ts
  libs/api/domains/official-journal-of-iceland-application/src/lib/ojoiApplication.resolver.ts
  libs/api/domains/official-journal-of-iceland-application/src/lib/ojoiApplication.service.ts
  libs/api/domains/official-journal-of-iceland-application/src/models/getComments.input.ts
  libs/api/domains/official-journal-of-iceland-application/src/models/getComments.response.ts
  libs/api/domains/official-journal-of-iceland-application/src/models/postComment.input.ts
  libs/application/templates/official-journal-of-iceland/src/components/comments/Comment.tsx
  libs/application/templates/official-journal-of-iceland/src/components/comments/CommentList.tsx
  libs/application/templates/official-journal-of-iceland/src/components/htmlEditor/HTMLEditor.css.ts
  libs/application/templates/official-journal-of-iceland/src/components/input/OJOIHtmlController.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/Comments.tsx
  libs/application/templates/official-journal-of-iceland/src/graphql/queries.ts
  libs/application/templates/official-journal-of-iceland/src/hooks/useComments.ts
  libs/application/templates/official-journal-of-iceland/src/hooks/useTypes.ts
  libs/application/templates/official-journal-of-iceland/src/lib/utils.ts
  libs/application/templates/official-journal-of-iceland/src/screens/AdvertScreen.tsx
  libs/clients/official-journal-of-iceland/application/src/clientConfig.json
Due: Portal GraphQL, Application System API

Fixes naming
  apps/judicial-system/backend/src/app/messages/notifications.ts
  apps/judicial-system/backend/src/app/modules/notification/internalNotification.service.ts
Due: none

feat(scripts): Auto-set cluster from aws login information (#16291)
  .envrc
  .envrc.kube
  .envrc.podman
  .gitignore
  scripts/run-proxies.sh
Due: none
