Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Refactor
  apps/judicial-system/web/src/components/InfoCard/useInfoCardItems.tsx
Due: none

refactor(messages): Reorganize message structure for improved readability
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: none

Add support for showing split info on info card
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/components/InfoCard/InfoCardActiveIndictment.tsx
  apps/judicial-system/web/src/components/InfoCard/useInfoCardItems.tsx
Due: none

Refactor
  apps/judicial-system/web/src/utils/styles/recipes.css.ts
Due: none

chore(starfatorg): Revert "chore(starfatorg): Revert "feat(starfatorg): Replace Orri API client with new Elfur client (#20730) (#20876)"
  apps/api/infra/api.ts
  apps/api/src/app/app.module.ts
  charts/islandis-services/api/values.dev.yaml
  charts/islandis-services/api/values.prod.yaml
  charts/islandis-services/api/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/dto/icelandicGovernmentInstitutionVacancies.input.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/dto/icelandicGovernmentInstitutionVacancyById.input.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/icelandic-government-institution-vacancies.module.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/icelandic-government-institution-vacancies.resolver.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/models/enums.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/models/icelandicGovernmentInstitutionVacancy.model.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/utils.spec.ts
  libs/api/domains/icelandic-government-institution-vacancies/src/lib/utils.ts
  libs/clients/financial-management-authority/.eslintrc.json
  libs/clients/financial-management-authority/README.md
  libs/clients/financial-management-authority/jest.config.ts
  libs/clients/financial-management-authority/project.json
  libs/clients/financial-management-authority/src/clientConfig.json
  libs/clients/financial-management-authority/src/index.ts
  libs/clients/financial-management-authority/src/lib/apiConfig.ts
  libs/clients/financial-management-authority/src/lib/apiProvider.ts
  libs/clients/financial-management-authority/src/lib/financialManagementAuthorityClient.config.ts
  libs/clients/financial-management-authority/src/lib/financialManagementAuthorityClient.module.ts
  libs/clients/financial-management-authority/tsconfig.json
  libs/clients/financial-management-authority/tsconfig.lib.json
  libs/clients/financial-management-authority/tsconfig.spec.json
  libs/clients/icelandic-government-institution-vacancies/README.md
  libs/clients/icelandic-government-institution-vacancies/project.json
  libs/clients/icelandic-government-institution-vacancies/src/clientConfig.yaml
  libs/clients/icelandic-government-institution-vacancies/src/index.ts
  libs/clients/icelandic-government-institution-vacancies/src/lib/apiConfig.ts
  libs/clients/icelandic-government-institution-vacancies/src/lib/icelandicGovernmentInstitutionVacanciesClient.config.ts
  libs/cms/src/lib/cms.elasticsearch.service.ts
  libs/cms/src/lib/models/vacancy.model.ts
  tsconfig.base.json
Due: Portal GraphQL

fix(j-s): Fix undefined user (#20816)
  apps/judicial-system/backend/src/app/modules/case/interceptors/case.interceptor.ts
Due: none

fix(j-s): Penalties string handling moved to backend (#20755)
  apps/judicial-system/api/src/app/modules/case/case.resolver.ts
  apps/judicial-system/api/src/app/modules/case/models/case.model.ts
  apps/judicial-system/backend/src/app/modules/case/interceptors/case.interceptor.ts
Due: none

fix(j-s): Hide appeal deadline if verdict can't be appealed (#20812)
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/models/verdict.response.ts
Due: none

feat(form-system): Form system form lifecycle (#20814)
  apps/form-system/web/src/routes/Application.tsx
  apps/form-system/web/src/routes/Applications.tsx
  apps/services/form-system/src/app/modules/applications/applications.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
  apps/services/form-system/src/app/modules/forms/forms.controller.ts
  apps/services/form-system/src/app/modules/forms/forms.service.ts
  apps/services/form-system/src/app/modules/forms/models/form.model.ts
  libs/api/domains/form-system/src/dto/application.input.ts
  libs/api/domains/form-system/src/dto/form.input.ts
  libs/api/domains/form-system/src/lib/applications/applications.service.ts
  libs/api/domains/form-system/src/lib/forms/forms.resolver.ts
  libs/api/domains/form-system/src/lib/forms/forms.service.ts
  libs/form-system/src/dto/updateFormStatus.dto.ts
  libs/form-system/src/index.ts
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableRow.tsx
  libs/portals/admin/form-system/src/components/FormsLayout/components/FormsHeader.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/BaseSettings/BaseSettings.tsx
  libs/portals/admin/form-system/src/components/StatusTag/StatusTag.tsx
  libs/portals/admin/form-system/src/lib/utils/updateFormFn.ts
  libs/portals/form-system/graphql/src/lib/mutations/copyForm.ts
  libs/portals/form-system/graphql/src/lib/mutations/deleteForm.ts
  libs/portals/form-system/graphql/src/lib/mutations/index.ts
  libs/portals/form-system/graphql/src/lib/mutations/publishForm.ts
  libs/portals/form-system/graphql/src/lib/mutations/updateFormStatus.ts
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: Portal GraphQL

fix(change-machine-supervisor): Allow search of company national ids (#20825)
  libs/application/templates/aosh/change-machine-supervisor/src/forms/ChangeMachineSupervisorForm/InformationSection/supervisorSubSection.ts
Due: Application System API

feat(new-primary-school): Update date picker title and placeholder in school start page (#20799)
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/startingSchoolSubSection.ts
  libs/application/templates/new-primary-school/src/lib/messages.ts
  libs/application/templates/new-primary-school/src/utils/overviewItems.ts
Due: Application System API

fix(unemployment-application): reasons for job search update (#20827)
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.utils.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentInformationSection/reasonForJobSearch.ts
  libs/application/templates/unemployment-benefits/src/lib/messages/application.ts
  libs/application/templates/unemployment-benefits/src/lib/messages/employment.ts
  libs/application/templates/unemployment-benefits/src/lib/schemas/reasonForJobSearchSchema.ts
  libs/clients/vmst-unemployment/src/clientConfig.json
Due: Application System API

fix(my-pages): redundant date creation (#20820)
  libs/clients/health-directorate/src/lib/clients/health/health.service.ts
Due: none

feat(as-ra): Improved company handling (#20795)
  libs/application/template-api-modules/src/lib/modules/templates/hms/rental-agreement/rental-agreement.service.ts
  libs/application/templates/hms/rental-agreement/src/forms/draftForm/overviewSection/index.ts
  libs/application/templates/hms/rental-agreement/src/forms/draftForm/partiesSection/assignApplicantPartySubsection.ts
  libs/application/templates/hms/rental-agreement/src/forms/draftForm/partiesSection/partiesSubsection.ts
  libs/application/templates/hms/rental-agreement/src/forms/inReviewForm/preSignatureInfoSection.ts
  libs/application/templates/hms/rental-agreement/src/forms/inReviewForm/reviewInfoSection.ts
  libs/application/templates/hms/rental-agreement/src/lib/RentalAgreementTemplate.ts
  libs/application/templates/hms/rental-agreement/src/lib/messages/draftFormMessages/overviewMessages/overviewMessages.ts
  libs/application/templates/hms/rental-agreement/src/lib/messages/draftFormMessages/partiesMessages/partiesMessages.ts
  libs/application/templates/hms/rental-agreement/src/lib/schemas/landlordAndTenantSchema.ts
  libs/application/templates/hms/rental-agreement/src/shared/types.ts
  libs/application/templates/hms/rental-agreement/src/shared/utils.ts
  libs/application/templates/hms/rental-agreement/src/utils/conditions.ts
  libs/application/templates/hms/rental-agreement/src/utils/overviewUtils.ts
  libs/application/templates/hms/rental-agreement/src/utils/utils.ts
Due: Application System API

fix(j-s): Penalties (#20822)
  apps/judicial-system/web/src/components/Inputs/InputPenalties.tsx
Due: none

feat(as-tra): Add warning for termination of bound contracts (#20829)
  libs/application/template-api-modules/src/lib/modules/templates/hms/terminate-rental-agreement/mockedRentalAgreements.ts
  libs/application/templates/hms/terminate-rental-agreement/src/forms/mainForm/boundTerminationWarningSection.ts
  libs/application/templates/hms/terminate-rental-agreement/src/forms/mainForm/index.ts
  libs/application/templates/hms/terminate-rental-agreement/src/lib/messages/boundTerminationmessages.ts
Due: Application System API

fix(zod validation): Test logging zod validation error (#20806)
  libs/application/core/src/validation/validators.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/HiddenInputFormField/HiddenInputFormField.tsx
Due: Application System API

Add zendesk chat widget
  apps/web/components/ChatPanel/ChatBubble/ChatBubble.css.ts
  apps/web/components/ChatPanel/ZendeskChatPanel/ZendeskChatPanel.tsx
  apps/web/components/ChatPanel/ZendeskChatPanel/types.ts
  apps/web/components/ChatPanel/index.ts
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
  apps/web/components/Organization/Wrapper/config.ts
  apps/web/components/ServiceWeb/Wrapper/Wrapper.tsx
  apps/web/components/ServiceWeb/config.ts
Due: none

fix(fa): Warnings in console; update link to linkv2, modal label missing, unique key missing
  apps/financial-aid/web-osk/src/components/Header/Header.tsx
  apps/financial-aid/web-osk/src/routes/application/AboutForm/aboutFormApplicant.tsx
  apps/financial-aid/web-osk/src/routes/application/TaxReturnForm/taxFormContent.tsx
  apps/financial-aid/web-veita/src/components/AidAmountModal/AidAmountModal.tsx
  apps/financial-aid/web-veita/src/components/ApplicationHeader/ApplicationHeader.tsx
  apps/financial-aid/web-veita/src/components/ApplicationSideNavItems/ApplicationSideNavItems.tsx
  apps/financial-aid/web-veita/src/components/Profile/MunicipalityProfile.tsx
  apps/financial-aid/web-veita/src/components/ProfileUnit/GetUnitContent.tsx
  apps/financial-aid/web-veita/src/components/RejectionCommentModal/RejectionCommentModal.tsx
  apps/financial-aid/web-veita/src/components/StateModal/StateModalContainer.tsx
  libs/financial-aid/shared/src/components/TaxBreakdown/TaxBreakdown.tsx
Due: none

fix(form-system): Logging fileUpload and circumventing the uploadProcessor to debug # ...
  apps/services/form-system/src/app/modules/file/file.service.ts
Due: none

Remove hardcoded watson config
  apps/web/components/ChatPanel/ZendeskChatPanel/ZendeskChatPanel.tsx
  apps/web/screens/Article/components/ArticleChatPanel/ArticleChatPanel.tsx
  apps/web/screens/Article/components/ArticleChatPanel/config.ts
Due: none

fix hasAttachments function
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.utils.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/attachmentSubSection.ts
  libs/application/templates/new-primary-school/src/utils/conditionUtils.ts
Due: Application System API

Fix build
  apps/judicial-system/web/src/components/FormProvider/case.graphql
Due: none

fix(file-service): return early after updating field with new S3 key
  apps/services/form-system/src/app/modules/file/file.service.ts
Due: none

feat(form-system): Add tooltip and max length settings for text inputs (#20837)
  libs/portals/admin/form-system/src/components/MainContent/components/FieldContent/components/BaseInput.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/FieldContent/components/FieldSettings/components/TextFieldSettings.tsx
  libs/portals/admin/form-system/src/hooks/controlReducer.ts
  libs/portals/form-system/ui-components/src/components/FieldComponents/TextInput/TextInput.tsx
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: none

Apply suggestion from @veronikasif
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/attachmentSubSection.ts
Due: Application System API

Apply suggestion from @veronikasif
  libs/application/templates/new-primary-school/src/utils/overviewFields.ts
Due: Application System API

feat(j-s): add new ruling order for indictment case
  apps/judicial-system/backend/src/app/formatters/confirmedPdf.ts
  apps/judicial-system/backend/src/app/modules/file/file.service.ts
  apps/judicial-system/web/pages/domur/akaera/urskurdir/[id].ts
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/AddRulingOrder.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.tsx
  libs/judicial-system/consts/src/lib/consts.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/file.ts
  libs/judicial-system/types/src/lib/user.ts
Due: none

feat(web): Zendesk chat widget (#20887)
  apps/web/components/ChatPanel/ChatBubble/ChatBubble.css.ts
  apps/web/components/ChatPanel/ZendeskChatPanel/ZendeskChatPanel.tsx
  apps/web/components/ChatPanel/ZendeskChatPanel/types.ts
  apps/web/components/ChatPanel/index.ts
  apps/web/components/Organization/Wrapper/OrganizationWrapper.tsx
  apps/web/components/Organization/Wrapper/config.ts
  apps/web/components/ServiceWeb/Wrapper/Wrapper.tsx
  apps/web/components/ServiceWeb/config.ts
  apps/web/screens/Article/components/ArticleChatPanel/ArticleChatPanel.tsx
  apps/web/screens/Article/components/ArticleChatPanel/config.ts
Due: none

chore: format update dirty file
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/attachmentSubSection.ts
Due: Application System API

add conditions to sendApplication
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.utils.ts
  libs/application/templates/new-primary-school/src/utils/conditionUtils.ts
Due: Application System API

readme and flow chart
  libs/application/templates/new-primary-school/README.md
  libs/application/templates/new-primary-school/assets/nps-flow-chart.drawio
  libs/application/templates/new-primary-school/assets/nps-flow-chart.png
Due: Application System API

Implement useDebouncedInput hook
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.css.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
Due: none

fix(j-s): tiny lint
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/AddRulingOrder.tsx
Due: none

feat(new-primary-school): attachment page (#20872)
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.utils.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/attachmentSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/index.ts
  libs/application/templates/new-primary-school/src/index.ts
  libs/application/templates/new-primary-school/src/lib/NewPrimarySchoolTemplate.ts
  libs/application/templates/new-primary-school/src/lib/dataSchema.ts
  libs/application/templates/new-primary-school/src/lib/messages.ts
  libs/application/templates/new-primary-school/src/types.ts
  libs/application/templates/new-primary-school/src/utils/conditionUtils.ts
  libs/application/templates/new-primary-school/src/utils/constants.ts
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.ts
  libs/application/templates/new-primary-school/src/utils/overviewFields.ts
  libs/application/templates/new-primary-school/src/utils/overviewItems.ts
Due: Application System API

Use hook for changes
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
