Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

Stop importing React
  apps/judicial-system/web/src/components/BlueBoxWithIcon/BlueBoxWithIcon.tsx
  apps/judicial-system/web/src/components/ConclusionDraft/ConclusionDraft.tsx
  apps/judicial-system/web/src/components/ContextMenu/ContextMenu.tsx
  apps/judicial-system/web/src/components/CourtDocuments/CourtDocuments.tsx
  apps/judicial-system/web/src/components/DateTime/DateTime.tsx
  apps/judicial-system/web/src/components/DefenderInfo/DefenderInfo.tsx
  apps/judicial-system/web/src/components/DefenderInfo/DefenderInput.tsx
  apps/judicial-system/web/src/components/FormProvider/FormProvider.tsx
  apps/judicial-system/web/src/components/IconButton/IconButton.tsx
  apps/judicial-system/web/src/components/Icons/Trash.tsx
  apps/judicial-system/web/src/components/MultipleValueList/MultipleValueList.tsx
  apps/judicial-system/web/src/components/RestrictionLength/RestrictionLength.tsx
  apps/judicial-system/web/src/components/RulingInput/RulingInput.tsx
  apps/judicial-system/web/src/components/SectionHeading/SectionHeading.tsx
  apps/judicial-system/web/src/components/Table/AppealCasesTable/MobileAppealCase.tsx
  apps/judicial-system/web/src/components/Table/PastCasesTable/MobilePastCase.tsx
  apps/judicial-system/web/src/components/Table/TableContainer/TableContainer.tsx
  apps/judicial-system/web/src/components/TimeInputField/TimeInputField.tsx
  apps/judicial-system/web/src/components/ViewportProvider/ViewportProvider.tsx
  apps/judicial-system/web/src/routes/Admin/UserForm/UserForm.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Defender/SelectDefender.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/ReturnIndictmentCaseModal/ReturnIndictmentCaseModal.tsx
  apps/judicial-system/web/src/routes/Court/components/AppealSections/AppealSections.tsx
  apps/judicial-system/web/src/routes/Court/components/DraftConclusionModal/DraftConclusionModal.tsx
  apps/judicial-system/web/src/routes/Court/components/SubpoenaType/SubpoenaType.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Result/Result.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Defendant/Defendant.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/HearingArrangements/ArrestDate.tsx
  apps/judicial-system/web/src/routes/Prosecutor/RestrictionCase/PoliceDemands/PoliceDemands.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseNumbers/PoliceCaseNumbers.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/MobileCase.tsx
Due: none

Add minimum date and notification text for students
  libs/application/templates/health-insurance-declaration/src/forms/HealthInsuranceDeclarationForm.ts
  libs/application/templates/health-insurance-declaration/src/lib/messages/application.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/application/templates/social-insurance-administration/income-plan/src/lib/dataSchema.ts
Due: Application System API

chore: nx format:write update dirty files
  libs/application/templates/health-insurance-declaration/mockData/health-insurance-declaration.json
Due: Application System API

Show court records to everyone once uploaded
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
Due: none

fix(parliamentary): serviceportal minor tweak (#15804)
  libs/service-portal/signature-collection/src/screens/Parliamentary/OwnerView/index.tsx
Due: none

ownerName ownderNationalId
  apps/services/endorsements/api/migrations/20240901000001-ownername-nationalid-columns.js
  apps/services/endorsements/api/seeders/20210325171826-development.js
  apps/services/endorsements/api/src/app/app.module.ts
  apps/services/endorsements/api/src/app/guards/accessGuard/access.guard.ts
  apps/services/endorsements/api/src/app/modules/endorsement/e2e/findAllEndorsement/seed.js
  apps/services/endorsements/api/src/app/modules/endorsement/e2e/findByAuthEndorsement/seed.js
  apps/services/endorsements/api/src/app/modules/endorsementList/e2e/closeEndorsementList/seed.js
  apps/services/endorsements/api/src/app/modules/endorsementList/e2e/createEndorsementList/createEndorsementList.spec.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/e2e/emailPdfEndorsement/seed.js
  apps/services/endorsements/api/src/app/modules/endorsementList/e2e/openEndorsementList/seed.js
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsementList.controller.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsementList.model.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsementList.service.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/interceptors/endorsementList.interceptor.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/interceptors/endorsementList.mask.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/interceptors/endorsementLists.interceptor.ts
  apps/services/endorsements/api/test/seedHelpers.js
  apps/services/endorsements/api/test/setup.ts
Due: none

fix(aosh/register-new-machine): fixing few bugs (#15800)
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/template-api-modules/src/lib/modules/templates/aosh/register-new-machine/register-new-machine.service.ts
  libs/application/templates/aosh/register-new-machine/src/fields/TechnicalInfo/formFieldMapper.tsx
  libs/application/templates/aosh/register-new-machine/src/fields/TechnicalInfo/index.tsx
  libs/application/templates/aosh/register-new-machine/src/forms/RegisterMachineForm/MachineSection/MachineBasicInformation.ts
  libs/application/templates/aosh/register-new-machine/src/forms/RegisterMachineForm/OverviewSection.ts
  libs/application/templates/aosh/register-new-machine/src/forms/RegisterMachineForm/index.ts
  libs/application/templates/aosh/register-new-machine/src/lib/dataSchema.ts
  libs/application/templates/aosh/register-new-machine/src/lib/messages/machine.ts
  libs/application/templates/aosh/register-new-machine/src/utils/formatDate.ts
  libs/application/templates/aosh/register-new-machine/src/utils/formatPhoneNumber.ts
  libs/application/templates/aosh/register-new-machine/src/utils/getBasicMachineInformation.ts
  libs/application/templates/aosh/register-new-machine/src/utils/getPersonInformationForOverview.ts
  libs/application/templates/aosh/register-new-machine/src/utils/index.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/TextFormField/TextFormField.tsx
  libs/clients/work-machines/src/clientConfig.json
  libs/island-ui/core/src/lib/Input/Input.tsx
  libs/island-ui/core/src/lib/Input/types.ts
  libs/shared/form-fields/src/lib/InputController/InputController.tsx
Due: Application System API

Add minimum date and notification text for students
  libs/application/templates/health-insurance-declaration/src/forms/HealthInsuranceDeclarationForm.ts
Due: Application System API

Add new slice union type
  apps/web/components/GenericList/GenericList.tsx
  apps/web/components/GenericList/LatestGenericListItems/LatestGenericListItems.tsx
  apps/web/components/Organization/Slice/SliceMachine.tsx
  apps/web/components/real.ts
  apps/web/screens/queries/fragments.ts
  libs/cms/src/lib/cms.module.ts
  libs/cms/src/lib/cms.resolver.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/latestGenericListItems.model.ts
  libs/cms/src/lib/models/organizationSubpage.model.ts
  libs/cms/src/lib/unions/slice.union.ts
Due: none

Remove accidental import
  libs/application/templates/health-insurance-declaration/src/forms/HealthInsuranceDeclarationForm.ts
Due: Application System API

Update libs/application/templates/social-insurance-administration/income-plan/README.md
  libs/application/templates/social-insurance-administration/income-plan/README.md
Due: Application System API

chore: Refactor ControlContext functions for better readability and maintainability
  libs/portals/admin/form-system/src/context/ControlContext.ts
Due: none

Fixed typo in dataProviders externalDataId
  libs/application/templates/social-insurance-administration/income-plan/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/income-plan/src/lib/incomePlanUtils.ts
Due: Application System API

Memoize the rows array to improve performance
  libs/application/templates/social-insurance-administration/income-plan/src/fields/Review/index.tsx
Due: Application System API

Improve useEffect dependency array for better performance.
  libs/application/ui-fields/src/lib/TableRepeaterFormField/TableRepeaterFormField.tsx
Due: none

Add change appendix diff
  apps/services/regulations-admin-backend/src/app/modules/draft_regulation/models/appendix.model.ts
  libs/api/domains/regulations-admin/src/lib/graphql/dto/createDraftRegulationChange.input.ts
  libs/api/domains/regulations-admin/src/lib/graphql/dto/updateDraftRegulationChange.input.ts
  libs/api/domains/regulations-admin/src/lib/graphql/models/draftRegulationChange.model.ts
  libs/portals/admin/regulations-admin/src/components/EditBasics.tsx
  libs/portals/admin/regulations-admin/src/components/impacts/EditChange.tsx
  libs/portals/admin/regulations-admin/src/components/impacts/ReferenceText.tsx
  libs/portals/admin/regulations-admin/src/state/makeFields.ts
  libs/portals/admin/regulations-admin/src/state/types.ts
  libs/portals/admin/regulations-admin/src/utils/formatAmendingRegulation.ts
Due: Portal GraphQL

fix appendix type temp
  libs/portals/admin/regulations-admin/src/state/makeFields.ts
Due: none

fix
  libs/portals/admin/regulations-admin/src/components/EditBasics.tsx
Due: none

fix(delegation-index): Merge custom delegations and combine scopes when indexing. (#15772)
  apps/services/auth/delegation-api/src/app/delegations/test/delegation-index/delegation-index-test-cases.ts
  apps/services/auth/delegation-api/src/app/delegations/test/delegation-index/delegation-index.service.spec.ts
  apps/services/auth/delegation-api/src/app/delegations/test/delegation-index/delegations-index-types.ts
  libs/auth-api-lib/src/lib/delegations/delegations-index.service.ts
Due: none

use Int instead of Number for number decorator
  libs/api/domains/social-insurance/src/lib/dtos/temporaryCalculation.input.ts
  libs/api/domains/social-insurance/src/lib/models/temporaryCalculation.model.ts
Due: Portal GraphQL

remove commented out code and nullable
  libs/api/domains/social-insurance/src/lib/dtos/temporaryCalculation.input.ts
  libs/api/domains/social-insurance/src/lib/models/temporaryCalculation.model.ts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.service.ts
Due: Portal GraphQL, Application System API

fix(application-ir): Skip disabled estates in calculations
  libs/application/templates/inheritance-report/src/fields/CalculateShare/index.tsx
Due: Application System API

feat(web): Latest generic list items component (#15810)
  apps/web/components/GenericList/GenericList.tsx
  apps/web/components/GenericList/LatestGenericListItems/LatestGenericListItems.tsx
  apps/web/components/Organization/Slice/SliceMachine.tsx
  apps/web/components/real.ts
  apps/web/screens/queries/fragments.ts
  libs/cms/src/lib/cms.module.ts
  libs/cms/src/lib/cms.resolver.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/latestGenericListItems.model.ts
  libs/cms/src/lib/models/organizationSubpage.model.ts
  libs/cms/src/lib/unions/slice.union.ts
Due: none

remove commented out code and nullable (#15812)
  libs/api/domains/social-insurance/src/lib/dtos/temporaryCalculation.input.ts
  libs/api/domains/social-insurance/src/lib/models/temporaryCalculation.model.ts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.service.ts
Due: Portal GraphQL, Application System API

Coderabbit
  libs/application/templates/health-insurance-declaration/src/forms/HealthInsuranceDeclarationForm.ts
Due: Application System API

url fix
  libs/portals/admin/regulations-admin/src/utils/fileUploader.ts
Due: none

refactor
  libs/portals/admin/regulations-admin/src/utils/fileUploader.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
