Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

commit
  .github/CODEOWNERS
  apps/portals/my-pages/src/assets/images/vmst-logo.svg
  libs/clients/vmst-unemployment/src/lib/vmstUnemploymentClient.service.ts
  libs/portals/my-pages/social-benefits/src/lib/messages/unemployment.ts
  libs/portals/my-pages/social-benefits/src/screens/SocialBenefitsOverview/SocialBenefitsOverview.tsx
  libs/portals/my-pages/social-benefits/src/screens/unemployment-benefits/MyData/MyData.tsx
Due: none

Render html directly
  apps/web/screens/CourtAgendas/CourtAgendas.tsx
  apps/web/screens/CourtAgendas/components/AgendaCard.tsx
Due: none

fix(my-pages): Hide medicine strength if not provided (#22413)
  libs/portals/my-pages/health/src/screens/MedicinePrescriptions/components/PrescriptionsTable.tsx
Due: none

Sanitize html
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: none

feat(web): Add timeline to Annual Report (#22399)
  apps/web/screens/Organization/AnnualReports/AnnualReportChapter.tsx
  apps/web/screens/Organization/AnnualReports/AnnualReports.tsx
  apps/web/screens/queries/AnnualReports.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/annualReport.model.ts
Due: none

Have a dot between keywords
  apps/web/components/connected/LatestVerdicts/LatestVerdicts.tsx
Due: none

feat(j-s): sort indictment counts by crime scene date
  apps/judicial-system/backend/src/app/formatters/indictmentPdf.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
  libs/judicial-system/types/src/lib/indictmentCount.ts
Due: none

fix(core): Allow www.island.is redirect urls in bff
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/emailWorker.service.ts
  charts/islandis-services/services-bff-portals-admin/values.prod.yaml
  charts/islandis-services/services-bff-portals-my-pages/values.prod.yaml
  charts/islandis/values.prod.yaml
  infra/src/dsl/bff.ts
Due: none

feat(verdicts): expose lawCitations on verdict detail endpoint
  libs/api/domains/verdicts/src/lib/dto/verdicts.response.ts
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: Portal GraphQL

Sends civil claimant spokepersons notifications for court dates and case completion in indictmant cases
  apps/judicial-system/backend/src/app/modules/notification/baseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/notification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/caseNotification/caseNotification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/indictmentCaseNotification/indictmentCaseNotification.service.ts
Due: none

Removes feature flag
  apps/judicial-system/api/infra/judicial-system-api.ts
  apps/judicial-system/web/src/utils/hooks/useAppealCaseUI/index.tsx
  libs/judicial-system/types/src/lib/feature.ts
Due: none

chore: charts update dirty file
  charts/judicial-system-services/judicial-system-api/values.prod.yaml
  charts/judicial-system-services/judicial-system-api/values.staging.yaml
  charts/judicial-system/values.prod.yaml
  charts/judicial-system/values.staging.yaml
Due: none

fix(core): Allow www.island.is redirect urls in bff (#22419)
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/emailWorker.service.ts
  charts/islandis-services/services-bff-portals-admin/values.prod.yaml
  charts/islandis-services/services-bff-portals-my-pages/values.prod.yaml
  charts/islandis/values.prod.yaml
  infra/src/dsl/bff.ts
Due: none

fix(web): Latest Verdicts - Have a dot between keywords (#22417)
  apps/web/components/connected/LatestVerdicts/LatestVerdicts.tsx
Due: none

create pdf that can be signed as other court docs
  apps/judicial-system/backend/src/app/formatters/digitalCaseFileMetadataPdf.ts
  apps/judicial-system/backend/src/app/formatters/index.ts
  apps/judicial-system/backend/src/app/modules/file/file.controller.ts
  apps/judicial-system/backend/src/app/modules/file/policeDigitalCaseFiles/policeDigitalCaseFile.service.ts
Due: none

use imported generated types instead of hand-made ones
  libs/api/domains/auth-admin/src/lib/idp-provider/idp-provider.service.ts
  libs/clients/auth/admin-api/src/index.ts
Due: Portal GraphQL

Add translation string
  apps/web/screens/CourtAgendas/translations.strings.ts
Due: none

feat(j-s): sort indictment counts by crime scene date (#22418)
  apps/judicial-system/backend/src/app/formatters/indictmentPdf.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Indictment.tsx
  libs/judicial-system/types/src/lib/indictmentCount.ts
Due: none

fix(web): Latest Verdicts - Have a dot between keywords (#22417) (#22422)
  apps/web/components/connected/LatestVerdicts/LatestVerdicts.tsx
Due: none

feat(web): Court agenda hearing time - render html directly (#22416)
  apps/web/screens/CourtAgendas/CourtAgendas.tsx
  apps/web/screens/CourtAgendas/components/AgendaCard.tsx
  apps/web/screens/CourtAgendas/translations.strings.ts
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: none

chore: format update dirty file
  libs/api/domains/auth-admin/src/lib/idp-provider/idp-provider.service.ts
  libs/portals/admin/ids-admin/src/module.tsx
  libs/portals/admin/ids-admin/src/screens/AdminControls/IdpProviders/IdpProviders.tsx
  libs/portals/admin/ids-admin/src/screens/AdminControls/IdpProviders/components/IdpProviderConfirmModal.tsx
Due: Portal GraphQL

feat(ids-admin): Add restore client functionality and filter by archived (#22314)
  apps/services/auth/admin-api/src/app/v2/clients/me-clients.controller.ts
  libs/api/domains/auth-admin/src/lib/client/clients.resolver.ts
  libs/api/domains/auth-admin/src/lib/client/clients.service.ts
  libs/api/domains/auth-admin/src/lib/client/dto/restore-client.input.ts
  libs/api/domains/auth-admin/src/lib/client/models/client-environment.model.ts
  libs/api/domains/auth-admin/src/lib/client/models/client.model.ts
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
  libs/auth-api-lib/src/lib/clients/admin/dto/admin-client.dto.ts
  libs/island-ui/core/src/lib/Filter/FilterMultiChoice/FilterMultiChoice.tsx
  libs/portals/admin/ids-admin/src/components/IdsAdminCard/IdsAdminCard.tsx
  libs/portals/admin/ids-admin/src/hooks/useLooseSearch.tsx
  libs/portals/admin/ids-admin/src/lib/messages.ts
  libs/portals/admin/ids-admin/src/screens/Clients/Clients.graphql
  libs/portals/admin/ids-admin/src/screens/Clients/Clients.tsx
  libs/portals/admin/ids-admin/src/screens/Clients/RestoreClient.graphql
  libs/portals/admin/ids-admin/src/screens/Clients/RestoreClient.tsx
  libs/portals/admin/ids-admin/src/screens/Permission/components/PermissionContent.tsx
Due: Portal GraphQL

refactor(my-pages): Ship - UI tweaks (#22250)
  libs/portals/core/src/components/Table/Table.tsx
  libs/portals/my-pages/assets/src/lib/messages.ts
  libs/portals/my-pages/assets/src/screens/Ships/Detail/ShipDetail.tsx
  libs/portals/my-pages/assets/src/screens/Ships/Detail/components/CertificatesTable.tsx
  libs/portals/my-pages/assets/src/screens/Ships/Overview/ShipsOverview.tsx
Due: none

fix(application): Accident Notifications - Delegate role not able to view form (#22207)
  libs/application/templates/iceland-health/accident-notification/src/lib/AccidentNotificationTemplate.ts
Due: Application System API

fix(auth): Remove user reference from municipality lookup warning log
  libs/auth-api-lib/src/lib/resources/scope.service.ts
Due: none

data schema update
  libs/application/templates/unemployment-benefits/src/lib/messages/errors.ts
  libs/application/templates/unemployment-benefits/src/lib/schemas/jobWishesSchema.ts
Due: Application System API

Updates unit tests
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendCaseFilesUpdatedNotifications.spec.ts
Due: none

Change fixed nav message
  apps/web/components/FixedNav/FixedNav.tsx
Due: none

fix(web): Court agendas hearing time link support (#22424)
  apps/web/screens/CourtAgendas/CourtAgendas.tsx
  apps/web/screens/CourtAgendas/components/AgendaCard.tsx
  apps/web/screens/CourtAgendas/translations.strings.ts
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: none

fix(web): Change fixed nav message for prefiltered search option (#22425)
  apps/web/components/FixedNav/FixedNav.tsx
Due: none

chore: rabbit fixes
  libs/portals/my-pages/health/src/screens/PatientDataPermits/PermitDetail.tsx
  libs/portals/my-pages/health/src/screens/PaymentsAndRights/wrapper/PaymentsWrapper.tsx
Due: none

fix(web): Change fixed nav message for prefiltered search option #22425 (#22427)
  apps/web/components/FixedNav/FixedNav.tsx
Due: none

adding application id with submit
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.service.ts
Due: Application System API

chore: format update dirty file
  apps/judicial-system/backend/src/app/formatters/digitalCaseFileMetadataPdf.ts
Due: none
