Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

emails
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsementList.service.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/interceptors/endorsementList.interceptor.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/interceptors/endorsementList.mask.ts
  apps/services/endorsements/api/src/app/modules/endorsementList/interceptors/endorsementLists.interceptor.ts
  libs/application/template-api-modules/src/lib/modules/templates/general-petition/general-petition.service.ts
Due: Application System API

feat(j-s): Defender Case List (#11369)
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealCompletedNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealReceivedByCourtNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealStatementNotifications.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendAppealToCourtOfAppealsNotifications.spec.ts
  apps/judicial-system/web-e2e/src/integration/Defender/Indictements/overview.spec.ts
  apps/judicial-system/web/messages/Core/errors.ts
  apps/judicial-system/web/messages/Core/tables.ts
  apps/judicial-system/web/messages/Core/titles.ts
  apps/judicial-system/web/pages/verjandi/krafa/[id].ts
  apps/judicial-system/web/pages/verjandi/krofur.ts
  apps/judicial-system/web/src/components/Header/Header.tsx
  apps/judicial-system/web/src/components/PageLayout/PageLayout.tsx
  apps/judicial-system/web/src/components/Table/CourtCaseNumber/CourtCaseNumber.css.ts
  apps/judicial-system/web/src/components/Table/CourtCaseNumber/CourtCaseNumber.tsx
  apps/judicial-system/web/src/components/Table/DefendantInfo/DefendantInfo.css.ts
  apps/judicial-system/web/src/components/Table/DefendantInfo/DefendantInfo.tsx
  apps/judicial-system/web/src/components/TagCaseState/TagCaseState.spec.ts
  apps/judicial-system/web/src/components/TagCaseState/TagCaseState.strings.ts
  apps/judicial-system/web/src/components/TagCaseState/TagCaseState.tsx
  apps/judicial-system/web/src/routes/Admin/Users/Users.tsx
  apps/judicial-system/web/src/routes/Defender/Cases/Cases.css.ts
  apps/judicial-system/web/src/routes/Defender/Cases/Cases.strings.ts
  apps/judicial-system/web/src/routes/Defender/Cases/Cases.tsx
  apps/judicial-system/web/src/routes/Defender/Cases/DefenderCasesTable.css.ts
  apps/judicial-system/web/src/routes/Defender/Cases/DefenderCasesTable.tsx
  apps/judicial-system/web/src/routes/Defender/Cases/useFilterCases.tsx
  apps/judicial-system/web/src/routes/Defender/Cases/useSortCases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/ActiveCases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/Cases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/MobileCase.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/PastCases.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/utils.spec.ts
  apps/judicial-system/web/src/routes/Shared/Cases/utils.ts
  libs/judicial-system/consts/src/lib/consts.ts
Due: none

fix(j-s): Adding no-cache to appealed cases query (#11406)
  apps/judicial-system/web/src/routes/CourtOfAppeal/Cases/Cases.tsx
Due: none

Cast as any for CI to perhaps be happy
  libs/clients/fiskistofa/src/lib/utils.ts
Due: none

fix(web): Update OpenApi Schema for Directorate of Fisheries calculator endpoints (#11300)
  libs/clients/fiskistofa/src/clientConfig.json
  libs/clients/fiskistofa/src/lib/types.ts
  libs/clients/fiskistofa/src/lib/utils.ts
Due: none

putting kennitala first and adding tjodskra
  apps/judicial-system/web/src/routes/Admin/UserForm/UserForm.tsx
Due: none

fixing test
  apps/judicial-system/backend/src/app/modules/file/guards/test/limitedAccessViewCaseFileGuard.spec.ts
Due: none

fix(j-s): Updating strings on defender screen and allowing defenders for indictment cases to see all files (#11376)
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.service.ts
  apps/judicial-system/backend/src/app/modules/file/guards/limitedAccessViewCaseFile.guard.ts
  apps/judicial-system/backend/src/app/modules/file/guards/test/limitedAccessViewCaseFileGuard.spec.ts
  apps/judicial-system/web/messages/Core/sections.ts
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Defender/Defender.strings.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Defender/Defender.tsx
  apps/judicial-system/web/src/routes/Defender/CaseOverview.tsx
Due: none

emails tweak
  apps/services/endorsements/api/src/app/modules/endorsementList/endorsementList.service.ts
Due: none

is it working yet
  apps/judicial-system/web/src/routes/Admin/UserForm/UserForm.tsx
Due: none

wip savechange
  apps/api/infra/api.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/api/domains/regulations-admin/src/lib/graphql/regulationsAdmin.resolver.ts
  libs/api/domains/regulations/src/lib/api-domains-regulations.resolver.ts
  libs/api/domains/regulations/src/lib/dto/saveRegulationPublish.input.ts
  libs/api/domains/regulations/src/lib/models/updateRegulation.model.ts
  libs/clients/regulations-admin/src/lib/RegulationsAdminClientService.ts
  libs/clients/regulations/src/index.ts
  libs/clients/regulations/src/lib/regulations.config.ts
  libs/clients/regulations/src/lib/regulations.module.ts
  libs/clients/regulations/src/lib/regulations.service.ts
  libs/clients/regulations/src/lib/regulationsPublish.service.ts
  libs/clients/regulations/src/lib/types.ts
  libs/portals/admin/regulations-admin/src/state/useDraftingState.ts
Due: Portal GraphQL

removing unneccassary change
  apps/judicial-system/web/src/routes/Admin/UserForm/UserForm.tsx
Due: none

updating subject on email
  apps/judicial-system/backend/src/app/messages/notifications.ts
  apps/judicial-system/backend/src/app/modules/notification/notification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendRulingNotifications.spec.ts
Due: none

adding space
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendRulingNotifications.spec.ts
Due: none

Move BACKEND_DL_URL to infra
  apps/consultation-portal/infra/samradsgatt.ts
Due: none

added validator and snemmtöku additional documents
  libs/application/templates/old-age-pension/src/fields/Period/index.tsx
  libs/application/templates/old-age-pension/src/fields/Period/period.css.ts
  libs/application/templates/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/old-age-pension/src/forms/Prerequisites.ts
  libs/application/templates/old-age-pension/src/lib/OldAgePensionTemplate.ts
  libs/application/templates/old-age-pension/src/lib/answerValidators.ts
  libs/application/templates/old-age-pension/src/lib/constants.ts
  libs/application/templates/old-age-pension/src/lib/dataSchema.ts
  libs/application/templates/old-age-pension/src/lib/messages.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.spec.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.ts
Due: Application System API

test(system-e2e): Ids admin e2e tests (#11379)
  apps/system-e2e/src/tests/islandis/admin-portal/smoke/access-control.spec.ts
  apps/system-e2e/src/tests/islandis/admin-portal/smoke/admin-portal.spec.ts
  apps/system-e2e/src/tests/islandis/admin-portal/smoke/tenant-application.spec.ts
  apps/system-e2e/src/tests/islandis/admin-portal/smoke/tenant-applications.spec.ts
  apps/system-e2e/src/tests/islandis/admin-portal/smoke/tenant-permission.spec.ts
  apps/system-e2e/src/tests/islandis/admin-portal/smoke/tenant-permissions.spec.ts
  apps/system-e2e/src/tests/islandis/admin-portal/smoke/tenants.spec.ts
  apps/system-e2e/src/utils/pageHelpers.ts
  libs/island-ui/core/src/lib/Button/Button.tsx
  libs/island-ui/core/src/lib/Table/Table.tsx
  libs/portals/admin/ids-admin/src/components/FormCard.tsx
  libs/portals/admin/ids-admin/src/components/IdsAdminCard/IdsAdminCard.tsx
  libs/portals/admin/ids-admin/src/index.ts
  libs/portals/admin/ids-admin/src/module.tsx
  libs/portals/admin/ids-admin/src/screens/Client/components/AdvancedSettings.tsx
  libs/portals/admin/ids-admin/src/screens/Client/components/BasicInfo.tsx
  libs/portals/admin/ids-admin/src/screens/Client/components/Permissions.tsx
  libs/portals/admin/ids-admin/src/screens/Clients/Clients.tsx
  libs/portals/admin/ids-admin/src/screens/Permissions/Permissions.tsx
  libs/portals/admin/ids-admin/src/screens/Tenants/Tenants.tsx
Due: none

Feat/old age pension periods (#11410)
  SUMMARY.md
  libs/application/templates/old-age-pension/src/fields/Period/index.tsx
  libs/application/templates/old-age-pension/src/fields/Period/period.css.ts
  libs/application/templates/old-age-pension/src/fields/index.ts
  libs/application/templates/old-age-pension/src/forms/OldAgePensionForm.ts
  libs/application/templates/old-age-pension/src/forms/Prerequisites.ts
  libs/application/templates/old-age-pension/src/lib/OldAgePensionTemplate.ts
  libs/application/templates/old-age-pension/src/lib/answerValidators.ts
  libs/application/templates/old-age-pension/src/lib/constants.ts
  libs/application/templates/old-age-pension/src/lib/dataSchema.ts
  libs/application/templates/old-age-pension/src/lib/messages.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.spec.ts
  libs/application/templates/old-age-pension/src/lib/oldAgePensionUtils.ts
Due: Application System API

charts
  apps/consultation-portal/infra/samradsgatt.ts
  charts/islandis/values.dev.yaml
Due: none

endorsement e2e cleanup
  apps/system-e2e/src/tests/islandis/admin-portal/smoke/endorsements.spec.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/endorsement-list.spec.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/endorsement.spec.ts
  apps/system-e2e/src/tests/islandis/web/smoke/endorsement.spec.ts
Due: none

fix(estate): Final touches on "Seta í óskiptu búi"
  libs/application/templates/estate/src/fields/Cards/index.tsx
  libs/application/templates/estate/src/fields/NotFilledOut/index.tsx
  libs/application/templates/estate/src/fields/index.ts
  libs/application/templates/estate/src/forms/DivisionOfEstateByHeirs/overviewSection.ts
  libs/application/templates/estate/src/forms/PermitToPostponeEstateDivision/overviewSection.ts
Due: Application System API

test(system-e2e): Service portal consents e2e test (#11391)
  apps/system-e2e/src/tests/islandis/service-portal/smoke/access-control-consents.spec.ts
  libs/island-ui/core/src/lib/Accordion/AccordionItem/AccordionItem.tsx
  libs/service-portal/consent/src/screens/Consent/Consent.tsx
Due: none

fix: set label temp
  libs/service-portal/vehicles/src/screens/WorkMachinesOverview/WorkMachinesOverview.tsx
Due: none

fix(infra): Add consultation-portal to staging/prod uberchart
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  infra/src/uber-charts/islandis.ts
Due: none

More nice system-e2e entrypoint.sh
  apps/system-e2e/entrypoint.sh
Due: none

fix: improve smart logging
  libs/clients/smartsolutions/src/lib/smartSolutions.api.ts
Due: none

Completed step null pointer fix. Unique filtering of nrid array
  libs/application/template-api-modules/src/lib/modules/templates/european-health-insurance-card/european-health-insurance-card.service.ts
  libs/application/templates/european-health-insurance-card/src/fields/CompletedScreen/CompletedScreen.tsx
Due: Application System API

check if nationalId exists in the array before adding it
  libs/application/template-api-modules/src/lib/modules/templates/european-health-insurance-card/european-health-insurance-card.service.ts
Due: Application System API

Improves defender email notifications
  apps/judicial-system/backend/src/app/formatters/formatters.ts
  apps/judicial-system/backend/src/app/formatters/index.ts
  apps/judicial-system/backend/src/app/modules/event/event.service.ts
  apps/judicial-system/backend/src/app/modules/notification/notification.service.ts
  apps/judicial-system/backend/src/app/modules/notification/test/internalNotificationController/sendDefenderAssignedNotifications.spec.ts
  libs/judicial-system/formatters/src/lib/formatters.ts
Due: none

Update volta used in system-e2e
  apps/system-e2e/package.json
Due: none

Safer result uploading
  apps/system-e2e/entrypoint.sh
Due: none

Revert criminal record changes
  apps/system-e2e/src/tests/islandis/application-system/acceptance/criminal-record.spec.ts
Due: none

Transform empty strings consistent fallback logic
  libs/application/template-api-modules/src/lib/modules/templates/estate/utils.ts
Due: Application System API

Remove unconditional throw
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
Due: Application System API

endorsement e2e cleanup
  apps/system-e2e/src/tests/islandis/web/smoke/endorsement.spec.ts
Due: none

format
  apps/system-e2e/src/tests/islandis/admin-portal/smoke/endorsements.spec.ts
  apps/system-e2e/src/tests/islandis/application-system/acceptance/endorsement-list.spec.ts
  apps/system-e2e/src/tests/islandis/web/smoke/endorsement.spec.ts
Due: none

Formatting
  apps/system-e2e/src/playwright.config.ts
Due: none

Reduce projects
  apps/system-e2e/src/playwright.config.ts
Due: none

Update libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
Due: Application System API

fix(ehic): Null pointer fix, unique nationalId array (#11413)
  libs/application/template-api-modules/src/lib/modules/templates/european-health-insurance-card/european-health-insurance-card.service.ts
  libs/application/templates/european-health-insurance-card/src/fields/CompletedScreen/CompletedScreen.tsx
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
