Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

removed sass and set correct version for eslint-config-next
  package.json
  yarn.lock
Due: none

chore: charts update dirty files
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

the desember will be procentage
  apps/financial-aid/web-veita/src/components/MunicipalityAdminSettings/MunicipalityAdminSettings.tsx
Due: none

fix: remove docker
  .github/workflows/pullrequest.yml
Due: none

TS-802 new school page - Added margin bottom to no childer page
  libs/application/templates/new-primary-school/src/forms/Prerequisites.ts
Due: Application System API

fix: cache
  .github/workflows/push.yml
Due: none

chore: nx format:write update dirty files
  libs/portals/admin/form-system/src/components/MainContent/components/InputContent/components/InputSettings/InputSettings.tsx
Due: none

fix(fa): fixing spouse personal tax calculation (#15115)
  apps/financial-aid/web-veita/src/components/ModalTypes/AcceptModal.tsx
  libs/financial-aid/shared/src/lib/taxCalculator.spec.ts
  libs/financial-aid/shared/src/lib/taxCalculator.ts
Due: none

removed disability from dataprovider, not only with permission
  apps/application-system/api/infra/application-system-api.ts
  apps/application-system/api/src/app/app.module.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/application/template-api-modules/src/lib/modules/shared/api/disability-license/disability-license.module.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/disability-license/disability-license.service.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/index.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/national-registry/national-registry.service.ts
  libs/application/templates/id-card/src/dataProviders/index.ts
  libs/application/templates/id-card/src/fields/HasDisabilityLicenseMessage/index.tsx
  libs/application/templates/id-card/src/forms/IdCardForm/PriceList/index.ts
  libs/application/templates/id-card/src/forms/Prerequisites/index.ts
  libs/application/templates/id-card/src/lib/IdCardTemplate.ts
  libs/application/templates/id-card/src/lib/dataSchema.ts
  libs/application/templates/id-card/src/lib/messages/applicantInformation.ts
  libs/application/templates/id-card/src/lib/queries.ts
  libs/application/templates/id-card/src/utils/hasDiscount.ts
Due: Application System API

fix(ojoi): Fixing bugs found in demo (#15130)
  apps/web/screens/queries/OfficialJournalOfIceland.ts
  libs/api/domains/official-journal-of-iceland/src/lib/models/advert.input.ts
  libs/api/domains/official-journal-of-iceland/src/lib/models/advert.response.ts
  libs/api/domains/official-journal-of-iceland/src/lib/models/single.input.ts
  libs/api/domains/official-journal-of-iceland/src/lib/officialJournalOfIceland.resolver.ts
  libs/api/domains/official-journal-of-iceland/src/lib/officialJournalOfIceland.service.ts
  libs/application/templates/official-journal-of-iceland/src/components/htmlEditor/HTMLEditor.css.ts
  libs/application/templates/official-journal-of-iceland/src/components/signatures/Regular.tsx
  libs/application/templates/official-journal-of-iceland/src/components/signatures/Signatures.css.ts
  libs/application/templates/official-journal-of-iceland/src/fields/Advert.css.ts
  libs/application/templates/official-journal-of-iceland/src/fields/Advert.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/AdvertModal.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/Preview.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/Publishing.tsx
  libs/application/templates/official-journal-of-iceland/src/fields/Summary.tsx
  libs/application/templates/official-journal-of-iceland/src/graphql/queries.ts
  libs/application/templates/official-journal-of-iceland/src/lib/constants.ts
  libs/application/templates/official-journal-of-iceland/src/lib/dataSchema.ts
  libs/clients/official-journal-of-iceland/public/src/clientConfig.json
  libs/clients/official-journal-of-iceland/public/src/lib/officialJournalOfIcelandClient.service.ts
Due: Portal GraphQL, Application System API

update: use judicial client
  apps/api/src/app/app.module.ts
  libs/api/domains/law-and-order/src/lib/law-and-order.module.ts
  libs/api/domains/law-and-order/src/lib/law-and-order.service.ts
  libs/clients/judicial-system-sp/src/clientConfig.json
  libs/clients/law-and-order/.eslintrc.json
  libs/clients/law-and-order/README.md
  libs/clients/law-and-order/jest.config.ts
  libs/clients/law-and-order/project.json
  libs/clients/law-and-order/src/clientConfig.json
  libs/clients/law-and-order/src/index.ts
  libs/clients/law-and-order/src/lib/lawAndOrderClient.config.ts
  libs/clients/law-and-order/src/lib/lawAndOrderClient.module.ts
  libs/clients/law-and-order/src/lib/lawAndOrderClient.service.ts
  libs/clients/law-and-order/src/lib/providers.ts
  libs/clients/law-and-order/src/lib/shared.config.ts
  libs/clients/law-and-order/tsconfig.json
  libs/clients/law-and-order/tsconfig.lib.json
  libs/clients/law-and-order/tsconfig.spec.json
Due: Portal GraphQL

removed call to update application status
  apps/services/university-gateway/src/app/worker/worker.service.ts
Due: none

chore: charts update dirty files
  charts/islandis/values.staging.yaml
Due: none

fix: wtf
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
Due: none

feat(new-primary-school): Implement Allergies and intolerances page (#15107)
  libs/application/templates/new-primary-school/src/fields/Review/index.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/AllergiesAndIntolerances.tsx
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm.ts
  libs/application/templates/new-primary-school/src/lib/NewPrimarySchoolTemplate.ts
  libs/application/templates/new-primary-school/src/lib/constants.ts
  libs/application/templates/new-primary-school/src/lib/dataSchema.ts
  libs/application/templates/new-primary-school/src/lib/messages.ts
  libs/application/templates/new-primary-school/src/lib/newPrimarySchoolUtils.ts
Due: Application System API

fix(inheritance-report): EFS fixes 6/06 (#15132)
  libs/application/templates/inheritance-report/src/forms/sections/assets.ts
  libs/application/templates/inheritance-report/src/forms/sections/deceased.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
  libs/application/templates/inheritance-report/src/lib/messages.ts
Due: Application System API

Add max width
  apps/web/components/Footer/Footer.css.ts
  apps/web/components/Footer/Footer.tsx
Due: none

bug: remove padding for component that shouldn't render
  libs/application/templates/passport-annulment/src/forms/Draft.ts
  libs/application/templates/passport-annulment/src/forms/sections/overview.ts
  libs/application/templates/reference-template/src/forms/ExampleForm.ts
  libs/application/ui-shell/src/components/FormMultiField.tsx
Due: Application System API

fixed the listSettings so it correctly switches between custom and predetermined lists
  libs/portals/admin/form-system/src/components/MainContent/components/InputContent/components/InputSettings/components/ListSettings.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/Preview/components/List.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/Preview/components/PropertyNumber.tsx
  libs/portals/admin/form-system/src/lib/utils/inputTypes.ts
Due: none

typo fix and other minor clean up
  apps/api/src/app/app.module.ts
  libs/api/domains/directorate-of-labour/src/lib/directorate-of-labour.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.module.ts
  libs/clients/data-protection-complaint/src/lib/data-protection-complaint.module.ts
  libs/clients/vmst/src/lib/apiConfiguration.ts
  libs/clients/vmst/src/lib/vmst.config.ts
Due: Portal GraphQL, Application System API

removing commented code
  apps/services/university-gateway/src/app/worker/worker.service.ts
Due: none

feat: get user in FormMultiField
  libs/application/templates/reference-template/src/forms/Prerequisites.ts
  libs/application/ui-shell/src/components/FormMultiField.tsx
  libs/application/ui-shell/src/lib/FormShell.tsx
Due: Application System API

chore: remove dev code
  libs/application/templates/reference-template/src/forms/Prerequisites.ts
Due: Application System API

fix(j-s): Swagger documentation made more specific
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/case.controller.ts
  apps/judicial-system/digital-mailbox-api/src/app/modules/cases/models/case.response.ts
  apps/judicial-system/digital-mailbox-api/src/app/modules/defenders/defender.controller.ts
Due: none

update tests
  apps/services/user-notification/src/app/modules/notifications/notificationDispatch.service.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/notificationsWorker.service.spec.ts
  apps/services/user-notification/src/app/modules/notifications/tests/messageProcessor.service.spec.ts
  apps/services/user-notification/src/app/modules/notifications/tests/notifications.service.spec.ts
  libs/clients/contentful-graphql/src/lib/cache.ts
  libs/clients/contentful-graphql/src/lib/contentful-graphql-fetch-provider.ts
  libs/clients/contentful-graphql/src/lib/contentful-graphql.service.ts
Due: none

Update defender.controller.ts
  apps/judicial-system/digital-mailbox-api/src/app/modules/defenders/defender.controller.ts
Due: none

remove console.log
  libs/auth-api-lib/src/lib/delegations/delegations-index.service.ts
Due: none

fix(university-gateway): Removing calls to update application status (#15133)
  apps/services/university-gateway/src/app/worker/worker.service.ts
Due: none

chore: Move formStepper logic to its own component
  libs/application/ui-shell/src/components/FormStepper.tsx
  libs/application/ui-shell/src/lib/FormShell.tsx
Due: none

chore: awoid merge conflict
  libs/application/ui-shell/src/lib/FormShell.tsx
Due: none

Use Pts instead of pxls
  apps/judicial-system/backend/src/app/formatters/coatOfArms.ts
  apps/judicial-system/backend/src/app/formatters/confirmedIndictmentPdf.ts
  apps/judicial-system/backend/src/app/formatters/indictmentPdf.ts
  apps/judicial-system/backend/src/app/formatters/pdfHelpers.ts
  apps/judicial-system/backend/src/app/modules/case/pdf.service.ts
Due: none

fix(delegation-index): primary key violation (#15086)
  libs/auth-api-lib/src/lib/delegations/delegations-index.service.ts
Due: none

Update update-document script in vehicles client library to change charsets as the file contains character sequence from iso8859-1 which is breaking typescript.
  libs/clients/vehicles/project.json
  libs/clients/vehicles/src/clientConfig.json
Due: none

chore: nx format:write update dirty files
  apps/api/project.json
Due: Portal GraphQL

stop BE application if glasses check returns true
  libs/api/domains/driving-license/src/lib/drivingLicense.type.ts
  libs/application/templates/driving-license/src/fields/EligibilitySummary/EligibilitySummary.tsx
  libs/application/templates/driving-license/src/fields/EligibilitySummary/extractReasons.ts
  libs/application/templates/driving-license/src/fields/EligibilitySummary/fakeEligibility.ts
  libs/application/templates/driving-license/src/fields/EligibilitySummary/useEligibility.ts
  libs/application/templates/driving-license/src/lib/messages.ts
Due: Portal GraphQL, Application System API

fix test
  libs/auth-api-lib/src/lib/delegations/delegations-index.service.ts
Due: none

chore: upgrade node version to 20.14.0 (#15024)
  package.json
Due: none

mock delegationIndexService.indexDelegation method in tests
  apps/services/auth/ids-api/src/app/delegations/delegations.controller.spec.ts
  apps/services/auth/ids-api/src/app/delegations/test/delegations-filters.spec.ts
  apps/services/auth/ids-api/src/app/delegations/test/delegations-scopes.spec.ts
  apps/services/auth/ids-api/test/setup.ts
Due: none

remove unused imports
  apps/services/auth/ids-api/src/app/delegations/test/delegations-filters-types.ts
  apps/services/auth/ids-api/src/app/delegations/test/delegations-filters.spec.ts
  apps/services/auth/ids-api/src/app/delegations/test/delegations-scopes.spec.ts
Due: none

fix(ids-api): mock delegation indexing in controller tests (#15138)
  apps/services/auth/ids-api/src/app/delegations/delegations.controller.spec.ts
  apps/services/auth/ids-api/src/app/delegations/test/delegations-filters-types.ts
  apps/services/auth/ids-api/src/app/delegations/test/delegations-filters.spec.ts
  apps/services/auth/ids-api/src/app/delegations/test/delegations-scopes.spec.ts
  apps/services/auth/ids-api/test/setup.ts
  libs/auth-api-lib/src/lib/delegations/delegations-index.service.ts
Due: none
