Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

adjust unit test
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.spec.ts
Due: Application System API

added graphql layer to get tenant by id
  libs/api/domains/auth-admin/src/lib/tenant/tenant.resolver.ts
  libs/api/domains/auth-admin/src/lib/tenant/tenants.service.spec.ts
  libs/api/domains/auth-admin/src/lib/tenant/tenants.service.ts
  libs/clients/auth/admin-api/src/lib/auth-admin-api-client.config.ts
Due: Portal GraphQL

fixed tests
  libs/api/domains/auth-admin/src/lib/tenant/tenants.service.spec.ts
Due: Portal GraphQL

fix(web): Filter out alert banners that should not be shown (#10516)
  apps/web/layouts/main.tsx
Due: none

Add domain relation to client. Best effort migration script to populate the new domain_name field on the client.
  libs/auth-api-lib/migrations/20230308090434-add-domain-relation-to-client.js
  libs/auth-api-lib/src/lib/clients/models/client.model.ts
  libs/auth-api-lib/src/lib/resources/models/domain.model.ts
Due: none

Add dropdown in auth admin web with all domains to apply domain to client.
  apps/auth-admin-web/components/Client/form/ClientCreateForm.tsx
  apps/auth-admin-web/entities/dtos/base/client-base.dto.ts
  apps/auth-admin-web/i18n/locales/en.json
  libs/auth-api-lib/src/lib/clients/dto/base/client-base.dto.ts
Due: none

fix(parental-leave): Keep companyId to use when abort period changes
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API

fix(parental-leave): Keep companyId to use when abort period changes (#10523)
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API

Updates tests
  apps/judicial-system/web/src/routes/Shared/SignedVerdictOverview/SignedVerdictOverview.spec.tsx
Due: none

fix: import
  libs/api/domains/license-service/src/lib/licenseService.module.ts
Due: Portal GraphQL

feat(ids-admin): Scaffold v2 client admin controller and admin services
  apps/services/auth/admin-api/src/app/app.module.ts
  apps/services/auth/admin-api/src/app/v2/clients/clients.module.ts
  apps/services/auth/admin-api/src/app/v2/clients/me-clients.controller.ts
  apps/services/auth/admin-api/src/app/v2/clients/test/me-clients.auth.spec.ts
  apps/services/auth/admin-api/src/app/v2/clients/test/me-clients.spec.ts
  apps/services/auth/admin-api/src/app/v2/tenants/me-tenant.guard.ts
  apps/services/auth/admin-api/src/app/v2/tenants/me-tenants.controller.ts
  apps/services/auth/admin-api/src/app/v2/tenants/tenants.module.ts
  apps/services/auth/admin-api/src/app/v2/tenants/test/me-tenants.auth.spec.ts
  apps/services/auth/admin-api/src/app/v2/tenants/test/me-tenants.spec.ts
  libs/auth-api-lib/src/index.ts
  libs/auth-api-lib/src/lib/clients/admin/admin-clients.service.ts
  libs/auth-api-lib/src/lib/clients/admin/dto/admin-client-type.enum.ts
  libs/auth-api-lib/src/lib/clients/admin/dto/admin-client.dto.ts
  libs/auth-api-lib/src/lib/clients/admin/dto/admin-create-client.dto.ts
  libs/auth-api-lib/src/lib/clients/clients.module.ts
  libs/auth-api-lib/src/lib/resources/me-tenant.guard.ts
  libs/auth-api-lib/src/lib/resources/tenants.service.ts
Due: none

Set strict to true
  apps/web/tsconfig.json
Due: none

fixing issues with sliders in the parental leave.
  libs/application/templates/parental-leave/src/fields/Duration/Duration.tsx
  libs/application/templates/parental-leave/src/fields/Rights/GiveDaysSlider.tsx
  libs/application/templates/parental-leave/src/fields/Rights/RequestDaysSlider.tsx
  libs/application/templates/parental-leave/src/fields/Rights/RequestMultipleBirthsDaysSlider.tsx
Due: Application System API

feat: add TR client/scope
  libs/auth-api-lib/seeders/data/client-licenses-tr.ts
Due: none

feat(ids-admin): ApplicationDetails screen and graphql layer (#10477)
  libs/api/domains/auth-admin/src/lib/application/application.resolver.ts
  libs/api/domains/auth-admin/src/lib/application/applications.service.ts
  libs/api/domains/auth-admin/src/lib/application/dto/applications-details-payload.ts
  libs/api/domains/auth-admin/src/lib/application/dto/applications.input.ts
  libs/api/domains/auth-admin/src/lib/application/models/application-applicationUrl.model.ts
  libs/api/domains/auth-admin/src/lib/application/models/application-basic-info.model.ts
  libs/api/domains/auth-admin/src/lib/application/models/application-details-environment.model.ts
  libs/api/domains/auth-admin/src/lib/application/models/application-details.model.ts
  libs/api/domains/auth-admin/src/lib/application/models/application-lifetime.model.ts
  libs/clients/auth/admin-api/src/lib/auth-admin-api-client.config.ts
  libs/island-ui/core/src/lib/Input/types.ts
  libs/island-ui/core/src/lib/Tabs/Tabs.tsx
  libs/island-ui/core/src/lib/ToggleSwitch/ToggleSwitchCheckbox.tsx
  libs/portals/admin/ids-admin/src/components/Application/Application.graphql
  libs/portals/admin/ids-admin/src/components/Application/Application.loader.ts
  libs/portals/admin/ids-admin/src/components/Application/Application.tsx
  libs/portals/admin/ids-admin/src/components/Application/ApplicationsUrl.tsx
  libs/portals/admin/ids-admin/src/components/Application/BasicInfo.tsx
  libs/portals/admin/ids-admin/src/components/Application/ContentCard.tsx
  libs/portals/admin/ids-admin/src/components/Application/Lifetime.tsx
  libs/portals/admin/ids-admin/src/components/Application/Translations.tsx
  libs/portals/admin/ids-admin/src/components/Applications/Applications.graphql
  libs/portals/admin/ids-admin/src/components/Applications/Applications.loader.ts
  libs/portals/admin/ids-admin/src/components/Applications/Applications.tsx
  libs/portals/admin/ids-admin/src/components/TenantsList/TenantsList.tsx
  libs/portals/admin/ids-admin/src/lib/messages.ts
  libs/portals/admin/ids-admin/src/module.tsx
Due: Portal GraphQL

feat: add X button to header
  apps/service-portal/src/components/Header/Header.tsx
  apps/service-portal/src/components/Sidemenu/Sidemenu.tsx
  libs/service-portal/documents/src/screens/Overview/Overview.tsx
  libs/shared/components/src/auth/UserMenu/UserDropdown.tsx
  libs/shared/components/src/auth/UserMenu/UserMenu.tsx
Due: none

fix(parental-leave): personal allowance (#10521)
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.spec.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API

fix ref issue with parental leave
  libs/application/templates/parental-leave/src/fields/SelfEmployed/index.tsx
Due: Application System API

fix: samradsgatt/kam 1004 text corrections (#10517)
  apps/consultation-portal/components/About/AboutRTF.tsx
  apps/consultation-portal/components/About/Information.css.ts
  apps/consultation-portal/components/About/Information.tsx
  apps/consultation-portal/components/About/MainColumn.tsx
  apps/consultation-portal/components/About/RightSideColumn.tsx
  apps/consultation-portal/components/Card/Card.tsx
  apps/consultation-portal/components/CaseOverview/CaseOverview.tsx
  apps/consultation-portal/components/CaseTimeline/CaseTimeline.tsx
  apps/consultation-portal/components/Footer/Footer.tsx
  apps/consultation-portal/components/HeroBanner/HeroBanner.tsx
  apps/consultation-portal/components/SubscriptionBox/SubscriptionBox.tsx
  apps/consultation-portal/components/WriteReviewCard/WriteReviewCard.tsx
  apps/consultation-portal/pages/_app.tsx
  apps/consultation-portal/screens/Case/Case.tsx
  apps/consultation-portal/screens/Case/getCase.graphql.ts
  apps/consultation-portal/screens/Home/Home.tsx
  apps/consultation-portal/screens/Subscriptions/Subscriptions.tsx
  apps/consultation-portal/utils/helpers/dateFormatter.ts
  apps/consultation-portal/utils/helpers/useScrollSpy.ts
Due: none

fix(applications): ol and mc minor fixes (#10519)
  libs/application/template-api-modules/src/lib/modules/templates/operating-license/operatingLicense.service.ts
  libs/application/templates/marriage-conditions/src/forms/spouseConfirmation.ts
  libs/application/templates/operating-license/src/fields/PropertyRepeater/index.tsx
  libs/application/templates/operating-license/src/forms/draft/draft.ts
  libs/application/templates/operating-license/src/lib/dataSchema.ts
Due: Application System API

Move podman specifics to own script
  scripts/ci/_docker.sh
  scripts/ci/_podman.sh
Due: none

Enable local cache for _docker
  scripts/ci/_docker.sh
Due: none

Remove CF string
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseNumbers/PoliceCaseNumbers.strings.ts
Due: none

Run tests as pwuser
  scripts/ci/Dockerfile
Due: none

fix(parental-leave): personal allowance (#10521) (#10528)
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.spec.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API

fix(j-s): Remove "close" icon on disabled police case number tags (#10511)
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseNumbers/PoliceCaseNumbers.spec.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseNumbers/PoliceCaseNumbers.strings.ts
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseNumbers/PoliceCaseNumbers.tsx
  libs/island-ui/core/src/lib/Tag/Tag.css.ts
  libs/island-ui/core/src/lib/Tag/Tag.tsx
Due: none

Updates e2e tests
  apps/judicial-system/web-e2e/src/integration/Court/InvestigationCases/signedVerdictOverview.spec.ts
  apps/judicial-system/web-e2e/src/integration/Court/RestrictionCases/signedVerdictOverview.spec.ts
Due: none

remove console logs and hardcoded input
  apps/application-system/api/src/app/modules/application/application.controller.ts
  apps/application-system/api/src/app/modules/application/tools/applicationTemplateValidation.service.ts
  libs/api/domains/application/src/lib/application.service.ts
Due: Portal GraphQL, Application System API

fix(j-s): Added test for relevant substances and ordering
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.spec.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
Due: none

fix(j-s): Reorder
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCount.tsx
Due: none

fix(parental-leave): Add employer to parental grant (#10281)
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/constants.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/emailGenerators/applicationApprovedByEmployerToEmployer.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.utils.ts
  libs/application/templates/parental-leave/src/fields/EmployersOverview/index.tsx
  libs/application/templates/parental-leave/src/fields/InReviewSteps/index.tsx
  libs/application/templates/parental-leave/src/fields/PeriodsSectionImage/ConclusionImageScreen.tsx
  libs/application/templates/parental-leave/src/fields/Review/Review.tsx
  libs/application/templates/parental-leave/src/fields/Review/review-groups/Employment.tsx
  libs/application/templates/parental-leave/src/forms/ParentalLeaveForm.ts
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
  libs/application/templates/parental-leave/src/lib/answerValidationSections/fileUploadValidationSection.ts
  libs/application/templates/parental-leave/src/lib/answerValidationSections/validateLastestEmployerValidationSection.ts
  libs/application/templates/parental-leave/src/lib/messages.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveTemplateUtils.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.ts
  libs/application/templates/parental-leave/src/types.ts
Due: Application System API

fixes in kt search
  libs/application/templates/estate/src/fields/EstateMembersRepeater/AdditionalEstateMember.tsx
  libs/application/templates/estate/src/fields/EstateMembersRepeater/index.tsx
Due: Application System API

onchange values need to be toString for validation to accept values
  libs/application/templates/parental-leave/src/fields/Rights/GiveDaysSlider.tsx
  libs/application/templates/parental-leave/src/fields/Rights/RequestDaysSlider.tsx
  libs/application/templates/parental-leave/src/fields/Rights/RequestMultipleBirthsDaysSlider.tsx
Due: Application System API

adding representative to overview
  libs/application/templates/estate/src/forms/DivisionOfEstateByHeirs/overviewSection.ts
Due: Application System API

Linting
  apps/system-e2e/src/support/utils.ts
Due: none

web regulation input
  apps/web/screens/Regulations/RegulationsHome.tsx
Due: none

fix(auth-admin-api): Auth admin api support for multiple issuers (#10480)
  apps/github-actions-cache/src/app/auth.ts
  apps/services/auth/admin-api/infra/auth-admin-api.ts
  apps/services/auth/admin-api/src/environments/environment.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
  libs/application/template-api-modules/jest.config.js
  libs/auth-nest-tools/jest.config.js
  libs/auth-nest-tools/src/lib/create-key-provider.ts
  libs/auth-nest-tools/src/lib/jwt.strategy.ts
  libs/nest/problem/jest.config.js
  package.json
  yarn.lock
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
