Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fix(as): Correctly handle translation objects in application templates
  libs/application/template-loader/src/index.ts
Due: Application System API

fix(j-s): Correcting Indictment Fixes (#21466)
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.tsx
Due: none

fix(new-primary-school): hide continuing enrollment application type (#21470)
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/applicationTypeSection.ts
Due: Application System API

fix(as): Correctly handle translation objects in application templates (#21472)
  libs/application/template-loader/src/index.ts
Due: Application System API

Add key to div
  apps/judicial-system/web/src/components/InfoCard/useInfoCardItems.tsx
Due: none

fix(application-system): Fix car rental links (#21471)
  libs/application/templates/car-rental-dayrate-returns/src/forms/prerequisitesForm/index.ts
  libs/application/templates/car-rental-dayrate-returns/src/lib/messages.ts
  libs/application/templates/car-rental-fee-category/src/forms/prerequisitesForm/index.ts
  libs/application/templates/car-rental-fee-category/src/lib/messages.ts
  libs/application/templates/car-rental-fee-category/src/utils/UploadCarCategoryFileUtils.ts
  libs/application/templates/car-rental-fee-category/src/utils/dayRateUtils.ts
  libs/application/types/src/lib/Form.ts
  libs/application/ui-shell/src/components/FormExternalDataProvider.tsx
Due: Application System API

feat: FILTERING WORKS
  apps/web/screens/OpenInvoices/Overview/Overview.graphql.tsx
  apps/web/screens/OpenInvoices/Overview/Overview.tsx
  apps/web/screens/OpenInvoices/types.ts
  libs/api/domains/icelandic-government-institutions/src/lib/dtos/getInvoiceGroup.input.ts
  libs/api/domains/icelandic-government-institutions/src/lib/dtos/getInvoiceGroups.input.ts
  libs/api/domains/icelandic-government-institutions/src/lib/dtos/getInvoicePaymentTypes.input.ts
  libs/api/domains/icelandic-government-institutions/src/lib/dtos/getInvoices.input.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/invoiceItemMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/invoicePaymentTypeMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mocks/INVOICE_PAYMENT_TYPES.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoiceItem.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoicePaymentType.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoicePaymentTypes.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoicesFilters.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoiceGroups.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/services/invoices/invoices.service.interface.ts
  libs/api/domains/icelandic-government-institutions/src/lib/services/invoices/invoices.service.mock.ts
  libs/api/domains/icelandic-government-institutions/src/lib/services/invoices/invoices.service.ts
  libs/api/domains/icelandic-government-institutions/src/lib/types.ts
  libs/clients/elfur/src/clientConfig.json
  libs/clients/elfur/src/index.ts
  libs/clients/elfur/src/lib/dtos/invoiceGroupInvoiceItemization.dto.ts
  libs/clients/elfur/src/lib/dtos/invoicePaymentType.dto.ts
  libs/clients/elfur/src/lib/dtos/invoicePaymentTypes.dto.ts
  libs/clients/elfur/src/lib/dtos/invoiceRequest.dto.ts
  libs/clients/elfur/src/lib/elfur.config.ts
  libs/clients/elfur/src/lib/elfur.service.ts
Due: Portal GraphQL

fix(j-s): fix verdict service date (#21459)
  apps/judicial-system/backend/migrations/20260209152933-fix-verdict-service-date.js
Due: none

fix(new-primary-school): hide continuing enrollment application type (#21474)
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/applicationTypeSection.ts
Due: Application System API

fix: client auht works
  libs/auth-nest-tools/src/lib/auth.middleware.ts
  libs/clients/hms-rental-agreement/src/clientConfig.json
  libs/clients/hms-rental-agreement/src/customMiddleware.ts
  libs/clients/hms-rental-agreement/src/hmsRentalAgreement.service.ts
  libs/clients/hms-rental-agreement/src/middleware/entraTokenMiddleware.ts
Due: none

Add migration to set missing piliceSubpoenaId on subpoenas
  apps/judicial-system/backend/migrations/20260210135721-fix-subpoenas.js
Due: none

Prevent circular merge
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
Due: none

Use ákærði instead of varnaraðili in indictment court record pdf
  apps/judicial-system/backend/src/app/formatters/indictmentCourtRecordPdf.ts
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtSessionAccordionItem.tsx
  libs/judicial-system/formatters/src/lib/formatters.ts
Due: none

fix(althingi-ombudsman): add invalid cache handling (#21464)
  libs/clients/althingi-ombudsman/src/lib/client-althingi-ombudsman.middleware.ts
Due: none

Does not create a court session on receive
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
Due: none

Checkpoint
  apps/judicial-system/backend/migrations/20260210152935-update-institution-contact.js
  apps/judicial-system/backend/src/app/modules/notification/services/caseNotification/caseNotification.service.ts
Due: none

Fix to make sure form-system runs
  apps/services/form-system/src/README.md
  apps/services/form-system/src/app/modules/applications/admin.controller.ts
  apps/services/form-system/src/app/modules/applications/applications.service.ts
  libs/api/domains/application/src/lib/application-admin/application-adminV2.resolver.ts
  libs/api/domains/application/src/lib/application-admin/application-adminV2.service.ts
  libs/api/domains/application/src/lib/applicationV2.service.ts
Due: Portal GraphQL

Change vehicle.mileage -> vehicleMileage.value Cleanup usage of "as"
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/Overview/sections/VehicleSection.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/Overview/sections/VehicleSection.tsx
Due: Application System API

Cleanup
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/Overview/sections/VehicleSection.tsx
Due: Application System API

Reverts change
  libs/nest/config/src/lib/types.ts
Due: none

Fixes build issues
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/splitDefendantFromCase.spec.ts
Due: none

chore: lint
  apps/download-service/src/app/modules/rental-agreements/rental-agreements.controller.ts
  libs/clients/hms-rental-agreement/src/hmsRentalAgreement.service.ts
Due: none

chore: update paths
  apps/api/infra/api.ts
  libs/clients/elfur/src/lib/elfur.config.ts
Due: Portal GraphQL

chore: charts update dirty file
  charts/islandis-services/api/values.dev.yaml
  charts/islandis/values.dev.yaml
Due: none

fix(as): Rename duplicated message ids
  libs/application/templates/marriage-conditions/src/lib/messages.ts
Due: Application System API

lint
  apps/judicial-system/backend/migrations/20260210135721-fix-subpoenas.js
Due: none

fix(transfer of vehicle ownership): Display mileage in overview (#21479)
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/Overview/sections/VehicleSection.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/Overview/sections/VehicleSection.tsx
Due: Application System API

fix(transfer of vehicle ownership): Display mileage in overview (release) (#21480)
  libs/application/templates/transport-authority/change-operator-of-vehicle/src/fields/Overview/sections/VehicleSection.tsx
  libs/application/templates/transport-authority/transfer-of-vehicle-ownership/src/fields/Overview/sections/VehicleSection.tsx
Due: Application System API

Add refundFailedAfterPaymentError and handle payment gateway apple pay session error
  apps/payments/messages/card.ts
  apps/payments/utils/error/error.ts
  apps/services/payments/src/app/cardPayment/cardPayment.controller.spec.ts
  apps/services/payments/src/app/cardPayment/cardPayment.controller.ts
  apps/services/payments/src/utils/paymentErrors.ts
  libs/shared/constants/src/lib/paymentErrorCodes.ts
Due: none

reuse test setup for saga tests
  apps/services/payments/src/app/cardPayment/test/applePayPayment.saga.spec.ts
  apps/services/payments/src/app/cardPayment/test/cardPayment.saga.spec.ts
  apps/services/payments/src/app/cardPayment/test/refund.saga.spec.ts
  apps/services/payments/src/app/cardPayment/test/sagaSteps.shared.spec.ts
  apps/services/payments/src/app/cardPayment/test/sagaTestUtils/index.ts
  apps/services/payments/src/app/cardPayment/test/sagaTestUtils/inputs.ts
  apps/services/payments/src/app/cardPayment/test/sagaTestUtils/mockServices.ts
  apps/services/payments/src/app/cardPayment/test/sagaTestUtils/mocks.ts
Due: none

fix(as): Rename duplicated message ids (#21481)
  libs/application/templates/marriage-conditions/src/lib/messages.ts
Due: Application System API

Add crossOrigin to script
  apps/payments/pages/_document.tsx
  apps/services/payments/migrations/20260203083625-update-flow-event-reason-values.js
  apps/services/payments/src/app/paymentFlow/models/paymentFlow.model.ts
Due: none

Add constraint so each payment flow can have one active fulfillment and payment
  apps/services/payments/migrations/20260211075137-add-unique-constraint-for-payments.js
Due: none

use different success/fail schemas for gateway responses
  apps/services/payments/src/app/cardPayment/applePayPayment.saga.ts
  apps/services/payments/src/app/cardPayment/cardPayment.orchestrator.ts
  apps/services/payments/src/app/cardPayment/cardPayment.saga.ts
  apps/services/payments/src/app/cardPayment/cardPayment.service.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.service.ts
  apps/services/payments/src/types/cardPayment.ts
Due: none

fix: filter out signature photos in driving license duplicate
  libs/application/templates/transport-authority/driving-license-duplicate/src/forms/sections/sectionPhoto.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
