Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

Cleanup
  apps/services/payments/src/main.ts
  apps/services/user-profile/src/app/user-profile/user-profile.service.ts
  apps/services/user-profile/src/main.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
Due: Application System API

Return court.name
  apps/web/screens/CourtAgendas/CourtAgendas.tsx
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: none

fix: modal mobile ui
  libs/portals/my-pages/health/src/components/GenericRenewModal/GenericRenewModal.css.ts
  libs/portals/my-pages/health/src/components/GenericRenewModal/GenericRenewModal.tsx
Due: none

Remove unused function
  apps/judicial-system/backend/src/app/formatters/pdf.ts
Due: none

chore(application-system): Increase max attachment count to 20 for FCA (#20267)
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/forms/mainForm/photoSection.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/lib/dataSchema.ts
Due: Application System API

fix(j-s): loke file type code
  apps/judicial-system/backend/src/app/modules/police/police.service.ts
Due: none

fix(j-s): message.ts order
  libs/judicial-system/message/src/lib/message.ts
Due: none

Change return type for processSyncData method
  libs/cms/src/lib/search/cmsSync.service.ts
  libs/cms/src/lib/search/importers/anchorPage.service.ts
  libs/cms/src/lib/search/importers/article.service.ts
  libs/cms/src/lib/search/importers/articleCategory.service.ts
  libs/cms/src/lib/search/importers/bloodDonationRestriction.service.ts
  libs/cms/src/lib/search/importers/customPage.service.ts
  libs/cms/src/lib/search/importers/enhancedAsset.service.ts
  libs/cms/src/lib/search/importers/event.service.ts
  libs/cms/src/lib/search/importers/frontpage.service.ts
  libs/cms/src/lib/search/importers/genericListItem.service.ts
  libs/cms/src/lib/search/importers/grants.service.ts
  libs/cms/src/lib/search/importers/groupedMenu.service.ts
  libs/cms/src/lib/search/importers/lifeEventPage.service.ts
  libs/cms/src/lib/search/importers/link.service.ts
  libs/cms/src/lib/search/importers/manual.service.ts
  libs/cms/src/lib/search/importers/manualChapterItem.service.ts
  libs/cms/src/lib/search/importers/menu.service.ts
  libs/cms/src/lib/search/importers/news.service.ts
  libs/cms/src/lib/search/importers/organizationPage.service.ts
  libs/cms/src/lib/search/importers/organizationParentSubpage.service.ts
  libs/cms/src/lib/search/importers/organizationSubpage.service.ts
  libs/cms/src/lib/search/importers/projectPage.service.ts
  libs/cms/src/lib/search/importers/serviceWebPage.service.ts
  libs/cms/src/lib/search/importers/subArticle.service.ts
  libs/cms/src/lib/search/importers/supportQNA.service.ts
  libs/cms/src/lib/search/importers/teamList.service.ts
  libs/cms/src/lib/search/importers/vacancy.service.ts
Due: none

Add page number to first page
  apps/judicial-system/backend/src/app/formatters/caseFilesRecordPdf.ts
  apps/judicial-system/backend/src/app/formatters/pdf.ts
Due: none

trigger deployments feature
  apps/services/auth/ids-api/src/main.ts
  apps/services/user-notification/src/main.ts
Due: none

adding real estate id
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
  libs/application/template-api-modules/src/lib/notification/notificationsTemplates.ts
  libs/application/types/src/lib/NotificationTypes.ts
Due: Application System API

feat: update naming
  apps/api/src/app/app.module.ts
  libs/api/domains/icelandic-government-employees/README.md
  libs/api/domains/icelandic-government-employees/src/index.ts
  libs/api/domains/icelandic-government-employees/src/lib/employees.module.ts
  libs/api/domains/icelandic-government-institutions/.eslintrc.json
  libs/api/domains/icelandic-government-institutions/README.md
  libs/api/domains/icelandic-government-institutions/jest.config.ts
  libs/api/domains/icelandic-government-institutions/project.json
  libs/api/domains/icelandic-government-institutions/src/index.ts
  libs/api/domains/icelandic-government-institutions/src/lib/dtos/getEmployeeList.input.ts
  libs/api/domains/icelandic-government-institutions/src/lib/icelandicGovernmentInstitutions.module.ts
  libs/api/domains/icelandic-government-institutions/src/lib/mappers/employeeMapper.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/employee.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/employeeList.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoice.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/models/location.model.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/employees.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoices.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/services/employees.service.ts
  libs/api/domains/icelandic-government-institutions/src/lib/services/invoices.service.ts
  libs/api/domains/icelandic-government-institutions/tsconfig.json
  libs/api/domains/icelandic-government-institutions/tsconfig.lib.json
  libs/api/domains/icelandic-government-institutions/tsconfig.spec.json
  libs/clients/elfur/src/lib/apiConfig.ts
  libs/clients/elfur/src/lib/elfur.service.ts
  libs/clients/elfur/src/lib/providers.ts
  tsconfig.base.json
Due: Portal GraphQL

fix: remove model
  libs/api/domains/icelandic-government-institutions/src/lib/models/invoice.model.ts
Due: Portal GraphQL

chore: format update dirty file
  libs/api/domains/icelandic-government-institutions/src/index.ts
  libs/api/domains/icelandic-government-institutions/src/lib/icelandicGovernmentInstitutions.module.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/employees.resolver.ts
  libs/api/domains/icelandic-government-institutions/src/lib/resolvers/invoices.resolver.ts
  libs/clients/elfur/src/lib/apiConfig.ts
  libs/clients/elfur/src/lib/elfur.service.ts
  libs/clients/elfur/src/lib/providers.ts
Due: Portal GraphQL

fix(as-hi): Add improved error handling with descriptive messages
  libs/application/template-api-modules/src/lib/modules/templates/health-insurance/health-insurance.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/health-insurance/health-insurance.utils.ts
  libs/application/template-api-modules/src/lib/modules/templates/health-insurance/types/health-insurance-types.ts
  libs/application/templates/health-insurance/src/index.ts
  libs/application/templates/health-insurance/src/lib/messages/errorMessages.ts
Due: Application System API

lintfix
  libs/application/template-api-modules/src/lib/modules/templates/health-insurance/health-insurance.service.ts
Due: Application System API

fix(j-s): MultipleValueList component spacing (#20344)
  apps/judicial-system/web/src/components/MultipleValueList/MultipleValueList.css.ts
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtSessionAccordionItem.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseNumbers/PoliceCaseNumbers.tsx
Due: none

chore(j-s): move end of session bookings text from the pdf (#20346)
  apps/judicial-system/backend/src/app/formatters/courtRecordPdf.ts
  apps/judicial-system/backend/src/app/messages/pdfCourtRecord.ts
  apps/judicial-system/web/src/routes/Court/InvestigationCase/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/CourtRecord/helpers/endOfSessionBookings.ts
  apps/judicial-system/web/src/routes/Court/components/AppealSections/AppealSections.tsx
  apps/judicial-system/web/src/routes/Court/shared/populateEndOfCourtSessionBookingsIntro.ts
  apps/judicial-system/web/src/utils/validate.ts
Due: none

fix(j-s): Fix "úrskurðarorð" (#20395)
  apps/judicial-system/backend/src/app/messages/pdfCourtRecord.ts
  apps/judicial-system/backend/src/app/messages/pdfRuling.ts
  apps/judicial-system/web/src/routes/Court/InvestigationCase/Ruling/Ruling.strings.ts
  apps/judicial-system/web/src/routes/Court/RestrictionCase/Ruling/Ruling.strings.ts
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.strings.ts
  apps/system-e2e/src/tests/judicial-system/regression/shared-steps/complete-appeal.ts
Due: none

fix(j-s): requested defender and when defendant wavies defender rights
  apps/judicial-system/web/src/components/Inputs/InputAdvocate.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/SelectDefender.tsx
Due: none

fix(j-s): adjust delivery supplements to match RLS dto v2 (#20405)
  apps/judicial-system/xrd-api/src/app/app.service.ts
  apps/judicial-system/xrd-api/src/app/dto/policeDocument.dto.ts
Due: none

chore(j-s): Remove bodily injury from list og indictment subtypes (#20312)
  apps/judicial-system/backend/src/app/modules/court/court.service.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Defendant/PoliceCaseList/PoliceCase/PoliceCase.tsx
  libs/judicial-system/formatters/src/lib/formatters.ts
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

chore(j-s): Option to add default judgement when defendant(s) are not present in court (#20314)
  apps/judicial-system/api/src/app/modules/backend/backend.service.ts
  apps/judicial-system/api/src/app/modules/verdict/dto/createVerdicts.input.ts
  apps/judicial-system/api/src/app/modules/verdict/dto/updateVerdict.input.ts
  apps/judicial-system/api/src/app/modules/verdict/models/verdict.model.ts
  apps/judicial-system/api/src/app/modules/verdict/verdict.resolver.ts
  apps/judicial-system/backend/migrations/20251006113335-update-verdict.js
  apps/judicial-system/backend/src/app/formatters/verdictServiceCertificatePdf.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/repository/models/verdict.model.ts
  apps/judicial-system/backend/src/app/modules/verdict/dto/createVerdict.dto.ts
  apps/judicial-system/backend/src/app/modules/verdict/dto/updateVerdict.dto.ts
  apps/judicial-system/backend/src/app/modules/verdict/test/verdictController/verdictControllerGuards.spec.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.controller.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.service.ts
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/components/SelectableList/SelectableList.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/DefendantServiceRequirement.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
  apps/judicial-system/web/src/utils/hooks/useVerdict/createVerdicts.graphql
  apps/judicial-system/web/src/utils/hooks/useVerdict/index.ts
  apps/judicial-system/web/src/utils/hooks/useVerdict/verdict.graphql
  libs/judicial-system/audit-trail/src/lib/auditTrail.service.ts
Due: none

chore(j-s): Add to "Create case" description (#20411)
  apps/judicial-system/web/src/routes/Shared/CaseTableGroups/CaseTableGroups.css.ts
  apps/judicial-system/web/src/routes/Shared/CaseTableGroups/CaseTableGroups.tsx
Due: none

fix(j-s): add disabled state for court record files (#20418)
  apps/judicial-system/web/src/components/CourtDocuments/CourtDocuments.tsx
  apps/judicial-system/web/src/components/EditableCaseFile/EditableCaseFile.css.ts
  apps/judicial-system/web/src/components/EditableCaseFile/EditableCaseFile.tsx
  apps/judicial-system/web/src/components/MultipleValueList/MultipleValueList.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtSessionAccordionItem.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseNumbers/PoliceCaseNumbers.tsx
Due: none

fix: text overflow and mismatch between label and text
  libs/portals/my-pages/health/src/components/GenericRenewModal/GenericRenewModal.css.ts
  libs/portals/my-pages/health/src/components/GenericRenewModal/GenericRenewModal.tsx
  libs/portals/my-pages/health/src/screens/AidsAndNutrition/Aids.tsx
Due: none

trigger
  apps/services/user-profile/src/main.ts
Due: none

chore: update clientConfig file
  libs/clients/mms/frigg/src/clientConfig.json
Due: none

fix -> close the dropdown when items inside are pressed
  apps/native/app/src/components/dropdown/dropdown-menu-overlay.tsx
  apps/native/app/src/components/dropdown/dropdown-overlay-context.tsx
  apps/native/app/src/components/external-links/external-links.tsx
  apps/native/app/src/screens/assets/assets-overview.tsx
  apps/native/app/src/screens/finance/finance.tsx
  apps/native/app/src/screens/more/more.tsx
  apps/native/app/src/screens/vehicles/vehicles-detail.tsx
  apps/native/app/src/screens/vehicles/vehicles.tsx
Due: none

cleanup
  apps/services/user-profile/src/main.ts
  libs/application/template-api-modules/src/lib/modules/templates/health-insurance/health-insurance.service.ts
Due: Application System API

more stuff to trigger deploy
  apps/services/user-notification/src/app/modules/notifications/notifications.controller.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
Due: Application System API

chore: format update dirty file
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
Due: Application System API

Update fire-compensation-appraisal.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
Due: Application System API

Fix extract-strings
  libs/application/templates/health-insurance/project.json
Due: Application System API

chore: format update dirty file
  libs/application/templates/health-insurance/project.json
Due: Application System API

Adds court record screen to indictment flow
  apps/judicial-system/api/src/app/modules/case/models/case.model.ts
  apps/judicial-system/backend/migrations/20251015150213-clear-court-session.js
  apps/judicial-system/backend/src/app/formatters/indictmentCourtRecordPdf.ts
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.controller.ts
  apps/judicial-system/backend/src/app/modules/court-session/courtDocument.service.ts
  apps/judicial-system/backend/src/app/modules/court-session/courtSession.controller.ts
  apps/judicial-system/backend/src/app/modules/court-session/courtSession.service.ts
  apps/judicial-system/backend/src/app/modules/repository/models/case.model.ts
  apps/judicial-system/web/messages/Core/sections.ts
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/components/FormProvider/limitedAccessCase.graphql
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Advocates/Advocates.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtSessionAccordionItem.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Summary/Summary.tsx
  apps/judicial-system/web/src/routes/Prison/IndictmentOverview/IndictmentOverview.tsx
  apps/judicial-system/web/src/utils/formHelper.ts
  apps/judicial-system/web/src/utils/hooks/useSections/index.ts
  libs/judicial-system/consts/src/lib/consts.ts
  libs/judicial-system/types/src/lib/courtSession.ts
Due: none

Fixing critical error in roles for applications
  libs/application/templates/activation-allowance/src/lib/ActivationAllowanceTemplate.ts
  libs/application/templates/car-rental-fee-category/src/lib/template.ts
  libs/application/templates/examples/example-common-actions/src/lib/template.ts
  libs/application/templates/examples/example-folder-structure-and-conventions/src/lib/template.ts
  libs/application/templates/examples/example-inputs/src/lib/template.ts
  libs/application/templates/examples/example-no-inputs/src/lib/template.ts
  libs/application/templates/examples/generator-template/src/lib/template.ts.txt
  libs/application/templates/hms/fire-compensation-appraisal/src/lib/template.ts
  libs/application/templates/hms/terminate-rental-agreement/src/lib/template.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/ExemptionForTransportationTemplate.ts
Due: Application System API
