Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fix: no inline ifs
  apps/native/app/src/components/pdf-viewer/pdf-viewer.tsx
Due: none

fix-codegen
  libs/application/templates/iceland-health/health-insurance/src/healthInsuranceUtils.ts
Due: Application System API

Fallback to 0
  libs/clients/rsk/customs-calculator/src/lib/customsCalculatorClient.service.ts
Due: none

chore(as): Update client config for housing benefits
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/housing-benefits.service.ts
  libs/clients/hms-housing-benefits/src/clientConfig.json
  libs/clients/hms-housing-benefits/src/lib/hms-housing-benefits.module.ts
  libs/clients/hms-housing-benefits/src/lib/hms-housing-benefits.provider.ts
  libs/clients/hms-housing-benefits/src/lib/hms-housing-benefits.service.ts
Due: Application System API

formatting
  libs/clients/hms-housing-benefits/src/clientConfig.json
Due: none

mojibake
  libs/clients/hms-housing-benefits/src/clientConfig.json
Due: none

fix(my-pages-health): Table questionnaire submission (#23009)
  libs/api/domains/questionnaires/src/lib/dto/questionnaire-reply.types.ts
  libs/api/domains/questionnaires/src/lib/questionnaires.service.ts
  libs/clients/health-directorate/src/index.ts
  libs/clients/health-directorate/src/lib/clients/index.ts
Due: Portal GraphQL

lintfix
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/housing-benefits.service.ts
Due: Application System API

Remove unused file
  topLevelCategories.json
Due: none

feat: back button and icelandic application name
  apps/portals/admin/src/components/Header/Header.tsx
  libs/application/api/core/src/lib/translation/template-introspection.housing-benefits.spec.ts
  libs/application/api/core/src/lib/translation/template-introspection.service.ts
  libs/portals/admin/application-system/src/components/TranslationWorkspacePageHeader/TranslationWorkspacePageHeader.tsx
  libs/portals/admin/application-system/src/context/TranslationWorkspaceHeaderBridge.tsx
  libs/portals/admin/application-system/src/screens/SharedNamespaceTranslationWorkspace/SharedNamespaceTranslationWorkspace.tsx
  libs/portals/admin/application-system/src/screens/TranslationWorkspace/TranslationWorkspace.tsx
  libs/portals/admin/application-system/src/screens/Translations/Translations.tsx
Due: Application System API

fix: lint
  libs/api/domains/application/src/lib/application-translation/application-translation.service.ts
Due: Portal GraphQL

adding renderlastscreenbutton
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/Prerequisites/index.ts
Due: Application System API

fix: lint
  libs/localization/scripts/sync-to-db.ts
Due: none

testfix
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/housing-benefits.service.spec.ts
Due: Application System API

chore: merge migrations into one
  apps/application-system/api/migrations/20260506120000-application-translation-drafts.js
  apps/application-system/api/migrations/20260506130000-application-translation-publish-actor.js
  apps/application-system/api/migrations/20260625120000-application-translation.js
Due: Application System API

don't call police defendants query until case has been loaded
  apps/judicial-system/web/src/utils/hooks/usePoliceDefendants/useSyncDefendantsFromPolice.ts
Due: none

feat(driving-license): export DRIVING_LICENSE_API_USER_ID from v6 barrel
  libs/clients/driving-license/src/v6/index.ts
Due: none

chore: format update dirty file
  apps/application-system/api/migrations/20260625120000-application-translation.js
  libs/api/domains/application/src/lib/application-translation/application-translation.service.ts
  libs/application/api/core/src/lib/translation/application-translation-publish.model.ts
  libs/application/api/core/src/lib/translation/application-translation.provider.ts
  libs/application/api/core/src/lib/translation/application-translation.service.ts
  libs/application/api/core/src/lib/translation/migration/contentful-migration.ts
  libs/application/api/core/src/lib/translation/shared-namespace-introspection.service.spec.ts
  libs/application/api/core/src/lib/translation/shared-namespace-introspection.service.ts
  libs/application/api/core/src/lib/translation/template-introspection.housing-benefits.spec.ts
  libs/application/api/core/src/lib/translation/template-introspection.service.ts
  libs/application/api/core/src/lib/translation/translation-access.service.spec.ts
  libs/application/utils/src/lib/translationAccessUtils.spec.ts
  libs/application/utils/src/lib/translationAccessUtils.ts
  libs/cms-translations/src/lib/application-translation-http.provider.ts
  libs/island-ui/core/src/lib/Drawer/Drawer.tsx
  libs/island-ui/core/src/lib/ModalBase/ModalBase.tsx
  libs/localization/scripts/sync-to-db.ts
  libs/portals/admin/application-system/src/components/Layout/Layout.tsx
  libs/portals/admin/application-system/src/components/TranslationPublishHistory/TranslationPublishHistory.tsx
  libs/portals/admin/application-system/src/components/TranslationWorkspaceFieldPreview/TranslationWorkspaceFieldPreview.tsx
  libs/portals/admin/application-system/src/components/TranslationWorkspaceLoadStates/TranslationWorkspaceLoadStates.tsx
  libs/portals/admin/application-system/src/components/TranslationWorkspaceOverviewFieldPreview/TranslationWorkspaceOverviewFieldPreview.tsx
  libs/portals/admin/application-system/src/components/TranslationWorkspacePreviewArea/TranslationWorkspacePreviewArea.tsx
  libs/portals/admin/application-system/src/components/TranslationWorkspacePreviewShell/TranslationWorkspacePreviewShell.tsx
  libs/portals/admin/application-system/src/components/TranslationWorkspaceStatesNav/TranslationWorkspaceStatesNav.tsx
  libs/portals/admin/application-system/src/components/TranslationWorkspaceStatesTabsPanel/TabsPanelStringsTab.tsx
  libs/portals/admin/application-system/src/components/TranslationWorkspaceStatesTabsPanel/TranslationStringsList.tsx
  libs/portals/admin/application-system/src/context/TranslationWorkspaceHeaderBridge.tsx
  libs/portals/admin/application-system/src/module.tsx
  libs/portals/admin/application-system/src/queries/translations.graphql
  libs/portals/admin/application-system/src/screens/TranslationWorkspace/TranslationWorkspace.tsx
  libs/portals/admin/application-system/src/screens/Translations/Translations.tsx
  libs/portals/admin/application-system/src/utils/buildPreviewFieldFromScreen.ts
  libs/portals/admin/application-system/src/utils/translationWorkspaceErrors.ts
  libs/portals/admin/application-system/src/utils/translationWorkspaceFooterSubmit.ts
  libs/portals/admin/application-system/src/utils/translationWorkspaceNavPanel.ts
  libs/portals/admin/application-system/src/utils/translationWorkspacePreviewIntlMessages.ts
Due: Portal GraphQL, Application System API

chore: update is mobile hook
  libs/portals/core/src/hooks/useIsMobile/useIsMobile.ts
Due: none

fix(application-system): Fixing user stuck in prereq (#23060)
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/Prerequisites/index.ts
Due: Application System API

fix(application-system): User stuck in prereq (#23059)
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/Prerequisites/index.ts
Due: Application System API

ui changes
  libs/portals/admin/form-system/src/components/MainContent/components/BaseSettings/BaseSettings.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/FieldContent/components/PaymentField/PaymentField.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/Payment/Payment.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/Payment/components/PaymentItem.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/RelevantParties/RelevantParties.tsx
  libs/portals/admin/form-system/src/components/StatusTag/StatusTag.tsx
Due: none

feat(driving-license): migrate wrapper service to RLS v6 API
  libs/api/domains/driving-license/src/lib/__mock-data__/requestHandlers.ts
  libs/api/domains/driving-license/src/lib/drivingLicense.spec.ts
  libs/clients/driving-license/src/lib/__mock-data__/requestHandlers.ts
  libs/clients/driving-license/src/lib/apiConfiguration.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.spec.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.ts
Due: Portal GraphQL

chore: fix 0 as valid
  libs/api/mocks/src/domains/education/index.ts
  libs/api/mocks/src/domains/education/resolvers.ts
  libs/portals/core/src/hooks/useIsMobile/useIsMobile.ts
Due: none

chore: revert
  libs/api/mocks/src/domains/education/index.ts
  libs/api/mocks/src/domains/education/resolvers.ts
Due: none

chore: format update dirty file
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.ts
Due: none

fix(j-s): guard cancellation modal against stale working case
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.spec.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.tsx
Due: none

chore(portals): simplify isMobile hook (#23062)
  libs/portals/core/src/hooks/useIsMobile/useIsMobile.ts
Due: none

chore(form-system): ui changes (#23063)
  libs/portals/admin/form-system/src/components/MainContent/components/BaseSettings/BaseSettings.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/FieldContent/components/PaymentField/PaymentField.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/Payment/Payment.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/Payment/components/PaymentItem.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/RelevantParties/RelevantParties.tsx
  libs/portals/admin/form-system/src/components/StatusTag/StatusTag.tsx
Due: none

fix(j-s): prevent cancellation modal re-opening after dismissal
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.spec.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Overview/Overview.tsx
Due: none

Translation fixes and 2 outdated tests
  apps/application-system-next/app/layout.tsx
  apps/application-system-next/components/AppUserProfileLocale.tsx
  apps/application-system-next/components/ApplicationShell.tsx
  apps/application-system-next/components/ApplicationsPage.tsx
  apps/application-system-next/components/InitialScreenGate.spec.tsx
  apps/application-system-next/components/InitialScreenGate.tsx
  apps/application-system-next/hooks/useFormActions.spec.tsx
  apps/application-system-next/hooks/useFormActions.ts
  apps/application-system-next/lib/__tests__/formRendererCheckboxDisplay.spec.ts
  apps/application-system-next/next.config.spec.ts
Due: none

fix(j-s): always render modal portal target in PageLayout
  apps/judicial-system/web/src/components/PageLayout/PageLayout.spec.tsx
  apps/judicial-system/web/src/components/PageLayout/PageLayout.tsx
Due: none

chore: format update dirty file
  apps/application-system-next/components/AppUserProfileLocale.tsx
  apps/application-system-next/components/ApplicationsPage.tsx
Due: none

fix(native-app): apply patch to fix android pdf bug
  .yarn/patches/@kishannareshpal-expo-pdf-npm-0.3.1-80a31e2db8.patch
  apps/native/app/package.json
  apps/native/app/src/app/(auth)/(tabs)/inbox/[id]/index.tsx
  apps/native/app/src/components/pdf-viewer/pdf-viewer.tsx
  yarn.lock
Due: none

chore: format update dirty file
  apps/judicial-system/web/src/components/PageLayout/PageLayout.spec.tsx
  apps/judicial-system/web/src/components/PageLayout/PageLayout.tsx
Due: none

chore(as): Update disability pension to natregv3
  libs/application/templates/social-insurance-administration/disability-pension/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/forms/prerequisitesForm/index.ts
  libs/application/templates/social-insurance-administration/disability-pension/src/lib/template.ts
Due: Application System API

feat: start of application
  libs/application/template-api-modules/src/lib/modules/templates/index.ts
  libs/application/template-api-modules/src/lib/modules/templates/national-agency-for-children-and-families/child-protection-notification/child-protection-notification.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/national-agency-for-children-and-families/child-protection-notification/child-protection-notification.service.ts
  libs/application/template-loader/src/lib/templateLoaders.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/.babelrc
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/.eslintrc.json
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/README.md
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/jest.config.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/project.json
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/dataProviders/index.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/adultPersonalForm/firstSection.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/adultPersonalForm/index.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/adultPersonalForm/secondSection.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/adultProcurationForm/index.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/adultProcurationForm/umbodSection.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/completedForm/index.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/minorForm/firstSection.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/minorForm/index.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/overview.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/forms/prerequisitesForm/index.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/index.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/lib/ChildProtectionNotificationTemplate.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/lib/dataSchema.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/lib/messages.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/utils/constants.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/utils/getOverviewItems.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/src/utils/roleUtils.ts
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/tsconfig.json
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/tsconfig.lib.json
  libs/application/templates/national-agency-for-children-and-families/child-protection-notification/tsconfig.spec.json
  libs/application/types/src/lib/ApplicationTypes.ts
  libs/application/types/src/lib/InstitutionMapper.ts
  tsconfig.base.json
Due: Application System API

more minor translation issues for footer
  apps/application-system-next/components/AppUserProfileLocale.tsx
  apps/application-system/api/src/app/modules/sdf/__tests__/footer-builder.spec.ts
  apps/application-system/api/src/app/modules/sdf/footer-builder.ts
  apps/application-system/api/src/app/modules/sdf/sdf-screen.service.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
