Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

wip
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/index.tsx
Due: Application System API

wip
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/AdditionalEstateMember.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/index.tsx
Due: Application System API

wip
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/AdditionalHeir.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/index.tsx
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
Due: Application System API

wip
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/AdditionalHeir.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/index.tsx
  libs/application/templates/inheritance-report/src/fields/LookupPerson/index.tsx
  libs/application/templates/inheritance-report/src/forms/sections/heirs.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
  libs/application/templates/inheritance-report/src/types.ts
Due: Application System API

wip
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/mappers.ts
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/AdditionalHeir.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/index.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsOverview/index.tsx
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
  libs/application/templates/inheritance-report/src/lib/messages.ts
  libs/application/templates/inheritance-report/src/types.ts
Due: Application System API

revert
  libs/application/templates/estate/src/fields/AssetsRepeater/index.tsx
Due: Application System API

wip
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/inheritance-report.service.ts
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/index.tsx
Due: Application System API

wip
  libs/application/templates/estate/src/fields/EstateMembersRepeater/index.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/index.tsx
Due: Application System API

remove file
  apps/air-discount-scheme/backend/src/private-openapi.yaml
Due: none

cleanup
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/mappers.ts
  libs/application/templates/estate/src/fields/AssetsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/AdditionalHeir.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/index.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsOverview/index.tsx
  libs/application/templates/inheritance-report/src/forms/sections/heirs.ts
  libs/application/templates/inheritance-report/src/graphql/index.ts
  libs/application/templates/inheritance-report/src/lib/constants.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
  libs/application/templates/inheritance-report/src/types.ts
Due: Application System API

wip
  .vscode/settings.json
Due: none

chore: nx format:write update dirty files
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/AdditionalHeir.tsx
  libs/application/templates/inheritance-report/src/fields/LookupPerson/index.tsx
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
Due: Application System API

Fix test
  apps/judicial-system/web/src/components/AppealCaseFilesOverview/AppealCaseFilesOverview.spec.tsx
Due: none

Remove console log
  apps/judicial-system/web/src/components/AppealCaseFilesOverview/AppealCaseFilesOverview.tsx
Due: none

comment changes
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/index.tsx
  libs/application/templates/inheritance-report/src/fields/LookupPerson/index.tsx
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
Due: Application System API

fix(service-portal): signature collection fixed broken ui (#13761)
  libs/service-portal/signature-collection/src/components/SignedList/index.tsx
Due: none

chore(inheritance-report): remove repeater for public charges value (#13630)
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/mappers.ts
  libs/application/templates/inheritance-report/src/fields/CalculationsOfTotal/CalculateTotalDebts/index.tsx
  libs/application/templates/inheritance-report/src/fields/ReportFieldsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/forms/sections/debts.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
  libs/application/templates/inheritance-report/src/types.ts
Due: Application System API

feat: fix mileage label (#13264)
  apps/native/app/src/contexts/feature-flag-provider.tsx
  apps/native/app/src/graphql/queries/vehicle-mileage.graphql
  apps/native/app/src/index.tsx
  apps/native/app/src/messages/en.ts
  apps/native/app/src/messages/is.ts
  apps/native/app/src/screens/login/testing-login.tsx
  apps/native/app/src/screens/vehicles/components/vehicle-item.tsx
  apps/native/app/src/screens/vehicles/vehicle-mileage.screen.tsx
  apps/native/app/src/stores/preferences-store.ts
  apps/native/app/src/ui/lib/tableview/tableview-cell.tsx
  apps/native/app/src/ui/lib/text-field/text-field.tsx
  apps/native/app/src/utils/get-default-options.ts
  apps/native/app/src/utils/lifecycle/setup-globals.ts
Due: none

feat(inheritance-report): pre-filled members on heir information step (#13726)
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/mappers.ts
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/AdditionalHeir.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/index.tsx
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/types.ts
  libs/application/templates/inheritance-report/src/fields/HeirsOverview/index.tsx
  libs/application/templates/inheritance-report/src/fields/LookupPerson/index.tsx
  libs/application/templates/inheritance-report/src/fields/index.ts
  libs/application/templates/inheritance-report/src/forms/sections/heirs.ts
  libs/application/templates/inheritance-report/src/graphql/index.ts
  libs/application/templates/inheritance-report/src/lib/constants.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
  libs/application/templates/inheritance-report/src/lib/messages.ts
  libs/application/templates/inheritance-report/src/lib/utils/helpers.ts
  libs/application/templates/inheritance-report/src/types.ts
Due: Application System API

validate phone number
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
Due: Application System API

move inventory section
  libs/application/templates/inheritance-report/src/forms/sections/assets.ts
Due: Application System API

fix calculation
  libs/application/templates/inheritance-report/src/fields/ReportFieldsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/forms/sections/assets.ts
Due: Application System API

make sure external data real estates dont show up again
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/mappers.ts
  libs/application/templates/announcement-of-death/src/forms/draft/subSectionProperties.ts
  libs/application/templates/inheritance-report/src/fields/ReportFieldsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/forms/sections/assets.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
  libs/application/templates/inheritance-report/src/types.ts
Due: Application System API

move total column field into new right aligned cmp
  libs/application/templates/inheritance-report/src/fields/ReportFieldsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/forms/sections/assets.ts
Due: Application System API

add real estate share field and calculation
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/mappers.ts
  libs/application/templates/inheritance-report/src/fields/ReportFieldsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/forms/OverviewSections/OverviewAssets.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
Due: Application System API

fix double row hack
  libs/application/templates/inheritance-report/src/fields/ReportFieldsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/forms/sections/assets.ts
Due: Application System API

fix error display
  libs/application/templates/inheritance-report/src/fields/ReportFieldsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/lib/messages.ts
Due: Application System API

message
  libs/portals/admin/signature-collection/src/lib/messages.ts
  libs/portals/admin/signature-collection/src/screens/List/index.tsx
Due: none

chore: nx format:write update dirty files
  libs/portals/admin/signature-collection/src/lib/messages.ts
Due: none

manager through admin
  libs/api/domains/signature-collection/src/lib/signatureCollection.module.ts
  libs/api/domains/signature-collection/src/lib/signatureCollectionAdmin.resolver.ts
  libs/api/domains/signature-collection/src/lib/signatureCollectionAdmin.service.ts
  libs/api/domains/signature-collection/src/lib/signatureCollectionManager.resolver.ts
  libs/api/domains/signature-collection/src/lib/signatureCollectionManager.service.ts
  libs/clients/signature-collection/src/clientConfig.json
  libs/clients/signature-collection/src/lib/signature-collection-admin.service.ts
  libs/clients/signature-collection/src/lib/signature-collection-manager.service.ts
Due: Portal GraphQL

comment changes
  libs/application/templates/inheritance-report/src/fields/ReportFieldsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/lib/utils/helpers.spec.ts
  libs/application/templates/inheritance-report/src/lib/utils/helpers.ts
Due: Application System API

chore(inheritance-report): add property share and more misc changes/fixes (#13759)
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/utils/mappers.ts
  libs/application/templates/announcement-of-death/src/forms/draft/subSectionProperties.ts
  libs/application/templates/inheritance-report/src/fields/ReportFieldsRepeater/index.tsx
  libs/application/templates/inheritance-report/src/forms/OverviewSections/OverviewAssets.ts
  libs/application/templates/inheritance-report/src/forms/sections/assets.ts
  libs/application/templates/inheritance-report/src/lib/dataSchema.ts
  libs/application/templates/inheritance-report/src/lib/messages.ts
  libs/application/templates/inheritance-report/src/lib/utils/helpers.spec.ts
  libs/application/templates/inheritance-report/src/lib/utils/helpers.ts
  libs/application/templates/inheritance-report/src/types.ts
Due: Application System API

Fix issue in DateTime component
  apps/judicial-system/web/src/components/DateTime/DateTime.tsx
Due: none

adding parentId to childApplication
  libs/clients/directorate-of-immigration/src/lib/directorateOfImmigrationClient.service.ts
Due: none

Add origo-auth as codeowner for auth lib seeders file used to create clients and scopes as migration scripts.
  .github/CODEOWNERS
Due: none

admin create when not active
  libs/clients/signature-collection/src/lib/signature-collection-admin.service.ts
Due: none

Property number component
  apps/form-builder/components/MainContent/components/InputContent/InputContent.tsx
  apps/form-builder/components/MainContent/components/InputContent/components/BaseInput.tsx
  apps/form-builder/components/MainContent/components/InputContent/components/PropertyNumberInputSettings.tsx
  apps/form-builder/components/MainContent/components/ListBuilder/ListBuilder.tsx
  apps/form-builder/components/MainContent/components/Premises/Premises.tsx
  apps/form-builder/components/MainContent/components/Preview/Preview.tsx
  apps/form-builder/components/MainContent/components/Preview/components/PropertyNumber/PropertyNumber.tsx
  apps/form-builder/components/MainContent/components/Preview/components/PropertyNumber/components/PropertyNumberCombined.tsx
  apps/form-builder/components/MainContent/components/Preview/components/PropertyNumber/components/PropertyNumberInput.tsx
  apps/form-builder/components/MainContent/components/Preview/components/PropertyNumber/components/PropertyNumberList.tsx
  apps/form-builder/components/MainContent/components/Preview/components/PropertyNumber/components/index.ts
  apps/form-builder/components/MainContent/components/RelevantParties/RelevantParties.tsx
  apps/form-builder/components/NavbarSelect/NavbarSelect.tsx
  apps/form-builder/gql/client.ts
  apps/form-builder/gql/httpLink.ts
  apps/form-builder/gql/retryLink.ts
  apps/form-builder/hooks/formReducer.ts
  apps/form-builder/hooks/headerInfoReducer.ts
  apps/form-builder/hooks/listsReducer.ts
  apps/form-builder/screens/Form.tsx
  apps/form-builder/types/interfaces.tsx
Due: none

fix: redirect isntead of popup
  libs/service-portal/licenses/src/components/QRCodeModal/PkPass.tsx
Due: none

fix(university-gateway): adding university-gateway-url to application-system env variables (#13760)
  apps/application-system/api/infra/application-system-api.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: Application System API

feat: new gen
  libs/clients/smart-solutions-v2/.eslintrc.json
  libs/clients/smart-solutions-v2/README.md
  libs/clients/smart-solutions-v2/codegen.yml
  libs/clients/smart-solutions-v2/fetchGraphql.yml
  libs/clients/smart-solutions-v2/jest.config.ts
  libs/clients/smart-solutions-v2/project.json
  libs/clients/smart-solutions-v2/smartsolutions-api.graphql
  libs/clients/smart-solutions-v2/src/index.ts
  libs/clients/smart-solutions-v2/src/lib/clients-smart-solutions.module.ts
  libs/clients/smart-solutions-v2/tsconfig.json
  libs/clients/smart-solutions-v2/tsconfig.lib.json
  libs/clients/smart-solutions-v2/tsconfig.spec.json
  tsconfig.base.json
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
