Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

fix(ojoi): Find recordId parameter case-insensitively (#19526)
  apps/web/pages/stjornartidindi/nr/index.ts
Due: none

chore(application-system): readme update for practical exam (#19551)
  libs/application/templates/aosh/practical-exam/README.md
Due: Application System API

chore(secondary-school): updating readme (#19553)
  libs/application/templates/aosh/training-license-on-a-work-machine/README.md
  libs/application/templates/aosh/work-accident-notification/README.md
  libs/application/templates/secondary-school/README.md
Due: Application System API

fix(user-profile): Fix user profile email update for me profile. (#19534)
  apps/services/user-profile/migrations/20200930100917-initial.js
  apps/services/user-profile/migrations/20201024143958-update-user-profile.js
  apps/services/user-profile/migrations/20201024144111-create-email-verification.js
  apps/services/user-profile/migrations/20201024144849-create-sms-verification.js
  apps/services/user-profile/migrations/20201119105022-update-user-profile.js
  apps/services/user-profile/migrations/20210920131905-add-sms-tries.js
  apps/services/user-profile/migrations/20211201000001-user-device-tokens.js
  apps/services/user-profile/migrations/20211201000002-update-user-profile.js
  apps/services/user-profile/migrations/20220117000001-update-email-tel-status.js
  apps/services/user-profile/migrations/20220501000001-email-verification-confirm.js
  apps/services/user-profile/migrations/20231005151938-last-nudge-property.js
  apps/services/user-profile/migrations/20231030104111-email-retry.js
  apps/services/user-profile/migrations/20231129145943-email-notification.js
  apps/services/user-profile/migrations/20240513221742-remove-migration-table.js
  apps/services/user-profile/src/app/user-profile/e2e/userProfile.spec.ts
  apps/services/user-profile/src/app/v2/dto/islyklar-upsert.dto.ts
  apps/services/user-profile/src/app/v2/islykill.service.ts
  apps/services/user-profile/src/app/v2/test/me-user-profile.controller.spec.ts
  apps/services/user-profile/src/app/v2/user-profile.module.ts
  apps/services/user-profile/src/app/v2/user-profile.service.ts
  apps/services/user-profile/src/environments/environment.ts
Due: none

feat(my-pages): add apartment to query (#19207)
  libs/portals/my-pages/information/src/helpers/formatting.ts
  libs/portals/my-pages/information/src/screens/UserInfo/UserInfo.graphql
Due: none

fix(ojoi): Filter param by year + styling + strings (#19552)
  apps/web/components/OfficialJournalOfIceland/OJOIAppendix.tsx
  apps/web/components/OfficialJournalOfIceland/OJOIHomeIntro.tsx
  apps/web/components/OfficialJournalOfIceland/OJOIUtils.ts
  apps/web/screens/OfficialJournalOfIceland/OJOIAdvert.tsx
  apps/web/screens/OfficialJournalOfIceland/OJOIHome.tsx
  apps/web/screens/OfficialJournalOfIceland/OJOISearch.tsx
  apps/web/screens/OfficialJournalOfIceland/hooks/useAdverts.ts
  apps/web/screens/OfficialJournalOfIceland/lib/advert-params.mapper.ts
  apps/web/screens/OfficialJournalOfIceland/messages.ts
  libs/api/domains/official-journal-of-iceland/src/lib/models/advert.input.ts
  libs/clients/official-journal-of-iceland/public/src/clientConfig.json
Due: Portal GraphQL

fix(admin): open collection action (#19531)
  libs/clients/signature-collection/src/lib/signature-collection-admin.service.ts
  libs/clients/signature-collection/src/lib/utils/mappers.ts
  libs/portals/admin/signature-collection/src/lib/messages.ts
  libs/portals/admin/signature-collection/src/loaders/allListsGraphql/getCollectionStatus.graphql
  libs/portals/admin/signature-collection/src/module.tsx
  libs/portals/admin/signature-collection/src/screens-municipal/AllMunicipalities/index.tsx
  libs/portals/admin/signature-collection/src/screens-municipal/AllMunicipalities/startCollection/index.tsx
  libs/portals/admin/signature-collection/src/screens-municipal/AllMunicipalities/startCollection/startCollection.graphql
  libs/portals/admin/signature-collection/src/screens-municipal/Municipality/index.tsx
  libs/portals/admin/signature-collection/src/screens-parliamentary/AllConstituencies/index.tsx
  libs/portals/admin/signature-collection/src/screens-parliamentary/Constituency/index.tsx
  libs/portals/admin/signature-collection/src/shared-components/createCollection/index.tsx
  libs/portals/admin/signature-collection/src/shared-components/downloadReports/index.tsx
  libs/portals/admin/signature-collection/src/shared-components/emptyState/index.tsx
  libs/portals/admin/signature-collection/src/shared-components/findSignature/index.tsx
  libs/portals/admin/signature-collection/src/shared-components/removeCandidate/index.tsx
  libs/portals/admin/signature-collection/src/shared-components/reviewCandidates/index.tsx
Due: none

fix(application-system): Add max number of uploaded files for FileUpload (#19532)
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/core/src/lib/messages.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/forms/mainForm/photoSection.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/lib/messages/photoMessages.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-components/src/utilities/FileUploadController/index.tsx
  libs/application/ui-fields/src/lib/FileUploadFormField/FileUploadFormField.tsx
Due: Application System API

chore(j-s): Refactor tests (#19318)
  apps/judicial-system/web/jest.config.ts
  apps/judicial-system/web/src/components/AppealCaseFilesOverview/AppealCaseFilesOverview.spec.tsx
  apps/judicial-system/web/src/components/BlueBoxWithIcon/BlueBoxWithDate.spec.tsx
  apps/judicial-system/web/src/components/ContextMenu/ContextMenu.spec.tsx
  apps/judicial-system/web/src/components/Inputs/InputNationalId.tsx
  apps/judicial-system/web/src/components/RestrictionLength/RestrictionLength.spec.tsx
  apps/judicial-system/web/src/components/Table/Table.spec.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Overview/Overview.spec.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Ruling/Ruling.spec.tsx
  apps/judicial-system/web/src/routes/CourtOfAppeal/Summary/Summary.spec.tsx
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealCaseFiles.spec.tsx
  apps/judicial-system/web/src/routes/Shared/AppealToCourtOfAppeals/AppealToCourtOfAppeals.spec.tsx
  apps/judicial-system/web/src/routes/Shared/Statement/Statement.spec.tsx
  package.json
  yarn.lock
Due: none

fix(my-pages-vehicles): Wrong field used for unpaid dues (#19549)
  libs/api/domains/vehicles/src/lib/utils/basicVehicleInformationMapper.ts
Due: Portal GraphQL

chore(j-s): Data fix for appeal case (#19434)
  apps/judicial-system/backend/migrations/20250624175157-fix-appeal-case.js
Due: none

fix(signature-collection): add isActive on area (#19519)
  libs/api/domains/signature-collection/src/lib/models/area.model.ts
  libs/application/template-api-modules/src/lib/modules/templates/signature-collection/municipal-list-creation/municipal-list-creation.service.ts
  libs/clients/signature-collection/src/lib/signature-collection-admin.service.ts
  libs/clients/signature-collection/src/lib/signature-collection-shared.service.ts
  libs/clients/signature-collection/src/lib/signature-collection.service.spec.ts
  libs/clients/signature-collection/src/lib/signature-collection.service.ts
  libs/clients/signature-collection/src/lib/types/area.dto.ts
  libs/clients/signature-collection/src/lib/types/collection.dto.ts
  libs/clients/signature-collection/src/lib/types/list.dto.ts
  libs/clients/signature-collection/src/lib/utils/mappers.ts
  libs/portals/admin/signature-collection/src/loaders/allListsGraphql/getAllSignatureLists.graphql
  libs/portals/admin/signature-collection/src/loaders/allListsGraphql/getCollectionStatus.graphql
Due: Portal GraphQL, Application System API

feat(form-system): choose url for each form (#19537)
  apps/services/form-system/src/app/modules/applications/models/application.mapper.ts
  apps/services/form-system/src/app/modules/applications/models/dto/application.dto.ts
  apps/services/form-system/src/app/modules/formUrls/formUrls.controller.ts
  apps/services/form-system/src/app/modules/formUrls/formUrls.module.ts
  apps/services/form-system/src/app/modules/formUrls/formUrls.service.ts
  apps/services/form-system/src/app/modules/formUrls/models/dto/formUrl.dto.ts
  apps/services/form-system/src/app/modules/forms/forms.service.ts
  apps/services/form-system/src/app/modules/forms/models/dto/form.dto.ts
  apps/services/form-system/tsconfig.app.json
  libs/api/domains/form-system/src/dto/application.input.ts
  libs/api/domains/form-system/src/dto/form.input.ts
  libs/api/domains/form-system/src/lib/form-system.module.ts
  libs/api/domains/form-system/src/lib/formUrls/formUrls.resolver.ts
  libs/api/domains/form-system/src/lib/formUrls/formUrls.service.ts
  libs/api/domains/form-system/src/models/applications.model.ts
  libs/api/domains/form-system/src/models/form.model.ts
  libs/clients/form-system/src/lib/FormSystemApiProvider.ts
  libs/form-system/src/dto/formUrl.dto.ts
  libs/form-system/src/index.ts
  libs/portals/admin/form-system/src/components/Admin/components/SubmitUrls/SubmitUrls.tsx
  libs/portals/admin/form-system/src/components/Admin/components/SubmitUrls/TableHeader.tsx
  libs/portals/admin/form-system/src/components/Admin/components/SubmitUrls/TableRow.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/BaseSettings/BaseSettings.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/Urls/Urls.tsx
  libs/portals/admin/form-system/src/components/Navbar/Navbar.tsx
  libs/portals/admin/form-system/src/context/ControlContext.ts
  libs/portals/admin/form-system/src/context/FormProvider.tsx
  libs/portals/form-system/graphql/src/lib/fragments/application.ts
  libs/portals/form-system/graphql/src/lib/fragments/form.ts
  libs/portals/form-system/graphql/src/lib/mutations/createFormUrl.ts
  libs/portals/form-system/graphql/src/lib/mutations/deleteFormUrl.ts
  libs/portals/form-system/graphql/src/lib/mutations/index.ts
Due: Portal GraphQL

feat(parental-leave): Change multiple births right to 6 months (#19550)
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/children/children-utils.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/parental-leave/parental-leave.service.spec.ts
  libs/application/templates/parental-leave/src/config.ts
  libs/application/templates/parental-leave/src/lib/answerValidators.spec.ts
  libs/application/templates/parental-leave/src/lib/messages.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.spec.ts
Due: Application System API

chore(auth-api): Creating migration script to add MMS OneRoster scopes (#19557)
  libs/auth-api-lib/migrations/20250704134932-add-mms-oneroster-scopes.js
Due: none

fix(j-s): Format National Ids in Case Lists (#19559)
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.cellGenerators.ts
Due: none

chore(hms fca): auth scope (#19580)
  libs/application/templates/hms/fire-compensation-appraisal/src/lib/template.ts
  libs/application/templates/hms/terminate-rental-agreement/src/lib/template.ts
Due: Application System API

fix(user-profile): Fix bank info update for new profiles (#19576)
  libs/api/domains/user-profile/src/lib/islykill.service.ts
Due: Portal GraphQL

fix(rental-agreement): Add approve action to rental agreement template (#19585)
  libs/application/templates/rental-agreement/src/lib/RentalAgreementTemplate.ts
  libs/application/templates/rental-agreement/src/lib/messages/prerequisites.ts
Due: Application System API

feat(medical-and-rehabilitation-payments): Add educational level list (#19563)
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration-utils.ts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/dataProviders/index.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/selfAssessmentSection/selfAssessmentQuestionsOneSubSection.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/MedicalAndRehabilitationPaymentsTemplate.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/dataSchema.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/types.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/utils/medicalAndRehabilitationPaymentsUtils.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/utils/overviewItems.ts
  libs/clients/social-insurance-administration/src/clientConfig.json
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.service.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.type.ts
Due: Application System API

fix(ojoi): Application publish date status + pdf disclaimer (#19572)
  apps/web/screens/OfficialJournalOfIceland/OJOIAdvert.tsx
  apps/web/screens/OfficialJournalOfIceland/lib/isAdvertPdfOnly.ts
  apps/web/screens/OfficialJournalOfIceland/messages.ts
  libs/api/domains/official-journal-of-iceland-application/src/lib/ojoiApplication.service.ts
  libs/api/domains/official-journal-of-iceland-application/src/models/applicationCase.response.ts
  libs/application/templates/official-journal-of-iceland/src/components/form/FormScreen.tsx
  libs/application/templates/official-journal-of-iceland/src/graphql/queries.ts
  libs/application/templates/official-journal-of-iceland/src/hooks/useApplicationCase.ts
  libs/application/templates/official-journal-of-iceland/src/lib/messages/submitted.tsx
  libs/application/templates/official-journal-of-iceland/src/screens/SubmittedScreen.tsx
  libs/clients/official-journal-of-iceland/application/src/clientConfig.json
  libs/clients/official-journal-of-iceland/public/src/clientConfig.json
Due: Portal GraphQL, Application System API

fix(new-primary-school): Municipality and schools list not working (#19522)
  libs/api/domains/education/src/lib/graphql/frigg/organization.model.ts
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.utils.ts
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/CurrentNursery.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/School.tsx
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/currentNurserySubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/newSchoolSubSection.ts
  libs/application/templates/new-primary-school/src/graphql/queries.ts
  libs/clients/mms/frigg/src/clientConfig.json
  libs/clients/mms/frigg/src/lib/friggClient.service.ts
Due: Portal GraphQL, Application System API

feat(rental-agreement): Lookup property by property code (#19399)
  libs/api/domains/hms/src/lib/api-domains-hms.resolver.ts
  libs/api/domains/hms/src/lib/dto/hmsPropertyInfo.input.ts
  libs/api/domains/hms/src/lib/models/hmsPropertyInfo.model.ts
  libs/api/domains/hms/src/lib/models/hmsSearch.model.ts
  libs/application/templates/rental-agreement/src/fields/PropertySearch/index.tsx
  libs/application/templates/rental-agreement/src/graphql/queries.ts
  libs/application/templates/rental-agreement/src/lib/messages/housing/registerProperty.ts
  libs/clients/hms/src/lib/hms.service.ts
Due: Portal GraphQL, Application System API

fix(j-s): Subpoena fixes (#19538)
  apps/judicial-system/web/src/routes/Court/Indictments/Subpoena/Subpoena.css.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Subpoena/Subpoena.tsx
  apps/judicial-system/web/src/routes/Court/components/SubpoenaType/SubpoenaType.tsx
  apps/judicial-system/web/src/utils/validate.ts
Due: none

feat(application-system): Adding locale to overviewfield items (#19582)
  libs/application/templates/aosh/training-license-on-a-work-machine/src/forms/TrainingLicenseOnAWorkMachineForm/OverviewSection.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/OverviewFormField/OverviewFormField.tsx
Due: Application System API

chore(j-s): Admin Institution Filter (#19593)
  apps/judicial-system/web/src/routes/Admin/Users/Users.tsx
Due: none

chore(secondary-school): add state diagram to readme (#19561)
  libs/application/templates/secondary-school/state-diagram.jpg
Due: Application System API

fix(application-system): Use realestateNumber from usageUnit (#19575)
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/mockedFasteign.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/utils.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/lib/dataSchema.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/lib/messages/photoMessages.ts
Due: Application System API

fix(j-s): Case List Prefixes (#19588)
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.cellGenerators.ts
Due: none

fix(rental-agreement): Add assignee management to SIGNING state (#19569)
  libs/application/templates/rental-agreement/src/lib/RentalAgreementTemplate.ts
Due: Application System API

fix(j-s): fix masked input fields (#19555)
  apps/judicial-system/web/src/components/DateTime/DateTime.tsx
  apps/judicial-system/web/src/components/EditableCaseFile/EditableCaseFile.tsx
  apps/judicial-system/web/src/components/Inputs/InputAdvocate.tsx
  apps/judicial-system/web/src/components/Inputs/InputNationalId.tsx
  apps/judicial-system/web/src/routes/Admin/ChangeUser/ChangeUser.tsx
  apps/judicial-system/web/src/routes/Admin/NewUser/NewUser.tsx
  apps/judicial-system/web/src/routes/Admin/UserForm/UserForm.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Offenses/Offenses.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/Offenses/SpeedingOffenseFields.tsx
  libs/judicial-system/consts/src/lib/consts.ts
Due: none

feat(medical-and-rehabilitation-payments): Eligible (#19579)
  libs/application/templates/social-insurance-administration/core/src/lib/constants.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/NotEligible.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/Prerequisites.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/MedicalAndRehabilitationPaymentsTemplate.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/utils/constants.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/utils/medicalAndRehabilitationPaymentsUtils.ts
Due: Application System API

feat(j-s): Add ProsecutorCaseInfo component to defendant screen (#19565)
  apps/judicial-system/web/src/components/CaseInfo/CaseInfo.tsx
  apps/judicial-system/web/src/routes/Prosecutor/InvestigationCase/Defendant/Defendant.tsx
Due: none

fix: check for moby before preparing (#19568)
  .github/workflows/push.yml
Due: none

fix(j-s): Ruling Text Box (#19560)
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
  libs/judicial-system/types/src/lib/feature.ts
Due: none

fix(j-s): Fixes for subpoenas (#19574)
  apps/judicial-system/web/src/routes/Court/Indictments/Subpoena/Subpoena.tsx
Due: none

fix(application system): Remove length limit for fasteignanumer (#19584)
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/mockedFasteign.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/forms/mainForm/realEstateSection.ts
  libs/application/templates/hms/fire-compensation-appraisal/src/lib/dataSchema.ts
Due: Application System API

fix(new-primary-school): Update application to match changes in Frigg (#19462)
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.utils.ts
  libs/application/templates/new-primary-school/src/fields/FriggOptionsAsyncSelectField/index.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/CurrentSchool.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/Guardians.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/Languages.tsx
  libs/application/templates/new-primary-school/src/fields/Review/review-groups/Support.tsx
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/childrenNGuardiansSection/childInfoSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/childrenNGuardiansSection/guardiansSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/languageSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/supportSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/currentSchoolSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/primarySchoolSection/newSchoolSubSection.ts
  libs/application/templates/new-primary-school/src/hooks/useFriggOptions.ts
  libs/application/templates/new-primary-school/src/lib/NewPrimarySchoolTemplate.ts
  libs/application/templates/new-primary-school/src/lib/constants.ts
  libs/application/templates/new-primary-school/src/lib/dataSchema.ts
  libs/application/templates/new-primary-school/src/lib/messages.ts
  libs/application/templates/new-primary-school/src/lib/newPrimarySchoolUtils.spec.ts
  libs/application/templates/new-primary-school/src/lib/newPrimarySchoolUtils.ts
  libs/application/templates/new-primary-school/src/types.ts
  libs/application/templates/new-primary-school/src/utils/conditionUtils.ts
  libs/clients/mms/frigg/src/lib/friggClient.service.ts
Due: Application System API
