Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

fix(web): Generic List Item external url not being fetched in all cases (#20223)
  apps/web/components/Organization/Slice/FeaturedGenericListItemsSlice/FeaturedGenericListItemsSlice.tsx
  apps/web/screens/queries/fragments.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/featuredGenericListItems.model.ts
Due: none

fix(j-s): indictment e2e (#20228)
  apps/system-e2e/src/tests/judicial-system/regression/indictment-tests.spec.ts
Due: none

feat(medical-and-rehabilitation-payments): Update Confirmations data (v2) (#20189)
  libs/api/domains/social-insurance/src/lib/models/medicalDocuments/serviceProvider.model.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/ConfirmationOfPendingResolution/index.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/ConfirmedTreatment/index.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/fields/components/ManagedBy/index.tsx
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/graphql/queries.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/lib/messages.ts
Due: Portal GraphQL, Application System API

fix(j-s): remove disabled from input in MultipleValueList (#20226)
  apps/judicial-system/web/src/components/MultipleValueList/MultipleValueList.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseNumbers/PoliceCaseNumbers.tsx
Due: none

fix(parental-leave): Fix dob error (#20230)
  libs/application/templates/parental-leave/src/fields/FirstPeriodStart/index.tsx
  libs/application/templates/parental-leave/src/fields/InReviewSteps/index.tsx
  libs/application/templates/parental-leave/src/fields/PeriodEndDate/PeriodEndDate.tsx
  libs/application/templates/parental-leave/src/fields/PeriodsRepeater/index.tsx
  libs/application/templates/parental-leave/src/lib/answerValidationSections/utils.ts
  libs/application/templates/parental-leave/src/lib/answerValidationSections/validateLatestPeriodValidationSection.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.spec.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.ts
Due: Application System API

feat(web): Landspítali memorial cards - Allow sending card by email (#20158)
  apps/services/payment-flow-update-handler/src/app/landspitali.service.ts
  apps/services/payment-flow-update-handler/src/app/types.ts
  apps/web/components/connected/landspitali/MemorialCards/MemorialCards.tsx
  apps/web/components/connected/landspitali/MemorialCards/translation.strings.ts
  libs/api/domains/landspitali/src/lib/dto/createMemorialCardPaymentUrl.input.ts
  libs/api/domains/landspitali/src/lib/landspitali.service.ts
  libs/shared/types/src/lib/api-cms-domain.ts
Due: Portal GraphQL

fix(user-notifications): dont save delgations notifications in db (#20224)
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/notificationsWorker.service.spec.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/notificationsWorker.service.ts
Due: none

chore(app): Upgrade node version to fix android build error (#20221)
  codemagic.yaml
Due: none

fix(web): Filter org in fixed nav (#20215)
  apps/web/components/FixedNav/FixedNav.tsx
  apps/web/components/Header/Header.tsx
Due: none

fix(core): Adds hmr webpack config (#20222)
  libs/shared/webpack/nrwl-config.js
  tsconfig.base.json
Due: none

fix(exemption for transportation): setBeforeSubmitCallback to allow multiple + Permno uppercase in VehiclePermnoWithInfo + Minor changes in application (#20182)
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/exemption-for-transportation/types.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/exemption-for-transportation/utils.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/fields/handleBeforeSubmit/handleBeforeSubmitConvoy.tsx
  libs/application/templates/transport-authority/exemption-for-transportation/src/fields/handleBeforeSubmit/handleBeforeSubmitFreight.tsx
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/convoySection/convoyLongTerm.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/freightSection/freightLongTermCreate.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/locationSection/index.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/overviewSection/index.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/supportingDocumentsSection/index.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/userInformationSection/applicantSubSection.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/forms/mainForm/userInformationSection/transporterSubSection.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/dataSchema.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/conclusion.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/freight.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/location.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/overview.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/supportingDocuments.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/userInformation.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/lib/messages/vehicleSpacing.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/helperFunctions/freightUtils.ts
  libs/application/templates/transport-authority/exemption-for-transportation/src/utils/helperFunctions/getOverviewItems.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/types/src/lib/Form.ts
  libs/application/ui-fields/src/lib/AlertMessageFormField/AlertMessageFormField.tsx
  libs/application/ui-fields/src/lib/VehiclePermnoWithInfoFormField/VehiclePermnoWithInfoFormField.tsx
  libs/application/ui-shell/src/components/Screen.tsx
  libs/clients/transport-authority/exemption-for-transportation/src/clientConfig.json
  libs/clients/transport-authority/exemption-for-transportation/src/lib/exemptionForTransportationClient.service.ts
  libs/clients/transport-authority/exemption-for-transportation/src/lib/exemptionForTransportationClient.types.ts
Due: Application System API

fix(application-system): Revert Date Picker defaultProps console error fix (#20227)
  package.json
  yarn.lock
Due: none

fix(medical-and-rehabilitation-payments): Date picker in employee sick pay and union sick pay can have wrong dates (#20209)
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/generalInformationSection/employeeSickPaySubSection.ts
  libs/application/templates/social-insurance-administration/medical-and-rehabilitation-payments/src/forms/MedicalAndRehabilitationPaymentsForm/generalInformationSection/unionSickPaySubSection.ts
Due: Application System API

fix(web): End date for "add to calendar" button (#20235)
  apps/web/components/AddToCalendarButton/AddToCalendarButton.tsx
  apps/web/screens/Organization/OrganizationEvents/OrganizationEventArticle.tsx
Due: none

feat(licenses): Disable generatePkPass functions (#20229)
  libs/api/domains/license-service/src/lib/licenseService.service.ts
  libs/api/domains/license-service/src/lib/resolvers/pkPass.resolver.ts
Due: Portal GraphQL

feat(web): RSS feeds for verdicts and court agendas (#20263)
  apps/web/next.config.js
  apps/web/pages/api/dagskra-domstola/rss/index.ts
  apps/web/pages/api/domar/rss/index.ts
Due: none

feat(j-s): Add court session ruling to overview pages (#20213)
  apps/judicial-system/web/src/components/FormProvider/limitedAccessCase.graphql
  apps/judicial-system/web/src/routes/Court/Indictments/Completed/Completed.tsx
  apps/judicial-system/web/src/routes/Prison/IndictmentOverview/IndictmentOverview.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Shared/IndictmentOverview/IndictmentOverview.tsx
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

feat(hms-ra): Add desctiption to termination reson screen (#20275)
  libs/application/templates/hms/terminate-rental-agreement/src/forms/mainForm/cancelationSection.ts
  libs/application/templates/hms/terminate-rental-agreement/src/lib/messages/cancelationMessages.ts
Due: Application System API

feat(my-pages): Health - Blood group - Add contact link (#20250)
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/Bloodtype/Bloodtype.tsx
Due: none

fix: occupational licenses localization (#20268)
  libs/api/domains/occupational-licenses/src/lib/mappers/districtCommissionerLicenseMapper.ts
  libs/api/domains/occupational-licenses/src/lib/mappers/educationLicenseMapper.ts
  libs/api/domains/occupational-licenses/src/lib/mappers/healthDirectorateLicenseMapper.ts
  libs/api/domains/occupational-licenses/src/lib/models/license.model.ts
  libs/api/domains/occupational-licenses/src/lib/occupationalLicenses.resolver.ts
  libs/api/domains/occupational-licenses/src/lib/occupationalLicenses.service.ts
  libs/api/domains/occupational-licenses/src/lib/utils.ts
  libs/clients/district-commissioners-licenses/src/index.ts
  libs/clients/health-directorate/project.json
  libs/clients/health-directorate/src/lib/clients/occupational-license/clientConfig.json
  libs/clients/health-directorate/src/lib/clients/occupational-license/healthDirectorateClient.service.ts
  libs/portals/my-pages/occupational-licenses/src/screens/OccupationalLicensesOverview/OccupationalLicensesOverview.graphql
  libs/portals/my-pages/occupational-licenses/src/screens/OccupationalLicensesOverview/OccupationalLicensesOverview.tsx
Due: Portal GraphQL

revert(hms-ra): seperate table repeater (#20196)
  libs/application/template-api-modules/src/lib/modules/templates/rental-agreement/utils/mapRentalApplicationData.ts
  libs/application/templates/rental-agreement/src/forms/draftForm/partiesSection/index.ts
  libs/application/templates/rental-agreement/src/forms/inReviewForm/preSignatureInfoSection.ts
  libs/application/templates/rental-agreement/src/forms/inReviewForm/reviewInfoSection.ts
  libs/application/templates/rental-agreement/src/lib/messages/housing/landlordAndTenantDetails.ts
  libs/application/templates/rental-agreement/src/lib/schemas/landlordAndTenantSchema.ts
  libs/application/templates/rental-agreement/src/shared/types.ts
  libs/application/templates/rental-agreement/src/shared/utils.ts
  libs/application/templates/rental-agreement/src/utils/conditions.ts
  libs/application/templates/rental-agreement/src/utils/overviewUtils.ts
  libs/application/templates/rental-agreement/src/utils/utils.ts
Due: Application System API

feat(payments): Invoices (#20089)
  apps/services/payments/infra/payments.ts
  apps/services/payments/migrations/20250828000000-prepare-for-invoice-payments.js
  apps/services/payments/migrations/20250828000001-add-delivery-tracking-to-events.js
  apps/services/payments/src/app/cardPayment/cardPayment.controller.spec.ts
  apps/services/payments/src/app/cardPayment/cardPayment.controller.ts
  apps/services/payments/src/app/cardPayment/cardPayment.module.ts
  apps/services/payments/src/app/invoicePayment/dtos/callback.input.ts
  apps/services/payments/src/app/invoicePayment/dtos/paidStatus.enum.ts
  apps/services/payments/src/app/invoicePayment/invoicePayment.config.ts
  apps/services/payments/src/app/invoicePayment/invoicePayment.controller.spec.ts
  apps/services/payments/src/app/invoicePayment/invoicePayment.controller.ts
  apps/services/payments/src/app/invoicePayment/invoicePayment.module.ts
  apps/services/payments/src/app/invoicePayment/invoicePayment.service.ts
  apps/services/payments/src/app/paymentFlow/dtos/createPaymentFlow.input.ts
  apps/services/payments/src/app/paymentFlow/models/cardPaymentDetails.model.ts
  apps/services/payments/src/app/paymentFlow/models/fjsCharge.model.ts
  apps/services/payments/src/app/paymentFlow/models/paymentFlow.model.ts
  apps/services/payments/src/app/paymentFlow/models/paymentFlowEvent.model.ts
  apps/services/payments/src/app/paymentFlow/models/paymentFulfillment.model.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.module.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.service.spec.ts
  apps/services/payments/src/app/paymentFlow/paymentFlow.service.ts
  apps/services/payments/test/environment.ts
  charts/islandis-services/services-payments/values.dev.yaml
  charts/islandis-services/services-payments/values.prod.yaml
  charts/islandis-services/services-payments/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
  libs/feature-flags/src/lib/features.ts
  libs/shared/constants/src/lib/paymentErrorCodes.ts
Due: none

feat(form-system): dialogPrompt when deleting forms and some advancements in fileUpload (#20272)
  apps/services/form-system/src/app/modules/aws-s3/awsS3.config.ts
  apps/services/form-system/src/app/modules/aws-s3/awsS3.service.ts
  libs/portals/admin/form-system/src/components/Forms/Forms.tsx
  libs/portals/admin/form-system/src/components/Forms/components/Table/TableRow.tsx
  libs/portals/form-system/ui-components/src/components/FieldComponents/FileUpload/FileUpload.tsx
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: none

fix(j-s): Delete external document (#20252)
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtSessionAccordionItem.tsx
Due: none

chore: add download service service account (#20248)
  apps/download-service/infra/download-service.ts
  charts/islandis-services/download-service/values.dev.yaml
  charts/islandis-services/download-service/values.prod.yaml
  charts/islandis-services/download-service/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

fix(my-pages): Sortable dashboard items in CMS (#20253)
  libs/portals/my-pages/core/src/hooks/useDynamicRoutes/useDynamicRoutes.ts
  libs/portals/my-pages/core/src/utils/orderRoutes.ts
Due: none

feat(j-s): add delivered verdict date (#20156)
  apps/judicial-system/api/src/app/modules/verdict/models/verdict.model.ts
  apps/judicial-system/backend/migrations/20250918152533-update-verdict.js
  apps/judicial-system/backend/src/app/formatters/verdictServiceCertificatePdf.ts
  apps/judicial-system/backend/src/app/modules/case/interceptors/case.interceptor.ts
  apps/judicial-system/backend/src/app/modules/case/pdf.service.ts
  apps/judicial-system/backend/src/app/modules/police/police.service.ts
  apps/judicial-system/backend/src/app/modules/repository/models/verdict.model.ts
  apps/judicial-system/backend/src/app/modules/verdict/dto/policeUpdateVerdict.dto.ts
  apps/judicial-system/backend/src/app/modules/verdict/test/creatingTestingVerdictModule.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.controller.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.module.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.service.ts
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/components/VerdictStatusAlert/VerdictStatusAlert.tsx
  apps/judicial-system/web/src/utils/hooks/useVerdict/verdict.graphql
  apps/judicial-system/xrd-api/src/app/app.service.ts
  apps/judicial-system/xrd-api/src/app/dto/policeDocument.dto.ts
  libs/judicial-system/types/src/lib/eventLog.ts
  libs/judicial-system/types/src/lib/verdict.ts
Due: none

feat: add service account for auth delegation api (#20260)
  apps/services/auth/delegation-api/infra/delegation-api.ts
  charts/identity-server-services/services-auth-delegation-api/values.dev.yaml
  charts/identity-server-services/services-auth-delegation-api/values.prod.yaml
  charts/identity-server-services/services-auth-delegation-api/values.staging.yaml
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

feat(application-system): Replacing nationalIds with Names in historyLogs (#20212)
  apps/application-system/api/src/app/modules/application/lifecycle/application-lifecycle.module.ts
  apps/application-system/api/src/app/modules/application/tools/applicationAdmin.serializer.ts
  apps/application-system/api/src/app/modules/application/utils/application.ts
  libs/application/api/history/src/lib/history.module.ts
  libs/application/api/history/src/lib/historyBuilder.ts
  libs/clients/identity/src/lib/identityClient.service.ts
Due: Application System API

fix: remove sso from super user fields (#20270)
  libs/auth-api-lib/src/lib/clients/admin/dto/admin-patch-client.dto.ts
Due: none

fix(signature-collection): tweak scope municipality (#20251)
  libs/portals/admin/signature-collection/src/lib/utils.ts
  libs/portals/admin/signature-collection/src/module.tsx
  libs/portals/admin/signature-collection/src/screens-municipal/AllMunicipalities/index.tsx
Due: none

fix(j-s): Court documents count (#20243)
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtRecord.css.ts
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtSessionAccordionItem.tsx
  apps/judicial-system/web/src/utils/hooks/useCourtDocuments/createCourtDocument.graphql
  apps/judicial-system/web/src/utils/hooks/useCourtDocuments/fileCourtDocumentInCourt.graphql
  apps/judicial-system/web/src/utils/hooks/useCourtDocuments/index.ts
Due: none

feat(hms-ra): add eldklar message and link (#20269)
  libs/application/templates/rental-agreement/src/forms/draftForm/rentalPropertySection/fireProtectionsSubsection.ts
  libs/application/templates/rental-agreement/src/lib/messages/draftFormMessages/rentalPropertyMessages/fireProtectionsMessages.ts
Due: Application System API

feat(estate): add custom headings for the final screen for each application type (#20249)
  libs/application/templates/estate/src/forms/Done.ts
  libs/application/templates/estate/src/lib/messages.ts
Due: Application System API

fix(application-system): Verify passport renewal eligibility serverside (#20245)
  libs/application/template-api-modules/src/lib/modules/templates/passport/passport.service.ts
Due: Application System API

feat: add auth admin and auth public sa (#20261)
  apps/services/auth/admin-api/infra/auth-admin-api.ts
  apps/services/auth/public-api/infra/auth-public-api.ts
  apps/services/documents/infra/documents-service.ts
  charts/identity-server-services/services-auth-admin-api/values.dev.yaml
  charts/identity-server-services/services-auth-admin-api/values.prod.yaml
  charts/identity-server-services/services-auth-admin-api/values.staging.yaml
  charts/identity-server-services/services-auth-public-api/values.dev.yaml
  charts/identity-server-services/services-auth-public-api/values.prod.yaml
  charts/identity-server-services/services-auth-public-api/values.staging.yaml
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
  charts/islandis-services/services-documents/values.dev.yaml
  charts/islandis-services/services-documents/values.prod.yaml
  charts/islandis-services/services-documents/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

feat(form-system): Breadcrumbs, navbar and applicants update (#20234)
  apps/form-system/web/src/components/Screen/components/Applicants/Applicants.tsx
  libs/portals/admin/form-system/src/components/FormLayout/FormLayout.tsx
  libs/portals/admin/form-system/src/components/FormLayout/components/MainColumns.tsx
  libs/portals/admin/form-system/src/components/FormLayout/components/Navbar.css.ts
  libs/portals/admin/form-system/src/components/FormLayout/components/NavbarColumn.tsx
  libs/portals/admin/form-system/src/components/FormsLayout/FormsLayout.tsx
  libs/portals/admin/form-system/src/components/Navbar/Navbar.tsx
  libs/portals/admin/form-system/src/components/NavbarSelect/NavbarSelect.css.ts
  libs/portals/admin/form-system/src/components/NavbarSelect/NavbarSelect.tsx
  libs/portals/admin/form-system/src/screens/Form/FormHeader.tsx
  libs/portals/form-system/graphql/src/lib/queries/identityQuery.ts
  libs/portals/form-system/ui-components/src/components/RelevantParties/agent.tsx
  libs/portals/form-system/ui-components/src/components/RelevantParties/components/nationalIdField.tsx
  libs/portals/form-system/ui-components/src/components/RelevantParties/individualApplicant.tsx
  libs/portals/form-system/ui-components/src/components/index.ts
  libs/portals/form-system/ui-components/src/lib/enums.ts
  libs/portals/form-system/ui-components/src/lib/index.ts
Due: none

fix: add missing auth ids api service account (#20264)
  apps/services/auth/ids-api/infra/ids-api.ts
  charts/identity-server-services/services-auth-ids-api/values.dev.yaml
  charts/identity-server-services/services-auth-ids-api/values.prod.yaml
  charts/identity-server-services/services-auth-ids-api/values.staging.yaml
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none
