Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

test(auth): cover delegation create unique-constraint race recovery
  apps/services/auth/delegation-api/src/app/delegations/test/me-delegations.access-outgoing.spec.ts
Due: none

fix: comment
  libs/clients/middlewares/src/lib/withAutoAuth.ts
Due: none

chore: format update dirty file
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversationDetail.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/components/ConversationBackButton.tsx
Due: none

fix(doe): DOE applications by jafnrettisstofa
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
  libs/application/types/src/lib/Institution.ts
  libs/application/types/src/lib/InstitutionMapper.ts
Due: Application System API

update copy on modals and dropdown
  apps/judicial-system/web/src/components/ProsecutorSelection/ProsecutorSelection.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/ReturnIndictmentModal/ReturnIndictmentModal.tsx
Due: none

feat(native-app): Show description for questionnaires in the detail view.
  apps/native/app/src/app/(auth)/(tabs)/health/questionnaires/[id].tsx
  apps/native/app/src/messages/en.ts
  apps/native/app/src/messages/is.ts
Due: none

chore: format update dirty file
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
Due: none

fix(driving-license): only tolerate duplicate RLS submit after a recorded success
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.spec.ts
Due: Application System API

Remove default subtitle from conclusion banner
  libs/application/templates/pay-debts/src/forms/completedForm/index.ts
  libs/application/ui-fields/src/lib/AlertMessageFormField/AlertMessageFormField.tsx
  libs/application/ui-forms/src/lib/formConclusionSection/formConclusionSection.ts
Due: Application System API

clear state
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
Due: none

coverage directory
  libs/application/templates/vmst/u2-certificate/jest.config.ts
Due: Application System API

remove redundant migration
  apps/judicial-system/backend/migrations/20260827120001-add-waiting-for-review-state.js
Due: none

Update RenewPrescriptionModal.tsx
  libs/portals/my-pages/health/src/screens/MedicinePrescriptions/components/RenewPrescriptionModal/RenewPrescriptionModal.tsx
Due: none

feat: add remedy date + select all in table
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-equality/directorate-of-equality.service.ts
  libs/application/templates/directorate-of-equality/salary-report/src/fields/EmployeesEditor/EmployeeRow.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/EmployeesEditor/utils.ts
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierEditor.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierGroupCard.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryImprovementPlan.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/outlierColumns.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/forms/outlierPlanOverview.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/outlierPlanOverview.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/dataSchema.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/constants.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/dates.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/dates.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/emptyOutlierGroupAnswer.spec.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/utils/outlierGroups.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/outlierGroups.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.ts
  libs/clients/directorate-of-equality/src/clientConfig.json
Due: Application System API

rabbit comment
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversationDetail.tsx
Due: none

Coderabbit suggestion
  apps/web/components/connected/CustomsGeneral/CustomsGeneralDateTable.tsx
Due: none

fix(as): Applicant should be able to delete application awaiting assignees (#23527)
  libs/application/templates/hms/housing-benefits/src/lib/template.ts
Due: Application System API

fix(my-pages): Health conversation fetch policies (#23521)
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversationDetail.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversations.css.ts
  libs/portals/my-pages/health/src/screens/HealthConversations/HealthConversations.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/NewHealthConversation.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/components/ConversationAvatar.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/components/ConversationBackButton.tsx
  libs/portals/my-pages/health/src/screens/HealthConversations/components/MessageActions.css.ts
  libs/portals/my-pages/health/src/screens/HealthConversations/components/MessageActions.tsx
  libs/portals/my-pages/health/src/screens/HealthOverview/components/HealthConversationsBox/HealthConversationsBox.tsx
  libs/portals/my-pages/health/src/screens/MedicinePrescriptions/components/RenewPrescriptionModal/RenewPrescriptionModal.tsx
Due: none

fix: move spread above contenttype
  libs/clients/middlewares/src/lib/withAutoAuth.ts
Due: none

Add Greiða skuld button to Fjármál - Mínar síður
  libs/portals/my-pages/finance/src/lib/messages.ts
  libs/portals/my-pages/finance/src/screens/FinanceStatus/FinanceStatus.tsx
Due: none

removing unused imports
  libs/application/template-api-modules/src/lib/modules/templates/vmst/u2-certificate/u2-certificate.module.ts
Due: Application System API

add conditional address in web
  libs/portals/form-system/ui-components/src/components/DisplayComponents/ApplicantDisplay/ApplicantDisplay.tsx
  libs/portals/form-system/ui-components/src/components/RelevantParties/IndividualApplicant.tsx
Due: none

fix: date
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-equality/directorate-of-equality.service.ts
Due: Application System API

fix(driving-license): only tolerate duplicate RLS submit after a recorded success (#23538)
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.spec.ts
Due: Application System API

notification polish
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/notification/services/caseNotification/caseNotification.service.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Overview/Overview.tsx
  libs/judicial-system/types/src/lib/notification.ts
Due: none

feat: add tests
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-equality/directorate-of-equality.service.spec.ts
Due: Application System API

conditionally send address to zendesk
  apps/services/form-system/src/app/modules/services/zendesk.service.ts
Due: none

feat(application): DOE - SR - add remedy date + select all in table (#23539)
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-equality/directorate-of-equality.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/directorate-of-equality/directorate-of-equality.service.ts
  libs/application/templates/directorate-of-equality/salary-report/src/fields/EmployeesEditor/EmployeeRow.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/EmployeesEditor/utils.ts
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierEditor.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/OutlierGroupCard.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/SalaryImprovementPlan.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/fields/SalaryAnalysisResults/outlierColumns.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/forms/outlierPlanOverview.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/forms/outlierPlanOverview.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/dataSchema.ts
  libs/application/templates/directorate-of-equality/salary-report/src/lib/messages.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/constants.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/dates.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/dates.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/emptyOutlierGroupAnswer.spec.tsx
  libs/application/templates/directorate-of-equality/salary-report/src/utils/outlierGroups.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/outlierGroups.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.spec.ts
  libs/application/templates/directorate-of-equality/salary-report/src/utils/salaryAnalysisNavigation.ts
  libs/clients/directorate-of-equality/src/clientConfig.json
Due: Application System API

feat(my-pages): Health treatments service and resolver
  libs/api/domains/health-directorate/src/lib/health-directorate.module.ts
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/mappers/treatmentMapper.ts
  libs/api/domains/health-directorate/src/lib/models/treatment.model.ts
  libs/api/domains/health-directorate/src/lib/resolvers/treatments.resolver.ts
  libs/clients/health-directorate/src/index.ts
  libs/clients/health-directorate/src/lib/clients/health/health.service.ts
  libs/feature-flags/src/lib/features.ts
Due: Portal GraphQL

rabbit
  libs/portals/form-system/ui-components/src/components/RelevantParties/IndividualApplicant.tsx
Due: none

Update features.ts
  libs/feature-flags/src/lib/features.ts
Due: none

feat(form-system): make address optional (#23540)
  apps/services/form-system/migrations/20260831102041-add-applicant-flag-in-field-settings.js
  apps/services/form-system/src/app/dataTypes/fieldSettings/fieldSettings.factory.ts
  apps/services/form-system/src/app/dataTypes/fieldSettings/fieldSettings.model.ts
  apps/services/form-system/src/app/modules/formApplicantTypes/formApplicantTypes.service.ts
  apps/services/form-system/src/app/modules/services/zendesk.service.ts
  libs/api/domains/form-system/src/dto/fieldSettings.input.ts
  libs/api/domains/form-system/src/dto/updateFieldSettings.input.ts
  libs/api/domains/form-system/src/models/fieldSettings.model.ts
  libs/portals/admin/form-system/src/components/MainContent/components/RelevantParties/components/RelevantParty.tsx
  libs/portals/admin/form-system/src/hooks/controlReducer.ts
  libs/portals/form-system/graphql/src/lib/fragments/fieldSettings.ts
  libs/portals/form-system/ui-components/src/components/DisplayComponents/ApplicantDisplay/ApplicantDisplay.tsx
  libs/portals/form-system/ui-components/src/components/RelevantParties/IndividualApplicant.tsx
Due: Portal GraphQL

fix(driving-license): read RLS error code from errorCode before problem.title
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.spec.ts
Due: Application System API

feat(j-s): Add EventLogRepositoryService
  apps/judicial-system/backend/src/app/modules/repository/index.ts
  apps/judicial-system/backend/src/app/modules/repository/repository.module.ts
  apps/judicial-system/backend/src/app/modules/repository/services/eventLogRepository.service.ts
  apps/judicial-system/backend/src/app/modules/repository/test/eventLogRepository.service.spec.ts
Due: none

refactor(j-s): Move EventLogService onto the event log repository
  apps/judicial-system/backend/src/app/modules/event-log/eventLog.module.ts
  apps/judicial-system/backend/src/app/modules/event-log/eventLog.service.ts
Due: none

fix(my-pages) Display LSH answers
  libs/api/domains/questionnaires/src/lib/questionnaires.service.ts
  libs/api/domains/questionnaires/src/lib/transform-mappers/display.mappers.spec.ts
  libs/api/domains/questionnaires/src/lib/transform-mappers/lsh/display/mapQuestionnaire.ts
  libs/portals/my-pages/health/src/screens/Questionnaires/AnsweredQuestionnaire.tsx
Due: Portal GraphQL

chore: format update dirty file
  apps/judicial-system/web/src/utils/utils.spec.ts
  apps/judicial-system/web/src/utils/utils.ts
Due: none

feat(j-s): read-only verdict timeline card for defence users
  apps/judicial-system/web/src/components/Cards/VerdictTimelineCard/DefenderVerdictTimelineCard.spec.tsx
  apps/judicial-system/web/src/components/Cards/VerdictTimelineCard/DefenderVerdictTimelineCard.tsx
  apps/judicial-system/web/src/components/Cards/VerdictTimelineCard/VerdictTimelineBody.tsx
  apps/judicial-system/web/src/components/Cards/VerdictTimelineCard/VerdictTimelineCard.tsx
  apps/judicial-system/web/src/components/index.ts
  apps/judicial-system/web/src/routes/Defender/IndictmentCase/IndictmentOverview.spec.tsx
  apps/judicial-system/web/src/routes/Defender/IndictmentCase/IndictmentOverview.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/Overview/Overview.tsx
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/verdict.spec.ts
  libs/judicial-system/types/src/lib/verdict.ts
Due: none

fix(driving-license): don't require the driving assessment to be recent
  libs/api/domains/driving-license/src/lib/__mock-data__/drivingAssessment.ts
  libs/api/domains/driving-license/src/lib/drivingLicense.service.ts
  libs/api/domains/driving-license/src/lib/drivingLicense.spec.ts
  libs/api/domains/driving-license/src/lib/util/constants.ts
Due: Portal GraphQL

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
