Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

use correct value in inactive status
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/helpers.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/mocks.ts
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/notificationsWorker.service.ts
Due: none

feat: update assessment data and screens
  libs/api/domains/education/src/lib/enums/primarySchool.enum.ts
  libs/api/domains/education/src/lib/models/primarySchool/index.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchool.mapper.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolAssessment.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolAssessmentGrade.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolAssessmentPeriod.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolAssessmentResult.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolAssessmentSubject.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolAssessmentType.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolAssignmentEvaluation.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolAssignmentResult.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolStudent.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolStudentResults.model.ts
  libs/api/domains/education/src/lib/modules/primarySchool.module.ts
  libs/api/domains/education/src/lib/resolvers/primarySchool.resolver.ts
  libs/api/domains/education/src/lib/resolvers/primarySchoolAssessment.resolver.ts
  libs/api/domains/education/src/lib/resolvers/primarySchoolAssessmentType.resolver.ts
  libs/api/domains/education/src/lib/shared/types.ts
  libs/clients/mms/primary-school/src/clientConfig.json
  libs/clients/mms/primary-school/src/index.ts
  libs/clients/mms/primary-school/src/lib/primarySchoolClient.service.ts
  libs/portals/my-pages/education/src/screens/PrimarySchool/PrimarySchoolAssessment/AssessmentTable.tsx
  libs/portals/my-pages/education/src/screens/PrimarySchool/PrimarySchoolAssessment/PrimarySchoolAssessment.graphql
  libs/portals/my-pages/education/src/screens/PrimarySchool/PrimarySchoolAssessment/PrimarySchoolAssessment.tsx
Due: Portal GraphQL

chore: format update dirty file
  libs/portals/my-pages/education/src/screens/PrimarySchool/PrimarySchoolAssessment/PrimarySchoolAssessment.tsx
Due: none

ui
  apps/form-system/web/src/components/Screen/Screen.tsx
  apps/form-system/web/src/components/Screen/components/Display/Display.tsx
  apps/form-system/web/src/components/Screen/components/Summary/Summary.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/CheckBoxDisplay/CheckBoxDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/DateDisplay/DateDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/DefaultDisplay/DefaultDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/NationalIdDisplay/NationalIdDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/PhoneNumberDisplay/PhoneNumberDisplay.tsx
Due: none

screen multi
  apps/form-system/web/src/components/Screen/Screen.tsx
Due: none

cleanup
  apps/form-system/web/src/components/Screen/Screen.tsx
Due: none

rabbit fixes
  apps/form-system/web/src/components/Screen/Screen.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/FileUploadDisplay/FileUploadDisplay.tsx
Due: none

rabbit
  apps/form-system/web/src/components/Screen/Screen.tsx
Due: none

A little more restructuring
  libs/portals/my-pages/social-benefits/src/components/index.ts
  libs/portals/my-pages/social-benefits/src/components/social-insurance/PaymentGroupTable/PaymentGroupTable.css.ts
  libs/portals/my-pages/social-benefits/src/components/social-insurance/PaymentGroupTable/PaymentGroupTable.graphql
  libs/portals/my-pages/social-benefits/src/components/social-insurance/PaymentGroupTable/PaymentGroupTable.tsx
  libs/portals/my-pages/social-benefits/src/components/social-insurance/PaymentGroupTable/PaymentGroupTableRow.tsx
  libs/portals/my-pages/social-benefits/src/lib/messages/index.ts
  libs/portals/my-pages/social-benefits/src/lib/messages/socialInsurance.ts
  libs/portals/my-pages/social-benefits/src/lib/routes/socialInsuranceLegacyRedirects.tsx
  libs/portals/my-pages/social-benefits/src/lib/routes/socialInsuranceRoutes.tsx
  libs/portals/my-pages/social-benefits/src/module.tsx
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/IncomePlan/IncomePlan.graphql
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/IncomePlan/IncomePlan.tsx
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/IncomePlan/IncomePlanCard.tsx
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/IncomePlan/mapper.ts
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/IncomePlan/types.ts
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/IncomePlanDetail/IncomePlanDetail.graphql
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/IncomePlanDetail/IncomePlanDetail.tsx
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/PaymentPlan/PaymentPlan.graphql
  libs/portals/my-pages/social-benefits/src/screens/social-insurance/PaymentPlan/PaymentPlan.tsx
Due: none

fix(web): Court agendas - Schedule types no longer duplicated (#21988) (#21993)
  libs/clients/verdicts/src/lib/verdicts-client.service.ts
Due: none

feat(web): Verdict List - Hide case type filter for retrial court (#22011)
  apps/web/screens/Verdicts/VerdictsList.tsx
Due: none

Removes duplicate code
  apps/judicial-system/backend/src/app/modules/repository/types/caseRepository.types.ts
Due: none

remove key
  libs/portals/my-pages/social-benefits/src/module.tsx
Due: none

chore: format update dirty file
  libs/portals/my-pages/social-benefits/project.json
Due: none

Remove unneeded call to getProperties
  apps/services/payments/src/app/cardPayment/cardPayment.utils.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/utils.ts
Due: Application System API

cr-fix
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
Due: Application System API

chore: rabbbit comments
  libs/island-ui/core/src/lib/Input/Input.tsx
Due: none

fix(my-pages): Prescription renewal overflow
  libs/api/domains/health-directorate/src/lib/health-directorate.service.ts
  libs/api/domains/health-directorate/src/lib/models/prescriptions.model.ts
  libs/portals/my-pages/health/src/lib/messages.ts
  libs/portals/my-pages/health/src/screens/MedicinePrescriptions/Prescriptions.graphql
  libs/portals/my-pages/health/src/screens/MedicinePrescriptions/components/RenewPrescriptionModal/RenewPrescriptionModal.css.ts
  libs/portals/my-pages/health/src/screens/MedicinePrescriptions/components/RenewPrescriptionModal/RenewPrescriptionModal.tsx
Due: Portal GraphQL

feat(web): Remove app banner (#22015)
  apps/web/components/MobileAppBanner/MobileAppBanner.css.ts
  apps/web/components/MobileAppBanner/MobileAppBanner.tsx
  apps/web/components/real.ts
  apps/web/layouts/main.tsx
Due: none

chore: fixes after review
  libs/api/domains/farmers/src/lib/farmers.service.ts
  libs/api/domains/farmers/src/lib/mapper.ts
  libs/api/domains/farmers/src/lib/models/enums.ts
  libs/api/domains/farmers/src/lib/models/farmerLandSubsidiesInput.model.ts
  libs/clients/farmers/src/clientConfig.json
  libs/clients/farmers/src/lib/farmers.service.ts
  libs/portals/my-pages/assets/src/screens/FarmerLands/Detail/FarmerLandDetail.tsx
  libs/portals/my-pages/assets/src/screens/FarmerLands/Overview/FarmerLandsOverview.tsx
  libs/portals/my-pages/core/src/lib/messages.ts
Due: Portal GraphQL

fix. tests
  libs/island-ui/core/src/lib/DatePicker/DatePicker.spec.tsx
Due: none

chore: fixes after review
  libs/api/domains/education/src/lib/enums/primarySchool.enum.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchool.mapper.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolAssessment.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolAssessmentGrade.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolAssessmentPeriod.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolAssessmentResult.model.ts
  libs/api/domains/education/src/lib/models/primarySchool/primarySchoolStudent.model.ts
  libs/api/domains/education/src/lib/resolvers/primarySchool.resolver.ts
  libs/clients/mms/primary-school/src/clientConfig.json
  libs/clients/mms/primary-school/src/index.ts
  libs/clients/mms/primary-school/src/lib/primarySchoolClient.service.ts
Due: Portal GraphQL

fix: explicit project
  codemagic.yaml
Due: none

fix(driving-license): update BE quality photo description with new message ID
  libs/application/templates/driving-license/src/lib/messages.ts
Due: Application System API

fix(driving-license): update BE charge code from AY115 to AY148
  libs/application/template-api-modules/src/lib/modules/templates/transport-authority/driving-license-submission/driving-license-submission.service.ts
  libs/application/templates/driving-license/src/lib/constants.ts
Due: Application System API

feat(ui): Date picker range UI improvements (#22007)
  libs/island-ui/core/src/lib/DatePicker/DatePicker.spec.tsx
  libs/island-ui/core/src/lib/DatePicker/DatePicker.tsx
  libs/island-ui/core/src/lib/DatePicker/react-datepicker.css.ts
  libs/island-ui/core/src/lib/Input/Input.tsx
  libs/island-ui/core/src/lib/Input/types.ts
Due: none

refund flow if necessary, always delete flow
  libs/application/api/payment/src/lib/payment.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
Due: Application System API

fix catch
  libs/application/api/payment/src/lib/payment.service.ts
Due: Application System API

fix: add overflow and variable columns2
  libs/portals/my-pages/health/src/components/DispensingContainer/DispensingContainer.css.ts
  libs/portals/my-pages/health/src/components/DispensingContainer/DispensingDetailModalItem.tsx
Due: none

fix(driving-license): add hidden field to persist hasHealthRemarks in BE flow
  libs/application/templates/driving-license/src/forms/draft/subSectionHealthDeclaration.ts
Due: Application System API

chore(form-system): make the multi UI better (#22018)
  apps/form-system/web/src/components/Screen/Screen.tsx
  apps/form-system/web/src/components/Screen/components/Display/Display.tsx
  apps/form-system/web/src/components/Screen/components/Summary/Summary.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/CheckBoxDisplay/CheckBoxDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/DateDisplay/DateDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/DefaultDisplay/DefaultDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/FileUploadDisplay/FileUploadDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/NationalIdDisplay/NationalIdDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/PhoneNumberDisplay/PhoneNumberDisplay.tsx
Due: none

Renaming message to use english, fixing comment
  libs/portals/my-pages/core/src/lib/messages.ts
  libs/portals/my-pages/social-benefits/src/lib/navigation.ts
  libs/portals/my-pages/social-benefits/src/lib/paths.ts
Due: none

fix(as-fca): Improve logging and simplify calculations (#22020)
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
Due: Application System API

feat(web): Verdict List - Hide case type filter for retrial court #22011 (#22013)
  apps/web/screens/Verdicts/VerdictsList.tsx
Due: none

feat(form-system): refactor rendering logic into MultiSet component
  apps/form-system/web/src/components/Screen/Screen.tsx
Due: none

feat(driving-license): add answer validators for BE health certificate upload
  libs/application/templates/driving-license/src/lib/answerValidators.ts
  libs/application/templates/driving-license/src/lib/drivingLicenseTemplate.ts
  libs/application/templates/driving-license/src/lib/messages.ts
Due: Application System API

fix(as-fca): Improve logging and simplify calculations (#22020) (#22023)
  libs/application/template-api-modules/src/lib/modules/templates/hms/fire-compensation-appraisal/fire-compensation-appraisal.service.ts
Due: Application System API
