Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

feat(j-s): Split Case - Remaining Entities Except Files (#20930)
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/splitDefendantFromCase.spec.ts
  apps/judicial-system/backend/src/app/modules/defendant/defendant.module.ts
  apps/judicial-system/backend/src/app/modules/defendant/defendant.service.ts
  apps/judicial-system/backend/src/app/modules/defendant/test/createTestingDefendantModule.ts
  apps/judicial-system/backend/src/app/modules/event-log/eventLog.service.ts
  apps/judicial-system/backend/src/app/modules/repository/repository.module.ts
  apps/judicial-system/backend/src/app/modules/repository/services/caseRepository.service.ts
  apps/judicial-system/backend/src/app/modules/repository/services/defendantEventLogRepository.service.ts
  apps/judicial-system/backend/src/app/modules/repository/services/defendantRepository.service.ts
  apps/judicial-system/backend/src/app/modules/repository/services/subpoenaRepository.service.ts
  apps/judicial-system/backend/src/app/modules/repository/services/verdictRepository.service.ts
  apps/judicial-system/backend/src/app/modules/subpoena/subpoena.service.ts
  apps/judicial-system/backend/src/app/modules/verdict/verdict.service.ts
Due: none

Fix copy
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtRecord.css.ts
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtRecord.tsx
Due: none

feat(j-s): Split Case Files (#20936)
  apps/judicial-system/api/src/app/modules/file/models/file.model.ts
  apps/judicial-system/backend/migrations/20251212185827-update-case-file.js
  apps/judicial-system/backend/src/app/formatters/formatters.ts
  apps/judicial-system/backend/src/app/modules/aws-s3/awsS3.service.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/limitedAccessCase.service.ts
  apps/judicial-system/backend/src/app/modules/case/pdf.service.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/createCourtCase.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/transition.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/update.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/internalCaseController/deliverIndictmentCaseToPolice.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/limitedAccessCaseController/transition.spec.ts
  apps/judicial-system/backend/src/app/modules/file/file.service.ts
  apps/judicial-system/backend/src/app/modules/file/test/fileController/deleteCaseFile.spec.ts
  apps/judicial-system/backend/src/app/modules/file/test/fileController/getCaseFileSignedUrl.spec.ts
  apps/judicial-system/backend/src/app/modules/file/test/fileController/uploadCaseFileToCourt.spec.ts
  apps/judicial-system/backend/src/app/modules/file/test/internalFileController/deliverCaseFileToCourt.spec.ts
  apps/judicial-system/backend/src/app/modules/file/test/internalFileController/deliverCaseFileToCourtOfAppeals.spec.ts
  apps/judicial-system/backend/src/app/modules/file/test/limitedAccessFileController/deleteCaseFile.spec.ts
  apps/judicial-system/backend/src/app/modules/file/test/limitedAccessFileController/getCaseFileSignedUrl.spec.ts
  apps/judicial-system/backend/src/app/modules/repository/models/caseFile.model.ts
  apps/judicial-system/backend/src/app/modules/repository/repository.module.ts
  apps/judicial-system/backend/src/app/modules/repository/services/caseRepository.service.ts
  apps/judicial-system/web/src/components/AccordionItems/IndictmentsCaseFilesAccordionItem/IndictmentsCaseFilesAccordionItem.tsx
  apps/judicial-system/web/src/components/AppealCaseFilesOverview/AppealCaseFilesOverview.tsx
  apps/judicial-system/web/src/components/CaseFileList/CaseFileList.tsx
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/components/FormProvider/limitedAccessCase.graphql
  apps/judicial-system/web/src/components/IndictmentCaseFilesList/IndictmentCaseFilesList.tsx
  apps/judicial-system/web/src/utils/hooks/useCase/limitedAccessUpdateCase.graphql
  apps/judicial-system/web/src/utils/hooks/useCase/updateCase.graphql
  apps/judicial-system/web/src/utils/hooks/useCourtUpload/index.ts
  apps/judicial-system/web/src/utils/hooks/useFileList/index.ts
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
  apps/judicial-system/web/src/utils/mocks.ts
Due: none

feat(native-app): Add vehicle mileage registration banner (#20875)
  apps/native/app/src/assets/icons/filled-vehicle.png
  apps/native/app/src/assets/icons/filled-vehicle@2x.png
  apps/native/app/src/assets/icons/filled-vehicle@3x.png
  apps/native/app/src/constants/dissmissed-keys.ts
  apps/native/app/src/messages/en.ts
  apps/native/app/src/messages/is.ts
  apps/native/app/src/screens/home/hello-module.tsx
  apps/native/app/src/screens/home/home-banner.tsx
  apps/native/app/src/screens/home/onboarding-module.tsx
Due: none

Fixes promise await
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
Due: none

Fixes Sequelize where condition
  apps/judicial-system/backend/src/app/modules/case/internalCase.service.ts
Due: none

fix: update generic list tiem props
  apps/services/cms-importer/src/app/repositories/cms/cms.types.ts
  apps/services/cms-importer/src/app/repositories/cms/mapper.ts
  apps/services/cms-importer/src/app/repositories/energy-grants/mapper.ts
  apps/services/cms-importer/src/app/repositories/fsre-buildings/mapper.ts
Due: none

Removes unused code
  apps/judicial-system/backend/src/app/modules/repository/services/verdictRepository.service.ts
Due: none

fix(j-s): tests and small feedback
  apps/judicial-system/backend/src/app/modules/file/guards/test/limitedAccessViewCaseFileGuard.spec.ts
  apps/judicial-system/backend/src/app/modules/notification/services/caseNotification/caseNotification.service.ts
Due: none

Fixes default judgement tag and cleans up some no longer used logic
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.cellGenerators.ts
Due: none

small updates
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.utils.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/educationHistory.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/licenses.tsx
  libs/application/templates/unemployment-benefits/src/utils/educationInformation.ts
Due: Application System API

chore: format update dirty file
  libs/clients/vmst-unemployment/src/clientConfig.json
Due: none

chore(j-s): Update copy (#20947)
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtRecord.css.ts
  apps/judicial-system/web/src/routes/Court/Indictments/CourtRecord/CourtRecord.tsx
Due: none

remove unused scope
  apps/services/user-notification/src/app/modules/notifications/notificationsWorker/notificationsWorker.service.ts
Due: none

fix(unemployment-benefits): final adjustments after launch testing (#20943)
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.utils.ts
  libs/application/templates/unemployment-benefits/src/assets/drivingLicenses/c.tsx
  libs/application/templates/unemployment-benefits/src/assets/drivingLicenses/index.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentInformationSection/currentSituation.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentInformationSection/employmentHistory.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/educationHistory.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/licenses.tsx
  libs/application/templates/unemployment-benefits/src/forms/mainForm/payoutSection/payoutInformation.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/payoutSection/vacation.ts
  libs/application/templates/unemployment-benefits/src/lib/messages/education.ts
  libs/application/templates/unemployment-benefits/src/lib/messages/employment.ts
  libs/application/templates/unemployment-benefits/src/lib/schemas/otherBenefitsSchema.ts
  libs/application/templates/unemployment-benefits/src/utils/educationInformation.ts
Due: Application System API

Fixes comment
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.cellGenerators.ts
Due: none

feat(estate): prefill some checkboxes and add a new one for knowledge of will (#20776)
  libs/application/template-api-modules/src/lib/modules/templates/estate/types/index.ts
  libs/application/template-api-modules/src/lib/modules/templates/estate/utils/processUploadData.ts
  libs/application/templates/estate/src/forms/Sections/testamentInfo.ts
  libs/application/templates/estate/src/lib/dataSchema.ts
  libs/application/templates/estate/src/lib/messages.ts
  libs/clients/syslumenn/src/lib/syslumennClient.types.ts
  libs/clients/syslumenn/src/lib/syslumennClient.utils.ts
Due: Application System API

Enhance medicine delegation screen with loading state and error handling
  apps/native/app/src/screens/medicine-delegation/medicine-delegation.tsx
Due: none

refactor: service setup
  libs/api/domains/questionnaires/src/lib/questionnaires.service.ts
Due: Portal GraphQL

feat: add tests for mapping
  libs/api/domains/questionnaires/src/lib/transform-mappers/display.mappers.spec.ts
Due: Portal GraphQL

fix(unemployment-benefits): launch testing fixes (#20948)
  libs/application/template-api-modules/src/lib/modules/templates/unemployment-benefits/unemployment-benefits.utils.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/educationHistory.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/employmentSearchSection/licenses.tsx
  libs/application/templates/unemployment-benefits/src/utils/educationInformation.ts
Due: Application System API

Remove TODO comment for adding a link to read more about medicine delegation in the medicine delegation screen
  apps/native/app/src/screens/medicine-delegation/medicine-delegation.tsx
Due: none

fix lint
  apps/native/app/src/ui/lib/button/button.tsx
  apps/native/app/src/ui/lib/empty-state/empty-state.tsx
  apps/native/app/src/ui/lib/text-field/text-field.tsx
  apps/native/app/src/utils/lifecycle/setup-routes.ts
Due: none

[TS-1153] Split up specialEducationSupportSubSection
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/specialEducationSupportSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/specialEducationSupportSubSection/assessmentOfSupportNeeds.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/specialEducationSupportSubSection/caseManager.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/specialEducationSupportSubSection/childAndAdolescentPsychiatryServices.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/specialEducationSupportSubSection/childProtectiveServices.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/specialEducationSupportSubSection/confirmedDiagnosis.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/specialEducationSupportSubSection/index.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/specialEducationSupportSubSection/integratedServices.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/specialEducationSupportSubSection/otherSpecialists.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/specialEducationSupportSubSection/servicesFromMunicipality.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/specialEducationSupportSubSection/welfareContact.ts
Due: Application System API

fix(j-s): sneaky bad request s3 get error
  apps/judicial-system/backend/src/app/modules/aws-s3/awsS3.service.ts
Due: none

Fixed attachment radio order
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/attachmentSubSection.ts
Due: Application System API

Fix court case number bug
  apps/judicial-system/web/src/routes/Court/components/CourtCaseNumber/CourtCaseNumberInput.tsx
  apps/judicial-system/web/src/utils/validate.ts
Due: none

wip
  AGENTS.md
  libs/application/template-api-modules/src/lib/modules/templates/estate/utils/processUploadData.ts
  libs/application/templates/estate/src/forms/Forms.ts
  libs/application/templates/estate/src/forms/Sections/registrant.ts
  libs/application/templates/estate/src/lib/constants.ts
  libs/application/templates/estate/src/lib/dataSchema.ts
  libs/application/templates/estate/src/lib/messages.ts
Due: Application System API

wip
  libs/application/template-api-modules/src/lib/modules/templates/estate/utils/processUploadData.ts
  libs/application/templates/estate/src/forms/Sections/registrant.ts
  libs/application/templates/estate/src/lib/dataSchema.ts
Due: Application System API

wip
  AGENTS.md
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
  libs/application/templates/estate/src/forms/Forms.ts
  libs/application/templates/estate/src/forms/OverviewSections/commonFields.ts
  libs/application/templates/estate/src/forms/OverviewSections/registrant.ts
  libs/application/templates/estate/src/forms/Sections/deceasedInfoFields.ts
  libs/application/templates/estate/src/forms/Sections/registrant.ts
Due: Application System API

wip
  libs/application/template-api-modules/src/lib/modules/templates/estate/utils/processUploadData.ts
  libs/application/templates/estate/src/lib/messages.ts
Due: Application System API

wip
  libs/application/template-api-modules/src/lib/modules/templates/estate/utils/processUploadData.ts
Due: Application System API

remove logs
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
Due: Application System API

wip
  libs/application/templates/estate/src/forms/Sections/registrant.ts
Due: Application System API

coderabbit change
  libs/application/templates/estate/src/lib/dataSchema.ts
Due: Application System API

Fix court case number bug
  apps/judicial-system/web/src/utils/validate.ts
Due: none

Remove unused imports
  apps/judicial-system/web/src/routes/Court/components/CourtCaseNumber/CourtCaseNumberInput.tsx
Due: none

Fixes postponed display value in case lists
  apps/judicial-system/backend/src/app/modules/case-table/caseTable.cellGenerators.ts
Due: none

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
