Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

chore: fix db secret for cleanup (#14740)
  apps/services/auth/ids-api/infra/ids-api.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

feat(service-portal): implement notification settings screen (#14582)
  apps/service-portal/src/assets/images/company.svg
  apps/system-e2e/src/tests/islandis/service-portal/smoke/notification-settings.spec.ts
  libs/service-portal/core/src/lib/messages.ts
  libs/service-portal/graphql/src/hooks/profile/useUpdateOrCreateUserProfile.ts
  libs/service-portal/information/src/components/NotificationSettings/ActorProfilesNotificationSettings.css.tsx
  libs/service-portal/information/src/components/NotificationSettings/ActorProfilesNotificationSettings.tsx
  libs/service-portal/information/src/components/NotificationSettings/UserProfileNotificationSettings.tsx
  libs/service-portal/information/src/components/NotificationSettings/cards/ActorProfileSettingsCard.tsx
  libs/service-portal/information/src/components/NotificationSettings/cards/NotificationSettingsCard.tsx
  libs/service-portal/information/src/components/NotificationSettings/cards/SettingsCard/SettingsCard.css.ts
  libs/service-portal/information/src/components/NotificationSettings/cards/SettingsCard/SettingsCard.tsx
  libs/service-portal/information/src/components/NotificationSettings/graphql/ActorProfiles.graphql
  libs/service-portal/information/src/components/NotificationSettings/graphql/UserProfile.graphql
  libs/service-portal/information/src/lib/messages.ts
  libs/service-portal/information/src/lib/navigation.ts
  libs/service-portal/information/src/lib/paths.ts
  libs/service-portal/information/src/module.tsx
  libs/service-portal/information/src/screens/UserNotifications/UserNotifications.tsx
Due: none

fix(web): Stop hardcoding footer link in district commissioner footer (#14749)
  apps/web/components/Organization/Wrapper/Themes/SyslumennTheme/SyslumennFooter.tsx
Due: none

refactor(gql-auth-admin): Refactor auth-admin GQL domain. (#14723)
  libs/api/domains/auth-admin/src/lib/client/clients.service.spec.ts
  libs/api/domains/auth-admin/src/lib/client/clients.service.ts
  libs/api/domains/auth-admin/src/lib/client/models/client.model.ts
  libs/api/domains/auth-admin/src/lib/scope/scope.service.spec.ts
  libs/api/domains/auth-admin/src/lib/scope/scope.service.ts
  libs/api/domains/auth-admin/src/lib/shared/services/multi-environment.service.ts
  libs/api/domains/auth-admin/src/lib/tenant/models/tenant-environment.model.ts
  libs/api/domains/auth-admin/src/lib/tenant/models/tenant.model.ts
  libs/api/domains/auth-admin/src/lib/tenant/tenant-environment.resolver.ts
  libs/api/domains/auth-admin/src/lib/tenant/tenants.service.spec.ts
  libs/api/domains/auth-admin/src/lib/tenant/tenants.service.ts
  libs/api/domains/auth-admin/test/utils.ts
  libs/api/domains/auth-admin/tsconfig.spec.json
  libs/clients/auth/admin-api/src/index.ts
  libs/clients/middlewares/src/index.ts
Due: Portal GraphQL

fix(p-card): fix path name typo (#14744)
  libs/clients/p-card/src/lib/pCardClient.config.ts
Due: none

fix(contentful-apps): Add retry logic to link group field app (#14753)
  apps/contentful-apps/pages/fields/link-group-link-field.tsx
Due: none

fix(j-s): DB Auto Dates (#14730)
  apps/judicial-system/backend/src/app/modules/case/models/case.model.ts
  apps/judicial-system/backend/src/app/modules/case/models/caseArchive.model.ts
  apps/judicial-system/backend/src/app/modules/case/models/dateLog.model.ts
  apps/judicial-system/backend/src/app/modules/case/models/explanatoryComment.model.ts
  apps/judicial-system/backend/src/app/modules/court/models/robotLog.model.ts
  apps/judicial-system/backend/src/app/modules/defendant/models/defendant.model.ts
  apps/judicial-system/backend/src/app/modules/event-log/models/eventLog.model.ts
  apps/judicial-system/backend/src/app/modules/file/models/file.model.ts
  apps/judicial-system/backend/src/app/modules/indictment-count/models/indictmentCount.model.ts
  apps/judicial-system/backend/src/app/modules/institution/institution.model.ts
  apps/judicial-system/backend/src/app/modules/notification/models/notification.model.ts
  apps/judicial-system/backend/src/app/modules/user/user.model.ts
Due: none

feat(j-s): My indictments to review table (#14729)
  apps/judicial-system/backend/src/app/modules/case/filters/cases.filter.ts
  apps/judicial-system/backend/src/app/modules/case/filters/test/cases.filter.spec.ts
  apps/judicial-system/web/src/components/Table/Table.tsx
  apps/judicial-system/web/src/routes/Court/components/CasesAwaitingAssignmentTable/CasesAwaitingAssignmentTable.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/CasesAwaitingConfirmationTable/CasesAwaitingConfirmationTable.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Tables/CasesAwaitingReview.strings.ts
  apps/judicial-system/web/src/routes/PublicProsecutor/Tables/CasesAwaitingReview.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Tables/CasesForReview.strings.ts
  apps/judicial-system/web/src/routes/Shared/Cases/Cases.tsx
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/user.ts
Due: none

feat(j-s): Assign reviewer to indictment (#14712)
  apps/judicial-system/api/src/app/modules/case-list/interceptors/caseList.interceptor.ts
  apps/judicial-system/api/src/app/modules/case-list/models/caseList.model.ts
  apps/judicial-system/api/src/app/modules/case/dto/updateCase.input.ts
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.spec.ts
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.ts
  apps/judicial-system/api/src/app/modules/case/models/case.model.ts
  apps/judicial-system/backend/migrations/20240503141513-update-case.js
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/dto/updateCase.dto.ts
  apps/judicial-system/backend/src/app/modules/case/guards/rolesRules.ts
  apps/judicial-system/backend/src/app/modules/case/interceptors/caseList.interceptor.ts
  apps/judicial-system/backend/src/app/modules/case/models/case.model.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/updateRolesRules.spec.ts
  apps/judicial-system/web/pages/rikissaksoknari/akaera/yfirlit/[id].ts
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/components/TagCaseState/TagCaseState.strings.ts
  apps/judicial-system/web/src/components/TagCaseState/TagCaseState.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/Overview/Overview.strings.ts
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/Overview/Overview.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Tables/CasesForReview.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/cases.graphql
  apps/judicial-system/web/src/routes/Shared/IndictmentOverview/IndictmentOverview.tsx
  apps/judicial-system/web/src/utils/hooks/useCase/index.ts
  apps/judicial-system/web/src/utils/hooks/useCaseList/index.tsx
  libs/judicial-system/consts/src/lib/consts.ts
  libs/judicial-system/types/src/lib/user.ts
Due: none

fix(Inheritance-report): fixing phone number error msg and format value (#14705)
  libs/application/templates/inheritance-report/src/fields/HeirsAndPartitionRepeater/index.tsx
  libs/application/templates/inheritance-report/src/lib/utils/helpers.ts
Due: Application System API

fix(ids-api): Add env var to worker to avoid error. (#14747)
  apps/services/auth/ids-api/infra/ids-api.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

fix(j-s): Contentful String (#14758)
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.strings.ts
Due: none

feat(fa): Adding ChildrenCustodyInformationApi to financial-aid form (#14734)
  libs/application/templates/financial-aid/src/dataProviders/index.ts
  libs/application/templates/financial-aid/src/forms/Prerequisites.ts
  libs/application/templates/financial-aid/src/lib/FinancialAidTemplate.ts
  libs/application/templates/financial-aid/src/lib/messages/externalData.ts
  libs/application/templates/financial-aid/src/lib/types.ts
Due: Application System API

chore(app): Increase codemagic clone depth (#14727)
  codemagic.yaml
Due: none

feat(j-s): New decision type in S-cases -- Complete (#14689)
  apps/judicial-system/api/src/app/modules/case-list/models/caseList.model.ts
  apps/judicial-system/api/src/app/modules/case/dto/updateCase.input.ts
  apps/judicial-system/api/src/app/modules/case/models/case.model.ts
  apps/judicial-system/backend/migrations/20240502224235-update-case.js
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/dto/updateCase.dto.ts
  apps/judicial-system/backend/src/app/modules/case/guards/rolesRules.ts
  apps/judicial-system/backend/src/app/modules/case/models/case.model.ts
  apps/judicial-system/web/src/components/CourtArrangements/CourtArrangements.tsx
  apps/judicial-system/web/src/components/FormProvider/case.graphql
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.strings.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
  apps/judicial-system/web/src/routes/Court/Indictments/Subpoena/Subpoena.tsx
  apps/judicial-system/web/src/routes/Court/InvestigationCase/HearingArrangements/HearingArrangements.tsx
  apps/judicial-system/web/src/routes/Court/RestrictionCase/HearingArrangements/HearingArrangements.tsx
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

feat(j-s): InfoCard displays indictment reviewer (#14728)
  apps/judicial-system/web/src/components/InfoCard/InfoCard.css.ts
  apps/judicial-system/web/src/components/InfoCard/InfoCard.tsx
  apps/judicial-system/web/src/components/InfoCard/InfoCardClosedIndictment.tsx
  apps/judicial-system/web/src/components/InfoCard/InfoCardIndictment.strings.ts
Due: none

fix(api): Missing xroad from infra (#14755)
  apps/api/infra/api.ts
  apps/download-service/infra/download-service.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: Portal GraphQL

fix(j-s): User Admin (#14718)
  apps/judicial-system/backend/src/app/modules/case/filters/test/cases.filter.spec.ts
  apps/judicial-system/web/src/routes/Admin/UserForm/UserForm.tsx
  libs/judicial-system/types/src/lib/user.ts
Due: none

fix(j-s): Relese fixes (#14756)
  apps/judicial-system/api/src/app/modules/case/dto/updateCase.input.ts
  apps/judicial-system/web/pages/akaera/yfirlit/[id].ts
  apps/judicial-system/web/pages/domur/akaera/yfirlit/[id].ts
  apps/judicial-system/web/src/routes/Shared/Cases/PrisonCases.tsx
Due: none

fix(parental-leave): Remove residence grant file validation (#14732)
  libs/application/templates/parental-leave/src/lib/dataSchema.ts
Due: Application System API

fix(driving-license): Tweaking done screen depending on application type (#14735)
  libs/application/templates/driving-license/src/forms/done.ts
  libs/application/templates/driving-license/src/lib/messages.ts
  libs/application/ui-forms/src/lib/formConclusionSection/formConclusionSection.ts
Due: Application System API

chore: upgrade sequelize (#14745)
  package.json
  yarn.lock
Due: none

chore(xroad): update xroad path for MMS DEV (#14725)
  apps/api/src/app/environments/environment.ts
  charts/islandis/values.dev.yaml
  infra/src/dsl/xroad.ts
  libs/clients/inna/src/lib/inna.config.ts
  libs/clients/mms/project.json
  libs/clients/mms/src/lib/mms.config.ts
Due: Portal GraphQL

feat(service-desk): User-profile lookup (#14526)
  apps/services/user-profile/src/app/v2/dto/paginated-user-profile.dto.ts
  apps/services/user-profile/src/app/v2/dto/user-profile.dto.ts
  apps/services/user-profile/src/app/v2/test/user-profile.controller.spec.ts
  apps/services/user-profile/src/app/v2/user-profile.controller.ts
  apps/services/user-profile/src/app/v2/user-profile.service.ts
  apps/services/user-profile/src/environments/environment.ts
  libs/api/domains/user-profile/src/lib/V2/userProfile.service.ts
  libs/api/domains/user-profile/src/lib/adminUserProfile.model.ts
  libs/api/domains/user-profile/src/lib/adminUserProfile.resolver.ts
  libs/api/domains/user-profile/src/lib/dto/paginated-user-profile.response.ts
  libs/api/domains/user-profile/src/lib/userProfile.module.ts
  libs/api/domains/user-profile/src/lib/userProfile.resolver.ts
  libs/api/domains/user-profile/src/lib/userProfile.service.ts
  libs/portals/admin/ids-admin/src/index.ts
  libs/portals/admin/service-desk/src/lib/messages.ts
  libs/portals/admin/service-desk/src/lib/navigation.ts
  libs/portals/admin/service-desk/src/lib/paths.ts
  libs/portals/admin/service-desk/src/module.tsx
  libs/portals/admin/service-desk/src/screens/Companies/Companies.action.ts
  libs/portals/admin/service-desk/src/screens/Companies/Companies.css.ts
  libs/portals/admin/service-desk/src/screens/Procurers/Procurers.tsx
  libs/portals/admin/service-desk/src/screens/Root/Root.tsx
  libs/portals/admin/service-desk/src/screens/User/User.graphql
  libs/portals/admin/service-desk/src/screens/User/User.loader.ts
  libs/portals/admin/service-desk/src/screens/User/User.tsx
  libs/portals/admin/service-desk/src/screens/Users/Users.action.ts
  libs/portals/admin/service-desk/src/screens/Users/Users.graphql
  libs/portals/admin/service-desk/src/screens/Users/Users.tsx
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/lib/isSearchTermValid.ts
Due: Portal GraphQL

feat(driving-license): application for BE license (#14527)
  libs/api/domains/driving-license/src/lib/drivingLicense.service.ts
  libs/api/domains/driving-license/src/lib/drivingLicense.spec.ts
  libs/api/domains/driving-license/src/lib/drivingLicense.type.ts
  libs/application/template-api-modules/src/lib/modules/templates/driving-license-submission/driving-license-submission.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/driving-license-submission/emailGenerators/messages.ts
  libs/application/templates/driving-license/src/dataProviders/index.ts
  libs/application/templates/driving-license/src/fields/EligibilitySummary/fakeEligibility.ts
  libs/application/templates/driving-license/src/fields/EligibilitySummary/useEligibility.ts
  libs/application/templates/driving-license/src/fields/HealthDeclaration.tsx
  libs/application/templates/driving-license/src/forms/done.ts
  libs/application/templates/driving-license/src/forms/draft/draft.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionHealthDeclaration.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionOtherCountry.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionPhone.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionQualityPhoto.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionSummary.ts
  libs/application/templates/driving-license/src/forms/draft/subSectionTempInfo.ts
  libs/application/templates/driving-license/src/forms/prerequisites/getForm.ts
  libs/application/templates/driving-license/src/forms/prerequisites/sectionApplicationFor.ts
  libs/application/templates/driving-license/src/forms/prerequisites/sectionExternalData.ts
  libs/application/templates/driving-license/src/forms/prerequisites/sectionFakeData.ts
  libs/application/templates/driving-license/src/lib/constants.ts
  libs/application/templates/driving-license/src/lib/dataSchema.ts
  libs/application/templates/driving-license/src/lib/drivingLicenseTemplate.ts
  libs/application/templates/driving-license/src/lib/getApplicationFeatureFlags.ts
  libs/application/templates/driving-license/src/lib/messages.ts
  libs/application/templates/driving-license/src/lib/utils/formUtils.spec.ts
  libs/application/templates/driving-license/src/lib/utils/formUtils.ts
  libs/application/templates/driving-license/src/shared/constants.ts
  libs/application/templates/driving-license/src/shared/index.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.service.ts
  libs/clients/driving-license/src/lib/drivingLicenseApi.types.ts
Due: Portal GraphQL, Application System API

chore(j-s): Use Table component for appealed cases (#14764)
  apps/judicial-system/web/src/components/Table/AppealCasesTable/AppealCasesTable.tsx
  apps/judicial-system/web/src/types/index.ts
Due: none

feat(university-gateway): Plausible analytics for Haskolanam + Minor fixes (#14788)
  apps/web/components/ActionCategoryCard/ActionCategoryCard.tsx
  apps/web/components/ListViewCard/ListViewCard.tsx
  apps/web/screens/UniversitySearch/LandingPage.tsx
  apps/web/screens/UniversitySearch/UniversitySearch.css.ts
  apps/web/screens/UniversitySearch/UniversitySearch.tsx
  libs/plausible/src/lib/webEvents.ts
Due: none

fix(service-portal-health): refactor health overview (#14746)
  apps/system-e2e/src/tests/islandis/service-portal/acceptance/mocks/healthInsurance.mock.ts
  libs/api/domains/rights-portal/src/lib/overview/models/insuranceConfirmation.model.ts
  libs/api/domains/rights-portal/src/lib/overview/models/insuranceConfirmation.response.ts
  libs/api/domains/rights-portal/src/lib/overview/models/insuranceError.model.ts
  libs/api/domains/rights-portal/src/lib/overview/models/insuranceOverview.model.ts
  libs/api/domains/rights-portal/src/lib/overview/models/insuranceOverview.response.ts
  libs/api/domains/rights-portal/src/lib/overview/models/insuranceStatus.model.ts
  libs/api/domains/rights-portal/src/lib/overview/overview.resolver.ts
  libs/api/domains/rights-portal/src/lib/overview/overview.service.ts
  libs/api/domains/rights-portal/src/lib/overview/overview.types.ts
  libs/service-portal/core/src/lib/messages.ts
  libs/service-portal/core/src/utils/dateUtils.ts
  libs/service-portal/health/codegen.yml
  libs/service-portal/health/src/lib/messages.ts
  libs/service-portal/health/src/screens/HealthOverview/HealthOverview.graphql
  libs/service-portal/health/src/screens/HealthOverview/HealthOverview.tsx
  libs/service-portal/health/src/screens/Medicine/MedicinePurchase.tsx
  libs/service-portal/health/src/screens/Payments/PaymentParticipation.tsx
Due: Portal GraphQL

fix(application-driving-license): Fix license requirements (#14784)
  libs/application/templates/driving-license/src/forms/prerequisites/sectionApplicationFor.ts
  libs/application/templates/driving-license/src/lib/types.ts
Due: Application System API

feat(j-s): Reviewer completes indictment review (#14762)
  apps/judicial-system/api/src/app/modules/case-list/models/caseList.model.ts
  apps/judicial-system/api/src/app/modules/case/dto/updateCase.input.ts
  apps/judicial-system/api/src/app/modules/case/models/case.model.ts
  apps/judicial-system/backend/migrations/20240508231112-update-case.js
  apps/judicial-system/backend/src/app/modules/case/dto/updateCase.dto.ts
  apps/judicial-system/backend/src/app/modules/case/filters/case.filter.ts
  apps/judicial-system/backend/src/app/modules/case/filters/cases.filter.ts
  apps/judicial-system/backend/src/app/modules/case/filters/test/cases.filter.spec.ts
  apps/judicial-system/backend/src/app/modules/case/guards/rolesRules.ts
  apps/judicial-system/backend/src/app/modules/case/models/case.model.ts
  apps/judicial-system/web/src/routes/Court/Indictments/Conclusion/Conclusion.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/ReviewDecision/ReviewDecision.css.ts
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/ReviewDecision/ReviewDecision.strings.ts
  apps/judicial-system/web/src/routes/PublicProsecutor/Indictments/ReviewDecision/ReviewDecision.tsx
  apps/judicial-system/web/src/routes/Shared/IndictmentOverview/IndictmentOverview.strings.ts
  apps/judicial-system/web/src/routes/Shared/IndictmentOverview/IndictmentOverview.tsx
  libs/judicial-system/types/src/index.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

feat(fa): Adding children to back-end to Veita (#14717)
  apps/financial-aid/api/src/app/modules/application/dto/createApplicationChildren.input.ts
  apps/financial-aid/api/src/app/modules/application/models/application.model.ts
  apps/financial-aid/api/src/app/modules/application/models/children.model.ts
  apps/financial-aid/backend/migrations/20240507110052-create-application_children.js
  apps/financial-aid/backend/src/app/app.module.ts
  apps/financial-aid/backend/src/app/modules/application/application.module.ts
  apps/financial-aid/backend/src/app/modules/application/application.service.ts
  apps/financial-aid/backend/src/app/modules/application/dto/createApplication.dto.ts
  apps/financial-aid/backend/src/app/modules/application/dto/createApplicationChildren.dto.ts
  apps/financial-aid/backend/src/app/modules/application/dto/index.ts
  apps/financial-aid/backend/src/app/modules/application/models/application.model.ts
  apps/financial-aid/backend/src/app/modules/application/test/create.spec.ts
  apps/financial-aid/backend/src/app/modules/application/test/createEvent.spec.ts
  apps/financial-aid/backend/src/app/modules/application/test/createTestingApplicationModule.ts
  apps/financial-aid/backend/src/app/modules/children/children.module.ts
  apps/financial-aid/backend/src/app/modules/children/children.service.ts
  apps/financial-aid/backend/src/app/modules/children/index.ts
  apps/financial-aid/backend/src/app/modules/children/models/children.model.ts
  apps/financial-aid/backend/src/app/modules/children/models/index.ts
  apps/financial-aid/backend/src/app/modules/index.ts
  apps/financial-aid/web-veita/graphql/sharedGql.ts
  libs/api/domains/municipalities-financial-aid/src/lib/models/application.model.ts
  libs/api/domains/municipalities-financial-aid/src/lib/models/applicationChildren.model.ts
  libs/api/domains/municipalities-financial-aid/src/lib/models/index.ts
  libs/application/template-api-modules/src/lib/modules/templates/financial-aid/financial-aid.service.ts
  libs/financial-aid/shared/src/lib/interfaces.ts
Due: Portal GraphQL, Application System API

fix(skilavottord): Check current owner on deregistration (#14763)
  apps/skilavottord/ws/src/app/modules/recyclingRequest/recyclingRequest.service.ts
  apps/skilavottord/ws/src/app/modules/vehicle/vehicle.service.ts
  apps/skilavottord/ws/src/app/services/icelandicTransportAuthority.services.ts
Due: none

fix(parental-leave): Employer doesn't have access to the application if applicant cancel changes (#14703)
  libs/application/templates/parental-leave/src/lib/ParentalLeaveTemplate.ts
Due: Application System API

fix(native-app): don't show photo for driving license unless feature flag is on (#14777)
  apps/native/app/src/screens/wallet-pass/wallet-pass.tsx
Due: none

fix(application-ir): Don't show error on asset add (#14765)
  libs/application/templates/inheritance-report/src/fields/AssetsRepeater/index.tsx
Due: Application System API

feat(web): Custom subpages (#14766)
  apps/contentful-apps/pages/fields/custom-page-parent-field.tsx
  apps/contentful-apps/pages/fields/custom-page-unique-identifier-field.tsx
  apps/web/screens/queries/CustomPage.ts
  libs/cms/src/lib/cms.elasticsearch.service.ts
  libs/cms/src/lib/cms.resolver.ts
  libs/cms/src/lib/dto/getCustomPage.input.ts
  libs/cms/src/lib/dto/getCustomSubpage.input.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/search/cmsSync.service.ts
  libs/cms/src/lib/search/importers/customPage.service.ts
  libs/shared/types/src/lib/api-cms-domain.ts
Due: none

feat(j-s): Table for reviewed cases (#14778)
  apps/judicial-system/api/src/app/modules/case-list/models/caseList.model.ts
  apps/judicial-system/backend/src/app/modules/case/interceptors/caseList.interceptor.ts
  apps/judicial-system/web/messages/Core/tables.ts
  apps/judicial-system/web/src/routes/PublicProsecutor/Cases/PublicProsecutorCases.tsx
  apps/judicial-system/web/src/routes/PublicProsecutor/Tables/CasesReviewed.strings.ts
  apps/judicial-system/web/src/routes/PublicProsecutor/Tables/CasesReviewed.tsx
  apps/judicial-system/web/src/routes/Shared/Cases/cases.graphql
Due: none
