Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

feat(contentful-apps): Embed link field - Extract src property from iframe (#21879) (#21888)
  apps/contentful-apps/pages/fields/embed-link-field.tsx
Due: none

feat(web): Verdicts and court agendas - Only show specific 'málategundir' per court (#21881)
  apps/web/screens/CourtAgendas/CourtAgendas.tsx
  apps/web/screens/Verdicts/VerdictsList.tsx
Due: none

Add ingress settings for regulations admin paths
  apps/services/regulations-admin-backend/infra/regulations-admin-backend.ts
Due: none

move categories and tags
  libs/island-ui/core/src/lib/Checkbox/Checkbox.css.ts
  libs/island-ui/core/src/lib/Checkbox/Checkbox.tsx
  libs/portals/admin/ids-admin/src/lib/messages.ts
  libs/portals/admin/ids-admin/src/screens/Permission/EditPermission.schema.ts
  libs/portals/admin/ids-admin/src/screens/Permission/EditPermission.tsx
  libs/portals/admin/ids-admin/src/screens/Permission/components/PermissionContent.tsx
  libs/portals/admin/ids-admin/src/screens/Permission/components/PermissionDelegations.tsx
Due: none

chore: charts update dirty file
  charts/islandis-services/regulations-admin-backend/values.dev.yaml
  charts/islandis-services/regulations-admin-backend/values.prod.yaml
  charts/islandis-services/regulations-admin-backend/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

chore: remove ghost code
  libs/application/templates/inheritance-report/src/lib/utils/helpers.ts
Due: Application System API

add sendApplicationV2 to general application. Use sendApplicationV2 via the scoped MARP service and add sendApplicationv2 support for OAP application
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration-utils.ts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/clients/social-insurance-administration/src/index.ts
  libs/clients/social-insurance-administration/src/lib/constants.ts
  libs/clients/social-insurance-administration/src/lib/dto/oldAgePension.dto.ts
  libs/clients/social-insurance-administration/src/lib/services/applicationServices/generalApplication.service.ts
  libs/clients/social-insurance-administration/src/lib/services/applicationServices/medicalAndRehabilitation.service.ts
  libs/clients/social-insurance-administration/src/lib/services/applicationServices/oldAgePension.service.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.module.ts
  libs/clients/social-insurance-administration/src/lib/types.ts
Due: Application System API

fix(my-pages): Health permits terms clarity (#21873)
  libs/portals/my-pages/health/src/components/PatientDataPermit/Terms.tsx
  libs/portals/my-pages/health/src/lib/messages.ts
Due: none

chore: fix codeowners
  .github/CODEOWNERS
Due: none

chore: format update dirty file
  libs/application/template-api-modules/src/lib/modules/templates/estate/estate.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/inheritance-report.service.spec.ts
  libs/application/template-api-modules/src/lib/modules/templates/inheritance-report/inheritance-report.service.ts
  libs/application/templates/estate/src/dataProviders/index.ts
  libs/application/templates/estate/src/fields/SignatoryStatus/index.tsx
  libs/application/templates/estate/src/lib/EstateTemplate.spec.ts
  libs/application/templates/estate/src/lib/EstateTemplate.ts
  libs/application/templates/estate/src/lib/utils/allPartiesHaveApproved.ts
  libs/application/templates/inheritance-report/src/fields/Overview/index.tsx
  libs/application/templates/inheritance-report/src/fields/SignatoryStatus/index.tsx
  libs/application/templates/inheritance-report/src/forms/inReview/applicantInReviewForm.ts
  libs/application/templates/inheritance-report/src/forms/inReview/assigneeInReviewForm.ts
  libs/application/templates/inheritance-report/src/forms/signing/index.ts
  libs/application/templates/inheritance-report/src/lib/InheritanceReportTemplate.ts
  libs/application/templates/inheritance-report/src/lib/messages.ts
  libs/application/templates/inheritance-report/src/lib/utils/allPartiesHaveApproved.spec.ts
  libs/application/templates/inheritance-report/src/lib/utils/allPartiesHaveApproved.ts
  libs/application/templates/inheritance-report/src/lib/utils/getAssigneesNationalIdList.spec.ts
  libs/application/templates/inheritance-report/src/lib/utils/helpers.ts
  libs/clients/syslumenn/src/clientConfig.json
Due: Application System API

fix(regulations): Add ingress settings for regulations admin paths (#21902)
  apps/services/regulations-admin-backend/infra/regulations-admin-backend.ts
  charts/islandis-services/regulations-admin-backend/values.dev.yaml
  charts/islandis-services/regulations-admin-backend/values.prod.yaml
  charts/islandis-services/regulations-admin-backend/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

Disable highlighting in search
  apps/web/components/SearchInput/SearchInput.tsx
  apps/web/screens/Search/Search.tsx
Due: none

Temporary comment
  apps/api/infra/api.ts
  apps/web/components/Card/Card.tsx
Due: Portal GraphQL

use sendApplicationV2 from generalApplication.service for MARP and OAP services
  libs/clients/social-insurance-administration/src/lib/services/applicationServices/medicalAndRehabilitation.service.ts
  libs/clients/social-insurance-administration/src/lib/services/applicationServices/oldAgePension.service.ts
Due: none

Update README
  libs/application/templates/hh/courses/README.md
Due: Application System API

feat: the update
  libs/api/domains/vehicles/src/lib/messages.ts
  libs/api/domains/vehicles/src/lib/models/v3/bulkMileage/bulkMileageOrigin.model.ts
  libs/api/domains/vehicles/src/lib/models/v3/bulkMileage/bulkMileageReadingResponse.model.ts
  libs/api/domains/vehicles/src/lib/models/v3/currentVehicleWithMileage.model.ts
  libs/api/domains/vehicles/src/lib/services/bulkMileage.service.ts
  libs/api/domains/vehicles/src/lib/utils/parseFileToMileage.ts
  libs/clients/vehicles-mileage/src/clientConfig.json
  libs/clients/vehicles/src/clientConfig.json
  libs/clients/vehicles/src/lib/dtos/tableData.dto.ts
  libs/clients/vehicles/src/lib/dtos/vehiclesResponse.dto.ts
  libs/portals/my-pages/assets/src/lib/messages.ts
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileage.graphql
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileage.tsx
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileageRow.tsx
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/VehicleBulkMileageTable.tsx
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileage/types.ts
  libs/portals/my-pages/assets/src/screens/VehicleBulkMileageUpload/VehicleBulkMileageUpload.graphql
  libs/portals/my-pages/assets/src/utils/displayWithUnit.ts
Due: Portal GraphQL

Temporary comment
  apps/api/src/app/app.module.ts
Due: Portal GraphQL

feat(TR-applications): use existing MARP scoped service and add scoped service for OAP (#21905)
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration-utils.ts
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.ts
  libs/clients/social-insurance-administration/src/index.ts
  libs/clients/social-insurance-administration/src/lib/constants.ts
  libs/clients/social-insurance-administration/src/lib/dto/oldAgePension.dto.ts
  libs/clients/social-insurance-administration/src/lib/services/applicationServices/generalApplication.service.ts
  libs/clients/social-insurance-administration/src/lib/services/applicationServices/medicalAndRehabilitation.service.ts
  libs/clients/social-insurance-administration/src/lib/services/applicationServices/oldAgePension.service.ts
  libs/clients/social-insurance-administration/src/lib/socialInsuranceAdministrationClient.module.ts
  libs/clients/social-insurance-administration/src/lib/types.ts
Due: Application System API

revert
  libs/clients/social-insurance-administration/src/lib/services/deprecated/socialInsuranceAdministrationClient.service.ts
Due: none

chore: format update dirty file
  libs/clients/vehicles/src/lib/dtos/tableData.dto.ts
Due: none

fix: padding above and below search container
  apps/web/screens/Category/Categories/Categories.tsx
Due: none

fix: row gap
  apps/web/screens/Category/Categories/Categories.tsx
Due: none

fix: spacing issues in government agencies
  apps/web/screens/Organizations/Organizations.css.ts
  apps/web/screens/Organizations/Organizations.tsx
Due: none

feat: prereq
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/housing-benefits.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/housing-benefits.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/types.ts
  libs/application/templates/hms/housing-benefits/src/dataProviders/index.ts
  libs/application/templates/hms/housing-benefits/src/forms/completedForm/index.ts
  libs/application/templates/hms/housing-benefits/src/forms/mainForm/firstSection.ts
  libs/application/templates/hms/housing-benefits/src/forms/mainForm/index.ts
  libs/application/templates/hms/housing-benefits/src/forms/mainForm/personalInformationSection.ts
  libs/application/templates/hms/housing-benefits/src/forms/mainForm/secondSection.ts
  libs/application/templates/hms/housing-benefits/src/forms/prerequisitesForm/confirmMunicipality.ts
  libs/application/templates/hms/housing-benefits/src/forms/prerequisitesForm/confirmReadSection.ts
  libs/application/templates/hms/housing-benefits/src/forms/prerequisitesForm/externalDataSection.ts
  libs/application/templates/hms/housing-benefits/src/forms/prerequisitesForm/index.ts
  libs/application/templates/hms/housing-benefits/src/lib/dataSchema.ts
  libs/application/templates/hms/housing-benefits/src/lib/messages.ts
  libs/application/templates/hms/housing-benefits/src/lib/messages/draftMessages.ts
  libs/application/templates/hms/housing-benefits/src/lib/messages/index.ts
  libs/application/templates/hms/housing-benefits/src/lib/messages/miscMessages.ts
  libs/application/templates/hms/housing-benefits/src/lib/messages/prereqMessages.ts
  libs/application/templates/hms/housing-benefits/src/lib/template.ts
Due: Application System API

style: remove border and split middle links to two columns
  libs/island-ui/core/src/lib/Footer/Footer.css.ts
Due: none

fix(my-pages): Health permits terms clarity (#21873) (#21903)
  libs/portals/my-pages/health/src/components/PatientDataPermit/Terms.tsx
  libs/portals/my-pages/health/src/lib/messages.ts
Due: none

fix(althingi-ombudsman): add submission date and clarify decision date label in pdf
  libs/application/template-api-modules/src/lib/modules/templates/complaints-to-althingi-ombudsman/pdfGenerators/templates/complaint.ts
Due: Application System API

fix: review by óðinn
  libs/application/templates/unemployment-benefits/src/forms/mainForm/payoutSection/otherBenefits.ts
  libs/application/templates/unemployment-benefits/src/forms/mainForm/payoutSection/payoutInformation.ts
Due: Application System API

feat: no corntracts state
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/housing-benefits.service.ts
  libs/application/template-api-modules/src/lib/modules/templates/hms/housing-benefits/utils.ts
  libs/application/templates/hms/housing-benefits/src/forms/mainForm/index.ts
  libs/application/templates/hms/housing-benefits/src/forms/mainForm/rentalAgreementSection.ts
  libs/application/templates/hms/housing-benefits/src/forms/noRentalAgreementForm/index.ts
  libs/application/templates/hms/housing-benefits/src/forms/prerequisitesForm/externalDataSection.ts
  libs/application/templates/hms/housing-benefits/src/lib/dataSchema.ts
  libs/application/templates/hms/housing-benefits/src/lib/messages/draftMessages.ts
  libs/application/templates/hms/housing-benefits/src/lib/messages/index.ts
  libs/application/templates/hms/housing-benefits/src/lib/messages/noRentalAgreementMessages.ts
  libs/application/templates/hms/housing-benefits/src/lib/template.ts
  libs/application/templates/hms/housing-benefits/src/utils/constants.ts
  libs/application/templates/hms/housing-benefits/src/utils/rentalAgreementOptions.ts
  libs/application/templates/hms/housing-benefits/src/utils/rentalAgreementUtils.ts
Due: Application System API

chore: format update dirty file
  libs/application/templates/hms/housing-benefits/src/utils/rentalAgreementOptions.ts
Due: Application System API

faq screen
  libs/portals/shared-modules/delegations/src/lib/messages.ts
  libs/portals/shared-modules/delegations/src/lib/navigation.ts
  libs/portals/shared-modules/delegations/src/lib/paths.ts
  libs/portals/shared-modules/delegations/src/module.tsx
  libs/portals/shared-modules/delegations/src/screens/AccessControlNew/AccessControlNew.tsx
  libs/portals/shared-modules/delegations/src/screens/Faq/Faq.tsx
  libs/portals/shared-modules/delegations/src/screens/queries/ServicePortalPage.graphql
Due: none

review fixes
  libs/application/templates/social-insurance-administration/core/src/lib/messages.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/OldAgePensionForm/generalInformationSection/incomePlanInstructionsSubSection.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/OldAgePensionForm/overviewSection.ts
  libs/application/templates/social-insurance-administration/old-age-pension/src/forms/Prerequisites/index.ts
  libs/clients/social-insurance-administration/src/lib/services/applicationServices/medicalAndRehabilitation.service.ts
  libs/clients/social-insurance-administration/src/lib/services/applicationServices/oldAgePension.service.ts
Due: Application System API

new application
  libs/application/template-api-modules/src/lib/modules/templates/index.ts
  libs/application/template-api-modules/src/lib/modules/templates/vmst-actions/edit-unemployment-information/edit-unemployment-information.module.ts
  libs/application/template-api-modules/src/lib/modules/templates/vmst-actions/edit-unemployment-information/edit-unemployment-information.service.ts
  libs/application/template-loader/src/lib/templateLoaders.ts
  libs/application/templates/vmst-actions/edit-unemployment-information/src/lib/template.ts
  libs/application/types/src/lib/ApplicationTypes.ts
  libs/application/types/src/lib/InstitutionMapper.ts
Due: Application System API

fix(payment): move env variables to publicRunTime (#21895) (#21901)
  apps/payments/hooks/useApplePay.ts
  apps/payments/infra/payments.ts
  apps/payments/next.config.js
  charts/islandis-services/payments/values.dev.yaml
  charts/islandis-services/payments/values.prod.yaml
  charts/islandis-services/payments/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

switch to identity
  libs/application/templates/aosh/request-for-inspection/src/dataProviders/index.ts
  libs/application/templates/aosh/request-for-inspection/src/forms/RequestMachineForInspectionForm/prerequisitesSection.ts
  libs/application/templates/aosh/request-for-inspection/src/lib/RequestForInspectionTemplate.ts
Due: Application System API

fix(request-inspection): switch to identity on prod (#21910)
  libs/application/templates/aosh/request-for-inspection/src/dataProviders/index.ts
  libs/application/templates/aosh/request-for-inspection/src/forms/RequestMachineForInspectionForm/prerequisitesSection.ts
  libs/application/templates/aosh/request-for-inspection/src/lib/RequestForInspectionTemplate.ts
Due: Application System API

zod schema for token url response
  apps/judicial-system/backend/src/app/modules/police/police.service.ts
Due: none

fix(request-inspection): switch to identity (#21909)
  libs/application/templates/aosh/request-for-inspection/src/dataProviders/index.ts
  libs/application/templates/aosh/request-for-inspection/src/forms/RequestMachineForInspectionForm/prerequisitesSection.ts
  libs/application/templates/aosh/request-for-inspection/src/lib/RequestForInspectionTemplate.ts
Due: Application System API

unit test failed
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration.service.spec.ts
Due: Application System API
