Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

chore(j-s): add sent and receive by court events
  apps/judicial-system/backend/src/app/modules/statistics/indictmentCaseEvents.ts
  apps/judicial-system/backend/src/app/modules/statistics/requestCaseEvents.ts
  apps/judicial-system/backend/src/app/modules/statistics/statistics.service.ts
Due: none

Stop deleting the payment model when user deletes application
  apps/application-system/api/src/app/modules/application/application.controller.ts
Due: Application System API

Logging
  apps/application-system/api/src/app/modules/application/charge/application-charge.service.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/payment/payment.service.ts
  libs/clients/charge-fjs-v2/src/lib/chargeFjsV2Client.utils.ts
Due: Application System API

feat(argo-cleanup): fixing the cleanup scripts
  infra/scripts/container-scripts/delete-secrets.sh
  infra/scripts/container-scripts/destroy-dbs.sh
  infra/src/dsl/output-generators/feature-jobs.ts
Due: none

Allow delete of completed examples
  libs/application/templates/examples/example-payment/src/lib/examplePaymentTemplate.ts
Due: Application System API

More logging
  apps/application-system/api/src/app/modules/application/application.controller.ts
  apps/application-system/api/src/app/modules/application/charge/application-charge.service.ts
Due: Application System API

fix(form-system): debugged checkbox and added favicon * fix(j-s): grant local admins access to statistics
  apps/form-system/web/src/favicon.ico
  libs/portals/form-system/ui-components/src/components/FieldComponents/Checkbox/Checkbox.tsx
Due: none

feat(argocd-cleanup): make the shell script executable
  infra/scripts/container-scripts/delete-secrets.sh
Due: none

feat(form-system): refactor display components and enhance summary functionality
  apps/form-system/web/src/components/Screen/Screen.tsx
  apps/form-system/web/src/components/Screen/components/Applicants/Applicants.tsx
  apps/form-system/web/src/components/Screen/components/Display/Display.tsx
  apps/form-system/web/src/components/Screen/components/Summary/Summary.tsx
  apps/form-system/web/src/reducers/applicationReducer.ts
  apps/form-system/web/src/reducers/reducerUtils.ts
  apps/services/form-system/src/app/app.module.ts
  apps/services/form-system/src/app/modules/forms/models/dto/form.dto.ts
  apps/services/form-system/src/app/modules/forms/models/form.model.ts
  libs/api/domains/form-system/src/models/applications.model.ts
  libs/portals/admin/form-system/src/components/MainContent/components/BaseSettings/BaseSettings.tsx
  libs/portals/admin/form-system/src/hooks/controlReducer.ts
  libs/portals/form-system/ui-components/src/components/DisplayComponents/CheckBoxDisplay/CheckBoxDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/DefaultDisplay/DefaultDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/FileUploadDisplay/FileUploadDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/TextBoxDisplay/TextBoxDisplay.tsx
  libs/portals/form-system/ui-components/src/components/DisplayComponents/index.ts
  libs/portals/form-system/ui-components/src/components/RelevantParties/individualApplicant.tsx
  libs/portals/form-system/ui-components/src/lib/messages.ts
Due: Portal GraphQL

Example payment delete charge
  libs/application/templates/examples/example-payment/src/lib/examplePaymentTemplate.ts
Due: Application System API

lintfix
  libs/application/templates/examples/example-payment/src/lib/examplePaymentTemplate.ts
Due: Application System API

Fix after code rabbit review
  libs/application/templates/new-primary-school/src/types.ts
Due: Application System API

TS-1078 Remove NO as default value
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/childrenNGuardiansSection/childInfoSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/healthProtectionSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/supportSubSection.ts
Due: Application System API

More logging
  apps/application-system/api/src/app/modules/application/charge/application-charge.service.ts
  libs/clients/charge-fjs-v2/src/lib/chargeFjsV2Client.utils.ts
Due: Application System API

Fix payment.definition parse
  apps/application-system/api/src/app/modules/application/charge/application-charge.service.ts
Due: Application System API

chore(j-s): add new indicment events
  apps/judicial-system/backend/src/app/modules/event-log/models/eventLog.model.ts
  apps/judicial-system/backend/src/app/modules/statistics/indictmentCaseEvents.ts
  apps/judicial-system/backend/src/app/modules/statistics/models/event.model.ts
  apps/judicial-system/backend/src/app/modules/statistics/statistics.service.ts
Due: none

feat: refactor applicant components and integrate national registry queries
  apps/form-system/web/src/components/Screen/components/Applicants/Applicants.tsx
  apps/form-system/web/src/routes/Application.tsx
  apps/form-system/web/src/routes/Applications.tsx
  libs/api/domains/form-system/src/lib/form-system.module.ts
  libs/api/domains/form-system/src/lib/nationalRegistry/nationalRegistry.Resolver.ts
  libs/api/domains/form-system/src/models/company.model.ts
  libs/api/domains/form-system/src/models/nationalRegistryHome.model.ts
  libs/api/domains/form-system/src/models/nationalRegistryName.model.ts
  libs/portals/form-system/graphql/src/lib/queries/getAddress.ts
  libs/portals/form-system/graphql/src/lib/queries/getName.ts
  libs/portals/form-system/graphql/src/lib/queries/index.ts
  libs/portals/form-system/ui-components/src/components/ApplicationsLoading/ApplicationLoading.css.ts
  libs/portals/form-system/ui-components/src/components/ApplicationsLoading/ApplicationLoading.tsx
  libs/portals/form-system/ui-components/src/components/RelevantParties/agent.tsx
  libs/portals/form-system/ui-components/src/components/RelevantParties/individualApplicant.tsx
  libs/portals/form-system/ui-components/src/components/RelevantParties/legalEntity.tsx
  libs/portals/form-system/ui-components/src/components/RelevantParties/types.ts
  libs/portals/form-system/ui-components/src/components/index.ts
Due: Portal GraphQL

feat(argo-cleanup): change argocd cleanup policy
  infra/src/dsl/output-generators/feature-jobs.ts
Due: none

TS-1078 Code refactoring and bug fix
  libs/application/template-api-modules/src/lib/modules/templates/new-primary-school/new-primary-school.utils.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/healthProtectionSubSection.ts
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/supportSubSection.ts
  libs/application/templates/new-primary-school/src/types.ts
  libs/application/templates/new-primary-school/src/utils/conditionUtils.ts
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.ts
Due: Application System API

Cleanup
  apps/application-system/api/src/app/modules/application/application.controller.ts
  apps/application-system/api/src/app/modules/application/charge/application-charge.service.ts
  apps/services/user-profile/src/main.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/payment/payment.service.ts
  libs/application/templates/examples/example-payment/src/lib/examplePaymentTemplate.ts
  libs/clients/charge-fjs-v2/src/lib/chargeFjsV2Client.service.ts
  libs/clients/charge-fjs-v2/src/lib/chargeFjsV2Client.utils.ts
Due: Application System API

chore(deps): Downgrade react-native-navigation to version 7.51.0 and update related patches
  .yarn/patches/react-native-navigation-npm-7.51.0-83f4c854df.patch
  apps/native/app/ios/AppDelegate.swift
  apps/native/app/ios/IslandApp.xcodeproj/project.pbxproj
  apps/native/app/ios/Podfile
  apps/native/app/ios/Podfile.lock
  apps/native/app/package.json
  yarn.lock
Due: none

TS-1078 Code refactoring
  libs/application/templates/new-primary-school/src/forms/NewPrimarySchoolForm/differentNeedsSection/supportSubSection.ts
  libs/application/templates/new-primary-school/src/types.ts
  libs/application/templates/new-primary-school/src/utils/conditionUtils.ts
  libs/application/templates/new-primary-school/src/utils/constants.ts
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.ts
Due: Application System API

TS-1078 Added return type
  libs/application/templates/new-primary-school/src/utils/newPrimarySchoolUtils.ts
Due: Application System API

fix(form-system): debugged checkbox and added favicon (#19828)
  apps/form-system/web/src/favicon.ico
  libs/portals/form-system/ui-components/src/components/FieldComponents/Checkbox/Checkbox.tsx
Due: none

refactor(navigation): Simplify navigation options by removing 'initialized' parameter
  apps/native/app/src/screens/applications/applications.tsx
  apps/native/app/src/screens/home/home.tsx
  apps/native/app/src/screens/inbox/inbox.tsx
  apps/native/app/src/screens/more/more.tsx
  apps/native/app/src/screens/wallet/wallet.tsx
Due: none

feat(application-system): Add the rental cancellarion warning
  libs/application/templates/hms/terminate-rental-agreement/src/forms/mainForm/cancelWarningSection.ts
  libs/application/templates/hms/terminate-rental-agreement/src/forms/mainForm/index.ts
  libs/application/templates/hms/terminate-rental-agreement/src/lib/messages/cancelationMessages.ts
Due: Application System API

Lintfix
  libs/application/templates/hms/terminate-rental-agreement/src/forms/mainForm/cancelWarningSection.ts
Due: Application System API

feat(argo-cleanup): add value to payload for feature-close
  .github/workflows/feature-close.yml
  infra/scripts/container-scripts/destroy-dbs.sh
Due: none

Trigger
  apps/services/user-profile/src/main.ts
Due: none

remove period from sendApplication
  libs/application/template-api-modules/src/lib/modules/templates/social-insurance-administration/social-insurance-administration-utils.ts
Due: Application System API

fix(): fix getpaymentId (#19826)
  apps/application-system/api/src/app/modules/application/application.controller.ts
  apps/application-system/api/src/app/modules/application/charge/application-charge.service.ts
  libs/application/template-api-modules/src/lib/modules/shared/api/payment/payment.service.ts
  libs/application/templates/examples/example-payment/src/lib/examplePaymentTemplate.ts
  libs/clients/charge-fjs-v2/src/lib/chargeFjsV2Client.service.ts
  libs/clients/charge-fjs-v2/src/lib/chargeFjsV2Client.utils.ts
Due: Application System API

chore(release): Bump version number to 1.5.8 in Android and iOS configurations
  apps/native/app/android/app/build.gradle
  apps/native/app/ios/IslandApp/Info.plist
Due: none

save applicant
  apps/services/form-system/src/app/modules/formApplicantTypes/formApplicantTypes.service.ts
  libs/portals/admin/form-system/src/components/MainContent/components/RelevantParties/RelevantParties.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/RelevantParties/components/PartyType.tsx
  libs/portals/admin/form-system/src/components/MainContent/components/RelevantParties/components/RelevantParty.tsx
  libs/portals/admin/form-system/src/components/Navbar/Navbar.tsx
  libs/portals/admin/form-system/src/hooks/controlReducer.ts
  libs/portals/admin/form-system/src/lib/utils/getField.ts
Due: none

Use national id fallback if empty string
  apps/web/components/connected/landspitali/Grants/Grants.tsx
  apps/web/components/connected/landspitali/MemorialCards/MemorialCards.tsx
  libs/api/domains/landspitali/src/lib/landspitali.service.ts
Due: Portal GraphQL

Upgrading ioredis from 5.3.2 to 5.6.1 as relese notes suggest safe upgrade and it resolves the `as any` fix in the passkey-core.cache.ts
  libs/auth-api-lib/src/lib/passkeys-core/passkeys-core.cache.ts
  package.json
  yarn.lock
Due: none

Cleanup the other `as any` redisCluster fix.
  apps/air-discount-scheme/backend/src/app/modules/cache/cache.module.ts
  apps/services/sessions/src/app/sessions/sessions.module.ts
  libs/application/api/files/src/lib/files.module.ts
Due: Application System API

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
