Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

codecov.yml:

comment:
  layout: 'reach, diff, flags, files, header, footer, feedback'
  behavior: default
github_checks: false
coverage:
  status:
    project: false
    patch: false
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true
        branches:
          - '!main'
  individual_components:
    - component_id: api-graphql # this is an identifier that should not be changed
      name: Portal GraphQL
      paths:
        - apps/api/**
        - libs/api/domains/**
    - component_id: application-system-api-graphql # this is an identifier that should not be changed
      name: Application System API
      paths:
        - apps/application-system/api/**
        - libs/application/api/**
        - libs/application/core/**
        - libs/application/graphql/**
        - libs/application/template-api-modules/**
        - libs/application/template-loader/**
        - libs/application/templates/**

fix(j-s): Handling of wrong appeal info (#16643)
  apps/judicial-system/api/src/app/modules/case-list/interceptors/caseList.interceptor.ts
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.spec.ts
  apps/judicial-system/api/src/app/modules/case/interceptors/case.transformer.ts
Due: none

Fixing for PR comment, mostly error message translations etc..
  libs/application/templates/aosh/work-accident-notification/src/fields/Components/CausesAndEffects.tsx
  libs/application/templates/aosh/work-accident-notification/src/forms/WorkAccidentNotificationForm/AccidentSection/about.ts
  libs/application/templates/aosh/work-accident-notification/src/lib/dataSchema.ts
  libs/application/templates/aosh/work-accident-notification/src/lib/messages/causeAndConsequences.ts
  libs/application/templates/aosh/work-accident-notification/src/lib/messages/information.ts
Due: Application System API

fixing null values in answers causing validation fails because missing nullable. Simplifying multiple calls to same getValues
  libs/application/templates/aosh/work-accident-notification/src/fields/Occupation/index.tsx
  libs/application/templates/aosh/work-accident-notification/src/lib/dataSchema.ts
Due: Application System API

fix(portals-admin): allow delete list & double tag (#16686)
  libs/portals/admin/signature-collection/src/lib/messages.ts
  libs/portals/admin/signature-collection/src/screens-parliamentary/Constituency/index.tsx
Due: none

fix: spacing and color
  apps/portals/my-pages/src/components/Notifications/NotificationMenu.tsx
  apps/portals/my-pages/src/components/Sidemenu/Sidemenu.css.ts
  apps/portals/my-pages/src/components/Sidemenu/Sidemenu.tsx
Due: none

revert: "revert: "fix: added missing grant to auth ids api for user notification (#16680)" (#16693)" (#16695)
  apps/services/auth/ids-api/infra/ids-api.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

feat(application-system): Make required a dynamic field (#16691)
  libs/application/core/src/lib/fieldBuilders.spec.ts
  libs/application/core/src/lib/fieldBuilders.ts
  libs/application/types/src/lib/Fields.ts
  libs/application/ui-fields/src/lib/AsyncSelectFormField/AsyncSelectFormField.tsx
  libs/application/ui-fields/src/lib/CompanySearchFormField/CompanySearchFormField.tsx
  libs/application/ui-fields/src/lib/DateFormField/DateFormField.tsx
  libs/application/ui-fields/src/lib/NationalIdWithNameFormField/NationalIdWithNameFormField.tsx
  libs/application/ui-fields/src/lib/PhoneFormField/PhoneFormField.tsx
  libs/application/ui-fields/src/lib/SelectFormField/SelectFormField.tsx
  libs/application/ui-fields/src/lib/TextFormField/TextFormField.tsx
Due: Application System API

Add 'portals-admin' and ingress for admin web
  apps/auth-admin-web/infra/auth-admin-web.ts
Due: none

feat: small fixes
  apps/web/screens/Grants/Grant/Grant.tsx
  apps/web/screens/Grants/Grant/GrantSidebar.tsx
  apps/web/screens/Grants/SearchResults/SearchResults.tsx
  apps/web/screens/Grants/messages.ts
Due: none

chore: charts update dirty files
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

Set grants for identity-server
  apps/services/auth/ids-api/infra/identity-server.ts
Due: none

Revert portals-admin for admin-web
  apps/auth-admin-web/infra/auth-admin-web.ts
Due: none

unset answers on submit
  libs/application/templates/social-insurance-administration/death-benefits/src/fields/Review/review-groups/DeceasedSpouse.tsx
  libs/application/templates/social-insurance-administration/death-benefits/src/lib/DeathBenefitsTemplate.ts
Due: Application System API

Add external ALB for portals-admin
  apps/portals/admin/infra/portals-admin.ts
Due: none

Charts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

Pdf generation now working properly.
  libs/api/domains/official-journal-of-iceland-application/src/lib/ojoiApplication.resolver.ts
  libs/api/domains/official-journal-of-iceland-application/src/lib/ojoiApplication.service.ts
  libs/api/domains/official-journal-of-iceland-application/src/models/getPdf.response.ts
  libs/application/templates/official-journal-of-iceland/src/fields/Preview.tsx
  libs/application/templates/official-journal-of-iceland/src/graphql/queries.ts
  libs/application/templates/official-journal-of-iceland/src/hooks/usePdf.ts
  libs/application/templates/official-journal-of-iceland/src/lib/messages/preview.ts
  libs/application/templates/official-journal-of-iceland/src/lib/utils.ts
  libs/clients/official-journal-of-iceland/application/src/clientConfig.json
  libs/clients/official-journal-of-iceland/application/src/lib/ojoiApplicationClient.service.ts
Due: Portal GraphQL, Application System API

Remove grants for admin-web
  apps/auth-admin-web/infra/auth-admin-web.ts
Due: none

Return admin-web directly instead of running return
  apps/auth-admin-web/infra/auth-admin-web.ts
Due: none

chore: nx format:write update dirty files
  libs/application/templates/social-insurance-administration/death-benefits/src/lib/DeathBenefitsTemplate.ts
Due: Application System API

external, not internal nginx
  apps/portals/admin/infra/portals-admin.ts
Due: none

Charts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: none

Fixed PR comments
  libs/api/domains/official-journal-of-iceland-application/src/lib/ojoiApplication.service.ts
  libs/application/templates/official-journal-of-iceland/src/fields/Preview.tsx
  libs/application/templates/official-journal-of-iceland/src/hooks/usePdf.ts
  libs/application/templates/official-journal-of-iceland/src/lib/messages/preview.ts
  libs/application/templates/official-journal-of-iceland/src/lib/utils.ts
Due: Portal GraphQL, Application System API

Conformed namespace grants
  apps/services/auth/ids-api/infra/identity-server.ts
  apps/services/auth/ids-api/infra/ids-api.ts
Due: none

feat: add fund type
  apps/web/screens/queries/Grants.ts
  libs/cms/src/lib/generated/contentfulTypes.d.ts
  libs/cms/src/lib/models/fund.model.ts
  libs/cms/src/lib/models/grant.model.ts
Due: none

Re-add identity-server to portals-admin
  apps/portals/admin/infra/portals-admin.ts
Due: none

fixing issues with multidropdown and answers
  libs/application/templates/aosh/work-accident-notification/src/fields/Components/CausesAndEffects.tsx
  libs/application/templates/aosh/work-accident-notification/src/fields/Components/MultiSelectDropdown.tsx
  libs/application/templates/aosh/work-accident-notification/src/fields/Occupation/index.tsx
  libs/application/templates/aosh/work-accident-notification/src/lib/dataSchema.ts
Due: Application System API

Remove portals-admin from identity-server namespace grants
  apps/services/auth/ids-api/infra/identity-server.ts
  apps/services/auth/ids-api/infra/ids-api.ts
Due: none

Charts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

Added validation for communication channels.
  libs/application/templates/official-journal-of-iceland/src/lib/dataSchema.ts
  libs/application/templates/official-journal-of-iceland/src/lib/messages/error.ts
Due: Application System API

fix: grantNamespace portals-admin
  apps/api/infra/api.ts
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: Portal GraphQL

feat: add fund to grant
  apps/web/screens/Grants/SearchResults/SearchResults.tsx
  apps/web/screens/Grants/SearchResults/SearchResultsFilter.tsx
  apps/web/screens/Grants/messages.ts
Due: none

Make team member intro searchable
  libs/cms/src/lib/search/importers/teamList.service.ts
Due: none

Move imports
  libs/cms/src/lib/search/importers/teamList.service.ts
Due: none

chore: nx format:write update dirty files
  apps/api/infra/api.ts
Due: Portal GraphQL

No grants on cleanup worker
  apps/services/auth/ids-api/infra/ids-api.ts
Due: none

Add portals-admin to identity-server grants
  apps/services/auth/ids-api/infra/identity-server.ts
Due: none

fix: Add namespace grants for services that need it, but don't have it (#16697)
  apps/api/infra/api.ts
  apps/auth-admin-web/infra/auth-admin-web.ts
  apps/portals/admin/infra/portals-admin.ts
  apps/services/auth/ids-api/infra/identity-server.ts
  apps/services/auth/ids-api/infra/ids-api.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
  charts/islandis/values.dev.yaml
  charts/islandis/values.prod.yaml
  charts/islandis/values.staging.yaml
Due: Portal GraphQL
