Repository island-is/island.is: changes, and which Codecov flags are due for each by the changed paths.
All: Portal GraphQL, Application System API

fix(dsl): missing db jobs on identical db names
  apps/services/sessions/infra/sessions.ts
  infra/src/dsl/output-generators/feature-jobs.ts
Due: none

Feature/ehic declined (#10343)
  libs/application/templates/european-health-insurance-card/src/forms/Declined.tsx
  libs/application/templates/european-health-insurance-card/src/lib/helpers/applicantHelper.ts
  libs/application/templates/european-health-insurance-card/src/lib/template.ts
  libs/application/templates/european-health-insurance-card/src/lib/types/index.ts
Due: Application System API

fix reference to graphql
  apps/consultation-portal/pages/test.tsx
Due: none

Filters are now client side
  libs/portals/admin/application-system/src/components/Filters/Filters.tsx
  libs/portals/admin/application-system/src/screens/Overview/Overview.tsx
  libs/portals/admin/application-system/src/shared/utils.ts
Due: none

Escaping of quotes inside quotes
  infra/src/dsl/value-files-generators/local-setup.ts
Due: none

remove import
  apps/consultation-portal/screens/Test/Home.tsx
Due: none

Better error message when financial limit is null
  libs/application/templates/financial-statements-inao/src/fields/ElectionsInfoFields/IncomeLimitField.tsx
  libs/application/templates/financial-statements-inao/src/lib/messages.ts
  libs/clients/financial-statements-inao/src/lib/financialStatementsInaoClient.service.ts
Due: Application System API

feat(j-s): Add police case files to case files screen in indictments (#10295)
  apps/judicial-system/api/src/app/modules/police/models/policeCaseFile.model.ts
  apps/judicial-system/backend/src/app/modules/police/models/policeCaseFile.model.ts
  apps/judicial-system/backend/src/app/modules/police/police.controller.ts
  apps/judicial-system/backend/src/app/modules/police/police.service.ts
  apps/judicial-system/backend/src/app/modules/police/test/uploadPoliceCaseFile.spec.ts
  apps/judicial-system/web/graphql/sharedGql.ts
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/PoliceCaseFiles/PoliceCaseFilesRoute.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/CaseFiles/CaseFiles.strings.ts
  apps/judicial-system/web/src/routes/Prosecutor/components/CaseFiles/CaseFiles.tsx
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseFiles/PoliceCaseFiles.strings.ts
  apps/judicial-system/web/src/routes/Prosecutor/components/PoliceCaseFiles/PoliceCaseFiles.tsx
  apps/judicial-system/web/src/utils/hooks/useS3Upload/useS3Upload.ts
  libs/judicial-system/types/src/lib/policeFile.ts
Due: none

Add nginx-ingress-external.
  apps/services/auth/admin-api/infra/auth-admin-api.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

chore(j-s): Add a no-index meta tag (#10315)
  apps/judicial-system/web/pages/_app.tsx
Due: none

reinstate sentry to as for testing
  apps/application-system/api/src/app.ts
  apps/application-system/api/src/interceptors.ts
  package.json
  yarn.lock
Due: Application System API

Return domains with api and identity resources.
  apps/services/auth/ids-api/src/app/resources/resources.controller.ts
  libs/auth-api-lib/src/lib/resources/models/api-scope.model.ts
  libs/auth-api-lib/src/lib/resources/models/identity-resource.model.ts
  libs/auth-api-lib/src/lib/resources/resources.service.ts
Due: none

fix: set mapper type
  apps/services/license-api/src/app/modules/license/clients/firearmLicense/firearmLicenseApiClient.service.ts
  libs/api/domains/license-service/src/lib/licenceService.type.ts
  libs/api/domains/license-service/src/lib/licenseService.module.ts
  libs/api/domains/license-service/src/lib/mappers/adrLicenseMapper.ts
  libs/api/domains/license-service/src/lib/mappers/disabilityLicenseMapper.ts
  libs/api/domains/license-service/src/lib/mappers/drivingLicenseMapper.ts
  libs/api/domains/license-service/src/lib/mappers/firearmLicenseMapper.ts
  libs/api/domains/license-service/src/lib/mappers/machineLicenseMapper.ts
Due: Portal GraphQL

feat: add more data
  libs/island-ui/core/src/lib/IconRC/icons/IS.tsx
  libs/service-portal/health/src/components/TherapiesTabContent/TherapiesTabContent.tsx
  libs/service-portal/health/src/screens/Therapies/Therapies.tsx
Due: none

chore(j-s): Remove xRoad API Config (#10328)
  apps/judicial-system/api/infra/judicial-system-api.ts
  charts/judicial-system/values.dev.yaml
  charts/judicial-system/values.prod.yaml
  charts/judicial-system/values.staging.yaml
Due: none

chore(j-s): Improves Slack Notifications for Indictments (#10329)
  apps/judicial-system/backend/src/app/modules/event/event.service.ts
Due: none

fix(services-auth-admin-api): Add nginx-ingress-external. (#10350)
  apps/services/auth/admin-api/infra/auth-admin-api.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

fixing layout issues with hero banner
  apps/consultation-portal/components/HeroBanner/HeroBanner.css.ts
  apps/consultation-portal/components/HeroBanner/HeroBanner.tsx
  apps/consultation-portal/components/HeroBanner/HeroTiles.tsx
  apps/consultation-portal/components/StatisticBox/StatisticBox.css.ts
Due: none

remove commented out code
  apps/consultation-portal/components/HeroBanner/HeroBanner.css.ts
Due: none

feat: get query for subscriptions (#10320)
  apps/consultation-portal/pages/askriftir/index.tsx
  apps/consultation-portal/pages/index.tsx
  apps/consultation-portal/pages/mal/[slug].tsx
  apps/consultation-portal/pages/test.tsx
  apps/consultation-portal/project.json
  apps/consultation-portal/screens/Case/getCase.graphql.ts
  apps/consultation-portal/screens/Home/getAllCases.graphql.ts
  apps/consultation-portal/screens/Subscriptions/Subscriptions.tsx
  apps/consultation-portal/screens/Subscriptions/getAllCases.graphql.ts
  apps/consultation-portal/screens/Test/Home.tsx
  apps/consultation-portal/types/interfaces.ts
Due: none

fix(dsl): missing db jobs on identical db names (#10348)
  apps/services/sessions/infra/sessions.ts
  infra/src/dsl/output-generators/feature-jobs.ts
Due: none

fix: implement review comments
  apps/services/license-api/src/app/modules/license/guards/licenseTypeScope.guard.ts
  apps/services/license-api/src/app/modules/license/scopeMapper.ts
  libs/auth-api-lib/seeders/data/client-licenses-rls.ts
Due: none

fix(services-auth-admin-api): Add nginx-ingress-external. (#10350) (#10355)
  apps/services/auth/admin-api/infra/auth-admin-api.ts
  charts/identity-server/values.dev.yaml
  charts/identity-server/values.prod.yaml
  charts/identity-server/values.staging.yaml
Due: none

fix(consultation-portal): fixing layout issues with hero banner (#10354)
  apps/consultation-portal/components/HeroBanner/HeroBanner.css.ts
  apps/consultation-portal/components/HeroBanner/HeroBanner.tsx
  apps/consultation-portal/components/HeroBanner/HeroTiles.tsx
  apps/consultation-portal/components/StatisticBox/StatisticBox.css.ts
Due: none

chore: remove scopes decorator
  apps/services/license-api/src/app/modules/license/license.controller.ts
Due: none

changing description
  libs/application/templates/parental-leave/src/forms/Prerequisites.ts
  libs/application/templates/parental-leave/src/lib/messages.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.ts
Due: Application System API

fix formatting
  apps/consultation-portal/pages/index.tsx
Due: none

fix: loftbru not rendering
  libs/service-portal/air-discount/src/module.tsx
  libs/service-portal/air-discount/src/screens/AirDiscountOverview/AirDiscountOverview.tsx
Due: none

format
  libs/application/templates/parental-leave/src/lib/messages.ts
  libs/application/templates/parental-leave/src/lib/parentalLeaveUtils.ts
Due: Application System API

add get advice query for case
  apps/consultation-portal/pages/mal/[slug].tsx
  apps/consultation-portal/screens/Case/getAdvices.graphql.ts
  libs/api/domains/consultation-portal/src/lib/cases/cases.resolver.ts
  libs/api/domains/consultation-portal/src/lib/cases/cases.service.ts
Due: Portal GraphQL

updates to form, graphql api and createapplication modal
  apps/air-discount-scheme/api/src/app/modules/discount/dto/createExplicitDiscountCode.input.ts
  libs/api/domains/auth-admin/src/lib/application/application.resolver.ts
  libs/api/domains/auth-admin/src/lib/application/application.service.ts
  libs/api/domains/auth-admin/src/lib/application/dto/createApplication.input.ts
  libs/api/domains/auth-admin/src/lib/application/models/application.model.ts
  libs/api/domains/auth-admin/src/lib/auth-admin.module.ts
  libs/api/domains/auth-admin/src/lib/models/applicationType.ts
  libs/api/domains/auth-admin/src/lib/models/environment.ts
  libs/api/domains/auth-admin/src/lib/tenant/tenant.resolver.ts
  libs/api/domains/auth-admin/src/lib/tenant/tenants.service.ts
  libs/island-ui/core/src/lib/Checkbox/Checkbox.stories.tsx
  libs/portals/admin/ids-admin/src/components/Applications/Applications.tsx
  libs/portals/admin/ids-admin/src/components/forms/CreateApplication/CreateApplication.action.ts
  libs/portals/admin/ids-admin/src/components/forms/CreateApplication/CreateApplication.graphql
  libs/portals/admin/ids-admin/src/components/forms/CreateApplication/CreateApplication.tsx
  libs/portals/admin/ids-admin/src/lib/messages.ts
  libs/portals/admin/ids-admin/src/lib/paths.ts
  libs/portals/admin/ids-admin/src/module.tsx
  libs/react-spa/shared/src/lib/validate.ts
Due: Portal GraphQL

feat(j-s): Different measurement units for 2 substances
  apps/judicial-system/web/src/components/Substances/Substances.tsx
  apps/judicial-system/web/src/routes/Prosecutor/Indictments/Indictment/IndictmentCountSubstanceEnum.strings.ts
Due: none

case renamed
  libs/api/domains/consultation-portal/src/lib/documents/documents.resolver.ts
  libs/api/domains/consultation-portal/src/lib/documents/documents.service.ts
Due: Portal GraphQL

feat(financial-statements-inao): Better error message when financial limit is null (#10349)
  libs/application/templates/financial-statements-inao/src/fields/ElectionsInfoFields/IncomeLimitField.tsx
  libs/application/templates/financial-statements-inao/src/lib/messages.ts
  libs/clients/financial-statements-inao/src/lib/financialStatementsInaoClient.service.ts
Due: Application System API

docs(merge-queue): initial test
  .github/workflows/merge-queue.yml
  merge-queues/README.md
Due: none

chore: remove ci jobs during tests
  .github/.kodiak.toml
  .github/workflows/codeql-analysis.yml
  .github/workflows/config-values.yaml
  .github/workflows/external-checks.yml
  .github/workflows/pullrequest-close.yml
  .github/workflows/pullrequest-lint.yml
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
Due: none

feat(consultation-portal): consultation-portal_graphql-for-types (#10331)
  apps/consultation-portal/pages/index.tsx
  apps/consultation-portal/screens/Home/Home.tsx
  apps/consultation-portal/screens/Home/getAllTypes.ts
  apps/consultation-portal/types/interfaces.ts
  apps/consultation-portal/utils/helpers/tableRowBackgroundColor.ts
  libs/api/domains/consultation-portal/src/lib/api-domains-consultation-portal.module.ts
  libs/api/domains/consultation-portal/src/lib/models/allTypesResult.model.ts
  libs/api/domains/consultation-portal/src/lib/types/types.resolver.ts
  libs/api/domains/consultation-portal/src/lib/types/types.service.ts
  libs/clients/consultation-portal/src/lib/apiConfiguration.ts
  libs/clients/consultation-portal/src/lib/consultationPortalClient.module.ts
Due: Portal GraphQL

Adds reopen transaction
  apps/judicial-system/backend/src/app/modules/case/case.controller.ts
  apps/judicial-system/backend/src/app/modules/case/case.service.ts
  apps/judicial-system/backend/src/app/modules/case/dto/updateCase.dto.ts
  apps/judicial-system/backend/src/app/modules/case/guards/rolesRules.ts
  apps/judicial-system/backend/src/app/modules/case/state/case.state.spec.ts
  apps/judicial-system/backend/src/app/modules/case/state/case.state.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/getRulingSignatureConfirmation.spec.ts
  apps/judicial-system/backend/src/app/modules/case/test/caseController/transition.spec.ts
  libs/judicial-system/types/src/lib/case.ts
Due: none

feat: case renamed (#10356)
  libs/api/domains/consultation-portal/src/lib/documents/documents.resolver.ts
  libs/api/domains/consultation-portal/src/lib/documents/documents.service.ts
Due: Portal GraphQL

Path conditions:
  Portal GraphQL: any of: apps/api/**, libs/api/domains/**
  Application System API: any of: apps/application-system/api/**, libs/application/api/**, libs/application/core/**, libs/application/graphql/**, libs/application/template-api-modules/**, libs/application/template-loader/**, libs/application/templates/**
